Repository RIOT-OS/RIOT, pull requests merged in 2018-12, with the labels that each got.

#10320 kinetis: LPUART: Compute oversampling rate at init
  cpu/kinetis/periph/uart.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10487 board: NXP Kinetis USB-KW41Z IoT USB dongle
  boards/usb-kw41z/Makefile
  boards/usb-kw41z/Makefile.dep
  boards/usb-kw41z/Makefile.features
  boards/usb-kw41z/Makefile.include
  boards/usb-kw41z/board.c
  boards/usb-kw41z/doc.txt
  boards/usb-kw41z/include/adc_params.h
  boards/usb-kw41z/include/board.h
  boards/usb-kw41z/include/gpio_params.h
  boards/usb-kw41z/include/periph_conf.h
  tests/unittests/Makefile
Labels: Area: boards, CI: ready for build, Platform: ARM, Type: new feature

#10012 drivers: sht3x temperature and humidity sensor
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/sht3x.h
  drivers/sht3x/Makefile
  drivers/sht3x/doc.txt
  drivers/sht3x/include/sht3x_params.h
  drivers/sht3x/sht3x.c
  drivers/sht3x/sht3x_saul.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_sht3x.c
  tests/driver_sht3x/Makefile
  tests/driver_sht3x/README.md
  tests/driver_sht3x/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10528 jlink: get flash and debug files from cli
  dist/tools/jlink/jlink.sh
  makefiles/tools/jlink.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build

#10435 boards/sodaq-sara-aff: Initial support
  boards/sodaq-sara-aff/Makefile
  boards/sodaq-sara-aff/Makefile.dep
  boards/sodaq-sara-aff/Makefile.features
  boards/sodaq-sara-aff/Makefile.include
  boards/sodaq-sara-aff/board.c
  boards/sodaq-sara-aff/doc.txt
  boards/sodaq-sara-aff/include/board.h
  boards/sodaq-sara-aff/include/gpio_params.h
  boards/sodaq-sara-aff/include/periph_conf.h
  examples/lua_REPL/Makefile
  tests/unittests/Makefile
Labels: Area: boards, CI: ready for build, Reviewed: 3-testing, Reviewed: 5-documentation, Type: new feature

#10473 board/*/flash.sh: get file to flash from command line
  boards/calliope-mini/Makefile.include
  boards/calliope-mini/dist/flash.sh
  boards/mbed_lpc1768/Makefile.include
  boards/mbed_lpc1768/dist/flash.sh
  boards/microbit/Makefile.include
  boards/microbit/dist/flash.sh
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build

#9236 crypto: Poly1305 implementation
  sys/crypto/poly1305.c
  sys/include/crypto/poly1305.h
  tests/unittests/tests-crypto/tests-crypto-poly1305.c
  tests/unittests/tests-crypto/tests-crypto.c
  tests/unittests/tests-crypto/tests-crypto.h
Labels: Area: crypto, CI: ready for build, Impact: minor, Type: new feature

#10538 tests: adapt embunit TEST_ASSERT_EQUAL_STRING
  sys/include/embUnit/AssertImpl.h
  tests/embunit/Makefile
  tests/embunit/main.c
  tests/embunit/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: enhancement

#10535 kw2xrf: Don't use netdev_ieee802154_t for channel
  drivers/kw2xrf/kw2xrf_getset.c
  drivers/kw2xrf/kw2xrf_netdev.c
Labels: Area: drivers, Area: network, CI: ready for build, Type: cleanup

#10409 boards/nrf51dk: add initial support
  boards/nrf51dk/Makefile
  boards/nrf51dk/Makefile.dep
  boards/nrf51dk/Makefile.features
  boards/nrf51dk/Makefile.include
  boards/nrf51dk/board.c
  boards/nrf51dk/doc.txt
  boards/nrf51dk/include/board.h
  boards/nrf51dk/include/gpio_params.h
  boards/nrf51dk/include/periph_conf.h
  cpu/nrf51/include/cpu_conf.h
  examples/asymcute_mqttsn/Makefile
  examples/default/Makefile
  examples/dtls-echo/Makefile
  examples/gnrc_border_router/Makefile
  examples/gnrc_tftp/Makefile
  examples/javascript/Makefile
  examples/lua_REPL/Makefile
  examples/lua_basic/Makefile
  examples/posix_sockets/Makefile
  tests/gnrc_netif/Makefile
  tests/gnrc_tcp_client/Makefile
  tests/gnrc_tcp_server/Makefile
  tests/netstats_l2/Makefile
  tests/unittests/Makefile
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10530 cpu/esp32: fix of adc_res_t
  cpu/esp32/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: enhancement

#10253 sys: add riot_hdr module
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/include/riotboot/hdr.h
  sys/riotboot/Makefile
  sys/riotboot/hdr.c
  tests/riotboot_hdr/Makefile
  tests/riotboot_hdr/main.c
  tests/riotboot_hdr/tests/01-run.py
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10541 dist/testbed-support: add firefly in IoT-LAB archis
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build, Type: enhancement

#10542 shell_commands/ifconfig: mark TENTATIVE addresses correctly
  sys/shell/commands/sc_gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: bug

#10056 drivers/periph_eeprom: add clear and erase functions
  cpu/atmega_common/include/periph_cpu_common.h
  drivers/include/periph/eeprom.h
  drivers/periph_common/eeprom.c
  tests/periph_eeprom/main.c
Labels: Area: drivers, CI: ready for build, Impact: major, Process: API change, Type: bug, Type: enhancement

#10492 mcuboot.mk: Add mcuboot targets to BUILDDEPS.
  makefiles/mcuboot.mk
Labels: Area: OTA, Area: build system, CI: ready for build, Type: enhancement

#10549 gnrc_netif: make link-layer specific operations proper submodules
  Makefile.dep
  sys/net/gnrc/Makefile
  sys/net/gnrc/netif/Makefile
  sys/net/gnrc/netif/ethernet/Makefile
  sys/net/gnrc/netif/ethernet/gnrc_netif_ethernet.c
  sys/net/gnrc/netif/ieee802154/Makefile
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
Labels: Area: build system, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10539 openocd: get flash and debug files from cli
  boards/hifive1/dist/flasher.sh
  boards/seeeduino_arch-pro/Makefile.include
  dist/tools/openocd/openocd.sh
  makefiles/tools/openocd.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, Type: cleanup

#10552 tests/xtimer_now64_continuity|xtimer_usleep: disable running test on native
  tests/xtimer_now64_continuity/Makefile
  tests/xtimer_usleep/Makefile
Labels: Area: tests, CI: ready for build

#10557 periph/uart: fix line length in doc header
  drivers/include/periph/uart.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor

#10550 make: fix BUILD_IN_DOCKER when RIOT is submodule
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#10529 cpu/esp8266: fix of adc_res_t
  cpu/esp8266/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10553 boards/{firefly,samr30-xpro}: add missing `periph_gpio_irq` provided feature
  boards/firefly/Makefile.features
  boards/samr30-xpro/Makefile.features
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#10461 Makefile.include: building in docker should be done after clean
  Makefile.include
Labels: Area: build system, Area: toolchain, CI: ready for build, Type: enhancement

#10469 gnrc_ndp: make compilable for router without ARSM
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
Labels: Area: network, CI: ready for build, Type: bug

#10513 gnrc_netif: add general IID to/from l2addr conversion functions
  sys/include/net/gnrc/netif.h
  sys/include/net/gnrc/netif/internal.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_device_type.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6ln.c
  tests/gnrc_sock_udp/Makefile
Labels: Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10229 gnrc_ipv6_ext: use send for forwarding with RH
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10562 gnrc_ipv6: fix hop-limit == 0 case
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10565 gnrc/netif/internal: fix copy-paste error
  sys/include/net/gnrc/netif/internal.h
Labels: Area: network, CI: ready for build, Type: bug

#10567 net: add eui48 type including IPv6 IID conversion funcs
  drivers/netdev_eth/netdev_eth.c
  sys/include/net/ethernet.h
  sys/include/net/eui48.h
  sys/net/gnrc/netif/gnrc_netif_device_type.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10520 gnrc_netif_hdr: provide wrappers for gnrc_netif_ipv6_iid_from_addr()
  sys/include/net/gnrc/netif/hdr.h
Labels: Area: network, CI: ready for build, Type: enhancement

#10570 dist/tools/edbg: update to lastest version
  dist/tools/edbg/Makefile
Labels: Area: tools, CI: ready for build

#10568 makefiles/docker: fix mounting localtime on OSX
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, OS: Mac OS X, Type: enhancement

#10270 Makefile.include: allow specifying makefiles to be parsed
  Makefile.include
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/advanced-build-system-tricks.md
  doc/doxygen/src/mainpage.md
Labels: Area: build system, CI: ready for build, Type: enhancement

#10344 Makefile.include: remove rule to remake PKGs' Makefile.include
  Makefile.include
Labels: Area: build system, CI: ready for build, Impact: minor, Type: enhancement

#10439 makefile/utils: Add a function for checking that a string is not empty.
  makefiles/utils/checks.mk
  makefiles/utils/test-checks.mk
  tests/build_system_utils/Makefile
  tests/build_system_utils/README.md
  tests/build_system_utils/main.c
Labels: Area: build system, CI: ready for build, Type: new feature

#10561 boards/frdm-k22f: Add second UART to config
  boards/frdm-k22f/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Impact: minor, Platform: ARM, Type: new feature

#10233 gnrc_ipv6: assume no preparsed packets
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  tests/gnrc_ipv6_ext/main.c
  tests/gnrc_ipv6_ext/tests/01-run.py
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10573 tests: compile-tests should only be executed in building machine
  tests/cortexm_common_ldscript/Makefile
  tests/libc_newlib/Makefile
Labels: Area: build system, Area: tests, Area: toolchain, CI: ready for build, Impact: minor, Type: bug

#10586 core/clist: add missing function to table in doc
  core/include/clist.h
Labels: Area: core, Area: doc, CI: ready for build, Impact: minor

#10585 boards/microbit: fix typo in flash script
  boards/microbit/dist/flash.sh
Labels: Area: boards, CI: ready for build, Impact: minor, Type: cleanup

#10537 netdev_ieee802154: fix IID getter
  drivers/netdev_ieee802154/netdev_ieee802154.c
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Type: bug

#10441 gnrc_netapi: optimize code-size
  sys/include/net/gnrc/netapi.h
  sys/net/gnrc/netapi/gnrc_netapi.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Type: enhancement

#10280 boards/common/silabs: add Arduino API support for SiLabs boards
  boards/common/silabs/Makefile.features
  boards/common/silabs/include/arduino_board.h
  boards/common/silabs/include/arduino_pinmap.h
  boards/slstk3401a/Makefile.features
  boards/slstk3402a/Makefile.features
  boards/sltb001a/Makefile.features
  boards/slwstk6000b/Makefile.features
  boards/stk3600/Makefile.features
  boards/stk3700/Makefile.features
  tests/driver_hd44780/Makefile
Labels: Area: boards, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#10580 sys/auto_init: alphabetical order for SHT3x fixed
  sys/auto_init/auto_init.c
Labels: Area: SAUL, Area: drivers, CI: ready for build, Impact: minor, Type: enhancement

#10595 netopt: deprecate getting NETOPT_IPV6_IID from netdev
  sys/include/net/netopt.h
Labels: Area: doc, Area: drivers, Area: network, CI: ready for build, Type: cleanup

#10600 boards/phynode-kw41z: add initial support
  boards/phynode-kw41z/Makefile
  boards/phynode-kw41z/Makefile.dep
  boards/phynode-kw41z/Makefile.features
  boards/phynode-kw41z/Makefile.include
  boards/phynode-kw41z/board.c
  boards/phynode-kw41z/doc.txt
  boards/phynode-kw41z/include/adc_params.h
  boards/phynode-kw41z/include/board.h
  boards/phynode-kw41z/include/gpio_params.h
  boards/phynode-kw41z/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10601 testbed-support: add nrf51dk to supported archis
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build

#10607 cpu/stm32f1: Fix i2c for stm32f1 based boards
  boards/common/stm32f103c8/include/periph_conf.h
  boards/nucleo-f103rb/include/periph_conf.h
  cpu/stm32_common/periph/i2c_2.c
Labels: Area: boards, Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10234 gnrc_ipv6: move ipv6_ext iteration out of ext_demux()
  sys/include/net/gnrc/ipv6.h
  sys/include/net/gnrc/ipv6/ext.h
  sys/include/net/gnrc/pktbuf.h
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10571 doc: add configurations Doxygen group
  doc.txt
Labels: Area: doc, CI: ready for build, TF: Config, Type: enhancement

#10591 tests/libfixmath_unittests: extend timeout in autotest
  tests/libfixmath_unittests/tests/01-run.py
Labels: Area: tests, CI: ready for build

#10590 tests/pkg_libcose: increase timeout of autotest
  tests/pkg_libcose/tests/01-run.py
Labels: Area: tests, CI: ready for build

#10244 gnrc_ipv6: handle hop-by-hop option before forwarding
  sys/include/net/gnrc/ipv6/ext.h
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#10584 gnrc_ipv6: use gnrc_pktbuf_merge() to loopback packet
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Community: Hack'n'ACK candidate, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: cleanup

#9158 cpu/stm32-common: add support for lpuart
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l053r8/include/periph_conf.h
  boards/nucleo-l073rz/Makefile.features
  boards/nucleo-l073rz/include/periph_conf.h
  boards/nucleo-l432kc/include/periph_conf.h
  boards/nucleo-l433rc/Makefile.dep
  boards/nucleo-l433rc/Makefile.features
  boards/nucleo-l433rc/Makefile.include
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-l452re/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nucleo-l496zg/include/periph_conf.h
  boards/stm32l476g-disco/include/periph_conf.h
  cpu/stm32_common/cpu_common.c
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/uart.c
  tests/periph_uart/Makefile
Labels: Area: drivers, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10582 gnrc_sixlowpan: update documentation
  sys/include/net/gnrc/sixlowpan.h
Labels: Area: doc, Area: network, CI: ready for build, Community: Hack'n'ACK candidate, Type: cleanup, Type: enhancement

#10617 gnrc_ipv6: add config macros to config doc group
  sys/include/net/gnrc/ipv6.h
  sys/include/net/gnrc/ipv6/blacklist.h
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/include/net/gnrc/ipv6/whitelist.h
Labels: Area: doc, CI: ready for build, TF: Config, Type: enhancement

#10603 tests/pthread_condition_variable: increase timeout
  tests/pthread_condition_variable/tests/01-run.py
Labels: Area: tests, CI: ready for build

#10616 gnrc_netif: add config macros to config doc group
  sys/include/net/gnrc/netif/conf.h
Labels: Area: doc, CI: ready for build, TF: Config, Type: enhancement

#10264 core: Rename typedef schedstat -> schedstat_t
  core/include/sched.h
  core/kernel_init.c
  core/sched.c
Labels: Area: core, CI: ready for build, Impact: minor, Process: API change

#10548 Makefile.include: flash: do not peek into MAKECMDGOALS.
  Makefile.include
  boards/common/frdm/Makefile.include
  boards/mulle/Makefile.include
  boards/pba-d-01-kw2x/Makefile.include
Labels: Area: build system, CI: ready for build, CI: run tests, Type: cleanup

#10626 ieee802154: add config macros to config doc group
  sys/include/net/ieee802154.h
Labels: Area: doc, CI: ready for build, TF: Config

#10623 lora: add lora and loramac config macros to config doc group
  sys/include/net/lora.h
  sys/include/net/loramac.h
Labels: Area: LoRa, Area: doc, CI: ready for build, TF: Config

#10631 sys/shell: Removed unneeded cpp directives
  sys/shell/commands/sc_sht1x.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#10434 cpu/sam0_common: provide periph_gpio/gpio_irq features at cpu level
  boards/arduino-zero/Makefile.features
  boards/common/arduino-mkr/Makefile.features
  boards/feather-m0/Makefile.features
  boards/samd21-xpro/Makefile.features
  boards/saml21-xpro/Makefile.features
  boards/samr21-xpro/Makefile.features
  boards/samr30-xpro/Makefile.features
  boards/sensebox_samd21/Makefile.features
  boards/sodaq-autonomo/Makefile.features
  boards/sodaq-explorer/Makefile.features
  boards/sodaq-one/Makefile.features
  boards/sodaq-sara-aff/Makefile.features
  cpu/sam0_common/Makefile.features
Labels: Area: boards, CI: ready for build, Type: cleanup

#10238 gnrc_ipv6_ext: merge _handle_rh and gnrc_ipv6_ext_rh_process
  sys/include/net/gnrc/ipv6/ext/rh.h
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
  sys/net/gnrc/network_layer/ipv6/ext/rh/gnrc_ipv6_ext_rh.c
Labels: Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 5-documentation, Type: cleanup

#10383 gnrc_pktdump: add GNRC_NETTYPE_IPV6_EXT output
  sys/net/gnrc/pktdump/gnrc_pktdump.c
Labels: Area: network, CI: ready for build, Community: Hack'n'ACK candidate, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Type: enhancement

#10379 sixlowpan: minor fixes for non-ipv6 usage
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#10615 cpu/stm32_common/uart: Prevent uart from sending if not initialized
  cpu/stm32_common/periph/uart.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10637 boards*: move periph_gpio and periph_gpio_irq features from boards to cpu for STM32
  boards/b-l072z-lrwan1/Makefile.features
  boards/b-l475e-iot01a/Makefile.features
  boards/common/iotlab/Makefile.features
  boards/common/stm32f103c8/Makefile.features
  boards/f4vi1/Makefile.features
  boards/fox/Makefile.features
  boards/limifrog-v1/Makefile.features
  boards/lobaro-lorabox/Makefile.features
  boards/maple-mini/Makefile.features
  boards/msbiot/Makefile.features
  boards/nucleo-f030r8/Makefile.features
  boards/nucleo-f031k6/Makefile.features
  boards/nucleo-f042k6/Makefile.features
  boards/nucleo-f070rb/Makefile.features
  boards/nucleo-f072rb/Makefile.features
  boards/nucleo-f091rc/Makefile.features
  boards/nucleo-f103rb/Makefile.features
  boards/nucleo-f207zg/Makefile.features
  boards/nucleo-f302r8/Makefile.features
  boards/nucleo-f303k8/Makefile.features
  boards/nucleo-f303re/Makefile.features
  boards/nucleo-f303ze/Makefile.features
  boards/nucleo-f334r8/Makefile.features
  boards/nucleo-f401re/Makefile.features
  boards/nucleo-f410rb/Makefile.features
  boards/nucleo-f411re/Makefile.features
  boards/nucleo-f412zg/Makefile.features
  boards/nucleo-f413zh/Makefile.features
  boards/nucleo-f429zi/Makefile.features
  boards/nucleo-f446re/Makefile.features
  boards/nucleo-f446ze/Makefile.features
  boards/nucleo-f722ze/Makefile.features
  boards/nucleo-f746zg/Makefile.features
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-l031k6/Makefile.features
  boards/nucleo-l053r8/Makefile.features
  boards/nucleo-l073rz/Makefile.features
  boards/nucleo-l152re/Makefile.features
  boards/nucleo-l432kc/Makefile.features
  boards/nucleo-l433rc/Makefile.features
  boards/nucleo-l452re/Makefile.features
  boards/nucleo-l476rg/Makefile.features
  boards/nucleo-l496zg/Makefile.features
  boards/nz32-sc151/Makefile.features
  boards/opencm904/Makefile.features
  boards/spark-core/Makefile.features
  boards/stm32f0discovery/Makefile.features
  boards/stm32f3discovery/Makefile.features
  boards/stm32f429i-disc1/Makefile.features
  boards/stm32f4discovery/Makefile.features
  boards/stm32f769i-disco/Makefile.features
  boards/stm32l476g-disco/Makefile.features
  boards/ublox-c030-u201/Makefile.features
  cpu/stm32_common/Makefile.features
Labels: Area: boards, Area: cpu, CI: ready for build, Type: enhancement

#10400 core: provide function to check msg queue initialization
  core/include/thread.h
  core/msg.c
  sys/net/gnrc/netreg/gnrc_netreg.c
  tests/gnrc_netif/main.c
Labels: Area: core, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#9821 pkg/jerryscript: fix jerryscript not using system includes
  pkg/jerryscript/Makefile.include
  pkg/jerryscript/Makefile.jerryscript
Labels: Area: build system, Area: pkg, CI: ready for build, Type: bug

#10642 net/nanocoap: fix includes for nanocoap sock
  examples/nanocoap_server/main.c
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: CoAP, CI: ready for build, Impact: minor, Type: bug

#10033 drivers: ccs811 digital gas sensor for IAQ monitoring
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/ccs811/Makefile
  drivers/ccs811/ccs811.c
  drivers/ccs811/ccs811_saul.c
  drivers/ccs811/doc.txt
  drivers/ccs811/include/ccs811_params.h
  drivers/ccs811/include/ccs811_regs.h
  drivers/include/ccs811.h
  makefiles/pseudomodules.inc.mk
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_ccs811.c
  tests/driver_ccs811/Makefile
  tests/driver_ccs811/README.md
  tests/driver_ccs811/main.c
  tests/driver_ccs811_full/Makefile
  tests/driver_ccs811_full/README.md
  tests/driver_ccs811_full/main.c
Labels: Area: SAUL, Area: drivers, CI: ready for build, Type: new feature

#10608 cpu/stm_common: Refactor and fix implementation for i2c_2
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/i2c_2.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Platform: ARM, Reviewed: 3-testing, Type: bug

#10314 boards/saml21-xpro: add Arduino API support for saml21-xpro board
  boards/saml21-xpro/include/arduino_board.h
  boards/saml21-xpro/include/arduino_pinmap.h
Labels: Area: arduino API, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#9436 cpu/stm32f1: make use of CPU_LINE and STM32_FLASHSIZE
  cpu/stm32f1/include/cpu_conf.h
  cpu/stm32f1/include/vendor/stm32f1xx.h
  cpu/stm32f1/stm32_line.mk
  cpu/stm32f1/vectors.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: cleanup

#9443 cpu/stm32l0: make use of CPU_LINE and STM32_FLASHSIZE
  cpu/stm32_common/periph/pm.c
  cpu/stm32l0/include/cpu_conf.h
  cpu/stm32l0/include/periph_cpu.h
  cpu/stm32l0/include/vendor/stm32l0xx.h
  cpu/stm32l0/vectors.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: cleanup

#10069 sam0 flashpage_write: correct translation from RIOT pages to CPU pages writing
  cpu/sam0_common/include/cpu_conf.h
  cpu/sam0_common/periph/flashpage.c
  tests/periph_flashpage/main.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10501 net/gcoap: allow NULL path in gcoap_req_init()
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Area: CoAP, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#10610 cpu/stm_common: Refactor and cleanup i2c_1
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/i2c_1.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Platform: ARM, Type: bug

#10396 test/xtimer_hang: use xtimer_periodic_wakeup
  tests/xtimer_hang/main.c
Labels: Area: tests, Area: timers, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#10536 gnrc_ipv6_nib: use correct reverse-translate for ARSM-less NCE
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
Labels: Area: network, CI: ready for build, Type: bug

#10574 net/ble: add generic advertisement data (AD) processing helper
  examples/nimble_gatt/Makefile
  examples/nimble_gatt/main.c
  sys/Makefile
  sys/include/net/ble.h
  sys/include/net/bluetil/ad.h
  sys/net/ble/bluetil/Makefile
  sys/net/ble/bluetil/bluetil_ad/Makefile
  sys/net/ble/bluetil/bluetil_ad/bluetil_ad.c
Labels: Area: BLE, CI: ready for build, Type: new feature

#10660 boards/nucleo-l496zg: use lpuart1 as stdio interface
  boards/nucleo-l496zg/Makefile.dep
  boards/nucleo-l496zg/Makefile.features
  boards/nucleo-l496zg/Makefile.include
  boards/nucleo-l496zg/include/periph_conf.h
  cpu/stm32_common/periph/gpio.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ARM, Type: enhancement

#10629 gnrc_netif: remove superfluous GNRC_NETIF_FLAGS_MAC_*
  sys/include/net/gnrc/netif/flags.h
Labels: Area: doc, Area: network, CI: ready for build, Type: cleanup

#10659 gnrc_sixlowpan: amend gnrc_netapi introduction
  sys/include/net/gnrc/sixlowpan.h
Labels: Area: doc, Area: network, CI: ready for build, Impact: minor, Type: enhancement

#10669 drivers/sx127x: remove irq_disable/irq_restore around spi transfers
  drivers/sx127x/sx127x_internal.c
Labels: Area: drivers, CI: ready for build, Type: cleanup

#10191 drivers/at: add function to read raw data bytes from modem
  drivers/at/at.c
  drivers/include/at.h
  tests/driver_at/main.c
Labels: Area: drivers, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#9847 dist/tools: add support for PyOCD programmer/debugger
  boards/microbit/Makefile.include
  boards/nrf51dk/Makefile.include
  dist/tools/pyocd/pyocd.sh
  makefiles/tools/pyocd.inc.mk
Labels: Area: tools, CI: ready for build, Type: new feature

#10606 tests/posix_semaphore: increase timeout margin
  tests/posix_semaphore/main.c
Labels: Area: tests, CI: ready for build

#10668 esp_now: fix doxygen groups
  cpu/esp_common/esp-now/doc.txt
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/esp_common/esp-now/esp_now_netdev.h
  cpu/esp_common/esp-now/esp_now_params.h
Labels: Area: cpu, Area: doc, CI: ready for build, Type: enhancement

#10581 esp_now: avoid parsing IPv6 header in netdev driver
  Makefile.dep
  cpu/esp_common/esp-now/esp_now_gnrc.c
  cpu/esp_common/esp-now/esp_now_gnrc.h
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/esp_common/esp-now/esp_now_netdev.h
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10657 netdev_driver_t::recv(): Clarified documentation
  drivers/include/net/netdev.h
Labels: Area: doc, Area: drivers, Area: network, CI: ready for build, Discussion: RFC, Process: needs >1 ACK, Type: bug

#10675 print_toolchain_versions.sh: add xtensa toolchains
  dist/tools/ci/print_toolchain_versions.sh
Labels: Area: tools, CI: ready for build, Type: enhancement

#10680 gnrc_sixlowpan_frag: release packet rbuf_add error cases
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c
Labels: Area: network, CI: ready for build, Type: bug

#10679 gnrc_sixlowpan_frag: check if own message queue is full
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
Labels: Area: network, CI: ready for build, Type: bug
