Repository RIOT-OS/RIOT, pull requests merged in 2018-04, with the labels that each got.

#8866 boards: seeeduino_arch-pro: use hex file.
  boards/seeeduino_arch-pro/Makefile.include
Labels: Ready for CI build, board, bug

#8852 tests: periph_i2c: map speed to i2c_speed_t
  tests/periph_i2c/main.c
Labels: Ready for CI build, bug, tests

#8837 cpu/atmega: refactor stdio init code
  boards/common/arduino-atmega/Makefile
  boards/common/arduino-atmega/Makefile.dep
  boards/common/arduino-atmega/board.c
  boards/common/arduino-atmega/led_init.c
  boards/common/atmega/Makefile
  boards/common/atmega/board.c
  boards/jiminy-mega256rfr2/Makefile
  boards/jiminy-mega256rfr2/Makefile.dep
  boards/jiminy-mega256rfr2/board.c
  boards/mega-xplained/Makefile
  boards/mega-xplained/Makefile.dep
  boards/mega-xplained/board.c
  boards/mega-xplained/led_init.c
  boards/waspmote-pro/board.c
  cpu/atmega_common/atmega_stdio.c
  cpu/atmega_common/include/cpu.h
Labels: Ready for CI build, avr, cleanup

#6472 cpu/lpc1768: add gpio peripheral (+ board adaptions)
  boards/mbed_lpc1768/Makefile.dep
  boards/mbed_lpc1768/Makefile.features
  boards/mbed_lpc1768/board.c
  boards/mbed_lpc1768/include/board.h
  boards/mbed_lpc1768/include/gpio_params.h
  boards/seeeduino_arch-pro/Makefile.dep
  boards/seeeduino_arch-pro/Makefile.features
  boards/seeeduino_arch-pro/board.c
  boards/seeeduino_arch-pro/include/board.h
  boards/seeeduino_arch-pro/include/gpio_params.h
  cpu/lpc1768/include/periph_cpu.h
  cpu/lpc1768/periph/gpio.c
Labels: Ready for CI build, arm, driver

#8872 gnrc_ipv6: discard non-NONXT packets with 0 payload length
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: GNRC, Ready for CI build, bug, network

#8642 assert: add static_assert if using c11
  core/include/assert.h
Labels: Ready for CI build, enhancement

#8870 boards/nucleo-f429zi: fix spi divtable
  boards/nucleo144-f429/include/periph_conf.h
Labels: Ready for CI build, board, bug

#8795 newlib: link without -lnosys
  makefiles/libc/newlib.mk
  sys/newlib_syscalls_default/syscalls.c
Labels: CI: run tests, Ready for CI build, arm, cleanup, mips

#8874 cpu: lpc1768: correct number of power modes
  cpu/lpc1768/include/periph_cpu.h
  cpu/lpc1768/periph/pm.c
Labels: Ready for CI build, arm, bug, pm

#8877 tests/pthread_barrier: Convert UTF-8 to ASCII in printf statement
  tests/pthread_barrier/main.c
Labels: Ready for CI build, posix, tests

#8791 pkg: cncbor: misc fixes
  pkg/cn-cbor/Makefile.dep
  pkg/cn-cbor/patches/0001-implement-alignment-safe-ntoh16p-ntoh32p.patch
  tests/unittests/tests-cn_cbor/Makefile.include
  tests/unittests/tests-cn_cbor/tests-cn_cbor.c
Labels: Ready for CI build, bug, pkg

#8881 cpu: efm32: correct power modes
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/pm.c
Labels: Ready for CI build, bug, pm

#8848 tests: periph_pm: add peripheral test.
  tests/periph_pm/Makefile
  tests/periph_pm/README.md
  tests/periph_pm/main.c
Labels: Ready for CI build, new feature, tests

#8883 sys/random: remove printf in xorshift
  sys/random/xorshift.c
Labels: Ready for CI build, cleanup, minor, native

#8751 tests/periph_pwm: add shell commands
  tests/periph_pwm/Makefile
  tests/periph_pwm/main.c
Labels: Ready for CI build, enhancement, tests

#8885 examples/ccn-lite-relay: use xorshift PRNG
  examples/ccn-lite-relay/Makefile
Labels: Ready for CI build, enhancement

#8892 netopt: move NETOPT_BLE_CTX to new netopt doc style
  sys/include/net/netopt.h
Labels: Ready for CI build, documentation, network

#8891 tests: adjust MAC test folders' names.
  tests/gnrc_gomach/Makefile
  tests/gnrc_gomach/README.md
  tests/gnrc_gomach/main.c
  tests/gnrc_lwmac/Makefile
  tests/gnrc_lwmac/README.md
  tests/gnrc_lwmac/main.c
Labels: GNRC, Ready for CI build, cleanup, network, tests

#7699 gcoap: return Method Not Allowed if appropriate
  sys/net/application_layer/gcoap/gcoap.c
Labels: Ready for CI build, enhancement, network

#7491 boards/nucleo-l433rc: initial support
  boards/common/nucleo64/include/board.h
  boards/common/nucleo64/include/gpio_params.h
  boards/nucleo-l433rc/Makefile
  boards/nucleo-l433rc/Makefile.dep
  boards/nucleo-l433rc/Makefile.features
  boards/nucleo-l433rc/Makefile.include
  boards/nucleo-l433rc/include/periph_conf.h
  cpu/stm32l4/include/cpu_conf.h
  cpu/stm32l4/include/vendor/stm32l433xx.h
  cpu/stm32l4/vectors.c
  tests/unittests/Makefile
Labels: Hack'n'ACK candidate, Ready for CI build, arm, board, new feature

#8899 tests/periph_flashpage: fix typo in doxygen header
  tests/periph_flashpage/main.c
Labels: Ready for CI build, cleanup, documentation, minor, tests

#8878 pkg/ccn-lite:enable CS dump in shell command
  examples/ccn-lite-relay/README.md
  sys/shell/commands/sc_ccnl.c
  sys/shell/commands/shell_commands.c
Labels: Ready for CI build, network, new feature, pkg

#8808 cpu/atmega_common: use __temp_reg__
  cpu/atmega_common/include/cpu.h
  cpu/atmega_common/irq_arch.c
  cpu/atmega_common/thread_arch.c
Labels: Ready for CI build, avr, cleanup

#7406 net: added CoAP RD client for simple node registration
  Makefile.dep
  examples/rdcli_simple/Makefile
  examples/rdcli_simple/README.md
  examples/rdcli_simple/main.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/auto_init/auto_init.c
  sys/include/net/rdcli_common.h
  sys/include/net/rdcli_config.h
  sys/include/net/rdcli_simple.h
  sys/net/application_layer/rdcli_common/Makefile
  sys/net/application_layer/rdcli_common/rdcli_common.c
  sys/net/application_layer/rdcli_simple/Makefile
  sys/net/application_layer/rdcli_simple/rdcli_simple.c
  sys/net/application_layer/rdcli_simple/rdcli_simple_standalone.c
Labels: Ready for CI build, network, new feature

#8893 examples: rename MQTT-SN example for clarity
  examples/emcute_mqttsn/Makefile
  examples/emcute_mqttsn/README.md
  examples/emcute_mqttsn/main.c
Labels: Ready for CI build, cleanup, network

#8886 xtimer: Add XTIMER_SHIFT = 6 automatic option
  sys/include/xtimer.h
Labels: Ready for CI build, minor, timer

#8888 doc: remove sys_util references
  sys/bitfield/bitfield.c
  sys/include/div.h
  sys/include/iolist.h
  sys/iolist/iolist.c
Labels: Ready for CI build, bug, cleanup, documentation

#8879 tests: enable ps_schedstatistics and struct_tm_utility on-hardware CI tests
  tests/ps_schedstatistics/Makefile
  tests/ps_schedstatistics/tests/01-run.py
  tests/struct_tm_utility/Makefile
  tests/struct_tm_utility/tests/01-run.py
Labels: CI: run tests, Ready for CI build, tests

#8882 dist/tools/flake8: use "python -m flake8", handle missing flake8
  dist/tools/flake8/check.sh
Labels: CI, Ready for CI build, bug

#8845 Makefile.include: add %.hex and %.bin rules
  Makefile.include
  boards/bluepill/Makefile.include
  boards/calliope-mini/Makefile.include
  boards/cc2538dk/Makefile.include
  boards/chronos/Makefile.include
  boards/common/arduino-atmega/Makefile.include
  boards/common/msb-430/Makefile.include
  boards/common/msba2/Makefile.include
  boards/common/remote/Makefile.include
  boards/common/wsn430/Makefile.include
  boards/f4vi1/Makefile.include
  boards/mbed_lpc1768/Makefile.include
  boards/mega-xplained/Makefile.include
  boards/microbit/Makefile.include
  boards/mips-malta/Makefile.include
  boards/native/Makefile.include
  boards/nrf6310/Makefile.include
  boards/nz32-sc151/Makefile.include
  boards/opencm904/Makefile.include
  boards/openmote-cc2538/Makefile.include
  boards/spark-core/Makefile.include
  boards/teensy31/Makefile.include
  boards/telosb/Makefile.include
  boards/waspmote-pro/Makefile.include
  boards/z1/Makefile.include
  cpu/mips_pic32mx/Makefile.include
  cpu/mips_pic32mz/Makefile.include
  makefiles/mcuboot.mk
  makefiles/tools/bossa.inc.mk
  makefiles/tools/edbg.inc.mk
  makefiles/tools/jlink.inc.mk
  makefiles/tools/openocd.inc.mk
Labels: Ready for CI build, cleanup, make

#8903 robotis-loader.py: fix flake8 errors
  boards/opencm904/dist/robotis-loader.py
Labels: Ready for CI build, cleanup

#8906 net/rdcli_common: improve doc for SUFFIX_LEN option
  sys/include/net/rdcli_config.h
Labels: Ready for CI build, documentation, network

#8871 gnrc_netif: check if input for address search is ::
  sys/net/gnrc/netif/gnrc_netif.c
  tests/gnrc_netif/main.c
Labels: CI: run tests, GNRC, Ready for CI build, bug, network, tests

#8807 nucleo-f4xx: increase xtimer backoff to 7 for F4 family
  boards/common/nucleo/include/board_nucleo.h
Labels: Ready for CI build, arm, bug, timer

#8772 net/nanocoap: rework option handling
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Ready for CI build, enhancement, network

#8741 unittests/tests-spiffs: fix dummy mtd (as in #8607)
  tests/unittests/tests-spiffs/tests-spiffs.c
Labels: Ready for CI build, bug, fs, tests

#8908 netdev_tap: fix return value of set option function
  cpu/native/netdev_tap/netdev_tap.c
Labels: Ready for CI build, bug, driver, network

#8916 murdock: unify dwq env list, pass NIGHTLY and RUN_TESTS to workers
  .murdock
Labels: CI, Ready for CI build

#8919 net/nanocoap: fix indention of doxy comments
  sys/include/net/nanocoap.h
Labels: Ready for CI build, documentation, network

#8568 gnrc_ipv6_nib: only discard RAs without ABROs on 6LR
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: GNRC, Ready for CI build, bug, network

#8931 testrunner: spawnu 'make term' with 'codec_errors="replace"'
  dist/tools/testrunner/testrunner.py
Labels: Ready for CI build, bug, tests

#8927 tests/periph_rtt: Initialize timer target from current reading
  tests/periph_rtt/main.c
Labels: Ready for CI build, bug, tests

#8819 cpu/stm32l0 : timeout added on waiting loop
  cpu/stm32l0/periph/i2c.c
Labels: Ready for CI build, arm

#8934 pkg/littlefs: disable error prints
  pkg/littlefs/Makefile.littlefs
Labels: Ready for CI build, cleanup, pkg

#8869 tests: add on-hardware execution for selected tests
  tests/buttons/Makefile
  tests/cpp11_condition_variable/Makefile
  tests/cpp11_mutex/Makefile
  tests/cpp11_thread/Makefile
  tests/events/Makefile
  tests/evtimer_underflow/Makefile
  tests/float/Makefile
  tests/gnrc_ipv6_nib/Makefile
  tests/gnrc_ipv6_nib_6ln/Makefile
  tests/gnrc_ndp/Makefile
  tests/gnrc_sock_ip/Makefile
  tests/gnrc_sock_udp/Makefile
  tests/irq/Makefile
  tests/libfixmath/Makefile
  tests/lwip_sock_ip/Makefile
  tests/msg_avail/Makefile
  tests/msg_send_receive/Makefile
  tests/msg_try_receive/Makefile
  tests/mutex_unlock_and_sleep/Makefile
  tests/netdev_test/Makefile
  tests/nhdp/Makefile
  tests/od/Makefile
  tests/periph_timer/Makefile
  tests/pkg_jsmn/Makefile
  tests/pkg_libcoap/Makefile
  tests/pkg_micro-ecc-with-hwrng/Makefile
  tests/pkg_micro-ecc/Makefile
  tests/pkg_minmea/Makefile
  tests/pkg_tiny-asn1/Makefile
  tests/pkg_umorse/Makefile
  tests/posix_time/Makefile
  tests/pthread/Makefile
  tests/pthread_barrier/Makefile
  tests/pthread_cleanup/Makefile
  tests/pthread_condition_variable/Makefile
  tests/pthread_cooperation/Makefile
  tests/pthread_tls/Makefile
  tests/rng/Makefile
  tests/sched_testing/Makefile
  tests/shell/Makefile
  tests/sizeof_tcb/Makefile
  tests/ssp/Makefile
  tests/thread_basic/Makefile
  tests/thread_flags_xtimer/Makefile
  tests/thread_flood/Makefile
  tests/thread_msg/Makefile
  tests/thread_msg_block_w_queue/Makefile
  tests/thread_msg_block_wo_queue/Makefile
  tests/trickle/Makefile
  tests/warn_conflict/Makefile
  tests/xtimer_msg/Makefile
  tests/xtimer_msg_receive_timeout/Makefile
  tests/xtimer_periodic_wakeup/Makefile
  tests/xtimer_remove/Makefile
  tests/xtimer_reset/Makefile
  tests/xtimer_usleep_short/Makefile
Labels: CI, CI: run tests, Ready for CI build, tests

#8924 pkg/spiffs: remove c11 dependency and clean-up makefile
  pkg/spiffs/Makefile
  pkg/spiffs/Makefile.include
  pkg/spiffs/Makefile.spiffs
Labels: Ready for CI build, cleanup, fs, make, pkg

#8909 doc: update IPv6 RFC references
  sys/include/net/gnrc/ipv6/ext.h
  sys/include/net/ipv6.h
  sys/include/net/ipv6/ext.h
  sys/include/net/ipv6/ext/rh.h
  sys/include/net/ipv6/hdr.h
  sys/net/gnrc/transport_layer/udp/gnrc_udp.c
  tests/unittests/tests-gnrc_udp/tests-gnrc_udp.c
Labels: Ready for CI build, documentation, enhancement, network

#8929 teensy31: Fix off-by-1 error in clock dividers
  boards/teensy31/include/periph_conf.h
Labels: Ready for CI build, arm, board, bug

#8797 gnrc_gomach: add duty-cycle display shell command.
  examples/gnrc_networking_mac/mac.c
  examples/gnrc_networking_mac/main.c
  sys/include/net/gnrc/gomach/types.h
  sys/include/net/gnrc/mac/mac.h
  sys/include/net/gnrc/mac/types.h
  sys/net/gnrc/link_layer/gomach/gomach.c
Labels: GNRC, Ready for CI build, enhancement, network

#8867 gnrc_ipv6: fix possible NULL pointer dereference
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: GNRC, Ready for CI build, bug, network

#8936 net/rdcli_simple: specify RD address as string
  examples/rdcli_simple/Makefile
  examples/rdcli_simple/README.md
  examples/rdcli_simple/main.c
  sys/include/net/rdcli_config.h
  sys/include/net/rdcli_simple.h
  sys/net/application_layer/rdcli_simple/rdcli_simple.c
  sys/net/application_layer/rdcli_simple/rdcli_simple_standalone.c
Labels: Ready for CI build, enhancement, network

#8940 REVERT native: remove non required NATIVEINCLUDES
  boards/native/Makefile
  boards/native/Makefile.include
  boards/native/drivers/Makefile
  cpu/native/Makefile
  cpu/native/Makefile.include
  cpu/native/mtd/Makefile
  cpu/native/netdev_tap/Makefile
  cpu/native/socket_zep/Makefile
  sys/posix/include/sys/bytes.h
  sys/posix/include/sys/socket.h
Labels: Ready for CI build, bug, native, posix

#8938 pkg/cn-cbor: Bump version, remove patch
  pkg/cn-cbor/Makefile
  pkg/cn-cbor/Makefile.cn-cbor
  pkg/cn-cbor/patches/0001-implement-alignment-safe-ntoh16p-ntoh32p.patch
Labels: CI: run tests, Ready for CI build, pkg

#8925 Makefile.include: check FEATURES_CONFLICT against FEATURES_USED
  Makefile.include
Labels: Ready for CI build, enhancement, make

#8890 cpu: efm32: throw error on including rtc and rtt together.
  cpu/efm32/Makefile.features
Labels: Ready for CI build, arm, enhancement

#8858 sys/evtimer: ticks vs us
  sys/evtimer/evtimer.c
Labels: Ready for CI build, bug, timer

#7263 sys/fmt: extended fmt_s16_dfp to handle scales
  sys/fmt/fmt.c
  sys/include/fmt.h
  sys/phydat/phydat_str.c
  tests/driver_dht/main.c
  tests/driver_hdc1000/main.c
  tests/driver_lis2dh12/main.c
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Ready for CI build, bug, enhancement

#6164 cortexm: fix thread_yield() -> thread_yield_higher() in ISRs
  cpu/cortexm_common/include/cpu.h
  tests/isr_yield_higher/Makefile
  tests/isr_yield_higher/main.c
  tests/isr_yield_higher/tests/test.py
Labels: CI: run tests, Hack'n'ACK candidate, Ready for CI build, bug

#8918 doc: Add nightly build status of master to README
  README.md
Labels: Ready for CI build, documentation, enhancement

#8559 examples: add filesystem example
  cpu/atmega_common/posix_unistd.c
  examples/filesystem/Makefile
  examples/filesystem/README.md
  examples/filesystem/main.c
Labels: Ready for CI build, fs

#8817 mips32r2_common: timer fixes
  cpu/mips32r2_common/periph/timer.c
  cpu/mips32r2_generic/include/periph_cpu.h
Labels: Ready for CI build, cleanup, mips

#8575 shell: adapt 6ctx command for NIB
  sys/shell/commands/Makefile
  sys/shell/commands/sc_gnrc_6ctx.c
  sys/shell/commands/shell_commands.c
Labels: GNRC, Ready for CI build, enhancement, network

#8950 pkg/tweetnacl: Remove unused headers and function declarations
  pkg/tweetnacl/src/randombytes.c
  tests/unittests/tests-tweetnacl/tests-tweetnacl.c
  tests/unittests/tests-tweetnacl/tests-tweetnacl.h
Labels: Ready for CI build, cleanup, pkg, tests

#8244 pkg: add support for HACL*
  pkg/hacl/Makefile
  pkg/hacl/Makefile.dep
  pkg/hacl/Makefile.hacl
  pkg/hacl/Makefile.include
  pkg/hacl/doc.txt
  pkg/hacl/src/randombytes.c
  tests/unittests/Makefile
  tests/unittests/tests-hacl/Makefile
  tests/unittests/tests-hacl/Makefile.include
  tests/unittests/tests-hacl/tests-hacl.c
  tests/unittests/tests-hacl/tests-hacl.h
Labels: Ready for CI build, crypto, new feature, pkg, security

#8949 unittests/cn_cbor: fix memory leak
  tests/unittests/tests-cn_cbor/tests-cn_cbor.c
Labels: Ready for CI build, bug, pkg, tests

#8026 cc110x: fix netdev get/set according to `netopt_t` doc
  drivers/cc110x/cc110x-netdev.c
Labels: Ready for CI build, bug, driver

#8788 nanocoap: add serverside block1 support
  examples/nanocoap_server/Makefile
  examples/nanocoap_server/coap_handler.c
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Ready for CI build, network, new feature

#8956 cpu/lpc1768: remove useless timer periph file guard
  cpu/lpc1768/periph/timer.c
Labels: Ready for CI build, cleanup

#8947 pkg/cn-cbor: compile with context pointer support
  pkg/cn-cbor/Makefile.include
  tests/unittests/tests-cn_cbor/Makefile.include
  tests/unittests/tests-cn_cbor/tests-cn_cbor.c
Labels: API CHANGE, Ready for CI build, enhancement, pkg

#8926 drivers/sx127x: various improvements
  drivers/include/sx127x.h
  drivers/sx127x/include/sx127x_internal.h
  drivers/sx127x/sx127x.c
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_internal.c
  drivers/sx127x/sx127x_netdev.c
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  tests/driver_sx127x/main.c
Labels: LoRa, Ready for CI build, bug, driver

#8961 boards/nucleo-l152: remove reference to solved issue
  boards/nucleo-l152/include/periph_conf.h
Labels: Ready for CI build, board, cleanup

#8895 pkg: add support for libcose
  pkg/libcose/Makefile
  pkg/libcose/Makefile.dep
  pkg/libcose/Makefile.include
  pkg/libcose/Makefile.libcose
  pkg/libcose/Makefile.libcose_crypt
  tests/unittests/Makefile
  tests/unittests/tests-libcose/Makefile
  tests/unittests/tests-libcose/Makefile.include
  tests/unittests/tests-libcose/tests-libcose.c
  tests/unittests/tests-libcose/tests-libcose.h
Labels: Ready for CI build, new feature, pkg

#8967 sys/net/uhcpc: add missing stdio.h include
  sys/net/application_layer/uhcp/uhcpc.c
Labels: Ready for CI build, bug, minor

#8577 sys/analog_util: Refactor, add test
  sys/analog_util/adc_util.c
  sys/include/analog_util.h
  tests/unittests/tests-analog_util/Makefile
  tests/unittests/tests-analog_util/Makefile.include
  tests/unittests/tests-analog_util/tests-analog_util.c
  tests/unittests/tests-analog_util/tests-analog_util.h
Labels: API CHANGE, Ready for CI build, bug, enhancement, tests

#8911 Makefile.include: fix missing target for libraries
  Makefile.include
Labels: Ready for CI build, bug, make

#8963 evtimer: ticks vs ms
  sys/evtimer/evtimer.c
Labels: Ready for CI build, bug, timer

#8928 kinetis: Refactor clock initialization code
  boards/frdm-k22f/include/periph_conf.h
  boards/frdm-k64f/include/periph_conf.h
  boards/frdm-kw41z/board.c
  boards/frdm-kw41z/include/periph_conf.h
  boards/mulle/board.c
  boards/mulle/include/periph_conf.h
  boards/pba-d-01-kw2x/include/periph_conf.h
  boards/teensy31/include/periph_conf.h
  cpu/kinetis/include/cpu_conf_kinetis.h
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/periph/mcg.c
Labels: Ready for CI build, arm, cleanup

#8983 doc: fix 'EXTERNAL_MODULES_DIRS' name
  doc/doxygen/src/creating-modules.md
Labels: Ready for CI build, documentation, minor

#8985 net/rdcli: fix doxygen groups for RD client code
  sys/include/net/rdcli_common.h
  sys/include/net/rdcli_config.h
  sys/include/net/rdcli_simple.h
Labels: Ready for CI build, documentation

#8986 sys/event: allow calling event_post multiple times
  sys/event/event.c
  sys/include/event.h
Labels: Ready for CI build, enhancement

#8995 sys/arduino: drop cpp feature dependency
  Makefile.dep
  boards/common/arduino-atmega/Makefile.features
Labels: Ready for CI build, arduino, avr, bug

#8998 net/gcoap: increase stack size by sizeof(coap_pkt_t)
  sys/include/net/gcoap.h
Labels: Ready for CI build, backporting-needed, bug, network

#9000 net/gcoap: increase stack size by sizeof(coap_pkt_t) [BACKPORT]
  sys/include/net/gcoap.h
Labels: Ready for CI build, backport, bug

#8894 gnrc: fix build of gnrc_ipv6_blacklist when ENABLE_DEBUG is disabled
  sys/net/gnrc/network_layer/ipv6/blacklist/gnrc_ipv6_blacklist.c
Labels: GNRC, Ready for CI build, enhancement

#8991 sys/auto_init: fix syntax error on auto_init_pulse_counter.c
  sys/auto_init/saul/auto_init_pulse_counter.c
Labels: Ready for CI build, enhancement, saul

#8962 boards*: cleanup doxygen
  boards/arduino-mkr1000/include/board.h
  boards/chronos/include/board.h
  boards/common/arduino-atmega/include/arduino_pinmap.h
  boards/common/arduino-due/include/arduino_pinmap.h
  boards/common/nucleo144/include/board.h
  boards/common/nucleo32/include/arduino_pinmap.h
  boards/common/nucleo64/include/board.h
  boards/frdm-k64f/include/periph_conf.h
  boards/ikea-tradfri/include/periph_conf.h
  boards/maple-mini/include/board.h
  boards/mega-xplained/include/board.h
  boards/mulle/include/mulle-nvram.h
  boards/mulle/include/periph_conf.h
  boards/nrf51dongle/include/board.h
  boards/opencm904/include/board.h
  boards/openmote-cc2538/include/periph_conf.h
  boards/pba-d-01-kw2x/include/periph_conf.h
  boards/pic32-clicker/include/board.h
  boards/pic32-wifire/include/board.h
  boards/remote-reva/include/periph_conf.h
  boards/remote-revb/include/periph_conf.h
  boards/spark-core/include/board.h
  boards/spark-core/include/periph_conf.h
  boards/stk3600/include/periph_conf.h
  boards/stk3700/include/periph_conf.h
  boards/stm32f0discovery/include/board.h
  boards/stm32f3discovery/include/board.h
  boards/stm32f4discovery/include/board.h
  boards/stm32f7discovery/include/board.h
  boards/teensy31/include/board.h
  boards/teensy31/include/periph_conf.h
  boards/waspmote-pro/include/waspmote_pinmap.h
Labels: Ready for CI build, board, cleanup, documentation

#8856 dist/tools/openocd: add the possibility to do a reset before halt in openocd debug command
  boards/b-l072z-lrwan1/Makefile.include
  dist/tools/openocd/openocd.sh
Labels: Ready for CI build, board, tools

#9005 gnrc: fix build of gnrc_ipv6_blacklist when ENABLE_DEBUG is disabled [backport 2018.04]
  sys/net/gnrc/network_layer/ipv6/blacklist/gnrc_ipv6_blacklist.c
Labels: GNRC, Ready for CI build, bug, enhancement

#9016 frdm-k22f: Fix typos and remove unused includes
  boards/frdm-k22f/board.c
Labels: Ready for CI build, arm, board, cleanup, minor

#9015 pkg/pkg.mk: Do not sign when applying patches
  pkg/pkg.mk
Labels: Ready for CI build, enhancement, make, minor

#8747 cpu/nrf51: add PWM implementation
  boards/calliope-mini/Makefile.features
  boards/calliope-mini/include/periph_conf.h
  cpu/nrf51/include/cpu_conf.h
  cpu/nrf51/periph/pwm.c
Labels: Ready for CI build, arm, driver, new feature

#9024 make/javascript: fix RIOTBASE
  examples/javascript/Makefile
Labels: Ready for CI build, bug, make

#9023 cbor: add deprecation note
  sys/include/cbor.h
Labels: Ready for CI build, cleanup, documentation

#8992 evtimer: optimized adding
  sys/evtimer/evtimer.c
Labels: Ready for CI build, enhancement, timer

#9027 nanocoap: add request entity incomplete response code
  sys/include/net/nanocoap.h
Labels: Ready for CI build, enhancement, minor, network

#8964 readme: add IRC badge
  README.md
Labels: Ready for CI build, documentation

#9010 examples: ccn-lite-relay: renamed 'ccnl_cont'
  examples/ccn-lite-relay/README.md
Labels: Ready for CI build, cleanup, enhancement

#9029 tests/bloom_bytes: increase timeout for wsn430
  tests/bloom_bytes/tests/01-run.py
Labels: CI: run tests, Ready for CI build, backporting-needed, enhancement, minor, tests

#9030 tests/float: increase timeout for wsn430
  tests/float/tests/01-run.py
Labels: CI: run tests, Ready for CI build, backporting-needed, enhancement, minor, tests

#9031 tests:sizeof_tcb: fix for wsn430 and arduino
  tests/sizeof_tcb/main.c
  tests/sizeof_tcb/tests/01-run.py
Labels: CI: run tests, Ready for CI build, backporting-needed, enhancement, minor, tests

#9028 make: add (optional) SIZEFLAGS variable
  Makefile.include
  makefiles/vars.inc.mk
Labels: Ready for CI build, enhancement, make

#8733 matstat: Integer mathematical statistics library
  sys/include/matstat.h
  sys/matstat/Makefile
  sys/matstat/matstat.c
  tests/unittests/tests-matstat/Makefile
  tests/unittests/tests-matstat/Makefile.include
  tests/unittests/tests-matstat/tests-matstat.c
  tests/unittests/tests-matstat/tests-matstat.h
Labels: Ready for CI build, new feature

#9045 tests/thread_flags: fix printf on 16bit platform
  tests/thread_flags/main.c
Labels: CI: run tests, Ready for CI build, backporting-needed, minor, tests

#9047 pulse_counter: Editorial changes to docs
  drivers/include/pulse_counter.h
Labels: Ready for CI build, bug, documentation, minor

#8980 examples/gnrc_minimal: remove obsolete reference to XBee from README
  examples/gnrc_minimal/README.md
Labels: Ready for CI build, cleanup, documentation
