Repository RIOT-OS/RIOT, pull requests merged in 2018-06, with the labels that each got.

#9232 cpu/lpc2387: Fixed invalid call to send_msg in lpc2387-mci.c
  cpu/lpc2387/mci/lpc2387-mci.c
Labels: Ready for CI build, enhancement

#9273 examples/gnrc_border_router: fix path to uhcpd in README
  examples/gnrc_border_router/README.md
Labels: Ready for CI build, cleanup, documentation

#9279 core/assert: provide static_assert for c99
  core/include/assert.h
Labels: Ready for CI build, core, enhancement

#9274 periph_common/I2C: introduce new return codes scheme
  drivers/include/periph/i2c.h
  drivers/periph_common/i2c.c
Labels: API CHANGE, I2C REWORK

#9267 periph/i2c: Add 10 bit addressing magic number definition
  drivers/include/periph/i2c.h
Labels: I2C REWORK

#9127 cpu: efm32: provide non-standard UART modes
  boards/ikea-tradfri/include/periph_conf.h
  boards/slstk3401a/include/periph_conf.h
  boards/sltb001a/include/periph_conf.h
  boards/slwstk6000b/include/periph_conf.h
  boards/stk3600/include/periph_conf.h
  boards/stk3700/include/periph_conf.h
  cpu/efm32/Makefile.features
  cpu/efm32/efm32-features.mk
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/uart.c
  pkg/gecko_sdk/Makefile
Labels: Ready for CI build, arm, board

#8865 tests/xtimer_usleep: improved test, added pin toggle
  tests/xtimer_usleep/Makefile
  tests/xtimer_usleep/README.md
  tests/xtimer_usleep/main.c
  tests/xtimer_usleep/tests/01-run.py
Labels: CI: run tests, Ready for CI build, tests, timer

#6918 rpl: add solicited information option to DIS
  sys/include/net/gnrc/rpl.h
  sys/include/net/gnrc/rpl/structs.h
  sys/net/gnrc/routing/rpl/gnrc_rpl.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
  sys/shell/commands/sc_gnrc_rpl.c
Labels: Ready for CI build, enhancement

#9184 pkg: add support for the NimBLE BLE stack
  cpu/nrf5x_common/include/nrfx.h
  examples/nimble_gatt/Makefile
  examples/nimble_gatt/README.md
  examples/nimble_gatt/main.c
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
  pkg/nimble/contrib/Makefile
  pkg/nimble/contrib/controller_init.c
  pkg/nimble/contrib/include/nimble_riot.h
  pkg/nimble/controller.mk
  pkg/nimble/doc.txt
  pkg/nimble/drivers.nrf52.mk
  pkg/nimble/ext.tinycrypt.mk
  pkg/nimble/nimble.host.mk
  pkg/nimble/nimble.host.store.ram.mk
  pkg/nimble/nimble.host.util.mk
  pkg/nimble/nimble.mk
  pkg/nimble/porting.nimble.mk
  pkg/nimble/porting.npl.riot.mk
  pkg/nimble/service.gap.mk
  pkg/nimble/service.gatt.mk
  pkg/nimble/transport.ram.mk
Labels: BLE, Ready for CI build, new feature, pkg

#9295 tests/pkg_semtech_loramac: improve README
  tests/pkg_semtech-loramac/README.md
Labels: LoRa, Ready for CI build, enhancement

#9302 gnrc_netreg: Further specify gnrc_netreg_register() precondition
  sys/include/net/gnrc/netreg.h
Labels: GNRC, Ready for CI build, documentation, enhancement, network

#9303 gnrc_netif: increase number of maximum IPv6 groups
  sys/include/net/gnrc/netif/conf.h
Labels: GNRC, Ready for CI build, network

#9300 gnrc_ipv6_nib: use router instead of netif for router timeout context
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: GNRC, Ready for CI build, bug, network

#9266 dist/tools/doccheck: add check for undefined groups
  dist/tools/doccheck/check.sh
Labels: CI, Ready for CI build, documentation, tools

#9198 cpu/sam0: update I2C driver to new API
  boards/arduino-zero/include/periph_conf.h
  boards/common/arduino-mkr/include/periph_conf.h
  boards/feather-m0/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/sodaq-autonomo/include/periph_conf.h
  boards/sodaq-explorer/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/i2c.c
Labels: I2C REWORK, arm, driver

#9179 shell/ccnl: use new CS add method
  Makefile.dep
  examples/ccn-lite-relay/Makefile
  pkg/ccn-lite/Makefile
  pkg/ccn-lite/Makefile.dep
  sys/shell/commands/sc_ccnl.c
Labels: Ready for CI build, enhancement, pkg

#9085 net/nanocoap: Build message with coap_pkt_t
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: CoAP, Ready for CI build, network, new feature

#9322 native: Enforce safe strncpy usage in tap device setup
  cpu/native/netdev_tap/netdev_tap.c
Labels: Ready for CI build, enhancement, native

#9293 tools/flake8: fix regex in check script
  dist/tools/flake8/check.sh
Labels: Ready for CI build, enhancement, tools

#8531 tests/bench_timers: A comprehensive benchmark for periph_timer
  tests/bench_timers/Makefile
  tests/bench_timers/README.md
  tests/bench_timers/bench_timers_config.h
  tests/bench_timers/main.c
  tests/bench_timers/print_results.c
  tests/bench_timers/print_results.h
  tests/bench_timers/spin_random.c
  tests/bench_timers/spin_random.h
Labels: Ready for CI build, driver, new feature, tests, timer

#9320 gnrc_tcp: Set src addr in outgoing packets by tcp layer.
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
Labels: CI: run tests, GNRC, Ready for CI build, bug, network

#9244 cpu/saml21: Fix possibly uninitialized variable in pm.c.
  cpu/saml21/periph/pm.c
Labels: Ready for CI build

#9327 tlsf: add custom walker to get total free / used sizes
  pkg/tlsf/contrib/include/tlsf-malloc.h
  pkg/tlsf/contrib/tlsf-malloc.c
  sys/ps/ps.c
Labels: Ready for CI build, enhancement, minor, pkg

#9292 tools/doccheck: adapt script to run on macOS
  dist/tools/doccheck/check.sh
Labels: Ready for CI build, enhancement, osx, tools

#9294 tools: allow static checks to be run from any directory
  dist/tools/coccinelle/check.sh
  dist/tools/cppcheck/check.sh
  dist/tools/externc/check.sh
  dist/tools/flake8/check.sh
  dist/tools/headerguards/check.sh
  dist/tools/licenses/check.sh
  dist/tools/pr_check/pr_check.sh
Labels: Ready for CI build, enhancement, tests, tools

#8549 boards/stm32-based: use shared configuration snippets
  boards/common/nucleo/Makefile.include
  boards/common/stm32/doc.txt
  boards/common/stm32/include/cfg_spi_divtable.h
  boards/common/stm32/include/f4/cfg_clock_168_16_0.h
  boards/common/stm32/include/f4/cfg_clock_168_8_1.h
  boards/common/stm32/include/f4/cfg_clock_180_8_1.h
  boards/f4vi1/Makefile.include
  boards/f4vi1/include/periph_conf.h
  boards/msbiot/Makefile.include
  boards/msbiot/include/periph_conf.h
  boards/nucleo-f429zi/include/periph_conf.h
  boards/nucleo-f446re/include/periph_conf.h
  boards/nucleo-f446ze/include/periph_conf.h
  boards/stm32f4discovery/Makefile.include
  boards/stm32f4discovery/include/periph_conf.h
Labels: Ready for CI build, board, cleanup, enhancement

#9288 drivers/at: make OK and ERROR replies configurable
  drivers/at/at.c
  drivers/include/at.h
Labels: Ready for CI build, driver, enhancement

#9334 nrf52/i2c: adapt to new I2C API
  boards/common/nrf52xxxdk/include/periph_conf.h
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf52/periph/i2c.c
Labels: I2C REWORK

#9338 core/mbox: doc typo fixes
  core/include/mbox.h
Labels: Ready for CI build, bug, core, documentation, minor

#9339 makefiles/vars.inc.mk: fixup indentation
  makefiles/vars.inc.mk
Labels: Ready for CI build, cleanup, make, minor

#9202 cpu/stm32: unify i2c drivers and apply new API
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/b-l475e-iot01a/Makefile.features
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/bluepill/include/periph_conf.h
  boards/common/iotlab/include/periph_conf_common.h
  boards/fox/include/periph_conf.h
  boards/maple-mini/include/periph_conf.h
  boards/msbiot/include/periph_conf.h
  boards/nucleo-f070/Makefile.features
  boards/nucleo-f070/include/periph_conf.h
  boards/nucleo-f103/include/periph_conf.h
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f302/include/periph_conf.h
  boards/nucleo-f303/include/periph_conf.h
  boards/nucleo-f401/include/periph_conf.h
  boards/nucleo-f410/include/periph_conf.h
  boards/nucleo-f411/include/periph_conf.h
  boards/nucleo-f446/include/periph_conf.h
  boards/nucleo-l073/include/periph_conf.h
  boards/nucleo-l152/include/periph_conf.h
  boards/nucleo144-f303/include/periph_conf.h
  boards/nucleo144-f412/include/periph_conf.h
  boards/nucleo144-f413/include/periph_conf.h
  boards/nucleo144-f429/include/periph_conf.h
  boards/nucleo144-f446/include/periph_conf.h
  boards/nucleo144-f722/Makefile.features
  boards/nucleo144-f722/include/periph_conf.h
  boards/stm32f3discovery/include/periph_conf.h
  boards/stm32f4discovery/include/periph_conf.h
  cpu/stm32_common/Makefile.dep
  cpu/stm32_common/include/cpu_conf_stm32_common.h
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/Makefile
  cpu/stm32_common/periph/i2c_1.c
  cpu/stm32_common/periph/i2c_2.c
  cpu/stm32f1/periph/i2c.c
  cpu/stm32f2/periph/i2c.c
  cpu/stm32f3/include/vendor/stm32f303xc.h
  cpu/stm32f3/include/vendor/stm32f303xe.h
  cpu/stm32f3/periph/i2c.c
  cpu/stm32f4/periph/i2c.c
  cpu/stm32l0/include/periph_cpu.h
  cpu/stm32l0/periph/i2c.c
  cpu/stm32l1/include/periph_cpu.h
  cpu/stm32l1/periph/i2c.c
Labels: I2C REWORK, arm, driver

#9261 net/gcoap: Refine Observe re-registration
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: CoAP, Ready for CI build, bug, network

#9168 tests/periph_i2c: Update to new I2C API
  tests/periph_i2c/main.c
Labels: I2C REWORK, tests

#9344 test/sizeof_tcp: fixed typo in Makefile
  tests/sizeof_tcb/Makefile
Labels: Ready for CI build, documentation, tests

#9361 gnrc/pktbuf: Const correctness on gnrc_pktbuf_add
  sys/include/net/gnrc/pktbuf.h
  sys/net/gnrc/pktbuf_malloc/gnrc_pktbuf_malloc.c
  sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c
Labels: API CHANGE, CI: run tests, GNRC, Ready for CI build, minor

#9356 core: add more stacksize defines
  core/include/thread.h
Labels: Ready for CI build, core, enhancement, minor

#8269 pkg: add support for the tinycrypt library
  pkg/tinycrypt/Makefile
  pkg/tinycrypt/Makefile.include
  pkg/tinycrypt/Makefile.tinycrypt
  pkg/tinycrypt/doc.txt
  tests/pkg_tinycrypt/Makefile
  tests/pkg_tinycrypt/main.c
  tests/pkg_tinycrypt/tests/01-run.py
Labels: Ready for CI build, crypto, new feature, pkg

#9011 makefile.iotlab.single: add IoT-LAB testbed support for one node
  Makefile.include
  boards/common/wsn430/Makefile.include
  dist/testbed-support/makefile.iotlab.single.inc.mk
  dist/testbed-support/requirements.txt
Labels: Ready for CI build, make, new feature

#9310 gcoap: don't allocate memo for clients without response handlers
  sys/net/application_layer/gcoap/gcoap.c
Labels: CoAP, Ready for CI build, Request for Comments, enhancement

#9360 embunit: Const test case names
  sys/embunit/TestCaller.c
  sys/embunit/TestCase.c
  sys/include/embUnit/TestCaller.h
  sys/include/embUnit/TestCase.h
Labels: Ready for CI build, minor, tests

#7786 tests: add some benchmarks
  tests/bench_msg_pingpong/Makefile
  tests/bench_msg_pingpong/README.md
  tests/bench_msg_pingpong/main.c
  tests/bench_msg_pingpong/tests/01-run.py
  tests/bench_mutex_pingpong/Makefile
  tests/bench_mutex_pingpong/README.md
  tests/bench_mutex_pingpong/main.c
  tests/bench_mutex_pingpong/tests/01-run.py
  tests/bench_sched_nop/Makefile
  tests/bench_sched_nop/README.md
  tests/bench_sched_nop/main.c
  tests/bench_sched_nop/tests/01-run.py
  tests/bench_thread_flags_pingpong/Makefile
  tests/bench_thread_flags_pingpong/README.md
  tests/bench_thread_flags_pingpong/main.c
  tests/bench_thread_flags_pingpong/tests/01-run.py
  tests/bench_thread_yield_pingpong/Makefile
  tests/bench_thread_yield_pingpong/README.md
  tests/bench_thread_yield_pingpong/main.c
  tests/bench_thread_yield_pingpong/tests/01-run.py
Labels: CI: run tests, Ready for CI build, tests

#9352 gnrc_sixlowpan_frag: expose (parts of) reassembly buffer
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.h
Labels: GNRC, Ready for CI build, enhancement, network

#9353 gnrc_sixlowpan: fix order of gnrc_sixlowpan_msg_frag_t
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
Labels: GNRC, Ready for CI build, cleanup, network

#9345 fmt: Add fmt_strnlen function
  sys/fmt/fmt.c
  sys/include/fmt.h
  tests/unittests/tests-fmt/tests-fmt.c
Labels: CI: run tests, Ready for CI build, new feature

#9243 makefiles/cflags.inc.mk: add -Wmissing-include-dirs flag
  Makefile.include
  makefiles/cflags.inc.mk
  pkg/libcoap/Makefile.include
  pkg/openthread/Makefile.include
  pkg/tiny-asn1/Makefile
  sys/Makefile.include
Labels: Ready for CI build, make, minor

#9205 drivers: si70xx: adapt to new I2C api.
  drivers/include/si70xx.h
  drivers/si70xx/si70xx.c
Labels: I2C REWORK, driver

#9206 drivers: bmx280: adapt to new I2C api.
  drivers/bmx280/bmx280.c
  drivers/include/bmx280.h
Labels: I2C REWORK, driver

#9328 sys/auto_init: improve documentation
  sys/include/auto_init.h
Labels: Ready for CI build, documentation, enhancement

#8957 cpu/lpc2387: remove useless periph file guard
  cpu/lpc2387/periph/pwm.c
Labels: Ready for CI build, cleanup

#9375 drivers/pulse_counter: make gpio_mode configurable
  drivers/pulse_counter/pulse_counter.c
Labels: Ready for CI build, driver, enhancement

#6965 pkg/relic: Update to new upstream and remove now obsolete patches
  pkg/relic/Makefile
  pkg/relic/fix-old-style-definitions.sh
  pkg/relic/fix-util_print_wo_args.sh
  pkg/relic/patches/0001-fixed-signedness-of-counter-variable.patch
  pkg/relic/patches/0002-don-t-redefine-ALIGN.patch
  pkg/relic/patches/0003-require-only-CMake-version-2.8.patch
Labels: Ready for CI build, enhancement, pkg

#9383 pkgs/cmake: fix CFLAGS given two times
  pkg/ccn-lite/Makefile
  pkg/jerryscript/Makefile.jerryscript
Labels: Ready for CI build, make, pkg

#9388 gnrc_rpl: remove events from the queue before memset()
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
Labels: GNRC, Ready for CI build, bug, network

#9370 uncrustify: special function ISR
  uncrustify-riot.cfg
Labels: Ready for CI build, enhancement, tools

#9382 sock_udp: allow creation with ephemeral ports
  pkg/emb6/contrib/sock/udp/emb6_sock_udp.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  sys/include/net/sock/udp.h
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_udp/main.c
  tests/lwip_sock_udp/main.c
Labels: API CHANGE, Ready for CI build, enhancement, network

#9090 sys/newlib: Bugfix, add missing syscalls (only stubs)
  sys/newlib_syscalls_default/syscalls.c
Labels: Ready for CI build, arm, enhancement

#8823 gnrc_ipv6_nib: add full RFC4862 DAD support
  sys/include/net/gnrc/ipv6/nib.h
  sys/include/net/gnrc/netif/ipv6.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-slaac.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-slaac.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
  tests/gnrc_ipv6_nib/main.c
  tests/gnrc_udp/Makefile
Labels: CI: run tests, GNRC, Ready for CI build, network

#8789 examples/lorawan: add autonomous lorawan class A device example
  examples/lorawan/Makefile
  examples/lorawan/README.md
  examples/lorawan/main.c
Labels: LoRa, Ready for CI build, pm

#9393 examples/lorawan: use new nucleo names for BOARD_INSUFFIENT_MEMORY
  examples/lorawan/Makefile
Labels: Ready for CI build, bug, make, network

#9390 gnrc_rpl: exit early if netif_hdr is NULL in send function
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
Labels: GNRC, Ready for CI build, bug, network

#9296 cpu/lpc2387: Various fixes for GPIO driver
  cpu/lpc2387/include/periph_cpu.h
  cpu/lpc2387/periph/gpio.c
Labels: Ready for CI build, driver, enhancement

#9340 atmega_common/gpio.c Fixes GPIO_LOW interrupt
  cpu/atmega_common/periph/gpio.c
Labels: Ready for CI build, avr, bug

#9391 shell_commands: add command for packet buffer stats
  makefiles/pseudomodules.inc.mk
  sys/shell/commands/Makefile
  sys/shell/commands/sc_gnrc_pktbuf.c
  sys/shell/commands/shell_commands.c
Labels: GNRC, Ready for CI build, new feature

#9396 tests/unittests, cn_cbor: remove invisible unicode char from Makefile
  tests/unittests/tests-cn_cbor/Makefile
Labels: Ready for CI build, enhancement, tests

#9397 unittests: fix (some more) invisible unicode chars in Makefiles
  tests/unittests/tests-cn_cbor/Makefile.include
  tests/unittests/tests-cn_cbor/tests-cn_cbor.c
  tests/unittests/tests-libcose/Makefile
  tests/unittests/tests-libcose/Makefile.include
  tests/unittests/tests-libcose/tests-libcose.c
  tests/unittests/tests-uuid/Makefile
  tests/unittests/tests-uuid/Makefile.include
  tests/unittests/tests-uuid/tests-uuid.c
Labels: Ready for CI build, enhancement, tests

#9399 sock_dns: fix typo in doc
  sys/include/net/sock/dns.h
Labels: Ready for CI build, bug, documentation

#9374 sys/random: add SHA1PRNG
  Makefile.dep
  sys/random/sha1prng.c
  tests/rng/test.c
Labels: Ready for CI build, new feature

#9400 cpu/nrf52: enable instruction cache
  cpu/nrf52/cpu.c
Labels: Ready for CI build, arm, enhancement

#9403 gnrc_pktbuf_cmd: module is not a pktbuf implementation
  Makefile.dep
Labels: GNRC, Ready for CI build, make, network

#9325 drivers/saul :sys/phydat: add definitions for TVOC sensor type and PPB unit
  drivers/include/saul.h
  drivers/saul/saul_str.c
  sys/include/phydat.h
  sys/phydat/phydat_str.c
Labels: Ready for CI build, driver, saul

#9347 cpu/cc2538: adapt periph to new I2C API
  boards/cc2538dk/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  boards/remote-pa/include/periph_conf.h
  boards/remote-reva/include/periph_conf.h
  boards/remote-revb/include/periph_conf.h
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/gpio.c
  cpu/cc2538/periph/i2c.c
Labels: API CHANGE, I2C REWORK, cpu

#9315 Add maintainer guidelines
  MAINTAINING.md
Labels: Ready for CI build, documentation

#9357 make: Clean up WERROR handling
  Makefile.include
  makefiles/cflags.inc.mk
Labels: Ready for CI build, make, minor

#8988 cpu/atmega_common: __exit_isr thread_yield
  cpu/atmega_common/include/cpu.h
  cpu/atmega_common/periph/timer.c
  cpu/atmega_common/periph/uart.c
  cpu/atmega_common/thread_arch.c
Labels: Ready for CI build, avr, enhancement

#9410 sys/random: fix distribution of random_uint32_range()
  sys/include/random.h
  sys/random/random.c
  tests/rng/README.md
  tests/rng/main.c
  tests/rng/test.c
  tests/rng/test.h
Labels: Ready for CI build, bug, enhancement, quality defect, tests

#9413 cpu/stm32l1: fix ADC clock
  cpu/stm32l1/periph/adc.c
Labels: Ready for CI build, driver, enhancement

#9394 newlib: include fixes for newlib-nano
  makefiles/libc/newlib.mk
Labels: Ready for CI build, bug, make

#9372 gnrc_sixlowpan_frag: adapt for #8511
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
Labels: API CHANGE, GNRC, Ready for CI build, cleanup, network

#9365 boards: slstk3402a: add uart modes
  boards/slstk3402a/include/periph_conf.h
Labels: Ready for CI build, board

#9416 boards/samr21-xpro: add function to configure antenna switch
  boards/samr21-xpro/board.c
  boards/samr21-xpro/include/board.h
Labels: Ready for CI build, board, enhancement

#9418 examples/lorawan: minor fixes in application README
  examples/lorawan/README.md
Labels: Ready for CI build, documentation, minor

#9367 cpu/msp430fxyz: Fixed input sanitizing in GPIO_PIN
  cpu/msp430fxyz/include/periph_cpu.h
Labels: Ready for CI build, bug, driver, msp

#8948 doc: doxygen: add command
  doc/doxygen/riot.doxyfile
Labels: Ready for CI build, documentation, enhancement

#9260 pic32prog: add a documentation on how to update PICkit3
  dist/tools/pic32prog/doc.md
Labels: Ready for CI build, documentation, help wanted, mips

#7823 Sensor driver: PIR-based occupancy sensing
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/pir.h
  drivers/include/saul.h
  drivers/pir/include/pir_params.h
  drivers/pir/pir.c
  drivers/pir/pir_saul.c
  drivers/saul/saul_str.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_pir.c
  tests/driver_pir/Makefile
  tests/driver_pir/README.md
  tests/driver_pir/main.c
Labels: Ready for CI build, driver, new feature

#9096 cpu/stm32: add CPU_LINE_* variable and use it for stm32f0 and stm32f4
  cpu/stm32_common/Makefile.include
  cpu/stm32f0/include/cpu_conf.h
  cpu/stm32f0/include/vendor/stm32f0xx.h
  cpu/stm32f0/stm32_line.mk
  cpu/stm32f0/vectors.c
  cpu/stm32f4/include/cpu_conf.h
  cpu/stm32f4/include/periph_cpu.h
  cpu/stm32f4/include/vendor/stm32f4xx.h
  cpu/stm32f4/stm32_line.mk
  cpu/stm32f4/vectors.c
Labels: Ready for CI build, arm, cleanup

#9392 drivers/isl29125: apply unified params definition scheme and new i2c API
  drivers/include/isl29125.h
  drivers/isl29125/include/isl29125_params.h
  drivers/isl29125/isl29125.c
  tests/driver_isl29125/Makefile
  tests/driver_isl29125/main.c
Labels: I2C REWORK, cleanup, driver

#9425 core: uncrustify thread_flags.h
  core/include/thread_flags.h
Labels: Ready for CI build, cleanup, core, minor

#9427 tests/rng: Use xtimer for speed test timeout
  tests/rng/test.c
Labels: Ready for CI build, enhancement, tests

#9431 tests: Fix size_t vs int issues
  tests/driver_ata8520e/main.c
  tests/driver_sx127x/main.c
Labels: Ready for CI build, bug

#9423 drivers/srf02: Update to new i2c API
  drivers/include/srf02.h
  drivers/srf02/srf02.c
  tests/driver_srf02/main.c
Labels: I2C REWORK, cleanup, driver

#9442 boards/frdm: Add bus configuration for onboard FXOS8700CQ sensor
  boards/frdm-k22f/include/board.h
  boards/frdm-k64f/include/board.h
  boards/frdm-kw41z/include/board.h
Labels: Ready for CI build, board, driver, enhancement, minor

#9438 kinetis: Clean up SPI module power handling
  cpu/kinetis/periph/spi.c
Labels: Ready for CI build, arm, bug, driver, minor

#9278 drivers/veml6070: adapt to new I2C api
  drivers/veml6070/veml6070.c
Labels: I2C REWORK, driver

#8697 drivers/lis3dh: apply unified driver params scheme + cleanup
  drivers/include/lis3dh.h
  drivers/lis3dh/include/lis3dh_params.h
  drivers/lis3dh/lis3dh.c
  sys/auto_init/saul/auto_init_lis3dh.c
Labels: Ready for CI build, cleanup, driver

#9448 doc: add requirement for two acks for changes
  MAINTAINING.md
Labels: Ready for CI build, documentation, enhancement, major

#8821 make: add and export RIOTTOOLS directory
  dist/tools/jlink/jlink.sh
  dist/tools/usb-serial/README.md
  makefiles/boards/sam0.inc.mk
  pkg/relic/Makefile
  tests/cb_mux/tests/01-run.py
  tests/cb_mux_bench/tests/01-run.py
  tests/pkg_tinycbor/tests/01-run.py
  tests/thread_race/tests/01-run.py
Labels: CI: run tests, Ready for CI build, cleanup, make

#8475 boards/stm32: use common place of openocd config files for all boards using stlink
  boards/b-l072z-lrwan1/Makefile.include
  boards/b-l475e-iot01a/Makefile.include
  boards/b-l475e-iot01a/dist/openocd.cfg
  boards/common/nucleo/Makefile.include
  boards/common/stm32/dist/stm32f0.cfg
  boards/common/stm32/dist/stm32f1.cfg
  boards/common/stm32/dist/stm32f2.cfg
  boards/common/stm32/dist/stm32f3.cfg
  boards/common/stm32/dist/stm32f4.cfg
  boards/common/stm32/dist/stm32f7.cfg
  boards/common/stm32/dist/stm32l0.cfg
  boards/common/stm32/dist/stm32l1.cfg
  boards/common/stm32/dist/stm32l4.cfg
  boards/maple-mini/Makefile.include
  boards/maple-mini/dist/openocd.cfg
  boards/stm32f3discovery/dist/openocd.cfg
  boards/stm32f769i-disco/Makefile.include
  makefiles/tools/openocd-adapters/stlink.inc.mk
Labels: Hack'n'ACK candidate, Ready for CI build, board, cleanup, tools

#9453 gnrc_sock_udp: use sock's local end-point for listening
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_udp/main.c
Labels: CI: run tests, GNRC, Ready for CI build, bug, network

#9444 net/nanocoap: test coap_get_uri() boundaries
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: CoAP, Ready for CI build, tests

#9299 drivers/lsm6dsl: adapt the i2c api return codes
  drivers/lsm6dsl/lsm6dsl.c
Labels: I2C REWORK, driver

#9298 drivers/hts221: adapt to i2c api return codes
  drivers/hts221/hts221.c
Labels: I2C REWORK, driver

#9207 pkg: u8g2: adapt to new I2C api
  pkg/u8g2/src/csrc/u8g2_riotos.c
Labels: I2C REWORK, pkg

#9269 drivers/ina220: adapt to new I2C api
  drivers/ina220/ina220.c
  tests/driver_ina220/main.c
Labels: I2C REWORK, driver

#8857 cpu/atmega_common: Use updated time.h
  cpu/atmega_common/Makefile.include
  cpu/atmega_common/include/sys/stat.h
  cpu/atmega_common/include/sys/types.h
  cpu/atmega_common/include/vendor/errno.h
  cpu/atmega_common/include/vendor/inttypes.h
  cpu/atmega_common/include/vendor/time.h
  cpu/atmega_common/include/vendor/unistd.h
  sys/include/tm.h
  sys/timex/tm.c
  tests/pkg_minmea/Makefile
  tests/struct_tm_utility/main.c
Labels: Ready for CI build, avr, cleanup, posix

#9455 drivers/hdc1000: adapt to new i2c API
  drivers/hdc1000/hdc1000.c
Labels: I2C REWORK, driver

#9457 drivers/tmp006: adapt to new i2c API
  drivers/tmp006/tmp006.c
Labels: I2C REWORK, driver

#9275 drivers/mpl3115a2: adapt to new i2c API
  drivers/mpl3115a2/mpl3115a2.c
Labels: I2C REWORK, driver

#9265 drivers/mma8x5x: adapt to new i2c API
  drivers/mma8x5x/mma8x5x.c
Labels: I2C REWORK, driver

#9268 drivers/fxos8700: adapt to new i2c API
  drivers/fxos8700/fxos8700.c
Labels: I2C REWORK, driver

#9456 cpu/atmega_common: misc gpio interrupt fixes
  cpu/atmega_common/periph/gpio.c
Labels: Ready for CI build, avr, bug, minor

#9262 kinetis: Update i2c driver to new API
  boards/frdm-k22f/include/periph_conf.h
  boards/frdm-k64f/include/periph_conf.h
  boards/frdm-kw41z/include/periph_conf.h
  boards/mulle/include/periph_conf.h
  boards/pba-d-01-kw2x/include/periph_conf.h
  boards/teensy31/Makefile.features
  core/include/thread_flags.h
  cpu/kinetis/Makefile.dep
  cpu/kinetis/doc.txt
  cpu/kinetis/include/cpu_conf_kinetis.h
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/periph/i2c.c
  cpu/kinetis/periph/rtt.c
  cpu/kinetis/periph/timer.c
Labels: I2C REWORK, arm, driver

#9441 cpu/stm32f7: make use of CPU_LINE
  cpu/stm32f7/include/cpu_conf.h
  cpu/stm32f7/include/periph_cpu.h
  cpu/stm32f7/include/vendor/stm32f7xx.h
  cpu/stm32f7/vectors.c
Labels: Ready for CI build, cleanup, cpu

#9439 cpu/stm32f3: make use of CPU_LINE
  cpu/stm32f3/include/cpu_conf.h
  cpu/stm32f3/include/vendor/stm32f3xx.h
  cpu/stm32f3/stm32_line.mk
  cpu/stm32f3/vectors.c
Labels: Ready for CI build, cleanup, cpu

#9435 cpu/stm32f2: make use of CPU_LINE
  cpu/stm32f2/include/cpu_conf.h
  cpu/stm32f2/include/vendor/stm32f2xx.h
  cpu/stm32f2/vectors.c
Labels: Ready for CI build, cleanup, cpu

#9458 drivers/pn532: adapt to new i2c API (recreated)
  drivers/pn532/pn532.c
Labels: I2C REWORK, driver

#9462 drivers/pn532: fix wrong buffer type
  drivers/pn532/pn532.c
Labels: Ready for CI build, bug, driver

#8790 boards/b-l072z-lrwan1: fix openocd configuration and 'make debug'
  boards/b-l072z-lrwan1/dist/openocd.cfg
Labels: Ready for CI build, board, make, tools
