Repository RIOT-OS/RIOT, pull requests merged in 2018-10, with the labels that each got.

#10064 board/mips-malta: include the cpu features instead of common cpu
  boards/mips-malta/Makefile.features
Labels: CI: ready for build, board, cleanup, minor

#10063 boards/hifive1: include cpu/fe310 features
  boards/hifive1/Makefile.features
Labels: CI: ready for build, board, make

#9968 tinycbor: add doc.txt file
  pkg/tinycbor/doc.txt
Labels: CI: ready for build, documentation, minor, pkg

#9973 MAINTAINING.md: Improve review process between multiple maintainers
  MAINTAINING.md
Labels: CI: ready for build, documentation, enhancement

#10101 netdev: fix return value and precondition doc
  drivers/include/net/netdev.h
Labels: CI: ready for build, documentation, driver, enhancement, network

#10106 tests/periph_flashpage: add automated test for flash peripheral
  tests/periph_flashpage/main.c
  tests/periph_flashpage/tests/01-run.py
Labels: CI, CI: ready for build, CI: run tests, cpu, enhancement, tests, tools

#10094 drivers/bmx280: improve documentation
  drivers/include/bmx280.h
Labels: CI: ready for build, documentation, driver

#9564 gnrc_netif_ieee802154: rework `netif->state` to getter and flag
  sys/include/net/gnrc/netif/flags.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_ieee802154.c
Labels: CI: ready for build, GNRC, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, enhancement, network

#10008 cpu/stm32f1/gpio: use gpio_irq feature
  cpu/stm32f1/periph/gpio.c
Labels: CI: ready for build, arm, cleanup, driver

#9621 gnrc_netif: Use fmt for bytes to hex string
  Makefile.dep
  sys/net/gnrc/netif/gnrc_netif.c
  tests/gnrc_netif/main.c
  tests/gnrc_netif/tests/01-run.py
Labels: CI: ready for build, CI: run tests, GNRC, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, cleanup, network

#9916 dist/tools/jlink.sh: fix testrunner on stdio_rtt based devices
  dist/tools/jlink/jlink.sh
Labels: bug, tests, tools

#10000 cpu/efm32/gpio: use gpio_irq feature
  cpu/efm32/periph/gpio.c
Labels: CI: ready for build, arm, cleanup, driver

#9544 cflags: use gnu99 only if nothing else is specified (mips, msp430, native)
  boards/native/Makefile.include
  makefiles/arch/mips.inc.mk
  makefiles/arch/msp430.inc.mk
Labels: CI: ready for build, enhancement, mips, msp, native

#10113 doc/doxygen: fix typo in getting started page
  doc/doxygen/src/getting-started.md
Labels: CI: ready for build, cleanup, documentation

#10029 CONTRIBUTING: rewrite the existing document
  CONTRIBUTING.md
  README.md
Labels: Area: doc, CI: ready for build, Discussion: finished, Type: enhancement

#10099 sys/auto_init/saul: fix of #10098
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_adcxx1c.c
  sys/auto_init/saul/auto_init_adxl345.c
  sys/auto_init/saul/auto_init_bmp180.c
  sys/auto_init/saul/auto_init_dht.c
  sys/auto_init/saul/auto_init_grove_ledbar.c
  sys/auto_init/saul/auto_init_hdc1000.c
  sys/auto_init/saul/auto_init_hts221.c
  sys/auto_init/saul/auto_init_io1_xplained.c
  sys/auto_init/saul/auto_init_isl29020.c
  sys/auto_init/saul/auto_init_jc42.c
  sys/auto_init/saul/auto_init_l3g4200d.c
  sys/auto_init/saul/auto_init_lis3dh.c
  sys/auto_init/saul/auto_init_lis3mdl.c
  sys/auto_init/saul/auto_init_lps331ap.c
  sys/auto_init/saul/auto_init_lsm303dlhc.c
  sys/auto_init/saul/auto_init_lsm6dsl.c
  sys/auto_init/saul/auto_init_mag3110.c
  sys/auto_init/saul/auto_init_mma7660.c
  sys/auto_init/saul/auto_init_mma8x5x.c
  sys/auto_init/saul/auto_init_mpl3115a2.c
  sys/auto_init/saul/auto_init_mpu9150.c
  sys/auto_init/saul/auto_init_pulse_counter.c
  sys/auto_init/saul/auto_init_sht1x.c
  sys/auto_init/saul/auto_init_si114x.c
  sys/auto_init/saul/auto_init_si70xx.c
  sys/auto_init/saul/auto_init_tcs37727.c
  sys/auto_init/saul/auto_init_tmp006.c
  sys/auto_init/saul/auto_init_tsl2561.c
  sys/auto_init/saul/auto_init_veml6070.c
Labels: Area: SAUL, CI: ready for build, Type: bug

#9840 doc: add `serialization` group to Doxygen
  pkg/cayenne-lpp/doc.txt
  pkg/cn-cbor/doc.txt
  pkg/jsmn/doc.txt
  pkg/minmea/doc.txt
  sys/doc.txt
  sys/include/base64.h
  sys/include/ubjson.h
  sys/ubjson/ubjson-read.c
  sys/ubjson/ubjson-write.c
Labels: Area: doc, CI: ready for build, Type: enhancement

#10128 sys/ubjson: Unconditionally include <sys/types.h>
  sys/include/ubjson.h
Labels: CI: ready for build, Impact: minor, Type: cleanup

#10096 tiny-asn1: update package version
  pkg/tiny-asn1/Makefile
  pkg/tiny-asn1/doc.txt
  tests/pkg_tiny-asn1/README.md
Labels: Area: pkg, CI: ready for build, CI: run tests, Type: bug

#10003 cpu/stm32_common/gpio: use gpio_irq feature
  cpu/stm32_common/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#9995 cpu/lpc1768/gpio: use gpio_irq feature
  cpu/lpc1768/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#9999 cpu/cc26x0/gpio: use gpio_irq feature
  cpu/cc26x0/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#10002 cpu/atmega/gpio: use gpio_irq feature
  cpu/atmega_common/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: AVR, Type: cleanup

#10004 cpu/lm4f120/gpio: use gpio_irq feature
  cpu/lm4f120/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#10006 cpu/sam3/gpio: use gpio_irq feature
  cpu/sam3/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#9993 cpu/ezr32wg/gpio: use gpio_irq feature
  cpu/ezr32wg/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#10001 cpu/esp8266/gpio: use gpio_irq feature
  cpu/esp8266/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: ESP, Type: cleanup

#9992 periph/gpio: fix scope of GPIO_IRQ submodule
  drivers/include/periph/gpio.h
Labels: Area: drivers, CI: ready for build, Type: cleanup, Type: tracking

#10142 dist/tools/commit-msg/check.sh: Enhance reporting
  dist/tools/commit-msg/check.sh
Labels: Area: CI, Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Type: enhancement

#10127 cpu/esp8266: improvements of I2C implementation
  cpu/esp8266/periph/gpio.c
  cpu/esp8266/periph/i2c.c
Labels: Area: drivers, CI: needs squashing, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10140 pkg/lora_serialization: add doc to serialization group
  pkg/lora-serialization/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build, Type: enhancement

#10132 dist/tests/if_lib: Update to riot_pal
  dist/tests/if_lib/__init__.py
  dist/tests/if_lib/base_device.py
  dist/tests/if_lib/driver_manager.py
  dist/tests/if_lib/dut_shell.py
  dist/tests/if_lib/ll_shell.py
  dist/tests/if_lib/philip_if.py
  dist/tests/if_lib/riot_driver.py
  dist/tests/if_lib/serial_driver.py
  tests/periph_i2c/tests/periph_i2c_if.py
  tests/periph_i2c/tests/test.py
  tests/periph_uart/tests/periph_uart_if.py
  tests/periph_uart/tests/test.py
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10139 net/rdcli_simple: do not send CF opt in POST msg
  sys/net/application_layer/rdcli_simple/rdcli_simple.c
Labels: Area: CoAP, Area: network, CI: ready for build, Type: bug

#10144 misc: use correct hauke.petersen@fu email address
  cpu/efm32/periph/gpio.c
  cpu/stm32_common/periph/gpio.c
  drivers/lpd8808/lpd8808.c
Labels: Area: doc, CI: ready for build, Type: cleanup

#10152 doccheck: exclude dist/tools directory from group check
  dist/tools/doccheck/check.sh
Labels: Area: doc, Area: tools, CI: ready for build, Type: bug

#10153 cpu/stm32_common: fix source selection declared as module dependencies (broken)
  cpu/stm32_common/Makefile.dep
  cpu/stm32_common/Makefile.include
  cpu/stm32_common/periph/Makefile
  cpu/stm32f0/Makefile.features
  cpu/stm32f1/Makefile.features
  cpu/stm32l0/Makefile.features
  cpu/stm32l1/Makefile.features
  cpu/stm32l4/Makefile.features
Labels: Area: build system, Area: cpu, CI: ready for build

#10072 boards/nrf52xxxdk: make reset pin work
  boards/nrf52840dk/doc.txt
  boards/nrf52dk/doc.txt
  dist/tools/nrf52_resetpin_cfg/Makefile
  dist/tools/nrf52_resetpin_cfg/README.md
  dist/tools/nrf52_resetpin_cfg/main.c
Labels: Area: boards, Area: tools, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#10145 drivers/hd44780: fix compilation errors
  drivers/hd44780/hd44780.c
Labels: Area: drivers, CI: ready for build, Impact: minor

#10154 sys/arduino: add possibility to customize Arduino serial port at compile time
  sys/arduino/doc.txt
  sys/arduino/include/arduino.hpp
Labels: CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10149 sys/arduino: add docs for analog map (strictly needed to build)
  sys/arduino/doc.txt
Labels: Area: doc, CI: ready for build, Impact: minor

#7428 net: add full CoRE Resource Directory endpoint implementation
  Makefile.dep
  examples/rdcli/Makefile
  examples/rdcli/README.md
  examples/rdcli/main.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/auto_init/auto_init.c
  sys/include/net/rdcli.h
  sys/include/net/rdcli_config.h
  sys/include/net/rdcli_standalone.h
  sys/net/application_layer/rdcli/Makefile
  sys/net/application_layer/rdcli/rdcli.c
  sys/net/application_layer/rdcli/rdcli_standalone.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_rdcli.c
  sys/shell/commands/shell_commands.c
Labels: Area: CoAP, Area: network, CI: ready for build, Type: new feature

#6191 Doc: initial RIOT developer memo + directory structure
  doc/memos/README.md
  doc/memos/files/rdm0000/RIOT-logo.png
  doc/memos/rdm0000.md
Labels: Area: RDM, Area: doc, CI: ready for build, Discussion: RFC, Process: needs >1 ACK

#10117 tools/pr_check: adapt for label categorization
  dist/tools/pr_check/pr_check.sh
Labels: Area: CI, Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Type: enhancement

#8932 nanocoap: add server-side block2 support
  examples/nanocoap_server/Makefile
  examples/nanocoap_server/coap_handler.c
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10054 make: fix info-objsize column name position
  makefiles/info.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: cleanup

#10108 coap: Replace `COAP_CT_` with `COAP_FORMAT_`
  sys/include/net/coap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Area: CoAP, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#9945 Adding additional information about the default uart configuration to the bluepill docs
  boards/bluepill/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, Type: enhancement

#10036 net/nanocoap: add module documentation
  sys/include/net/nanocoap.h
Labels: Area: CoAP, Area: doc, CI: ready for build

#10135 cpu, periph_gpio: mark closing #endif for MODULE_PERIPH_GPIO_IRQ
  cpu/atmega_common/periph/gpio.c
  cpu/cc2538/periph/gpio.c
  cpu/cc26x0/periph/gpio.c
  cpu/efm32/periph/gpio.c
  cpu/esp8266/periph/gpio.c
  cpu/ezr32wg/periph/gpio.c
  cpu/fe310/periph/gpio.c
  cpu/kinetis/periph/gpio.c
  cpu/lm4f120/periph/gpio.c
  cpu/lpc1768/periph/gpio.c
  cpu/lpc2387/periph/gpio.c
  cpu/nrf5x_common/periph/gpio.c
  cpu/sam0_common/periph/gpio.c
  cpu/sam3/periph/gpio.c
  cpu/stm32_common/periph/gpio.c
  cpu/stm32f1/periph/gpio.c
  drivers/include/periph/gpio.h
Labels: Area: cpu, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#9524 pkg/semtech-loramac: use internal eeprom to store lorawan config (deveui, appeui, etc)
  pkg/semtech-loramac/contrib/semtech_loramac.c
  pkg/semtech-loramac/include/semtech_loramac.h
  tests/pkg_semtech-loramac/Makefile
  tests/pkg_semtech-loramac/README.md
  tests/pkg_semtech-loramac/main.c
Labels: Area: LoRa, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#6712 drivers/vcnl4010: initial implementation
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/saul.h
  drivers/include/vcnl40x0.h
  drivers/saul/saul_str.c
  drivers/vcnl40x0/Makefile
  drivers/vcnl40x0/include/vcnl40x0_internals.h
  drivers/vcnl40x0/include/vcnl40x0_params.h
  drivers/vcnl40x0/vcnl40x0.c
  drivers/vcnl40x0/vcnl40x0_saul.c
  makefiles/pseudomodules.inc.mk
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_vcnl40x0.c
  sys/include/phydat.h
  sys/phydat/phydat_str.c
  tests/driver_vcnl40x0/Makefile
  tests/driver_vcnl40x0/README.md
  tests/driver_vcnl40x0/main.c
Labels: Area: SAUL, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10150 sys/arduino: add arduino time functions micros() and delayMicroseconds()
  sys/arduino/base.cpp
  sys/arduino/include/arduino.hpp
Labels: Area: arduino API, CI: ready for build, Impact: minor, Type: enhancement

#7401 boards: add Zolertia Firefly board
  boards/firefly/Makefile
  boards/firefly/Makefile.dep
  boards/firefly/Makefile.features
  boards/firefly/Makefile.include
  boards/firefly/board.c
  boards/firefly/doc.txt
  boards/firefly/include/adc_params.h
  boards/firefly/include/board.h
  boards/firefly/include/gpio_params.h
  boards/firefly/include/periph_conf.h
  examples/lua_REPL/Makefile
  tests/unittests/Makefile
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10087 net/nanocoap: fix response type
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10167 llvm.inc.mk: completely replace detection of GCC includes
  makefiles/toolchain/llvm.inc.mk
  makefiles/vars.inc.mk
Labels: Area: C++, Area: build system, Area: toolchain, CI: ready for build, CI: run tests, State: WIP, Type: bug

#9864 drivers/netdev_ieee802154: cleanup NETOPT_MAX_PACKET_SIZE
  cpu/cc2538/radio/cc2538_rf_netdev.c
  cpu/native/include/socket_zep.h
  cpu/native/socket_zep/socket_zep.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/cc2420/cc2420_netdev.c
  drivers/kw2xrf/kw2xrf_netdev.c
  drivers/mrf24j40/mrf24j40_netdev.c
  drivers/netdev_ieee802154/netdev_ieee802154.c
Labels: Area: drivers, Area: network, CI: ready for build, Type: cleanup

#10102 core/bitarithm: change types to `uintXX_t`
  core/bitarithm.c
  core/include/bitarithm.h
  tests/unittests/tests-core/tests-core-bitarithm.c
Labels: Area: core, Area: tests, CI: ready for build, Process: API change, Process: needs >1 ACK, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: enhancement

#10093 drivers/periph_eeprom: refactor implementation and test application
  cpu/atmega_common/periph/eeprom.c
  cpu/stm32_common/periph/eeprom.c
  drivers/include/periph/eeprom.h
  drivers/periph_common/eeprom.c
  tests/periph_eeprom/main.c
  tests/periph_eeprom/tests/01-run.py
Labels: Area: cpu, Area: drivers, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10088 drivers/adxl345: fix ADXL345 driver
  drivers/adxl345/adxl345.c
  drivers/adxl345/include/adxl345_params.h
  drivers/adxl345/include/adxl345_regs.h
  drivers/include/adxl345.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug, Type: enhancement

#10059 lwip: Bump version to v2.1.0
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  pkg/lwip/Makefile
  pkg/lwip/Makefile.include
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/patches/0001-Fix-warnings.patch
  pkg/lwip/patches/0001-lowpan6.c-Fix-IEEE-802.15.4-address-setting.patch
  pkg/lwip/patches/0002-Add-RIOT-Makefiles.patch
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_tcp/Makefile
  tests/lwip_sock_udp/stack.c
Labels: Area: network, Area: pkg, CI: ready for build, Type: enhancement

#10170 tests/arduino: add automatic test for arduino module
  tests/sys_arduino/Makefile
  tests/sys_arduino/arduino-test.sketch
  tests/sys_arduino/tests/01-run.py
Labels: Area: arduino API, Area: tests, CI: ready for build

#10158 nrf5x_common: gpio: fix port 1 functionality
  cpu/nrf5x_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10172 tests/lwip_sock_{i,ud}p: correctly get array address
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_udp/stack.c
Labels: Area: network, Area: pkg, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10181 pkg/nimble: use STACKTEST flag for controller thread
  pkg/nimble/contrib/controller_init.c
Labels: Area: BLE, CI: ready for build, Type: enhancement

#9989 sys/ecc: add golay(24,12) half rate code
  sys/ecc/golay2412.c
  sys/include/ecc/golay2412.h
  tests/unittests/tests-ecc/Makefile.include
  tests/unittests/tests-ecc/tests-ecc.c
Labels: CI: ready for build, Community: Hack'n'ACK candidate, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10176 lorabox: add port to flasher parameters
  boards/lobaro-lorabox/Makefile.include
Labels: Area: boards, Area: tools, CI: ready for build, OS: Mac OS X, Type: bug

#9991 sys/ecc: add repetition code
  sys/ecc/repetition.c
  sys/include/ecc/repetition.h
  tests/unittests/tests-ecc/Makefile.include
  tests/unittests/tests-ecc/tests-ecc.c
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10070 pkg/littlefs: bump version to v1.6.2
  examples/filesystem/Makefile
  pkg/littlefs/Makefile
  pkg/littlefs/Makefile.littlefs
  pkg/littlefs/fs/littlefs_fs.c
  sys/include/fs/littlefs_fs.h
  tests/unittests/tests-littlefs/Makefile.include
Labels: Area: fs, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style

#10194 CORD: enable THREAD_CREATE_STACKTEST for threads
  sys/net/application_layer/cord/ep/cord_ep_standalone.c
  sys/net/application_layer/cord/epsim/cord_epsim_standalone.c
Labels: Area: CoAP, CI: ready for build, Type: cleanup

#10183 tests/libcose: Move from unittests to regular test
  tests/pkg_libcose/Makefile
  tests/pkg_libcose/main.c
  tests/pkg_libcose/tests/01-run.py
  tests/unittests/Makefile
  tests/unittests/tests-libcose/Makefile
  tests/unittests/tests-libcose/Makefile.include
  tests/unittests/tests-libcose/tests-libcose.h
Labels: Area: pkg, Area: tests, CI: ready for build, CI: run tests, Type: cleanup

#9870 ethos: Add drop frame case to recv function
  drivers/ethos/ethos.c
Labels: Area: drivers, Area: network, CI: ready for build, Type: bug

#10125 cpu/esp8266: cpu frequency settings feature added
  cpu/esp8266/include/user_config.h
  cpu/esp8266/sdk/main.c
  cpu/esp8266/sdk/main.h
  cpu/esp8266/startup.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10202 tests/heatshrink: move from unittests to regular test
  tests/pkg_heatshrink/Makefile
  tests/pkg_heatshrink/main.c
  tests/pkg_heatshrink/tests/01-run.py
  tests/unittests/tests-heatshrink/Makefile
  tests/unittests/tests-heatshrink/Makefile.include
Labels: Area: pkg, Area: tests, CI: ready for build, Type: cleanup

#10207 doc/boards: move jiminy from wiki to RIOT repo
  boards/jiminy-mega256rfr2/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build

#10062 cpu/fe310: rtc depend on the rtt feature and hifive1 update
  boards/hifive1/Makefile.features
  cpu/fe310/Makefile.dep
Labels: Area: build system, Area: cpu, CI: ready for build, Type: cleanup

#8987 make: process include and dep for external modules
  Makefile.dep
  Makefile.include
  doc/doxygen/src/creating-modules.md
  tests/external_module_dirs/Makefile
  tests/external_module_dirs/README.md
  tests/external_module_dirs/external_module/Makefile
  tests/external_module_dirs/external_module/Makefile.dep
  tests/external_module_dirs/external_module/Makefile.include
  tests/external_module_dirs/external_module/external_module.c
  tests/external_module_dirs/external_module/include/external_module.h
  tests/external_module_dirs/main.c
Labels: Area: build system, CI: ready for build, Type: enhancement

#10148 drivers: Add support for tsl4531x visible light intensity sensor
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/tsl4531x.h
  drivers/tsl4531x/Makefile
  drivers/tsl4531x/include/tsl4531x_internals.h
  drivers/tsl4531x/include/tsl4531x_params.h
  drivers/tsl4531x/tsl4531x.c
  drivers/tsl4531x/tsl4531x_saul.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_tsl4531x.c
  tests/driver_tsl4531x/Makefile
  tests/driver_tsl4531x/README.md
  tests/driver_tsl4531x/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#10218 crypto/helper: Change equals arguments to const
  sys/crypto/helper.c
  sys/include/crypto/helper.h
Labels: Area: crypto, CI: ready for build, Impact: minor, Type: cleanup

#9034 tests/pkg_micro-ecc: blacklist wsn430 boards
  tests/pkg_micro-ecc/Makefile
Labels: Area: tests, CI: ready for build, Impact: minor

#10209 tests/hacl: Move from unittests to regular test
  tests/pkg_hacl/Makefile
  tests/pkg_hacl/main.c
  tests/pkg_hacl/tests/01-run.py
  tests/unittests/Makefile
  tests/unittests/tests-hacl/Makefile
  tests/unittests/tests-hacl/Makefile.include
  tests/unittests/tests-hacl/tests-hacl.h
Labels: Area: pkg, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#8971 drivers/at86rf2xx: add smart idle listening feature
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/at86rf2xx/include/at86rf2xx_registers.h
  drivers/include/at86rf2xx.h
Labels: Area: drivers, CI: ready for build, Type: enhancement

#9881 boards: slstk3401a: add docs
  boards/slstk3401a/doc.txt
  boards/slstk3401a/include/board.h
Labels: Area: doc, CI: ready for build

#10235 makefiles/buildtests.inc.mk: fix 'clean-intermediates' not cleaning
  makefiles/buildtests.inc.mk
Labels: Area: build system, Area: tests, CI: ready for build, Type: bug

#10217 tests/pkg_heatshrink: re-enable CI test
  tests/pkg_heatshrink/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests

#10240 makefile.iotlab.single.inc.mk: add new IoT-LAB supported nodes
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tests, Area: tools, CI: ready for build

#10201 tests/libfixmath: Add delay at start of test
  tests/libfixmath/Makefile
  tests/libfixmath/main.c
Labels: Area: tests, CI: ready for build, CI: run tests, Impact: minor

#10245 boards/nucleo-l476rg: add I2C configuration
  boards/nucleo-l476rg/Makefile.features
  boards/nucleo-l476rg/include/periph_conf.h
Labels: Area: boards, Area: drivers, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#10250 at86rf2xx: Re-enable ack requests by default
  drivers/at86rf2xx/at86rf2xx.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#10023 gnrc_netif: Fix l2addr_len > 0, but no l2addr edge-case
  sys/net/gnrc/netif/gnrc_netif.c
  tests/gnrc_sixlowpan/main.c
Labels: Area: network, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10231 gnrc_ipv6_ext: move ipv6_ext_rh (partly) to GNRC
  Makefile.dep
  sys/Makefile
  sys/include/net/gnrc/ipv6/ext.h
  sys/include/net/gnrc/ipv6/ext/rh.h
  sys/include/net/gnrc/rpl/srh.h
  sys/include/net/ipv6/ext/rh.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
  sys/net/gnrc/network_layer/ipv6/ext/rh/Makefile
  sys/net/gnrc/network_layer/ipv6/ext/rh/gnrc_ipv6_ext_rh.c
  sys/net/gnrc/routing/rpl/srh/gnrc_rpl_srh.c
  sys/net/network_layer/ipv6/ext/rh/Makefile
  tests/unittests/tests-rpl_srh/tests-rpl_srh.c
Labels: Area: network, CI: ready for build, Process: API change, Type: cleanup

#9702 sys/phydat: New phydat_fit API
  sys/include/phydat.h
  sys/phydat/phydat.c
  tests/unittests/tests-phydat/tests-phydat.c
Labels: Area: SAUL, CI: ready for build, Process: API change, Type: enhancement

#10255 examples/gnrc_networking/README: add make reminder, rm forced line breaks
  examples/gnrc_networking/README.md
Labels: Area: doc, CI: ready for build, Impact: minor, Type: enhancement

#10226 gnrc_pktbuf: add gnrc_pktbuf_reverse_snips() helper function
  sys/include/net/gnrc/pktbuf.h
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/pktbuf/gnrc_pktbuf.c
  tests/unittests/tests-pktbuf/tests-pktbuf.c
Labels: Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#10266 boards/*: fix typo Feie => Freie
  boards/common/nrf52xxxdk/include/board_common.h
  boards/nrf52840dk/include/board.h
  boards/nrf52dk/include/board.h
  boards/ruuvitag/include/board.h
  boards/thingy52/include/board.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#9725 tests/pkg_cmsis-dsp: provide testscript
  tests/pkg_cmsis-dsp/Makefile
  tests/pkg_cmsis-dsp/tests/01-run.py
Labels: Area: pkg, Area: tests, CI: ready for build, CI: run tests, Platform: ARM, Type: enhancement

#10282 makefile.iotlab.single.inc.mk: add new supported nodes
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build, Type: enhancement

#9509 at86rf2xx: release framebuffer on recv with (len > 0) && (buf == NULL)
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10281 build: remove hostname from RIOT_VERSION string
  Makefile.include
Labels: Area: build system, CI: ready for build, Type: enhancement

#10274 gnrc_netif_ieee802154: Provide LQI, RSSI in raw mode via netif_hdr
  sys/net/gnrc/netif/gnrc_netif_ieee802154.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10265 cpu/stm32_common/i2c: Fix error handling in i2c_1.c
  cpu/stm32_common/periph/i2c_1.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Process: needs backport, Type: bug

#10284 makefile.iotlab.single.inc.mk: add new supported nodes [backport 2018.10]
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build, Process: release backport, Type: enhancement

#9829 uuid: add uuid_to_string() and uuid_from_string()
  Makefile.dep
  sys/fmt/fmt.c
  sys/include/fmt.h
  sys/include/uuid.h
  sys/uuid/uuid.c
  tests/unittests/tests-fmt/tests-fmt.c
  tests/unittests/tests-uuid/tests-uuid.c
Labels: CI: ready for build, Type: enhancement

#10305 tests/driver_my9221: fix for loop indexes
  tests/driver_my9221/main.c
Labels: CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 3-testing, Type: bug

#10286 Makefile.include: Fix default RIOTBASE when there is Makefile.local
  Makefile.include
Labels: Area: build system, CI: ready for build, Type: bug

#10303 makefiles/docker.inc.mk: handle building in git worktree
  makefiles/docker.inc.mk
Labels: Area: build system, Area: toolchain, Area: tools, CI: ready for build, Process: needs backport, Type: enhancement
