Repository RIOT-OS/RIOT, pull requests merged in 2018-09, with the labels that each got.

#9877 saml21: fix sercom_set_gen for sercom5
  cpu/sam0_common/include/periph_cpu_common.h
Labels: Ready for CI build, bug

#9880 boards: sltb001a: add docs
  boards/sltb001a/doc.txt
Labels: Ready for CI build, documentation

#9859 doc: set SUBGROUPING to NO in riot.doxyfile
  doc/doxygen/riot.doxyfile
Labels: Ready for CI build, documentation, enhancement

#9826 core/byteorder: fix bebuftohs() / htobebufs() on big endian
  core/include/byteorder.h
  tests/unittests/tests-core/tests-core-byteorder.c
Labels: Ready for CI build, bug, core

#9823 cpu/atmega_common/gpio_init: avoid pull-up in `GPIO_IN`
  cpu/atmega_common/periph/gpio.c
Labels: Ready for CI build, avr, driver, enhancement

#8970 dist/tools/pyterm: handle ctrl+d nicely
  dist/tools/pyterm/pyterm
Labels: Ready for CI build, bug, enhancement, tools

#9876 sam0_common: fix sercom_id return value for SERCOM5 (#9875)
  cpu/sam0_common/include/periph_cpu_common.h
Labels: Ready for CI build, board, bug

#9884 pkg/lwip: fix `lwip_ethernet` dependency
  Makefile.dep
  tests/lwip/Makefile
  tests/lwip_sock_ip/Makefile
  tests/lwip_sock_tcp/Makefile
  tests/lwip_sock_udp/Makefile
Labels: Ready for CI build, make, network, pkg

#9787 openocd.sh: allow flashing binary files without configuration
  dist/tools/openocd/openocd.sh
Labels: API CHANGE, Ready for CI build, minor, tools

#9883 boards/sensebox_samd21: Use PA_BOOST option on SX127X radios
  boards/sensebox_samd21/include/board.h
Labels: LoRa, Ready for CI build, enhancement

#9886 README: update listing support of ESP8266
  README.md
Labels: Ready for CI build, documentation

#9867 make: unify app folder search (examples/*, tests/*, ...)
  .murdock
  Makefile
  dist/tools/compile_test/compile_test.py
  makefiles/app_dirs.inc.mk
Labels: Ready for CI build, cleanup, make

#9748 tests/gnrc_netif: add test for ULA source selection
  tests/gnrc_netif/common.h
  tests/gnrc_netif/main.c
Labels: GNRC, Ready for CI build, network, tests

#9891 sys/hashes/sha256: add missing unistd.h include
  sys/include/hashes/sha256.h
Labels: Ready for CI build, minor

#9722 cpu/cc2538: enhance periph ADC
  boards/cc2538dk/include/periph_conf.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  boards/remote-pa/include/periph_conf.h
  boards/remote-reva/include/periph_conf.h
  boards/remote-revb/include/periph_conf.h
  cpu/cc2538/include/cc2538.h
  cpu/cc2538/include/cc2538_soc_adc.h
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/adc.c
  cpu/cc2538/periph/hwrng.c
Labels: Ready for CI build, cleanup, driver, enhancement, minor

#9893 sys/hashes/sha256: replace include by stddef.h
  sys/include/hashes/sha256.h
Labels: Ready for CI build, minor

#9895 makefiles/docker.inc.mk: export RIOT_CI_BUILD to docker
  makefiles/docker.inc.mk
Labels: Ready for CI build, make, toolchain

#9902 periph/rtt: add missing std header
  drivers/include/periph/rtt.h
Labels: Ready for CI build, enhancement, minor

#9901 net/gcoap: use sock_udp_ep_equal()
  Makefile.dep
  sys/net/application_layer/gcoap/gcoap.c
Labels: CoAP, Ready for CI build, cleanup, network

#9907 README.md: move link to nightly build overview
  README.md
Labels: CI, Ready for CI build, documentation, enhancement

#9905 periph/timer: add missing PERIPH_TIMER_PROVIDES_SET
  cpu/esp8266/include/periph_cpu.h
  cpu/fe310/include/periph_cpu.h
  cpu/mips32r2_generic/include/periph_cpu.h
Labels: Ready for CI build, enhancement, timer

#9885 sam0/spi: fix SPI mode assignment
  cpu/sam0_common/periph/spi.c
Labels: Ready for CI build, bug, driver

#9912 gnrc_ipv6_nib: always configure 802.15.4 long address with IPv6 included
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: CI: ready for build, GNRC, bug, network

#9872 net/nanocoap: allow empty uri/location path option
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: CI: ready for build, CoAP, bug, network

#9433 pic32: Blacklist pic32 boards from some pkg tests
  tests/emb6/Makefile
  tests/pkg_semtech-loramac/Makefile
Labels: CI: ready for build, tests

#9346 tests: initial include of tests/bench_sizeof_coretypes
  tests/bench_sizeof_coretypes/Makefile
  tests/bench_sizeof_coretypes/README.md
  tests/bench_sizeof_coretypes/main.c
  tests/bench_sizeof_coretypes/tests/01-run.py
  tests/sizeof_tcb/Makefile
  tests/sizeof_tcb/main.c
  tests/sizeof_tcb/tests/01-run.py
Labels: CI: ready for build, new feature, tests

#9896 jlink.sh: remove duplicated check
  dist/tools/jlink/jlink.sh
Labels: CI: ready for build, cleanup, tools

#9921 pba-d-01-kw2x: remove duplicate MCPU
  boards/pba-d-01-kw2x/Makefile.include
Labels: CI: ready for build, cleanup, make, minor

#9924 tests/bench_runtime_coreapis: remove unnecessary test target
  tests/bench_runtime_coreapis/Makefile
Labels: CI: ready for build, cleanup, tests

#9928 examples/default: remove unnecessary dependency to sht11
  examples/default/Makefile
Labels: CI: ready for build, cleanup, make

#9918 net/gcoap: fix doc for order of server resources
  sys/include/net/gcoap.h
Labels: CI: ready for build, CoAP, bug, documentation

#9919 nanocoap/example: fix resource order
  examples/nanocoap_server/coap_handler.c
Labels: CI: ready for build, CoAP, bug

#9939 sys/color/color.c: Fix a typo
  sys/color/color.c
Labels: CI: ready for build, cleanup, minor

#9922 bench_timers: Fix mixup in trace output
  tests/bench_timers/main.c
Labels: CI: ready for build, bug, minor, tests

#9915 Makefile.include: always include board Makefile.features
  Makefile.include
Labels: CI: ready for build, make, minor

#9869 tsrb: add drop function
  sys/include/tsrb.h
  sys/tsrb/tsrb.c
Labels: CI: ready for build, enhancement

#9815 drivers/sx127x: Add initial support for multi interrupt pins
  boards/sensebox_samd21/Makefile.include
  boards/sensebox_samd21/include/board.h
  drivers/include/sx127x.h
  drivers/sx127x/include/sx127x_params.h
  drivers/sx127x/sx127x.c
  drivers/sx127x/sx127x_netdev.c
Labels: CI: ready for build, LoRa, driver

#9953 xtimer_core: uncrustify
  sys/xtimer/xtimer_core.c
Labels: CI: ready for build, cleanup, minor, timer

#9879 cpu: efm32: add support for no DC-DC converter
  boards/slstk3401a/include/periph_conf.h
  boards/sltb001a/include/periph_conf.h
  cpu/efm32/cpu.c
Labels: CI: ready for build, arm, cpu

#9816 boards/lobaro-lorabox: Add support for Lobaro LoraBox board
  boards/lobaro-lorabox/Makefile
  boards/lobaro-lorabox/Makefile.dep
  boards/lobaro-lorabox/Makefile.features
  boards/lobaro-lorabox/Makefile.include
  boards/lobaro-lorabox/board.c
  boards/lobaro-lorabox/doc.txt
  boards/lobaro-lorabox/include/board.h
  boards/lobaro-lorabox/include/gpio_params.h
  boards/lobaro-lorabox/include/periph_conf.h
  cpu/stm32l1/include/cpu_conf.h
  cpu/stm32l1/include/periph_cpu.h
  dist/tools/flake8/check.sh
  dist/tools/stm32loader/stm32loader.py
  examples/javascript/Makefile
  examples/lua_REPL/Makefile
  examples/lua_basic/Makefile
  tests/unittests/Makefile
Labels: CI: ready for build, board

#9956 edbg.inc.mk: handle IMAGE_OFFSET being defined with a space
  makefiles/tools/edbg.inc.mk
Labels: CI: ready for build, bug, make, minor, tools

#9960 pkg.mk: do not use user identidy when applying patches
  pkg/pkg.mk
Labels: CI: ready for build, enhancement, make

#9923 boards/cpu: cleanup duplicate includes
  boards/arduino-mkr1000/Makefile.include
  boards/arduino-mkrfox1200/Makefile.include
  boards/arduino-mkrzero/Makefile.include
  boards/iotlab-a8-m3/Makefile.include
  boards/iotlab-m3/Makefile.include
  boards/mips-malta/Makefile.include
  boards/nz32-sc151/Makefile.include
  boards/pic32-clicker/Makefile.include
  boards/pic32-wifire/Makefile.include
  boards/spark-core/Makefile.include
  cpu/cc430/Makefile.include
Labels: CI: ready for build, board, cleanup, cpu, make

#9962 emb6: update link to documentation pdf
  pkg/emb6/doc.txt
Labels: CI: ready for build, documentation, minor

#9963 Rename stm32mindev to blackpill
  boards/blackpill/Makefile
  boards/blackpill/Makefile.dep
  boards/blackpill/Makefile.features
  boards/blackpill/Makefile.include
  boards/blackpill/board.c
  boards/blackpill/dist/openocd.cfg
  boards/blackpill/include/board.h
  boards/blackpill/include/gpio_params.h
  examples/dtls-echo/Makefile
  examples/gnrc_border_router/Makefile
  examples/gnrc_tftp/Makefile
  examples/javascript/Makefile
  examples/lua_REPL/Makefile
  examples/lua_basic/Makefile
  tests/cortexm_common_ldscript/Makefile
  tests/gnrc_netif/Makefile
  tests/unittests/Makefile
Labels: CI: ready for build, board, enhancement

#9967 tests/netdev_test: remove non required feature periph_timer
  tests/netdev_test/Makefile
Labels: CI: ready for build, CI: run tests, cleanup, tests

#9972 Cleanup: drivers/makefile.dep
  drivers/Makefile.dep
Labels: CI: ready for build, cleanup, make

#9970 pkg: update patch documentation
  pkg/doc.txt
Labels: CI: ready for build, documentation, minor, pkg

#9974 cpu/mips: remove `periph_gpio_irq` feature and stub
  boards/pic32-clicker/Makefile.features
  boards/pic32-wifire/Makefile.features
  cpu/mips_pic32_common/periph/gpio.c
Labels: CI: ready for build, bug, cleanup, mips

#9976 native: remove feature `periph_gpio_irq`
  boards/native/Makefile.features
  cpu/native/periph/gpio.c
Labels: CI: ready for build, bug, cleanup, native

#9035 drivers/srf04: range finder sensor
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/srf04.h
  drivers/srf04/Makefile
  drivers/srf04/include/srf04_params.h
  drivers/srf04/srf04.c
  tests/driver_srf04/Makefile
  tests/driver_srf04/README.md
  tests/driver_srf04/main.c
Labels: CI: ready for build, driver, new feature

#9954 boards/sensebox_samd21: Add BMP280 I2C address
  boards/sensebox_samd21/include/board.h
Labels: CI: ready for build, board, enhancement

#9935 Makefile.include: replace $(USEPKG:%=$(BINDIR)/%.a) target
  Makefile.include
Labels: CI: ready for build, make

#9951 boards/sensebox_samd21: Add ADC configuration
  boards/sensebox_samd21/Makefile.features
  boards/sensebox_samd21/include/periph_conf.h
Labels: CI: ready for build, board, enhancement

#9985 sys: add missing <string.h> includes
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_ethernet.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
  sys/net/gnrc/network_layer/sixlowpan/nd/gnrc_sixlowpan_nd.c
  sys/net/gnrc/routing/rpl/gnrc_rpl.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
  sys/net/gnrc/routing/rpl/p2p/gnrc_rpl_p2p.c
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/routing/nhdp/iib_table.c
  sys/net/routing/nhdp/nhdp.c
  sys/random/fortuna.c
  sys/random/fortuna/fortuna.c
  sys/shell/commands/sc_ccnl.c
  sys/shell/commands/sc_gnrc_netif.c
Labels: CI: ready for build, cleanup, minor

#9937 drivers/tsl2561: add missing acquire∕release functions
  drivers/tsl2561/tsl2561.c
Labels: CI: ready for build, bug, driver

#9981 tests/periph_gpio: make IRQ related functionality optional
  tests/periph_gpio/Makefile
  tests/periph_gpio/main.c
Labels: CI: ready for build, driver, enhancement

#9978 periph/gpio: fix doc of `periph_gpio_irq` submodule
  drivers/include/periph/gpio.h
Labels: API CHANGE, CI: ready for build, cleanup, cpu, driver

#9980 pkg: add libhydrogen
  pkg/libhydrogen/Makefile
  pkg/libhydrogen/Makefile.dep
  pkg/libhydrogen/Makefile.include
  pkg/libhydrogen/Makefile.libhydrogen
  pkg/libhydrogen/doc.txt
  pkg/libhydrogen/patches/0001-Add-support-for-RIOT-OS.patch
  tests/pkg_libhydrogen/Makefile
  tests/pkg_libhydrogen/main.c
  tests/pkg_libhydrogen/tests/01-run.py
Labels: CI: ready for build, CI: run tests, new feature, pkg

#9734 pkg: blacklist selected `pkg`s for LLVM/clang
  pkg/jerryscript/Makefile.include
  pkg/micro-ecc/Makefile.include
  pkg/nordic_softdevice_ble/Makefile.include
  pkg/openthread/Makefile.include
  pkg/qDSA/Makefile.include
Labels: CI: ready for build, bug, pkg, toolchain

#9979 tests/periph_gpio: add interrupt enable disable command
  tests/periph_gpio/main.c
Labels: CI: ready for build, driver, tests

#9996 cpu/sam0_common/gpio: use gpio_irq feature
  cpu/sam0_common/periph/gpio.c
Labels: CI: ready for build, arm

#9952 at driver: allow using same buffer for command and response in at_send_cmd_get_lines()
  drivers/at/at.c
Labels: CI: ready for build, driver, enhancement

#10024 tests/gnrc_sixlowpan: fix stacksize of dummy device
  tests/gnrc_sixlowpan/main.c
Labels: CI: ready for build, CI: run tests, bug, tests

#9961 dist/tools: extend the print_toolchain_version script
  dist/tools/ci/print_toolchain_versions.sh
Labels: CI: ready for build, enhancement, tools

#10010 dist/cppcheck: fix missing cppcheck-suppression reasons
  core/clist.c
  cpu/cortexm_common/vectors_cortexm.c
  cpu/fe310/periph/uart.c
  cpu/kinetis/periph/i2c.c
  cpu/kinetis/periph/timer.c
  cpu/mips32r2_common/newlib_syscalls_mips_uhi/syscalls.c
  dist/tools/cppcheck/README.md
  dist/tools/tunslip/tunslip6.c
  drivers/adt7310/adt7310.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/quad_math/qdivrem.c
  sys/universal_address/universal_address.c
  tests/buttons/main.c
  tests/cpp11_condition_variable/main.cpp
  tests/leds/main.c
Labels: CI: ready for build, cleanup, tools

#9809 murdock: add selected cortex-m boards to LLVM build
  .murdock
Labels: CI, CI: ready for build, CI: run tests, Hack'n'ACK candidate, enhancement

#9839 doc: Add deprecation warnings for new repos
  dist/tests/if_lib/README.md
  dist/tests/if_lib/base_device.py
  tests/periph_i2c/tests/README.md
  tests/periph_uart/tests/README.md
Labels: CI: ready for build, documentation

#8793 sys/cbor: remove module
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/Makefile.include
  sys/cbor/Makefile
  sys/cbor/cbor.c
  sys/cbor/include/cbor.h
  tests/cbor/Makefile
  tests/cbor/main.c
  tests/cbor/tests/01-run.py
  tests/unittests/tests-cbor/Makefile
  tests/unittests/tests-cbor/Makefile.include
  tests/unittests/tests-cbor/tests-cbor.c
Labels: CI: ready for build, bug, cleanup

#10032 pkg/openthread: use predefined env paths
  pkg/openthread/Makefile
  pkg/openthread/Makefile.include
Labels: CI: ready for build, cleanup, pkg

#8864 pkg/semtech-loramac: update to upstream v4.4.1 + cleanup
  drivers/include/sx127x.h
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_netdev.c
  examples/lorawan/Makefile
  pkg/semtech-loramac/Makefile
  pkg/semtech-loramac/Makefile.loramac
  pkg/semtech-loramac/Makefile.loramac_arch
  pkg/semtech-loramac/Makefile.loramac_crypto
  pkg/semtech-loramac/Makefile.loramac_mac
  pkg/semtech-loramac/Makefile.loramac_region
  pkg/semtech-loramac/contrib/Makefile
  pkg/semtech-loramac/contrib/semtech_loramac.c
  pkg/semtech-loramac/contrib/semtech_loramac_getset.c
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  pkg/semtech-loramac/contrib/semtech_loramac_timer.c
  pkg/semtech-loramac/include/semtech-loramac/board.h
  pkg/semtech-loramac/include/semtech_loramac.h
  pkg/semtech-loramac/patches/0001-adapt-for-RIOT.patch
  pkg/semtech-loramac/patches/0001-adapt-to-riot.patch
  pkg/semtech-loramac/patches/0002-adapt-utilities-to-riot.patch
  pkg/semtech-loramac/patches/0002-eu868-join-retries.patch
  pkg/semtech-loramac/patches/0003-adapt-utilities-functions.patch
  pkg/semtech-loramac/patches/0004-fix-uninitialized-variable.patch
  tests/pkg_semtech-loramac/Makefile
  tests/pkg_semtech-loramac/main.c
Labels: CI: ready for build, LoRa, pkg

#9863 pkg/lora-serialization: add support for lora-serialization format
  pkg/lora-serialization/Makefile
  pkg/lora-serialization/Makefile.include
  pkg/lora-serialization/Makefile.lora-serialization
  pkg/lora-serialization/doc.txt
  tests/pkg_lora-serialization/Makefile
  tests/pkg_lora-serialization/main.c
  tests/pkg_lora-serialization/tests/01-run.py
Labels: CI: ready for build, LoRa, new feature, pkg

#10039 tests: enhance bench_sizeof_coretypes
  tests/bench_sizeof_coretypes/main.c
  tests/bench_sizeof_coretypes/tests/01-run.py
Labels: CI: ready for build, enhancement, tests

#10041 drivers/l3g4200d: fix typo in src file header
  drivers/l3g4200d/l3g4200d.c
Labels: CI: ready for build, cleanup, driver

#9998 cpu/kinetis/gpio: use gpio_irq feature
  cpu/kinetis/periph/gpio.c
Labels: CI: ready for build, arm, enhancement

#9807 kinetis: ADC: Add hardware averaging configuration
  boards/frdm-k22f/include/periph_conf.h
  boards/frdm-k64f/include/periph_conf.h
  boards/frdm-kw41z/include/periph_conf.h
  boards/mulle/include/periph_conf.h
  boards/pba-d-01-kw2x/include/periph_conf.h
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/periph/adc.c
Labels: CI: ready for build, arm, board, enhancement

#10028 .github: add feature request template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: CI: ready for build, Feature Request, Request for Comments, documentation

#10043 cpu/msp430: increase default stacksize for gnrc_ipv6 thread
  cpu/msp430_common/include/cpu_conf.h
Labels: CI: ready for build, bug, msp, network

#10044 README: remove LoRaWAN experimental status
  README.md
Labels: CI: ready for build, LoRa, documentation

#10046 net/nanocoap: use correct type param for _bulid_hdr()
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: CI: ready for build, CoAP, bug

#9527 MAINTAINING.md: Several changes for clarity
  MAINTAINING.md
Labels: CI: ready for build, documentation, enhancement, minor

#10048 pkg/openthread: add supported radios in doc.txt
  pkg/openthread/doc.txt
Labels: CI: ready for build, documentation

#10050 pkg/openthread: fix typo in documentation
  pkg/openthread/include/ot.h
Labels: CI: ready for build, documentation

#9994 cpu/cc2538/gpio: use gpio_irq feature
  cpu/cc2538/periph/gpio.c
Labels: CI: ready for build, cleanup, driver

#10005 cpu/nrf5x/gpio: use periph_gpio_irq feature
  cpu/nrf5x_common/periph/gpio.c
Labels: CI: ready for build, cleanup, driver

#10055 boards/openmote-b: Fix RF_SWITCH_* logic to active low
  boards/openmote-b/include/board.h
Labels: CI: ready for build, board, bug

#9865 doc: add `memory management` group
  pkg/tlsf/contrib/include/tlsf-malloc.h
  sys/doc.txt
  sys/include/memarray.h
  sys/oneway-malloc/include/malloc.h
  sys/oneway-malloc/oneway-malloc.c
Labels: CI: ready for build, documentation, enhancement

#10017 cpu/esp8266: periph/i2c fix
  cpu/esp8266/periph/i2c.c
Labels: CI: ready for build, driver, esp

#10061 cpu/esp8266: remove duplicate 'CPU' variable
  cpu/esp8266/Makefile.include
Labels: CI: ready for build, cleanup, minor

#9926 net/nanocoap: factor out generic CoAP defines
  sys/include/net/coap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: CI: ready for build, CoAP, Request for Comments, cleanup

#9988 sys/ecc: move hamming256 module to generic ecc
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/ecc/Makefile
  sys/ecc/hamming256.c
  tests/unittests/tests-ecc/Makefile.include
  tests/unittests/tests-ecc/tests-ecc.c
Labels: CI: ready for build, cleanup

#10066 native/netdev_tap: Rename variable to fix -Wshadow warning
  cpu/native/netdev_tap/netdev_tap.c
Labels: CI: ready for build, cleanup, minor, native

#10067 color: Fix -Wdouble-promotion warnings
  sys/color/color.c
Labels: CI: ready for build, cleanup, minor

#10071 gnrc: Use existing utility function to extract IPv6 header
  sys/include/net/gnrc/ipv6.h
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/sock/gnrc_sock.c
Labels: CI: ready for build, enhancement, network

#9947 tinycbor: Version bump to 0.5.2
  pkg/tinycbor/Makefile
  pkg/tinycbor/Makefile.include
  tests/pkg_tinycbor/Makefile
  tests/pkg_tinycbor/main.c
Labels: CI: ready for build, CI: run tests, enhancement, pkg
