Repository RIOT-OS/RIOT, pull requests merged in 2018-08, with the labels that each got.

#8551 README: update features list + line length cleanup
  README.md
Labels: Hack'n'ACK candidate, Ready for CI build, cleanup, documentation

#9662 tlsf: fix for llvm [backport 2018.07]
  pkg/tlsf/contrib/tlsf-malloc.c
Labels: GNRC, Ready for CI build, backport, network, pkg

#8378 drivers/sx127x: return correct state when device is receiving
  drivers/sx127x/include/sx127x_registers.h
  drivers/sx127x/sx127x_netdev.c
Labels: LoRa, Ready for CI build, driver, enhancement

#9654 tests: gnrc_ipv6_ext: replace default netif with dummy
  tests/gnrc_ipv6_ext/Makefile
  tests/gnrc_ipv6_ext/main.c
Labels: GNRC, Ready for CI build, backporting-needed, bug, network, tests

#9670 examples/asymcute_mqttsn: fix target name
  examples/asymcute_mqttsn/README.md
Labels: Ready for CI build, documentation, minor

#9671 tests: gnrc_ipv6_ext: replace default netif with dummy [backport 2018.07]
  tests/gnrc_ipv6_ext/Makefile
  tests/gnrc_ipv6_ext/main.c
Labels: GNRC, Ready for CI build, backport, bug, network, tests

#9674 examples/asymcute_mqttsn: fix target name [backport 2018.07]
  examples/asymcute_mqttsn/README.md
Labels: Ready for CI build, backport, documentation, minor

#9668 driver/sdcard_spi: fix of issue #9667
  drivers/sdcard_spi/sdcard_spi.c
Labels: Ready for CI build, backporting-needed, bug

#9676 tests: gnrc_sixlowpan: replace default netif with dummy [backport 2018.07]
  tests/gnrc_sixlowpan/Makefile
  tests/gnrc_sixlowpan/main.c
Labels: GNRC, Ready for CI build, backport, enhancement, network, tests

#9673 tests/gnrc_sixlowpan: enable test on murdock [backport 2018.07]
  tests/gnrc_sixlowpan/Makefile
Labels: CI: run tests, Ready for CI build, backport, tests

#9675 tests: gnrc_netif: fix group join iteration macro
  tests/gnrc_netif/main.c
Labels: GNRC, Ready for CI build, bug, network, tests

#9678 tests: gnrc_netif: fix group join iteration macro [backport 2018.07]
  tests/gnrc_netif/main.c
Labels: GNRC, Ready for CI build, backport, bug, network, tests

#9586 iotlab-support: use iotlab command to check credentials
  dist/testbed-support/Makefile.iotlab
Labels: Ready for CI build, backporting-needed, bug, tools

#9679 gnrc_netif & radios: event reporting flags [backport 2018.07] for #9601 #9606
  drivers/at86rf2xx/at86rf2xx.c
  drivers/cc2420/cc2420.c
  drivers/kw2xrf/kw2xrf.c
  drivers/mrf24j40/mrf24j40.c
  sys/net/gnrc/netif/gnrc_netif.c
Labels: GNRC, Ready for CI build, backport, bug, driver, network

#9593 kw2xrf: Fix ack flag handling [backport 2018.07]
  drivers/kw2xrf/kw2xrf_netdev.c
Labels: Ready for CI build, backport, bug, driver, network

#9626 semtech-loramac: fix uninitialized datarate
  pkg/semtech-loramac/patches/0004-fix-uninitialized-variable.patch
Labels: LoRa, Ready for CI build, backporting-needed

#9672 gnrc_ipv6: fix regression from #8215
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: GNRC, Ready for CI build, backporting-needed, bug, help wanted, network

#9681 tests: fix cayenne-lpp test for LLVM
  tests/pkg_cayenne-lpp/main.c
Labels: Ready for CI build, bug, tests, toolchain

#9682 semtech-loramac: fix uninitialized datarate [backport 2018.07]
  pkg/semtech-loramac/patches/0004-fix-uninitialized-variable.patch
Labels: LoRa, Ready for CI build, backport

#9513 newlib.mk: llvm, fix newlib-nano header not used
  makefiles/libc/newlib.mk
Labels: Ready for CI build, backporting-needed, bug, help wanted, make

#9639 Move testing infrastructure files to dist/tests
  dist/tests/if_lib/README.md
  dist/tests/if_lib/__init__.py
  dist/tests/if_lib/base_device.py
  dist/tests/if_lib/bpt_if.py
  dist/tests/if_lib/driver_manager.py
  dist/tests/if_lib/dut_shell.py
  dist/tests/if_lib/ll_shell.py
  dist/tests/if_lib/riot_driver.py
  dist/tests/if_lib/serial_driver.py
  tests/periph_i2c/tests/periph_i2c_if.py
  tests/periph_i2c/tests/test.py
  tests/periph_i2c/tests/tools/bpt_if.py
Labels: Ready for CI build, tests, tools

#9331 drivers/mma7660: initial support (adopted from #5970)
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/mma7660.h
  drivers/mma7660/Makefile
  drivers/mma7660/include/mma7660_params.h
  drivers/mma7660/include/mma7660_reg.h
  drivers/mma7660/mma7660.c
  drivers/mma7660/mma7660_saul.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_mma7660.c
  sys/auto_init/saul/doc.txt
  tests/driver_mma7660/Makefile
  tests/driver_mma7660/README.md
  tests/driver_mma7660/main.c
Labels: Ready for CI build, driver, new feature, saul

#9685 newlib.mk: llvm, fix newlib-nano header not used [backport 2018.07]
  makefiles/libc/newlib.mk
Labels: Ready for CI build, backport, bug, help wanted, make

#9687 sx127x: fix -Wformat llvm warning
  drivers/sx127x/sx127x_getset.c
  pkg/semtech-loramac/contrib/semtech_loramac_getset.c
  tests/driver_sx127x/main.c
  tests/pkg_semtech-loramac/main.c
Labels: Ready for CI build, toolchain

#9515 newlib.mk: fix regressions
  makefiles/libc/newlib.mk
Labels: Ready for CI build, backporting-needed, help wanted, make

#9689 newlib.mk: fix regressions [backport 2018.07]
  makefiles/libc/newlib.mk
Labels: Ready for CI build, backport, help wanted, make

#9691 cpu/cc2538: add TI vendor headers
  cpu/cc2538/include/vendor/hw_aes.h
  cpu/cc2538/include/vendor/hw_ana_regs.h
  cpu/cc2538/include/vendor/hw_cctest.h
  cpu/cc2538/include/vendor/hw_flash_ctrl.h
  cpu/cc2538/include/vendor/hw_gpio.h
  cpu/cc2538/include/vendor/hw_gptimer.h
  cpu/cc2538/include/vendor/hw_i2cm.h
  cpu/cc2538/include/vendor/hw_i2cs.h
  cpu/cc2538/include/vendor/hw_ints.h
  cpu/cc2538/include/vendor/hw_ioc.h
  cpu/cc2538/include/vendor/hw_memmap.h
  cpu/cc2538/include/vendor/hw_nvic.h
  cpu/cc2538/include/vendor/hw_pka.h
  cpu/cc2538/include/vendor/hw_rfcore_ffsm.h
  cpu/cc2538/include/vendor/hw_rfcore_sfr.h
  cpu/cc2538/include/vendor/hw_rfcore_xreg.h
  cpu/cc2538/include/vendor/hw_smwdthrosc.h
  cpu/cc2538/include/vendor/hw_soc_adc.h
  cpu/cc2538/include/vendor/hw_ssi.h
  cpu/cc2538/include/vendor/hw_sys_ctrl.h
  cpu/cc2538/include/vendor/hw_types.h
  cpu/cc2538/include/vendor/hw_uart.h
  cpu/cc2538/include/vendor/hw_udma.h
  cpu/cc2538/include/vendor/hw_udmachctl.h
  cpu/cc2538/include/vendor/hw_usb.h
Labels: Ready for CI build, cpu, enhancement

#9699 nrf5x_common: gpio: remove unused pin_num() function
  cpu/nrf5x_common/periph/gpio.c
Labels: Ready for CI build, arm, cleanup, toolchain

#9665 examples/lua_REPL: cast pointer to void in printf
  examples/lua_REPL/main.c
Labels: Ready for CI build, bug, pkg

#9700 stm32_common: i2c_2: fix for -Wunused-function
  cpu/stm32_common/periph/i2c_2.c
Labels: Ready for CI build, arm, bug, toolchain

#9705 core: rmutex: include stdint.h
  core/include/rmutex.h
Labels: Ready for CI build, core, minor, toolchain

#9713 pkg: gecko_sdk: update for llvm support
  pkg/gecko_sdk/Makefile
Labels: Ready for CI build, bug

#9677 *: fix formatting errors with llvm
  drivers/mtd_sdcard/mtd_sdcard.c
  tests/driver_io1_xplained/main.c
  tests/driver_sdcard_spi/main.c
  tests/periph_flashpage/main.c
  tests/puf_sram/main.c
Labels: Ready for CI build, toolchain

#9500 cpu/nrf5x_common: add PUF SRAM feature to makefile
  cpu/nrf5x_common/Makefile.features
Labels: Ready for CI build, cpu, enhancement

#9718 core: rmutex: include stdint.h [backport 2018.07]
  core/include/rmutex.h
Labels: Ready for CI build, backport, core, minor, toolchain

#8917 cpu/stm32l4: add support for flashpage
  cpu/stm32_common/periph/flash_common.c
  cpu/stm32_common/periph/flashpage.c
  cpu/stm32l4/Makefile.features
  cpu/stm32l4/include/cpu_conf.h
  tests/periph_flashpage/main.c
Labels: Ready for CI build, arm, driver, new feature

#9683 gnrc netif: cleanup and code deduplication
  sys/net/gnrc/netif/gnrc_netif.c
Labels: GNRC, Ready for CI build, cleanup, minor

#9721 gnrc_udp: assert ports not zero
  sys/include/net/gnrc/udp.h
  sys/net/gnrc/transport_layer/udp/gnrc_udp.c
Labels: CI: run tests, GNRC, Ready for CI build, enhancement, minor

#8880 boards/openmoteb-cc2538: Initial support
  boards/openmote-b/Makefile
  boards/openmote-b/Makefile.dep
  boards/openmote-b/Makefile.features
  boards/openmote-b/Makefile.include
  boards/openmote-b/board.c
  boards/openmote-b/include/board.h
  boards/openmote-b/include/periph_conf.h
  examples/lua_REPL/Makefile
  tests/unittests/Makefile
Labels: Ready for CI build, arm, board, new feature

#9717 examples/gcoap: fix post/put without port number
  examples/gcoap/gcoap_cli.c
Labels: CoAP, Ready for CI build, bug, network

#9714 tests/periph_uart: add automated testing script
  tests/periph_uart/tests/README.md
  tests/periph_uart/tests/periph_uart_if.py
  tests/periph_uart/tests/test.py
Labels: Ready for CI build, tests

#9706 examples: dtls-echo: remove unneeded addressing operator
  examples/dtls-echo/dtls-client.c
Labels: Ready for CI build, bug, network, pkg

#9723 boards/nucleo-f070: add missing periph_i2c feature
  boards/nucleo-f070rb/Makefile.features
Labels: Ready for CI build, board, cleanup

#9724 cpu/cc2538: generalise SPI clock configuration
  boards/cc2538dk/include/periph_conf.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  boards/remote-pa/include/periph_conf.h
  boards/remote-reva/include/periph_conf.h
  boards/remote-revb/include/periph_conf.h
  cpu/cc2538/include/periph_cpu.h
Labels: Ready for CI build, cleanup

#9727 boards/nucleo-f091rc: add i2c configuration
  boards/nucleo-f091rc/Makefile.features
  boards/nucleo-f091rc/include/periph_conf.h
  cpu/stm32f0/include/vendor/stm32f091xc.h
Labels: Ready for CI build, board, new feature

#9386 drivers/hdc1000: change renew_interval to a parameter
  drivers/hdc1000/hdc1000.c
  drivers/hdc1000/include/hdc1000_params.h
  drivers/include/hdc1000.h
Labels: Ready for CI build, cleanup, driver

#9719 gnrc_ipv6_nib: make automatic NDP packet emission (NS/RS) configurable
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/_nib-slaac.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/gnrc_netif/Makefile
Labels: GNRC, Ready for CI build, backporting-needed, enhancement, network, tests

#9732 gnrc_ipv6_nib: make automatic NDP packet emission (NS/RS) configurable [backport 2018.07]
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/_nib-slaac.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/gnrc_netif/Makefile
Labels: GNRC, Ready for CI build, backport, enhancement, network, tests

#9669 tests/gnrc_netif: enable CI tests
  tests/gnrc_netif/Makefile
Labels: CI: run tests, Ready for CI build, backporting-needed, help wanted, tests

#7237 net/gcoap: Make references to coap_resource_t all const in gcoap
  examples/gcoap/gcoap_cli.c
  examples/rdcli_simple/main.c
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Ready for CI build, enhancement, network

#9697 kinetis: uart: fix unused-function warning
  cpu/kinetis/periph/uart.c
Labels: Ready for CI build, arm, bug, toolchain

#9736 tests/gnrc_netif: enable CI tests [backport 2018.07]
  tests/gnrc_netif/Makefile
Labels: CI: run tests, Ready for CI build, backport, help wanted, tests

#9716 boards/b-l475e-iot01a: configure second I2C and on-board sensors (lis3mdl, lsm6dsl and hts221)
  boards/b-l475e-iot01a/Makefile.dep
  boards/b-l475e-iot01a/include/board.h
  boards/b-l475e-iot01a/include/periph_conf.h
Labels: Ready for CI build, board

#9746 drivers/sdcard_spi: fix uint64_t cast location
  drivers/sdcard_spi/sdcard_spi.c
Labels: Ready for CI build, bug, driver

#9744 tests: remove echo=False
  tests/cbor/tests/01-run.py
  tests/evtimer_msg/tests/01-run.py
  tests/evtimer_underflow/tests/01-run.py
  tests/isr_yield_higher/tests/test.py
  tests/od/tests/01-run.py
  tests/od/tests/02-run.py
Labels: Ready for CI build, backporting-needed, tests

#9747 drivers/sdcard_spi: fix uint64_t cast location [backport 2018.07]
  drivers/sdcard_spi/sdcard_spi.c
Labels: Ready for CI build, backport, bug, driver

#9751 make: add APPDIR to info-build target
  makefiles/info.inc.mk
Labels: Ready for CI build, enhancement, make, minor

#9752 examples: dtls-echo: remove unneeded addressing operator [backport 2018.07]
  examples/dtls-echo/dtls-client.c
Labels: Ready for CI build, backport, bug, network, pkg

#9698 cpu/cc2538: refine periph/spi implementation
  boards/cc2538dk/include/periph_conf.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  boards/remote-pa/include/periph_conf.h
  boards/remote-reva/include/periph_conf.h
  boards/remote-revb/include/periph_conf.h
  cpu/cc2538/include/cc2538_ssi.h
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/gpio.c
  cpu/cc2538/periph/spi.c
Labels: Ready for CI build, driver, enhancement

#9754 gnrc_ipv6_nib: fallback to SLAAC if ARO is ignored by upstream [backport 2018.07]
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6ln.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: GNRC, Ready for CI build, backport, enhancement, network

#9757 boards*: documentation cleanup
  boards/arduino-due/doc.txt
  boards/common/doc.txt
  boards/frdm-kw41z/doc.txt
  boards/frdm-kw41z/include/board.h
  boards/jiminy-mega256rfr2/doc.txt
  boards/jiminy-mega256rfr2/include/board.h
  boards/native/doc.txt
  boards/udoo/doc.txt
Labels: Ready for CI build, board, cleanup, documentation

#9758 make: introduce common Python lib path
  Makefile.include
  dist/pythonlibs/README.md
  makefiles/vars.inc.mk
Labels: Ready for CI build, make

#9761 Makefile.include: Include VERSION file for release
  Makefile.include
Labels: Ready for CI build, backporting-needed, make

#9762 Makefile.include: Include VERSION file for release [backport 2018.07]
  Makefile.include
Labels: Ready for CI build, backport, make

#9765 tests/gnrc_netif: Fix -Wformat-overflow
  tests/gnrc_netif/main.c
Labels: Ready for CI build, bug, minor, tests

#9351 cortexm_common/ldscript: simplify generation of firmwares in section of the ROM
  cpu/cortexm_common/Makefile.include
  cpu/cortexm_common/ldscripts/cortexm.ld
  tests/cortexm_common_ldscript/Makefile
  tests/cortexm_common_ldscript/README.md
  tests/cortexm_common_ldscript/main.c
Labels: Ready for CI build, make, ota

#9693 cc2538: cleanup and optimisation of periph timer
  cpu/cc2538/include/cc2538_gptimer.h
  cpu/cc2538/periph/timer.c
Labels: Ready for CI build, cleanup, enhancement, timer

#9469 gnrc_netif: Introduce GNRC_NETIF_HDR_FLAGS_MORE_DATA
  sys/include/net/gnrc/netif/hdr.h
Labels: GNRC, Ready for CI build, enhancement, network

#9756 pkg: update ccn-lite and adapt shell commands
  pkg/ccn-lite/Makefile
  sys/shell/commands/sc_ccnl.c
Labels: Ready for CI build, enhancement, pkg

#9767 Release 2018.07: set release VERSION
  VERSION
Labels: CI: run tests, Ready for CI build, documentation

#9566 Release notes for 2018.07
  release-notes.txt
Labels: Ready for CI build, backporting-needed, documentation

#9768 cpu/nrf51: fix formatting uint to PRIu32
  cpu/nrf51/periph/pwm.c
Labels: Ready for CI build, bug, toolchain

#9770 kinetis: timer: #ifdef unused functions
  cpu/kinetis/periph/timer.c
Labels: Ready for CI build, bug, toolchain

#9710 boards: slstk3402a: add i2c
  boards/slstk3402a/Makefile.dep
  boards/slstk3402a/Makefile.features
  boards/slstk3402a/include/periph_conf.h
Labels: Ready for CI build, board

#9777 stm32_common/eeprom: fix DEBUG formatting
  cpu/stm32_common/periph/eeprom.c
Labels: Ready for CI build, enhancement, toolchain

#9471 gnrc/6lo: Set more data flag on all but last fragment
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
Labels: GNRC, Ready for CI build, enhancement, network

#9720 pkg/ccn-lite/relic: check for minimal cmake version
  dist/tools/has_minimal_version/has_minimal_version.sh
  pkg/ccn-lite/Makefile
  pkg/relic/Makefile
Labels: Ready for CI build, enhancement, make, pkg

#9362 make: Makefile.include: Remove -Wno-implicit-fallthrough
  Makefile.include
  drivers/sht1x/sht1x_saul.c
Labels: Ready for CI build, cleanup, make

#9772 sht1x: Fix Wimplicit-fallthrough warning
  drivers/sht1x/sht1x_saul.c
Labels: Ready for CI build, cleanup, driver, minor

#9729 boards/sensebox: Add support for SenseBox board
  boards/sensebox_samd21/Makefile
  boards/sensebox_samd21/Makefile.dep
  boards/sensebox_samd21/Makefile.features
  boards/sensebox_samd21/Makefile.include
  boards/sensebox_samd21/board.c
  boards/sensebox_samd21/doc.txt
  boards/sensebox_samd21/include/board.h
  boards/sensebox_samd21/include/gpio_params.h
  boards/sensebox_samd21/include/periph_conf.h
  boards/sensebox_samd21/include/sdcard_spi_params.h
  examples/lua_REPL/Makefile
  tests/unittests/Makefile
Labels: Ready for CI build, board, new feature

#9704 pkg: cmsis-dsp: fix -Wunknown-attributes for LLVM
  pkg/cmsis-dsp/patches/0001-arm_math-add-clang-branch-for-optimization-macros.patch
Labels: Ready for CI build, pkg, toolchain

#9730 make: provide support for listing supported and blacklisting toolchains
  Makefile.include
  cpu/cortexm_common/Makefile.include
  cpu/native/Makefile.include
  makefiles/buildtests.inc.mk
  makefiles/info.inc.mk
  makefiles/vars.inc.mk
Labels: Ready for CI build, enhancement, make, toolchain

#9776 nimble: deactivate -Wunused-function with LLVM/clang
  pkg/nimble/Makefile
Labels: Ready for CI build, enhancement, pkg, toolchain

#9782 boards/stm32f103c8: update flash flags for DFU
  boards/common/doc.txt
  boards/common/stm32f103c8/Makefile.include
Labels: Ready for CI build, board, enhancement, tools

#9779 boards: Harmonized UART config of Nucleo-64 boards
  boards/nucleo-f334r8/include/periph_conf.h
  boards/nucleo-f401re/include/periph_conf.h
  boards/nucleo-f410rb/include/periph_conf.h
  boards/nucleo-f446re/include/periph_conf.h
  boards/nucleo-l152re/include/periph_conf.h
Labels: Ready for CI build, cleanup, driver

#8626 gnrc_sixlowpan_iphc: cleanup NHC encoding
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
Labels: GNRC, Ready for CI build, enhancement, network

#9581 at86rf2xx: Move flags from netdev to radio
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/include/at86rf2xx.h
Labels: Ready for CI build, cleanup, driver, enhancement

#9505 cpu/stm32_common: add PUF SRAM feature to makefile
  cpu/stm32_common/Makefile.features
  cpu/stm32f4/Makefile.features
Labels: Ready for CI build, WIP, cpu, enhancement

#9796 tests/lwip_sock_*: fix compilation error
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_udp/stack.c
Labels: CI: run tests, Ready for CI build, bug, tests

#9780 boards: Extended/fixed SPI config for STM32 Nucleo-64 boards
  boards/nucleo-f030r8/include/periph_conf.h
  boards/nucleo-f072rb/include/periph_conf.h
  boards/nucleo-f303re/include/periph_conf.h
Labels: Ready for CI build, driver, enhancement

#9634 dist/tools: add lazysponge tool
  Makefile.include
  dist/tools/genconfigheader/genconfigheader.sh
  dist/tools/lazysponge/lazysponge.py
  dist/tools/lazysponge/lazysponge_test.py
  makefiles/vars.inc.mk
Labels: Ready for CI build, make, tools

#9510 at86rf2xx: correct rssi
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Ready for CI build, cleanup, documentation, driver, network

#9701 Fmt: add fmt hex byte
  sys/fmt/fmt.c
  sys/include/fmt.h
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Ready for CI build, new feature

#9398 murdock: also compile with LLVM/clang
  .murdock
  makefiles/murdock.inc.mk
Labels: CI, CI: run tests, Ready for CI build, Request for Comments, enhancement, toolchain

#9234 drivers/periph_common/eeprom: move EEPROM definitions to periph_cpu.
  cpu/atmega1281/include/cpu_conf.h
  cpu/atmega1281/include/periph_cpu.h
  cpu/atmega1284p/include/cpu_conf.h
  cpu/atmega1284p/include/periph_cpu.h
  cpu/atmega2560/include/cpu_conf.h
  cpu/atmega2560/include/periph_cpu.h
  cpu/atmega256rfr2/include/cpu_conf.h
  cpu/atmega256rfr2/include/periph_cpu.h
  cpu/atmega328p/include/cpu_conf.h
  cpu/atmega328p/include/periph_cpu.h
  cpu/atmega_common/Makefile.features
  cpu/stm32l0/Makefile.features
  cpu/stm32l0/include/cpu_conf.h
  cpu/stm32l0/include/periph_cpu.h
  cpu/stm32l1/Makefile.features
  cpu/stm32l1/include/cpu_conf.h
  cpu/stm32l1/include/periph_cpu.h
  drivers/include/periph/eeprom.h
  drivers/periph_common/eeprom.c
Labels: Ready for CI build, cleanup, driver

#9797 tests/driver_isl29125: fix of compilation error
  tests/driver_isl29125/main.c
Labels: Ready for CI build, bug, tests

#9021 cpu/nrf52: add PWM implementation
  boards/common/nrf52xxxdk/include/periph_conf.h
  boards/nrf52840dk/Makefile.features
  boards/nrf52dk/Makefile.features
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf52/periph/pwm.c
  cpu/nrf5x_common/include/periph_cpu_common.h
Labels: Ready for CI build, driver

#9812 posix/pthread_rwlock: fix unsigned variable comparison
  sys/posix/pthread/pthread_rwlock.c
Labels: Ready for CI build, bug, posix

#9814 github: add 'testing' to the PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Ready for CI build, documentation

#9808 jerryscript: bump version
  pkg/jerryscript/Makefile
  pkg/jerryscript/Makefile.jerryscript
Labels: Ready for CI build, enhancement, pkg

#9822 Makefile.base: define 'clean' as .PHONY
  Makefile.base
Labels: Ready for CI build, make, minor

#9802 dist/tools: Add option to set values of RTS and DTR pins in pyterm
  dist/tools/pyterm/pyterm
Labels: Ready for CI build, enhancement, tools

#9817 boards/sensebox_samd21: Fix documentation
  boards/sensebox_samd21/doc.txt
Labels: Ready for CI build, board, cleanup, documentation

#9364 core: add architecture dependent thread information
  core/include/thread.h
Labels: Ready for CI build, core, enhancement, major

#9834 netdev_tap: declare netdev_driver struct as const
  cpu/native/netdev_tap/netdev_tap.c
Labels: Ready for CI build, enhancement, minor, native, network

#9828 tools:pyterm fix deprecation warnings
  dist/tools/pyterm/pyterm
Labels: Ready for CI build, cleanup, tools

#9835 gnrc_netif: Check return value of netdev init during thread start
  sys/net/gnrc/netif/gnrc_netif.c
Labels: GNRC, Ready for CI build, enhancement, minor

#9842 doc: add `math` group to Doxygen
  pkg/libfixmath/doc.txt
  sys/doc.txt
  sys/include/div.h
  sys/include/matstat.h
  sys/include/seq.h
  sys/matstat/doc.txt
  sys/seq/doc.txt
Labels: Ready for CI build, documentation, enhancement

#9337 drivers*: add drivers with saul support in the doxygen drivers_saul group
  drivers/include/adcxx1c.h
  drivers/include/ads101x.h
  drivers/include/adxl345.h
  drivers/include/bmp180.h
  drivers/include/bmx055.h
  drivers/include/bmx280.h
  drivers/include/dht.h
  drivers/include/fxos8700.h
  drivers/include/grove_ledbar.h
  drivers/include/hdc1000.h
  drivers/include/hts221.h
  drivers/include/io1_xplained.h
  drivers/include/isl29020.h
  drivers/include/jc42.h
  drivers/include/l3g4200d.h
  drivers/include/lis2dh12.h
  drivers/include/lis3dh.h
  drivers/include/lis3mdl.h
  drivers/include/lps331ap.h
  drivers/include/lsm303dlhc.h
  drivers/include/lsm6dsl.h
  drivers/include/mag3110.h
  drivers/include/mma8x5x.h
  drivers/include/mpl3115a2.h
  drivers/include/mpu9150.h
  drivers/include/pulse_counter.h
  drivers/include/si114x.h
  drivers/include/si70xx.h
  drivers/include/tcs37727.h
  drivers/include/tmp006.h
  drivers/include/tsl2561.h
  drivers/include/veml6070.h
Labels: Ready for CI build, documentation, driver, enhancement, saul

#9844 drivers: Add missing dependencies
  drivers/Makefile.dep
  tests/driver_adcxx1c/Makefile
  tests/driver_ads101x/Makefile
  tests/driver_adt7310/Makefile
  tests/driver_at30tse75x/Makefile
  tests/driver_at86rf2xx/Makefile
  tests/driver_hdc1000/Makefile
  tests/driver_hih6130/Makefile
  tests/driver_hts221/Makefile
  tests/driver_ina220/Makefile
  tests/driver_isl29020/Makefile
  tests/driver_isl29125/Makefile
  tests/driver_kw2xrf/Makefile
  tests/driver_l3g4200d/Makefile
  tests/driver_lc709203f/Makefile
  tests/driver_lps331ap/Makefile
  tests/driver_lsm303dlhc/Makefile
  tests/driver_lsm6dsl/Makefile
  tests/driver_mag3110/Makefile
  tests/driver_mma8x5x/Makefile
  tests/driver_mpl3115a2/Makefile
  tests/driver_mq3/Makefile
  tests/driver_nrf24l01p_lowlevel/Makefile
  tests/driver_nvram_spi/Makefile
  tests/driver_pcd8544/Makefile
  tests/driver_srf02/Makefile
  tests/driver_srf08/Makefile
  tests/driver_sx127x/Makefile
  tests/driver_tcs37727/Makefile
  tests/driver_tmp006/Makefile
  tests/driver_xbee/Makefile
  tests/openthread/Makefile
Labels: CI: run tests, Ready for CI build, bug, driver, make, tests

#9801 frdm-kw41z: Clean up ADC configuration
  boards/frdm-kw41z/include/adc_params.h
  boards/frdm-kw41z/include/periph_conf.h
Labels: Ready for CI build, arm, board, cleanup

#9791 boards: slstk3402a: add docs
  boards/slstk3402a/doc.txt
  boards/slstk3402a/include/board.h
Labels: Ready for CI build, board, documentation

#9620 cpu/cortexm_common/cortexm_init: Allow piecewise calling
  cpu/cortexm_common/cortexm_init.c
  cpu/cortexm_common/include/cpu.h
Labels: CI: run tests, Ready for CI build, arm, cpu, enhancement

#9858 doc: refactor `hashes` group
  sys/checksum/doc.txt
  sys/hashes/doc.txt
  sys/include/hashes.h
  sys/include/hashes/cmac.h
  sys/include/hashes/md5.h
  sys/include/hashes/sha1.h
  sys/include/hashes/sha256.h
  sys/include/hashes/sha3.h
Labels: Ready for CI build, documentation, enhancement

#9790 vfs/stdio: cleanup STDIO mapping for vfs
  sys/include/vfs.h
  sys/stdio_rtt/stdio_rtt.c
  sys/stdio_uart/stdio_uart.c
  sys/vfs/vfs_stdio.c
Labels: Ready for CI build, cleanup

#9868 dist/tools/compile_test: fix flake8 issues
  dist/tools/compile_test/compile_test.py
Labels: Ready for CI build, cleanup, tools

#8920 net/nanocoap: add generic handling for string-based options
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: API CHANGE, CoAP, Ready for CI build, enhancement, network
