Repository RIOT-OS/RIOT, pull requests merged in 2018-11, with the labels that each got.

#10302 Makefile.include: Fix BUILDRELPATH when RIOTPROJECT is CURDIR.
  Makefile.include
Labels: Area: build system, Area: toolchain, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#9740 drivers/at: fix invalid function pointer cast.
  drivers/at/at.c
Labels: Area: drivers, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10174 test/xtimer_hang: DEBUG_PINS
  tests/xtimer_hang/Makefile
  tests/xtimer_hang/README.md
  tests/xtimer_hang/main.c
Labels: Area: tests, Area: timers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10309 drivers/at: fix invalid function pointer cast [backport 2018.10]
  drivers/at/at.c
Labels: CI: ready for build, Process: release backport

#10273 cpu/esp32: allow explicit ESP32 crystal freq configuration
  boards/common/esp32/include/board_common.h
  cpu/esp32/include/sdk_conf.h
  cpu/esp32/startup.c
  cpu/esp32/vendor/esp-idf/esp_funcs.c
Labels: CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10293 example/nanocoap: fix block2 payload
  examples/nanocoap_server/coap_handler.c
Labels: Area: CoAP, CI: ready for build, Process: needs backport, Type: bug

#10297 cpu/stm32_common/i2c: Fix error handling in i2c_1.c [backport 2018.10]
  cpu/stm32_common/periph/i2c_1.c
Labels: CI: ready for build, Impact: minor, Process: release backport, Type: bug

#10267 sys/auto_init: Fixed initialization of sht1x
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_sht1x.c
Labels: Area: drivers, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10298 example/nanocoap: fix block2 example [backport 2018.10]
  examples/nanocoap_server/coap_handler.c
Labels: Area: CoAP, CI: ready for build, Process: release backport, Type: bug

#10307 makefiles/docker.inc.mk: handle building in git worktree [backport 2018.10]
  makefiles/docker.inc.mk
Labels: Area: build system, Area: toolchain, Area: tools, CI: ready for build, Process: release backport, Type: enhancement

#10165 openocd.sh: fix binfile on osx
  dist/tools/openocd/openocd.sh
Labels: Area: toolchain, CI: ready for build, OS: Mac OS X, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#9211 xtimer: timer & target overflow, hang resolved.
  sys/include/xtimer/implementation.h
  sys/xtimer/xtimer_core.c
Labels: Area: timers, CI: ready for build, CI: run tests, Type: bug, Type: enhancement

#9866 cpu/atmega*: factorise common code into atmega_common
  boards/common/arduino-atmega/include/board_common.h
  boards/jiminy-mega256rfr2/include/board.h
  boards/mega-xplained/include/board.h
  boards/waspmote-pro/include/board.h
  cpu/atmega1281/Makefile
  cpu/atmega1281/Makefile.include
  cpu/atmega1281/cpu.c
  cpu/atmega1281/include/cpu_conf.h
  cpu/atmega1281/startup.c
  cpu/atmega1284p/Makefile
  cpu/atmega1284p/Makefile.include
  cpu/atmega1284p/cpu.c
  cpu/atmega1284p/include/cpu_conf.h
  cpu/atmega1284p/startup.c
  cpu/atmega2560/Makefile
  cpu/atmega2560/Makefile.include
  cpu/atmega2560/cpu.c
  cpu/atmega2560/startup.c
  cpu/atmega256rfr2/Makefile
  cpu/atmega256rfr2/Makefile.include
  cpu/atmega256rfr2/include/cpu_conf.h
  cpu/atmega256rfr2/startup.c
  cpu/atmega328p/Makefile
  cpu/atmega328p/Makefile.include
  cpu/atmega328p/cpu.c
  cpu/atmega328p/include/cpu_conf.h
  cpu/atmega_common/Makefile
  cpu/atmega_common/cpu.c
  cpu/atmega_common/include/cpu_conf.h
  cpu/atmega_common/periph/pm.c
  cpu/atmega_common/startup.c
  examples/cord_epsim/Makefile
  examples/ipc_pingpong/Makefile
  tests/bench_sizeof_coretypes/Makefile
  tests/driver_bmx055/Makefile
  tests/driver_enc28j60/Makefile
  tests/driver_mpu9150/Makefile
  tests/driver_nvram_spi/Makefile
  tests/driver_pir/Makefile
  tests/driver_tsl4531x/Makefile
  tests/driver_xbee/Makefile
  tests/emb6/Makefile
  tests/evtimer_msg/Makefile
  tests/evtimer_underflow/Makefile
  tests/gnrc_ipv6_nib/Makefile
  tests/gnrc_sock_udp/Makefile
  tests/irq/Makefile
  tests/isr_yield_higher/Makefile
  tests/msg_send_receive/Makefile
  tests/periph_eeprom/Makefile
  tests/pipe/Makefile
  tests/sched_testing/Makefile
  tests/struct_tm_utility/Makefile
  tests/thread_exit/Makefile
  tests/thread_flags/Makefile
  tests/thread_race/Makefile
  tests/xtimer_hang/Makefile
  tests/xtimer_msg/Makefile
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: AVR, Type: cleanup

#10248 net/nanocoap: make data pointer c++ compliant
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: C++, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10313 Makefile.include: Fix BUILDRELPATH when RIOTPROJECT is CURDIR [backport 2018.10]
  Makefile.include
Labels: CI: ready for build, Process: release backport

#10324 cpu/esp8266: doxygen fix for periph/gpio
  cpu/esp8266/include/gpio_common.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Process: needs backport, Type: cleanup

#10325 cpu/esp32: doxygen fix for periph/gpio
  cpu/esp32/include/adc_arch.h
  cpu/esp32/include/gpio_arch.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#10329 cpu/esp8266: doxygen fix [backport 2018.10]
  cpu/esp8266/include/gpio_common.h
Labels: CI: ready for build, Process: release backport

#10326 sys/auto_init: Fixed initialization of sht1x [backport 2018.10]
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_sht1x.c
Labels: CI: ready for build, Process: release backport

#10301 boards/msba2: Added call to periph_init
  boards/msba2/board_init.c
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#10328 test: trickle: fix condition for success
  tests/trickle/main.c
  tests/trickle/tests/01-run.py
Labels: CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 5-documentation, Type: bug

#10332 test: trickle: fix condition for success [backport 2018.10]
  tests/trickle/main.c
  tests/trickle/tests/01-run.py
Labels: CI: ready for build, Process: release backport

#10331 emb6_sock_udp: copy receive remote correctly
  pkg/emb6/contrib/sock/udp/emb6_sock_udp.c
Labels: Area: network, Area: pkg, CI: ready for build, Process: needs backport, Type: bug

#10323 boards: Enable STM32F103C8 ROM hack via env var
  boards/bluepill/doc.txt
  boards/common/stm32f103c8/Makefile.include
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10232 Update Jiminy doc.txt
  boards/jiminy-mega256rfr2/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, Reviewed: 5-documentation

#10247 ipv6_ext_rh: define type numbers at central place
  sys/include/net/gnrc/rpl/srh.h
  sys/include/net/ipv6/ext/rh.h
  sys/net/gnrc/network_layer/ipv6/ext/rh/gnrc_ipv6_ext_rh.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: cleanup

#10178 drivers/ethos: remove unnecessary casts.
  drivers/ethos/ethos.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#10347 crypto: Fix code style
  sys/include/crypto/aes.h
  sys/include/crypto/chacha.h
  sys/include/crypto/ciphers.h
Labels: Area: crypto, CI: ready for build, Type: cleanup

#10159 crypto: fix several documentation issues
  sys/include/crypto/aes.h
  sys/include/crypto/chacha.h
  sys/include/crypto/ciphers.h
  sys/include/crypto/modes/ccm.h
  sys/include/crypto/modes/ctr.h
  sys/include/crypto/modes/ecb.h
  sys/include/hashes/sha3.h
Labels: Area: crypto, Area: doc, CI: ready for build, Type: cleanup

#10246 gnrc_ipv6: don't recurse into receive for encapsulated IPv6
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#10203 pkg/nimble: bump version to current master
  makefiles/pseudomodules.inc.mk
  pkg/nimble/Makefile
  pkg/nimble/nimble.mk
Labels: Area: BLE, Area: pkg, CI: ready for build

#10348 gnrc_ipv6: don't recurse into receive for encapsulated IPv6 [backport 2018.10]
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Impact: minor, Process: release backport, Type: bug

#10196 pkg/nimble: prepare for building without DEVELHELP
  examples/nimble_gatt/main.c
  pkg/nimble/Makefile
Labels: Area: BLE, CI: ready for build, Type: bug

#10205 pkg/nimble: improve initialization and add host thread
  examples/nimble_gatt/main.c
  pkg/nimble/contrib/controller_init.c
  pkg/nimble/contrib/include/nimble_riot.h
  pkg/nimble/contrib/nimble_riot.c
  sys/auto_init/auto_init.c
Labels: Area: BLE, Area: pkg, CI: ready for build, Type: enhancement

#10354 core: mutex: fix DEBUG pointer output
  core/mutex.c
Labels: Area: core, CI: ready for build, Type: enhancement

#10358 gnrc_ipv6_nib: fix several issues found with LLVM's static code analyzer (only critical)
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ipv6/nib/nib_pl.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#10359 gnrc_ipv6_nib: fix several issues found with LLVM's static code analyzer (only critical) [backport 2018.10]
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ipv6/nib/nib_pl.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#10356 gnrc_ipv6_nib: provide interface on packet queueing
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: arduino API, Area: network, CI: ready for build, Process: needs backport, Type: bug

#10360 gnrc_ipv6_nib: provide interface on packet queueing [backport 2018.10]
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: arduino API, Area: network, CI: ready for build, Process: release backport, Type: bug

#10368 print_toolchain_versions.sh: Add make command version
  dist/tools/ci/print_toolchain_versions.sh
Labels: Area: toolchain, Area: tools, CI: ready for build, Impact: minor, Type: enhancement

#10366 gnrc_sock_[udp|ip]: read return value for _recv after release
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#8114 crypto/ccm: fix auth_data_len check
  sys/crypto/modes/ccm.c
  tests/unittests/tests-crypto/tests-crypto-modes-ccm.c
Labels: Area: crypto, Area: tests, CI: ready for build, Type: bug

#10374 gnrc_sock_[udp|ip]: read return value for _recv after release [backport 2018.10]
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Area: network, CI: ready for build, CI: run tests, Process: release backport, Type: bug

#10377 crypto/ccm: fix auth_data_len check [backport 2018.10]
  sys/crypto/modes/ccm.c
  tests/unittests/tests-crypto/tests-crypto-modes-ccm.c
Labels: Area: crypto, Area: tests, CI: ready for build, CI: run tests, Process: release backport, Type: bug

#10334 {drivers/saul,sys/phydat}: Added RSSI sensor and dBm unit
  drivers/include/saul.h
  drivers/saul/saul_str.c
  sys/include/phydat.h
  sys/phydat/phydat_str.c
Labels: Area: SAUL, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: enhancement

#10378 2018.10: add VERSION
  VERSION
Labels: CI: ready for build

#10257 Release 2018.10 notes
  release-notes.txt
Labels: CI: ready for build, Process: release cycle

#10381 release-notes.txt: Add Release 2018.10 notes [backport 2018.10]
  release-notes.txt
Labels: CI: ready for build, Process: release backport, Process: release cycle

#10339 gnrc_pktbuf: deprecate gnrc_pktbuf_duplicate_upto
  sys/include/net/gnrc/pktbuf.h
Labels: Area: doc, Area: network, CI: ready for build, Type: cleanup

#10387 cpu/nrf5x: fix hwrng hang
  cpu/nrf5x_common/periph/hwrng.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: bug

#9890 ethos: Only accept frame if previous frame is read
  drivers/ethos/ethos.c
  drivers/include/ethos.h
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10417 gnrc/pkt: Add const keyword to length functions
  sys/include/net/gnrc/pkt.h
  tests/unittests/tests-pkt/tests-pkt.c
Labels: Area: network, CI: ready for build, Impact: minor, Process: API change, Type: cleanup

#8594 gnrc_icmpv6_error: fix and use where appropriate
  examples/gnrc_networking/Makefile
  sys/include/net/gnrc/icmpv6/error.h
  sys/include/net/icmpv6.h
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/transport_layer/udp/gnrc_udp.c
Labels: Area: network, CI: ready for build, Process: API change, Type: bug, Type: enhancement

#10422 gnrc_ipv6: fix _fill_ipv6_hdr() for pure IPv6 packets
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Type: bug

#10421 gnrc_icmpv6_error / gnrc_ipv6: fixes for unspecified address
  sys/include/net/gnrc/icmpv6/error.h
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Type: bug

#10411 tests/eepreg: remove duplicate FEATURES_REQUIRED
  tests/eepreg/Makefile
Labels: Area: build system, Area: tests, CI: ready for build, Impact: minor

#10408 boards/frdm-kw41z: autoload fxos8700 with saul_default
  boards/frdm-kw41z/Makefile.dep
Labels: Area: SAUL, Area: boards, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10394 boards/frdm-kw41z: update i2c configuration
  boards/frdm-kw41z/include/board.h
  boards/frdm-kw41z/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Discussion: RFC, Type: cleanup

#10385 tests/puf_sram: add input args to automation script
  tests/puf_sram/tests/example_test.py
  tests/puf_sram/tests/puf_sram_if.py
Labels: Area: tests, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10179 dist/tools: add build system sanity check script
  dist/tools/buildsystem_sanity_check/check.sh
Labels: Area: build system, Area: tests, CI: ready for build

#10414 frdm-kw41z: Define BTNx macros for user pushbuttons
  boards/frdm-kw41z/include/board.h
  boards/frdm-kw41z/include/gpio_params.h
Labels: Area: boards, CI: ready for build, Impact: minor, Type: enhancement

#10386 sys/puf_sram: CPU specific variable allocation
  cpu/cortexm_common/include/cpu_conf_common.h
  sys/puf_sram/puf_sram.c
Labels: Area: doc, CI: ready for build, Platform: ARM, Type: cleanup

#10438 gnrc_netapi: declare `data` for set function as const
  sys/include/net/gnrc/netapi.h
  sys/net/gnrc/netapi/gnrc_netapi.c
Labels: Area: network, CI: ready for build, Process: API change, Type: enhancement

#10433 dist/tools/tested-support: fix samr30 archi mapping
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build

#10437 gnrc_netapi: move author tag into file context
  sys/include/net/gnrc/netapi.h
Labels: Area: doc, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10362 cpu/esp32: fixes compile problems
  boards/common/esp32/include/board_common.h
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/vendor/esp-idf/wpa_supplicant/src/crypto/Makefile
Labels: CI: ready for build, Platform: ESP, Type: bug

#10449 boards: add feature periph_gpio_irq to lobaro-lorabox
  boards/lobaro-lorabox/Makefile.features
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10446 netdev: add stubs for get/set not implemented
  drivers/include/net/netdev.h
  drivers/slipdev/slipdev.c
  pkg/nordic_softdevice_ble/src/gnrc_nordic_ble_6lowpan.c
Labels: Area: network, CI: ready for build, Type: enhancement

#10390 cpu/atmega_common: add mega2560 puf_sram feature
  boards/arduino-mega2560/Makefile.features
  cpu/atmega_common/include/cpu_conf.h
  cpu/atmega_common/startup.c
Labels: CI: ready for build, Platform: AVR, Type: new feature

#10306 drivers/mma8x5x: remove useless type from initialization parameters
  boards/microbit/Makefile.dep
  boards/microbit/include/board.h
  drivers/include/mma8x5x.h
  drivers/mma8x5x/include/mma8x5x_params.h
  drivers/mma8x5x/mma8x5x.c
  tests/driver_mma8x5x/Makefile
  tests/driver_mma8x5x/README.md
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10451 cpu/esp8266: Fix i2c buses array #ifdef
  cpu/esp8266/periph/i2c.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: bug

#10260 examples/gnrc_networking/README.md: fix 404s
  examples/gnrc_networking/README.md
Labels: Area: doc, CI: ready for build, Impact: minor

#10425 cc2538_rf: Don't use netdev_ieee802154_t for link layer address
  cpu/cc2538/radio/cc2538_rf_netdev.c
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#10452 dist/testbed-support: add frdm-kw41z in iotlab archis
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 4-code-style

#10447 gnrc_pktbuf: add gnrc_pktbuf_merge()
  sys/include/net/gnrc/pktbuf.h
  sys/net/gnrc/pktbuf/gnrc_pktbuf.c
  tests/unittests/tests-pktbuf/tests-pktbuf.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10275 at86rf2xx: refactor received frame ED processing
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10251 travis.yml: use the same image as Murdock.
  .travis.yml
Labels: Area: CI, CI: ready for build, Type: enhancement

#10391 makefiles/scan-build: separate scan-build-analyze and make it produce an error
  makefiles/scan-build.inc.mk
Labels: Area: build system, Area: tests, Area: toolchain, CI: ready for build, Type: enhancement

#10223 net/nanocoap: fix string option separator write handling
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10300 unittests/tests-rpl_srh: various improvements
  tests/unittests/tests-gnrc_rpl_srh/Makefile
  tests/unittests/tests-gnrc_rpl_srh/Makefile.include
  tests/unittests/tests-gnrc_rpl_srh/tests-gnrc_rpl_srh.c
  tests/unittests/tests-gnrc_rpl_srh/tests-gnrc_rpl_srh.h
  tests/unittests/tests-rpl_srh/tests-rpl_srh.c
Labels: Area: network, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#10424 frdm-k22f: Define BTNx macros for user pushbuttons
  boards/frdm-k22f/include/board.h
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10456 examples/{javascript/lua}: correctly declare rules to embed scripts.
  examples/javascript/Makefile
  examples/lua_REPL/Makefile
  examples/lua_basic/Makefile
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10243 boards/common: add common place for nrf51 based boards
  boards/airfy-beacon/Makefile
  boards/airfy-beacon/Makefile.dep
  boards/airfy-beacon/Makefile.features
  boards/airfy-beacon/Makefile.include
  boards/airfy-beacon/board.c
  boards/airfy-beacon/include/board.h
  boards/airfy-beacon/include/periph_conf.h
  boards/calliope-mini/Makefile.features
  boards/calliope-mini/Makefile.include
  boards/calliope-mini/include/board.h
  boards/common/nrf51/Makefile
  boards/common/nrf51/Makefile.dep
  boards/common/nrf51/Makefile.features
  boards/common/nrf51/Makefile.include
  boards/common/nrf51/board.c
  boards/common/nrf51/dist/openocd.cfg
  boards/common/nrf51/include/board_common.h
  boards/common/nrf51/include/periph_conf_common.h
  boards/microbit/Makefile.dep
  boards/microbit/Makefile.features
  boards/microbit/Makefile.include
  boards/microbit/include/board.h
  boards/nrf51dongle/Makefile.dep
  boards/nrf51dongle/Makefile.features
  boards/nrf51dongle/Makefile.include
  boards/nrf51dongle/include/board.h
  boards/nrf51dongle/include/periph_conf.h
  boards/nrf6310/Makefile.dep
  boards/nrf6310/Makefile.features
  boards/nrf6310/Makefile.include
  boards/nrf6310/dist/debug.sh
  boards/nrf6310/dist/flash.sh
  boards/nrf6310/dist/reset.sh
  boards/nrf6310/include/periph_conf.h
  boards/yunjia-nrf51822/Makefile
  boards/yunjia-nrf51822/Makefile.dep
  boards/yunjia-nrf51822/Makefile.features
  boards/yunjia-nrf51822/Makefile.include
  boards/yunjia-nrf51822/dist/openocd.cfg
  boards/yunjia-nrf51822/include/board.h
  boards/yunjia-nrf51822/include/periph_conf.h
  cpu/nrf51/Makefile.features
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#9156 net/gcoap: Use nanocoap pkt/options API
  examples/gcoap/gcoap_cli.c
  sys/include/net/gcoap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/cord/ep/cord_ep.c
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Type: enhancement

#10277 boards/common/nrf51: add common place for clock configuration
  boards/airfy-beacon/include/periph_conf.h
  boards/calliope-mini/include/periph_conf.h
  boards/common/nrf51/include/cfg_clock_16_0.h
  boards/common/nrf51/include/cfg_clock_16_1.h
  boards/microbit/include/periph_conf.h
  boards/nrf51dongle/include/periph_conf.h
  boards/nrf6310/include/periph_conf.h
  boards/yunjia-nrf51822/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#10472 boards/common/remote: fix mis-migrated path for flash/reset
  boards/common/remote/Makefile.include
Labels: Area: boards, CI: ready for build, Type: bug

#10060 static_tests: add build system checks
  dist/tools/ci/build_and_test.sh
  pkg/fatfs/Makefile.dep
  pkg/fatfs/Makefile.include
  sys/shell/commands/Makefile
Labels: Area: build system, Area: tests, CI: ready for build

#10376 crypto/modes/ccm: update api to const input buffers
  sys/crypto/modes/ccm.c
  sys/crypto/modes/ctr.c
  sys/include/crypto/modes/ccm.h
  sys/include/crypto/modes/ctr.h
  tests/unittests/tests-crypto/tests-crypto-modes-ccm.c
  tests/unittests/tests-crypto/tests-crypto.h
Labels: Area: crypto, CI: ready for build, CI: run tests, Process: API change, Type: enhancement

#10227 gnrc_rpl_srh: cleanup and optimize SRH processing function
  sys/include/net/gnrc/rpl/srh.h
  sys/net/gnrc/routing/rpl/srh/gnrc_rpl_srh.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup, Type: enhancement

#10457 dist/testbed-support: add pba-d-01-kw2x in iotlab archis
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build

#10471 boards/flash.sh: rename HEXFILE to BINFILE
  boards/cc2538dk/dist/flash.sh
  boards/common/remote/dist/flash.sh
Labels: Area: boards, Area: tools, CI: ready for build

#10481 tools/pyterm: catch serial.Exception when serial port is busy
  dist/tools/pyterm/pyterm
Labels: Area: tools, CI: ready for build, Type: bug

#10455 net/gnrc_netif: opt of _ipv6_get_iid()
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: enhancement

#10189 tests/relic: move from unittests to regular test
  pkg/relic/Makefile.include
  tests/pkg_relic/Makefile
  tests/pkg_relic/main.c
  tests/pkg_relic/tests/01-run.py
  tests/unittests/Makefile
  tests/unittests/tests-relic/Makefile
  tests/unittests/tests-relic/Makefile.include
Labels: Area: pkg, Area: tests, CI: ready for build, CI: run tests, Type: cleanup

#10188 tests/cn-cbor: move from unittests to regular test
  tests/pkg_cn-cbor/Makefile
  tests/pkg_cn-cbor/main.c
  tests/pkg_cn-cbor/tests/01-run.py
  tests/unittests/tests-cn_cbor/Makefile
  tests/unittests/tests-cn_cbor/Makefile.include
Labels: Area: pkg, Area: tests, CI: ready for build, CI: run tests, Type: cleanup

#10476 boards/nrf51: remove ADC_NUMOF define when not needed
  boards/calliope-mini/include/periph_conf.h
  boards/microbit/include/periph_conf.h
  boards/nrf51dongle/include/periph_conf.h
  boards/nrf6310/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#10423 frdm-k64f: Define BTNx macros for user pushbuttons
  boards/frdm-k64f/include/board.h
  drivers/include/periph/i2c.h
Labels: Area: boards, CI: ready for build, Impact: minor, Type: enhancement

#10490 periph/i2c: Add precondition on i2c_acquire for i2c bus access
  drivers/include/periph/i2c.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Type: enhancement

#10384 netdev_ieee802154/radios: refactor PAN ID reset to generic ieee802154 reset
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf.c
  cpu/cc2538/radio/cc2538_rf_netdev.c
  cpu/native/socket_zep/socket_zep.c
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/cc2420/cc2420.c
  drivers/cc2420/cc2420_getset.c
  drivers/include/at86rf2xx.h
  drivers/include/cc2420.h
  drivers/include/kw2xrf.h
  drivers/kw2xrf/kw2xrf.c
  drivers/kw2xrf/kw2xrf_getset.c
  drivers/mrf24j40/mrf24j40.c
  drivers/mrf24j40/mrf24j40_getset.c
  drivers/netdev_ieee802154/netdev_ieee802154.c
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10460 cpu/esp32: fixes LINKFLAGS in Makfile.include
  cpu/esp32/Makefile.include
Labels: Area: cpu, CI: ready for build, Type: enhancement

#10185 tests/qdsa: Move from unittests to regular tests
  tests/pkg_qdsa/Makefile
  tests/pkg_qdsa/main.c
  tests/pkg_qdsa/tests/01-run.py
  tests/unittests/Makefile
  tests/unittests/tests-qDSA/Makefile
  tests/unittests/tests-qDSA/Makefile.include
  tests/unittests/tests-qDSA/tests-qDSA.h
Labels: Area: pkg, Area: tests, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 4-code-style, Type: cleanup

#10486 kinetis: Allow FOPT settings other than 0xff
  cpu/kinetis/dist/check-fcfield-elf.sh
  cpu/kinetis/dist/check-fcfield-hex.sh
  cpu/kinetis/fcfield.c
Labels: Area: boards, Area: tools, CI: ready for build, Impact: minor, Platform: ARM

#10503 pkg: disable compiler warning for jerryscript and nimble
  pkg/jerryscript/Makefile.jerryscript
  pkg/nimble/Makefile
Labels: Area: pkg, CI: ready for build, Type: bug, Type: enhancement

#10478 frdm: Use configuration for OpenOCD 0.10.0 or newer by default
  boards/common/frdm/Makefile.include
  boards/frdm-kw41z/Makefile.include
Labels: Area: boards, Area: build system, CI: ready for build, Impact: minor, Platform: ARM, Type: cleanup

#10498 atmega: add periph_pwm (taken from #7542)
  boards/common/arduino-atmega/Makefile.features
  boards/common/arduino-atmega/include/periph_conf.h
  cpu/atmega_common/include/atmega_regs_common.h
  cpu/atmega_common/include/periph_cpu_common.h
  cpu/atmega_common/periph/pwm.c
  tests/periph_pwm/Makefile
Labels: Area: arduino API, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10516 tests/periph_timer: adapt for atmega based boards
  tests/periph_timer/Makefile
  tests/periph_timer/README.md
  tests/periph_timer/main.c
Labels: Area: timers, CI: ready for build, Type: enhancement

#10505 gnrc_mac: fix header includes
  sys/include/net/gnrc/gomach/types.h
  sys/include/net/gnrc/mac/types.h
  sys/net/gnrc/link_layer/lwmac/lwmac.c
  tests/unittests/tests-gnrc_mac_internal/tests-gnrc_mac_internal.c
Labels: Area: network, CI: ready for build, Type: bug

#10522 ethernet: make input parameter const
  sys/include/net/ethernet.h
Labels: Area: network, CI: ready for build, Impact: minor, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: enhancement

#10511 pkg/nimble: Remove warning suppressions, add patches
  pkg/nimble/Makefile
  pkg/nimble/patches/0001-L2CAP-sm-do-not-discard-alignment-information.patch
Labels: Area: BLE, CI: ready for build, Type: bug

#10525 gnrc_netif_hdr: make input parameters constant
  sys/include/net/gnrc/netif/hdr.h
Labels: Area: network, CI: ready for build, Type: enhancement

#10219 crypto/helper: Add secure wipe function
  sys/crypto/helper.c
  sys/include/crypto/helper.h
  tests/unittests/tests-crypto/tests-crypto-helper.c
  tests/unittests/tests-crypto/tests-crypto.c
  tests/unittests/tests-crypto/tests-crypto.h
Labels: Area: crypto, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10361 lwip: bump to version v2.1.2
  pkg/lwip/Makefile
  pkg/lwip/patches/0001-lowpan6.c-Fix-IEEE-802.15.4-address-setting.patch
Labels: Area: network, Area: pkg, CI: ready for build, Type: enhancement

#8333 core: condition variable implementation
  core/cond.c
  core/include/cond.h
  core/include/thread.h
  tests/cond_order/Makefile
  tests/cond_order/README.md
  tests/cond_order/main.c
  tests/cond_order/tests/01-run.py
Labels: Area: core, CI: ready for build, Type: new feature
