Repository RIOT-OS/RIOT, pull requests merged in 2018-05, with the labels that each got.

#9041 doc: fix flake8 issues in generate changelog script
  doc/doxygen/generate-changelog.py
Labels: Ready for CI build, cleanup, tools

#9059 boards/nucleo-f401: configure USART1 port
  boards/nucleo-f401/include/periph_conf.h
Labels: Ready for CI build, board, enhancement

#9038 tests/bloom_bytes: increase timeout for wsn430 [backport 2018.04]
  tests/bloom_bytes/tests/01-run.py
Labels: CI: run tests, Ready for CI build, backport, enhancement, minor, tests

#9055 cbor: Move header to cbor subdirectory
  sys/Makefile.include
  sys/cbor/include/cbor.h
Labels: Ready for CI build, enhancement

#9040 tests:sizeof_tcb: fix for wsn430 and arduino [backport 2018.04]
  tests/sizeof_tcb/main.c
  tests/sizeof_tcb/tests/01-run.py
Labels: CI: run tests, Ready for CI build, backport, enhancement, minor, tests

#9062 tests/thread_flags: fix printf on 16bit platform [backport 2018.04]
  tests/thread_flags/main.c
Labels: CI: run tests, Ready for CI build, backport, backporting-needed, minor, tests

#8915 drivers/ads101x: support for ADCs
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/ads101x/Makefile
  drivers/ads101x/ads101x.c
  drivers/ads101x/ads101x_saul.c
  drivers/ads101x/include/ads101x_params.h
  drivers/ads101x/include/ads101x_regs.h
  drivers/include/ads101x.h
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_ads101x.c
  tests/driver_ads101x/Makefile
  tests/driver_ads101x/main.c
Labels: Ready for CI build, driver, new feature

#9067 make: add and export RIOTTOOLS directory
  Makefile.include
  makefiles/vars.inc.mk
Labels: Ready for CI build, make, minor

#8904 cpu/atmega_common: return to non-interrupt context swaps
  boards/common/arduino-atmega/include/board_common.h
  boards/jiminy-mega256rfr2/include/board.h
  boards/mega-xplained/include/board.h
  boards/waspmote-pro/include/board.h
  cpu/atmega_common/include/cpu.h
  cpu/atmega_common/periph/gpio.c
  cpu/atmega_common/periph/timer.c
  cpu/atmega_common/periph/uart.c
  cpu/atmega_common/thread_arch.c
Labels: Ready for CI build, avr, quality defect

#9072 pkg: use RIOTTOOLS variable
  pkg/ccn-lite/Makefile
  pkg/relic/Makefile
Labels: Ready for CI build, cleanup, make

#9073 gnrc_rpl: remove route before updating it
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
Labels: GNRC, Ready for CI build, bug, network

#8897 tests/thread_race: add test for race conditions
  tests/thread_race/Makefile
  tests/thread_race/main.c
  tests/thread_race/tests/01-run.py
Labels: Ready for CI build, avr, quality defect

#9082 gnrc_rpl: remove route before updating it [2018.04-backport]
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
Labels: GNRC, Ready for CI build, bug, network

#9071 sys/arduino: use RIOTTOOLS variable
  sys/arduino/Makefile.include
Labels: Ready for CI build, cleanup, make

#9091 pkg/qDSA: disble arm asm version for cortexm > 0plus
  pkg/qDSA/Makefile.dep
  pkg/qDSA/Makefile.include
Labels: CI: run tests, Ready for CI build, arm, backporting-needed, bug, pkg

#9092 pkg/qDSA: disble arm asm version for cortexm > 0plus [BACKPORT]
  pkg/qDSA/Makefile.dep
  pkg/qDSA/Makefile.include
Labels: CI: run tests, Ready for CI build, backport, bug, pkg

#9084 kinetis: Memory segment attribute fixes
  cpu/kinetis/ldscripts/kinetis.ld
Labels: Ready for CI build, arm, cleanup, minor

#9087 gcoap: make message queue size configurable
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Ready for CI build, enhancement, network

#9042 tests/pkg_tiny-asn1: blacklist wsn430 boards [backport 2018.04]
  tests/pkg_tiny-asn1/Makefile
Labels: CI: run tests, Ready for CI build, backport, minor, tests

#8639 pkg/semtech-loramac: add link check support
  pkg/semtech-loramac/contrib/semtech_loramac.c
  pkg/semtech-loramac/include/semtech_loramac.h
  tests/pkg_semtech-loramac/main.c
Labels: LoRa, Ready for CI build, enhancement, new feature

#8982 pkg/semtech_loramac: handle non OK mcps confirm messages
  pkg/semtech-loramac/contrib/semtech_loramac.c
  pkg/semtech-loramac/include/semtech_loramac.h
  tests/pkg_semtech-loramac/main.c
Labels: LoRa, Ready for CI build, enhancement

#9079 cpu/stm32f4: add support for STM32F423 line
  cpu/stm32_common/Makefile.include
  cpu/stm32f4/include/cpu_conf.h
  cpu/stm32f4/include/periph_cpu.h
  cpu/stm32f4/include/vendor/stm32f423xx.h
  cpu/stm32f4/vectors.c
Labels: Ready for CI build, arm

#9089 cpu: ldscript memory attribute corrections
  cpu/cc2538/ldscripts/cc2538nf11.ld
  cpu/cc2538/ldscripts/cc2538nf23.ld
  cpu/cc2538/ldscripts/cc2538nf53.ld
  cpu/cc2538/ldscripts/cc2538sf53.ld
  cpu/cc26x0/ldscripts/cc26x0f128.ld
  cpu/cortexm_common/ldscripts/cortexm.ld
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/ezr32wg/ldscripts/ezr32wg330f256r60.ld
  cpu/lm4f120/ldscripts/LM4F120H5QR.ld
  cpu/lpc1768/ldscripts/lpc1768.ld
  cpu/lpc2387/ldscripts/lpc2387.ld
  cpu/mips_pic32mz/ldscripts/pic32mz2048_uhi.ld
  cpu/nrf51/ldscripts/nrf51x22xxaa.ld
  cpu/nrf51/ldscripts/nrf51x22xxab.ld
  cpu/nrf51/ldscripts/nrf51x22xxac.ld
  cpu/nrf52/ldscripts/nrf52832xxaa.ld
  cpu/nrf52/ldscripts/nrf52832xxaa_sd.ld
  cpu/nrf52/ldscripts/nrf52840xxaa.ld
  cpu/nrf52/ldscripts/nrf52840xxaa_sd.ld
  cpu/sam0_common/ldscripts/samd21j18a_arduino_bootloader.ld
  cpu/sam_common/ldscripts/sam3x8e.ld
  cpu/stm32_common/ldscripts/stm32_common.ld
Labels: CI: run tests, Ready for CI build, arm, cleanup

#9100 tests/libfixmath_unittests: fix for iotlab-m3 and samr21-xpro
  tests/libfixmath_unittests/Makefile
  tests/libfixmath_unittests/tests/01-run.py
Labels: CI: run tests, Ready for CI build, tests

#9107 tests/libfixmath_unittests: fix for iotlab-m3 and samr21-xpro [backport 2018.04]
  tests/libfixmath_unittests/Makefile
  tests/libfixmath_unittests/tests/01-run.py
Labels: CI: run tests, Ready for CI build, backport, tests

#9102 Makefile.include: use RIOTTOOLS variable for included files
  Makefile.include
  dist/tools/desvirt/Makefile.desvirt
  makefiles/mcuboot.mk
Labels: Ready for CI build, cleanup, make

#8112 crypto/ccm: fix input_len checking with length_encoding
  sys/crypto/modes/ccm.c
  tests/unittests/tests-crypto/tests-crypto-modes-ccm.c
Labels: Ready for CI build, bug, crypto, tests

#9115 add 2018.04 release notes [BACKPORT]
  release-notes.txt
Labels: Ready for CI build

#9114 add 2018.04 release notes
  release-notes.txt
Labels: Ready for CI build, backporting-needed

#9117 release notes 2018.04 typo fix [BACKPORT]
  release-notes.txt
Labels: Ready for CI build, backport, bug

#9119 release notes 2018.04 typo fix
  release-notes.txt
Labels: Ready for CI build, bug, documentation

#9078 boards/iotlab: fix saul gpio configuration
  boards/common/iotlab/include/gpio_params.h
Labels: Ready for CI build, board, bug, driver

#9018 dist/testbed-support: use new cli-tools command names
  dist/testbed-support/Makefile.iotlab
  dist/testbed-support/README.iotlab.md
Labels: Ready for CI build, enhancement, tools

#9019 tests/pkg_cayenne_lpp: fix inconsistent buffer values across architectures (native, boards)
  tests/pkg_cayenne-lpp/main.c
  tests/pkg_cayenne-lpp/tests/01-run.py
Labels: Ready for CI build, enhancement, pkg, tests

#9103 cortexm: const ISR vectors
  cpu/cortexm_common/vectors_cortexm.c
  cpu/kinetis/isr_kinetis.c
Labels: CI: run tests, Ready for CI build, arm, bug, minor

#9116 sys/icmpv6_hdr_print: replace PRIu8 by PRIu16
  sys/net/network_layer/icmpv6/icmpv6_hdr_print.c
Labels: Ready for CI build, cleanup, minor

#9032 tests/mutex_unlock_and_sleep: increase timeout
  tests/mutex_unlock_and_sleep/main.c
  tests/mutex_unlock_and_sleep/tests/01-run.py
Labels: CI: run tests, Ready for CI build, enhancement, minor, tests

#8978 drivers: add driver for FXOS8700 3-axis accelerometer/magnetometer
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/fxos8700/Makefile
  drivers/fxos8700/fxos8700.c
  drivers/fxos8700/fxos8700_saul.c
  drivers/fxos8700/include/fxos8700_params.h
  drivers/fxos8700/include/fxos8700_regs.h
  drivers/include/fxos8700.h
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_fxos8700.c
  tests/driver_fxos8700/Makefile
  tests/driver_fxos8700/README.md
  tests/driver_fxos8700/main.c
Labels: Ready for CI build, driver, new feature

#8965 drivers/io1_xplained: improve driver and add support for the sdcard and light sensor
  drivers/Makefile.dep
  drivers/include/io1_xplained.h
  drivers/io1_xplained/include/io1_xplained_internals.h
  drivers/io1_xplained/io1_xplained.c
  drivers/io1_xplained/io1_xplained_saul.c
  tests/driver_io1_xplained/main.c
Labels: Ready for CI build, driver, enhancement, new feature

#9122 cpu/cortexm: explicitly set -march=armv6s-m for crotexm0(plus)
  makefiles/arch/cortexm.inc.mk
Labels: CI: run tests, Ready for CI build, arm, bug

#9098 tests: unittests: disable for new efm32 boards.
  tests/unittests/Makefile
Labels: Ready for CI build, bug, tests

#9101 makefiles/info.inc.mk: add a info-debug-variable-% target
  makefiles/info.inc.mk
Labels: Ready for CI build, enhancement, make

#9123 gnrc/netif/hdr.h: Optimized structure layout
  sys/include/net/gnrc/netif/hdr.h
Labels: GNRC, Ready for CI build, network

#8952 boards/common/atmega: gracefully handle CKDIV8 fuse
  boards/common/atmega/board.c
  cpu/atmega_common/include/cpu.h
Labels: Ready for CI build, avr, enhancement

#8955 cpu/cc2538: remove obsolete periph file guard
  cpu/cc2538/periph/i2c.c
Labels: Ready for CI build, cleanup

#7085 boards/nucleo-l496zg: add initial support
  boards/common/nucleo144/include/arduino_pinmap.h
  boards/common/nucleo144/include/board.h
  boards/nucleo-l496zg/Makefile
  boards/nucleo-l496zg/Makefile.dep
  boards/nucleo-l496zg/Makefile.features
  boards/nucleo-l496zg/Makefile.include
  boards/nucleo-l496zg/doc.txt
  boards/nucleo-l496zg/include/periph_conf.h
  cpu/stm32l4/include/cpu_conf.h
  cpu/stm32l4/include/vendor/stm32l496xx.h
  cpu/stm32l4/vectors.c
  tests/unittests/Makefile
Labels: Ready for CI build, arm, new feature

#9017 core/clist: make clist_foreach() return break-causing node
  core/include/clist.h
  tests/unittests/tests-core/tests-core-clist.c
Labels: CI: run tests, Ready for CI build, core, enhancement

#8944 examples/filesystem: fix typos and cleanup
  examples/filesystem/README.md
  examples/filesystem/main.c
Labels: Ready for CI build, cleanup, documentation

#9136 core: Make assert() be an expression.
  core/include/assert.h
Labels: CI: run tests, Ready for CI build, cleanup, core

#9139 pkg/tweetnacl: Use RIOT random_bytes instead of randombytes
  pkg/tweetnacl/Makefile
  pkg/tweetnacl/Makefile.riot
  pkg/tweetnacl/patches/0001-RIOT-Use-RIOT-random_bytes-function-instead-of-rando.patch
  pkg/tweetnacl/src/Makefile
  pkg/tweetnacl/src/randombytes.c
Labels: Ready for CI build, cleanup, minor, pkg

#9138 pkg/hacl: Use RIOT random_bytes instead of randombytes
  pkg/hacl/Makefile
  pkg/hacl/patches/0001-RIOT-Use-RIOT-random_bytes-function-instead-of-rando.patch
  pkg/hacl/src/randombytes.c
Labels: Ready for CI build, cleanup, minor, pkg

#9140 pkg/libcose: Use RIOT random_bytes instead of randombytes
  pkg/libcose/patches/0001-RIOT-Use-RIOT-random_bytes-function-instead-of-rando.patch
Labels: Ready for CI build, cleanup, minor, pkg

#9132 native: Define PROVIDES_PM_SET_LOWEST
  cpu/native/include/periph_cpu.h
Labels: Ready for CI build, bug, minor, native

#9007 tests: add more hardware in the loop tests
  tests/isr_yield_higher/Makefile
  tests/libfixmath_unittests/Makefile
  tests/pipe/Makefile
  tests/pkg_cayenne-lpp/Makefile
  tests/posix_semaphore/Makefile
  tests/rmutex/Makefile
  tests/thread_cooperation/Makefile
  tests/thread_exit/Makefile
  tests/thread_flags/Makefile
  tests/trace/Makefile
  tests/xtimer_hang/Makefile
  tests/xtimer_usleep/Makefile
Labels: CI: run tests, Ready for CI build, tests

#9121 sys/uart_stdio: compile with -Wno-cast-function-type
  sys/uart_stdio/Makefile
Labels: Ready for CI build, bug

#9150 dist: tools: git-cache: update to latest upstream
  dist/tools/git/git-cache
Labels: Ready for CI build, enhancement, tools

#9145 trickle: remove msg_time member from struct
  sys/include/trickle.h
  sys/trickle/trickle.c
Labels: Ready for CI build, cleanup, minor

#9006 pkg/tlsf: revert to original api
  Makefile.dep
  examples/ccn-lite-relay/Makefile
  examples/ccn-lite-relay/main.c
  pkg/tlsf/Makefile
  pkg/tlsf/Makefile.include
  pkg/tlsf/Makefile.tlsf
  pkg/tlsf/contrib/Makefile
  pkg/tlsf/contrib/include/tlsf-malloc.h
  pkg/tlsf/contrib/tlsf-malloc.c
  pkg/tlsf/doc.txt
  pkg/tlsf/patch.txt
  pkg/tlsf/patches/0001-Fix-warnining-on-implicit-pointer-conversion.patch
  sys/oneway-malloc/include/malloc.h
  sys/ps/ps.c
Labels: Ready for CI build

#9154 cpu/lpc2387: Fixed broken SPI driver
  cpu/lpc2387/periph/spi.c
Labels: Ready for CI build, bug, driver

#9160 boards/f4vi1: fix potential build issue in uart conf
  boards/f4vi1/include/periph_conf.h
Labels: Ready for CI build, board, bug, minor

#8959 cpu/atmega_common: remove useless periph file guard
  cpu/atmega_common/periph/i2c.c
  cpu/atmega_common/periph/timer.c
  cpu/atmega_common/periph/uart.c
Labels: Ready for CI build, avr, cleanup

#9083 gcoap: enhance gcoap_req_init
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Ready for CI build, cleanup, enhancement, network

#7658 cpu/stm32_common: add DMA implementation for F2/F4/F7
  boards/nucleo144-f413/Makefile.features
  boards/nucleo144-f413/include/periph_conf.h
  cpu/stm32_common/cpu_init.c
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/dma.c
  cpu/stm32_common/periph/spi.c
  cpu/stm32_common/periph/uart.c
  cpu/stm32f2/include/periph_cpu.h
  cpu/stm32f4/include/periph_cpu.h
  tests/periph_dma/Makefile
  tests/periph_dma/main.c
Labels: Ready for CI build, arm, driver, enhancement

#8651 boards/nucleo144*: rename boards to use their ST marketing name
  boards/nucleo-f303ze/Makefile
  boards/nucleo-f303ze/Makefile.dep
  boards/nucleo-f303ze/Makefile.features
  boards/nucleo-f303ze/Makefile.include
  boards/nucleo-f303ze/include/periph_conf.h
  boards/nucleo-f412zg/Makefile
  boards/nucleo-f412zg/Makefile.dep
  boards/nucleo-f412zg/Makefile.features
  boards/nucleo-f412zg/Makefile.include
  boards/nucleo-f412zg/include/periph_conf.h
  boards/nucleo-f413zh/Makefile
  boards/nucleo-f413zh/Makefile.dep
  boards/nucleo-f413zh/Makefile.features
  boards/nucleo-f413zh/Makefile.include
  boards/nucleo-f413zh/include/periph_conf.h
  boards/nucleo-f429zi/Makefile
  boards/nucleo-f429zi/Makefile.dep
  boards/nucleo-f429zi/Makefile.features
  boards/nucleo-f429zi/Makefile.include
  boards/nucleo-f429zi/include/periph_conf.h
  boards/nucleo-f446ze/Makefile
  boards/nucleo-f446ze/Makefile.dep
  boards/nucleo-f446ze/Makefile.features
  boards/nucleo-f446ze/Makefile.include
  boards/nucleo-f446ze/include/periph_conf.h
  boards/nucleo-f722ze/Makefile
  boards/nucleo-f722ze/Makefile.dep
  boards/nucleo-f722ze/Makefile.features
  boards/nucleo-f722ze/Makefile.include
  boards/nucleo-f722ze/include/periph_conf.h
  boards/nucleo-f746zg/Makefile
  boards/nucleo-f746zg/Makefile.dep
  boards/nucleo-f746zg/Makefile.features
  boards/nucleo-f746zg/Makefile.include
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/Makefile
  boards/nucleo-f767zi/Makefile.dep
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-f767zi/Makefile.include
  boards/nucleo-f767zi/include/periph_conf.h
  cpu/stm32f4/Makefile.features
  tests/pkg_fatfs/Makefile
  tests/pkg_fatfs_vfs/Makefile
  tests/unittests/Makefile
Labels: Ready for CI build, board

#9162 I2C: introduce new API
  drivers/include/periph/i2c.h
  drivers/periph_common/init.c
Labels: API CHANGE, I2C REWORK

#7084 drivers: initial commit of generic AT parser module
  drivers/Makefile.dep
  drivers/at/Makefile
  drivers/at/at.c
  drivers/include/at.h
  tests/driver_at/Makefile
  tests/driver_at/README.md
  tests/driver_at/main.c
Labels: Ready for CI build, new feature

#9167 periph/i2c: add default fallback wrappers I2C functions
  drivers/include/periph/i2c.h
  drivers/periph_common/i2c.c
Labels: I2C REWORK

#9170 tests/driver_at: fix wrong nucleo board name
  tests/driver_at/Makefile
Labels: CI, Ready for CI build, bug

#9169 drivers/periph: fix doxygen groups in implementation
  drivers/periph_common/cpuid.c
  drivers/periph_common/flashpage.c
  drivers/periph_common/spi.c
  drivers/periph_common/timer.c
Labels: Ready for CI build, cleanup, documentation

#9175 cpu/stm32f4: fix periph_cpu.h for f412zg and f446ze
  cpu/stm32f4/include/periph_cpu.h
Labels: Ready for CI build, arm, cleanup

#9176 periph/i2c: fix unspotted typos
  drivers/periph_common/i2c.c
Labels: I2C REWORK

#9177 cpu/cortex_common: fix indention in vector table
  cpu/cortexm_common/vectors_cortexm.c
Labels: Ready for CI build, arm, cleanup

#8753 boards: use marketing name for stm32f769i-disco
  boards/stm32f769i-disco/Makefile
  boards/stm32f769i-disco/Makefile.dep
  boards/stm32f769i-disco/Makefile.features
  boards/stm32f769i-disco/Makefile.include
  boards/stm32f769i-disco/board.c
  boards/stm32f769i-disco/dist/openocd.cfg
  boards/stm32f769i-disco/include/board.h
  boards/stm32f769i-disco/include/gpio_params.h
  boards/stm32f769i-disco/include/periph_conf.h
  tests/unittests/Makefile
Labels: Ready for CI build, board, cleanup

#9178 drivers/periph/i2c: fixes issues in API
  drivers/include/periph/i2c.h
  drivers/periph_common/i2c.c
Labels: driver

#9146 tests/xtimer_now64: Start time measure after print
  tests/xtimer_now64_continuity/main.c
Labels: Ready for CI build, minor, tests, timer

#9183 net/gnrc/rpl: fix doxygen grouping
  sys/net/gnrc/routing/rpl/gnrc_rpl_internal/globals.h
Labels: Ready for CI build, cleanup, documentation

#9020 pkg/tinycbor: Initial import
  pkg/tinycbor/Makefile
  pkg/tinycbor/Makefile.include
  pkg/tinycbor/Makefile.tinycbor
  tests/pkg_tinycbor/Makefile
  tests/pkg_tinycbor/main.c
  tests/pkg_tinycbor/tests/01-run.py
Labels: Ready for CI build, new feature, pkg

#9186 periph_common/i2c: fix ret code handling
  drivers/periph_common/i2c.c
Labels: I2C REWORK

#8769 boards: add Ublox C030-U201
  boards/ublox-c030-u201/Makefile
  boards/ublox-c030-u201/Makefile.dep
  boards/ublox-c030-u201/Makefile.features
  boards/ublox-c030-u201/Makefile.include
  boards/ublox-c030-u201/board.c
  boards/ublox-c030-u201/dist/openocd.cfg
  boards/ublox-c030-u201/include/arduino_pinmap.h
  boards/ublox-c030-u201/include/board.h
  boards/ublox-c030-u201/include/gpio_params.h
  boards/ublox-c030-u201/include/periph_conf.h
  cpu/stm32f4/include/cpu_conf.h
  cpu/stm32f4/include/periph_cpu.h
  cpu/stm32f4/include/vendor/stm32f437xx.h
  cpu/stm32f4/vectors.c
Labels: Ready for CI build, board, new feature

#5914 pkg: ndn-riot: initial import of ndn-riot as a package
  Makefile.dep
  examples/ndn-ping/Makefile
  examples/ndn-ping/README.md
  examples/ndn-ping/main.c
  examples/ndn-ping/ndn_ping.c
  pkg/ndn-riot/Makefile
  pkg/ndn-riot/Makefile.include
  sys/auto_init/auto_init.c
  sys/include/net/ethertype.h
  sys/include/net/gnrc/nettype.h
  sys/net/gnrc/pktdump/gnrc_pktdump.c
Labels: Ready for CI build, new feature, pkg

#9182 xtimer_now64_continuity: Enable test run on CI
  tests/xtimer_now64_continuity/Makefile
Labels: CI: run tests, Ready for CI build, tests

#9147 kinetis: GPIO: Enable the correct IRQn on CM0+
  cpu/kinetis/include/cpu_conf_kinetis.h
  cpu/kinetis/periph/gpio.c
Labels: Ready for CI build, arm, backporting-needed, bug

#8847 Lua support - initial PR
  examples/lua/Makefile
  examples/lua/README.md
  examples/lua/main.c
  examples/lua/main.lua
  pkg/lua/Makefile
  pkg/lua/Makefile.include
  pkg/lua/Makefile.lua
  pkg/lua/doc.txt
  pkg/lua/patches/0001-Remove-dependency-on-nonexistent-RIOT-syscalls.patch
Labels: Ready for CI build, WIP, new feature, pkg

#9192 sys/uart_stdio: remove unused rx_cb from header
  sys/include/uart_stdio.h
Labels: Ready for CI build, cleanup

#9197 doc: fix quick guide command order
  doc/doxygen/src/mainpage.md
Labels: Ready for CI build, bug, documentation

#9196 drivers/i2c: improve common i2c driver
  drivers/periph_common/i2c.c
Labels: I2C REWORK, driver

#9193 drivers/lsm6dsl: adapt to new I2C api
  drivers/lsm6dsl/lsm6dsl.c
Labels: I2C REWORK, driver

#9195 drivers/hts221: adapt to new I2C api
  drivers/hts221/hts221.c
Labels: I2C REWORK, driver

#9046 uuid: Initial import of RFC4122 UUID functions
  Makefile.dep
  sys/include/uuid.h
  sys/uuid/Makefile
  sys/uuid/uuid.c
  tests/unittests/tests-uuid/Makefile
  tests/unittests/tests-uuid/Makefile.include
  tests/unittests/tests-uuid/tests-uuid.c
  tests/unittests/tests-uuid/tests-uuid.h
Labels: Ready for CI build, new feature

#9097 cpu: efm32: fix for cpp support.
  cpu/efm32/Makefile.features
  tests/unittests/Makefile
Labels: Ready for CI build, arm, bug

#9080 newlib-nano: add include directory
  makefiles/libc/newlib.mk
Labels: Ready for CI build, make, minor

#9203 periph/i2c: fix doc typo
  drivers/include/periph/i2c.h
Labels: I2C REWORK, documentation, minor

#9204 drivers/periph_common: init i2c only if module is loaded
  drivers/periph_common/init.c
Labels: I2C REWORK, driver

#9199 drivers/adxl345: update driver to the new I2C API
  drivers/adxl345/adxl345.c
Labels: I2C REWORK, driver

#9151 core/debug: fix debug.h use within ISRs
  core/include/debug.h
Labels: CI: run tests, Ready for CI build, bug, core, minor, quality defect

#9109 net/emcute: use correct number of retries
  sys/net/application_layer/emcute/emcute.c
Labels: Ready for CI build, bug, network

#9133 boards: use RIOTTOOLS variable
  boards/cc2538dk/Makefile.include
  boards/common/remote/Makefile.include
  boards/mulle/Makefile.include
  boards/openmote-cc2538/Makefile.include
  boards/pba-d-01-kw2x/Makefile.include
  boards/ruuvitag/Makefile.include
  boards/teensy31/Makefile.include
  boards/telosb/Makefile.include
  boards/thingy52/Makefile.include
  boards/z1/Makefile.include
Labels: Ready for CI build, board, cleanup, make

#9134 makefiles/tools: use RIOTTOOLS variable
  makefiles/tools/bossa.inc.mk
  makefiles/tools/edbg.inc.mk
  makefiles/tools/jlink.inc.mk
  makefiles/tools/openocd.inc.mk
  makefiles/tools/renode.inc.mk
  makefiles/tools/serial.inc.mk
  makefiles/tools/targets.inc.mk
Labels: Ready for CI build, cleanup, make

#9164 drivers: Various minor improvments of the cc110x driver
  drivers/cc110x/cc110x-netdev.c
  drivers/cc110x/cc110x-rxtx.c
  drivers/cc110x/cc110x.c
  drivers/cc110x/gnrc_cc110x/gnrc_cc110x.c
  drivers/cc110x/include/cc110x-defines.h
  drivers/cc110x/include/cc110x-interface.h
  drivers/cc110x/include/cc110x-internal.h
  drivers/include/cc110x.h
Labels: Ready for CI build, driver, enhancement

#9219 drivers/periph_i2c: i2c_init should return void
  drivers/include/periph/i2c.h
Labels: I2C REWORK

#9221 boards/msbiot: on-board buttons and saul integration
  boards/msbiot/Makefile.dep
  boards/msbiot/board.c
  boards/msbiot/include/board.h
  boards/msbiot/include/gpio_params.h
Labels: Ready for CI build, board, enhancement, saul

#8993 sys/cb_mux: Callback multiplexer
  sys/cb_mux/Makefile
  sys/cb_mux/cb_mux.c
  sys/include/cb_mux.h
  tests/cb_mux/Makefile
  tests/cb_mux/main.c
  tests/cb_mux/tests/01-run.py
  tests/cb_mux_bench/Makefile
  tests/cb_mux_bench/main.c
  tests/cb_mux_bench/tests/01-run.py
Labels: Ready for CI build, new feature

#9217 uncrustify add empty body brackets support
  uncrustify-riot.cfg
Labels: Ready for CI build, enhancement, tools

#8933 kinetis: Refactor PIT timer driver implementation
  cpu/kinetis/periph/timer.c
Labels: Ready for CI build, arm, bug, enhancement, timer

#9222 uncrustify: add check for no newline at end of file
  uncrustify-riot.cfg
Labels: Ready for CI build, enhancement, tools

#9223 sys/trickle: document time interval unit 'ms'
  sys/include/trickle.h
Labels: Ready for CI build, documentation

#9188 gnrc_pktdump: print rest of snip as hex if available
  sys/net/gnrc/pktdump/gnrc_pktdump.c
Labels: CI: run tests, GNRC, Ready for CI build, enhancement, network

#9224 shell_commands/ping6: Fixed bug in calculation of average round trip time
  sys/shell/commands/sc_icmpv6_echo.c
Labels: CI: run tests, GNRC, Ready for CI build, bug

#8814 cpu/kinetis: Refactor LPTMR timer implementation
  boards/frdm-k22f/include/periph_conf.h
  boards/frdm-kw41z/include/periph_conf.h
  boards/mulle/include/periph_conf.h
  cpu/kinetis/Makefile.dep
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/periph/timer.c
Labels: Ready for CI build, arm, bug, enhancement, timer

#9227 drivers/cc110x: Made address format in debug output consistent
  drivers/cc110x/gnrc_cc110x/gnrc_cc110x.c
Labels: Ready for CI build, driver, enhancement

#7184 gnrc_netreg: make message queue requirement more visible
  sys/net/gnrc/netreg/gnrc_netreg.c
  tests/sntp/Makefile
Labels: GNRC, Hack'n'ACK candidate, Ready for CI build, network

#9233 gnrc_tcp: handle link local IPv6 addresses correctly
  sys/include/net/gnrc/tcp.h
  sys/include/net/gnrc/tcp/tcb.h
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  tests/gnrc_tcp_client/Makefile
  tests/gnrc_tcp_client/main.c
  tests/gnrc_tcp_server/Makefile
Labels: API CHANGE, GNRC, Ready for CI build, enhancement, network

#9237 periph/i2c: Editorial changes to i2c.h
  drivers/include/periph/i2c.h
Labels: I2C REWORK, Ready for CI build, documentation, minor

#8841 netif: Initial import of a common network interface API (second try)
  Makefile.dep
  sys/Makefile.include
  sys/include/net/netif.h
  sys/net/gnrc/netif/_netif.c
  sys/net/gnrc/netif/include/netif_types.h
  tests/gnrc_netif/main.c
Labels: API CHANGE, Ready for CI build, network, new feature

#9238 cpu/stm32-common: Add support for DMA to F2/4/7 [BACKPORT]
  boards/nucleo144-f413/Makefile.features
  boards/nucleo144-f413/include/periph_conf.h
  cpu/stm32_common/cpu_init.c
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/dma.c
  cpu/stm32_common/periph/spi.c
  cpu/stm32_common/periph/uart.c
  cpu/stm32f2/include/periph_cpu.h
  cpu/stm32f4/include/periph_cpu.h
  tests/periph_dma/Makefile
  tests/periph_dma/main.c
Labels: I2C REWORK, backport

#5675 sys: random: fortuna csprng
  Makefile.dep
  dist/tools/licenses/patterns/mit-short
  doc/doxygen/riot.doxyfile
  sys/Makefile.dep
  sys/include/random.h
  sys/random/Makefile
  sys/random/fortuna.c
  sys/random/fortuna/LICENSE.txt
  sys/random/fortuna/Makefile
  sys/random/fortuna/fortuna.c
  sys/random/fortuna/fortuna.h
  tests/rng/test.c
Labels: Ready for CI build, enhancement

#8438 boards: define default radio for wsn430 boards
  boards/common/wsn430/include/board_common.h
  boards/wsn430-v1_3b/include/board.h
  boards/wsn430-v1_4/include/board.h
Labels: Ready for CI build, board, driver, help wanted, network

#8930 kinetis: Refactor RTT driver
  boards/frdm-k22f/include/periph_conf.h
  boards/frdm-k64f/include/periph_conf.h
  boards/frdm-kw41z/include/periph_conf.h
  boards/mulle/include/periph_conf.h
  boards/pba-d-01-kw2x/include/periph_conf.h
  boards/teensy31/Makefile.features
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/periph/rtt.c
Labels: Ready for CI build, enhancement, timer

#9247 sys/ps: Use correct define for TLSF information.
  sys/ps/ps.c
Labels: Ready for CI build, bug, minor

#9068 cpu/stm32-common: slightly rework flashpage driver and fix iotlab-m3
  cpu/stm32_common/periph/flash_common.c
  cpu/stm32_common/periph/flashpage.c
Labels: Ready for CI build, arm, board, bug, driver

#9253 gcoap: don't drop observer on re-register
  sys/net/application_layer/gcoap/gcoap.c
Labels: CoAP, Ready for CI build, bug, network

#9242 sys/embunit: Fix incompatible declaration in outputter.
  sys/embunit/CompilerOutputter.c
Labels: Ready for CI build, bug, tests

#9251 Revert "newlib-nano: add include directory"
  makefiles/libc/newlib.mk
Labels: Ready for CI build, arm, make, quality defect
