Repository RIOT-OS/RIOT, pull requests merged in 2019-07, with the labels that each got.

#11764 .gitignore: add .mypy_cache/
  .gitignore
Labels: CI: ready for build, Type: cleanup

#11737 gnrc_tftp: Fix out-of-bounds memory access when comparing modes
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11749 cpu/stm32f3: add support for flashpage and flashpage_raw
  cpu/stm32_common/periph/flashpage.c
  cpu/stm32f3/Makefile.features
  cpu/stm32f3/include/cpu_conf.h
Labels: Area: cpu, Area: drivers, CI: ready for build, Type: new feature

#11751 boards/stm32f3: add support for riotboot feature
  boards/nucleo-f302r8/Makefile.features
  boards/nucleo-f303k8/Makefile.features
  boards/nucleo-f303re/Makefile.features
  boards/nucleo-f303ze/Makefile.features
  boards/nucleo-f334r8/Makefile.features
Labels: Area: boards, CI: ready for build, Type: new feature

#11750 cpu/stm32l{1,4}: refactor flashpage numof macros
  cpu/stm32l1/include/cpu_conf.h
  cpu/stm32l4/include/cpu_conf.h
Labels: Area: cpu, Area: drivers, CI: ready for build, Type: cleanup

#11478 Makefile.features: prerequisites for moving CPU/CPU_MODEL to boards/Makefile.features
  Makefile.dep
  Makefile.features
  Makefile.include
  makefiles/info-global.inc.mk
  makefiles/vars.inc.mk
Labels: Area: boards, Area: build system, CI: ready for build, Process: API change, Process: needs >1 ACK

#11675 boards/common: use Makefile.features
  boards/avsextrem/Makefile.features
  boards/blackpill/Makefile.features
  boards/bluepill/Makefile.features
  boards/common/msba2/Makefile.features
  boards/common/remote/Makefile.features
  boards/firefly/Makefile.features
  boards/msb-430/Makefile.features
  boards/msb-430h/Makefile.features
  boards/msba2/Makefile.features
  boards/remote-pa/Makefile.features
  boards/remote-reva/Makefile.features
  boards/remote-revb/Makefile.features
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11775 riotboot/flashwrite: fix typo in doxygen documentation
  sys/include/riotboot/flashwrite.h
Labels: Area: doc, CI: ready for build, Type: cleanup

#11774 murdock: chunked get_jobs()
  .murdock
Labels: Area: CI, CI: ready for build

#11773 gnrc_tftp: initialize unititialized 'tftp_context_t'
  sys/include/net/gnrc/tftp.h
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11778 gnrc_tftp: add deprecation note
  sys/include/net/gnrc/tftp.h
Labels: Area: doc, Area: network, CI: ready for build, Impact: minor, Type: cleanup

#11779 gcoap: remove all references to `gcoap_req_send2()`
  examples/gcoap/gcoap_cli.c
  sys/include/net/gcoap.h
  sys/net/application_layer/cord/ep/cord_ep.c
  sys/net/application_layer/cord/epsim/cord_epsim.c
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Type: cleanup

#11678 drivers/sx127x: fix device reset
  drivers/sx127x/include/sx127x_internal.h
  drivers/sx127x/sx127x.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11780 gnrc_pktbuf: remove gnrc_pktbuf_duplicate_upto
  LOSTANDFOUND.md
  sys/include/net/gnrc/pktbuf.h
  sys/net/gnrc/pktbuf_malloc/gnrc_pktbuf_malloc.c
  sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c
Labels: Area: network, CI: ready for build, Type: cleanup

#11745 gnrc_ipv6: remove obsolete and harmful reception code
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  tests/gnrc_ipv6_fwd_w_sub/Makefile
  tests/gnrc_ipv6_fwd_w_sub/README.md
  tests/gnrc_ipv6_fwd_w_sub/common.h
  tests/gnrc_ipv6_fwd_w_sub/main.c
  tests/gnrc_ipv6_fwd_w_sub/mockup_netif.c
  tests/gnrc_ipv6_fwd_w_sub/tests/01-run.py
Labels: Area: network, CI: ready for build, CI: run tests, Type: bug, Type: cleanup

#11786 gnrc_tftp: set port on server init
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
Labels: Area: network, CI: ready for build, Reviewed: 3-testing, Type: bug

#11768 boards/lobaro-lorabox: add sx1272 radio driver dependency to netdev_default
  boards/lobaro-lorabox/Makefile.dep
  examples/default/Makefile
Labels: Area: LoRa, Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#11758 cpu/stm32: optimize stop mode for stm32f*
  cpu/stm32_common/cpu_init.c
Labels: Area: pm, CI: ready for build, CI: run tests, Platform: ARM, Type: enhancement

#11776 stm32_common/flashpage: fix stm32l4 erase error
  cpu/stm32_common/periph/flashpage.c
Labels: CI: ready for build, Platform: ARM, Type: bug

#11701 boards/stm32l4: add riotboot support
  boards/b-l475e-iot01a/Makefile.features
  boards/nucleo-l432kc/Makefile.features
  boards/nucleo-l433rc/Makefile.features
  boards/nucleo-l452re/Makefile.features
  boards/nucleo-l496zg/Makefile.features
  boards/stm32l476g-disco/Makefile.features
Labels: Area: OTA, Area: boards, CI: ready for build

#11769 ble/softdevice: add ble_nordic_softdevice feature
  Makefile.dep
  boards/acd52832/Makefile.features
  boards/common/nrf52/Makefile.nrf52832.features
  boards/nrf52832-mdk/Makefile.features
  boards/nrf52dk/Makefile.features
  boards/ruuvitag/Makefile.features
  boards/thingy52/Makefile.features
Labels: Area: BLE, CI: ready for build, Type: enhancement

#11790 stm32_common/flash_common: fix _wait_for_pending_isr()
  cpu/stm32_common/periph/flash_common.c
  cpu/stm32_common/periph/flashpage.c
Labels: CI: ready for build, Platform: ARM, Type: bug, Type: cleanup

#11762 make: add termdeps target
  .murdock
  Makefile.include
Labels: Area: tests, CI: ready for build, CI: run tests

#11791 net/mqttsn: fix client ID length to comply to the standard
  sys/include/net/asymcute.h
  sys/include/net/emcute.h
  sys/include/net/mqttsn.h
  sys/net/application_layer/asymcute/asymcute.c
  sys/net/application_layer/emcute/emcute.c
Labels: Area: network, CI: ready for build, Type: enhancement

#11559 cpu/nrf5x_common: map hwrng to SoC library if SoftDevice is present
  cpu/nrf5x_common/periph/hwrng.c
Labels: Area: BLE, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10633 drivers: stm32 eth peripheral driver
  boards/nucleo-f767zi/Makefile.dep
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-f767zi/include/periph_conf.h
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/eth.c
  drivers/Makefile.dep
  drivers/include/stm32_eth.h
  drivers/stm32_eth/Makefile
  drivers/stm32_eth/doc.txt
  drivers/stm32_eth/stm32_eth.c
  examples/default/Makefile
  sys/auto_init/auto_init.c
  sys/auto_init/netif/auto_init_stm32_eth.c
Labels: Area: boards, Area: cpu, Area: drivers, Area: tests, CI: ready for build, Platform: ARM, Type: new feature

#11777 tests/pkg_semtech-loramac: don't init the mac from main
  tests/pkg_semtech-loramac/main.c
Labels: Area: LoRa, Area: tests, CI: ready for build, Type: cleanup

#11314 cpu/stm32l1: fix issue when writing NULL bytes to eeprom
  cpu/stm32_common/periph/eeprom.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: bug

#11796 gnrc/pktbuf: remove obsolete sys/uio.h include
  sys/net/gnrc/pktbuf/gnrc_pktbuf.c
Labels: Area: network, CI: ready for build, Type: cleanup

#11582 boards/microbit: add QEMU emulation
  boards/microbit/Makefile.include
  boards/microbit/doc.txt
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#11798 sx127x: remove MULTIDIO and fix missing interrupt handling
  boards/sensebox_samd21/Makefile.include
  boards/sensebox_samd21/include/board.h
  drivers/include/sx127x.h
  drivers/sx127x/include/sx127x_params.h
  drivers/sx127x/sx127x.c
  drivers/sx127x/sx127x_netdev.c
Labels: Area: LoRa, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug, Type: enhancement

#11600 nanocbor: Initial support for the nanocbor package
  pkg/nanocbor/Makefile
  pkg/nanocbor/Makefile.include
  pkg/nanocbor/Makefile.nanocbor
  pkg/nanocbor/doc.txt
  pkg/nanocbor/include/nanocbor/config.h
  tests/pkg_nanocbor/Makefile
  tests/pkg_nanocbor/main.c
  tests/pkg_nanocbor/tests/01-run.py
Labels: Area: pkg, CI: ready for build, CI: run tests, Type: new feature

#11810 pkg/nanocbor: bump version to resolve 8/16 bit compilation issue
  pkg/nanocbor/Makefile
  pkg/nanocbor/doc.txt
  tests/pkg_nanocbor/Makefile
Labels: Area: pkg, CI: ready for build, CI: run tests

#8939 boards/nucleo-l4r5zi: initial basic support
  boards/common/nucleo144/include/board.h
  boards/nucleo-l4r5zi/Makefile
  boards/nucleo-l4r5zi/Makefile.dep
  boards/nucleo-l4r5zi/Makefile.features
  boards/nucleo-l4r5zi/Makefile.include
  boards/nucleo-l4r5zi/doc.txt
  boards/nucleo-l4r5zi/include/periph_conf.h
  cpu/stm32_common/stm32_mem_lengths.mk
  cpu/stm32l4/include/cpu_conf.h
  cpu/stm32l4/include/vendor/stm32l4r5xx.h
  cpu/stm32l4/vectors.c
Labels: Area: boards, CI: ready for build, Platform: ARM

#11802 nanocoap: make coap_get_block2() actually fill struct
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: network, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#11720 cpu/efm32/periph_gpio: fix wrong GPIO_IntDisable() in gpio_init_int()
  cpu/efm32/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: bug

#11817 pkg/openthread: remove openthread config header from contrib
  pkg/openthread/contrib/platform_logging.c
  pkg/openthread/contrib/platform_radio.c
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Type: bug

#11690 riotboot: set FLASHFILE to RIOTBOOT_EXTENDED_BIN if riotboot feature is used
  bootloaders/riotboot/README.md
  makefiles/boot/riotboot.mk
  tests/riotboot/Makefile
  tests/riotboot_flashwrite/Makefile
Labels: Area: build system, CI: ready for build, CI: run tests

#11793 boards/doc: Add a guide to find physical board pins
  boards/doc.txt
Labels: Area: doc, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11799 pkg/semtech-loramac: handle rx started event in mac event callback
  pkg/semtech-loramac/contrib/semtech_loramac.c
Labels: Area: LoRa, Area: pkg, CI: ready for build, Impact: minor

#11805 sys/riotboot: add initial image digest verification
  sys/include/riotboot/flashwrite.h
  sys/riotboot/flashwrite_verify_sha256.c
Labels: Area: network, CI: ready for build

#11804 stm32_common/stm32_mem_length: fix RAM_LEN for stm32l1xx-A/X cpu's
  boards/lobaro-lorabox/Makefile.include
  cpu/stm32_common/stm32_mem_lengths.mk
  cpu/stm32l1/include/cpu_conf.h
  cpu/stm32l1/include/periph_cpu.h
Labels: CI: ready for build, Platform: ARM, Type: cleanup

#11743 murdock: introduce 'TEST_ON_CI_BLACKLIST'
  makefiles/murdock.inc.mk
  tests/xtimer_now64_continuity/Makefile
  tests/xtimer_usleep/Makefile
Labels: Area: tests, CI: disable test cache, CI: ready for build, CI: run tests, Type: new feature

#11829 make: introduce $(CLEAN)
  Makefile.include
Labels: Area: build system, CI: ready for build, Type: enhancement

#11834 nanocbor: fix doc grouping of nanocbor_config
  pkg/nanocbor/include/nanocbor/config.h
Labels: Area: doc, Area: pkg, CI: ready for build, Type: cleanup

#11831 boards/mips-malta: remove board.
  LOSTANDFOUND.md
  boards/mips-malta/Makefile
  boards/mips-malta/Makefile.features
  boards/mips-malta/Makefile.include
  boards/mips-malta/doc.txt
  boards/mips-malta/include/board.h
  boards/mips-malta/include/periph_conf.h
  boards/mips-malta/malta.c
  examples/gnrc_border_router/Makefile
  examples/lua_REPL/Makefile
  examples/lua_basic/Makefile
  tests/driver_dynamixel/Makefile
  tests/driver_feetech/Makefile
  tests/gnrc_ipv6_ext/Makefile
  tests/gnrc_rpl_srh/Makefile
  tests/gnrc_sock_dns/Makefile
  tests/pkg_ubasic/Makefile
  tests/slip/Makefile
Labels: CI: ready for build, Platform: MIPS, Type: cleanup

#11697 murdock: allow multiple files to be sent along with a test job
  .murdock
  Makefile.include
  makefiles/murdock.inc.mk
Labels: Area: CI, CI: disable test cache, CI: ready for build, CI: run tests

#11816 dist/tools/ethos: add setup_network.sh script
  dist/tools/ethos/README.md
  dist/tools/ethos/setup_network.sh
Labels: Area: network, Area: tools, CI: ready for build, Type: new feature

#11707 tests/riotboot: add automatic test
  makefiles/boot/riotboot.mk
  tests/riotboot/Makefile
  tests/riotboot/README.md
  tests/riotboot/tests/01_test_slot_selection.sh
  tests/riotboot/tests/common/assert_slotnum.py
Labels: Area: tests, CI: disable test cache, CI: ready for build, CI: run tests

#11803 sys/riotboot: misc fixes
  makefiles/boot/riotboot.mk
Labels: Area: build system, Area: network, CI: disable test cache, CI: ready for build, CI: run tests, Type: bug

#11757 Makefile.include: do not build HEXFILE by default anymore
  Makefile.include
Labels: Area: build system, CI: ready for build, Type: cleanup

#11527 drivers/include: add header definition for wdt
  drivers/include/periph/wdt.h
Labels: CI: ready for build, Discussion: RFC, Type: new feature

#11847 pkg/semtech_loramac: fix memcpy to uninitialized pointer
  pkg/semtech-loramac/contrib/semtech_loramac_getset.c
Labels: Area: LoRa, CI: ready for build, Process: needs backport, Type: bug

#11766 gnrc_tftp: Add minimum packet length check
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: enhancement

#11845 makefiles: documentation for hexfile binfile
  makefiles/info.inc.mk
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 5-documentation, Type: cleanup

#11733 boards/native: fix undefinied reference to qdecs_value
  boards/native/drivers/native-qdec.c
  boards/native/include/board.h
Labels: Area: build system, Area: drivers, CI: ready for build, Platform: native, Type: bug

#11850 gnrc_tftp: Add minimum packet length check [backport 2019.07]
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#11848 pkg/semtech_loramac: fix memcpy to uninitialized pointer [backport 2019.07]
  pkg/semtech-loramac/contrib/semtech_loramac_getset.c
Labels: Area: LoRa, CI: ready for build, Process: release backport, Type: bug

#11841 dist/tools/git/git-cache: bump version
  dist/tools/git/git-cache
Labels: Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11856 dist/jlink.sh: Allow overwriting the 'reset' commands
  dist/tools/jlink/jlink.sh
Labels: Area: tools, CI: disable test cache, CI: ready for build, CI: run tests, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11855 tests/devfs: move tests-devfs out of unittests
  tests/devfs/Makefile
  tests/devfs/main.c
  tests/devfs/tests/01-run.py
  tests/unittests/tests-devfs/Makefile
  tests/unittests/tests-devfs/Makefile.include
  tests/unittests/tests-devfs/tests-devfs.h
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11858 tests/devfs: move tests-devfs out of unittests [backport 2019.07]
  tests/devfs/Makefile
  tests/devfs/main.c
  tests/devfs/tests/01-run.py
  tests/unittests/tests-devfs/Makefile
  tests/unittests/tests-devfs/Makefile.include
  tests/unittests/tests-devfs/tests-devfs.h
Labels: Area: tests, CI: ready for build, CI: run tests, Process: release backport, Type: cleanup

#11801 pkg/libcose: bump version
  pkg/libcose/Makefile
  pkg/libcose/Makefile.dep
  pkg/libcose/patches/0001-RIOT-Use-RIOT-random_bytes-function-instead-of-rando.patch
  tests/pkg_libcose/main.c
Labels: Area: pkg, CI: disable test cache, CI: ready for build, CI: run tests, Type: enhancement

#11853 dist/pythonlibs/testrunner: dynamic changing of test timeout
  dist/pythonlibs/testrunner/__init__.py
Labels: Area: tests, Area: tools, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11849 boards/hamilton: remove OFLAGS '-O binary'
  boards/hamilton/Makefile.include
Labels: Area: boards, CI: ready for build, Type: cleanup

#11854 cpu/sam0: update doc.txt with new MCU families
  cpu/sam0_common/doc.txt
Labels: Area: doc, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 5-documentation

#11839 net/nanocoap: document internal option functions
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: cleanup

#11863 tests/unittests: rename set_up/tear_down function
  tests/unittests/README.md
Labels: Area: doc, Area: tests, CI: ready for build, Discussion: finished, Type: enhancement

#11869 examples/lorawan: fix semtech_loramac_send TX ret code
  examples/lorawan/main.c
  pkg/semtech-loramac/doc.txt
  pkg/semtech-loramac/include/semtech_loramac.h
Labels: Area: LoRa, Area: doc, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10717 sys/evtimer: refactor evtimer add()/del()
  sys/evtimer/evtimer.c
  tests/evtimer_msg/main.c
  tests/evtimer_msg/tests/01-run.py
Labels: Area: timers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11873 examples/lorawan: fix semtech_loramac_send TX ret code [backport 2019.07]
  examples/lorawan/main.c
  pkg/semtech-loramac/doc.txt
  pkg/semtech-loramac/include/semtech_loramac.h
Labels: Area: LoRa, Area: doc, CI: ready for build, Process: release backport, Type: bug

#11564 sys: add credman (D)TLS credential management module
  sys/Makefile
  sys/include/net/credman.h
  sys/net/credman/Makefile
  sys/net/credman/credman.c
  tests/unittests/tests-credman/Makefile
  tests/unittests/tests-credman/Makefile.include
  tests/unittests/tests-credman/credentials.h
  tests/unittests/tests-credman/tests-credman.c
  tests/unittests/tests-credman/tests-credman.h
Labels: Area: network, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11878 esp32: define PERIPH_TIMER_PROVIDES_SET
  cpu/esp32/include/periph_cpu.h
Labels: Area: timers, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11846 cpu/mips32r2_generic: remove cpu.
  LOSTANDFOUND.md
  cpu/mips32r2_generic/Makefile
  cpu/mips32r2_generic/Makefile.features
  cpu/mips32r2_generic/Makefile.include
  cpu/mips32r2_generic/include/cpu.h
  cpu/mips32r2_generic/include/cpu_conf.h
  cpu/mips32r2_generic/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Platform: MIPS, Type: cleanup

#11833 boards/openmote-b: Fix flashing issues
  boards/openmote-b/Makefile.include
  boards/openmote-b/board.c
  boards/openmote-b/dist/hw_reset.seg
  boards/openmote-b/doc.txt
  boards/openmote-b/include/board.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#11883 sys/Makefile.include: check for newlib_nano instead of USE_NANO_SPECS
  makefiles/arch/cortexm.inc.mk
  sys/Makefile.include
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11880 pkg/semtech-loramac: update documentation
  pkg/semtech-loramac/include/semtech_loramac.h
  sys/shell/commands/sc_loramac.c
Labels: Area: LoRa, Area: doc, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11886 sys/riotboot: add missing assert.h
  sys/riotboot/flashwrite.c
Labels: Area: sys, CI: ready for build, Type: bug

#11901 release-notes.txt: add notes for 2019.07 release
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: needs backport, Process: release cycle

#11902 release-notes.txt: add notes for 2019.07 release [backport 2019.07]
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, Process: release cycle

#11905 VERSION: add 2019.07 version file
  VERSION
Labels: Area: doc, CI: ready for build, Process: release cycle

#11912 gnrc_netif_hdr: add setter for netif (minimal approach)
  sys/include/net/gnrc/netif/hdr.h
  sys/net/gnrc/netif/ethernet/gnrc_netif_ethernet.c
  tests/gnrc_netif/tests/01-run.py
Labels: Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11893 stm32_common/gpio: remove unused guard
  cpu/stm32_common/periph/gpio.c
Labels: CI: ready for build, Platform: ARM, Type: cleanup

#11914 gnrc_netif_ieee802154: use gnrc_netif_hdr_set_netif()
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11918 gnrc_ipv6: use gnrc_netif_hdr_get/set_netif()
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
Labels: Area: network, CI: ready for build, CI: run tests, Type: cleanup

#11686 tests/lua_loader: run the test in CI
  tests/lua_loader/Makefile
Labels: Area: tests, CI: disable test cache, CI: ready for build, CI: run tests

#11881 makefiles: Introduce GIT_VERSION and use it for RIOT_VERSION
  Makefile.include
  makefiles/git_version.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#11906 uniflash.inc.mk: add variables for configuration files
  makefiles/tools/uniflash.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#11765 net/gcoap: add/publish link format attributes for a resource
  examples/gcoap/gcoap_cli.c
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11876 drivers/dht: Bugfixes
  drivers/dht/dht.c
  drivers/dht/dht_saul.c
  drivers/include/dht.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11925 tests/driver_sx127x: Add reset command
  tests/driver_sx127x/main.c
Labels: Area: LoRa, Area: drivers, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11928 sys/event: fix of compilation problems
  sys/include/event.h
  tests/events/main.c
Labels: CI: ready for build, Impact: minor, Type: bug

#11896 cpu/stm32l4/stmclk: fix HSE overwride when MSI is enabled
  cpu/stm32l4/stmclk.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: bug

#11002 net/nanocoap: Buffer API Block implementation
  examples/nanocoap_server/coap_handler.c
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11916 gnrc_icmpv6_echo: use gnrc_netif_hdr_set_netif()
  sys/net/gnrc/network_layer/icmpv6/echo/gnrc_icmpv6_echo.c
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11926 gnrc_cc110x: use gnrc_netif_hdr_set_netif()
  drivers/cc110x/gnrc_cc110x/gnrc_cc110x.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11658 drivers/rn2xx3: fix incorrectly terminated hex strings when writing an array of bytes
  drivers/rn2xx3/rn2xx3_internal.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#11922 cpu/esp32: activate cpp feature
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
Labels: Area: C++, Area: boards, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#11239 cpu/esp32/freertos: fix semaphore take
  cpu/esp32/freertos/semphr.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#11024 net/nanocoap: Buffer API Block helper functions
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Type: cleanup
