Repository RIOT-OS/RIOT, pull requests merged in 2019-08, with the labels that each got.

#11937 gitignore: add clangd compile flags
  .gitignore
Labels: Area: toolchain, CI: ready for build

#10929 cpu/esp*: esp_now and esp_wifi cleanup
  cpu/esp32/Makefile.include
  cpu/esp32/esp-wifi/esp_wifi_netdev.c
  cpu/esp32/include/sdk_conf.h
  cpu/esp8266/Makefile.include
  cpu/esp8266/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/esp-now/esp_now_gnrc.c
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/esp_common/esp-now/esp_now_params.h
  cpu/esp_common/include/cpu_conf.h
  sys/auto_init/auto_init.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11949 pkg/nimble: bump version to 997dad8
  pkg/nimble/Makefile
  tests/nimble_l2cap_server/nimble.inc.mk
Labels: Area: BLE, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11576 posix_sockets: set read/write permissions for socket fd
  sys/posix/sockets/posix_sockets.c
Labels: Area: POSIX, Area: fs, Area: network, CI: ready for build, Type: bug

#11747 examples/emcute_mqttsn: allow override of EMCUTE_ID
  examples/emcute_mqttsn/Makefile
  examples/emcute_mqttsn/README.md
  examples/emcute_mqttsn/main.c
Labels: CI: ready for build, Type: enhancement

#11784 gcoap: don't call random_uint32_range() when COAP_ACK_VARIANCE=0
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Type: bug

#11787 gcoap: allow for retransmission backoff to be turned off
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 5-documentation, Type: enhancement

#11953 compile_and_test_for_board: add --with-test-only
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11647 cpu/sam0_common: add hwrng driver
  cpu/sam0_common/periph/hwrng.c
  cpu/samd5x/Makefile.features
  cpu/saml1x/Makefile.features
  cpu/saml21/Makefile.features
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11952 pkg/ccn-lite: bump version and adapt shell functions accordingly
  pkg/ccn-lite/Makefile
  sys/shell/commands/sc_ccnl.c
Labels: Area: network, Area: pkg, CI: ready for build, Type: bug

#11919 cpu/cortexm_common: replace irq_restore by __set_PRIMASK for stm32l152re
  cpu/cortexm_common/include/cpu.h
Labels: Area: pm, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11897 cpu/stm32_common: uniformize define alignments
  cpu/stm32_common/cpu_common.c
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/uart.c
  cpu/stm32_common/stmclk.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: cleanup

#11345 boards/stm32*: remove useless RTC_NUMOF defines
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/i-nucleo-lrwan1/include/periph_conf.h
  boards/lobaro-lorabox/include/periph_conf.h
  boards/lsn50/include/periph_conf.h
  boards/nucleo-f030r8/Makefile.features
  boards/nucleo-f030r8/include/periph_conf.h
  boards/nucleo-f070rb/Makefile.features
  boards/nucleo-f070rb/include/periph_conf.h
  boards/nucleo-f072rb/Makefile.features
  boards/nucleo-f072rb/include/periph_conf.h
  boards/nucleo-f091rc/Makefile.features
  boards/nucleo-f091rc/include/periph_conf.h
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f401re/include/periph_conf.h
  boards/nucleo-f412zg/include/periph_conf.h
  boards/nucleo-f413zh/include/periph_conf.h
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l053r8/include/periph_conf.h
  boards/nucleo-l073rz/include/periph_conf.h
  boards/nucleo-l152re/include/periph_conf.h
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-l452re/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nucleo-l496zg/include/periph_conf.h
  boards/nz32-sc151/include/periph_conf.h
  boards/pyboard/include/periph_conf.h
  boards/stm32f769i-disco/include/periph_conf.h
  boards/stm32l476g-disco/include/periph_conf.h
  boards/ublox-c030-u201/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#11797 tests: add Nordic SoftDevice test app
  tests/nordic_softdevice/Makefile
  tests/nordic_softdevice/README.md
  tests/nordic_softdevice/main.c
  tests/nordic_softdevice/tests/01-run.py
Labels: Area: BLE, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11489 stm32l1/vendor: update vendor files to v2.3.0
  cpu/stm32_common/periph/dma.c
  cpu/stm32l1/include/cpu_conf.h
  cpu/stm32l1/include/vendor/stm32l151xb.h
  cpu/stm32l1/include/vendor/stm32l151xba.h
  cpu/stm32l1/include/vendor/stm32l151xc.h
  cpu/stm32l1/include/vendor/stm32l152xe.h
  cpu/stm32l1/include/vendor/stm32l1xx.h
  cpu/stm32l1/periph/adc.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: enhancement

#11812 boards/nucleo*: move doxygen group definition to doc.txt
  boards/nucleo-f412zg/doc.txt
  boards/nucleo-f412zg/include/periph_conf.h
  boards/nucleo-f413zh/doc.txt
  boards/nucleo-f413zh/include/periph_conf.h
  boards/nucleo-f429zi/doc.txt
  boards/nucleo-f429zi/include/periph_conf.h
  boards/nucleo-f722ze/doc.txt
  boards/nucleo-f722ze/include/periph_conf.h
  boards/nucleo-f746zg/doc.txt
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/doc.txt
  boards/nucleo-f767zi/include/periph_conf.h
  boards/nucleo-l031k6/doc.txt
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l432kc/doc.txt
  boards/nucleo-l432kc/include/periph_conf.h
  boards/nucleo-l433rc/doc.txt
  boards/nucleo-l433rc/include/periph_conf.h
Labels: Area: boards, Area: doc, CI: ready for build, Impact: minor

#11962 tests/pkg_qdsa: increase timeout
  tests/pkg_qdsa/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: bug

#11939 boards/common/nrf52: add common nrf52 i2c config
  boards/common/nrf52/include/cfg_i2c_default.h
  boards/common/nrf52xxxdk/include/periph_conf_common.h
  boards/common/particle-mesh/include/periph_conf_common.h
  boards/nrf52840-mdk/include/periph_conf.h
  boards/reel/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#11542 stm32-common/spi: allow custom pin modes on spi to minimize power consumption
  boards/b-l072z-lrwan1/Makefile.features
  boards/i-nucleo-lrwan1/Makefile.features
  boards/lobaro-lorabox/Makefile.features
  boards/lsn50/Makefile.features
  boards/nucleo-l073rz/Makefile.features
  boards/nucleo-l152re/Makefile.features
  boards/nz32-sc151/Makefile.features
  cpu/stm32_common/periph/spi.c
  drivers/Makefile.dep
  drivers/include/periph/spi.h
  drivers/sx127x/sx127x.c
Labels: Area: cpu, Area: drivers, Area: pm, CI: ready for build

#11959 boards/{blue,black}pill: Fixed flashing
  boards/common/stm32f103c8/dist/openocd.cfg
Labels: Area: boards, CI: ready for build, Impact: minor, Type: bug

#11964 cpu/esp32: fix of the return code in esp_wifi_send
  cpu/esp32/esp-wifi/esp_wifi_netdev.c
Labels: Area: cpu, Area: network, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11966 drivers/periph_wdt: small doxygen fixes
  drivers/include/periph/wdt.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#11832 cpu/stm32l1: optimize power consumption
  cpu/stm32_common/cpu_init.c
Labels: Area: pm, CI: ready for build, Platform: ARM, Type: enhancement

#11814 doc: remove duplicate definitions of Doxygen groups
  boards/arduino-leonardo/include/board.h
  boards/common/esp32/board_common.c
  boards/common/esp8266/board_common.c
  boards/esp8266-esp-12x/include/board.h
  boards/esp8266-olimex-mod/include/board.h
  boards/esp8266-sparkfun-thing/include/board.h
  boards/nucleo-f030r8/include/periph_conf.h
  boards/nucleo-f070rb/include/periph_conf.h
  boards/nucleo-f072rb/include/periph_conf.h
  boards/nucleo-f091rc/include/periph_conf.h
  boards/nucleo-f103rb/include/periph_conf.h
  boards/nucleo-f302r8/include/periph_conf.h
  boards/nucleo-f303k8/include/periph_conf.h
  boards/nucleo-f303re/include/periph_conf.h
  boards/nucleo-f303ze/include/periph_conf.h
  boards/nucleo-f334r8/include/periph_conf.h
  boards/nucleo-f401re/include/periph_conf.h
  boards/nucleo-f410rb/include/periph_conf.h
  boards/nucleo-f411re/include/periph_conf.h
  boards/nucleo-f446re/include/periph_conf.h
  boards/nucleo-f446ze/include/periph_conf.h
  boards/nucleo-l053r8/include/periph_conf.h
  boards/nucleo-l073rz/include/periph_conf.h
  boards/nucleo-l152re/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/stm32f769i-disco/include/board.h
  core/include/native_sched.h
  cpu/efm32/include/cpu_conf.h
  pkg/lwip/doc.txt
  pkg/lwip/include/lwip.h
  sys/hashes/sha1.c
  sys/include/net/gnrc/tcp/config.h
  sys/include/net/gnrc/tcp/tcb.h
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
  sys/net/gnrc/transport_layer/tcp/internal/common.h
  sys/net/gnrc/transport_layer/tcp/internal/eventloop.h
  sys/net/gnrc/transport_layer/tcp/internal/fsm.h
  sys/net/gnrc/transport_layer/tcp/internal/option.h
  sys/net/gnrc/transport_layer/tcp/internal/pkt.h
  sys/net/gnrc/transport_layer/tcp/internal/rcvbuf.h
  sys/posix/pthread/pthread.c
Labels: Area: doc, CI: ready for build, Type: cleanup

#11572 boards/native: fix overriden INCLUDES leading to build failure
  boards/native/Makefile
  boards/native/drivers/Makefile
Labels: Area: build system, CI: ready for build, Platform: native, Type: bug

#11967 cpu/esp32: cleanup of Makefile.include to fix undefined symbols
  cpu/esp32/Makefile.include
  cpu/esp32/syscalls.c
  cpu/esp32/vendor/esp-idf/Makefile
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11963 cpu/efm32: add flashpage_raw
  cpu/efm32/Makefile.features
  cpu/efm32/include/cpu_conf.h
  cpu/efm32/periph/flashpage.c
Labels: Area: OTA, CI: ready for build, Type: new feature

#11809 boards/stm32: introduce common timer configurations and use them where possible
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/common/stm32/include/cfg_timer_tim2.h
  boards/common/stm32/include/cfg_timer_tim5.h
  boards/i-nucleo-lrwan1/include/periph_conf.h
  boards/lobaro-lorabox/Makefile.include
  boards/lobaro-lorabox/include/periph_conf.h
  boards/lsn50/include/periph_conf.h
  boards/nucleo-f031k6/include/periph_conf.h
  boards/nucleo-f042k6/include/periph_conf.h
  boards/nucleo-f302r8/include/periph_conf.h
  boards/nucleo-f303k8/include/periph_conf.h
  boards/nucleo-f303re/include/periph_conf.h
  boards/nucleo-f303ze/include/periph_conf.h
  boards/nucleo-f334r8/include/periph_conf.h
  boards/nucleo-f401re/include/periph_conf.h
  boards/nucleo-f410rb/include/periph_conf.h
  boards/nucleo-f411re/include/periph_conf.h
  boards/nucleo-f412zg/include/periph_conf.h
  boards/nucleo-f413zh/include/periph_conf.h
  boards/nucleo-f429zi/include/periph_conf.h
  boards/nucleo-f446re/include/periph_conf.h
  boards/nucleo-f446ze/include/periph_conf.h
  boards/nucleo-f722ze/include/periph_conf.h
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/include/periph_conf.h
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l053r8/include/periph_conf.h
  boards/nucleo-l073rz/include/periph_conf.h
  boards/nucleo-l152re/include/periph_conf.h
  boards/nucleo-l432kc/include/periph_conf.h
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-l452re/include/periph_conf.h
  boards/nz32-sc151/Makefile.include
  boards/nz32-sc151/include/periph_conf.h
  boards/stm32f429i-disc1/include/periph_conf.h
  boards/stm32f769i-disco/include/periph_conf.h
  boards/ublox-c030-u201/Makefile.include
  boards/ublox-c030-u201/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11971 cpu/esp32: fix of conditional linker options for esp_idf_heap
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11946 cpu/esp32: lwIP netdev
  cpu/esp32/esp-wifi/esp_wifi_netdev.c
  pkg/lwip/contrib/lwip.c
  pkg/lwip/include/lwipopts.h
Labels: Area: network, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11956 cpu/nrf5x_common: add flashpage_raw_support
  cpu/nrf51/include/cpu_conf.h
  cpu/nrf52/include/cpu_conf.h
  cpu/nrf5x_common/Makefile.features
  cpu/nrf5x_common/periph/flashpage.c
Labels: Area: OTA, CI: disable test cache, CI: ready for build, CI: run tests, Type: new feature

#11974 boards: remove unused XTIMER_SHOOT_EARLY defines
  boards/common/iotlab/include/board_common.h
  boards/common/nucleo/include/board_nucleo.h
  boards/msba2/include/board.h
Labels: Area: timers, CI: ready for build, Type: cleanup

#10271 Fix return value of aes_init for keys of incorrect length
  sys/crypto/aes.c
  sys/include/crypto/aes.h
  tests/unittests/tests-crypto/tests-crypto-aes.c
  tests/unittests/tests-crypto/tests-crypto-cipher.c
Labels: Area: crypto, CI: ready for build, Process: API change, Type: bug

#11463 pkg/nimble: adapt to nrf51 family
  boards/common/nrf51/Makefile.features
  boards/common/nrf51/Makefile.include
  boards/common/nrf51/include/board_common.h
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/drivers.nrf5x.mk
  tests/nimble_l2cap_server/nimble.inc.mk
Labels: Area: BLE, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11972 cpu/saml1x: fix adc resolution issue
  cpu/saml1x/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Type: enhancement

#11965 credman: add documentation for enum credman_type_t
  sys/include/net/credman.h
Labels: Area: doc, Area: security, CI: ready for build, Type: enhancement

#11000 gnrc_sixlowpan_frag: initial import of the VRB
  sys/include/net/gnrc/sixlowpan/config.h
  sys/include/net/gnrc/sixlowpan/frag/vrb.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/Makefile
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/gnrc_sixlowpan_frag_vrb.c
  tests/unittests/tests-gnrc_sixlowpan_frag_vrb/Makefile
  tests/unittests/tests-gnrc_sixlowpan_frag_vrb/Makefile.include
  tests/unittests/tests-gnrc_sixlowpan_frag_vrb/tests-gnrc_sixlowpan_frag_vrb.c
  tests/unittests/tests-gnrc_sixlowpan_frag_vrb/tests-gnrc_sixlowpan_frag_vrb.h
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11687 tests/pkg_u8g2: run the test in CI
  tests/pkg_u8g2/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests

#11970 gnrc_ipv6: check validity of preconfigured source on send
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11973 dist/tools: add Coccinelle check for ARRAYSIZE
  dist/tools/coccinelle/warn/arraysize.cocci
Labels: Area: tools, CI: ready for build, Type: new feature

#11892 cpu/saml1x: update periph status implementation in board doc.txt
  boards/saml10-xpro/doc.txt
  boards/saml11-xpro/doc.txt
Labels: Area: cpu, Area: doc, CI: ready for build

#11575 posix_socket: initialize uninitialized fields
  sys/posix/sockets/posix_sockets.c
Labels: Area: POSIX, Area: network, CI: ready for build, Type: bug

#11682 cpu/stm32f4: add riotboot requirements
  boards/nucleo-f446re/Makefile.features
  boards/stm32f429i-disc1/Makefile.features
  cpu/stm32f4/Makefile.include
Labels: Area: OTA, CI: ready for build, Type: new feature

#11981 cpu/atmega_common/gpio: use ARRAY_SIZE macro
  cpu/atmega_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#11813 tools/doccheck: extend script to also check for Doxygen groups defined multiple times
  dist/tools/doccheck/check.sh
Labels: Area: CI, Area: doc, Area: tools, CI: ready for build

#11837 gnrc_netif: allow for wait of minimum time between sends
  sys/include/net/gnrc/netif/conf.h
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11900 cpu/stm32f2: add riotboot requirements
  boards/nucleo-f207zg/Makefile.features
  cpu/stm32f2/Makefile.include
Labels: Area: OTA, CI: ready for build, Platform: ARM, Type: new feature

#10987 tests/gnrc_ndp: enhance coverage
  tests/gnrc_ndp/Makefile
  tests/gnrc_ndp/main.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11938 shell_commands/ping6: mix-in current time into ID
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11921 github: add configuration for stale-bot
  .github/stale.yml
Labels: Area: tools, CI: ready for build, Discussion: RFC, Type: enhancement

#11899 cpu/stm32f7: add riotboot requirements
  boards/nucleo-f722ze/Makefile.features
  boards/nucleo-f746zg/Makefile.features
  boards/nucleo-f767zi/Makefile.features
  cpu/stm32f7/Makefile.include
  cpu/stm32f7/include/cpu_conf.h
Labels: Area: OTA, CI: ready for build, Platform: ARM, Type: new feature

#11933 shell_commands: check ICMPv6 echo reply sender
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11985 cpu/kinetis: enable HWRNG for k64f
  cpu/kinetis/Makefile.features
  cpu/kinetis/include/cpu_conf_kinetis.h
  cpu/kinetis/include/cpu_conf_kinetis_k.h
Labels: CI: ready for build, Platform: ARM, Type: new feature

#11807 sys/xtimer/xtimer.c: _mutex_timeout() cleanup
  sys/include/xtimer.h
  sys/xtimer/xtimer.c
Labels: Area: timers, CI: ready for build, Type: cleanup

#11990 drivers/include/periph/eeprom: Changed uint8_t* to void* in API
  cpu/atmega_common/periph/eeprom.c
  cpu/stm32_common/periph/eeprom.c
  drivers/include/periph/eeprom.h
Labels: Area: drivers, CI: ready for build, Impact: minor, Process: API change, Process: needs >1 ACK, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11995 murdock: nordic_softdevice_ble: softdevice.hex is a test input
  boards/common/nrf52/Makefile.include
Labels: Area: CI, CI: disable test cache, CI: ready for build, CI: run tests, Type: bug

#11968 tests/log_printfnoformat: add test application & script
  tests/log_printfnoformat/Makefile
  tests/log_printfnoformat/main.c
  tests/log_printfnoformat/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests

#12000 gnrc_pktbuf: fix typo (guaranteeed → guaranteed)
  sys/include/net/gnrc/pktbuf.h
Labels: Area: doc, CI: ready for build, Type: cleanup

#11998 cpu/atmega_common: wrappers for memory management function to avoid preemption
  cpu/atmega_common/avr_libc_extra/posix_unistd.c
  makefiles/arch/atmega.inc.mk
Labels: Area: cpu, CI: ready for build, Platform: AVR, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10555 sys: single interrupt handler thread for interrupts in modules with blocking functions
  Makefile.dep
  sys/include/irq_handler.h
  sys/irq_handler/Makefile
  sys/irq_handler/irq_handler.c
  tests/sys_irq_handler/Makefile
  tests/sys_irq_handler/main.c
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10252 tools/ci: correcly report flake8 version.
  dist/tools/ci/print_toolchain_versions.sh
Labels: Area: CI, Area: tools, CI: ready for build, State: don't stale, Type: bug

#11083 tests/mcuboot: handle building in docker
  tests/mcuboot/Makefile
Labels: Area: build system, Area: toolchain, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11857 makefiles/buildtest: always execute 'buildtest' loop on host machine
  Makefile.include
  makefiles/buildtests.inc.mk
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11875 test_utils_interactive_sync: add a helper for synchronizing tests
  dist/pythonlibs/testrunner/__init__.py
  dist/pythonlibs/testrunner/utils.py
  sys/Makefile
  sys/Makefile.dep
  sys/include/test_utils/interactive_sync.h
  sys/test_utils/Makefile.dep
  sys/test_utils/interactive_sync/Makefile
  sys/test_utils/interactive_sync/interactive_sync.c
  tests/cond_order/Makefile
  tests/cond_order/main.c
  tests/cond_order/tests/01-run.py
  tests/libfixmath/Makefile
  tests/libfixmath/main.c
  tests/libfixmath/tests/01-run.py
  tests/posix_time/Makefile
  tests/posix_time/main.c
  tests/posix_time/tests/01-run.py
  tests/xtimer_usleep/Makefile
  tests/xtimer_usleep/main.c
  tests/xtimer_usleep/tests/01-run.py
Labels: Area: tests, Area: tools, CI: ready for build, CI: run tests, Type: enhancement

#9852 gnrc_rpl: remove DEBUG from header files
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_internal/netstats.h
  sys/net/gnrc/routing/rpl/gnrc_rpl_internal/validation.h
Labels: Area: network, CI: ready for build, Type: bug, Type: cleanup

#11004 sys/shell: cancel current line on CTRL-C.
  sys/shell/shell.c
  tests/shell/Makefile
  tests/shell/tests/01-run.py
Labels: CI: ready for build, CI: run tests, Type: enhancement

#12023 cpu/stm32: Fix 16 bit reg endianness for i2c_1
  cpu/stm32_common/periph/i2c_1.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11991 sys/auto_init/can: cleanup for STM32 CAN controller driver
  sys/auto_init/can/auto_init_can.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: cleanup

#12026 cpu/esp32: fixes printf and puts
  cpu/esp32/syscalls.c
Labels: CI: ready for build, Platform: ESP, Type: bug

#12001 gnrc_tcp: Fix memory leak, potential DOS
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
Labels: Area: network, CI: ready for build, Type: bug

#12029 cpu/esp32: fix newlib usage for stdio functions
  cpu/esp32/Makefile.include
  cpu/esp32/include/syscalls.h
  cpu/esp32/log_module.c
  cpu/esp32/startup.c
  cpu/esp32/syscalls.c
  cpu/esp32/vendor/esp-idf/esp_funcs.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: bug, Type: cleanup

#12005 cpu/nrf5x: fix bitrate doc for nrfmin driver
  cpu/nrf5x_common/include/nrfmin.h
Labels: Area: doc, CI: ready for build, Reviewed: 5-documentation

#11999 net/gnrc/tcp: fix invalid read
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
Labels: Area: network, CI: ready for build, Type: bug

#8838 Makefiles: add support to generate both `.hex` and `.bin` file and add FLASHFILE variable
  Makefile.include
  makefiles/vars.inc.mk
Labels: Area: build system, CI: disable test cache, CI: ready for build, Type: cleanup, Type: tracking

#12030 makefiles/docker.inc.mk: allow setting more things from environment
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Type: enhancement

#12009 dist/tools/build_system_sanity_check: check BOARD set as ?=
  dist/tools/buildsystem_sanity_check/check.sh
  tests/board_microbit/Makefile
  tests/cpu_efm32_features/Makefile
Labels: Area: build system, CI: ready for build, Type: enhancement

#11771 Makefile.include: remove RIOT_VERSION_OVERRIDE
  Makefile.include
  makefiles/buildtests.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#10340 drivers/cc110x: Complete rewrite from scratch
  Makefile.dep
  boards/msba2/Makefile.dep
  boards/msbiot/Makefile.dep
  boards/msbiot/include/board.h
  drivers/Makefile.dep
  drivers/cc110x/Makefile
  drivers/cc110x/cc110x-defaultsettings.c
  drivers/cc110x/cc110x-netdev.c
  drivers/cc110x/cc110x-rxtx.c
  drivers/cc110x/cc110x-spi.c
  drivers/cc110x/cc110x.c
  drivers/cc110x/cc110x_calibration.c
  drivers/cc110x/cc110x_chanmaps.c
  drivers/cc110x/cc110x_communication.c
  drivers/cc110x/cc110x_configs.c
  drivers/cc110x/cc110x_netdev.c
  drivers/cc110x/cc110x_patables.c
  drivers/cc110x/cc110x_rx_tx.c
  drivers/cc110x/cc110x_settings.c
  drivers/cc110x/gnrc_cc110x/Makefile
  drivers/cc110x/gnrc_cc110x/gnrc_cc110x.c
  drivers/cc110x/include/cc110x-defaultsettings.h
  drivers/cc110x/include/cc110x-defines.h
  drivers/cc110x/include/cc110x-interface.h
  drivers/cc110x/include/cc110x-internal.h
  drivers/cc110x/include/cc110x-netdev.h
  drivers/cc110x/include/cc110x-spi.h
  drivers/cc110x/include/cc110x_calibration.h
  drivers/cc110x/include/cc110x_communication.h
  drivers/cc110x/include/cc110x_constants.h
  drivers/cc110x/include/cc110x_internal.h
  drivers/cc110x/include/cc110x_netdev.h
  drivers/cc110x/include/cc110x_params.h
  drivers/cc110x/include/cc110x_rx_tx.h
  drivers/cc110x/include/cc110x_settings.h
  drivers/cc110x/include/gnrc_netif_cc110x.h
  drivers/cc1xxx_common/gnrc_netif_cc1xxx.c
  drivers/include/cc110x.h
  examples/default/Makefile
  examples/gnrc_border_router/Makefile
  examples/gnrc_minimal/Makefile
  examples/gnrc_networking/Makefile
  examples/nanocoap_server/Makefile
  makefiles/pseudomodules.inc.mk
  sys/auto_init/auto_init.c
  sys/auto_init/netif/auto_init_cc110x.c
  tests/driver_cc110x/Makefile
  tests/driver_cc110x/main.c
  tests/driver_cc110x/sc_cc110x.c
  tests/gnrc_udp/Makefile
  tests/netstats_l2/Makefile
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#11692 sys/fmt: Added submodule fmt_table for printing tables
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/fmt/Makefile
  sys/fmt/table.c
  sys/include/fmt_table.h
  tests/driver_ltc4150/Makefile
  tests/driver_ltc4150/main.c
Labels: CI: ready for build, CI: run tests, Type: cleanup, Type: new feature

#7654 arduino/sketches: build sketches as a module
  dist/tools/arduino/pre_build.sh
  sys/arduino/Makefile.include
  sys/arduino/doc.txt
  sys/arduino/sketches.inc.mk
Labels: Area: arduino API, Area: build system, CI: ready for build, Reviewed: 3-testing, Type: enhancement

#12043 pkg/ccn-lite: remove dependency on tlsf-malloc.
  examples/ccn-lite-relay/main.c
  pkg/ccn-lite/Makefile.dep
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#12054 unittests/sht1x: decrease the amount of tested values on board
  tests/unittests/tests-sht1x/tests-sht1x.c
Labels: CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#12010 makefiles/info-global.inc.mk: bug: fix DISABLE_MODULE_GLOBAL value
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#11688 tests/pthread_rwlock: run the test in CI
  tests/pthread_rwlock/Makefile
  tests/pthread_rwlock/main.c
Labels: Area: tests, CI: disable test cache, CI: ready for build, CI: run tests

#12041 makefiles/info-global.inc.mk: bug: handle FEATURES_CONFLICT value
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#12038 tests/sys_crypto: add RFC3610 and NIST SP 800-38C tests
  tests/sys_crypto/Makefile
  tests/sys_crypto/main.c
  tests/sys_crypto/tests-crypto-aes.c
  tests/sys_crypto/tests-crypto-chacha.c
  tests/sys_crypto/tests-crypto-chacha20poly1305.c
  tests/sys_crypto/tests-crypto-cipher.c
  tests/sys_crypto/tests-crypto-helper.c
  tests/sys_crypto/tests-crypto-modes-cbc.c
  tests/sys_crypto/tests-crypto-modes-ccm.c
  tests/sys_crypto/tests-crypto-modes-ctr.c
  tests/sys_crypto/tests-crypto-modes-ecb.c
  tests/sys_crypto/tests-crypto-modes-ocb.c
  tests/sys_crypto/tests-crypto-poly1305.c
  tests/sys_crypto/tests-crypto.h
  tests/sys_crypto/tests/01-run.py
  tests/unittests/tests-crypto/Makefile
  tests/unittests/tests-crypto/Makefile.include
  tests/unittests/tests-crypto/tests-crypto-modes-ccm.c
Labels: Area: crypto, Area: tests, CI: ready for build, CI: run tests, Type: cleanup, Type: enhancement

#12011 makefiles/info-global.inc.mk: bug: honor DEFAULT_MODULES
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#12061 makefiles/docker.inc.mk: allow disabling color in docker
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#6927 can: add ncv7356 SW transceiver driver
  drivers/Makefile.dep
  drivers/include/ncv7356.h
  drivers/ncv7356/Makefile
  drivers/ncv7356/ncv7356.c
  tests/can_trx/Makefile
  tests/can_trx/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#12040 tests/cpp_ctors: move tests-cpp_ctors out of unittests
  tests/cpp_ctors/Makefile
  tests/cpp_ctors/README.md
  tests/cpp_ctors/main.c
  tests/cpp_ctors/tests-cpp_ctors-class.cpp
  tests/cpp_ctors/tests-cpp_ctors.cpp
  tests/cpp_ctors/tests-cpp_ctors.h
  tests/cpp_ctors/tests/01-run.py
  tests/unittests/Makefile
  tests/unittests/tests-cpp_ctors/Makefile
  tests/unittests/tests-cpp_ctors/Makefile.include
Labels: Area: C++, Area: tests, CI: ready for build, CI: run tests, Type: cleanup

#12022 driver/tmp00x: make tmp006 more generic
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/tmp00x.h
  drivers/tmp006/include/tmp006_params.h
  drivers/tmp006/include/tmp006_regs.h
  drivers/tmp006/tmp006.c
  drivers/tmp00x/Makefile
  drivers/tmp00x/include/tmp00x_params.h
  drivers/tmp00x/include/tmp00x_regs.h
  drivers/tmp00x/tmp00x.c
  drivers/tmp00x/tmp00x_saul.c
  makefiles/pseudomodules.inc.mk
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_tmp006.c
  sys/auto_init/saul/auto_init_tmp00x.c
  tests/driver_tmp006/README.md
  tests/driver_tmp00x/Makefile
  tests/driver_tmp00x/README.md
  tests/driver_tmp00x/main.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#12078 fix typo: usefull -> useful
  drivers/include/ccs811.h
  sys/include/hashes/sha256.h
  sys/include/hashes/sha3.h
Labels: Area: doc, CI: ready for build, Impact: minor

#12073 tests/pkg_semtech-loramac: disable rx thread for arduino-mega2560
  tests/pkg_semtech-loramac/Makefile
Labels: Area: CI, Area: tests, CI: ready for build, Type: bug

#12072 tests/test_tools: add a test for the testing tools environment
  tests/test_tools/Makefile
  tests/test_tools/README.md
  tests/test_tools/main.c
  tests/test_tools/tests/01-run.py
Labels: Area: build system, Area: tests, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#12060 cpu/esp32: workaround for static object initialization
  cpu/esp32/Makefile
  cpu/esp32/Makefile.include
  cpu/esp32/cxx/Makefile
  cpu/esp32/cxx/cxa_guard.cpp
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: bug

#12050 cpu/esp32: fix of global ctor initialization
  cpu/esp32/startup.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: bug

#11909 sys: new sock submodule for DTLS
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  pkg/tinydtls/doc.txt
  sys/auto_init/auto_init.c
  sys/include/net/credman.h
  sys/include/net/dtls.h
  sys/include/net/sock.h
  sys/include/net/sock/dtls.h
Labels: Area: network, Area: security, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11987 nhdp: deprecate module
  sys/net/routing/nhdp/nhdp.h
Labels: Area: doc, Area: network, CI: ready for build, Type: cleanup

#12095 boards/msba2/lobaro-lorabox: change TERMFLAGS to PYTERMFLAGS
  boards/common/msba2/Makefile.include
  boards/lobaro-lorabox/Makefile.include
  makefiles/tools/serial.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#12106 sys/net: fix typos in docu
  sys/include/net/tcp.h
Labels: Area: doc, CI: ready for build, Type: bug

#11578 pkg/nimble: add IP-over-BLE support via netif/GNRC
  Makefile.dep
  boards/common/nrf52/Makefile.dep
  boards/nrf52840dk/Makefile.dep
  boards/nrf52dk/Makefile.dep
  boards/reel/Makefile.dep
  examples/ndn-ping/Makefile
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
  pkg/nimble/README.ipv6-over-ble.md
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/netif/Makefile
  pkg/nimble/netif/include/nimble_netif.h
  pkg/nimble/netif/include/nimble_netif_conn.h
  pkg/nimble/netif/nimble_netif.c
  pkg/nimble/netif/nimble_netif_conn.c
  pkg/nimble/scanlist/nimble_scanlist.c
  sys/include/net/ble.h
  sys/include/net/bluetil/addr.h
  sys/net/ble/bluetil/bluetil_addr/bluetil_addr.c
  sys/net/gnrc/netif/gnrc_netif_device_type.c
  sys/net/link_layer/l2util/l2util.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_nimble_netif.c
  sys/shell/commands/shell_commands.c
  tests/l2util/Makefile
  tests/l2util/main.c
  tests/unittests/tests-bluetil/tests-bluetil.c
Labels: Area: BLE, Area: network, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#12112 pkg/nimble: fix doxygen group name prefix
  pkg/nimble/addr/include/nimble_addr.h
  pkg/nimble/addr/nimble_addr.c
  pkg/nimble/contrib/include/nimble_riot.h
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/doc.txt
  pkg/nimble/netif/include/nimble_netif.h
  pkg/nimble/scanlist/include/nimble_scanlist.h
  pkg/nimble/scanlist/nimble_scanlist.c
  pkg/nimble/scanlist/nimble_scanlist_print.c
  pkg/nimble/scanner/include/nimble_scanner.h
  pkg/nimble/scanner/nimble_scanner.c
Labels: Area: doc, CI: ready for build, Type: cleanup

#12113 boards/reel: add missing radio_nrf52840 feature
  boards/reel/Makefile.features
Labels: CI: ready for build, Impact: minor, Type: enhancement

#11927 cpu/atmega32u4: Fixed external interrupts; boards/arduino-leonardo: Fixed dependency tracking
  boards/arduino-leonardo/Makefile.dep
  cpu/atmega32u4/include/periph_cpu.h
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: AVR, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#12046 net/gnrc/udp: Adding Null pointer check in gnrc_netif_hdr_build
  tests/gnrc_udp/udp.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#12068 board/nucleo-l432kc: Implementing I2C for board
  boards/nucleo-l432kc/Makefile.features
  boards/nucleo-l432kc/include/periph_conf.h
Labels: Area: boards, CI: ready for build

#12065 NDN-over-BLE: enable CCN-lite to use BLE as link layer
  examples/ccn-lite-relay/Makefile
  sys/shell/commands/sc_nimble_netif.c
Labels: Area: BLE, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#12098 make: do not locally export compilation variables
  boards/cc2538dk/Makefile.include
  boards/common/msb-430/Makefile.include
  boards/common/msba2/Makefile.include
  boards/common/remote/Makefile.include
  boards/common/silabs/Makefile.include
  boards/common/wsn430/Makefile.include
  boards/hamilton/Makefile.include
  boards/native/Makefile.include
  boards/openmote-b/Makefile.include
  boards/saml10-xpro/Makefile.include
  boards/saml11-xpro/Makefile.include
  boards/saml21-xpro/Makefile.include
  boards/slwstk6000b/Makefile.include
  cpu/arm7_common/Makefile
  cpu/atmega32u4/Makefile.include
  cpu/atmega_common/Makefile.include
  cpu/efm32/Makefile.features
  cpu/efm32/Makefile.include
  cpu/mips32r2_common/Makefile.include
  cpu/mips_pic32_common/Makefile.include
  cpu/mips_pic32mx/Makefile.include
  cpu/mips_pic32mz/Makefile.include
  cpu/msp430_common/Makefile.include
  cpu/nrf5x_common/Makefile.include
  cpu/sam0_common/Makefile.include
  cpu/sam_common/Makefile.include
  cpu/stellaris_common/Makefile.include
  cpu/stm32_common/Makefile.include
  dist/Makefile
  makefiles/arch/cortexm.inc.mk
  makefiles/arch/mips.inc.mk
  makefiles/arch/msp430.inc.mk
  makefiles/arch/riscv.inc.mk
  makefiles/vars.inc.mk
  pkg/oonf_api/patches/0002-port-tests-to-riot.patch
  pkg/oonf_api/patches/0003-port-example-to-riot.patch
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#12119 makefiles/utils: functions for lowercase and uppercase
  Makefile.include
  makefiles/utils/strings.mk
  makefiles/utils/test-strings.mk
  tests/build_system_utils/Makefile
Labels: Area: build system, CI: ready for build, Type: new feature

#12124 pkg: ccn-lite: version bump
  pkg/ccn-lite/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#12123 makefiles/cflags.inc.mk: handle optional cflags
  cpu/esp32/Makefile.include
  cpu/esp8266/Makefile.include
  makefiles/arch/atmega.inc.mk
  makefiles/arch/mips.inc.mk
  makefiles/arch/msp430.inc.mk
  makefiles/cflags.inc.mk
  makefiles/toolchain/llvm.inc.mk
Labels: Area: build system, Area: toolchain, CI: ready for build, Type: enhancement

#12088 gnrc_tcp: fix integer underflow in option parser
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_option.c
Labels: Area: network, CI: ready for build, Type: bug

#12084 gnrc_tcp: add minimum length check to _receive
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
Labels: Area: network, CI: ready for build, Type: bug

#11911 cpu/arm7_common: Cleaned up IRQ code
  cpu/arm7_common/irq_arch.c
Labels: Area: cpu, CI: ready for build, Type: cleanup
