Repository RIOT-OS/RIOT, pull requests merged in 2019-05, with the labels that each got.

#11337 cpu/esp32: fix of periph_* submodule compilation
  boards/common/esp32/board_common.c
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/include/adc_arch.h
  cpu/esp32/include/adc_ctrl.h
  cpu/esp32/periph/Makefile
  cpu/esp32/periph/adc.c
  cpu/esp32/periph/adc_ctrl.c
  cpu/esp32/periph/dac.c
  cpu/esp32/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11475 add copyrights from IOTPUSH project
  boards/pyboard/board.c
  core/clist.c
  core/include/clist.h
  sys/event/callback.c
  sys/event/event.c
  sys/event/timeout.c
  sys/include/event.h
  sys/include/event/callback.h
  sys/include/event/timeout.h
  sys/include/iolist.h
  sys/include/net/nanocoap.h
  sys/include/net/nanocoap_sock.h
  sys/include/riotboot/flashwrite.h
  sys/include/riotboot/hdr.h
  sys/include/riotboot/slot.h
  sys/iolist/iolist.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
  sys/random/xorshift.c
  sys/riotboot/flashwrite.c
  sys/riotboot/hdr.c
  sys/riotboot/slot.c
Labels: CI: ready for build, Type: cleanup

#11480 Makefile.features: add a common file for the features parsing
  Makefile.features
  Makefile.include
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor

#11445 gcoap: remove deprecated function gcoap_req_send()
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11307 tests/periph_flashpage: add RWWEE automatic test if hw supports it
  tests/periph_flashpage/tests/01-run.py
Labels: Area: drivers, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11289 boards/esp32: changes the approach for configurations of ADC channels in board definitions
  boards/common/esp32/include/periph_conf_common.h
  boards/esp32-olimex-evb/Makefile.features
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/adc.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11490 make.dep: fix dependencies for the arduino module
  Makefile.dep
Labels: Area: arduino API, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11385 makefiles/docker: export BOARDS
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#11143 net/lorawan/hdr: add lorawan header helpers
  sys/doc.txt
  sys/include/net/loramac.h
  sys/include/net/lorawan/hdr.h
Labels: Area: LoRa, CI: ready for build, Type: new feature

#11467 tests/posix_semaphore: unify and increase allowed test4 margin
  tests/posix_semaphore/main.c
Labels: Area: tests, CI: ready for build, CI: run tests, Type: cleanup

#11479 kinetis: move filtering-out periph_hwrng in cpu/kinetis
  boards/frdm-k64f/Makefile.features
  boards/frdm-kw41z/Makefile.features
  boards/phynode-kw41z/Makefile.features
  boards/teensy31/Makefile.features
  boards/usb-kw41z/Makefile.features
  cpu/kinetis/Makefile.features
Labels: Area: boards, Area: build system, CI: ready for build

#11290 boards/esp32: changes the approach for configurations of DAC channels in board definitions
  boards/common/esp32/include/periph_conf_common.h
  boards/esp32-olimex-evb/Makefile.features
  boards/esp32-wrover-kit/Makefile.features
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/dac.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11484 dist/tools/buildsystem_sanity_check: add an export variable check
  dist/tools/buildsystem_sanity_check/check.sh
Labels: Area: build system, Area: tests, CI: ready for build

#11495 examples/emcute_mqttsn: make into native application more obvious
  examples/emcute_mqttsn/README.md
Labels: Area: doc, Area: network, CI: ready for build, Type: enhancement

#11425 cpu/stm32_common: set RTS when uart is off
  cpu/stm32_common/periph/uart.c
Labels: Area: cpu, CI: ready for build, Platform: ARM

#10162 doc/rdm: RFC - design goals
  doc/memos/README.md
  doc/memos/rdm0001.md
Labels: Area: RDM, Area: doc, CI: ready for build, Discussion: RFC, Process: needs >1 ACK

#11310 sys: make uart_stdio RX optional (attempt #2)
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/stdio_uart/stdio_uart.c
Labels: Area: pm, CI: ready for build, CI: run tests

#11504 gnrc_mac: rename directory in line with other modules
  sys/net/gnrc/Makefile
  sys/net/gnrc/link_layer/mac/Makefile
  sys/net/gnrc/link_layer/mac/internal.c
  sys/net/gnrc/link_layer/mac/timeout.c
Labels: Area: network, CI: ready for build, Type: cleanup

#11294 boards/esp32: changes the approach for configurations of UART interfaces in board definitions
  boards/common/esp32/include/periph_conf_common.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/uart.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ESP, Type: cleanup

#11291 boards/esp32: changes the approach for configurations of I2C in board definitions
  boards/common/esp32/include/periph_conf_common.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/i2c_hw.c
  cpu/esp32/periph/i2c_sw.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ESP, Type: cleanup

#11318 sam0_common: make RTT implementation common across all sam0 MCUs
  cpu/sam0_common/periph/rtt.c
  cpu/samd21/periph/rtt.c
  cpu/saml1x/periph/rtt.c
  cpu/saml21/periph/rtt.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#11506 boards/bluepill: Extended/updated doc on flashing
  boards/bluepill/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build

#11509 core/thread: unify thread_t variable naming
  core/thread.c
Labels: Area: core, CI: ready for build, CI: run tests, Impact: minor, Type: cleanup

#11510 core: rename thread_state_t to thread_status_t
  core/include/sched.h
  core/include/thread.h
  core/sched.c
  sys/ps/ps.c
Labels: Area: core, CI: ready for build, OS: Mac OS X, Type: bug

#11358 cpu/cortexm_common: function to check address validity
  Makefile.dep
  cpu/cortexm_common/Makefile.features
  cpu/cortexm_common/cortexm_init.c
  cpu/cortexm_common/include/cpu.h
  cpu/cortexm_common/vectors_cortexm.c
  makefiles/pseudomodules.inc.mk
  tests/cpu_cortexm_address_check/Makefile
  tests/cpu_cortexm_address_check/README.md
  tests/cpu_cortexm_address_check/main.c
Labels: CI: ready for build, Platform: ARM, Type: new feature

#11516 tools/compile_and_test_for_board: assert resultdir is valid
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
Labels: Area: tests, Area: tools, CI: ready for build, Type: bug

#11517 tools/compile_and_test_for_board: ignore git tracked or not
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
Labels: Area: tools, CI: ready for build

#11044 boards/kw41z*: add common configuration and use it with existing kw41z boards
  boards/common/kw41z/Makefile
  boards/common/kw41z/Makefile.dep
  boards/common/kw41z/Makefile.features
  boards/common/kw41z/Makefile.include
  boards/common/kw41z/board.c
  boards/common/kw41z/include/board_common.h
  boards/common/kw41z/include/cfg_i2c_default.h
  boards/common/kw41z/include/periph_conf_common.h
  boards/common/kw41z/led_init.c
  boards/frdm-kw41z/Makefile
  boards/frdm-kw41z/Makefile.dep
  boards/frdm-kw41z/Makefile.features
  boards/frdm-kw41z/Makefile.include
  boards/frdm-kw41z/include/board.h
  boards/frdm-kw41z/include/periph_conf.h
  boards/phynode-kw41z/Makefile.dep
  boards/phynode-kw41z/Makefile.features
  boards/phynode-kw41z/Makefile.include
  boards/phynode-kw41z/include/periph_conf.h
  boards/usb-kw41z/Makefile
  boards/usb-kw41z/Makefile.dep
  boards/usb-kw41z/Makefile.features
  boards/usb-kw41z/Makefile.include
  boards/usb-kw41z/board.c
  boards/usb-kw41z/include/board.h
  boards/usb-kw41z/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#11518 cpu/nrf52: set RIOTBOOT_LEN to 8k
  cpu/nrf52/Makefile.include
Labels: Area: OTA, CI: ready for build, CI: run tests

#11481 boards/esp32 wrover kit: documentation fixes and small improvents
  boards/esp32-wrover-kit/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: bug, Type: cleanup

#11293 boards/esp32: changes the approach for configurations of SPI interfaces in board definitions
  boards/common/esp32/include/periph_conf_common.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/spi.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11493 tests/xtimer_usleep: fail with negative offsets
  tests/xtimer_usleep/README.md
  tests/xtimer_usleep/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Discussion: contested, Type: bug

#11261 boards/cpu/esp32: doc fix of built-in ROM size
  boards/esp32-mh-et-live-minikit/doc.txt
  boards/esp32-olimex-evb/doc.txt
  boards/esp32-wemos-lolin-d32-pro/doc.txt
  boards/esp32-wroom-32/doc.txt
  boards/esp32-wrover-kit/doc.txt
  cpu/esp32/doc.txt
Labels: Area: doc, CI: ready for build, Platform: ESP, Type: bug

#11521 cortexm_common: add .noinit section
  cpu/cortexm_common/ldscripts/cortexm_base.ld
Labels: Area: toolchain, CI: ready for build, Platform: ARM, Type: new feature

#11500 openthread: fix compile error when CLI is not present
  examples/openthread/Makefile
  pkg/openthread/Makefile
  pkg/openthread/contrib/netdev/openthread_netdev.c
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11514 core: fix c11 atomic definitions (fix gcc9 compilation)
  core/atomic_c11.c
  core/atomic_sync.c
  cpu/cortexm_common/vectors_cortexm.c
Labels: Area: core, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11507 cpu/nrf5x/radio/nrfmin: Enhance nrfmin reliability
  cpu/nrf5x_common/radio/nrfmin/nrfmin.c
Labels: Area: drivers, CI: ready for build, Type: bug

#11528 core: Fix undefined behaviour in C11 atomics
  core/atomic_c11.c
Labels: Area: core, CI: ready for build, CI: run tests, Type: bug

#11529 pkg/semtech_loramac: fix DEBUG message when payload is NULL
  pkg/semtech-loramac/contrib/semtech_loramac.c
Labels: Area: LoRa, CI: ready for build, Type: bug

#11487 sys/event: add event_wait_until()
  sys/event/event.c
  sys/include/event.h
  tests/event_wait_timeout/Makefile
  tests/event_wait_timeout/main.c
  tests/event_wait_timeout/tests/01-run.py
Labels: CI: ready for build, CI: run tests, Type: new feature

#11531 tools/pr_check: add check preventing PKG_SOURCE_LOCAL merges
  dist/tools/pr_check/pr_check.sh
Labels: Area: build system, CI: ready for build

#11539 sys/xtimer.h: fix typo in xtimer_set_msg
  sys/include/xtimer.h
Labels: Area: doc, CI: ready for build

#11536 drivers/ds18: fix `ds18_read` for negative temperatures
  drivers/ds18/ds18.c
  tests/driver_ds18/main.c
Labels: Area: drivers, CI: ready for build, Type: bug

#11273 ble/nimble: bump version to 9d4bda2
  pkg/nimble/Makefile
  tests/nimble_l2cap/main.c
  tests/nimble_l2cap_server/main.c
  tests/nimble_l2cap_server/nimble.inc.mk
Labels: Area: BLE, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11540 openthread: update to release 20180926
  pkg/openthread/Makefile
  pkg/openthread/contrib/platform_misc.c
  pkg/openthread/contrib/platform_radio.c
  pkg/openthread/contrib/platform_settings.c
  pkg/openthread/contrib/platform_uart.c
  pkg/openthread/include/ot.h
  pkg/openthread/patches/0001-fix-macro-conflict.patch
Labels: Area: network, Area: pkg, CI: ready for build, Community: good first issue

#11223 tools/openocd.sh: try to probe the board for real flash address
  dist/tools/openocd/openocd.sh
Labels: Area: tools, CI: ready for build, Type: bug

#11524 boards/lsn50: add support for Dragino LSN50 LoRa Sensor Node
  boards/lsn50/Makefile
  boards/lsn50/Makefile.dep
  boards/lsn50/Makefile.features
  boards/lsn50/Makefile.include
  boards/lsn50/board.c
  boards/lsn50/doc.txt
  boards/lsn50/include/board.h
  boards/lsn50/include/periph_conf.h
  examples/default/Makefile
  examples/dtls-echo/Makefile
  examples/gnrc_border_router/Makefile
  examples/javascript/Makefile
  examples/lua_REPL/Makefile
  tests/gnrc_netif/Makefile
  tests/unittests/Makefile
Labels: Area: LoRa, Area: boards, CI: ready for build, Type: new feature

#10563 boards/particle-{xenon,argon,boron}: add initial support
  boards/common/particle-mesh/Makefile
  boards/common/particle-mesh/Makefile.dep
  boards/common/particle-mesh/Makefile.features
  boards/common/particle-mesh/Makefile.include
  boards/common/particle-mesh/board.c
  boards/common/particle-mesh/doc.txt
  boards/common/particle-mesh/include/board.h
  boards/common/particle-mesh/include/gpio_params.h
  boards/common/particle-mesh/include/periph_conf_common.h
  boards/particle-argon/Makefile
  boards/particle-argon/Makefile.dep
  boards/particle-argon/Makefile.features
  boards/particle-argon/Makefile.include
  boards/particle-argon/doc.txt
  boards/particle-argon/include/periph_conf.h
  boards/particle-boron/Makefile
  boards/particle-boron/Makefile.dep
  boards/particle-boron/Makefile.features
  boards/particle-boron/Makefile.include
  boards/particle-boron/doc.txt
  boards/particle-boron/include/periph_conf.h
  boards/particle-xenon/Makefile
  boards/particle-xenon/Makefile.dep
  boards/particle-xenon/Makefile.features
  boards/particle-xenon/Makefile.include
  boards/particle-xenon/doc.txt
  boards/particle-xenon/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: new feature

#11313 boards/stm32: introduce and use new common rtt configuration header
  boards/b-l072z-lrwan1/Makefile.include
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/b-l475e-iot01a/Makefile.include
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/common/stm32/include/cfg_rtt_default.h
  boards/lsn50/Makefile.include
  boards/lsn50/include/periph_conf.h
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-l452re/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nucleo-l496zg/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Impact: minor, Type: cleanup

#11336 sam0_common: make Timer implementation common across all sam0 MCUs
  boards/arduino-zero/include/board.h
  boards/arduino-zero/include/periph_conf.h
  boards/common/arduino-mkr/include/periph_conf.h
  boards/common/saml1x/include/periph_conf.h
  boards/feather-m0/include/periph_conf.h
  boards/hamilton/include/periph_conf.h
  boards/samd21-xpro/include/board.h
  boards/samd21-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/samr30-xpro/include/periph_conf.h
  boards/sensebox_samd21/include/periph_conf.h
  boards/sodaq-autonomo/include/periph_conf.h
  boards/sodaq-explorer/include/board.h
  boards/sodaq-explorer/include/periph_conf.h
  boards/sodaq-one/include/periph_conf.h
  boards/sodaq-sara-aff/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/timer.c
  cpu/samd21/periph/timer.c
  cpu/saml1x/periph/timer.c
  cpu/saml21/periph/timer.c
Labels: Area: cpu, CI: ready for build, CI: run tests, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11558 sys/sock/util: allow overriding of SOCK_*_MAXLEN
  sys/include/net/sock/util.h
Labels: Area: network, CI: ready for build, Type: enhancement

#11260 boards/nucleof7*: SPI and refactoring
  boards/common/stm32/include/cfg_spi_divtable.h
  boards/common/stm32/include/f7/cfg_clock_216_8_1.h
  boards/nucleo-f722ze/include/periph_conf.h
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-f767zi/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup, Type: enhancement

#11142 added SPI support for Nucleo-F767ZI
  boards/nucleo-f767zi/include/periph_conf.h
Labels: Area: drivers, CI: ready for build, Type: enhancement

#9908 cpu/lpc1768: fix uninitialized variable
  cpu/lpc1768/periph/uart.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#11505 drivers/ds75lx: add basic driver for temperature sensor
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/ds75lx/Makefile
  drivers/ds75lx/ds75lx.c
  drivers/ds75lx/ds75lx_saul.c
  drivers/ds75lx/include/ds75lx_internals.h
  drivers/ds75lx/include/ds75lx_params.h
  drivers/include/ds75lx.h
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_ds75lx.c
  tests/driver_ds75lx/Makefile
  tests/driver_ds75lx/README.md
  tests/driver_ds75lx/main.c
Labels: Area: SAUL, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11453 cpu/atmega_common: Fix function attributes
  cpu/atmega_common/thread_arch.c
Labels: CI: ready for build, Platform: AVR, Type: bug

#11323 boards/stm32l0/l4: add rtt feature
  boards/nucleo-l031k6/Makefile.features
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l053r8/Makefile.features
  boards/nucleo-l053r8/include/periph_conf.h
  boards/nucleo-l073rz/Makefile.features
  boards/nucleo-l073rz/include/periph_conf.h
  boards/nucleo-l432kc/Makefile.features
  boards/nucleo-l432kc/include/periph_conf.h
  boards/stm32l476g-disco/Makefile.features
  boards/stm32l476g-disco/Makefile.include
  boards/stm32l476g-disco/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: new feature

#11410 drivers/mrf24j40: add external PA/LNA control on MC/MD/ME devices
  drivers/include/mrf24j40.h
  drivers/mrf24j40/include/mrf24j40_internal.h
  drivers/mrf24j40/include/mrf24j40_registers.h
  drivers/mrf24j40/mrf24j40.c
  drivers/mrf24j40/mrf24j40_getset.c
  drivers/mrf24j40/mrf24j40_internal.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11557 boards/stm32l0: introduce common clock configuration and apply it to related boards
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/common/stm32/include/l0/cfg_clock_32_16_1.h
  boards/i-nucleo-lrwan1/include/periph_conf.h
  boards/lsn50/include/periph_conf.h
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l053r8/include/periph_conf.h
  boards/nucleo-l073rz/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#11568 bootloader/README: fix typos
  bootloaders/riotboot/README.md
Labels: Area: doc, CI: ready for build

#11378 tests/pthread_tls: allow negative key values
  tests/pthread_tls/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Platform: RISC-V

#11569 boards/cc2538: use FLASHFILE for boards using cc2538-bsl.py
  boards/cc2538dk/Makefile.include
  boards/common/remote/Makefile.include
  boards/openmote-b/Makefile.include
  boards/openmote-cc2538/Makefile.include
Labels: Area: build system, Area: tools, CI: ready for build

#11322 stm32f7: enable periph_rtt feature and apply to f7 based boards
  boards/nucleo-f722ze/Makefile.features
  boards/nucleo-f722ze/include/periph_conf.h
  boards/nucleo-f746zg/Makefile.features
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-f767zi/include/periph_conf.h
  boards/stm32f769i-disco/Makefile.features
  boards/stm32f769i-disco/Makefile.include
  boards/stm32f769i-disco/include/periph_conf.h
  cpu/stm32_common/periph/rtt.c
Labels: Area: boards, CI: ready for build, Type: new feature

#10655 cpu/esp8266: added/changed helper functions
  cpu/esp8266/exceptions.c
  cpu/esp8266/include/sys/_intsup.h
  cpu/esp8266/include/tools.h
  cpu/esp8266/startup.c
  cpu/esp8266/tools.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug, Type: enhancement

#11440 cpu/arm7_common: Make irq_*() compiler barriers
  cpu/arm7_common/VIC.c
Labels: CI: ready for build, Platform: ARM, Type: bug

#11566 sys/Makefile.include: include riotboot headers when FEATURES_REQUIRED=riotboot
  sys/Makefile.include
Labels: Area: OTA, Area: build system, CI: ready for build, CI: run tests

#11561 sock: expose configuration file
  sys/include/net/sock/util.h
Labels: Area: doc, Area: network, CI: ready for build, TF: Config

#11567 gnrc_neterr: move doxygen group into GNRC group
  sys/include/net/gnrc/neterr.h
Labels: Area: doc, Area: network, CI: ready for build, Type: bug

#11442 gnrc_sixlowpan_frag: make aggresive override configurable
  sys/include/net/gnrc/sixlowpan/config.h
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c
Labels: Area: network, CI: ready for build, Type: enhancement

#11574 make: add print-versions helper target
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  Makefile
  dist/tools/ci/build_and_test.sh
Labels: Area: build system, CI: ready for build, Type: enhancement

#11563 saml1x: enable pm_layered by default
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/saml1x/Makefile.include
  cpu/saml1x/include/periph_cpu.h
Labels: Area: pm, CI: ready for build, Type: enhancement

#11577 gnrc_sixlowpan_frag: fix timeout config macro name
  sys/include/net/gnrc/sixlowpan/config.h
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.h
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 5-documentation, TF: Config, Type: bug

#11579 minmea: bump version to current master
  pkg/minmea/Makefile
  tests/pkg_minmea/Makefile
  tests/pkg_minmea/main.c
  tests/pkg_minmea/tests/01-run.py
Labels: Area: pkg, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11581 cpu/sam0: sercom cleanup
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/spi.c
Labels: Area: cpu, CI: ready for build, CI: run tests, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11580 gnrc_ipv6_ext: don't read from `pkt->data` after `_demux()`
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
Labels: Area: network, CI: ready for build, Type: bug

#11021 gnrc_sixlowpan_frag: allow send of multiple datagrams simultaneously
  sys/include/net/gnrc/sixlowpan/config.h
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
Labels: Area: network, CI: ready for build, Type: enhancement

#11588 tests/cortexm_common_ldscript: update code section for kinetis
  tests/cortexm_common_ldscript/Makefile
Labels: Area: OTA, Area: tests, CI: ready for build, Type: enhancement

#11590 makefiles/app_dirs.inc.mk: target to list supported applications/boards
  makefiles/app_dirs.inc.mk
Labels: Area: build system, CI: ready for build, Type: new feature

#11589 kinetis/fcfield-check*: merge into single file and support binary flash
  boards/common/frdm/Makefile.include
  boards/mulle/Makefile.include
  boards/pba-d-01-kw2x/Makefile.include
  cpu/kinetis/dist/check-fcfield-elf.sh
  cpu/kinetis/dist/check-fcfield-hex.sh
  cpu/kinetis/dist/check-fcfield.sh
Labels: CI: ready for build, Platform: ARM, Type: cleanup

#11547 makefiles/toolchain: fallback to 'objdump'
  makefiles/toolchain/gnu.inc.mk
  makefiles/toolchain/llvm.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Type: enhancement

#11433 Makefile.include: allow overwriting flash-recipe
  Makefile.include
Labels: Area: build system, CI: ready for build, Type: enhancement

#10212 tests/littlefs: Move from unittests to regular test
  tests/pkg_littlefs/Makefile
  tests/pkg_littlefs/main.c
  tests/pkg_littlefs/tests/01-run.py
  tests/unittests/tests-littlefs/Makefile
  tests/unittests/tests-littlefs/Makefile.include
  tests/unittests/tests-littlefs/tests-littlefs.h
Labels: Area: fs, Area: pkg, Area: tests, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11554 make: remove exports for flash debug reset
  boards/calliope-mini/Makefile.include
  boards/cc2538dk/Makefile.include
  boards/chronos/Makefile.include
  boards/common/esp32/Makefile.include
  boards/common/esp8266/Makefile.include
  boards/common/msb-430/Makefile.include
  boards/common/remote/Makefile.include
  boards/common/stm32f103c8/Makefile.include
  boards/common/wsn430/Makefile.include
  boards/f4vi1/Makefile.include
  boards/hifive1/Makefile.include
  boards/mbed_lpc1768/Makefile.include
  boards/microbit/Makefile.include
  boards/native/Makefile.include
  boards/nz32-sc151/Makefile.include
  boards/opencm904/Makefile.include
  boards/openmote-b/Makefile.include
  boards/openmote-cc2538/Makefile.include
  boards/spark-core/Makefile.include
  boards/telosb/Makefile.include
  boards/z1/Makefile.include
  cpu/esp32/Makefile.include
  cpu/esp8266/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/tools/bossa.inc.mk
  makefiles/tools/jlink.inc.mk
  makefiles/tools/openocd.inc.mk
  makefiles/tools/pyocd.inc.mk
  makefiles/tools/uniflash.inc.mk
  makefiles/vars.inc.mk
Labels: Area: build system, CI: disable test cache, CI: ready for build, Type: cleanup

#11511 sys: add pseudomodule scanf_float
  makefiles/pseudomodules.inc.mk
  sys/Makefile.include
  tests/unittests/tests-scanf_float/Makefile
  tests/unittests/tests-scanf_float/Makefile.include
  tests/unittests/tests-scanf_float/tests-scanf_float.c
  tests/unittests/tests-scanf_float/tests-scanf_float.h
Labels: CI: ready for build, Type: bug

#11583 pkg/semtech-loramac: move region CFLAGS definitions from applications to pkg
  examples/lorawan/Makefile
  examples/lorawan/README.md
  pkg/semtech-loramac/Makefile.include
  pkg/semtech-loramac/doc.txt
  tests/pkg_semtech-loramac/Makefile
Labels: Area: LoRa, Area: pkg, CI: ready for build, Type: enhancement

#11595 tests/rng: fix for msp430
  tests/rng/Makefile
  tests/rng/main.c
  tests/rng/tests/01-run.py
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#10210 tests/spiffs: Move from unittests to regular test
  tests/pkg_spiffs/Makefile
  tests/pkg_spiffs/main.c
  tests/pkg_spiffs/tests/01-run.py
  tests/unittests/Makefile
  tests/unittests/tests-spiffs/Makefile
  tests/unittests/tests-spiffs/Makefile.include
  tests/unittests/tests-spiffs/tests-spiffs.h
Labels: Area: pkg, Area: tests, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10988 gnrc_sixlowpan_frag: prepare reassembly base types for VRB
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rbuf.h
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  tests/gnrc_sixlowpan_frag/main.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 5-documentation, Type: cleanup

#11570 boards/b-l072z-lrwan1: use STM32 common i2C configuration
  boards/b-l072z-lrwan1/include/periph_conf.h
  boards/common/stm32/include/cfg_i2c1_pb8_pb9.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#11548 boards/sltb001a: reset before flashing
  boards/sltb001a/Makefile.include
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, Type: bug

#10771 drivers/mrf24j40 : support of NETOPT_LAST_ED_LEVEL
  drivers/include/mrf24j40.h
  drivers/mrf24j40/include/mrf24j40_registers.h
  drivers/mrf24j40/mrf24j40.c
  drivers/mrf24j40/mrf24j40_getset.c
  drivers/mrf24j40/mrf24j40_netdev.c
Labels: Area: drivers, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11599 examples/default: re-introduce shell_commands
  examples/default/Makefile
Labels: CI: ready for build, Type: bug

#11501 drivers/adcxxc1: Expose compile configuration via config group
  drivers/adcxx1c/include/adcxx1c_params.h
Labels: Area: doc, Area: drivers, CI: ready for build, TF: Config

#10228 Fletcher16: extend with multi-part functions
  sys/checksum/fletcher16.c
  sys/include/checksum/fletcher16.h
  tests/unittests/tests-checksum/tests-checksum-fletcher16.c
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11061 gnrc_sixlowpan_frag: Initial import of a fragment size hint feature
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/include/net/gnrc/sixlowpan/frag/hint.h
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11592 make: add LOG_LEVEL to overridable variables
  Makefile.include
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, Type: enhancement

#9941 pkg/monocypher: bump version to 2.0.5
  pkg/monocypher/Makefile
  pkg/monocypher/doc.txt
  tests/pkg_monocypher/Makefile
Labels: Area: crypto, Area: pkg, CI: ready for build, CI: run tests, Impact: minor

#11532 drivers/at: Add 'at_recv_bytes_until_string' function
  drivers/at/at.c
  drivers/include/at.h
  tests/driver_at/README.md
  tests/driver_at/main.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: new feature

#11338 tests/drivers_ds18: add tested boards to the board whitelist
  tests/driver_ds18/Makefile
Labels: Area: drivers, CI: ready for build, Type: cleanup

#11601 tests/unittests: remove unused LARGE_STACK_TESTS
  tests/unittests/Makefile
Labels: Area: tests, CI: ready for build

#11585 periph/i2c: handle i2c register write/read helper function correctly in big endian
  cpu/efm32/periph/i2c.c
  drivers/include/periph/i2c.h
  drivers/periph_common/i2c.c
Labels: CI: ready for build, Type: new feature

#11545 cpu/kinetis: allow flashing without toolchain
  boards/common/frdm/Makefile.include
  boards/mulle/Makefile.include
  boards/pba-d-01-kw2x/Makefile.include
  cpu/kinetis/Makefile.include
  cpu/kinetis/dist/README.md
  cpu/kinetis/dist/check-fcfield.sh
  cpu/kinetis/dist/wdog-disable.bin
Labels: Area: toolchain, Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11560 RPL: API update suggestions
  sys/include/net/gnrc/rpl/structs.h
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
  sys/net/gnrc/routing/rpl/of0.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11604 tools/jlink: Fix do_term
  dist/tools/jlink/jlink.sh
Labels: Area: tools, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#11503 cpu/cc2538: Add periph_uart_mode implementation
  cpu/cc2538/Makefile.features
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/uart.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#11541 pkg/semtech-loramac: rework interaction with the MAC
  examples/lorawan/main.c
  makefiles/pseudomodules.inc.mk
  pkg/semtech-loramac/contrib/semtech_loramac.c
  pkg/semtech-loramac/doc.txt
  pkg/semtech-loramac/include/semtech_loramac.h
  tests/pkg_semtech-loramac/Makefile
  tests/pkg_semtech-loramac/main.c
Labels: Area: LoRa, CI: ready for build, Type: bug

#11602 tests/unittests: enable boards with enough memory
  tests/unittests/Makefile
Labels: Area: tests, CI: ready for build, Type: cleanup

#11606 tests/shell: Initialize xtimer when stdio_rtt is used
  tests/shell/main.c
Labels: Area: tests, CI: ready for build, Type: bug

#8855 sys/shell: add loramac shell command
  sys/auto_init/Makefile
  sys/auto_init/auto_init.c
  sys/auto_init/loramac/Makefile
  sys/auto_init/loramac/auto_init_loramac.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_loramac.c
  sys/shell/commands/shell_commands.c
  tests/pkg_semtech-loramac/Makefile
  tests/pkg_semtech-loramac/main.c
Labels: Area: LoRa, CI: ready for build, Type: enhancement

#11591 ldscripts: move .noinit section behind .bss section
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/lpc2387/ldscripts/lpc2387.ld
Labels: Area: cpu, CI: ready for build, Platform: ARM
