Repository RIOT-OS/RIOT, pull requests merged in 2019-02, with the labels that each got.

#10893 tests/periph_rtt: add Python script for automatic testing + use 5s delay between Hellos
  tests/periph_rtt/README.md
  tests/periph_rtt/main.c
  tests/periph_rtt/tests/01-run.py
Labels: Area: tests, Area: tools, CI: ready for build, Type: enhancement

#9793 net stats: move layer 2 netstats from netdev driver to gnrc_netif
  cpu/cc2538/radio/cc2538_rf_netdev.c
  cpu/esp32/esp-eth/esp_eth_netdev.c
  cpu/esp32/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/native/netdev_tap/netdev_tap.c
  cpu/native/socket_zep/socket_zep.c
  cpu/nrf5x_common/radio/nrfble/nrfble.c
  cpu/nrf5x_common/radio/nrfmin/nrfmin.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/cc1xxx_common/gnrc_netif_cc1xxx.c
  drivers/cc2420/cc2420_netdev.c
  drivers/enc28j60/enc28j60.c
  drivers/encx24j600/encx24j600.c
  drivers/include/net/netdev.h
  drivers/include/xbee.h
  drivers/kw2xrf/kw2xrf_netdev.c
  drivers/mrf24j40/mrf24j40_netdev.c
  drivers/netdev_eth/netdev_eth.c
  drivers/netdev_ieee802154/netdev_ieee802154.c
  drivers/xbee/gnrc_xbee.c
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/link_layer/gomach/gomach_internal.c
  sys/net/gnrc/link_layer/lwmac/lwmac_internal.c
  sys/net/gnrc/netif/ethernet/gnrc_netif_ethernet.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_raw.c
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
Labels: Area: network, CI: ready for build, Type: cleanup

#10891 cpu/native: fix race in thread_yield_higher()
  core/msg.c
  cpu/native/native_cpu.c
Labels: CI: ready for build, Community: Hack'n'ACK candidate, Impact: major, Platform: native, Type: bug

#10922 shell/ifconfig: Fixed stringification
  sys/shell/commands/sc_gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: bug

#10921 cpu/native: fix race in thread_yield_higher() [backport 2019.01]
  core/msg.c
  cpu/native/native_cpu.c
Labels: CI: ready for build, Community: Hack'n'ACK candidate, Impact: major, Platform: native, Process: release backport, Type: bug

#10285 at86rf2xx: release framebuffer on recv with (len > 0) && (buf == NULL) [backport 2018.10]
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, CI: ready for build, Process: release backport, Type: bug

#10924 release-notes.txt: Add Release 2018.10.1 notes
  release-notes.txt
Labels: CI: ready for build, Process: needs backport, Process: release cycle

#10925 release-notes.txt: Add Release 2018.10.1 notes [Backport 2018.10]
  release-notes.txt
Labels: CI: ready for build, Process: release backport, Process: release cycle

#10880 sam0 flashpage: wait for READY bit in INTFLAG after write command
  cpu/sam0_common/periph/flashpage.c
Labels: Area: cpu, Area: drivers, CI: ready for build, Platform: ARM, Type: enhancement

#10923 shell/ifconfig: Add L2-PDU info
  sys/shell/commands/sc_gnrc_netif.c
Labels: Area: network, CI: ready for build, Reviewed: 3-testing, Type: enhancement

#10918 drivers/cc110x: Fixed MTU calculation
  drivers/cc110x/cc110x-netdev.c
  drivers/cc110x/cc110x-rxtx.c
  drivers/cc110x/include/cc110x-internal.h
  sys/net/gnrc/netif/gnrc_netif_device_type.c
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#10220 chacha20poly1305: Initial implementation of AEAD cipher.
  sys/crypto/chacha20poly1305.c
  sys/include/crypto/chacha20poly1305.h
  tests/unittests/tests-crypto/tests-crypto-chacha20poly1305.c
  tests/unittests/tests-crypto/tests-crypto.c
  tests/unittests/tests-crypto/tests-crypto.h
Labels: Area: crypto, CI: ready for build, Impact: minor, Type: new feature

#10930 Fix hdc1000 renew interval documentation
  drivers/include/hdc1000.h
Labels: Area: doc, CI: ready for build, Impact: minor

#10939 2018.10.1: add VERSION
  VERSION
Labels: CI: ready for build, Process: release cycle

#10936 sam0_common: check ADC_NUMOF on adc_init()
  cpu/sam0_common/periph/adc.c
Labels: Area: drivers, CI: ready for build, Platform: ARM, Type: bug

#10825 cpu/fe310: Add call to periph_init()
  cpu/fe310/Makefile.include
  cpu/fe310/cpu.c
Labels: Area: cpu, CI: ready for build, Platform: RISC-V, Type: enhancement

#10412 drivers/w5100: Fixed netdev_driver_t::recv() API
  drivers/w5100/w5100.c
Labels: Area: drivers, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#9523 shell_commands: adapt ping6 to original-ping-like implementation
  sys/shell/commands/Makefile
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
  sys/shell/commands/sc_icmpv6_echo.c
  sys/shell/commands/shell_commands.c
Labels: Area: network, CI: ready for build, Type: enhancement

#10948 tests/gnrc_tcp_*: remove default PORT for native
  tests/gnrc_tcp_client/Makefile
  tests/gnrc_tcp_server/Makefile
Labels: Area: network, Area: tests, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#10950 gnrc_sixlowpan_iphc: fix _compressible()
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#10662 cpu/esp32: GPIO macro cleanup in periph_cpu.h
  cpu/esp32/esp-eth/esp_eth_netdev.c
  cpu/esp32/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Platform: ESP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug, Type: cleanup

#10960 gnrc: nib: fix DOXYGE -> DOXYGEN typo
  sys/net/gnrc/network_layer/ipv6/nib/_nib-slaac.h
Labels: Area: doc, CI: ready for build, Impact: minor, Type: bug

#10959 cpu/stm32_common: fix UART documentation
  cpu/stm32_common/include/periph_cpu_common.h
Labels: Area: doc, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10750 drivers: add support for SHT2x (I2C temp and humidity sensor)
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/sht2x.h
  drivers/sht2x/Makefile
  drivers/sht2x/include/sht2x_params.h
  drivers/sht2x/sht2x.c
  drivers/sht2x/sht2x_saul.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_sht2x.c
  tests/driver_sht2x/Makefile
  tests/driver_sht2x/README.md
  tests/driver_sht2x/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10940 boards/sodaq-autonomo: switch to flashing with bossac
  boards/sodaq-autonomo/Makefile.include
  boards/sodaq-autonomo/doc.txt
Labels: Area: boards, CI: ready for build, Type: enhancement

#9666 kinetis: add support for S9KEAZ128
  cpu/kinetis/Makefile.features
  cpu/kinetis/Makefile.include
  cpu/kinetis/cpu.c
  cpu/kinetis/fcfield.c
  cpu/kinetis/include/cpu_conf.h
  cpu/kinetis/include/cpu_conf_kinetis.h
  cpu/kinetis/include/cpu_conf_kinetis_ea.h
  cpu/kinetis/include/mcg.h
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/include/vectors_kinetis.h
  cpu/kinetis/include/vendor/SKEAZ1284.h
  cpu/kinetis/include/vendor/system_SKEAZ1284.h
  cpu/kinetis/isr_kinetis.c
  cpu/kinetis/kinetis-info.mk
  cpu/kinetis/periph/gpio.c
  cpu/kinetis/periph/ics.c
  cpu/kinetis/periph/timer.c
  cpu/kinetis/periph/wdog.c
  cpu/kinetis/vectors.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#10965 cpu/esp8266: removes netstats in esp wifi netdev driver
  cpu/esp8266/esp-wifi/esp_wifi_netdev.c
Labels: Area: cpu, Area: network, CI: ready for build, Platform: ESP, Type: bug

#10968 drivers/bmx280: fix dead links
  drivers/include/bmx280.h
Labels: Area: doc, CI: ready for build, Impact: minor

#10954 gnrc_sixlowpan_iphc: fix _compressible() [backport 2019.01]
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#10973 [backport] drivers/w5100: Fixed netdev_driver_t::recv() API
  drivers/w5100/w5100.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#10889 makefiles/toolchain: fix command -v multiple commands
  makefiles/toolchain/gnu.inc.mk
  makefiles/toolchain/llvm.inc.mk
Labels: Area: build system, Area: toolchain, CI: ready for build, Type: bug

#10967 sys/ps: Fixed stringification
  sys/ps/ps.c
Labels: Area: core, CI: ready for build, Type: bug

#9130 atmega: refactor cpu/board code and build/flash variables
  boards/arduino-duemilanove/Makefile.include
  boards/arduino-mega2560/Makefile.include
  boards/arduino-uno/Makefile.include
  boards/common/arduino-atmega/Makefile.features
  boards/common/arduino-atmega/Makefile.include
  boards/jiminy-mega256rfr2/Makefile.features
  boards/jiminy-mega256rfr2/Makefile.include
  boards/mega-xplained/Makefile.features
  boards/mega-xplained/Makefile.include
  boards/waspmote-pro/Makefile.features
  boards/waspmote-pro/Makefile.include
  cpu/atmega256rfr2/periph/Makefile
  cpu/atmega328p/Makefile.include
  cpu/atmega_common/Makefile.include
  makefiles/arch/atmega.inc.mk
  makefiles/tools/avrdude.inc.mk
Labels: Area: boards, CI: ready for build, Platform: AVR, Type: cleanup

#7577 gnrc_netif_ieee802154: drop duplicate broadcast packets (optionally)
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/netif.h
  sys/include/net/gnrc/netif/dedup.h
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
Labels: Area: network, CI: ready for build, Reviewed: 3-testing, Type: new feature

#10984 periph/uart: improve documentation
  drivers/include/periph/uart.h
Labels: Area: doc, Area: drivers, CI: ready for build

#10975 gnrc_ipv6_nib/nc: remove from _next_removable on remove
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  tests/unittests/tests-gnrc_ipv6_nib/tests-gnrc_ipv6_nib-internal.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#10993 gnrc_ipv6_nib/nc: remove from _next_removable on remove [backport 2019.01]
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  tests/unittests/tests-gnrc_ipv6_nib/tests-gnrc_ipv6_nib-internal.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#10995 net/sixlowpan: Fixed calculation of fragment size
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
Labels: Area: network, CI: ready for build, Type: bug

#10978 gnrc_ipv6_nib: release packet when NC entry can't be added
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#10996 gnrc_ipv6_nib: release packet when NC entry can't be added [backport 2019.01]
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#10992 pyterm: use python3 by default
  dist/tools/pyterm/pyterm
Labels: Area: tools, CI: ready for build, Type: enhancement

#10997 Documentation: fix dead links
  boards/esp8266-esp-12x/doc.txt
  boards/jiminy-mega256rfr2/doc.txt
  boards/nz32-sc151/doc.txt
Labels: Area: doc, CI: ready for build, Impact: minor

#10946 gnrc_tcp: syn_rcvd pkt loss fix
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
Labels: Area: network, CI: ready for build, Type: bug

#10998 gnrc_ipv6_nib: fix iteration conditions for cache-out
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#11001 gnrc_ipv6_nib: fix iteration conditions for cache-out [backport 2019.01]
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#10630 sys/shell: ensure character is flushed when echoing.
  sys/shell/shell.c
Labels: CI: ready for build, CI: run tests, Type: bug

#8968 dist/tools: Add script for backporting PR's
  dist/tools/backport_pr/.gitignore
  dist/tools/backport_pr/README.md
  dist/tools/backport_pr/backport_pr.py
  dist/tools/backport_pr/requirements.txt
  dist/tools/backport_pr/tox.ini
Labels: Area: tools, CI: ready for build, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#10369 gnrc_ipv6_nib/arsm: ensure proper int width in backoff calculation
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.h
  tests/unittests/tests-gnrc_ipv6_nib/tests-gnrc_ipv6_nib-internal.c
Labels: Area: network, CI: ready for build, CI: run tests, Community: Hack'n'ACK candidate, Platform: AVR, Platform: MSP, Reviewed: 3-testing, Type: enhancement

#11005 tests/periph_eeprom: use EEPROM_CLEAR_BYTE
  tests/periph_eeprom/main.c
Labels: Area: tests, CI: ready for build, Process: needs backport, Type: bug

#11007 gnrc_ipv6_nib/arsm: ensure proper int width in backoff calculation [backport 2019.01]
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.h
  tests/unittests/tests-gnrc_ipv6_nib/tests-gnrc_ipv6_nib-internal.c
Labels: Area: network, CI: ready for build, CI: run tests, Community: Hack'n'ACK candidate, Platform: AVR, Platform: MSP, Process: release backport, Reviewed: 3-testing, Type: enhancement

#11008 tests/periph_eeprom: use EEPROM_CLEAR_BYTE [backport 2019.01]
  tests/periph_eeprom/main.c
Labels: Area: tests, CI: ready for build, Process: release backport, Type: bug

#10985 gnrc_ipv6_nib: fix preparation of delayed NA
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: bug

#11009 gnrc_ipv6_nib: fix preparation of delayed NA [backport 2019.01]
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Process: release backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: bug

#11010 backport: gnrc_tcp: syn_rcvd pkt loss fix
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#11014 net/gnrc/pktbuf.h: add note in gnrc_pktbuf_mark
  sys/include/net/gnrc/pktbuf.h
Labels: Area: doc, CI: ready for build, Type: enhancement

#10871 Release 2019.01 notes
  release-notes.txt
Labels: CI: ready for build, Community: help wanted, Process: release cycle, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11016 release-notes.txt: Add Release 2018.10.1 notes [backport 2019.01]
  release-notes.txt
Labels: CI: ready for build, Process: release backport, Process: release cycle

#11017 drivers/hts211: fix CTRL_REG2_OS_EN
  drivers/hts221/include/hts221_regs.h
Labels: Area: drivers, CI: ready for build, Type: enhancement

#11018 Release 2019.01 notes [backport 2019.01]
  release-notes.txt
Labels: CI: ready for build, Community: help wanted, Process: release backport, Process: release cycle, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11019 VERSION: add 2019.01 version file
  VERSION
Labels: CI: ready for build, Process: release cycle

#11015 gnrc_sixlowpan_frag: remove redundant PID member
  sys/include/net/gnrc/sixlowpan/frag.h
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#10919 drivers: Add AD7746 capacitance sensor driver
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/ad7746/Makefile
  drivers/ad7746/ad7746.c
  drivers/ad7746/ad7746_saul.c
  drivers/ad7746/include/ad7746_internal.h
  drivers/ad7746/include/ad7746_params.h
  drivers/include/ad7746.h
  drivers/include/saul.h
  drivers/saul/saul_str.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_ad7746.c
  sys/include/phydat.h
  sys/phydat/phydat_str.c
  tests/driver_ad7746/Makefile
  tests/driver_ad7746/README.md
  tests/driver_ad7746/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#9181 sys/event: make event queue independent from thread
  sys/event/event.c
  sys/include/event.h
  tests/events/Makefile
  tests/events/main.c
Labels: CI: ready for build, CI: run tests, Type: enhancement

#11025 drivers/sx127x: fix dead links
  drivers/include/sx127x.h
Labels: Area: doc, CI: ready for build, Impact: minor, Type: bug

#10963 gnrc_tcp: change and verify addrs in use
  tests/gnrc_tcp_client/Makefile
  tests/gnrc_tcp_client/main.c
  tests/gnrc_tcp_server/Makefile
  tests/gnrc_tcp_server/main.c
Labels: Area: network, Area: tests, CI: ready for build, Type: enhancement

#9838 ds323x: Minimal driver for DS323x extremely accurate RTC
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/ds3234/Makefile
  drivers/ds3234/ds3234.c
  drivers/ds3234/include/ds3234_params.h
  drivers/ds3234/include/ds3234_regs.h
  drivers/include/ds3234.h
  tests/driver_ds3234/Makefile
  tests/driver_ds3234/README.md
  tests/driver_ds3234/main.c
Labels: Area: drivers, Area: timers, CI: ready for build, Impact: minor, Type: new feature

#11032 pkt/emb6: fix typo in hwrng call
  pkg/emb6/contrib/target.c
Labels: Area: pkg, CI: ready for build, Type: bug

#10974 sys/random: use periph/hwrng as seed if available
  Makefile.dep
  sys/random/random.c
Labels: Area: crypto, Area: security, CI: ready for build, Type: enhancement

#11035 makefiles/serial: fix indent
  makefiles/tools/serial.inc.mk
Labels: Area: tools, CI: ready for build, Impact: minor, Type: cleanup

#11034 tools/serial: add support for socat as riot terminal
  makefiles/tools/serial.inc.mk
Labels: Area: tools, CI: ready for build, Type: new feature

#11042 pkg/semtech-loramac: fixing missing directive in doc
  pkg/semtech-loramac/doc.txt
Labels: Area: LoRa, Area: doc, CI: ready for build

#10999 tests/rng: replace printf_float with fmt/print_float
  tests/rng/Makefile
  tests/rng/test.c
Labels: Area: tests, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#11045 tests/lwip_sock_ip: fix wrong memcpy assumption
  tests/lwip_sock_ip/stack.c
Labels: Area: tests, CI: ready for build, Type: bug

#11047 tests/periph_timer: add hifive1 exception
  tests/periph_timer/Makefile
Labels: Area: tests, CI: ready for build, Platform: RISC-V, Type: bug

#11049 pkg/lwip: use xtimer_set64() in sys_arch_mbox_fetch()
  pkg/lwip/contrib/sys_arch.c
Labels: Area: network, Area: tests, CI: ready for build, Type: bug

#11048 gnrc_netif_hdr: make in parameters const
  sys/include/net/gnrc/netif/hdr.h
  sys/net/gnrc/netif/hdr/gnrc_netif_hdr.c
Labels: Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Type: enhancement

#11050 tests/pkg_relic: add hifive1 to blacklist
  tests/pkg_relic/Makefile
Labels: Area: pkg, CI: ready for build, Platform: RISC-V, Type: bug

#10905 net: NETOPT_MAX_{PACKET_SIZE -> PDU_SIZE}
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/nrf5x_common/radio/nrfmin/nrfmin.c
  drivers/cc110x/cc110x-netdev.c
  drivers/netdev_eth/netdev_eth.c
  drivers/netdev_ieee802154/netdev_ieee802154.c
  drivers/sx127x/sx127x_netdev.c
  drivers/xbee/xbee.c
  sys/include/net/netopt.h
  sys/net/crosslayer/netopt/netopt.c
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_device_type.c
  sys/shell/commands/sc_gnrc_netif.c
  tests/driver_at86rf2xx/cmd.c
  tests/gnrc_ipv6_nib/main.c
  tests/gnrc_ipv6_nib/mockup_netif.c
  tests/gnrc_ipv6_nib_6ln/main.c
  tests/gnrc_ipv6_nib_6ln/mockup_netif.c
  tests/gnrc_ndp/main.c
  tests/gnrc_netif/common.c
  tests/gnrc_netif/main.c
  tests/gnrc_sixlowpan/main.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_udp/stack.c
Labels: Area: network, CI: ready for build, Impact: major, Process: API change

#10989 core: Use enum for thread states
  core/include/sched.h
  core/include/thread.h
  core/sched.c
  core/thread.c
  core/thread_flags.c
  sys/cpp11-compat/thread.cpp
  sys/ps/ps.c
Labels: Area: core, CI: ready for build, CI: run tests, Impact: major, Process: API change, Process: needs >1 ACK, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#11064 unexport TERM* variables
  boards/native/Makefile.include
  makefiles/tools/serial.inc.mk
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, CI: run tests, Type: bug

#11027 boards/common/atmega: Refactoring periph_conf.h
  boards/arduino-duemilanove/Makefile.dep
  boards/arduino-duemilanove/Makefile.include
  boards/arduino-mega2560/Makefile.dep
  boards/arduino-uno/Makefile.dep
  boards/arduino-uno/Makefile.include
  boards/common/arduino-atmega/Makefile.include
  boards/common/arduino-atmega/include/periph_conf.h
  boards/common/atmega/Makefile.include
  boards/common/atmega/include/periph_conf_atmega_common.h
  boards/jiminy-mega256rfr2/Makefile.include
  boards/jiminy-mega256rfr2/include/periph_conf.h
  boards/mega-xplained/Makefile.include
  boards/mega-xplained/include/periph_conf.h
  boards/waspmote-pro/Makefile
  boards/waspmote-pro/Makefile.dep
  boards/waspmote-pro/Makefile.include
  boards/waspmote-pro/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Platform: AVR, Process: needs >1 ACK, Reviewed: 1-fundamentals, Reviewed: 3-testing, Type: cleanup

#9407 boards/nrf52: add openocd as programmer option
  boards/acd52832/doc.txt
  boards/common/nrf52/Makefile.include
  boards/common/nrf52/dist/openocd.cfg
  boards/common/nrf52/doc.txt
  boards/common/nrf52/include/board_common.h
  boards/nrf52840-mdk/Makefile.include
  boards/nrf52840-mdk/doc.txt
  boards/nrf52840dk/doc.txt
  boards/nrf52dk/doc.txt
  boards/ruuvitag/doc.txt
  boards/thingy52/doc.txt
Labels: Area: boards, Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#10808 doc: include *_params.h files in documentation
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build, Community: Hack'n'ACK candidate, Type: bug

#11067 gnrc_netif: expose message queue size configurable
  sys/include/net/gnrc/netif/conf.h
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: enhancement

#10532 gnrc_netif: check all required options on initialization
  drivers/include/net/netdev.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_device_type.c
  tests/gnrc_ipv6_nib_6ln/mockup_netif.c
  tests/gnrc_ndp/Makefile
  tests/gnrc_ndp/main.c
  tests/gnrc_netif/common.c
  tests/gnrc_netif/main.c
  tests/gnrc_sixlowpan/main.c
Labels: Area: network, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10431 dist/pythonlibs: provide unittest TestCase wrapper for testrunner
  dist/pythonlibs/testrunner/__init__.py
  dist/pythonlibs/testrunner/spawn.py
  dist/pythonlibs/testrunner/unittest.py
Labels: Area: tests, Area: tools, CI: ready for build, Discussion: RFC, Type: enhancement

#11053 tests/bloom_bytes: replace %f with fmt/print_float
  tests/bloom_bytes/Makefile
  tests/bloom_bytes/main.c
  tests/bloom_bytes/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Type: bug

#11071 net/nanocoap: don't abort server on recv error
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: CoAP, CI: ready for build, Type: bug

#11060 boards/lobaro-lorabox: Remove auto init LED0
  boards/lobaro-lorabox/include/board.h
  boards/lobaro-lorabox/include/gpio_params.h
Labels: Area: boards, CI: ready for build, Type: bug

#11070 boards/stm32f3discovery: Fix no external low speed crystal
  boards/stm32f3discovery/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Process: release backport, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#10738 pkg/wakaama: bump version
  pkg/wakaama/Makefile
  pkg/wakaama/Makefile.include
  pkg/wakaama/patches/0009-fixed-warnings-in-observe.c.patch
  pkg/wakaama/patches/0013-fixed-warnings-in-example-objects.patch
  pkg/wakaama/patches/0014-Use-lwm2m_strdup-instead-of-strdup.patch
  pkg/wakaama/patches/0015-fixed-alignment-problem-in-lwm2m_data_t.patch
  pkg/wakaama/patches/0016-change-liblwm2m-include.patch
  pkg/wakaama/patches/0017-fix-access-control-object-read.patch
Labels: Area: pkg, CI: ready for build, Type: enhancement

#10322 tests/leds: initialize led0 by default
  boards/common/nucleo144/include/board.h
  tests/leds/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests, Type: bug

#11039 makefiles/tools: Improved avrdude integration
  boards/arduino-duemilanove/Makefile.include
  boards/arduino-mega2560/Makefile.include
  boards/arduino-uno/Makefile.include
  boards/jiminy-mega256rfr2/Makefile.include
  boards/mega-xplained/Makefile.include
  boards/waspmote-pro/Makefile.include
  makefiles/tools/avrdude.inc.mk
Labels: Area: build system, CI: ready for build, Platform: AVR, Type: enhancement
