Repository RIOT-OS/RIOT, pull requests merged in 2020-10, with the labels that each got.

#14909 can: add proper checks for ifnum validity
  cpu/esp32/include/periph_cpu.h
  cpu/native/Kconfig
  cpu/native/Makefile.features
  cpu/native/include/can_params.h
  cpu/native/include/candev_linux.h
  cpu/native/include/periph_cpu.h
  cpu/native/periph/can.c
  cpu/native/startup.c
  cpu/stm32/Makefile.dep
  sys/auto_init/can/auto_init_can_linux.c
  sys/auto_init/can/auto_init_periph_can.c
  sys/auto_init/can/init.c
  sys/can/conn/raw.c
  sys/can/dll.c
  tests/candev/Makefile
  tests/candev/main.c
Labels: CI: ready for build, Type: cleanup

#14950 ieee802154_submac: add initial support for common MAC sub layer
  Makefile.dep
  drivers/include/net/netdev/ieee802154_submac.h
  drivers/netdev_ieee802154_submac/Makefile
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  makefiles/pseudomodules.inc.mk
  sys/include/net/ieee802154.h
  sys/include/net/ieee802154/submac.h
  sys/net/gnrc/netif/init_devs/auto_init_cc2538_rf.c
  sys/net/gnrc/netif/init_devs/auto_init_nrf802154.c
  sys/net/link_layer/ieee802154/Makefile
  sys/net/link_layer/ieee802154/submac.c
  tests/ieee802154_submac/Makefile
  tests/ieee802154_submac/common.h
  tests/ieee802154_submac/init_devs.c
  tests/ieee802154_submac/main.c
Labels: Area: network, CI: ready for build, Type: new feature

#15022 makefiles/info-global.inc.mk: add initial default modules inclusion
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Type: cleanup

#15136 suit: Move common storage.c to module directory
  sys/suit/storage/Makefile
  sys/suit/storage/storage.c
Labels: Area: OTA, CI: ready for build, Impact: minor, Type: cleanup

#15116 doc/kconfig: add a note about possible CPU intermediate hierarchy level
  doc/doxygen/src/kconfig/kconfig.md
Labels: Area: Kconfig, Area: doc, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 5-documentation

#15133 pkg/nanopb: bump version to 0.4.3
  pkg/nanopb/Makefile
  pkg/nanopb/patches/0001-generator-nanopb_generator.py-use-python3.patch
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#15007 net/lora : Expose configurations to Kconfig
  drivers/sx127x/sx127x.c
  sys/include/net/lora.h
  sys/net/Kconfig
  sys/net/lora/Kconfig
Labels: Area: Kconfig, Area: LoRa, CI: ready for build, Type: enhancement

#14865 boards/nucleo-f303ze: add ADC feature
  boards/nucleo-f303ze/Kconfig
  boards/nucleo-f303ze/Makefile.features
  boards/nucleo-f303ze/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: new feature

#15141 cpu/nrf52: provide radio_nrf802154 feature at CPU level
  boards/adafruit-clue/Kconfig
  boards/adafruit-clue/Makefile.features
  boards/adafruit-itsybitsy-nrf52/Kconfig
  boards/adafruit-itsybitsy-nrf52/Makefile.features
  boards/arduino-nano-33-ble/Kconfig
  boards/arduino-nano-33-ble/Makefile.features
  boards/common/particle-mesh/Kconfig
  boards/common/particle-mesh/Makefile.features
  boards/feather-nrf52840/Kconfig
  boards/feather-nrf52840/Makefile.features
  boards/nrf52840-mdk/Kconfig
  boards/nrf52840-mdk/Makefile.features
  boards/nrf52840dk/Kconfig
  boards/nrf52840dk/Makefile.features
  boards/nrf52840dongle/Kconfig
  boards/nrf52840dongle/Makefile.features
  boards/reel/Kconfig
  boards/reel/Makefile.features
  cpu/nrf52/Kconfig
  cpu/nrf52/Makefile.features
Labels: Area: boards, Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#15138 dist/codespell: update the list of ignored words and fix all typos
  CODING_CONVENTIONS.md
  LOSTANDFOUND.md
  boards/dwm1001/doc.txt
  boards/dwm1001/include/board.h
  boards/dwm1001/include/periph_conf.h
  boards/limifrog-v1/doc.txt
  boards/nrf52dk/doc.txt
  core/include/msg_bus.h
  cpu/cc26xx_cc13xx/include/cpu_conf_cc26xx_cc13xx.h
  cpu/cortexm_common/include/cpu_conf_common.h
  cpu/cortexm_common/vectors_cortexm.c
  cpu/esp_common/include/esp_common.h
  cpu/fe310/periph/i2c.c
  cpu/native/include/async_read.h
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  cpu/sam0_common/periph/gpio.c
  cpu/sam0_common/periph/timer.c
  dist/tools/codespell/ignored_words.txt
  dist/tools/suit/suit-manifest-generator/suit_tool/argparser.py
  dist/tools/suit/suit-manifest-generator/suit_tool/compile.py
  doc/doxygen/src/advanced-build-system-tricks.md
  doc/doxygen/src/kconfig/kconfig.md
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/enc28j60/enc28j60.c
  drivers/include/at.h
  drivers/include/ina3221.h
  drivers/include/lc709203f.h
  drivers/include/ltc4150.h
  drivers/include/periph/gpio.h
  drivers/include/pir.h
  drivers/mtd_mci/mtd_mci.c
  pkg/nimble/netif/include/nimble_netif.h
  pkg/nordic_softdevice_ble/README-BLE-6LoWPAN.md
  pkg/wakaama/include/lwm2m_client_config.h
  release-notes.txt
  sys/arduino/include/wireport.hpp
  sys/can/device.c
  sys/include/net/gnrc/netif.h
  sys/include/net/gnrc/netif/lorawan.h
  sys/include/net/gnrc/tcp.h
  sys/include/xtimer.h
  sys/include/zptr.h
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/posix/pthread/pthread_tls.c
  sys/shell/commands/sc_sht1x.c
  sys/ztimer/core.c
  tests/bench_xtimer/README.md
  tests/driver_ina3221/main.c
  tests/gnrc_dhcpv6_client_6lbr/README.md
  tests/gnrc_ipv6_ext/README.md
  tests/gnrc_ipv6_ext_frag/README.md
  tests/gnrc_ipv6_ext_opt/README.md
  tests/gnrc_rpl_srh/README.md
  tests/od/main.c
  tests/periph_i2c/main.c
  tests/sys_crypto/tests-crypto-modes-ccm.c
Labels: Area: CI, Area: tools, CI: ready for build, Type: cleanup

#14864 boards/nucleo-f303re: add ADC feature
  boards/nucleo-f303re/Kconfig
  boards/nucleo-f303re/Makefile.features
  boards/nucleo-f303re/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: new feature

#15134 cpu/cc26xx_cc13xx: enable periph clocks on sleep
  cpu/cc26x0/include/cc26x0_prcm.h
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_prcm.h
  cpu/cc26xx_cc13xx/power_arch.c
Labels: Area: cpu, CI: ready for build, Type: bug

#15139 cpu/cc2538: reset rtt on init
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/rtt.c
Labels: Area: drivers, CI: ready for build, Type: cleanup

#15146 net/gcoap: Fix reference to COAP_LINK_FLAGS in documentation
  sys/include/net/gcoap.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: bug

#15152 doxygen: Replace favicon with square png
  doc/doxygen/src/favicon.png
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: cleanup

#15147 net/gcoap: Insert registrations at the front
  sys/net/application_layer/gcoap/gcoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Area: CoAP, CI: ready for build, Type: enhancement

#15156 Add const to ciphers
  sys/crypto/modes/cbc.c
  sys/crypto/modes/ccm.c
  sys/crypto/modes/ctr.c
  sys/crypto/modes/ecb.c
  sys/crypto/modes/ocb.c
  sys/include/crypto/modes/cbc.h
  sys/include/crypto/modes/ccm.h
  sys/include/crypto/modes/ctr.h
  sys/include/crypto/modes/ecb.h
  sys/include/crypto/modes/ocb.h
  tests/sys_crypto/tests-crypto-modes-ccm.c
Labels: Area: crypto, CI: ready for build, Type: cleanup

#14500 gnrc_tcp: Replace xtimer with evtimer
  Makefile.dep
  sys/include/net/gnrc/tcp.h
  sys/include/net/gnrc/tcp/config.h
  sys/include/net/gnrc/tcp/tcb.h
  sys/net/gnrc/transport_layer/tcp/Kconfig
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  sys/net/gnrc/transport_layer/tcp/internal/common.h
  sys/net/gnrc/transport_layer/tcp/internal/eventloop.h
  tests/gnrc_tcp/Makefile
Labels: Area: network, CI: ready for build, Type: enhancement

#15159 gnrc_tcp: Fix typo in config.h
  sys/include/net/gnrc/tcp/config.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#14065 gnrc_lorawan: refactor
  Makefile.dep
  examples/gnrc_lorawan/Makefile
  examples/gnrc_lorawan/main.c
  sys/include/net/gnrc/lorawan.h
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_crypto.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mcps.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mlme.c
  sys/net/gnrc/link_layer/lorawan/include/gnrc_lorawan_internal.h
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Area: LoRa, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#15163 cpu/stm32: Clean up periph_eth
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/include/periph_conf.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/eth.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: cleanup

#15091 Makefile.dep: sort dependencies
  Makefile.dep
  cpu/native/Makefile.include
  drivers/Makefile.dep
  pkg/lwip/Makefile.dep
  sys/Makefile.dep
Labels: Area: build system, CI: ready for build, Type: cleanup

#15154 README.md: move tapsetup section to documentation
  README.md
  doc/doxygen/src/getting-started.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: needs >1 ACK, Type: cleanup

#15157 gnrc/lorawan : Bug fix for zero CFList
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mlme.c
Labels: Area: LoRa, CI: ready for build, Process: needs backport, Type: bug

#15158 cpu/efm32: fix build with !LETIMER
  cpu/efm32/periph/timer.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Process: needs backport, Type: enhancement

#15166 drivers/netdev: Clarify documentation
  drivers/include/net/netdev.h
Labels: Area: doc, Area: network, CI: ready for build, Impact: minor, Type: bug

#15160 gnrc_tcp: reduce scope of receive buffer
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_rcvbuf.c
Labels: Area: network, CI: ready for build, Type: cleanup

#15161 gnrc_tcp: Hide remaining global variables
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_common.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/internal/common.h
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#15167 cpu/efm32: fix build with !LETIMER [backport 2020.10]
  cpu/efm32/periph/timer.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Process: release backport, Type: enhancement

#15162 tests/mpu_stack_guard: add automatic test script
  tests/mpu_stack_guard/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: enhancement

#15164 cpu/stm32: Fix periph_eth link status
  cpu/stm32/periph/eth.c
Labels: Area: drivers, CI: ready for build, Process: needs backport, Type: bug

#13102 cpu/efm32: add watchdog peripheral
  cpu/efm32/Kconfig
  cpu/efm32/Makefile.dep
  cpu/efm32/Makefile.features
  cpu/efm32/families/efm32gg/Kconfig
  cpu/efm32/families/efm32lg/Kconfig
  cpu/efm32/families/efm32pg12b/Kconfig
  cpu/efm32/families/efm32pg1b/Kconfig
  cpu/efm32/families/efm32zg/Kconfig
  cpu/efm32/families/efr32mg12p/Kconfig
  cpu/efm32/families/efr32mg1p/Kconfig
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/wdt_series0.c
  cpu/efm32/periph/wdt_series1.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#15170 info-objsize: Restore info-objsize target
  makefiles/info.inc.mk
Labels: Area: build system, CI: ready for build, CI: skip compile test, Type: bug

#15178 boards/nucleo-f413zh: remove duplicate provided DMA feature
  boards/nucleo-f413zh/Makefile.features
Labels: Area: build system, CI: ready for build, Impact: minor, Type: cleanup

#15175 tests/periph_timer_periodic: increase test margin for slow uarts
  tests/periph_timer_periodic/tests/01-run.py
  tests/pkg_lvgl/tests_pkg_lvgl.elf
Labels: Area: tests, CI: ready for build, Process: needs backport, Type: cleanup

#15173 tests/malloc: increase timeout, for larger BOARDs
  tests/malloc/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: needs backport, Type: cleanup

#15177 boards/nucleo-l152re: fix DMA configuration
  boards/nucleo-l152re/include/periph_conf.h
Labels: Area: cpu, CI: ready for build, Process: needs backport, Type: bug

#15179 boards/nucleo-l152re: fix DMA configuration [backport 2020.10]
  boards/nucleo-l152re/include/periph_conf.h
Labels: Area: cpu, CI: ready for build, Process: release backport, Type: bug

#15180 cpu/stm32/irqs: fix regexp in vectors generator script
  cpu/stm32/dist/irqs/gen_vectors.py
Labels: Area: cpu, Area: tools, CI: ready for build, Impact: minor, Type: bug

#13624 tests/candev: add mcp2515 + driver/mcp2515: add driver
  CODEOWNERS
  boards/native/Makefile.dep
  drivers/Makefile.dep
  drivers/include/candev_mcp2515.h
  drivers/mcp2515/Makefile
  drivers/mcp2515/Makefile.include
  drivers/mcp2515/candev_mcp2515.c
  drivers/mcp2515/include/mcp2515_params.h
  drivers/mcp2515/mcp2515.c
  drivers/mcp2515/mcp2515.h
  drivers/mcp2515/mcp2515_defines.h
  drivers/mcp2515/mcp2515_spi.c
  drivers/mcp2515/mcp2515_spi.h
  sys/auto_init/can/auto_init_mcp2515.c
  sys/auto_init/can/init.c
  tests/candev/Makefile
  tests/candev/Makefile.ci
  tests/candev/README.md
  tests/candev/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#14949 drivers/mrf24j40: register with netdev
  drivers/include/mrf24j40.h
  drivers/include/net/netdev.h
  drivers/mrf24j40/mrf24j40.c
  drivers/mrf24j40/mrf24j40_getset.c
  drivers/mrf24j40/mrf24j40_netdev.c
  pkg/lwip/contrib/lwip.c
  sys/net/gnrc/netif/init_devs/auto_init_mrf24j40.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15182 tests/malloc: increase timeout, for larger BOARDs [backport 2020.10]
  tests/malloc/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: release backport, Type: cleanup

#15181 tests/periph_timer_periodic: increase test margin for slow uarts [backport 2020.10]
  tests/periph_timer_periodic/tests/01-run.py
  tests/pkg_lvgl/tests_pkg_lvgl.elf
Labels: Area: tests, CI: ready for build, Process: release backport, Type: cleanup

#15155 gnrc/rpl: document implementation status
  sys/include/net/gnrc/rpl.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#15083 drivers/enc28j60: register with netdev
  drivers/enc28j60/Makefile.dep
  drivers/enc28j60/enc28j60.c
  drivers/include/enc28j60.h
  drivers/include/net/netdev.h
  pkg/lwip/contrib/lwip.c
  sys/net/gnrc/netif/init_devs/auto_init_enc28j60.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15184 cpu/stm32: Cleanup periph_eth
  cpu/stm32/periph/eth.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#14367 cpu/cortex: add initial support for Cortex-M33
  core/include/panic.h
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.features
  cpu/cortexm_common/Makefile.include
  cpu/cortexm_common/cortexm_init.c
  cpu/cortexm_common/include/cpu.h
  cpu/cortexm_common/mpu.c
  cpu/cortexm_common/thread_arch.c
  cpu/cortexm_common/vectors_cortexm.c
  makefiles/arch/cortexm.inc.mk
  tests/pkg_cmsis-nn/Makefile
Labels: Area: cpu, CI: ready for build, Type: new feature

#15189 tests/lwip_sock_tcp: remove duplicated xtimer_init
  tests/lwip_sock_tcp/main.c
  tests/lwip_sock_tcp/stack.c
Labels: CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#15191 tests/lwip_sock_tcp: remove duplicated xtimer_init [backport 2020.10]
  tests/lwip_sock_tcp/main.c
  tests/lwip_sock_tcp/stack.c
Labels: CI: ready for build, Process: release backport, Type: bug

#15194 gnrc_netif_raw: add NETIF header on receive
  sys/net/gnrc/netif/gnrc_netif_raw.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#15195 tets/ztimer_periodic: blacklist native
  tests/ztimer_periodic/Makefile
Labels: Area: tests, CI: ready for build, Type: bug

#15186 cpu/esp*: fix linker scripts
  cpu/esp32/ld/esp32.common.ld
  cpu/esp8266/ld/esp8266.riot-os.ld
  tests/mtd_mapper/Makefile
  tests/pkg_littlefs/Makefile
  tests/pkg_littlefs2/Makefile
  tests/pkg_spiffs/Makefile
Labels: Area: cpu, CI: ready for build, CI: run tests, CI: skip compile test, Platform: ESP, Process: needs backport, Type: bug

#15202 net/sock/dtls: fix return value of sock_dtls_session_create()
  sys/include/net/sock/dtls.h
Labels: Area: network, CI: ready for build, Type: bug

#15204 tinydtls: fix minor typo in comment
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Area: doc, CI: ready for build, Impact: minor, Type: bug

#15193 cpu/stm32: Fix & cleanup periph_eth
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/include/periph_conf.h
  cpu/stm32/periph/eth.c
Labels: Area: boards, Area: cpu, CI: ready for build, Process: needs backport, Type: bug, Type: cleanup

#15200 drivers: Add utilities for Ethernet Media-Independent Interface (MII) and use them in STM32 `periph_eth`
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/include/periph_conf.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/eth.c
  drivers/include/mii.h
Labels: Area: cpu, Area: drivers, CI: ready for build, Type: cleanup

#15206 [backport] boards/nucleo-{f207zg,f746zg,f767zi}: periph_conf
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Process: release backport, Type: bug

#15210 netdev/ieee802154_submac: enable ACK_REQ by default
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15215 cpu/cc26xx_cc13xx: fix typo on XOSC selection
  cpu/cc26x2_cc13x2/osc.c
  cpu/cc26xx_cc13xx/vectors.c
Labels: Area: cpu, CI: ready for build, Type: bug

#15197 cpu/esp*: fix linker scripts [backport 2020.10]
  cpu/esp32/ld/esp32.common.ld
  cpu/esp8266/ld/esp8266.riot-os.ld
  tests/mtd_mapper/Makefile
  tests/pkg_littlefs/Makefile
  tests/pkg_littlefs2/Makefile
  tests/pkg_spiffs/Makefile
Labels: Area: cpu, CI: ready for build, Platform: ESP, Process: release backport, Type: bug

#15183 cpu/stm32: Fix periph_eth link status [backport 2020.10]
  cpu/stm32/periph/eth.c
Labels: CI: ready for build, Process: release backport, Type: bug

#15198 Kconfig: add error symbols and makefile check
  Kconfig
  Makefile.include
  boards/stm32f4discovery/Kconfig
  cpu/atmega_common/Kconfig
  cpu/efm32/Kconfig
  cpu/sam0_common/Kconfig
  cpu/stm32/Kconfig
  kconfigs/Kconfig.errors
  makefiles/kconfig.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15211 gnrc_tcp: use gnrc_pktsnip_search_type() to search for snips
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
Labels: Area: network, CI: ready for build, Type: cleanup

#15058 boards: remove the bootloader_% pseudo-feature, replace it with highlevel_stdio
  boards/adafruit-clue/Kconfig
  boards/adafruit-clue/Makefile.dep
  boards/adafruit-clue/Makefile.features
  boards/adafruit-itsybitsy-nrf52/Kconfig
  boards/adafruit-itsybitsy-nrf52/Makefile.dep
  boards/adafruit-itsybitsy-nrf52/Makefile.features
  boards/arduino-nano-33-ble/Kconfig
  boards/arduino-nano-33-ble/Makefile.dep
  boards/arduino-nano-33-ble/Makefile.features
  boards/common/arduino-mkr/Kconfig
  boards/common/arduino-mkr/Makefile.features
  boards/common/samd21-arduino-bootloader/Makefile.dep
  boards/common/sodaq/Kconfig
  boards/common/sodaq/Makefile.features
  boards/feather-m0-wifi/Kconfig
  boards/feather-m0/Kconfig
  boards/feather-m0/Makefile.features
  boards/nrf52840dongle/Kconfig
  boards/nrf52840dongle/Makefile.dep
  boards/nrf52840dongle/Makefile.features
  boards/serpente/Kconfig
  boards/serpente/Makefile.features
  boards/wemos-zero/Kconfig
  boards/wemos-zero/Makefile.features
  cpu/nrf5x_common/Kconfig
  kconfigs/Kconfig.features
  makefiles/stdio.inc.mk
  tests/ssp/Makefile
  tests/unittests/Makefile
Labels: Area: build system, CI: ready for build, Type: cleanup

#15217 makefiles/kconfig: always allow to use KCONFIG_ADD_CONFIG
  cpu/cortexm_common/Makefile.features
  cpu/sam0_common/Makefile.features
  makefiles/kconfig.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#15220 tools/insufficient_memory: improve error handling and output
  dist/tools/insufficient_memory/add_insufficient_memory_board.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#15221 gnrc_netif: add missing gnrc_netif_release() to early return
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: bug

#14413 mips: adapt for toolchain update (2020.06-01)
  cpu/mips_pic32_common/Makefile.include
  cpu/mips_pic32_common/periph/gpio.c
  cpu/mips_pic32mx/Makefile.include
  cpu/mips_pic32mz/Makefile.include
Labels: Area: toolchain, CI: ready for build, Platform: MIPS, Type: cleanup, Type: enhancement

#15224 boards/common/particle-mesh: fix SPI configuration
  boards/common/particle-mesh/include/periph_conf_common.h
Labels: Area: boards, CI: ready for build, Type: bug

#15227 gnrc_netif: remove unused `event_netdev_t` struct
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: cleanup

#15011 picolibc: model as a feature
  cpu/arm7_common/Kconfig
  cpu/arm7_common/Makefile.dep
  cpu/arm7_common/Makefile.features
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.dep
  cpu/cortexm_common/Makefile.features
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.dep
  cpu/fe310/Makefile.features
  examples/gnrc_minimal/Makefile
  kconfigs/Kconfig.features
Labels: Area: build system, CI: ready for build, Type: cleanup

#15209 gnrc_tcp: Overhaul all debug messages
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_option.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_rcvbuf.c
  sys/net/gnrc/transport_layer/tcp/internal/common.h
  tests/gnrc_tcp/tests/05-garbage-pkts.py
Labels: Area: network, CI: ready for build, Type: enhancement

#15225 drivers/scd30: Add reset function to Sensirion scd30 sensor
  drivers/include/scd30.h
  drivers/scd30/include/scd30_internal.h
  drivers/scd30/scd30.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#15229 boards/microduino-corerf: don't set bootloader size
  boards/microduino-corerf/Makefile.include
Labels: Area: boards, CI: ready for build, Impact: minor, Type: cleanup

#15212 gnrc_pkt: introduce packet list operations
  cpu/esp_common/esp-now/esp_now_gnrc.c
  cpu/nrf5x_common/radio/nrfmin/nrfmin_gnrc.c
  drivers/cc1xxx_common/gnrc_netif_cc1xxx.c
  drivers/xbee/gnrc_xbee.c
  examples/gnrc_networking/udp.c
  examples/gnrc_networking_mac/udp.c
  pkg/nordic_softdevice_ble/src/gnrc_nordic_ble_6lowpan.c
  sys/include/net/gnrc/pkt.h
  sys/net/gnrc/link_layer/gomach/gomach_internal.c
  sys/net/gnrc/link_layer/lwmac/lwmac.c
  sys/net/gnrc/netif/ethernet/gnrc_netif_ethernet.c
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
  sys/net/gnrc/network_layer/icmpv6/echo/gnrc_icmpv6_echo.c
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/net/gnrc/network_layer/ipv6/ext/gnrc_ipv6_ext.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  sys/net/gnrc/pktbuf/gnrc_pktbuf.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
  sys/shell/commands/sc_gnrc_netif.c
  tests/gnrc_ipv6_ext_frag/udp.c
  tests/gnrc_netif/main.c
  tests/gnrc_sock_ip/stack.c
  tests/gnrc_sock_udp/stack.c
  tests/gnrc_udp/udp.c
  tests/netdev_test/main.c
  tests/unittests/tests-gnrc_mac_internal/tests-gnrc_mac_internal.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15208 netdev/ieee802154_submac: add retransmission reporting
  drivers/include/net/netdev/ieee802154_submac.h
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  sys/include/net/ieee802154/radio.h
  sys/net/link_layer/ieee802154/submac.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15187 info.inc.mk: Add info-build-json as JSON-formatted build info
  makefiles/arch/mips.inc.mk
  makefiles/info.inc.mk
  makefiles/utils/variables.mk
  tests/unittests/Makefile
Labels: Area: build system, CI: ready for build, Type: new feature

#15230 GNRC TCP: internal api cleanup
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_common.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_option.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_rcvbuf.c
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_common.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_eventloop.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_fsm.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_option.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_pkt.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_rcvbuf.h
Labels: Area: network, CI: ready for build, Type: cleanup

#15228 ieee802154/radio: add `read` function
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  sys/include/net/ieee802154/radio.h
  sys/include/net/ieee802154/submac.h
  sys/net/link_layer/ieee802154/submac.c
  tests/ieee802154_hal/main.c
Labels: Area: drivers, Area: network, CI: ready for build, Type: enhancement

#15233 sys/auto_init: auto_init_adc -> auto_init_saul_adc
  drivers/saul/init_devs/auto_init_saul_adc.c
  drivers/saul/init_devs/init.c
Labels: Area: sys, CI: ready for build, Impact: minor

#15081 net/lorawan : Support for IN865 region, Improve debugging
  drivers/sx127x/sx127x_netdev.c
  examples/gnrc_lorawan/Makefile
  examples/gnrc_lorawan/README.md
  sys/include/net/gnrc/lorawan/region.h
  sys/include/net/loramac.h
  sys/net/gnrc/link_layer/lorawan/Kconfig
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_region.c
Labels: Area: LoRa, CI: ready for build, Type: new feature

#15235 drivers/saul: fix typo in auto_init adc function name
  drivers/saul/init_devs/auto_init_saul_adc.c
  drivers/saul/init_devs/init.c
Labels: Area: SAUL, Area: drivers, CI: ready for build, Impact: minor

#15236 cpu/cortexm_common: flush pipeline before disabling interrupts in idle
  cpu/cortexm_common/thread_arch.c
Labels: Area: cpu, CI: ready for build, Process: needs backport, Type: bug

#15238 cpu/cortexm_common: flush pipeline before disabling interrupts in idle [backport 2020.10]
  cpu/cortexm_common/thread_arch.c
Labels: Area: cpu, CI: ready for build, Process: release backport, Type: bug

#15241 pkg/tinycrypt: bump version
  pkg/tinycrypt/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#15239 sys/luid: improve luid_base() algorithm
  sys/luid/luid.c
Labels: Area: sys, CI: ready for build, Type: enhancement

#15242 pkg/tinycrypt: Fix dependencies
  pkg/tinycrypt/Makefile.dep
  tests/pkg_tinycrypt/Makefile
Labels: CI: ready for build, Impact: minor, Type: bug

#15244 pkg/tinycrypt: Fix dependencies [backport 2020.10]
  pkg/tinycrypt/Makefile.dep
  tests/pkg_tinycrypt/Makefile
Labels: CI: ready for build, Impact: minor, Process: release backport, Type: bug

#15231 netdev_ieee802154_submac: unify legacy and radio HAL bootstrap
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf.c
  cpu/nrf52/include/nrf802154.h
  cpu/nrf52/radio/nrf802154/nrf802154.c
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  pkg/lwip/contrib/lwip.c
  sys/Makefile.dep
  sys/include/net/ieee802154/submac.h
  sys/net/gnrc/netif/init_devs/auto_init_cc2538_rf.c
  sys/net/gnrc/netif/init_devs/auto_init_nrf802154.c
  sys/net/link_layer/ieee802154/submac.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15247 tests/pkg_lvgl: remove binary file added by mistake
  tests/pkg_lvgl/tests_pkg_lvgl.elf
Labels: CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#15248 tests/pkg_lvgl: remove binary file added by mistake [backport 2020.10]
  tests/pkg_lvgl/tests_pkg_lvgl.elf
Labels: CI: ready for build, CI: skip compile test, Impact: minor, Process: release backport, Type: cleanup

#15043 boards/stm32f4: remove default clock configuration for 96MHz and 168MHz CPUs
  boards/common/stm32/include/f2f4f7/cfg_clock_default_100.h
  boards/common/stm32/include/f2f4f7/cfg_clock_default_168.h
  boards/common/stm32/include/f2f4f7/cfg_clock_default_180.h
  boards/common/stm32/include/f2f4f7/cfg_clock_default_96.h
  boards/f4vi1/include/periph_conf.h
  boards/msbiot/include/periph_conf.h
  boards/nucleo-f410rb/include/periph_conf.h
  boards/nucleo-f429zi/include/periph_conf.h
  boards/pyboard/include/periph_conf.h
  boards/stm32f429i-disc1/include/periph_conf.h
  boards/stm32f4discovery/include/periph_conf.h
  boards/ublox-c030-u201/include/periph_conf.h
  boards/weact-f411ce/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#15250 .gitignore: ignore .elf
  .gitignore
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#15135 riotboot/flashwrite: add flashpage_raw capabilities
  sys/Makefile.dep
  sys/include/riotboot/flashwrite.h
  sys/riotboot/flashwrite.c
  sys/suit/storage/flashwrite.c
Labels: Area: OTA, CI: ready for build, Type: enhancement

#15036 cpu/stm32l4: improve clock initialization
  boards/common/stm32/include/l4/cfg_clock_default.h
  boards/p-nucleo-wb55/include/periph_conf.h
  cpu/stm32/stmclk/stmclk_l4wb.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14898 cpu/stm32gx: cleanup clock initialization
  boards/common/stm32/Kconfig.g0
  boards/common/stm32/Kconfig.g4
  boards/common/stm32/include/g0/cfg_clock_default.h
  boards/common/stm32/include/g4/cfg_clock_default.h
  boards/nucleo-g070rb/include/periph_conf.h
  boards/nucleo-g071rb/include/periph_conf.h
  boards/nucleo-g431rb/include/periph_conf.h
  boards/nucleo-g474re/include/periph_conf.h
  cpu/stm32/stmclk/stmclk_gx.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#15218 sys/tsrb: Make thread-safe
  sys/include/tsrb.h
  sys/tsrb/tsrb.c
Labels: Area: sys, CI: ready for build, Process: needs backport, Type: bug

#15207 gnrc_rpl: Check for race against initializer thread
  sys/net/gnrc/routing/rpl/gnrc_rpl.c
Labels: Area: network, CI: ready for build, Type: bug

#15251 pkg/libhydrogen: bump version
  pkg/libhydrogen/Makefile
  pkg/libhydrogen/patches/0001-Add-support-for-RIOT-OS.patch
Labels: Area: pkg, CI: ready for build, Type: enhancement

#15252 crypto/chacha20poly1305: cleanup
  sys/crypto/chacha20poly1305.c
Labels: Area: crypto, CI: ready for build, Impact: minor, Type: cleanup

#15237 radio/nrf802154: fix state transition and `off` function
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  tests/ieee802154_hal/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 3-testing, Type: bug

#15254 sys/tsrb: Make thread-safe [backport 2020.10]
  sys/include/tsrb.h
  sys/tsrb/tsrb.c
Labels: Area: sys, CI: ready for build, Process: release backport, Type: bug

#15153 CONTRIBUTING: cleanup and reorganize
  CONTRIBUTING.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: cleanup, Type: enhancement

#15257 cpu/stm32: fix name clash between cpu/stm32/Kconfig files and cpu/stm32/kconfig directory
  cpu/stm32/Kconfig
  cpu/stm32/dist/kconfig/gen_kconfig.py
  cpu/stm32/kconfigs/f0/Kconfig
  cpu/stm32/kconfigs/f0/Kconfig.lines
  cpu/stm32/kconfigs/f0/Kconfig.models
  cpu/stm32/kconfigs/f1/Kconfig
  cpu/stm32/kconfigs/f1/Kconfig.lines
  cpu/stm32/kconfigs/f1/Kconfig.models
  cpu/stm32/kconfigs/f2/Kconfig
  cpu/stm32/kconfigs/f2/Kconfig.lines
  cpu/stm32/kconfigs/f2/Kconfig.models
  cpu/stm32/kconfigs/f3/Kconfig
  cpu/stm32/kconfigs/f3/Kconfig.lines
  cpu/stm32/kconfigs/f3/Kconfig.models
  cpu/stm32/kconfigs/f4/Kconfig
  cpu/stm32/kconfigs/f4/Kconfig.lines
  cpu/stm32/kconfigs/f4/Kconfig.models
  cpu/stm32/kconfigs/f7/Kconfig
  cpu/stm32/kconfigs/f7/Kconfig.lines
  cpu/stm32/kconfigs/f7/Kconfig.models
  cpu/stm32/kconfigs/g0/Kconfig
  cpu/stm32/kconfigs/g0/Kconfig.lines
  cpu/stm32/kconfigs/g0/Kconfig.models
  cpu/stm32/kconfigs/g4/Kconfig
  cpu/stm32/kconfigs/g4/Kconfig.lines
  cpu/stm32/kconfigs/g4/Kconfig.models
  cpu/stm32/kconfigs/l0/Kconfig
  cpu/stm32/kconfigs/l0/Kconfig.lines
  cpu/stm32/kconfigs/l0/Kconfig.models
  cpu/stm32/kconfigs/l1/Kconfig
  cpu/stm32/kconfigs/l1/Kconfig.lines
  cpu/stm32/kconfigs/l1/Kconfig.models
  cpu/stm32/kconfigs/l4/Kconfig
  cpu/stm32/kconfigs/l4/Kconfig.lines
  cpu/stm32/kconfigs/l4/Kconfig.models
  cpu/stm32/kconfigs/wb/Kconfig
  cpu/stm32/kconfigs/wb/Kconfig.lines
  cpu/stm32/kconfigs/wb/Kconfig.models
Labels: Area: Kconfig, Area: cpu, CI: ready for build, Process: needs backport, Type: bug

#15259 cpu/stm32: simplify stmclk_disable_hsi function
  cpu/stm32/stmclk/stmclk_common.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#15261 cpu/stm32: fix name clash between cpu/stm32/Kconfig files and cpu/stm32/kconfig directory [backport 2020.10]
  cpu/stm32/Kconfig
  cpu/stm32/kconfigs/f0/Kconfig
  cpu/stm32/kconfigs/f0/Kconfig.lines
  cpu/stm32/kconfigs/f0/Kconfig.models
  cpu/stm32/kconfigs/f1/Kconfig
  cpu/stm32/kconfigs/f1/Kconfig.lines
  cpu/stm32/kconfigs/f1/Kconfig.models
  cpu/stm32/kconfigs/f2/Kconfig
  cpu/stm32/kconfigs/f2/Kconfig.lines
  cpu/stm32/kconfigs/f2/Kconfig.models
  cpu/stm32/kconfigs/f3/Kconfig
  cpu/stm32/kconfigs/f3/Kconfig.lines
  cpu/stm32/kconfigs/f3/Kconfig.models
  cpu/stm32/kconfigs/f4/Kconfig
  cpu/stm32/kconfigs/f4/Kconfig.lines
  cpu/stm32/kconfigs/f4/Kconfig.models
  cpu/stm32/kconfigs/f7/Kconfig
  cpu/stm32/kconfigs/f7/Kconfig.lines
  cpu/stm32/kconfigs/f7/Kconfig.models
  cpu/stm32/kconfigs/g0/Kconfig
  cpu/stm32/kconfigs/g0/Kconfig.lines
  cpu/stm32/kconfigs/g0/Kconfig.models
  cpu/stm32/kconfigs/g4/Kconfig
  cpu/stm32/kconfigs/g4/Kconfig.lines
  cpu/stm32/kconfigs/g4/Kconfig.models
  cpu/stm32/kconfigs/l0/Kconfig
  cpu/stm32/kconfigs/l0/Kconfig.lines
  cpu/stm32/kconfigs/l0/Kconfig.models
  cpu/stm32/kconfigs/l1/Kconfig
  cpu/stm32/kconfigs/l1/Kconfig.lines
  cpu/stm32/kconfigs/l1/Kconfig.models
  cpu/stm32/kconfigs/l4/Kconfig
  cpu/stm32/kconfigs/l4/Kconfig.lines
  cpu/stm32/kconfigs/l4/Kconfig.models
  cpu/stm32/kconfigs/wb/Kconfig
  cpu/stm32/kconfigs/wb/Kconfig.lines
  cpu/stm32/kconfigs/wb/Kconfig.models
Labels: CI: ready for build, Process: release backport, Type: bug

#15260 cpu/stm32: remove CLOCK_LSE define, use CONFIG_BOARD_HAS_LSE instead
  boards/common/stm32/include/f0/cfg_clock_default.h
  boards/common/stm32/include/f1f3/cfg_clock_default.h
  boards/common/stm32/include/f2f4f7/cfg_clock_common.h
  boards/common/stm32/include/g0/cfg_clock_default.h
  boards/common/stm32/include/g4/cfg_clock_default.h
  boards/common/stm32/include/l0l1/cfg_clock_default.h
  boards/common/stm32/include/l4/cfg_clock_default.h
  cpu/stm32/periph/rtc_all.c
  cpu/stm32/periph/rtt_all.c
  cpu/stm32/stmclk/stmclk_common.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: cleanup

#13100 boards/ikea-tradfri: add SPI NOR Flash configuration
  boards/ikea-tradfri/Makefile.dep
  boards/ikea-tradfri/board.c
  boards/ikea-tradfri/include/board.h
Labels: Area: boards, CI: ready for build

#15262 cpu/native: fix memory leak
  cpu/native/syscalls.c
Labels: CI: ready for build, Platform: native, Type: bug

#15243 sys/luid: improve luid_base() algorithm [backport 2020.10]
  sys/luid/luid.c
Labels: Area: sys, CI: ready for build, Process: release backport, Type: enhancement

#15264 cpu/nrf52/radio: change internal state to idle after rx
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
Labels: Area: drivers, CI: ready for build, Type: bug

#15263 dist/jlink: disable gui and textual improvements
  dist/tools/jlink/jlink.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#15214 net/netif/gnrc_netif: allow larger IPv6 MTU than minimum for BLE
  sys/include/net/gnrc/netif/conf.h
  sys/net/gnrc/netif/Kconfig
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: BLE, Area: network, CI: ready for build, Type: enhancement

#15269 treewide: add includes to timex.h
  boards/weact-f411ce/board.c
  boards/weact-f411ce/include/board.h
  cpu/esp_common/freertos/portable.c
  examples/dtls-echo/dtls-client.c
  examples/dtls-echo/dtls-server.c
  examples/dtls-sock/dtls-server.c
  examples/nimble_heart_rate_sensor/main.c
  pkg/wakaama/contrib/lwm2m_client.c
  sys/net/application_layer/asymcute/asymcute.c
  sys/net/application_layer/nanocoap/sock.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
  sys/shell/commands/sc_can.c
  sys/shell/commands/sc_gnrc_ipv6_nib.c
  sys/shell/commands/sc_gnrc_rpl.c
  sys/suit/transport/coap.c
  tests/events/main.c
  tests/gnrc_ipv6_nib/main.c
  tests/gnrc_ipv6_nib_6ln/main.c
  tests/pkg_tinydtls_sock_async/dtls-client.c
Labels: Area: boards, Area: cpu, Area: examples, Area: pkg, Area: sys, Area: tests, CI: ready for build, Type: enhancement

#15266 drivers/at86rf215: fix dependency resolution for single radio
  drivers/at86rf215/Makefile.dep
Labels: Area: drivers, CI: ready for build, Type: bug

#14345 sys/shell: terminate shell on Ctrl-D
  sys/shell/shell.c
  tests/shell/main.c
  tests/shell/tests/01-run.py
Labels: Area: sys, Area: tests, CI: ready for build, Type: enhancement

#15253 pkg/micro-ecc: bump version
  pkg/micro-ecc/Makefile
  pkg/micro-ecc/Makefile.dep
  pkg/micro-ecc/Makefile.include
  pkg/micro-ecc/README.md
  pkg/micro-ecc/patches/0001-Include-RIOT-Hardware-RNG-interface.patch
  pkg/micro-ecc/patches/0002-Silence-warning-of-unused-variable.patch
Labels: Area: pkg, CI: ready for build, Type: enhancement

#15270 sys/frac: make gcd32() public
  sys/frac/frac.c
  sys/include/frac.h
Labels: Area: sys, CI: ready for build, Impact: minor, Type: cleanup

#15140 sys/net/ieee802154/radio: add IEEE802154_RADIO_INDICATION_TX_START
  cpu/cc2538/radio/cc2538_rf.c
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  sys/Makefile.dep
  sys/include/net/ieee802154/radio.h
  tests/ieee802154_hal/main.c
Labels: Area: network, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14979 openthread: add support for radios compatible with SubMAC
  examples/openthread/Makefile
  pkg/openthread/Makefile.dep
  pkg/openthread/contrib/openthread.c
Labels: Area: pkg, CI: ready for build, Type: enhancement

#15144 cpu/cc2538: cleanup init, add cc2538_rf_obs_sig module
  boards/cc2538dk/include/periph_conf.h
  boards/openmote-b/include/board.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/board.h
  boards/openmote-cc2538/include/periph_conf.h
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/radio/cc2538_rf.c
  cpu/cc2538/radio/cc2538_rf_internal.c
  makefiles/pseudomodules.inc.mk
Labels: Area: cpu, CI: ready for build, Type: cleanup

#15280 ieee802154/radio: indicate that FCS is ignored when reading buffer
  sys/include/net/ieee802154/radio.h
Labels: Area: doc, CI: ready for build, Type: enhancement

#14178 gcoap: Process CON responses
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, CI: ready for build, Type: bug

#15203 cpu/stm32: periph_eth: Use auto-negotation
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/doc.txt
  cpu/stm32/periph/eth.c
  makefiles/pseudomodules.inc.mk
Labels: Area: cpu, CI: ready for build, Type: bug, Type: enhancement

#15281 examples/gcoap: Allow PUT/POST with empty payload
  examples/gcoap/gcoap_cli.c
Labels: Area: CoAP, Area: examples, CI: ready for build, Impact: minor

#15268 drivers/at86rf215: give driver threads different names
  sys/include/net/gnrc/netif/ieee802154.h
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
  sys/net/gnrc/netif/init_devs/auto_init_at86rf215.c
Labels: Area: drivers, Area: network, CI: ready for build, Impact: minor, Type: enhancement

#15145 pkg/openwsn: add ieee802154_hal based radio
  boards/cc2538dk/Kconfig
  boards/cc2538dk/Makefile.features
  boards/openmote-b/Makefile.dep
  boards/openmote-b/include/board.h
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/include/cpu_conf.h
  cpu/nrf52/include/cpu_conf.h
  pkg/openwsn/Makefile.dep
  pkg/openwsn/Makefile.include
  pkg/openwsn/contrib/Makefile
  pkg/openwsn/contrib/eui64.c
  pkg/openwsn/contrib/openwsn.c
  pkg/openwsn/contrib/radio_hal.c
  pkg/openwsn/contrib/radio_netdev.c
  pkg/openwsn/contrib/sctimer_rtt.c
  pkg/openwsn/include/openwsn_debugpins_params.h
  pkg/openwsn/include/openwsn_leds_params.h
  pkg/openwsn/include/openwsn_radio.h
  pkg/openwsn/scheduler/scheduler.c
  sys/Makefile.dep
  tests/pkg_openwsn/Makefile
Labels: Area: network, Area: pkg, CI: ready for build, Type: enhancement

#15192 cpu/stm32l5: add initial support + add support for nucleo-l552ze-q board
  boards/common/nucleo144/include/board.h
  boards/common/stm32/dist/stm32l5.cfg
  boards/common/stm32/include/cfg_i2c1_pb8_pb9.h
  boards/common/stm32/include/cfg_timer_tim5.h
  boards/common/stm32/include/l4/cfg_clock_default.h
  boards/nucleo-l552ze-q/Kconfig
  boards/nucleo-l552ze-q/Makefile
  boards/nucleo-l552ze-q/Makefile.dep
  boards/nucleo-l552ze-q/Makefile.features
  boards/nucleo-l552ze-q/Makefile.include
  boards/nucleo-l552ze-q/doc.txt
  boards/nucleo-l552ze-q/include/periph_conf.h
  cpu/stm32/Makefile.features
  cpu/stm32/cpu_common.c
  cpu/stm32/cpu_init.c
  cpu/stm32/dist/irqs/gen_irqs.py
  cpu/stm32/dist/kconfig/gen_kconfig.py
  cpu/stm32/include/cpu_conf.h
  cpu/stm32/include/cpu_conf_stm32_common.h
  cpu/stm32/include/periph/l5/periph_cpu.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/include/vendor/Makefile
  cpu/stm32/kconfigs/l5/Kconfig
  cpu/stm32/kconfigs/l5/Kconfig.lines
  cpu/stm32/kconfigs/l5/Kconfig.models
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/flash_common.c
  cpu/stm32/periph/flashpage.c
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/i2c_1.c
  cpu/stm32/periph/pm.c
  cpu/stm32/periph/uart.c
  cpu/stm32/stm32_info.mk
  cpu/stm32/stm32_mem_lengths.mk
  cpu/stm32/stmclk/Makefile
  cpu/stm32/stmclk/stmclk_common.c
  cpu/stm32/stmclk/stmclk_l5.c
Labels: Area: boards, Area: cpu, CI: ready for build, Type: new feature

#15289 boards/microbit: fix documentation
  boards/microbit/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#15290 boards/nucleo-l552ze-q: add notes in doc about patched openocd
  boards/nucleo-l552ze-q/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test

#9012 frdm-kl43z: NXP Kinetis FRDM-KL43Z development board
  boards/frdm-kl43z/Kconfig
  boards/frdm-kl43z/Makefile
  boards/frdm-kl43z/Makefile.dep
  boards/frdm-kl43z/Makefile.features
  boards/frdm-kl43z/Makefile.include
  boards/frdm-kl43z/board.c
  boards/frdm-kl43z/include/adc_params.h
  boards/frdm-kl43z/include/board.h
  boards/frdm-kl43z/include/gpio_params.h
  boards/frdm-kl43z/include/periph_conf.h
  cpu/kinetis/Kconfig
  cpu/kinetis/Makefile.dep
  cpu/kinetis/Makefile.features
  cpu/kinetis/include/cpu_conf_kinetis_l.h
  cpu/kinetis/include/mcg.h
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/include/vectors_kinetis.h
  cpu/kinetis/include/vendor/MKL43Z4.h
  cpu/kinetis/isr_kinetis.c
  cpu/kinetis/kinetis-info.mk
  cpu/kinetis/periph/gpio.c
  cpu/kinetis/periph/mcg.c
  cpu/kinetis/periph/mcg_lite.c
  cpu/kinetis/vectors.c
  examples/lua_REPL/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Platform: ARM, Type: new feature

#15293 vfs: Provide generic stat implementation (and use in fatfs)
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  sys/include/vfs.h
  sys/vfs/vfs.c
  tests/pkg_fatfs_vfs/main.c
Labels: Area: fs, Area: pkg, CI: ready for build, Type: enhancement

#15284 boards/native: Improve Documentation
  boards/native/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Platform: native, Type: enhancement

#15288 net/goap: State and check that listeners are added individually
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: doc, CI: ready for build, Impact: minor, Type: enhancement

#14117 cpu/esp: implement ESP WiFi SoftAP mode
  cpu/esp32/doc.txt
  cpu/esp8266/doc.txt
  cpu/esp_common/Kconfig
  cpu/esp_common/Makefile.dep
  cpu/esp_common/Makefile.features
  cpu/esp_common/Makefile.include
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.h
  cpu/esp_common/esp-wifi/esp_wifi_params.h
Labels: Area: cpu, Area: network, CI: ready for build, Platform: ESP, Type: new feature

#15295 sys/ztimer: add some doc on the data structure choice
  sys/include/ztimer.h
Labels: Area: doc, Area: timers, CI: ready for build, CI: skip compile test, Type: enhancement

#14418 doc: Give examples of what DEVELHELP does
  doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#15297 gh-actions/check-labels: unstuck on force push
  .github/workflows/check-labels.yml
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: enhancement

#15296 drivers/mtd_spi_nor: cleanup & bug fixes
  boards/ikea-tradfri/board.c
  boards/mulle/board.c
  boards/nrf52840dk/mtd.c
  boards/pinetime/board.c
  boards/serpente/board.c
  boards/weact-f411ce/board.c
  drivers/include/mtd_spi_nor.h
  drivers/mtd_spi_nor/mtd_spi_nor.c
  drivers/mtd_spi_nor/mtd_spi_nor_configs.c
Labels: Area: drivers, CI: ready for build, Type: bug, Type: cleanup

#15302 pkg/gecko_sdk: update to v2.7.7
  pkg/gecko_sdk/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor

#15275 ieee802154/radio: add TRX_OFF pre condition to config_phy
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  sys/include/net/ieee802154/radio.h
  sys/net/link_layer/ieee802154/submac.c
  tests/ieee802154_hal/main.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15265 cpu/stm32: rewrite clock configuration documentation
  cpu/stm32/doc.txt
Labels: Area: cpu, Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#15306 suit/storage/flashwrite: use riotboot_slot_offset
  examples/suit_update/tests/01-run.py
  sys/suit/storage/flashwrite.c
Labels: Area: OTA, CI: ready for build, Process: needs backport, Type: bug

#15307 suit/storage/flashwrite: use riotboot_slot_offset [backport 2020.10]
  examples/suit_update/tests/01-run.py
  sys/suit/storage/flashwrite.c
Labels: Area: OTA, CI: ready for build, Process: release backport, Type: bug

#15312 drivers/mtd_spi_nor: prevent data corruption on 'sector erase'
  boards/mulle/board.c
  boards/nrf52840dk/mtd.c
  boards/pinetime/board.c
  boards/serpente/board.c
  boards/weact-f411ce/board.c
  drivers/include/mtd_spi_nor.h
  drivers/mtd_spi_nor/mtd_spi_nor.c
  drivers/mtd_spi_nor/mtd_spi_nor_configs.c
Labels: Area: drivers, CI: ready for build, Process: release backport, Type: bug

#15316 ieee802154/submac: fix inconsistent state on NO_ACK
  sys/net/link_layer/ieee802154/submac.c
Labels: Area: network, CI: ready for build, Type: bug

#15071 sys/xtimer: untangle from core/mutex
  sys/xtimer/xtimer.c
Labels: Area: timers, CI: ready for build

#14029 gcoap: add a handler for request matching
  examples/gcoap/gcoap_cli.c
  sys/include/net/gcoap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#15318 cpu/stm32: Fix reception bug in periph_eth
  cpu/stm32/periph/eth.c
Labels: Area: cpu, Area: network, CI: ready for build, Process: needs backport, Type: bug

#15303 cpu/samd21: fix vectors definition
  cpu/samd21/vectors.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: cleanup
