Repository RIOT-OS/RIOT, pull requests merged in 2020-07, with the labels that each got.

#14385 boards/mips: remove use of APPDEPS, un-export globally APPDEPS
  boards/6lowpan-clicker/Makefile.include
  boards/pic32-wifire/Makefile.include
  cpu/mips_pic32_common/Makefile.dep
  cpu/mips_pic32_common/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, Type: enhancement

#14401 kconfiglib: bump to v14.1.0
  dist/tools/kconfiglib/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: enhancement

#11915 release/11-lorawan: add tests to target applications
  examples/lorawan/Makefile
  examples/lorawan/README.md
  examples/lorawan/tests/01-run.py
  tests/pkg_semtech-loramac/Makefile
  tests/pkg_semtech-loramac/README.md
  tests/pkg_semtech-loramac/tests/01-run.py
Labels: Area: LoRa, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#14405 cpu/mips: disable BINFILE generation
  cpu/mips_pic32mx/Makefile.include
  cpu/mips_pic32mz/Makefile.include
Labels: Area: build system, CI: ready for build, Platform: MIPS, Type: bug

#14404 sys/usb_board_reset: add usb_board_reset_in_bootloader definition
  boards/adafruit-clue/reset.c
  boards/arduino-nano-33-ble/reset.c
  boards/common/samd21-arduino-bootloader/reset.c
  sys/include/usb_board_reset.h
  sys/include/usb_board_reset_internal.h
  sys/shell/commands/sc_sys.c
  sys/usb/usbus/cdc/acm/cdc_acm_stdio.c
  sys/usb_board_reset/usb_board_reset.c
Labels: Area: USB, CI: ready for build, Type: cleanup

#13866 pkg/fs: set VFS params by fs, not by the application
  examples/filesystem/Makefile
  pkg/littlefs/Makefile.include
  pkg/littlefs2/Makefile.include
  pkg/spiffs/Makefile.include
  sys/include/vfs.h
  tests/pkg_fatfs_vfs/Makefile
  tests/pkg_littlefs/Makefile
  tests/pkg_littlefs2/Makefile
  tests/pkg_spiffs/tests/01-run.py
Labels: Area: fs, CI: ready for build, Type: cleanup

#13668 tools/radvd: Add script to run radvd on a tun interface
  dist/tools/radvd/radvd.conf
  dist/tools/radvd/radvd.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14291 gnrc_tcp: rewrite recv buffer allocation/returning
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#14411 doc/header: make hitting return not reload the page
  doc/doxygen/header.html
Labels: Area: doc, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14408 tests-examples: ci blacklist lora tests
  examples/lorawan/Makefile
  tests/pkg_semtech-loramac/Makefile
Labels: CI: ready for build, Type: cleanup

#14378 core/panic: launch USB bootloader on crash for easy recovery
  core/panic.c
Labels: Area: USB, CI: ready for build, Process: needs >1 ACK, Type: enhancement

#14414 net/gnrc/ipv6/nib: fix ref to net_gnrc_ipv6_nib_nc_info
  sys/include/net/gnrc/ipv6/nib.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#12975 posix: initial import of select() function (only support sockets for now)
  Makefile.dep
  examples/posix_select/Makefile
  examples/posix_select/Makefile.ci
  examples/posix_select/README.md
  examples/posix_select/main.c
  sys/Makefile
  sys/include/vfs.h
  sys/posix/doc.txt
  sys/posix/include/sys/select.h
  sys/posix/select/Makefile
  sys/posix/select/posix_select.c
  sys/posix/sockets/posix_sockets.c
  sys/vfs/vfs.c
Labels: Area: POSIX, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14050 doc/driver-guide.md : Update for compile-time configuration
  doc/doxygen/src/driver-guide.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#14400 sys/base64: Fix, unit test cleanup, and benchmark
  sys/base64/base64.c
  sys/include/base64.h
  tests/bench_sys_base64/Makefile
  tests/bench_sys_base64/main.c
  tests/bench_sys_base64/tests/01-run.py
  tests/unittests/tests-base64/tests-base64.c
Labels: Area: sys, Area: tests, CI: ready for build, Type: bug, Type: cleanup

#14425 boards/ruuvitag: fix lis2dh interrupt pin define
  boards/ruuvitag/include/board.h
Labels: Area: boards, CI: ready for build, Impact: minor, Type: bug

#14420 modules/sdcard_spi: improve configurability
  drivers/sdcard_spi/include/sdcard_spi_internal.h
  drivers/sdcard_spi/sdcard_spi.c
  tests/driver_sdcard_spi/main.c
  tests/pkg_fatfs_vfs/Makefile.ci
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14432 boards/arduino-nano-33-ble: Remove term-delay logic
  boards/arduino-nano-33-ble/Makefile.include
Labels: Area: build system, CI: ready for build, Impact: minor, Type: cleanup

#14431 makefiles/sam0: only fail on missing device with explicit targets
  makefiles/boards/sam0.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#14433 make: use $(MAKE) instead of direct `make` call
  Makefile.include
  boards/common/msba2/Makefile.include
  boards/teensy31/Makefile.include
  dist/tools/Makefile
  dist/tools/pic32prog/Makefile
  examples/gnrc_border_router/Makefile
  examples/suit_update/Makefile
  makefiles/app_dirs.inc.mk
  makefiles/docker.inc.mk
  makefiles/scan-build.inc.mk
  makefiles/tools/kconfiglib.inc.mk
  makefiles/tools/targets.inc.mk
  pkg/nanopb/Makefile.gensrc
  pkg/openthread/Makefile
  tests/emcute/Makefile
  tests/gnrc_dhcpv6_client/Makefile
  tests/gnrc_dhcpv6_client_6lbr/Makefile
  tests/gnrc_ipv6_ext/Makefile
  tests/gnrc_ipv6_ext_frag/Makefile
  tests/gnrc_ipv6_ext_opt/Makefile
  tests/gnrc_ipv6_nib_dns/Makefile
  tests/gnrc_rpl_srh/Makefile
  tests/gnrc_sock_dns/Makefile
  tests/gnrc_tcp/Makefile
Labels: Area: build system, CI: ready for build, Impact: minor, Type: enhancement

#14421 boards/kinetis-based: Model features in Kconfig
  boards/common/frdm/Makefile.include
  boards/common/kw41z/Kconfig
  boards/frdm-k22f/Kconfig
  boards/frdm-k64f/Kconfig
  boards/frdm-kw41z/Kconfig
  boards/mulle/Kconfig
  boards/openlabs-kw41z-mini-256kib/Kconfig
  boards/openlabs-kw41z-mini/Kconfig
  boards/pba-d-01-kw2x/Kconfig
  boards/phynode-kw41z/Kconfig
  boards/teensy31/Kconfig
  boards/usb-kw41z/Kconfig
  cpu/kinetis/Kconfig
  cpu/kinetis/Makefile.features
  cpu/kinetis/kinetis-info.mk
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14427 boards/sensebox_samd21: fix RTT configuration
  boards/sensebox_samd21/Makefile.features
  boards/sensebox_samd21/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 3-testing, Type: cleanup

#11406 riotctrl_shell: initial import of shell interaction spawn
  dist/pythonlibs/riotctrl_shell/__init__.py
  dist/pythonlibs/riotctrl_shell/gnrc.py
  dist/pythonlibs/riotctrl_shell/requirements.txt
  dist/pythonlibs/riotctrl_shell/sys.py
  dist/pythonlibs/riotctrl_shell/tests/__init__.py
  dist/pythonlibs/riotctrl_shell/tests/common.py
  dist/pythonlibs/riotctrl_shell/tests/test_gnrc.py
  dist/pythonlibs/riotctrl_shell/tests/test_sys.py
  dist/pythonlibs/riotctrl_shell/tox.ini
Labels: Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14434 cpu/cortexm_common: Fix cpu_switch_context_exit()
  cpu/cortexm_common/thread_arch.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: bug

#14437 riotctrl_shell: remove unneeded variables and imports
  dist/pythonlibs/riotctrl_shell/tests/test_gnrc.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: cleanup

#14412 doc/search: Patch search to display results bigger if hitting return and work on mobil
  doc/doxygen/header.html
  doc/doxygen/src/js/menu.js
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#14438 tools/backport_pr: fix checks run by tox
  dist/tools/backport_pr/backport_pr.py
  dist/tools/backport_pr/tox.ini
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: cleanup

#12647 paho-mqtt: add package and example
  examples/paho-mqtt/Makefile
  examples/paho-mqtt/Makefile.board.dep
  examples/paho-mqtt/Makefile.ci
  examples/paho-mqtt/README.md
  examples/paho-mqtt/main.c
  pkg/paho-mqtt/Makefile
  pkg/paho-mqtt/Makefile.dep
  pkg/paho-mqtt/Makefile.include
  pkg/paho-mqtt/Makefile.paho-mqtt
  pkg/paho-mqtt/Makefile.paho-mqtt-packet
  pkg/paho-mqtt/contrib/Makefile
  pkg/paho-mqtt/contrib/riot_iface.c
  pkg/paho-mqtt/doc.txt
  pkg/paho-mqtt/include/paho_mqtt.h
  pkg/paho-mqtt/patches/0001-MQTTClient-C-skip-SUCCESS-enum-on-STM32L1-L4-WB-cpus.patch
Labels: Area: network, Area: pkg, CI: ready for build, Type: new feature

#14419 sys/base64: Clean up / improve implementation
  sys/base64/base64.c
Labels: Area: sys, CI: ready for build, Type: enhancement

#13552 pkg/nimble: add static connection manager `statconn`
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/statconn/Makefile
  pkg/nimble/statconn/include/nimble_statconn.h
  pkg/nimble/statconn/nimble_statconn.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_nimble_netif.c
  sys/shell/commands/sc_nimble_statconn.c
  sys/shell/commands/shell_commands.c
  tests/nimble_statconn_gnrc/Makefile
  tests/nimble_statconn_gnrc/main.c
Labels: Area: BLE, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14222 gnrc_tcp: rewrite API internal messaging
  sys/include/net/gnrc/tcp/config.h
  sys/include/net/gnrc/tcp/tcb.h
  sys/net/gnrc/transport_layer/tcp/Kconfig
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/internal/common.h
  sys/net/gnrc/transport_layer/tcp/internal/fsm.h
Labels: Area: network, CI: ready for build, Type: enhancement

#14435 tests/kconfig_features: Optimize test
  tests/kconfig_features/Makefile
Labels: Area: build system, Area: tests, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14442 drivers/kw2xrf: Enable TX end IRQ
  drivers/kw2xrf/kw2xrf_netdev.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14308 ci: setup github actions
  .github/workflows/tools-buildtest.yml
  .github/workflows/tools-test.yml
  dist/pythonlibs/riotctrl_shell/requirements.txt
Labels: Area: CI, CI: ready for build, CI: skip compile test, Discussion: RFC, Type: new feature

#14294 gnrc_tcp: add retransmission timer
  sys/include/net/gnrc/tcp/tcb.h
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10222 net: add CoRE RD lookup client implementation
  Makefile.dep
  examples/cord_lc/Makefile
  examples/cord_lc/Makefile.ci
  examples/cord_lc/README.md
  examples/cord_lc/cord_lc_cli.c
  examples/cord_lc/main.c
  sys/Makefile
  sys/include/net/coap.h
  sys/include/net/cord/lc.h
  sys/net/application_layer/cord/lc/Makefile
  sys/net/application_layer/cord/lc/cord_lc.c
Labels: Area: CoAP, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14446 pkg/cryptoauthlib/atca: Fix documentation group
  pkg/cryptoauthlib/include/atca_params.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#14444 net/asymcute : Expose configurations to Kconfig
  sys/include/net/asymcute.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/asymcute/Kconfig
  sys/net/application_layer/asymcute/asymcute.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14441 riotctrl_shell: provide netif interactions and parsers
  dist/pythonlibs/riotctrl_shell/netif.py
  dist/pythonlibs/riotctrl_shell/tests/common.py
  dist/pythonlibs/riotctrl_shell/tests/test_netif.py
  dist/pythonlibs/riotctrl_shell/tests/test_netif_list_parse.py
  dist/pythonlibs/riotctrl_shell/tox.ini
  sys/shell/commands/sc_gnrc_netif.c
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14223 boards/esp-based: Model features in Kconfig
  boards/common/esp32/Kconfig
  boards/common/esp32/Makefile.features
  boards/common/esp8266/Kconfig
  boards/common/esp8266/Makefile.features
  boards/esp32-heltec-lora32-v2/Kconfig
  boards/esp32-heltec-lora32-v2/Makefile.features
  boards/esp32-mh-et-live-minikit/Kconfig
  boards/esp32-mh-et-live-minikit/Makefile.features
  boards/esp32-olimex-evb/Kconfig
  boards/esp32-olimex-evb/Makefile.features
  boards/esp32-ttgo-t-beam/Kconfig
  boards/esp32-ttgo-t-beam/Makefile.features
  boards/esp32-wemos-lolin-d32-pro/Kconfig
  boards/esp32-wemos-lolin-d32-pro/Makefile.features
  boards/esp32-wroom-32/Kconfig
  boards/esp32-wroom-32/Makefile.features
  boards/esp32-wrover-kit/Kconfig
  boards/esp32-wrover-kit/Makefile.features
  boards/esp8266-esp-12x/Kconfig
  boards/esp8266-esp-12x/Makefile.features
  boards/esp8266-olimex-mod/Kconfig
  boards/esp8266-olimex-mod/Makefile.features
  boards/esp8266-sparkfun-thing/Kconfig
  boards/esp8266-sparkfun-thing/Makefile.features
  cpu/esp32/Kconfig
  cpu/esp32/Makefile.features
  cpu/esp8266/Kconfig
  cpu/esp8266/Makefile.features
  cpu/esp_common/Kconfig
  cpu/esp_common/Makefile.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14450 sys/shell: Add optional hooks for shell commands
  makefiles/pseudomodules.inc.mk
  sys/include/shell.h
  sys/shell/shell.c
  tests/shell/main.c
Labels: Area: sys, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14443 boards/saml1x: provide custom value for XTIMER_BACKOFF to spin for lo…
  boards/common/saml1x/include/board.h
Labels: Area: timers, CI: ready for build, Type: bug

#14445 nimble/x: update NimBLE ver + timing param cleanup
  pkg/nimble/Makefile
  pkg/nimble/autoconn/include/nimble_autoconn_params.h
  pkg/nimble/autoconn/nimble_autoconn.c
  pkg/nimble/statconn/nimble_statconn.c
  sys/shell/commands/sc_nimble_netif.c
  tests/nimble_l2cap/main.c
  tests/nimble_l2cap_server/main.c
  tests/nimble_l2cap_server/nimble.inc.mk
Labels: Area: BLE, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14457 tapsetup: fix for FreeBSD
  dist/tools/tapsetup/tapsetup
Labels: Area: tools, CI: ready for build, CI: skip compile test, OS: FreeBSD, Type: bug

#14455 cpu/fe310: use common names for heap markers
  cpu/fe310/ldscripts/fe310_base.ld
  cpu/fe310/nano/nanostubs.c
  cpu/fe310/thread_arch.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14463 dist/tools/kconfiglib: Use python3 for RIOT adaption of menuconfig
  dist/tools/kconfiglib/riot_menuconfig.py
Labels: Area: tools, CI: ready for build, Impact: minor, Type: bug

#14456 pkg/tinydtls: use latest development version
  pkg/tinydtls/Makefile
  pkg/tinydtls/Makefile.dep
Labels: Area: pkg, Area: security, CI: ready for build, Type: enhancement

#14461 Fix bad assertion in cpu/stm32/periph/pwm.c
  cpu/stm32/periph/pwm.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#14467 treewide: fix file permissions
  cpu/cc2538/include/vendor/hw_aes.h
  cpu/cc2538/include/vendor/hw_ana_regs.h
  cpu/cc2538/include/vendor/hw_cctest.h
  cpu/cc2538/include/vendor/hw_flash_ctrl.h
  cpu/cc2538/include/vendor/hw_gpio.h
  cpu/cc2538/include/vendor/hw_gptimer.h
  cpu/cc2538/include/vendor/hw_i2cm.h
  cpu/cc2538/include/vendor/hw_i2cs.h
  cpu/cc2538/include/vendor/hw_ints.h
  cpu/cc2538/include/vendor/hw_ioc.h
  cpu/cc2538/include/vendor/hw_memmap.h
  cpu/cc2538/include/vendor/hw_nvic.h
  cpu/cc2538/include/vendor/hw_pka.h
  cpu/cc2538/include/vendor/hw_rfcore_ffsm.h
  cpu/cc2538/include/vendor/hw_rfcore_sfr.h
  cpu/cc2538/include/vendor/hw_rfcore_xreg.h
  cpu/cc2538/include/vendor/hw_smwdthrosc.h
  cpu/cc2538/include/vendor/hw_soc_adc.h
  cpu/cc2538/include/vendor/hw_ssi.h
  cpu/cc2538/include/vendor/hw_sys_ctrl.h
  cpu/cc2538/include/vendor/hw_types.h
  cpu/cc2538/include/vendor/hw_uart.h
  cpu/cc2538/include/vendor/hw_udma.h
  cpu/cc2538/include/vendor/hw_udmachctl.h
  cpu/cc2538/include/vendor/hw_usb.h
  cpu/esp32/vendor/esp-idf/include/esp32/esp_wifi.h
  pkg/openthread/contrib/netdev/openthread_netdev.c
  pkg/openthread/contrib/platform_radio.c
  pkg/openthread/contrib/platform_uart.c
  pkg/openthread/include/ot.h
  sys/random/fortuna/Makefile
  sys/random/fortuna/fortuna.c
  sys/random/fortuna/fortuna.h
Labels: CI: ready for build, Impact: minor, Type: cleanup

#14453 sys/random: add option to use HWRNG as source of randomness
  Makefile.dep
  sys/include/random.h
  sys/random/hwrng.c
  tests/rng/test.c
Labels: Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14120 gnrc/lwmac : Expose configurations to Kconfig
  sys/include/net/gnrc/lwmac/lwmac.h
  sys/include/net/gnrc/lwmac/types.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/link_layer/lwmac/Kconfig
  sys/net/gnrc/link_layer/lwmac/include/lwmac_internal.h
  sys/net/gnrc/link_layer/lwmac/lwmac.c
  sys/net/gnrc/link_layer/lwmac/rx_state_machine.c
  sys/net/gnrc/link_layer/lwmac/timeout.c
  sys/net/gnrc/link_layer/lwmac/tx_state_machine.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14365 cpu/efm32: prepare for series 2
  boards/common/silabs/drivers/aem/aem.c
  cpu/efm32/cpu.c
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/adc.c
  cpu/efm32/periph/gpio.c
  cpu/efm32/periph/i2c.c
  cpu/efm32/periph/pwm.c
  cpu/efm32/periph/spi.c
  cpu/efm32/periph/uart.c
Labels: CI: ready for build, Platform: ARM, Type: cleanup

#14007 cpu/sam0_common: move PWM to common code, add support for saml21, samd5x
  boards/common/arduino-mkr/include/periph_conf_common.h
  boards/common/arduino-zero/include/periph_conf.h
  boards/feather-m0/include/periph_conf.h
  boards/hamilton/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/Makefile.features
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/Makefile.features
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/serpente/Makefile.features
  boards/serpente/include/periph_conf.h
  boards/sodaq-autonomo/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/include/timer_config.h
  cpu/sam0_common/periph/pwm.c
  cpu/samd21/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14474 tests/warn_conflict: fix python test script
  tests/warn_conflict/tests/01-make.py
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14459 tools: add capability to provide make command via environment
  dist/pythonlibs/testrunner/spawn.py
  dist/tools/ci/print_toolchain_versions.sh
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
  dist/tools/compile_test/compile_test.py
  tests/lwip/tests/01-run.py
  tests/riotboot/tests/01-run.py
  tests/warn_conflict/tests/01-make.py
Labels: Area: tests, Area: tools, CI: ready for build, OS: FreeBSD, OS: Mac OS X, OS: Windows, Type: enhancement

#14468 riotctrl_shell.gnrc: add doctests as parsing examples and bugfixes
  dist/pythonlibs/riotctrl_shell/gnrc.py
  dist/pythonlibs/riotctrl_shell/tests/test_gnrc.py
Labels: Area: doc, Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Type: bug, Type: enhancement

#14473 examples/dtls-echo: fix silent fail with ECC
  examples/dtls-echo/dtls-client.c
Labels: Area: examples, Area: security, CI: ready for build, Impact: minor, Type: bug

#14460 riotctrl_shell.netif: add missing check_term decorator
  dist/pythonlibs/riotctrl_shell/netif.py
  dist/pythonlibs/riotctrl_shell/tests/common.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: bug

#14479 riotctrl_shell.netif: allow for non str values with ifconfig_set()
  dist/pythonlibs/riotctrl_shell/netif.py
  dist/pythonlibs/riotctrl_shell/tests/test_netif.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: bug

#14462 riotctrl_shell.gnrc: move compile object init to parser constructors
  dist/pythonlibs/riotctrl_shell/gnrc.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#14465 riotctrl_shell.gnrc: provide ipv6_nib interactions and parsers
  dist/pythonlibs/riotctrl_shell/gnrc.py
  dist/pythonlibs/riotctrl_shell/tests/test_gnrc.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14484 tools/bossa: factorize Makefiles
  dist/tools/bossa-1.8/Makefile
  dist/tools/bossa-1.9/Makefile
  dist/tools/bossa-nrf52/Makefile
  makefiles/tools/bossa-build.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#13517 cpu/esp32: support of multiple heaps for newlib malloc
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/ld/esp32.common.ld
  cpu/esp_common/syscalls.c
Labels: Area: cpu, CI: ready for build, CI: run tests, Impact: minor, Platform: ESP, Type: enhancement

#12611 emcute example: Added more FAQ entries to readme
  examples/emcute_mqttsn/README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#14125 cpu/stm32/qdec: test null callback pointer
  cpu/stm32/periph/qdec.c
Labels: CI: ready for build, Impact: minor, Type: bug

#14476 drivers/sdcard_spi: remove auto-init
  boards/sensebox_samd21/board.c
  drivers/Makefile.dep
  drivers/sdcard_spi/sdcard_spi.c
  examples/filesystem/main.c
  makefiles/pseudomodules.inc.mk
  sys/auto_init/Makefile
  sys/auto_init/auto_init.c
  sys/auto_init/storage/Makefile
  sys/auto_init/storage/auto_init_sdcard_spi.c
  tests/driver_sdcard_spi/Makefile
  tests/driver_sdcard_spi/main.c
  tests/pkg_fatfs/main.c
Labels: Area: fs, CI: ready for build, Type: cleanup

#14306 net/gnrc: Remove deprecated module gnrc_nettest
  LOSTANDFOUND.md
  Makefile.dep
  sys/include/net/gnrc/nettest.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/nettest/Makefile
  sys/net/gnrc/nettest/gnrc_nettest.c
Labels: Area: network, CI: ready for build, Type: cleanup

#14499 tests/gnrc_udp/udp.c: fix netif_hdr typo
  tests/gnrc_udp/udp.c
Labels: Area: tests, CI: ready for build, Type: bug

#14495 LOSTANDFOUND.md: add note about wsn430 boards
  LOSTANDFOUND.md
Labels: Area: boards, CI: ready for build, CI: skip compile test

#14494 pkg/emb6: remove deprecated package
  CODEOWNERS
  LOSTANDFOUND.md
  makefiles/pseudomodules.inc.mk
  pkg/emb6/Makefile
  pkg/emb6/Makefile.dep
  pkg/emb6/Makefile.include
  pkg/emb6/contrib/Makefile
  pkg/emb6/contrib/board_conf.c
  pkg/emb6/contrib/netdev/Makefile
  pkg/emb6/contrib/netdev/emb6_netdev.c
  pkg/emb6/contrib/sock/udp/Makefile
  pkg/emb6/contrib/sock/udp/emb6_sock_udp.c
  pkg/emb6/contrib/target.c
  pkg/emb6/doc.txt
  pkg/emb6/include/board_conf.h
  pkg/emb6/include/emb6/netdev.h
  pkg/emb6/include/sock_types.h
  pkg/emb6/patches/0001-Add-RIOT-Makefiles.patch
  pkg/emb6/patches/0002-Rename-colliding-files-and-functions.patch
  pkg/emb6/patches/0003-Provide-event-type-for-RIOT-s-sock_.-_send.patch
  tests/emb6/Makefile
  tests/emb6/Makefile.ci
  tests/emb6/common.c
  tests/emb6/common.h
  tests/emb6/main.c
  tests/emb6/ping.c
  tests/emb6/udp.c
Labels: Area: network, Area: pkg, CI: ready for build, Type: cleanup

#12543 CONTRIBUTING/MAINTAINING: Clarify guidelines
  MAINTAINING.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Discussion: RFC, Discussion: needs consensus, Process: needs >1 ACK

#14368 core/byteorder: add uint32 from/to buffer funcs
  core/include/byteorder.h
  tests/unittests/tests-core/tests-core-byteorder.c
Labels: Area: core, CI: ready for build, Type: new feature

#14058 net/gnrc_netif_lorawan: fix unaligned copy
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Area: LoRa, CI: ready for build, Type: bug

#14322 drivers/soft_uart: add software based UART implementation
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/soft_uart.h
  drivers/soft_uart/Makefile
  drivers/soft_uart/include/soft_uart_params.h
  drivers/soft_uart/soft_uart.c
  makefiles/pseudomodules.inc.mk
  tests/driver_soft_uart/Makefile
  tests/driver_soft_uart/Makefile.ci
  tests/driver_soft_uart/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14513 net/credman : Expose configurations to Kconfig
  sys/include/net/credman.h
  sys/net/Kconfig
  sys/net/credman/Kconfig
  sys/net/credman/credman.c
  tests/unittests/tests-credman/tests-credman.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14515 CODING_CONVENTIONS.md: add a note about float
  CODING_CONVENTIONS.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: needs >1 ACK, Type: enhancement

#14422 cpu/cortexm_common: Fixes for thread_arch.c and dropped workaround
  cpu/cortexm_common/Makefile
  cpu/cortexm_common/thread_arch.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: bug

#14486 tools: build more tools with tools-buildtest
  .github/workflows/tools-buildtest.yml
  dist/tools/bossa-1.8/Makefile
  dist/tools/bossa-1.9/Makefile
  dist/tools/bossa-nrf52/Makefile
  dist/tools/edbg/Makefile
  dist/tools/pic32prog/Makefile
  dist/tools/setsid/Makefile
  pkg/pkg.mk
Labels: Area: CI, Area: build system, Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#14510 riotctrl_shell.netif: fix for multiple interfaces with netstats
  dist/pythonlibs/riotctrl_shell/netif.py
  dist/pythonlibs/riotctrl_shell/tests/test_netif_list_parse.py
Labels: Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Process: needs backport, Type: bug

#14362 cpu/msp430_common: Update to inline-able IRQ API
  cpu/msp430_common/cpu.c
  cpu/msp430_common/include/cpu.h
  cpu/msp430_common/include/cpu_conf.h
  cpu/msp430_common/include/irq_arch.h
  cpu/msp430_common/irq.c
Labels: Area: cpu, CI: ready for build, Platform: MSP, Type: enhancement

#13977 sys/pm: Correctly access pm_blocker
  sys/pm_layered/pm.c
Labels: Area: pm, CI: ready for build, Impact: minor, Type: bug

#14519 riotctrl_shell.gnrc: remove superfluous quotation marks
  dist/pythonlibs/riotctrl_shell/gnrc.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: cleanup

#14522 riotctrl_shell.netif: fix for multiple interfaces with netstats [backport 2020.07]
  dist/pythonlibs/riotctrl_shell/netif.py
  dist/pythonlibs/riotctrl_shell/tests/test_netif_list_parse.py
Labels: Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Process: release backport, Type: bug

#14524 tests/gnrc_dhcpv6_client: fix expected output
  tests/gnrc_dhcpv6_client/tests/01-run.py
Labels: Area: network, Area: tests, CI: ready for build, CI: skip compile test, Process: needs backport, Type: bug

#14528 tests/gnrc_dhcpv6_client: fix expected output [backport 2020.07]
  tests/gnrc_dhcpv6_client/tests/01-run.py
Labels: Area: network, Area: tests, CI: ready for build, CI: skip compile test, Process: release backport, Type: bug

#14526 riotctrl_shell.gnrc: remove superfluous quotation marks [backport 2020.07]
  dist/pythonlibs/riotctrl_shell/gnrc.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Process: release backport, Type: cleanup

#14426 cpu/stm32: Fix garbage on UART init
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/gpio_f1.c
  cpu/stm32/periph/uart.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14518 examples/micropython: fix checked PID
  examples/micropython/tests/01-run.py
Labels: Area: examples, Area: pkg, CI: ready for build, CI: skip compile test, Process: needs backport, Type: bug

#14523 tests/xtimer_now_irq: don't fail for 32bit timers
  tests/xtimer_now_irq/main.c
  tests/xtimer_now_irq/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: needs backport, Type: cleanup

#14529 cpu/stm32: Fix garbage on UART init [backport 2020.07] #14426
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/gpio_f1.c
  cpu/stm32/periph/uart.c
Labels: Area: drivers, CI: ready for build, Process: release backport, Type: bug

#14530 examples/micropython: fix checked PID [backport 2020.07]
  examples/micropython/tests/01-run.py
Labels: Area: examples, Area: pkg, CI: ready for build, CI: skip compile test, Process: release backport, Type: bug

#14532 tests/xtimer_now_irq: don't fail for 32bit timers [backport 2020.07]
  tests/xtimer_now_irq/main.c
  tests/xtimer_now_irq/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: release backport, Type: cleanup

#14440 boards/nrf-based: Model features in Kconfig
  boards/acd52832/Kconfig
  boards/adafruit-clue/Kconfig
  boards/airfy-beacon/Kconfig
  boards/arduino-nano-33-ble/Kconfig
  boards/calliope-mini/Kconfig
  boards/common/nrf51/Kconfig
  boards/common/nrf52/Kconfig
  boards/common/nrf52xxxdk/Kconfig
  boards/common/particle-mesh/Kconfig
  boards/dwm1001/Kconfig
  boards/feather-nrf52840/Kconfig
  boards/microbit/Kconfig
  boards/nrf51dk/Kconfig
  boards/nrf51dongle/Kconfig
  boards/nrf52832-mdk/Kconfig
  boards/nrf52840-mdk/Kconfig
  boards/nrf52840dk/Kconfig
  boards/nrf52840dongle/Kconfig
  boards/nrf52dk/Kconfig
  boards/nrf6310/Kconfig
  boards/particle-argon/Kconfig
  boards/particle-boron/Kconfig
  boards/particle-xenon/Kconfig
  boards/pinetime/Kconfig
  boards/reel/Kconfig
  boards/ruuvitag/Kconfig
  boards/thingy52/Kconfig
  boards/yunjia-nrf51822/Kconfig
  cpu/nrf51/Kconfig
  cpu/nrf51/Makefile.features
  cpu/nrf52/Kconfig
  cpu/nrf52/Makefile.features
  cpu/nrf52/radio/nrf802154/Kconfig
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.features
  kconfigs/Kconfig.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14533 gh-actions: run for PRs against release branches [backport 2020.07]
  .github/workflows/tools-buildtest.yml
  .github/workflows/tools-test.yml
Labels: Area: CI, Area: tools, CI: ready for build, CI: skip compile test, Process: release backport, Type: enhancement

#14469 boards/ek-lm4f120xl: Model features in Kconfig
  boards/ek-lm4f120xl/Kconfig
  cpu/lm4f120/Kconfig
  cpu/lm4f120/Makefile.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Impact: minor, Type: new feature

#14475 boards/mips32r2-based: Model features in Kconfig
  boards/6lowpan-clicker/Kconfig
  boards/pic32-wifire/Kconfig
  cpu/mips32r2_common/Kconfig
  cpu/mips32r2_common/Makefile.features
  cpu/mips_pic32_common/Kconfig
  cpu/mips_pic32_common/Makefile.features
  cpu/mips_pic32mx/Kconfig
  cpu/mips_pic32mx/Makefile.features
  cpu/mips_pic32mz/Kconfig
  cpu/mips_pic32mz/Makefile.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14534 cortexm_common: disable IRQ during thread_sched_idle
  cpu/cortexm_common/thread_arch.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Process: needs backport, Type: bug

#14483 boards/same54-xpro: Model features in Kconfig
  boards/same54-xpro/Kconfig
  cpu/samd5x/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Impact: minor, Type: new feature

#14477 boards/sam3-based: Model features in Kconfig
  boards/arduino-due/Kconfig
  boards/common/arduino-due/Kconfig
  boards/udoo/Kconfig
  cpu/sam3/Kconfig
  cpu/sam3/Makefile.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14538 boards/native: Model features in Kconfig
  boards/native/Kconfig
  cpu/native/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#14537 cortexm_common: disable IRQ during thread_sched_idle [backport 2020.07]
  cpu/cortexm_common/thread_arch.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Process: release backport, Type: bug

#14539 cpu/lpc2387: rename to lpc23xx
  boards/avsextrem/Makefile.features
  boards/avsextrem/include/board.h
  boards/mcb2388/Makefile.features
  boards/mcb2388/include/board.h
  boards/msba2/Makefile.features
  boards/msba2/include/board.h
  cpu/doc.txt
  cpu/lpc23xx/Makefile
  cpu/lpc23xx/Makefile.dep
  cpu/lpc23xx/Makefile.features
  cpu/lpc23xx/Makefile.include
  cpu/lpc23xx/asmfunc.s
  cpu/lpc23xx/clocks.c
  cpu/lpc23xx/cpu.c
  cpu/lpc23xx/doc/lpc23xx.doc
  cpu/lpc23xx/include/cpu.h
  cpu/lpc23xx/include/cpu_conf.h
  cpu/lpc23xx/include/lpc23xx.h
  cpu/lpc23xx/include/periph_cpu.h
  cpu/lpc23xx/include/vendor/lpc23xx.h
  cpu/lpc23xx/ldscripts/lpc23xx.ld
  cpu/lpc23xx/lpc23xx-iap.c
  cpu/lpc23xx/mci/Makefile
  cpu/lpc23xx/mci/lpc23xx-mci.c
  cpu/lpc23xx/periph/Makefile
  cpu/lpc23xx/periph/adc.c
  cpu/lpc23xx/periph/dac.c
  cpu/lpc23xx/periph/gpio.c
  cpu/lpc23xx/periph/i2c.c
  cpu/lpc23xx/periph/pm.c
  cpu/lpc23xx/periph/pwm.c
  cpu/lpc23xx/periph/rtc.c
  cpu/lpc23xx/periph/spi.c
  cpu/lpc23xx/periph/timer.c
  cpu/lpc23xx/periph/uart.c
  cpu/lpc23xx/startup.s
  cpu/lpc23xx/tools/openocd-lpc23xx.cfg
Labels: Area: boards, Area: cpu, CI: ready for build, Type: enhancement

#14470 boards/lpc1768-based: Model features in Kconfig
  boards/mbed_lpc1768/Kconfig
  boards/seeeduino_arch-pro/Kconfig
  cpu/lpc1768/Kconfig
  cpu/lpc1768/Makefile.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14485 boards/saml1x-based: Model features in Kconfig
  boards/common/saml1x/Kconfig
  boards/saml10-xpro/Kconfig
  boards/saml10-xpro/Makefile.include
  boards/saml11-xpro/Kconfig
  boards/saml11-xpro/Makefile.include
  cpu/saml1x/Kconfig
  cpu/saml1x/Makefile.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, Area: build system, CI: ready for build, Type: new feature

#14471 boards/lpc2387-based: Model features in Kconfig
  boards/avsextrem/Kconfig
  boards/mcb2388/Kconfig
  boards/msba2/Kconfig
  cpu/arm7_common/Kconfig
  cpu/arm7_common/Makefile.features
  cpu/cortexm_common/Kconfig
  cpu/lpc23xx/Kconfig
  cpu/lpc23xx/Makefile.features
  kconfigs/Kconfig.features
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14487 boards/saml21-based: Model features in Kconfig
  boards/saml21-xpro/Kconfig
  boards/samr30-xpro/Kconfig
  boards/samr34-xpro/Kconfig
  cpu/saml21/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14189 boards/samd21-based: Model features in Kconfig
  boards/arduino-mkr1000/Kconfig
  boards/arduino-mkrfox1200/Kconfig
  boards/arduino-mkrwan1300/Kconfig
  boards/arduino-mkrzero/Kconfig
  boards/arduino-zero/Kconfig
  boards/common/arduino-mkr/Kconfig
  boards/common/arduino-zero/Kconfig
  boards/common/sodaq/Kconfig
  boards/feather-m0/Kconfig
  boards/hamilton/Kconfig
  boards/samd21-xpro/Kconfig
  boards/sensebox_samd21/Kconfig
  boards/serpente/Kconfig
  boards/sodaq-autonomo/Kconfig
  boards/sodaq-explorer/Kconfig
  boards/sodaq-one/Kconfig
  boards/sodaq-sara-aff/Kconfig
  boards/sodaq-sara-sff/Kconfig
  boards/wemos-zero/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, TF: Config, Type: new feature

#14541 tests/kconfig_features: remove boards whitelist
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Type: enhancement

#14543 tests/driver_sx127x: remove unused xtimer dependency
  tests/driver_sx127x/Makefile
  tests/driver_sx127x/main.c
Labels: Area: tests, CI: ready for build, Type: cleanup

#14451 tests/periph_gpio: enable shell commands
  tests/periph_gpio/Makefile
Labels: Area: tests, CI: ready for build, Impact: minor, Type: enhancement

#14542 net/cord: replace usage of deprecated gcoap_finish
  sys/net/application_layer/cord/epsim/cord_epsim.c
  sys/net/application_layer/cord/lc/cord_lc.c
Labels: Area: CoAP, CI: ready for build, Type: enhancement

#14398 examples/filesystem: add support for littlefs2
  Makefile.dep
  examples/filesystem/Makefile
  examples/filesystem/main.c
  pkg/littlefs2/fs/littlefs2_fs.c
  sys/include/fs/littlefs2_fs.h
  tests/pkg_littlefs2/main.c
Labels: Area: examples, Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#14406 pkg/jerryscript: bump to version 2.3.0
  pkg/jerryscript/Makefile
Labels: Area: pkg, CI: ready for build, Type: enhancement

#14489 drivers/tests: rename private read() and sleep() functions to avoid conflicts with libc
  drivers/bme680/bme680_saul.c
  drivers/sht3x/sht3x_saul.c
  drivers/sps30/sps30_saul.c
  tests/driver_pca9633/main.c
  tests/periph_gpio/main.c
Labels: Area: drivers, Area: tests, CI: ready for build, Impact: minor, Type: cleanup

#14551 sys/ztimer: fix missing include for periph_rtt submodule
  sys/ztimer/periph_rtt.c
Labels: Area: timers, CI: ready for build, Type: cleanup

#14536 drivers/pca9633: fix wrong enum name
  drivers/include/pca9633.h
Labels: CI: ready for build, Impact: minor, Type: cleanup

#14507 sys/include/net: Add SOME/IP header
  sys/include/net/someip.h
Labels: Area: network, CI: ready for build, CI: skip compile test, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14493 netopt: remove deprecated alias NETOPT_LINK_CONNECTED
  drivers/enc28j60/enc28j60.c
  drivers/encx24j600/encx24j600.c
  sys/include/net/netopt.h
Labels: Area: network, CI: ready for build, Type: cleanup

#14454 Add USB Ethernet support to GNRC Border Router example
  dist/tools/usb-cdc-ecm/start_network.sh
  examples/gnrc_border_router/Makefile
  examples/gnrc_border_router/Makefile.cdc-ecm.conf
Labels: Area: tools, CI: ready for build, Type: new feature

#14549 examples/filesystem: Cleanup filesystem/mtd check
  examples/filesystem/main.c
Labels: Area: examples, CI: ready for build, Type: cleanup

#14497 drivers/Makefile.dep: remove inappropriate use of FEATURES_PROVIDED for rtt_rtc
  cpu/nrf5x_common/Makefile.dep
  drivers/Makefile.dep
Labels: Area: build system, Area: drivers, CI: ready for build, Type: cleanup

#14511 ci/build_system_check: improve check for features only provided in Makefile.features
  dist/tools/buildsystem_sanity_check/check.sh
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: enhancement

#14559 core/sched: tiny logic optimization in idle case
  core/sched.c
Labels: Area: core, CI: ready for build, Type: cleanup

#12428 native/async_read: use poll() instead of select()
  cpu/native/async_read.c
  cpu/native/include/async_read.h
  cpu/native/include/native_internal.h
  cpu/native/syscalls.c
Labels: CI: ready for build, Platform: native, Type: enhancement

#14163 cpu/stm32g0: add basic support + add nucleo-g070rb board
  boards/common/nucleo/include/board_nucleo.h
  boards/common/stm32/dist/stm32g0.cfg
  boards/common/stm32/include/cfg_i2c1_pb8_pb9.h
  boards/common/stm32/include/g0/cfg_clock_default.h
  boards/nucleo-g070rb/Kconfig
  boards/nucleo-g070rb/Makefile
  boards/nucleo-g070rb/Makefile.dep
  boards/nucleo-g070rb/Makefile.features
  boards/nucleo-g070rb/Makefile.include
  boards/nucleo-g070rb/doc.txt
  boards/nucleo-g070rb/include/periph_conf.h
  cpu/cortexm_common/cortexm_init.c
  cpu/stm32/Kconfig
  cpu/stm32/Makefile.features
  cpu/stm32/cpu_common.c
  cpu/stm32/cpu_init.c
  cpu/stm32/include/cpu_conf.h
  cpu/stm32/include/cpu_conf_stm32_common.h
  cpu/stm32/include/periph/g0/periph_cpu.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/dma.c
  cpu/stm32/periph/flash_common.c
  cpu/stm32/periph/flashpage.c
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/pm.c
  cpu/stm32/periph/rtt_all.c
  cpu/stm32/periph/uart.c
  cpu/stm32/stm32_info.mk
  cpu/stm32/stm32_mem_lengths.mk
  cpu/stm32/stmclk/Makefile
  cpu/stm32/stmclk/stmclk_common.c
  cpu/stm32/stmclk/stmclk_gx.c
  cpu/stm32/vectors/vectors_g0.c
  examples/javascript/Makefile.ci
  examples/lua_REPL/Makefile.ci
  examples/lua_basic/Makefile.ci
  examples/micropython/Makefile.ci
  examples/suit_update/Makefile.ci
  pkg/stm32cmsis/Makefile
  tests/pkg_utensor/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ARM, Type: new feature

#14566 tests/periph_gpio: allow specifying port under test
  tests/periph_gpio/Makefile
  tests/periph_gpio/tests/02-bench.py
Labels: Area: tests, CI: ready for build, Type: enhancement

#14569 tests/trickle: add message queue
  tests/trickle/main.c
Labels: Area: tests, CI: ready for build, Type: bug

#14544 examples/cord_epsim: default to first interface when not specified
  examples/cord_epsim/Makefile
  examples/cord_epsim/README.md
  examples/cord_epsim/main.c
Labels: Area: CoAP, Area: examples, CI: ready for build, Type: bug

#14550 net/gcoap: remove gcoap_finish
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/Kconfig
  sys/net/application_layer/gcoap/gcoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
Labels: Area: CoAP, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#14531 drivers/stmpe811: fix interrupt polarity & interrupt generation
  drivers/stmpe811/stmpe811.c
  tests/driver_stmpe811/Makefile
  tests/driver_stmpe811/README.md
  tests/driver_stmpe811/main.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14573 net/gnrc/mac/types.h : Update configurations
  sys/include/net/gnrc/mac/types.h
Labels: Area: network, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 3-testing, Type: bug

#14577 cpu/cc2538/uart: uart_write wait for all bytes to be sent
  cpu/cc2538/periph/uart.c
Labels: Area: drivers, CI: ready for build, Process: needs backport, Type: bug

#14567 net/l2filter : Expose configurations to Kconfig
  drivers/include/net/netdev.h
  sys/include/net/l2filter.h
  sys/net/link_layer/Kconfig
  sys/net/link_layer/l2filter/Kconfig
  sys/net/link_layer/l2filter/l2filter.c
  sys/shell/commands/sc_gnrc_netif.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14580 pkg/lvgl: adapt Makefile for nicer build output
  pkg/lvgl/Makefile
Labels: Area: build system, Area: pkg, CI: ready for build, Impact: minor, Type: cleanup

#14570 drivers/rtt: override RTT_MAX_VALUE and RTT_FREQUENCY for mock
  drivers/include/periph/rtt.h
Labels: Area: tests, Area: timers, CI: ready for build, Process: needs backport, Type: bug

#14581 cpu/cc2538/uart: uart_write wait for all bytes to be sent [backport 2020.07]
  cpu/cc2538/periph/uart.c
Labels: Area: drivers, CI: ready for build, Process: release backport, Type: bug

#14582 core/msg_bus: fix shift on 8-bit platforms
  core/include/msg_bus.h
  core/msg.c
  tests/thread_msg_bus/main.c
Labels: Area: core, CI: ready for build, Platform: AVR, Process: needs backport, Type: bug

#14583 tests/trickle: add message queue [backport 2020.07]
  tests/trickle/main.c
Labels: Area: tests, CI: ready for build, Process: release backport, Type: bug

#14584 drivers/rtt: override RTT_MAX_VALUE and RTT_FREQUENCY for mock [backport 2020.07]
  drivers/include/periph/rtt.h
Labels: Area: tests, Area: timers, CI: ready for build, Process: release backport, Type: bug

#14571 tests/pthread_flood: cleanup test
  tests/pthread_flood/main.c
  tests/pthread_flood/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: needs backport, Type: bug

#14585 core/msg_bus: fix shift on 8-bit platforms [backport 2020.07]
  core/include/msg_bus.h
  core/msg.c
  tests/thread_msg_bus/main.c
Labels: Area: core, CI: ready for build, Platform: AVR, Process: release backport, Type: bug

#14575 cpu/stm32: GPIO ports definition fix
  boards/common/nucleo32/include/arduino_pinmap.h
  cpu/stm32/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: enhancement

#14588 tests/trace: reduce trace buffer size
  tests/trace/Makefile
Labels: Area: tests, CI: ready for build, Type: cleanup

#14590 tests/pthread_flood: cleanup test [backport 2020.07]
  tests/pthread_flood/main.c
  tests/pthread_flood/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: release backport, Type: bug

#14586 examples/cord_epsim: default to first interface when not specified [backport 2020.07]
  examples/cord_epsim/Makefile
  examples/cord_epsim/README.md
  examples/cord_epsim/main.c
Labels: Area: CoAP, Area: examples, CI: ready for build, Process: release backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14591 tests/bench_sys_base64: reduce test iterations (10000 -> 1000)
  tests/bench_sys_base64/main.c
  tests/bench_sys_base64/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: cleanup

#14593 tests/pkg_libcose: add missing unistd.h include
  tests/pkg_libcose/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: cleanup

#14503 build system: Add libstdcpp feature and doc
  Makefile.dep
  cpu/arm7_common/Makefile.features
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.features
  cpu/esp_common/Kconfig
  cpu/esp_common/Makefile.features
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.features
  cpu/mips32r2_common/Makefile.features
  cpu/native/Makefile.features
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/using-cpp.md
  kconfigs/Kconfig.features
  tests/cpp_exclude/Makefile
  tests/cpp_ext/Makefile
Labels: Area: C++, Area: build system, Area: doc, CI: ready for build, Type: enhancement

#14540 boards/saml1x: configure second timer
  boards/common/saml1x/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14597 cpu/{mips32r2_common,arm7_common,native}/Kconfig: Select HAS_LIBSTDCPP
  cpu/arm7_common/Kconfig
  cpu/mips32r2_common/Kconfig
  cpu/native/Kconfig
Labels: Area: Kconfig, CI: ready for build, Impact: minor, Type: bug
