Repository RIOT-OS/RIOT, pull requests merged in 2020-06, with the labels that each got.

#14177 Blxxxpill qdec
  boards/common/blxxxpill/Makefile.features
  boards/common/blxxxpill/include/periph_conf.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/qdec.c
Labels: Area: boards, CI: ready for build, Type: new feature

#14174 cpu/stm32: don't include usbdev_stm32.h in periph_cpu_common.h
  cpu/stm32/include/periph_cpu.h
Labels: Area: USB, CI: ready for build, Impact: minor, Type: bug

#14161 nrf52840dk: move SPI flash to SPIM2 peripheral
  boards/nrf52840dk/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: bug

#14172 gnrc_netif: relax 6lo MTU assertion for 802.15.4g
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#14186 tests/periph_rtt: fix small issue with RTT_FREQUENCY for stm32f1
  tests/periph_rtt/Makefile
Labels: Area: tests, CI: ready for build, Impact: minor, Type: bug

#14183 cpu/stm32/Makefile.features: capture whole family
  cpu/stm32/Makefile.features
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14185 drivers/kw41zrf: fix wrong endianness in short_addr get/set
  drivers/kw41zrf/kw41zrf_getset.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14165 nrf52/i2c: Use mutex and IRQ for blocking
  cpu/nrf52/periph/i2c.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14096 STM32_common/dma: Optimize the latency in the hot path
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/dma.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14187 drivers/wdt: Add feature to indicate a configurable warning period
  cpu/sam0_common/Makefile.features
  drivers/include/periph/wdt.h
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: enhancement

#13865 USB VID/PID: allow for boards to define default custom VID/PID
  boards/serpente/Makefile.include
  boards/serpente/include/board.h
  sys/include/usb.h
Labels: Area: USB, CI: ready for build, Type: enhancement

#14191 dist/tools/flatc: compile with ccache (if CCACHE is set)
  dist/tools/flatc/Makefile
Labels: Area: build system, Area: pkg, Area: tools, CI: ready for build, Type: bug

#14126 gnrc/tcp : Expose configurations to Kconfig
  sys/include/net/gnrc/tcp.h
  sys/include/net/gnrc/tcp/config.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/transport_layer/tcp/Kconfig
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_rcvbuf.c
  sys/net/gnrc/transport_layer/tcp/internal/rcvbuf.h
  tests/gnrc_tcp/Makefile
Labels: Area: Kconfig, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14046 drivers/at86rf2xx: add support for high data rates
  drivers/Makefile.dep
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/include/at86rf2xx.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13404 boards/samr21-xpro: Model features in Kconfig
  boards/samr21-xpro/Kconfig
  cpu/sam0_common/Kconfig
  cpu/sam0_common/periph/Kconfig
  cpu/samd21/Kconfig
  drivers/periph_common/Kconfig
  kconfigs/Kconfig.features
  makefiles/dependencies_debug.inc.mk
  tests/kconfig_features/Kconfig
  tests/kconfig_features/Makefile
  tests/kconfig_features/README.md
  tests/kconfig_features/main.c
Labels: Area: Kconfig, CI: ready for build, TF: Config, Type: new feature

#14192 .gitignore: Ignore temporary vim files
  .gitignore
Labels: CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#13530 sys: add units.h for helper macros
  core/include/macros/units.h
Labels: Area: core, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14010 drivers/at86rf215: implement MR-OFDM
  drivers/Makefile.dep
  drivers/at86rf215/at86rf215.c
  drivers/at86rf215/at86rf215_netdev.c
  drivers/at86rf215/at86rf215_ofdm.c
  drivers/at86rf215/include/at86rf215_internal.h
  drivers/include/at86rf215.h
  sys/include/net/netopt.h
  sys/net/crosslayer/netopt/netopt.c
  sys/shell/commands/sc_gnrc_netif.c
  tests/driver_at86rf215/Makefile.ci
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#14154 doc/kconfig.md : Update documentation
  doc/doxygen/src/kconfig/kconfig.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: enhancement

#14196 shell_commands: provide command to reboot to bootloader
  sys/shell/commands/sc_sys.c
  sys/shell/commands/shell_commands.c
Labels: Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14199 drivers/at86rf215: Fix documentation
  drivers/at86rf215/include/at86rf215_internal.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#12778 boards: add WeAct-f411ce
  boards/common/stm32/include/f4/cfg_clock_96_25_1.h
  boards/weact-f411ce/Makefile
  boards/weact-f411ce/Makefile.dep
  boards/weact-f411ce/Makefile.features
  boards/weact-f411ce/Makefile.include
  boards/weact-f411ce/board.c
  boards/weact-f411ce/doc.txt
  boards/weact-f411ce/include/board.h
  boards/weact-f411ce/include/gpio_params.h
  boards/weact-f411ce/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: new feature

#14194 drivers/lis3dh: fix mask in lis3dh_set_aux_adc()
  drivers/lis3dh/lis3dh.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14202 tests/kconfig_features: Fix target dependencies
  dist/tools/kconfiglib/Makefile
  tests/kconfig_features/Makefile
Labels: Area: tests, CI: ready for build, Type: bug

#14075 nanocoap: bugfix token overflow
  sys/include/net/coap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, Area: security, CI: ready for build, Type: bug

#14215 usbus/cdc/acm: correct return expression of stdio_write
  sys/usb/usbus/cdc/acm/cdc_acm_stdio.c
Labels: Area: USB, CI: ready for build, Type: bug

#14218 boards/common/sodaq: add XTIMER_DEV and make it equal to other SAMD21
  boards/common/sodaq/include/board_common.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#14216 tests/periph_uart_nonblocking: relax time requirement a bit
  tests/periph_uart_nonblocking/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: skip compile test, Type: enhancement

#14181 tests/thread_flood: account for all threads already in use
  tests/thread_flood/main.c
Labels: Area: tests, CI: ready for build, Type: bug

#14097 STM32_common/SPI: Reduce the overhead in the DMA hot path
  cpu/stm32/periph/spi.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14071 gnrc/pktdump : Expose Configurations to Kconfig
  sys/include/net/gnrc/pktdump.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/pktdump/Kconfig
Labels: Area: Kconfig, Area: network, CI: ready for build, Type: new feature

#14150 lwip: add IPv4 support for `netdev_tap`
  pkg/lwip/contrib/lwip.c
Labels: Area: network, Area: pkg, CI: ready for build, Platform: native, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#12738 netif: add functions to get and get by identifier
  sys/include/net/netif.h
  sys/net/gnrc/netif/_netif.c
  sys/net/netif/netif.c
Labels: Area: network, CI: ready for build, State: demonstrator, Type: enhancement

#14235 pkg/nimble/netif: remove redundant netif ptr
  pkg/nimble/netif/nimble_netif.c
Labels: Area: BLE, Area: network, CI: ready for build, Type: cleanup

#14204 cpu/native: rename trace -> backtrace
  cpu/native/Makefile
  cpu/native/backtrace/Makefile
  cpu/native/backtrace/backtrace.c
  cpu/native/include/backtrace.h
  tests/backtrace/Makefile
  tests/backtrace/main.c
  tests/backtrace/tests/01-run.py
Labels: CI: ready for build, Platform: native, Type: cleanup

#13320 stdio_semihosting: Initial include of Semihosting-based STDIO
  dist/tools/openocd/openocd.sh
  makefiles/stdio.inc.mk
  makefiles/tools/serial.inc.mk
  sys/include/stdio_semihosting.h
  sys/stdio_semihosting/Makefile
  sys/stdio_semihosting/stdio_semihosting.c
  tests/sys_stdio_semihosting/Makefile
  tests/sys_stdio_semihosting/README.md
  tests/sys_stdio_semihosting/main.c
Labels: Area: sys, CI: ready for build, Platform: ARM, Reviewed: 3-testing, Type: new feature

#14227 sys/test_utils/dummy_thread: initial commit
  sys/Makefile
  sys/auto_init/auto_init.c
  sys/test_utils/dummy_thread/Makefile
  sys/test_utils/dummy_thread/dummy_thread.c
  tests/test_tools/Makefile
Labels: Area: tests, CI: ready for build, Type: new feature

#13006 makefiles/color: fix build on NixOS
  makefiles/color.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Type: bug

#14238 tests/netstats_l2: disable test run for esp32-wroom-32
  tests/netstats_l2/Makefile
Labels: Area: tests, CI: ready for build, Platform: ESP, Type: bug

#14197 driver/at86rf215: cleanup
  drivers/at86rf215/Kconfig
  drivers/at86rf215/at86rf215.c
  drivers/at86rf215/at86rf215_netdev.c
  drivers/include/at86rf215.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Type: cleanup

#14239 pkg: fix some typos in pkg.mk
  pkg/pkg.mk
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: cleanup

#14228 tests/cond_order: refactor the test to avoid knowing the thread IDs
  tests/cond_order/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: bug

#14241 tests/xtimer_now32_overflow: fix active timers going out of scope
  tests/xtimer_now32_overflow/main.c
Labels: Area: tests, Area: timers, CI: ready for build, CI: run tests, Type: bug

#14243 tests/cpp11_thread: use sched_num_threads instead of const 2
  tests/cpp11_thread/main.cpp
Labels: Area: tests, CI: ready for build, Type: bug, Type: cleanup

#14229 tests/mutex_order: refactor the test to avoid knowing the thread IDs
  tests/mutex_order/tests/01-run.py
Labels: Area: core, Area: tests, CI: ready for build, Type: bug

#14230 tests/rmutex: refactor the test to avoid having to know the thread IDs
  tests/rmutex/tests/01-run.py
Labels: Area: core, Area: tests, CI: ready for build, Type: bug

#14084 drivers/mtd_spi_nor: derive capacity from JEDEC ID
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14210 boards/cc26xx_cc13xx-based: model features in Kconfig
  boards/cc1312-launchpad/Kconfig
  boards/cc1352-launchpad/Kconfig
  boards/cc1352p-launchpad/Kconfig
  boards/cc2650-launchpad/Kconfig
  boards/cc2650stk/Kconfig
  cpu/cc26x0/Kconfig
  cpu/cc26x2_cc13x2/Kconfig
  cpu/cc26xx_cc13xx/Kconfig
  cpu/cortexm_common/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14257 cpu/cc26x2_cc13x2: rename aux.c to restore Windows compatibility
  cpu/cc26x2_cc13x2/auxiliary.c
Labels: CI: ready for build, Impact: minor, Type: bug

#14254 tests/rmutex_cpp: refactor the test to avoid having to know the thread IDs
  tests/rmutex_cpp/tests/01-run.py
Labels: Area: tests, CI: ready for build

#14225 sys/hashes: add sha224 and reuse sha256 code
  sys/hashes/sha224.c
  sys/hashes/sha256.c
  sys/hashes/sha2xx_common.c
  sys/include/hashes/sha224.h
  sys/include/hashes/sha256.h
  sys/include/hashes/sha2xx_common.h
  tests/unittests/tests-hashes/tests-hashes-sha224.c
  tests/unittests/tests-hashes/tests-hashes-sha256.c
  tests/unittests/tests-hashes/tests-hashes.c
  tests/unittests/tests-hashes/tests-hashes.h
Labels: Area: security, CI: ready for build, CI: run tests, Type: new feature

#14245 boards/common/iotlab: don't enforce BAUD
  boards/common/iotlab/Makefile.include
Labels: Area: boards, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#14252 net/csma : Expose configurations to Kconfig
  sys/include/net/csma_sender.h
  sys/net/link_layer/Kconfig
  sys/net/link_layer/csma_sender/Kconfig
  sys/net/link_layer/csma_sender/csma_sender.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14056 gnrc/pktbuf : Expose Configurations to Kconfig
  cpu/cc430/Kconfig
  cpu/msp430_common/Kconfig
  cpu/msp430_common/include/cpu_conf.h
  cpu/msp430fxyz/Kconfig
  cpu/native/include/cpu_conf.h
  cpu/nrf51/Kconfig
  cpu/nrf51/include/cpu_conf.h
  examples/default/Makefile
  examples/gnrc_lorawan/Makefile
  examples/gnrc_minimal/Makefile
  examples/nanocoap_server/Makefile
  examples/suit_update/Makefile
  sys/include/net/gnrc/pktbuf.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/pktbuf/Kconfig
  sys/net/gnrc/pktbuf_malloc/gnrc_pktbuf_malloc.c
  sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c
  tests/conn_can/Makefile
  tests/driver_encx24j600/Makefile
  tests/driver_netdev_common/Makefile
  tests/gnrc_gomach/Makefile
  tests/gnrc_ipv6_fwd_w_sub/Makefile
  tests/gnrc_ipv6_nib/Makefile
  tests/gnrc_ipv6_nib_6ln/Makefile
  tests/gnrc_ipv6_nib_dns/Makefile
  tests/gnrc_lwmac/Makefile
  tests/gnrc_ndp/Makefile
  tests/gnrc_ndp/main.c
  tests/gnrc_sixlowpan_frag/Makefile
  tests/gnrc_sixlowpan_iphc_w_vrb/Makefile
  tests/gnrc_sock_async_event/Makefile
  tests/gnrc_sock_dns/Makefile
  tests/gnrc_sock_ip/Makefile
  tests/gnrc_sock_neterr/Makefile
  tests/gnrc_sock_udp/Makefile
  tests/gnrc_udp/Makefile
  tests/netdev_test/Makefile
  tests/pkg_microcoap/Makefile
  tests/riotboot_flashwrite/Makefile
  tests/unittests/tests-pktbuf/tests-pktbuf.c
Labels: Area: Kconfig, Area: network, CI: ready for build, Type: new feature

#14255 tests/lwip: add blackpill to BOARD_INSUFFICIENT_MEMORY
  tests/lwip/Makefile.ci
Labels: Area: build system, Area: tests, CI: ready for build, CI: skip compile test, Type: bug

#14265 drivers/at86rf215: make reset pulse width configurable
  drivers/at86rf215/Kconfig
  drivers/at86rf215/at86rf215_internal.c
  drivers/at86rf215/include/at86rf215_internal.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14212 boards/weact-f411ce: enable automatic reset to bootloader
  Makefile.include
  boards/common/samd21-arduino-bootloader/Makefile.include
  boards/weact-f411ce/Makefile.dep
  boards/weact-f411ce/Makefile.include
  boards/weact-f411ce/doc.txt
  makefiles/tools/bossa.inc.mk
  makefiles/tools/usb_board_reset.mk
Labels: Area: boards, Area: tools, CI: ready for build, Type: enhancement

#14247 cpu/stm32: add non blocking uart
  cpu/stm32/Makefile.dep
  cpu/stm32/Makefile.features
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/uart.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14244 boards/samr21-xpro: increase CONFIG_ZTIMER_USEC_MIN
  boards/samr21-xpro/include/board.h
Labels: Area: boards, Area: timers, CI: ready for build, Type: bug

#14231 sys/shell/commands: alias ping=ping6
  sys/shell/commands/shell_commands.c
Labels: Area: network, Area: sys, CI: ready for build, Type: enhancement

#14269 cpu/sam0_common: drop prescaler from timer config
  boards/common/arduino-mkr/include/periph_conf_common.h
  boards/common/arduino-zero/include/periph_conf.h
  boards/common/saml1x/include/periph_conf.h
  boards/common/sodaq/include/cfg_timer_default.h
  boards/feather-m0/include/periph_conf.h
  boards/hamilton/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/samr30-xpro/include/periph_conf.h
  boards/samr34-xpro/include/periph_conf.h
  boards/sensebox_samd21/include/periph_conf.h
  boards/serpente/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
Labels: Area: boards, Area: cpu, CI: ready for build, CI: run tests, Process: API change, Type: cleanup

#14277 tests/pkg_cryptoauthlib_internal: blacklist atmega256rfr2 boards
  tests/pkg_cryptoauthlib_internal-tests/Makefile.ci
Labels: Area: tests, CI: ready for build, CI: skip compile test, Type: cleanup

#14236 pkg/nimble/netif: set host thread prio to 1
  pkg/nimble/Makefile.include
Labels: Area: BLE, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#14260 sam0_common: Add DMA peripheral driver
  cpu/sam0_common/Kconfig
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/dma.c
  cpu/samd21/cpu.c
  cpu/samd5x/cpu.c
  cpu/saml1x/cpu.c
  cpu/saml21/cpu.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#14279 sam0_common/dma: Mark src parameter as const
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/dma.c
Labels: Area: drivers, CI: ready for build, Type: cleanup

#14278 sam0_common: Add additional documentation on DMA usage
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/dma.c
Labels: Area: doc, CI: ready for build, Type: cleanup

#14261 sam0_common: Make SPI peripheral DMA compatible
  boards/common/arduino-mkr/include/periph_conf.h
  boards/common/saml1x/include/periph_conf.h
  boards/feather-m0/include/periph_conf.h
  boards/hamilton/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/samr30-xpro/include/periph_conf.h
  boards/samr34-xpro/include/periph_conf.h
  boards/sensebox_samd21/include/periph_conf.h
  boards/serpente/include/periph_conf.h
  boards/sodaq-one/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/spi.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14271 tests/xtimer_mutex_lock_timeout: don't assume number of threads at start
  tests/xtimer_mutex_lock_timeout/tests/01-run.py
Labels: Area: tests, CI: ready for build

#14284 tests/posix_semaphore: better guarantee sequence of output lines
  tests/posix_semaphore/main.c
  tests/posix_semaphore/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: enhancement

#14086 gnrc: Use exponent to configure message queue sizes
  sys/include/net/gnrc/gomach/gomach.h
  sys/include/net/gnrc/ipv6.h
  sys/include/net/gnrc/lwmac/lwmac.h
  sys/include/net/gnrc/netif/conf.h
  sys/include/net/gnrc/nettest.h
  sys/include/net/gnrc/rpl.h
  sys/include/net/gnrc/sixlowpan/config.h
  sys/include/net/gnrc/tcp/config.h
  sys/include/net/gnrc/tcp/tcb.h
  sys/include/net/gnrc/udp.h
  sys/net/gnrc/netif/Kconfig
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/init_devs/auto_init_cc110x.c
  sys/net/gnrc/network_layer/ipv6/Kconfig
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/sixlowpan/Kconfig
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
  sys/net/gnrc/routing/rpl/Kconfig
  sys/net/gnrc/routing/rpl/gnrc_rpl.c
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/sock/include/sock_types.h
  sys/net/gnrc/transport_layer/tcp/Kconfig
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, TF: Config, Type: cleanup

#14290 tests/lwip: blacklist nucleo-f302r8
  tests/lwip/Makefile.ci
Labels: Area: build system, Area: tests, CI: ready for build, CI: skip compile test, Type: bug

#14283 tests/periph_spi_dma: Add test for SPI with DMA
  tests/periph_spi/Makefile
  tests/periph_spi_dma/Makefile
  tests/periph_spi_dma/Makefile.ci
  tests/periph_spi_dma/README.md
  tests/periph_spi_dma/main.c
Labels: Area: tests, CI: ready for build, Type: new feature

#12730 boards/sodaq-sff: add support for SODAQ SFF
  boards/sodaq-autonomo/include/board.h
  boards/sodaq-one/include/board.h
  boards/sodaq-sara-aff/include/board.h
  boards/sodaq-sara-sff/Makefile
  boards/sodaq-sara-sff/Makefile.dep
  boards/sodaq-sara-sff/Makefile.features
  boards/sodaq-sara-sff/Makefile.include
  boards/sodaq-sara-sff/board.c
  boards/sodaq-sara-sff/doc.txt
  boards/sodaq-sara-sff/include/arduino_board.h
  boards/sodaq-sara-sff/include/board.h
  boards/sodaq-sara-sff/include/gpio_params.h
  boards/sodaq-sara-sff/include/periph_conf.h
  examples/lua_REPL/Makefile.ci
  tests/bench_xtimer/Makefile
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#13825 cpu/cortexm: "free" SVC
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.features
  cpu/cortexm_common/thread_arch.c
  makefiles/features_modules.inc.mk
  makefiles/pseudomodules.inc.mk
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: enhancement

#14270 tests/thread_msg_seq: better guarantee sequence of output lines
  tests/thread_msg_seq/main.c
  tests/thread_msg_seq/tests/01-run.py
Labels: Area: tests, CI: ready for build

#14122 boards/stm32f429i-disco: add support
  boards/stm32f429i-disco/Makefile
  boards/stm32f429i-disco/Makefile.dep
  boards/stm32f429i-disco/Makefile.features
  boards/stm32f429i-disco/Makefile.include
  boards/stm32f429i-disco/doc.txt
Labels: Area: boards, CI: ready for build, Impact: minor, Type: enhancement

#14220 pkg/lwip: add support for nrf802154
  pkg/lwip/contrib/lwip.c
Labels: Area: network, Area: pkg, CI: ready for build, Reviewed: 3-testing

#14292 boards/sodaq: Add DMA config to SPI peripherals
  boards/common/sodaq/include/cfg_spi_default.h
  boards/sodaq-sara-sff/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#14275 boards/samr21-xpro: add uart hw cts/rts
  boards/samr21-xpro/Kconfig
  boards/samr21-xpro/Makefile.features
  boards/samr21-xpro/doc.txt
  boards/samr21-xpro/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#14287 dist/tools/mosquitto_rsmb: fix stand-alone build
  dist/tools/mosquitto_rsmb/Makefile
Labels: Area: build system, Area: tools, CI: ready for build, Type: bug

#14250 pkg/semtech-loramac: cleanup build system integration
  pkg/semtech-loramac/Makefile
  pkg/semtech-loramac/Makefile.include
  pkg/semtech-loramac/Makefile.loramac
  pkg/semtech-loramac/Makefile.loramac_arch
  pkg/semtech-loramac/Makefile.loramac_crypto
  pkg/semtech-loramac/Makefile.loramac_mac
  pkg/semtech-loramac/Makefile.loramac_region
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#14201 boards: Fix incorrect units and alignment
  boards/6lowpan-clicker/doc.txt
  boards/airfy-beacon/doc.txt
  boards/arduino-zero/doc.txt
  boards/cc1312-launchpad/doc.txt
  boards/cc2538dk/doc.txt
  boards/cc2650stk/doc.txt
  boards/chronos/doc.txt
  boards/firefly/doc.txt
  boards/fox/doc.txt
  boards/frdm-k64f/doc.txt
  boards/ikea-tradfri/doc.txt
  boards/im880b/doc.txt
  boards/iotlab-m3/doc.txt
  boards/limifrog-v1/doc.txt
  boards/lobaro-lorabox/doc.txt
  boards/mbed_lpc1768/doc.txt
  boards/mcb2388/doc.txt
  boards/microbit/doc.txt
  boards/msb-430h/doc.txt
  boards/msba2/doc.txt
  boards/mulle/doc.txt
  boards/nrf51dongle/doc.txt
  boards/nrf52dk/doc.txt
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#14246 cpu: Rename CPU_ARCH to CPU_CORE
  Makefile.dep
  boards/common/silabs/drivers/aem/Makefile
  core/include/panic.h
  cpu/cc2538/Makefile.features
  cpu/cc26x0/Makefile.features
  cpu/cc26x2_cc13x2/Makefile.features
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.features
  cpu/cortexm_common/Makefile.include
  cpu/cortexm_common/cortexm_init.c
  cpu/cortexm_common/include/cpu.h
  cpu/cortexm_common/include/vectors_cortexm.h
  cpu/cortexm_common/mpu.c
  cpu/cortexm_common/thread_arch.c
  cpu/cortexm_common/vectors_cortexm.c
  cpu/efm32/Makefile.dep
  cpu/efm32/Makefile.features
  cpu/ezr32wg/Makefile.features
  cpu/kinetis/Makefile.features
  cpu/kinetis/Makefile.include
  cpu/kinetis/kinetis-info.mk
  cpu/lm4f120/Makefile.features
  cpu/lpc1768/Makefile.features
  cpu/mips_pic32mx/Makefile.features
  cpu/mips_pic32mz/Makefile.features
  cpu/nrf51/Makefile.features
  cpu/nrf52/Makefile.features
  cpu/sam3/Makefile.features
  cpu/samd21/Makefile.features
  cpu/samd5x/Makefile.features
  cpu/saml1x/Makefile.features
  cpu/saml21/Makefile.features
  cpu/stm32/stm32_info.mk
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/arch/cortexm.inc.mk
  makefiles/dependencies_debug.inc.mk
  makefiles/info-global.inc.mk
  makefiles/stdio.inc.mk
  makefiles/vars.inc.mk
  pkg/cmsis-nn/Makefile.dep
  pkg/micro-ecc/Makefile.include
  pkg/openthread/Makefile.include
  pkg/qDSA/Makefile.dep
  pkg/qDSA/Makefile.include
  pkg/relic/Makefile.include
  pkg/tensorflow-lite/Makefile.include
  tests/mtd_flashpage/main.c
  tests/pkg_c25519/Makefile
  tests/pkg_cmsis-nn/Makefile
  tests/unittests/tests-core/tests-core-atomic.c
Labels: Area: build system, Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#14266 pkg/nimble/netif: simplify mbuf pool initialization
  pkg/nimble/netif/nimble_netif.c
Labels: Area: BLE, CI: ready for build, Type: cleanup

#14258 boards/nrf52840dongle: enable automatic reset to bootloader
  boards/nrf52840dongle/Makefile.dep
  boards/nrf52840dongle/Makefile.include
  boards/nrf52840dongle/doc.txt
  boards/nrf52840dongle/reset.c
Labels: Area: boards, CI: ready for build, Type: enhancement

#12604 sys/luid: Added postcondition to luid_get()
  sys/include/luid.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Discussion: needs consensus, Impact: minor, Process: needs >1 ACK, Type: enhancement

#14259 drivers/periph/rtt: introduce RTT_MIN_OFFSET
  boards/samr21-xpro/include/periph_conf.h
  drivers/include/periph/rtt.h
  sys/ztimer/periph_rtt.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14299 pkg/pkg.mk: explicitly exclude state files
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build, Type: bug

#14293 ztimer: convert_frac: use self->scale_now for max_value
  sys/ztimer/convert_frac.c
Labels: Area: timers, CI: ready for build, Type: bug

#12132 cpu/saml21: enable 48mhz clock for usbdev
  boards/saml21-xpro/Makefile.features
  boards/saml21-xpro/include/periph_conf.h
  boards/samr30-xpro/Makefile.features
  boards/samr30-xpro/include/periph_conf.h
  boards/samr34-xpro/Makefile.features
  boards/samr34-xpro/include/periph_conf.h
  cpu/saml21/cpu.c
  cpu/saml21/include/periph_cpu.h
Labels: Area: USB, Area: boards, Area: cpu, CI: ready for build, Type: enhancement

#14282 pkg/openthread: improve package Makefile
  pkg/openthread/Makefile
Labels: Area: build system, Area: pkg, CI: ready for build

#14272 pkg/u8g2: improve build system integration
  pkg/u8g2/Makefile
  pkg/u8g2/Makefile.dep
  pkg/u8g2/Makefile.include
  pkg/u8g2/Makefile.u8g2
  pkg/u8g2/Makefile.u8g2_csrc
  pkg/u8g2/Makefile.u8g2_sdl
  pkg/u8g2/Makefile.u8g2_utf8
  pkg/u8g2/contrib/Makefile
  pkg/u8g2/contrib/u8x8_riotos.c
  pkg/u8g2/contrib/u8x8_riotos.h
  pkg/u8g2/src/Makefile
  pkg/u8g2/src/sys/sdl/common/Makefile
Labels: Area: build system, Area: pkg, CI: ready for build

#14273 pkg/ucglib: improve build system integration
  pkg/ucglib/Makefile
  pkg/ucglib/Makefile.dep
  pkg/ucglib/Makefile.include
  pkg/ucglib/Makefile.ucglib
  pkg/ucglib/Makefile.ucglib_csrc
  pkg/ucglib/Makefile.ucglib_sdl
  pkg/ucglib/contrib/Makefile
  pkg/ucglib/contrib/ucg_riotos.c
  pkg/ucglib/src/Makefile
  pkg/ucglib/src/sys/sdl/dev/Makefile
Labels: Area: build system, Area: pkg, CI: ready for build

#13098 pkg/ucglib: refactoring and fixes
  pkg/ucglib/Makefile
  pkg/ucglib/Makefile.dep
  pkg/ucglib/Makefile.include
  pkg/ucglib/README.md
  pkg/ucglib/contrib/ucg_riotos.c
  pkg/ucglib/contrib/ucg_riotos.h
  pkg/ucglib/patches/0001-add-RIOT-OS-interface.patch
  tests/pkg_ucglib/Makefile
  tests/pkg_ucglib/main.c
Labels: Area: pkg, CI: ready for build

#13126 drivers/mhz19: initial support
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/mhz19.h
  drivers/mhz19/Makefile
  drivers/mhz19/include/mhz19_internals.h
  drivers/mhz19/include/mhz19_params.h
  drivers/mhz19/mhz19_pwm.c
  drivers/mhz19/mhz19_saul.c
  drivers/mhz19/mhz19_uart.c
  drivers/saul/init_devs/auto_init_mhz19.c
  drivers/saul/init_devs/init.c
  makefiles/pseudomodules.inc.mk
  tests/driver_mhz19/Makefile
  tests/driver_mhz19/README.md
  tests/driver_mhz19/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#14233 cpu/efm32: disable default LFRCO options that break LEUART > 1800 baud
  cpu/efm32/cpu.c
Labels: Area: boards, CI: ready for build, Type: enhancement

#14296 cpu/kconfig: Rename CPU classification symbols
  cpu/Kconfig
  cpu/cc26x0/Kconfig
  cpu/cc26x2_cc13x2/Kconfig
  cpu/samd21/Kconfig
Labels: Area: Kconfig, CI: ready for build, CI: run tests, Type: cleanup

#14300 cpu/sam0_common: UART: implement inverted RX & TX
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/uart.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#14285 sam0/stm32: fix possible uart_nonblocking deadlock
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/uart.c
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/uart.c
  tests/periph_uart_nonblocking/main.c
  tests/periph_uart_nonblocking/tests/01-run.py
Labels: Area: cpu, CI: ready for build, Type: bug

#14176 boards/atmega328p-based: Model features in Kconfig
  boards/arduino-duemilanove/Kconfig
  boards/arduino-nano/Kconfig
  boards/arduino-uno/Kconfig
  boards/atmega328p/Kconfig
  boards/common/arduino-atmega/Kconfig
  cpu/atmega328p/Kconfig
  cpu/atmega_common/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Platform: AVR, Type: new feature

#14295 core/include: don't use 64 bit for MHZ & MiB macros
  core/include/macros/units.h
Labels: Area: core, CI: ready for build, Impact: minor, Type: enhancement

#14019 drivers/at : Expose Configurations to Kconfig
  drivers/Kconfig
  drivers/at/Kconfig
  drivers/at/at.c
  drivers/include/at.h
  tests/driver_at/main.c
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#11432 drivers/pulse_counter: Use C11 atomics & bugfix
  drivers/include/pulse_counter.h
  drivers/pulse_counter/pulse_counter.c
Labels: Area: drivers, CI: ready for build, Type: bug, Type: enhancement

#14138 gnrc/mac : Expose configurations to Kconfig
  sys/include/net/gnrc/mac/internal.h
  sys/include/net/gnrc/mac/mac.h
  sys/include/net/gnrc/mac/types.h
  sys/include/net/gnrc/netif/mac.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/link_layer/gomach/gomach_internal.c
  sys/net/gnrc/link_layer/lwmac/lwmac.c
  sys/net/gnrc/link_layer/mac/Kconfig
  sys/net/gnrc/link_layer/mac/internal.c
  tests/unittests/tests-gnrc_mac_internal/Makefile.include
  tests/unittests/tests-gnrc_mac_internal/tests-gnrc_mac_internal.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13600 cpu/sam0_common: GPIO IRQ optimizations
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14106 cpu/saml1x: pm: set deep flag
  cpu/saml1x/periph/pm.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14305 boards/common/iotlab: add CONFIG_ZTIMER_USEC
  boards/common/iotlab/include/board_common.h
Labels: Area: boards, Area: timers, CI: ready for build, Type: enhancement

#14274 pkg/wolfssl: improve build system integration
  pkg/wolfssl/Makefile
  pkg/wolfssl/Makefile.include
  pkg/wolfssl/Makefile.wolfcrypt
  pkg/wolfssl/Makefile.wolfssl
Labels: Area: build system, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#14307 tinydtls_sock_dtls: save session info after data successfully decrypted
  examples/dtls-sock/dtls-server.c
  pkg/tinydtls/contrib/sock_dtls.c
  pkg/tinydtls/include/sock_dtls_types.h
Labels: Area: pkg, Area: security, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14214 net/gnrc/netif: add option for non-std 6lo MTU
  sys/include/net/gnrc/netif/conf.h
  sys/net/gnrc/netif/Kconfig
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/gnrc_netif_device_type.c
Labels: Area: network, CI: ready for build, Type: enhancement

#14309 tests/kconfig_features: Add check for common variable values
  tests/kconfig_features/Makefile
  tests/kconfig_features/README.md
Labels: Area: Kconfig, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14313 pkg/gecko_sdk: update to v2.7.6
  pkg/gecko_sdk/Makefile
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing

#14104 gnrc/gomach : Expose configurations to Kconfig
  sys/include/net/gnrc/gomach/gomach.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/link_layer/gomach/Kconfig
  sys/net/gnrc/link_layer/gomach/gomach.c
  sys/net/gnrc/link_layer/gomach/gomach_internal.c
Labels: Area: Kconfig, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14303 cpu/sam0: unified rtt configuration
  boards/common/arduino-mkr/include/periph_conf_common.h
  boards/common/arduino-zero/include/periph_conf.h
  boards/common/saml1x/include/periph_conf.h
  boards/common/sodaq/include/cfg_rtt_default.h
  boards/feather-m0/include/periph_conf.h
  boards/hamilton/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/samr30-xpro/include/periph_conf.h
  boards/samr34-xpro/include/periph_conf.h
  boards/serpente/include/periph_conf.h
  cpu/sam0_common/periph/rtt.c
  cpu/samd21/include/periph_cpu.h
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  cpu/saml21/include/periph_cpu.h
Labels: Area: boards, Area: cpu, CI: ready for build, Type: cleanup

#14312 cpu/sam0_common: UART: allow RX only configuration
  cpu/sam0_common/periph/uart.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14268 pkg/cryptoauthlib: cleanup build system integration
  pkg/cryptoauthlib/Makefile
  pkg/cryptoauthlib/Makefile.dep
Labels: Area: build system, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: cleanup

#14267 posix_sockets: use sin6_scope_id of struct sockaddr_in6
  examples/posix_sockets/udp.c
  sys/posix/sockets/posix_sockets.c
Labels: Area: POSIX, Area: network, CI: ready for build, Discussion: contested, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14316 gnrc/[gomach,lwmac]: Remove unused queue size option
  sys/include/net/gnrc/gomach/gomach.h
  sys/include/net/gnrc/lwmac/lwmac.h
Labels: Area: network, CI: ready for build, Impact: minor, Type: cleanup

#14310 boards/efm32-based: Model features in Kconfig
  boards/common/silabs/Kconfig
  boards/common/slwstk6000b/Kconfig
  boards/ikea-tradfri/Kconfig
  boards/slstk3401a/Kconfig
  boards/slstk3402a/Kconfig
  boards/sltb001a/Kconfig
  boards/slwstk6000b-slwrb4150a/Kconfig
  boards/slwstk6000b-slwrb4162a/Kconfig
  boards/stk3600/Kconfig
  boards/stk3700/Kconfig
  cpu/efm32/Kconfig
  cpu/efm32/families/efm32gg/Kconfig
  cpu/efm32/families/efm32lg/Kconfig
  cpu/efm32/families/efm32pg12b/Kconfig
  cpu/efm32/families/efm32pg1b/Kconfig
  cpu/efm32/families/efr32mg12p/Kconfig
  cpu/efm32/families/efr32mg1p/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14166 cpu/stm32g4: add support + add nucleo-g474re board
  boards/common/nucleo64/include/board.h
  boards/common/nucleo64/include/gpio_params.h
  boards/common/stm32/dist/stm32g4.cfg
  boards/common/stm32/include/cfg_i2c1_pb8_pb9.h
  boards/common/stm32/include/cfg_timer_tim5.h
  boards/common/stm32/include/g4/cfg_clock_default.h
  boards/nucleo-g474re/Makefile
  boards/nucleo-g474re/Makefile.dep
  boards/nucleo-g474re/Makefile.features
  boards/nucleo-g474re/Makefile.include
  boards/nucleo-g474re/doc.txt
  boards/nucleo-g474re/include/periph_conf.h
  cpu/stm32/Makefile.features
  cpu/stm32/cpu_common.c
  cpu/stm32/cpu_init.c
  cpu/stm32/include/cpu_conf.h
  cpu/stm32/include/cpu_conf_stm32_common.h
  cpu/stm32/include/periph/g4/periph_cpu.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/include/vendor/stm32g474xx.h
  cpu/stm32/include/vendor/stm32g4xx.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/flash_common.c
  cpu/stm32/periph/flashpage.c
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/pm.c
  cpu/stm32/periph/rtc_all.c
  cpu/stm32/periph/rtt_all.c
  cpu/stm32/periph/uart.c
  cpu/stm32/stm32_info.mk
  cpu/stm32/stm32_mem_lengths.mk
  cpu/stm32/stmclk/Makefile
  cpu/stm32/stmclk/stmclk_common.c
  cpu/stm32/stmclk/stmclk_g4.c
  cpu/stm32/vectors/vectors_g4.c
Labels: Area: boards, Area: cpu, CI: ready for build, Platform: ARM, Type: new feature

#14076 core/cib: fix documented maximum size restrictions
  core/include/cib.h
Labels: Area: core, Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#14232 boards/ikea-tradfri: support EFM32_USE_LEUART=1
  boards/ikea-tradfri/doc.txt
  boards/ikea-tradfri/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#13538 cpu/samd5x: allow to use XOSC as clock source
  boards/same54-xpro/include/periph_conf.h
  cpu/samd5x/cpu.c
  cpu/samd5x/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14323 kinetis/spi_scalar: Add local ARRAY_SIZE define
  cpu/kinetis/dist/calc_spi_scalers/calc_spi_scalers.c
Labels: Area: tools, CI: ready for build, Impact: minor, Type: bug

#14325 board+cpu: remove left-over RTC_NUMOF
  boards/im880b/include/periph_conf.h
  cpu/kinetis/doc.txt
Labels: CI: ready for build, Impact: minor, Type: cleanup

#14314 boards/dwm1001: add support to Decawave DWM1001 dev board
  boards/dwm1001/Makefile
  boards/dwm1001/Makefile.dep
  boards/dwm1001/Makefile.features
  boards/dwm1001/Makefile.include
  boards/dwm1001/board.c
  boards/dwm1001/doc.txt
  boards/dwm1001/include/board.h
  boards/dwm1001/include/periph_conf.h
  examples/default/Makefile
Labels: Area: boards, CI: ready for build

#12907 tinydtls: add `sock_async` support for `sock_dtls`
  pkg/tinydtls/contrib/sock_dtls.c
  pkg/tinydtls/include/sock_dtls_types.h
  sys/include/net/sock/async/types.h
  tests/pkg_tinydtls_sock_async/Makefile
  tests/pkg_tinydtls_sock_async/Makefile.ci
  tests/pkg_tinydtls_sock_async/README.md
  tests/pkg_tinydtls_sock_async/dtls-client.c
  tests/pkg_tinydtls_sock_async/dtls-server.c
  tests/pkg_tinydtls_sock_async/main.c
  tests/pkg_tinydtls_sock_async/tinydtls_common.h
  tests/pkg_tinydtls_sock_async/tinydtls_keys.h
Labels: Area: network, Area: security, CI: ready for build, State: demonstrator, Type: enhancement

#14317 sys/od/od: fix -Werror=char-subscripts
  sys/od/od.c
  tests/od/Makefile
  tests/od/tests/01-run.py
  tests/od/tests/02-run.py
Labels: CI: ready for build, CI: run tests, Type: bug

#14211 boards/arduino-mega2560: Model features in Kconfig
  boards/arduino-mega2560/Kconfig
  cpu/atmega2560/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14203 boards/atmega128rfa1-based: Model features in Kconfig
  boards/derfmega128/Kconfig
  boards/microduino-corerf/Kconfig
  cpu/atmega128rfa1/Kconfig
  cpu/atmega_common/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Platform: AVR, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14208 boards/atmega128x-based: Model features in Kconfig
  boards/atmega1284p/Kconfig
  boards/mega-xplained/Kconfig
  boards/waspmote-pro/Kconfig
  cpu/atmega1281/Kconfig
  cpu/atmega1284p/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#12101 cpu/stm32_common: disable i2c in release
  cpu/stm32/periph/i2c_1.c
  cpu/stm32/periph/i2c_2.c
Labels: Area: cpu, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14280 pkg: remove unecessary module, especially for header-only packages
  pkg/flatbuffers/Makefile
  pkg/flatbuffers/Makefile.flatbuffers
  pkg/flatbuffers/Makefile.include
  pkg/gemmlowp/Makefile
  pkg/gemmlowp/Makefile.gemmlowp
  pkg/gemmlowp/Makefile.include
  pkg/lvgl/Makefile
  pkg/lvgl/Makefile.include
  pkg/lvgl/Makefile.lvgl
Labels: Area: build system, Area: pkg, CI: ready for build

#14297 pkg/pkg.mk: silent prepare target when there's nothing to prepare
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build, Type: enhancement

#14286 pkg: tools: ensure cmake based packages/tools are built out-of-source
  dist/tools/flatc/Makefile
  pkg/ccn-lite/Makefile
  pkg/jerryscript/Makefile
  pkg/jerryscript/Makefile.jerryscript
  pkg/pkg.mk
  pkg/relic/Makefile
  pkg/relic/Makefile.include
Labels: Area: build system, Area: pkg, Area: tools, CI: ready for build

#14332 examples/lua*: adapt to the blob mechanism
  examples/lua_REPL/Makefile
  examples/lua_REPL/main.c
  examples/lua_basic/Makefile
  examples/lua_basic/main.c
Labels: Area: examples, CI: ready for build, Type: enhancement

#14311 boards/common/saml1x: configure UART on EXT1
  boards/common/saml1x/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#14333 cortexm_common: Remove read in ICSR register read-modify-write operations
  cpu/cortexm_common/thread_arch.c
Labels: CI: ready for build, CI: run tests, Platform: ARM, Type: cleanup

#13221 dist/tools: provide tool to parse `pktbuf` output
  dist/tools/pktbuf-stats/README.md
  dist/tools/pktbuf-stats/pktbuf-stats.py
Labels: Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14195 boards/arduino-leonardo: Model features in Kconfig
  boards/arduino-leonardo/Kconfig
  cpu/atmega32u4/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#14263 make: pkg: don't export globally GITCACHE and GIT_CACHE_DIR vars
  Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/flatc/Makefile
  dist/tools/git/git-cache
  dist/tools/mosquitto_rsmb/Makefile
  makefiles/vars.inc.mk
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, Area: tools, CI: ready for build, Type: cleanup

#14334 sched_cb: Add function documentation
  core/include/sched.h
Labels: Area: core, Area: doc, CI: ready for build, Type: cleanup

#14335 boards/pinetime: remove useless makefile.dep include
  boards/pinetime/Makefile.dep
Labels: Area: boards, Area: build system, CI: ready for build, Type: cleanup

#14320 cpu/sam0_common: GPIO always default to MAIN clock for EXTI, make configurable
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#13985 sys/stdio_uart: Add warning about use in ISR
  sys/include/stdio_uart.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: API change, Process: needs >1 ACK

#14337 use TIMER_CHANNEL_NUMOF instead of TIMER_CHANNELS
  boards/common/esp8266/include/periph_conf_common.h
  cpu/atmega1281/include/default_timer_config.h
  cpu/atmega1284p/include/default_timer_config.h
  cpu/atmega128rfa1/include/default_timer_config.h
  cpu/atmega2560/include/default_timer_config.h
  cpu/atmega256rfr2/include/default_timer_config.h
  cpu/atmega328p/include/default_timer_config.h
  cpu/atmega32u4/include/default_timer_config.h
  cpu/atmega_common/periph/timer.c
  cpu/esp32/include/periph_cpu.h
  cpu/lpc2387/include/periph_cpu.h
  cpu/lpc2387/periph/timer.c
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/timer.c
  cpu/sam3/include/periph_cpu.h
  cpu/sam3/periph/timer.c
  tests/periph_timer_periodic/main.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14302 cpu/sam0_common/rt%: use READREQUEST when accessing CLOCK/COUNT regs
  cpu/sam0_common/periph/rtc.c
  cpu/sam0_common/periph/rtt.c
Labels: Area: cpu, Area: drivers, CI: ready for build, Type: enhancement

#14319 cpu/ezr32wg: define TIMER_CHANNEL_NUMOF
  cpu/ezr32wg/include/periph_cpu.h
  cpu/ezr32wg/periph/timer.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14206 boards/atmega256rfr2-based: Model features in Kconfig
  boards/atmega256rfr2-xpro/Kconfig
  boards/avr-rss2/Kconfig
  boards/derfmega256/Kconfig
  cpu/atmega256rfr2/Kconfig
  tests/kconfig_features/Makefile
Labels: Area: Kconfig, CI: ready for build, Platform: AVR, Type: new feature

#13197 sys/shell: refactor tokenizer code
  sys/shell/shell.c
  tests/shell/tests/01-run.py
Labels: Area: sys, Area: tests, CI: ready for build, Reviewed: 3-testing, Type: bug, Type: cleanup
