Repository RIOT-OS/RIOT, pull requests merged in 2020-12, with the labels that each got.

#15240 MQTT-SN Clients ( Emcute/ Asymcute) : Kconfig Updates
  examples/asymcute_mqttsn/main.c
  examples/emcute_mqttsn/main.c
  sys/include/net/asymcute.h
  sys/include/net/emcute.h
  sys/include/net/mqttsn.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/asymcute/Kconfig
  sys/net/application_layer/asymcute/asymcute.c
  sys/net/application_layer/doc.txt
  sys/net/application_layer/emcute/Kconfig
  sys/net/application_layer/emcute/emcute.c
  tests/emcute/Makefile
  tests/emcute/main.c
Labels: Area: Kconfig, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#15508 Add MUD URL option to DHCPv6 client
  makefiles/pseudomodules.inc.mk
  sys/include/net/dhcpv6.h
  sys/include/net/dhcpv6/client.h
  sys/net/application_layer/dhcpv6/Kconfig
  sys/net/application_layer/dhcpv6/_dhcpv6.h
  sys/net/application_layer/dhcpv6/client.c
  tests/gnrc_dhcpv6_client_6lbr/Makefile
  tests/gnrc_dhcpv6_client_6lbr/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: new feature

#15422 pkg/fatfs: bump version to r0.14
  pkg/fatfs/Makefile
  pkg/fatfs/Makefile.include
  pkg/fatfs/fatfs_diskio/mtd/include/fatfs_diskio_mtd.h
  pkg/fatfs/fatfs_diskio/mtd/mtd_diskio.c
  pkg/fatfs/patches/0001-remove-ffconf.h.patch
  pkg/fatfs/patches/0002-remove-diskio.c.patch
  pkg/fatfs/vendor/include/ffconf.h
  sys/include/fs/fatfs.h
  tests/pkg_fatfs/main.c
Labels: Area: fs, Area: pkg, CI: ready for build

#14973 drivers/at86rf215: implement battery monitor, add power bus
  drivers/at86rf215/Kconfig
  drivers/at86rf215/Makefile.dep
  drivers/at86rf215/at86rf215_getset.c
  drivers/at86rf215/at86rf215_internal.c
  drivers/at86rf215/at86rf215_netdev.c
  drivers/include/at86rf215.h
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/bus/Makefile
  sys/bus/sys_bus_init.c
  sys/include/net/netopt.h
  sys/include/sys/bus.h
  sys/net/crosslayer/netopt/netopt.c
  tests/driver_at86rf215/Makefile
  tests/driver_at86rf215/main.c
  tests/unittests/Makefile.ci
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15531 tools/esptool: add common makefile to define esptool variables
  boards/common/esp32/Makefile.include
  boards/common/esp8266/Makefile.include
  cpu/esp_common/Makefile.include
  makefiles/tools/esptool.inc.mk
Labels: Area: build system, CI: ready for build, Platform: ESP, Type: cleanup

#15430 boards/native: allow to use ZEP instead of tap
  boards/native/Makefile.dep
  boards/native/Makefile.include
  examples/gnrc_border_router/Makefile.board.dep
  tests/gnrc_dhcpv6_client_6lbr/Makefile.board.dep
Labels: CI: ready for build, Platform: native, Type: enhancement

#15132 cpu/nrf52: nrf802154: default to netdev_ieee802154_submac
  cpu/nrf52/Makefile.dep
  examples/gnrc_networking/Makefile
  makefiles/pseudomodules.inc.mk
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15530 tests/driver_bmx280: fix address define in README
  tests/driver_bmx280/README.md
Labels: Area: doc, Area: tests, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#15532 drivers/cc110x: use netdev_register
  drivers/cc110x/cc110x.c
  drivers/include/cc110x.h
  drivers/include/net/netdev.h
  sys/net/gnrc/netif/init_devs/auto_init_cc110x.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14324 sys/entropy_source: add new module for entropy sources
  sys/Kconfig
  sys/Makefile.dep
  sys/entropy_source/Kconfig
  sys/entropy_source/Makefile
  sys/entropy_source/adc_noise/Kconfig
  sys/entropy_source/adc_noise/Makefile
  sys/entropy_source/adc_noise/adc_noise.c
  sys/entropy_source/doc.txt
  sys/entropy_source/entropy_source.c
  sys/entropy_source/zero_entropy/Kconfig
  sys/entropy_source/zero_entropy/Makefile
  sys/entropy_source/zero_entropy/zero_entropy.c
  sys/include/entropy_source.h
  sys/include/entropy_source/adc_noise.h
  sys/include/entropy_source/zero_entropy.h
  tests/entropy_source/Makefile
  tests/entropy_source/Makefile.board.dep
  tests/entropy_source/README.md
  tests/entropy_source/main.c
Labels: Area: security, Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15533 tools: add common makefile for mspdebug programmer
  boards/common/msb-430/Makefile.include
  makefiles/tools/mspdebug.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Platform: MSP, Type: cleanup

#15526 gnrc_ipv6_ext_frag: check return value of msg_try_send()
  sys/net/gnrc/network_layer/ipv6/ext/frag/gnrc_ipv6_ext_frag.c
Labels: Area: network, CI: ready for build, Type: bug

#14954 drivers/at86rf215: make use of packet queue if available
  drivers/at86rf215/Makefile.dep
  drivers/at86rf215/at86rf215.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#11068 gnrc_sixlowpan_frag: initial import of minimal forwarding
  sys/Makefile.dep
  sys/include/net/gnrc/sixlowpan/frag/fb.h
  sys/include/net/gnrc/sixlowpan/frag/minfwd.h
  sys/include/net/gnrc/sixlowpan/iphc.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/network_layer/sixlowpan/frag/minfwd/Makefile
  sys/net/gnrc/network_layer/sixlowpan/frag/minfwd/gnrc_sixlowpan_frag_minfwd.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  tests/gnrc_sixlowpan_frag_minfwd/Makefile
  tests/gnrc_sixlowpan_frag_minfwd/Makefile.ci
  tests/gnrc_sixlowpan_frag_minfwd/app.config
  tests/gnrc_sixlowpan_frag_minfwd/common.h
  tests/gnrc_sixlowpan_frag_minfwd/main.c
  tests/gnrc_sixlowpan_frag_minfwd/mockup_netif.c
  tests/gnrc_sixlowpan_frag_minfwd/tests/01-run.py
Labels: Area: network, CI: ready for build, State: don't stale, Type: new feature

#15535 tools/lpc2k_pgm: refactor build system integration
  .github/workflows/tools-buildtest.yml
  boards/common/msba2/Makefile.include
  dist/tools/externc/check.sh
  dist/tools/lpc2k_pgm/CHANGES
  dist/tools/lpc2k_pgm/COPYING
  dist/tools/lpc2k_pgm/Makefile
  dist/tools/lpc2k_pgm/README.txt
  dist/tools/lpc2k_pgm/armtools.txt
  dist/tools/lpc2k_pgm/flash.cmd
  dist/tools/lpc2k_pgm/flashutil.sh
  dist/tools/lpc2k_pgm/mkbootc
  dist/tools/lpc2k_pgm/mkstaticlist
  dist/tools/lpc2k_pgm/obj/.gitignore
  dist/tools/lpc2k_pgm/src/boot.h
  dist/tools/lpc2k_pgm/src/boot_23xx.armasm
  dist/tools/lpc2k_pgm/src/boot_23xx.c
  dist/tools/lpc2k_pgm/src/boot_23xx.h
  dist/tools/lpc2k_pgm/src/boot_2xxx.armasm
  dist/tools/lpc2k_pgm/src/boot_2xxx.c
  dist/tools/lpc2k_pgm/src/boot_2xxx.h
  dist/tools/lpc2k_pgm/src/chipinfo.c
  dist/tools/lpc2k_pgm/src/chipinfo.h
  dist/tools/lpc2k_pgm/src/cksum_test.c
  dist/tools/lpc2k_pgm/src/control_2xxx.c
  dist/tools/lpc2k_pgm/src/control_2xxx.h
  dist/tools/lpc2k_pgm/src/download.c
  dist/tools/lpc2k_pgm/src/download.h
  dist/tools/lpc2k_pgm/src/gui.c
  dist/tools/lpc2k_pgm/src/gui.h
  dist/tools/lpc2k_pgm/src/ihex.c
  dist/tools/lpc2k_pgm/src/ihex.h
  dist/tools/lpc2k_pgm/src/lpc2k_pgm.c
  dist/tools/lpc2k_pgm/src/lpc2k_pgm.h
  dist/tools/lpc2k_pgm/src/pseudoterm.c
  dist/tools/lpc2k_pgm/src/serial.c
  dist/tools/lpc2k_pgm/src/serial.h
  dist/tools/lpc2k_pgm/src/settings.c
  dist/tools/lpc2k_pgm/src/settings.h
  dist/tools/lpc2k_pgm/src/uuencode.c
  dist/tools/lpc2k_pgm/src/uuencode.h
  dist/tools/lpc2k_pgm/termctrl.sh
  makefiles/tools/lpc2k_pgm.inc.mk
  makefiles/tools/targets.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, Type: cleanup

#15537 drivers/sx127x: use netdev_register()
  drivers/include/net/netdev.h
  drivers/include/sx127x.h
  drivers/sx127x/sx127x.c
  pkg/semtech-loramac/contrib/semtech_loramac.c
  sys/net/gnrc/netif/init_devs/auto_init_sx127x.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15490 tools/renode: refactor integration + add debugger support
  Makefile.include
  boards/cc2538dk/dist/board.resc
  boards/firefly/dist/board.resc
  boards/hifive1/dist/board.resc
  boards/hifive1b/dist/board.resc
  dist/tools/renode/renode-debug.sh
  dist/tools/renode/run-renode.sh
  makefiles/tools/adafruit-nrfutil.inc.mk
  makefiles/tools/avrdude.inc.mk
  makefiles/tools/bmp.inc.mk
  makefiles/tools/cc2538-bsl.inc.mk
  makefiles/tools/jlink.inc.mk
  makefiles/tools/openocd.inc.mk
  makefiles/tools/pyocd.inc.mk
  makefiles/tools/qemu.inc.mk
  makefiles/tools/renode.inc.mk
  makefiles/tools/uniflash.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Type: enhancement

#15539 tools/stm32loader: introduce common makefile
  boards/lobaro-lorabox/Makefile.include
  makefiles/tools/stm32loader.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#15541 tools/goodfet: define variables in common makefile
  boards/telosb/Makefile.include
  boards/z1/Makefile.include
  makefiles/tools/goodfet.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build

#15543 boards/opencm904: move robotis-loader in common place
  boards/opencm904/Makefile.include
  dist/tools/robotis-loader/robotis-loader.py
  makefiles/tools/robotis-loader.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build

#15443 replace netif_addr_to/from_str() with l2util_addr_to/from_str()
  pkg/openwsn/Makefile.dep
  sys/Makefile.dep
  sys/include/net/gnrc/netif.h
  sys/include/net/l2util.h
  sys/include/net/netif.h
  sys/net/link_layer/l2util/l2util.c
  sys/net/netif/netif_util.c
  sys/shell/commands/sc_openwsn.c
  tests/l2util/Makefile.ci
  tests/l2util/common.h
  tests/l2util/main.c
  tests/netif/Makefile
  tests/netif/Makefile.ci
  tests/netif/main.c
  tests/netif/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: cleanup

#15515 drivers/{g,h,i,j}*: add Kconfig modules
  .murdock
  drivers/Kconfig
  drivers/gp2y10xx/Kconfig
  drivers/grove_ledbar/Kconfig
  drivers/hd44780/Kconfig
  drivers/hdc1000/Kconfig
  drivers/hih6130/Kconfig
  drivers/hmc5883l/Kconfig
  drivers/hts221/Kconfig
  drivers/ili9341/Kconfig
  drivers/ina2xx/Kconfig
  drivers/ina3221/Kconfig
  drivers/io1_xplained/Kconfig
  drivers/isl29020/Kconfig
  drivers/isl29125/Kconfig
  drivers/itg320x/Kconfig
  drivers/jc42/Kconfig
  drivers/my9221/Kconfig
  drivers/sdcard_spi/Kconfig
  sys/Kconfig
  sys/checksum/Kconfig
  tests/driver_gp2y10xx/app.config.test
  tests/driver_grove_ledbar/Makefile
  tests/driver_grove_ledbar/app.config.test
  tests/driver_grove_ledbar/app.config.test.native
  tests/driver_hd44780/Makefile
  tests/driver_hd44780/app.config.test
  tests/driver_hd44780/app.config.test.native
  tests/driver_hdc1000/app.config.test
  tests/driver_hih6130/app.config.test
  tests/driver_hmc5883l/app.config.test
  tests/driver_hts221/app.config.test
  tests/driver_ili9341/app.config.test
  tests/driver_ina2xx/app.config.test
  tests/driver_ina3221/app.config.test
  tests/driver_io1_xplained/app.config.test
  tests/driver_isl29020/app.config.test
  tests/driver_isl29125/app.config.test
  tests/driver_itg320x/app.config.test
  tests/driver_jc42/app.config.test
  tests/driver_my9221/Makefile
  tests/driver_my9221/app.config.test
  tests/driver_my9221/app.config.test.native
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Type: enhancement

#13855 cpu/qn908x: Initial minimal support for NXP QN908x CPUs.
  boards/common/qn908x/Kconfig
  boards/common/qn908x/Makefile
  boards/common/qn908x/Makefile.features
  boards/common/qn908x/Makefile.include
  boards/common/qn908x/dist/openocd.cfg
  boards/qn9080dk/Kconfig
  boards/qn9080dk/Makefile
  boards/qn9080dk/Makefile.dep
  boards/qn9080dk/Makefile.features
  boards/qn9080dk/Makefile.include
  boards/qn9080dk/board.c
  boards/qn9080dk/doc.txt
  boards/qn9080dk/include/board.h
  boards/qn9080dk/include/gpio_params.h
  boards/qn9080dk/include/periph_conf.h
  cpu/qn908x/Kconfig
  cpu/qn908x/Kconfig.clk
  cpu/qn908x/Makefile
  cpu/qn908x/Makefile.dep
  cpu/qn908x/Makefile.features
  cpu/qn908x/Makefile.include
  cpu/qn908x/cpu.c
  cpu/qn908x/doc.txt
  cpu/qn908x/include/cpu_conf.h
  cpu/qn908x/include/gpio_mux.h
  cpu/qn908x/include/periph_cpu.h
  cpu/qn908x/include/vectors_qn908x.h
  cpu/qn908x/include/vendor/QN908XC.h
  cpu/qn908x/include/vendor/QN908XC_features.h
  cpu/qn908x/include/vendor/drivers/fsl_clock.h
  cpu/qn908x/include/vendor/drivers/fsl_iocon.h
  cpu/qn908x/include/vendor/fsl_common.h
  cpu/qn908x/include/vendor/system_QN908XC.h
  cpu/qn908x/isr_qn908x.c
  cpu/qn908x/ldscripts/qn908x.ld
  cpu/qn908x/periph/Makefile
  cpu/qn908x/periph/gpio.c
  cpu/qn908x/periph/gpio_mux.c
  cpu/qn908x/periph/wdt.c
  cpu/qn908x/system.c
  cpu/qn908x/vectors.c
  cpu/qn908x/vendor/Makefile
  cpu/qn908x/vendor/fsl_clock.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: new feature

#14647 boards/nrf52840-mdk-dongle: add nRF52840 MDK USB Dongle
  boards/nrf52840-mdk-dongle/Kconfig
  boards/nrf52840-mdk-dongle/Makefile
  boards/nrf52840-mdk-dongle/Makefile.dep
  boards/nrf52840-mdk-dongle/Makefile.features
  boards/nrf52840-mdk-dongle/Makefile.include
  boards/nrf52840-mdk-dongle/board.c
  boards/nrf52840-mdk-dongle/doc.txt
  boards/nrf52840-mdk-dongle/include/board.h
  boards/nrf52840-mdk-dongle/include/gpio_params.h
  boards/nrf52840-mdk-dongle/include/periph_conf.h
  boards/nrf52840-mdk-dongle/include/pwm_params.h
  boards/nrf52840-mdk-dongle/reset.c
  dist/tools/uf2/.gitignore
  dist/tools/uf2/Makefile
  makefiles/tools/targets.inc.mk
  makefiles/tools/uf2conv.inc.mk
Labels: Area: boards, CI: ready for build, Type: new feature

#15544 doc: update board porting documentation page
  doc/doxygen/src/porting-boards.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#15542 tests/gnrc_ipv6_ext_frag: use gnrc_netif_hdr_set_netif()
  tests/gnrc_ipv6_ext_frag/main.c
Labels: Area: network, Area: tests, CI: ready for build, Impact: minor, Type: enhancement

#15120 driver/at86rf215: add functions to configure trim & clock output at run-time
  drivers/at86rf215/at86rf215.c
  drivers/at86rf215/at86rf215_getset.c
  drivers/include/at86rf215.h
  drivers/include/net/netdev.h
  sys/include/net/eui_provider.h
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/netif/gnrc_netif.c
  tests/driver_at86rf215/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15545 boards/common/qn908x: cleanup Makefile.include
  boards/common/qn908x/Makefile.include
Labels: Area: boards, Area: build system, CI: ready for build

#15525 sys/suit: fix use w/o progress bar
  sys/suit/transport/coap.c
Labels: Area: CoAP, CI: ready for build, Impact: minor, Type: bug

#15074 drivers/periph/ptp_clock
  boards/nucleo-f767zi/Kconfig
  boards/nucleo-f767zi/Makefile.features
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/eth.c
  cpu/stm32/periph/eth_common.c
  cpu/stm32/periph/ptp.c
  drivers/Makefile.dep
  drivers/include/periph/ptp.h
  drivers/periph_common/init.c
  drivers/periph_common/ptp.c
  kconfigs/Kconfig.features
  sys/include/timex.h
  tests/periph_ptp_clock/Makefile
  tests/periph_ptp_clock/README.md
  tests/periph_ptp_clock/main.c
  tests/periph_ptp_clock/tests/01-run.py
  tests/periph_ptp_timer/Makefile
  tests/periph_ptp_timer/README.md
  tests/periph_ptp_timer/main.c
  tests/periph_ptp_timer/tests/01-run.py
Labels: Area: cpu, Area: drivers, Area: timers, CI: ready for build, Type: new feature

#14703 net/sock: Add access to auxiliary data (API only)
  makefiles/pseudomodules.inc.mk
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock.h
  sys/include/net/sock/dtls.h
  sys/include/net/sock/ip.h
  sys/include/net/sock/udp.h
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15551 sock/dtls: remove usage of sock_dtls_session_create in documentation
  sys/include/net/sock/dtls.h
Labels: Area: doc, Area: network, CI: ready for build, CI: skip compile test, Type: cleanup

#15546 boards/common/qn908x: Compute the image checksum
  boards/common/qn908x/Makefile.include
  boards/common/qn908x/dist/nxp_checksum.py
Labels: Area: boards, CI: ready for build, Type: enhancement

#15552 dist/tools/changed_files: fix default list of exclude
  dist/tools/ci/changed_files.sh
  dist/tools/externc/check.sh
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: bug

#15550 cpu/qn908x: Add support for UART.
  boards/qn9080dk/Kconfig
  boards/qn9080dk/Makefile.features
  boards/qn9080dk/include/periph_conf.h
  cpu/qn908x/Makefile.dep
  cpu/qn908x/doc.txt
  cpu/qn908x/include/flexcomm.h
  cpu/qn908x/include/periph_cpu.h
  cpu/qn908x/periph/flexcomm.c
  cpu/qn908x/periph/uart.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#15554 tests/driver_ds3231: blacklist on CI
  tests/driver_ds3231/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests, Impact: minor, Type: enhancement

#14705 pkg/lwip: Implement sock_aux_local
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  pkg/lwip/include/lwipopts.h
  tests/lwip_sock_ip/Makefile
  tests/lwip_sock_ip/main.c
  tests/lwip_sock_udp/Makefile
  tests/lwip_sock_udp/main.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14704 net/gnrc/sock: Implement sock_aux_local
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_ip/Makefile
  tests/gnrc_sock_ip/main.c
  tests/gnrc_sock_udp/Makefile
  tests/gnrc_sock_udp/main.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15558 .murdock: don't run static-tests on Murdock
  .murdock
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: cleanup

#14706 pkg/tinydtls: Implement sock_aux_local
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Area: network, Area: pkg, Area: security, CI: ready for build, Type: new feature

#15529 cpu/nrf5x: implement periph_timer_periodic
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.features
  cpu/nrf5x_common/periph/timer.c
Labels: Area: cpu, CI: ready for build, Reviewed: 3-testing, Type: enhancement

#15557 cpu/qn908x: Add timer driver based on CTIMER.
  boards/qn9080dk/Kconfig
  boards/qn9080dk/Makefile.features
  boards/qn9080dk/include/periph_conf.h
  cpu/qn908x/doc.txt
  cpu/qn908x/include/periph_cpu.h
  cpu/qn908x/periph/gpio.c
  cpu/qn908x/periph/timer.c
  cpu/qn908x/periph/uart.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#15568 cpu/qn908x: Fix triggering GPIO IRQ.
  cpu/qn908x/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: bug

#15567 cpu/qn908x: Add the RTC module.
  cpu/qn908x/Kconfig
  cpu/qn908x/Makefile.features
  cpu/qn908x/doc.txt
  cpu/qn908x/periph/rtc.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#15547 drivers/ili9341 : Expose configurations to Kconfig
  drivers/Kconfig
  drivers/ili9341/Kconfig
  drivers/ili9341/ili9341.c
  drivers/include/ili9341.h
  tests/driver_ili9341/Makefile
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#15561 drivers/{bmx280, itg320x}: fix Kconfig deps
  drivers/bmx280/Kconfig
  drivers/itg320x/Kconfig
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Impact: minor, Type: bug

#15548 suit/transport/coap: make blocksize configurable
  sys/include/suit/transport/coap.h
  sys/suit/handlers_command_seq.c
  sys/suit/transport/coap.c
Labels: Area: OTA, CI: ready for build, Impact: minor, Type: enhancement

#15579 cpu/cortexm_common: split isr_pendsv()
  cpu/cortexm_common/thread_arch.c
Labels: CI: ready for build, Platform: ARM, Type: cleanup

#15491 tools/emulator: add debug feature with qemu emulator
  dist/tools/emulator/debug.sh
  makefiles/tools/qemu.inc.mk
  makefiles/tools/renode.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Type: new feature

#15519 sys/byteorder: add helpers to convert from little endian to host byte order
  sys/include/byteorder.h
  tests/unittests/tests-core/tests-core-byteorder.c
  tests/unittests/tests-ieee802154/tests-ieee802154.c
Labels: Area: sys, CI: ready for build, Type: new feature

#15580 cpu/cortexm_common: fix r12 clobber in pendsv for Cortex-M3+
  cpu/cortexm_common/thread_arch.c
Labels: CI: ready for build, Platform: ARM, Type: bug

#15582 CODEOWNERS: update for cpu/cortexm_common/
  CODEOWNERS
Labels: CI: ready for build, CI: skip compile test, Type: cleanup

#15573 drivers/rn2xx3 : Kconfig updates.
  drivers/include/rn2xx3.h
  drivers/rn2xx3/Kconfig
  drivers/rn2xx3/rn2xx3.c
  sys/include/net/loramac.h
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#15584 sys/net/link_layer/ieee802154/submac: fix type
  sys/net/link_layer/ieee802154/submac.c
Labels: Area: network, CI: ready for build, Type: bug

#15442 core/mutex: Add mutex_cancel
  core/include/mutex.h
  core/mutex.c
  tests/mutex_cancel/Makefile
  tests/mutex_cancel/main.c
  tests/mutex_cancel/tests/01-run.py
Labels: Area: core, CI: ready for build, Process: needs >1 ACK, Type: enhancement

#15534 cc2538_rf: default to netdev_ieee802154_submac
  cpu/cc2538/Makefile.dep
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15586 littlefs2: Bump to v2.3
  pkg/littlefs2/Makefile
Labels: Area: pkg, CI: ready for build, Type: enhancement

#15581 sock/dtls: remove sock_dtls_session_create due to deprecation
  sys/include/net/sock/dtls.h
Labels: Area: network, CI: ready for build, Type: cleanup

#15583 drivers, sys: use byteorder_htols()
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/mrf24j40/mrf24j40_getset.c
  sys/net/gnrc/link_layer/gomach/gomach_internal.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_crypto.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mcps.c
  sys/net/gnrc/link_layer/lwmac/lwmac_internal.c
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#15527 cpu/nrf52: Add i2c reconfigure feature
  cpu/nrf52/Kconfig
  cpu/nrf52/Makefile.features
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf52/periph/i2c.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#15587 tests: remove unused driver_mpu9150 directory
  tests/driver_mpu9150/Makefile.ci
Labels: Area: build system, Area: tests, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#15589 gnrc_ipv6_nib: prevent NULL pointer dereference on nib exhaustion
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6lr.c
Labels: Area: network, CI: ready for build, Type: bug

#15593 core/mutex: fix documentation
  core/include/mutex.h
Labels: Area: core, Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#15596 CI: temporarily disable llvm builds
  .murdock
Labels: Area: CI, Area: toolchain, CI: ready for build

#15594 dist/tools/kconfig/genconfig: fix printing of range condition
  dist/tools/kconfiglib/genconfig.py
Labels: Area: tools, CI: ready for build, Type: bug

#15590 sys/xtimer: clean up xtimer_mutex_lock_timeout
  sys/xtimer/xtimer.c
Labels: Area: sys, Area: timers, CI: ready for build, Type: cleanup

#15001 boards/stm32f1f3: model clock configuration in Kconfig
  boards/common/blxxxpill/Kconfig
  boards/common/iotlab/Kconfig
  boards/common/iotlab/Makefile.features
  boards/common/iotlab/clock.config
  boards/fox/Kconfig
  boards/fox/Makefile.features
  boards/maple-mini/Kconfig
  boards/nucleo-f103rb/Kconfig
  boards/nucleo-f302r8/Kconfig
  boards/nucleo-f303k8/include/periph_conf.h
  boards/nucleo-f303re/Kconfig
  boards/nucleo-f303ze/Kconfig
  boards/nucleo-f334r8/Kconfig
  boards/olimexino-stm32/Kconfig
  boards/opencm904/Kconfig
  boards/spark-core/Kconfig
  boards/stm32f3discovery/Kconfig
  cpu/stm32/include/clk/f1f3/cfg_clock_default.h
  cpu/stm32/kconfigs/Kconfig.clk
Labels: Area: Kconfig, Area: boards, Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#15555 boards: move DfuSe specific argument at board level
  boards/common/blxxxpill/Makefile.include
  boards/common/weact-f4x1cx/Makefile.include
  boards/nz32-sc151/Makefile.include
  boards/pyboard/Makefile.include
  boards/spark-core/Makefile.include
  makefiles/tools/dfu-util.inc.mk
Labels: Area: boards, Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#15150 Initial implementation of IEEE 802.15.4 security
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/include/net/netdev/ieee802154.h
  drivers/netdev/ieee802154.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/ieee802154/radio.h
  sys/include/net/ieee802154_security.h
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
  sys/net/gnrc/netif/init_devs/auto_init_at86rf215.c
  sys/net/gnrc/netif/init_devs/auto_init_at86rf2xx.c
  sys/net/gnrc/netif/init_devs/auto_init_cc2420.c
  sys/net/gnrc/netif/init_devs/auto_init_cc2538_rf.c
  sys/net/gnrc/netif/init_devs/auto_init_kw2xrf.c
  sys/net/gnrc/netif/init_devs/auto_init_kw41zrf.c
  sys/net/gnrc/netif/init_devs/auto_init_mrf24j40.c
  sys/net/gnrc/netif/init_devs/auto_init_nrf802154.c
  sys/net/gnrc/netif/init_devs/auto_init_socket_zep.c
  sys/net/gnrc/netif/init_devs/include/init_devs.h
  sys/net/link_layer/ieee802154/Makefile
  sys/net/link_layer/ieee802154/security.c
  tests/ieee802154_security/Makefile
  tests/ieee802154_security/Makefile.ci
  tests/ieee802154_security/README.md
  tests/ieee802154_security/main.c
Labels: Area: network, Area: security, CI: ready for build, Reviewed: 3-testing, Type: new feature

#15565 usbus: add usbus_add_interface_alt() helper function
  sys/include/usb/usbus.h
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
  sys/usb/usbus/usbus.c
Labels: Area: USB, CI: ready for build, Type: enhancement

#15566 usbus: add optional string descriptor for alt interface
  sys/include/usb/usbus.h
  sys/usb/usbus/usbus_fmt.c
Labels: Area: USB, CI: ready for build, Type: enhancement

#15592 sys/ztimer: add ztimer_mutex_lock_timeout()
  sys/include/ztimer.h
  sys/include/ztimer/xtimer_compat.h
  sys/ztimer/util.c
  tests/ztimer_mutex_lock_timeout/Makefile
  tests/ztimer_mutex_lock_timeout/main.c
  tests/ztimer_mutex_lock_timeout/tests/01-run.py
Labels: Area: sys, Area: timers, CI: ready for build, Type: new feature

#15599 follow-up: use byteorder_htoll()
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mcps.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mlme.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_region.c
  sys/net/link_layer/ieee802154/security.c
  tests/driver_at86rf2xx/recv.c
  tests/ieee802154_submac/main.c
Labels: CI: ready for build, Impact: minor, Type: cleanup

#15601 examples/gnrc_networking: add option to enable DNS
  examples/gnrc_networking/Makefile
Labels: Area: doc, Area: examples, CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#15578 add error checks of devfs_register()
  boards/mulle/board.c
Labels: Area: boards, CI: ready for build, Type: bug

#15602 doc: advertise forum.riot-os.org
  .github/ISSUE_TEMPLATE/bug_report.md
  CONTRIBUTING.md
  Makefile
  README.md
  doc/doxygen/src/mainpage.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#15516 SECURITY.md: Add initial security policy
  SECURITY.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#15588 cpu/native: pm: fix build with pm_layered
  cpu/native/include/periph_cpu.h
  cpu/native/periph/pm.c
  sys/include/pm_layered.h
Labels: Area: pm, CI: ready for build, Platform: native

#15608 SECURITY.md: fix mailto link
  SECURITY.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: bug

#15560 net/gnrc/sock: Implement sock_aux_timestamp for RX
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/gnrc/netif/hdr.h
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_ip/Makefile
  tests/gnrc_sock_ip/main.c
  tests/gnrc_sock_ip/stack.c
  tests/gnrc_sock_ip/stack.h
  tests/gnrc_sock_udp/Makefile
  tests/gnrc_sock_udp/main.c
  tests/gnrc_sock_udp/stack.c
  tests/gnrc_sock_udp/stack.h
Labels: Area: network, CI: ready for build, Type: new feature

#13908 drivers/periph_common: dac: add dac_play()
  drivers/dac_dds/Makefile
  drivers/dac_dds/Makefile.dep
  drivers/dac_dds/Makefile.include
  drivers/dac_dds/dac_dds.c
  drivers/dac_dds/include/dac_dds_params.h
  drivers/include/dac_dds.h
  tests/driver_dac_dds/Makefile
  tests/driver_dac_dds/hello.raw
  tests/driver_dac_dds/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#15575 add error checks of function ds3231_get_time() and ds3231_set_time()
  tests/driver_ds3231/main.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15570 sys/bit: move bit.h header to sys/
  sys/include/bit.h
Labels: Area: sys, CI: ready for build, Impact: minor, Type: cleanup

#15577 add error check of cord_common_add_qstring()
  sys/net/application_layer/cord/ep/cord_ep.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15591 boards/stm32l476g-disco: use connect_assert_srst with openocd
  boards/stm32l476g-disco/Makefile.include
Labels: Area: boards, Area: build system, CI: ready for build, CI: skip compile test, Type: bug

#15536 pkg/openwsn: add sock_udp
  pkg/openwsn/Makefile
  pkg/openwsn/Makefile.dep
  pkg/openwsn/Makefile.include
  pkg/openwsn/contrib/eui64.c
  pkg/openwsn/doc.txt
  pkg/openwsn/include/openwsn.h
  pkg/openwsn/patches/0001-bsp-kernel-include-RIOT-OpenWSN-board-definitions.patch
  pkg/openwsn/patches/0002-drivers-common-openserial-rename-include-for-RIOT-Op.patch
  pkg/openwsn/patches/0003-openstack-02b-MAChigh-neighbors.c-expose-neighbors_v.patch
  pkg/openwsn/patches/0004-kernel-openos-scheduler-use-thread-flags-restore-irq.patch
  pkg/openwsn/patches/0005-bsp-boards-toolchain_defs.h-comment-out-conflict-ISR.patch
  pkg/openwsn/patches/0006-openstack-openstack-dont-init-idmanager.patch
  pkg/openwsn/patches/0007-openstack-openapps-add-debugging.patch
  pkg/openwsn/patches/0008-drivers-common-openserial-add-flag-to-echo-badcrc-fr.patch
  pkg/openwsn/patches/0009-inc-check_config-skip-checking-board-unused-in-RIOT.patch
  pkg/openwsn/patches/0010-inc-config.h-use-kerneldefines.patch
  pkg/openwsn/patches/0011-treewide-changes-to-use-RIOT-sock.patch
  pkg/openwsn/patches/0012-openweb-opencoap-rename-conflicting-coap_find_option.patch
  pkg/openwsn/patches/0013-inc-config-make-coap-port-configurable.patch
  pkg/openwsn/sock/Makefile
  pkg/openwsn/sock/openwsn_sock_udp.c
  pkg/openwsn/sock/sock_types.h
  sys/Makefile.dep
  sys/shell/commands/sc_openwsn.c
  tests/pkg_openwsn/Makefile
  tests/pkg_openwsn/main.c
  tests/pkg_openwsn/udp.c
  tests/pkg_openwsn_sock_udp/Makefile
  tests/pkg_openwsn_sock_udp/constants.h
  tests/pkg_openwsn_sock_udp/main.c
  tests/pkg_openwsn_sock_udp/scheduler/Makefile
  tests/pkg_openwsn_sock_udp/scheduler/Makefile.include
  tests/pkg_openwsn_sock_udp/scheduler/include/scheduler_types.h
  tests/pkg_openwsn_sock_udp/scheduler/scheduler.c
  tests/pkg_openwsn_sock_udp/stack.c
  tests/pkg_openwsn_sock_udp/stack.h
  tests/pkg_openwsn_sock_udp/tests/01-run.py
Labels: Area: network, Area: pkg, CI: ready for build, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#15613 pkg/openwsn/sock: fix doxygen group doc
  pkg/openwsn/sock/sock_types.h
Labels: Area: doc, Area: pkg, CI: ready for build, CI: skip compile test, Type: bug

#15612 dac_dds test fixes
  tests/driver_dac_dds/README.md
  tests/driver_dac_dds/hello.raw
  tests/driver_dac_dds/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: bug

#15361 cpu/sam0_common: SPI: add support for QSPI in SPI mode
  boards/same54-xpro/Makefile.dep
  boards/same54-xpro/board.c
  boards/same54-xpro/include/board.h
  boards/same54-xpro/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/spi.c
  cpu/samd5x/Kconfig
  cpu/samd5x/Makefile.features
  cpu/samd5x/include/periph_cpu.h
  drivers/mtd_spi_nor/mtd_spi_nor.c
  kconfigs/Kconfig.features
  tests/periph_spi/Makefile
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15605 sys/ztimer: increase xtimer_compat coverage
  sys/include/ztimer/xtimer_compat.h
Labels: Area: timers, CI: ready for build, Type: enhancement

#15572 cpu/sam0: add initial ethernet support
  boards/same54-xpro/Makefile.dep
  boards/same54-xpro/Makefile.features
  boards/same54-xpro/include/periph_conf.h
  cpu/sam0_common/Makefile
  cpu/sam0_common/Makefile.dep
  cpu/sam0_common/Makefile.include
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/eth.c
  cpu/sam0_common/sam0_eth/Makefile
  cpu/sam0_common/sam0_eth/eth-netdev.c
  cpu/sam0_common/sam0_eth/sam0_eth_netdev.h
  cpu/samd5x/Kconfig
  drivers/include/net/netdev.h
  examples/default/Makefile
  sys/net/gnrc/netif/init_devs/auto_init_sam0_eth.c
  sys/net/gnrc/netif/init_devs/init.c
Labels: Area: cpu, Area: network, CI: ready for build, Type: new feature

#15571 drivers/si1133: New SI1133 UV/IR/Ambient light driver
  drivers/Makefile.dep
  drivers/include/si1133.h
  drivers/saul/init_devs/auto_init_si1133.c
  drivers/saul/init_devs/init.c
  drivers/si1133/Makefile
  drivers/si1133/Makefile.dep
  drivers/si1133/Makefile.include
  drivers/si1133/include/si1133_internals.h
  drivers/si1133/include/si1133_params.h
  drivers/si1133/si1133.c
  drivers/si1133/si1133_saul.c
  tests/driver_si1133/Makefile
  tests/driver_si1133/Makefile.ci
  tests/driver_si1133/README.md
  tests/driver_si1133/main.c
  tests/driver_si1133/tests/01-run.py
Labels: Area: drivers, CI: ready for build, Type: new feature

#15625 riotctrl_shell.gnrc: fix documentation for GNRCICMPv6EchoParser.parse()
  dist/pythonlibs/riotctrl_shell/gnrc.py
Labels: Area: doc, Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#15511 sys/riotboot/flashwrite: add functions to invalid slots
  sys/include/riotboot/flashwrite.h
  sys/riotboot/flashwrite.c
Labels: Area: OTA, CI: ready for build, Type: enhancement

#15627 sys/ztimer: fix xtimer_compat
  sys/include/ztimer/xtimer_compat.h
Labels: Area: sys, Area: timers, CI: ready for build, Impact: minor, Type: bug

#12648 gnrc_sixlowpan_frag: initial import of Selective Fragment Recovery
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/gnrc/netif/6lo.h
  sys/include/net/gnrc/sixlowpan/config.h
  sys/include/net/gnrc/sixlowpan/frag/fb.h
  sys/include/net/gnrc/sixlowpan/frag/rb.h
  sys/include/net/gnrc/sixlowpan/frag/sfr.h
  sys/include/net/gnrc/sixlowpan/frag/sfr_types.h
  sys/include/net/gnrc/sixlowpan/frag/vrb.h
  sys/include/net/sixlowpan.h
  sys/include/net/sixlowpan/sfr.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/sixlowpan/frag/Kconfig
  sys/net/gnrc/network_layer/sixlowpan/frag/fb/Kconfig
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/Kconfig
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/Makefile
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/gnrc_sixlowpan_frag_sfr.c
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/gnrc_sixlowpan_frag_vrb.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  sys/shell/commands/sc_gnrc_6lo_frag_stats.c
  tests/gnrc_sixlowpan_frag/main.c
  tests/gnrc_sixlowpan_frag_sfr/Makefile
  tests/gnrc_sixlowpan_frag_sfr/Makefile.ci
  tests/gnrc_sixlowpan_frag_sfr/app.config
  tests/gnrc_sixlowpan_frag_sfr/common.h
  tests/gnrc_sixlowpan_frag_sfr/main.c
  tests/gnrc_sixlowpan_frag_sfr/mockup_netif.c
  tests/gnrc_sixlowpan_frag_sfr/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: new feature

#15630 makefiles/pseudomodules.inc.mk: netdev_ieee802154_legacy is a pseudomodule
  makefiles/pseudomodules.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Type: bug

#15631 sys/architecture: add UWORD_MIN, UWORD_MAX, SWORD_MIN, SWORD_MAX
  sys/include/architecture.h
  tests/sys_architecture/main.c
Labels: Area: sys, CI: ready for build, Impact: minor, Type: enhancement

#15620 cpu/sam0_common: DAC: wait for DAC to be ready
  cpu/sam0_common/periph/dac.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#15603 uhcp: check maximum for prefix length
  sys/net/application_layer/uhcp/uhcp.c
Labels: Area: network, CI: ready for build, Type: bug

#15597 core/mutex: compatibility with non-C languages
  core/include/mutex.h
  core/mutex.c
Labels: Area: core, CI: ready for build, Type: bug

#15633 sys/base64: drop padding for base64url encoding
  sys/base64/base64.c
  tests/unittests/tests-base64/tests-base64.c
Labels: Area: sys, CI: ready for build, Type: bug

#15628 cpu/native/rtc: add rtc_set_time implementation
  cpu/native/periph/rtc.c
  tests/periph_rtc/main.c
  tests/periph_rtc/tests/01-run.py
Labels: Area: cpu, CI: ready for build, Platform: native, Type: enhancement

#15639 cpu/saml11: fix GPIO/IOBUS management
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: bug

#15635 cpu/cortexm_common: fix r12 clobber in pendsv for Cortex-M0
  cpu/cortexm_common/thread_arch.c
Labels: CI: ready for build, CI: run tests, Platform: ARM, Type: bug

#15647 tests/sys_atomic_utils_unittests: spice up test
  tests/sys_atomic_utils_unittests/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: bug

#15640 dist/tools/ci: add harness to annotate static tests in Github Actions
  .github/workflows/static-test.yml
  dist/tools/ci/README.md
  dist/tools/ci/github_annotate.sh
  dist/tools/ci/static_tests.sh
  dist/tools/whitespacecheck/check.sh
Labels: Area: CI, Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#15659 tests/aip31068: Mark internal functions as static
  tests/driver_aip31068/main.c
Labels: Area: tests, CI: ready for build, Type: cleanup

#15637 gh-actions: make the release tests a matrix build
  .github/workflows/release-test.yml
Labels: Area: CI, CI: ready for build, CI: skip compile test, Process: release cycle, Type: cleanup, Type: enhancement

#15663 dist/tools/flake8: Allow gh annotation
  dist/tools/flake8/check.sh
Labels: Area: CI, Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#15606 sys/malloc_thread_safe: new module
  cpu/atmega_common/Makefile.dep
  cpu/atmega_common/avr_libc_extra/posix_unistd.c
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.dep
  makefiles/arch/atmega.inc.mk
  sys/Kconfig
  sys/Makefile.include
  sys/malloc_thread_safe/Kconfig
  sys/malloc_thread_safe/Makefile
  sys/malloc_thread_safe/Makefile.include
  sys/malloc_thread_safe/doc.txt
  sys/malloc_thread_safe/malloc_wrappers.c
  tests/malloc_thread_safety/Makefile
  tests/malloc_thread_safety/Makefile.ci
  tests/malloc_thread_safety/main.c
  tests/malloc_thread_safety/tests/01-run.py
Labels: Area: sys, CI: ready for build, CI: run tests, Type: bug, Type: enhancement

#15621 tests/driver_dac_dds: use clearer hello recording
  tests/driver_dac_dds/README.md
  tests/driver_dac_dds/hello.raw
Labels: Area: tests, CI: ready for build, Impact: minor, Type: enhancement

#15646 cpu/fe310: boards/hifive1*: move all clock configuration at CPU level
  boards/hifive1/Kconfig
  boards/hifive1/include/periph_conf.h
  boards/hifive1b/Kconfig
  boards/hifive1b/include/periph_conf.h
  cpu/fe310/Kconfig
  cpu/fe310/Kconfig.clk
  cpu/fe310/include/clk_conf.h
Labels: Area: Kconfig, Area: boards, Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#15656 net/asymcute: fix MsgId when publishing with QOS0
  sys/include/net/asymcute.h
  sys/include/net/mqttsn.h
  sys/net/application_layer/asymcute/asymcute.c
Labels: Area: network, CI: ready for build, Type: bug

#15675 net/asymcute: rm explicit casts where applicable
  sys/net/application_layer/asymcute/asymcute.c
Labels: Area: arduino API, CI: ready for build, Type: enhancement

#15661 net/emcute: fix MsgId for PUBLISH with QOS0
  sys/include/net/emcute.h
  sys/net/application_layer/emcute/emcute.c
Labels: Area: network, CI: ready for build, Type: bug

#15670 tests/emcute: add check for message ID with PUBLISH QoS 0
  tests/emcute/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: enhancement

#15653 net/asymcute: fix handling of short and pre-defined topics
  examples/asymcute_mqttsn/main.c
  sys/include/net/asymcute.h
  sys/net/application_layer/asymcute/asymcute.c
Labels: Area: network, CI: ready for build, Type: bug

#15677 cpu/cortexm_common: fix select in Kconfig
  cpu/cortexm_common/Kconfig
Labels: Area: Kconfig, Area: cpu, CI: ready for build, Impact: minor, Type: bug

#15672 dist/tools: don't redefine EXCLUDE when not necessary
  dist/tools/codespell/check.sh
  dist/tools/vera++/check.sh
Labels: Area: CI, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#15611 net/eui_provider: API cleanup
  boards/avr-rss2/include/board.h
  boards/avr-rss2/include/eui_provider_params.h
  boards/derfmega256/include/board.h
  boards/derfmega256/include/eui_provider_params.h
  boards/same54-xpro/include/board.h
  boards/same54-xpro/include/eui_provider_params.h
  boards/samr21-xpro/include/board.h
  boards/samr21-xpro/include/eui_provider_params.h
  cpu/cc2538/include/cc2538_eui_primary.h
  sys/include/net/eui_provider.h
  sys/net/link_layer/eui_provider/eui_provider.c
  sys/net/link_layer/eui_provider/include/eui48_provider_params.h
  sys/net/link_layer/eui_provider/include/eui64_provider_params.h
Labels: Area: boards, Area: network, CI: ready for build, Process: API change, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#15652 net/asymcute: use sock async
  examples/asymcute_mqttsn/main.c
  sys/Makefile.dep
  sys/include/net/asymcute.h
  sys/net/application_layer/asymcute/asymcute.c
Labels: Area: network, CI: ready for build, Type: cleanup, Type: enhancement

#15674 pkg/tinydtls: remove sock_udp_ep_t from sock_dtls_session_t
  pkg/tinydtls/contrib/sock_dtls.c
  pkg/tinydtls/include/sock_dtls_types.h
Labels: Area: pkg, Area: security, CI: ready for build

#15682 treewide: fix trailing whitespaces
  dist/tools/packer/README.md
  dist/tools/vagrant/README.md
  pkg/heatshrink/doc.txt
  pkg/micro-ecc/doc.txt
  pkg/minmea/doc.txt
  pkg/relic/doc.txt
  pkg/tweetnacl/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: cleanup

#15668 makefiles/arch/riscv: redirect 'which' error message to /dev/null
  makefiles/arch/riscv.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Platform: RISC-V, Type: enhancement

#15624 cpu/qn908x: Implement blocking I2C support
  boards/qn9080dk/Kconfig
  boards/qn9080dk/Makefile.dep
  boards/qn9080dk/Makefile.features
  boards/qn9080dk/include/board.h
  boards/qn9080dk/include/periph_conf.h
  cpu/qn908x/Kconfig
  cpu/qn908x/Makefile.dep
  cpu/qn908x/Makefile.features
  cpu/qn908x/doc.txt
  cpu/qn908x/include/periph_cpu.h
  cpu/qn908x/periph/i2c.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#15650 cpu/stm32: merge f0/f1/f3 clock configuration headers
  boards/nucleo-f030r8/include/periph_conf.h
  boards/nucleo-f031k6/include/periph_conf.h
  boards/nucleo-f042k6/include/periph_conf.h
  boards/nucleo-f070rb/include/periph_conf.h
  boards/nucleo-f072rb/include/periph_conf.h
  boards/nucleo-f091rc/include/periph_conf.h
  boards/stm32f030f4-demo/include/periph_conf.h
  boards/stm32f0discovery/include/periph_conf.h
  cpu/stm32/include/clk/clk_conf.h
  cpu/stm32/include/clk/f0/cfg_clock_default.h
  cpu/stm32/include/clk/f0f1f3/cfg_clock_default.h
Labels: Area: boards, Area: cpu, CI: ready for build, Type: cleanup

#15679 cpu/arm7_common: use malloc_thread_safe
  cpu/arm7_common/Kconfig
  cpu/arm7_common/Makefile.dep
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#15688 memarray: Inline short alloc and free functions
  sys/include/memarray.h
  sys/memarray/memarray.c
Labels: Area: sys, CI: ready for build, Type: enhancement

#15673 cpu/fe310: use malloc_thread_safe
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.dep
Labels: CI: ready for build, Impact: minor, Platform: RISC-V, Type: bug

#15678 boards/remote-revb: add arduino feature
  boards/remote-revb/Kconfig
  boards/remote-revb/Makefile.features
  boards/remote-revb/include/arduino_board.h
  boards/remote-revb/include/arduino_pinmap.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#15651 usbus: Add USB peripheral serial string support
  sys/Makefile.dep
  sys/include/usb.h
  sys/include/usb/usbus.h
  sys/usb/Kconfig
  sys/usb/usbus/usbus.c
  sys/usb/usbus/usbus_fmt.c
Labels: Area: USB, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#15696 esp_common/esp_now: use netdev_register()
  cpu/esp_common/esp-now/esp_now_netdev.c
  drivers/include/net/netdev.h
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15699 core/mutex: fix typo in documentation
  core/include/mutex.h
Labels: Area: doc, CI: ready for build, CI: skip compile test
