Repository RIOT-OS/RIOT, pull requests merged in 2020-08, with the labels that each got.

#14673 nrf802154: fix set_tx_power function
  cpu/nrf52/radio/nrf802154/nrf802154.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14674 tools/usb-cdc-ecm/start_network.sh: remove parameters to read
  dist/tools/usb-cdc-ecm/start_network.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#14672 cc2538: fix RSSI offset
  cpu/cc2538/radio/cc2538_rf_netdev.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14680 gnrc/nib: fix _idx_dsts() calculation
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#14683 gnrc_sixlowpan_frag_vrb: fix cppcheck warning
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/gnrc_sixlowpan_frag_vrb.c
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#14613 makefiles/buspirate: add Bus Pirate as Debug Adapter
  makefiles/tools/openocd-adapters/buspirate.inc.mk
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#14686 gnrc_sixlowpan_frag_vrb: fix cppcheck warning [backport 2020.07]
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/gnrc_sixlowpan_frag_vrb.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#14652 net/netif : Expose configurations to Kconfig
  sys/include/net/netif.h
  sys/net/Kconfig
  sys/net/netif/Kconfig
  sys/net/netif/netif.c
  sys/shell/commands/sc_gnrc_netif.c
  tests/gnrc_netif/main.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14657 drivers/net: Fix netdev_driver_t doc
  drivers/include/net/netdev.h
Labels: Area: doc, Area: drivers, Area: network, CI: ready for build, CI: skip compile test, Impact: minor

#14684 makefiles/kconfig.mk: remove duplicate calls to merge_config and cleanups
  makefiles/kconfig.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Type: enhancement

#14480 openocd-adapters: select transport based on adapter
  boards/common/frdm/dist/openocd-klx.cfg
  boards/common/nrf52/dist/openocd.cfg
  boards/common/nrf52/doc.txt
  boards/mcb2388/Makefile.include
  boards/mcb2388/dist/openocd.cfg
  makefiles/tools/openocd-adapters/dap.inc.mk
  makefiles/tools/openocd-adapters/iotlab.inc.mk
  makefiles/tools/openocd-adapters/jlink.inc.mk
  makefiles/tools/openocd-adapters/mulle.inc.mk
  makefiles/tools/openocd-adapters/raspi.inc.mk
  makefiles/tools/openocd-adapters/stlink.inc.mk
  makefiles/tools/openocd-adapters/sysfs_gpio.inc.mk
  makefiles/tools/openocd.inc.mk
Labels: Area: tools, CI: ready for build, Type: cleanup, Type: enhancement

#14693 cpu/msp430_common: fix thread_yield_higher() when called in isr [backport 2020.07]
  cpu/msp430_common/cpu.c
Labels: CI: ready for build, Impact: major, Platform: MSP, Process: release backport, Type: bug

#14226 cpu/sam0_common: i2c: fix BAUD handling & cleanup
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/i2c.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup, Type: enhancement

#14697 tools: whitespacecheck: use ignore file to easily add expressions
  dist/tools/whitespacecheck/check.sh
  dist/tools/whitespacecheck/ignore_list.txt
Labels: Area: tools, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14694 drivers/cc2420: fix bogus cc2420_set_state(dev, CC2420_GOTO_RX) type
  drivers/cc2420/cc2420.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14675 tests/periph_rtc: delay RTC init
  tests/periph_rtc/Makefile
  tests/periph_rtc/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: enhancement

#14682 sys/event: implement waiting on multiple queues
  sys/event/event.c
  sys/include/event.h
  tests/events/main.c
Labels: Area: sys, CI: ready for build, Type: enhancement

#14707 core/thread: Make thread_get inlineable
  core/include/thread.h
  core/thread.c
Labels: CI: ready for build

#14658 tests/shell: allow not using socat, do so on z1
  tests/shell/Makefile
  tests/shell/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: bug

#14701 openocd-adapters/raspi.inc.mk-fix: fix typo
  makefiles/tools/openocd-adapters/raspi.inc.mk
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#14708 murdock: disable nrf52dk
  .murdock
Labels: Area: CI, CI: ready for build, CI: skip compile test

#14664 Makefile.include: add capability to log `make term` to file
  Makefile.include
  makefiles/vars.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Type: new feature

#14714 LOSTANDFOUND.md: fix chronos board removal commit hash
  LOSTANDFOUND.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#14698 core/bitarithm: use __builtin_clz() for bitarithm_msb()
  core/bitarithm.c
  core/include/bitarithm.h
Labels: Area: core, CI: ready for build, CI: run tests, Type: enhancement

#14685 gnrc/nib: fix _idx_dsts() calculation [backport 2020.07]
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#14661 tests/bench_*: Add ticks per iteration results
  tests/bench_msg_pingpong/main.c
  tests/bench_msg_pingpong/tests/01-run.py
  tests/bench_mutex_pingpong/main.c
  tests/bench_mutex_pingpong/tests/01-run.py
  tests/bench_sched_nop/main.c
  tests/bench_sched_nop/tests/01-run.py
  tests/bench_thread_flags_pingpong/main.c
  tests/bench_thread_flags_pingpong/tests/01-run.py
  tests/bench_thread_yield_pingpong/main.c
  tests/bench_thread_yield_pingpong/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Type: enhancement

#14717 core/msg: sched_threads[sched_active_pid] -> sched_active_thread
  core/msg.c
Labels: Area: core, CI: ready for build, Impact: minor, Type: cleanup

#14715 riotctrl_shell: provide cord_ep interactions and parser
  dist/pythonlibs/riotctrl_shell/cord_ep.py
  dist/pythonlibs/riotctrl_shell/tests/test_cord_ep.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14646 gh-actions: add release-specs tests
  .github/workflows/release-test.yml
Labels: Area: CI, Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Process: release cycle, Type: new feature

#14605 sys/include/net: Add possibility to define custom ethertype
  sys/include/net/ethertype.h
  sys/include/net/gnrc/nettype.h
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14695 sys/event: cleanup
  sys/event/event.c
  sys/include/event.h
  tests/events/main.c
Labels: Area: sys, CI: ready for build, Impact: minor, Type: cleanup

#14713 core: Add and use helper functions for internal data
  core/cond.c
  core/include/debug.h
  core/include/thread.h
  core/include/thread_flags.h
  core/mbox.c
  core/msg.c
  core/msg_bus.c
  core/mutex.c
  core/sched.c
  core/thread.c
  core/thread_flags.c
Labels: Area: core, CI: ready for build, CI: run tests, Process: needs >1 ACK, Type: enhancement

#14720 [take-over] boards/omote: add support for OMote board
  boards/omote/Kconfig
  boards/omote/Makefile
  boards/omote/Makefile.dep
  boards/omote/Makefile.features
  boards/omote/Makefile.include
  boards/omote/board.c
  boards/omote/doc.txt
  boards/omote/include/adc_params.h
  boards/omote/include/board.h
  boards/omote/include/gpio_params.h
  boards/omote/include/periph_conf.h
  examples/lua_REPL/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#14700 cpu/cc2538: RTT: implement missing API functions
  cpu/cc2538/periph/rtt.c
Labels: Area: cpu, CI: ready for build, Type: bug

#14692 boards/particle-xenon: add UART1 to uart_config
  boards/particle-xenon/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#13357 cpu/efm32/timer: add support for LETIMER
  boards/ikea-tradfri/include/board.h
  boards/ikea-tradfri/include/periph_conf.h
  boards/slstk3401a/include/board.h
  boards/slstk3401a/include/periph_conf.h
  boards/slstk3402a/include/board.h
  boards/slstk3402a/include/periph_conf.h
  boards/sltb001a/include/board.h
  boards/sltb001a/include/periph_conf.h
  boards/stk3600/include/board.h
  boards/stk3600/include/periph_conf.h
  boards/stk3700/include/board.h
  boards/stk3700/include/periph_conf.h
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/timer.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#14729 cpu/esp32: remove the dependency of vendor code on BOARDDIR
  cpu/esp32/include/sdk_conf.h
  cpu/esp32/vendor/esp-idf/include/esp32/esp_system.h
  cpu/esp32/vendor/esp-idf/wpa_supplicant/port/Makefile
  cpu/esp32/vendor/esp-idf/wpa_supplicant/src/crypto/Makefile
  cpu/esp32/vendor/esp-idf/wpa_supplicant/src/wpa2/eap_peer/Makefile
  cpu/esp32/vendor/esp-idf/wpa_supplicant/src/wpa2/tls/Makefile
  cpu/esp32/vendor/esp-idf/wpa_supplicant/src/wpa2/utils/Makefile
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: cleanup

#14719 riotctrl_shell: simplify error case for cord registration info parser
  dist/pythonlibs/riotctrl_shell/cord_ep.py
  dist/pythonlibs/riotctrl_shell/tests/test_cord_ep.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#14614 boards/hifive1*: add kconfig options to configure the clock
  boards/hifive1/Kconfig
  boards/hifive1/include/periph_conf.h
  boards/hifive1b/Kconfig
  boards/hifive1b/include/periph_conf.h
  cpu/fe310/clock.c
Labels: Area: Kconfig, Area: boards, CI: ready for build, Platform: RISC-V, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#14730 sys: Sort Makefile
  sys/Makefile
Labels: Area: build system, CI: ready for build, Impact: minor, Type: cleanup

#14726 drivers/periph_common: RTC: use RIOT_EPOCH as the RTC reset value
  cpu/lpc23xx/periph/rtc.c
  cpu/sam0_common/periph/rtc_rtt.c
  cpu/stm32/periph/rtc_all.c
  drivers/include/periph/rtc.h
  drivers/periph_common/rtc.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14516 cortexm_common: fix check for bitbanding feature
  cpu/cc2538/include/cpu_conf.h
  cpu/cc26x0/include/cpu_conf.h
  cpu/cc26x2_cc13x2/include/cpu_conf.h
  cpu/cortexm_common/include/bit.h
  cpu/efm32/include/cpu_conf.h
  cpu/ezr32wg/include/cpu_conf.h
  cpu/kinetis/include/cpu_conf.h
  cpu/lm4f120/include/cpu_conf.h
  cpu/lpc1768/include/cpu_conf.h
  cpu/sam_common/include/cpu_conf.h
  cpu/stm32/include/cpu_conf.h
Labels: CI: ready for build, Platform: ARM, Type: bug

#14725 boards/stm32l4: use common spi_divtable where possible
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/nucleo-l412kb/include/periph_conf.h
  boards/nucleo-l432kc/include/periph_conf.h
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nucleo-l496zg/include/periph_conf.h
  boards/p-l496g-cell02/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#14736 boards/feather-m0: separate directory for the wifi version
  boards/feather-m0-wifi/Kconfig
  boards/feather-m0-wifi/Makefile
  boards/feather-m0-wifi/Makefile.dep
  boards/feather-m0-wifi/Makefile.features
  boards/feather-m0-wifi/Makefile.include
  boards/feather-m0-wifi/doc.txt
  boards/feather-m0/Makefile.dep
  boards/feather-m0/Makefile.include
  boards/feather-m0/doc.txt
  examples/lua_REPL/Makefile.ci
  tests/bench_xtimer/Makefile
Labels: Area: boards, CI: ready for build, Type: cleanup

#14391 cpu/stm32: implement periph_timer_periodic
  cpu/stm32/Kconfig
  cpu/stm32/Makefile.features
  cpu/stm32/periph/timer.c
  tests/driver_soft_uart/Makefile.ci
  tests/periph_timer_periodic/main.c
  tests/periph_timer_periodic/tests/01-run.py
Labels: Area: cpu, CI: ready for build, Type: new feature

#14502 cpu/sam0_common: flashpage: clean up implementation
  cpu/sam0_common/periph/flashpage.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14727 makefiles/kconfig: refactor integration and add genconfig script
  dist/tools/kconfiglib/.gitignore
  dist/tools/kconfiglib/Makefile
  dist/tools/kconfiglib/genconfig.py
  doc/doxygen/src/kconfig/kconfig.md
  doc/doxygen/src/kconfig/kconfig_integration.svg
  makefiles/kconfig.mk
  makefiles/tools/kconfiglib.inc.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Type: enhancement

#14654 Kconfig: enable incremental compilation on config changes
  .github/workflows/tools-buildtest.yml
  Makefile.base
  dist/tools/ci/changed_files.sh
  dist/tools/fixdep/.gitignore
  dist/tools/fixdep/Makefile
  dist/tools/fixdep/README.md
  dist/tools/fixdep/fixdep.c
  dist/tools/fixdep/fixdep_riot.patch
  dist/tools/whitespacecheck/ignore_list.txt
  makefiles/kconfig.mk
  makefiles/tools/fixdep.inc.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14627 sys/ps: Improve robustness against string table errors.
  sys/ps/ps.c
Labels: CI: ready for build, Type: bug

#14724 boards: use common Makefile.include for cc2538 boards
  boards/cc2538dk/Makefile.include
  boards/cc2538dk/dist/board.resc
  boards/cc2538dk/dist/debug.sh
  boards/cc2538dk/dist/flash.sh
  boards/cc2538dk/dist/reset.sh
  boards/common/cc2538/Makefile.include
  boards/common/cc2538/dist/hw_reset.seg
  boards/common/remote/Makefile.include
  boards/common/remote/dist/debug.sh
  boards/common/remote/dist/flash.sh
  boards/common/remote/dist/reset.sh
  boards/omote/Makefile.include
  boards/openmote-b/Makefile.include
  boards/openmote-b/dist/hw_reset.seg
  boards/openmote-cc2538/Makefile.include
  makefiles/tools/cc2538-bsl.inc.mk
Labels: Area: boards, CI: ready for build, Type: cleanup

#14712 periph/gpio: clarify behavior of gpio_irq_enable()
  drivers/include/periph/gpio.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: API change, Process: needs >1 ACK, Type: enhancement

#14563 cpu/sam0_common: GPIO: use bitarithm_test_and_clear()
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14564 cpu/stm32: GPIO: use bitarithm_test_and_clear()
  cpu/stm32/periph/gpio_all.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14743 gnrc_sixlowpan_iphc: fix issues found by Coverity scan
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
Labels: Area: network, CI: ready for build, Type: bug

#14711 cpu/sam0_common: GPIO: ignore stale interrupts
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: bug

#14746 examples/lorawan: fix typo in automatic test script
  examples/lorawan/tests/01-run.py
Labels: Area: examples, CI: ready for build, CI: skip compile test, Type: cleanup

#14745 nanocoap: validate input with NDEBUG
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, CI: ready for build, CI: run tests, Type: bug

#14193 pkg/lvgl: bump to v7
  pkg/lvgl/Makefile
  pkg/lvgl/Makefile.dep
  pkg/lvgl/Makefile.lvgl_module
  pkg/lvgl/include/lv_conf.h
  tests/pkg_lvgl/main.c
Labels: Area: pkg, CI: ready for build

#14742 tests/[xz]timer_msg: check result of thread_create()
  tests/xtimer_msg/main.c
  tests/ztimer_msg/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: bug

#14748 cpu/cc2538/timer: fix 32 bit timer reload value
  cpu/cc2538/periph/timer.c
Labels: Area: cpu, CI: ready for build, Type: bug

#14747 drivers/sps30: Update units of measurement
  drivers/include/sps30.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: bug

#14741 cpu/fe310: add unified rtt configuration
  boards/hifive1/include/periph_conf.h
  boards/hifive1b/include/periph_conf.h
  cpu/fe310/include/periph_cpu.h
  cpu/fe310/periph/rtt.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14740 gh-actions: rename release test artifacts
  .github/workflows/release-test.yml
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: enhancement

#14113 drivers/at86rf2xx; spi security module (AES)
  drivers/at86rf2xx/Makefile
  drivers/at86rf2xx/aes_spi.c
  drivers/at86rf2xx/include/at86rf2xx_aes.h
  makefiles/pseudomodules.inc.mk
  tests/driver_at86rf2xx_aes/Makefile
  tests/driver_at86rf2xx_aes/Makefile.ci
  tests/driver_at86rf2xx_aes/main.c
  tests/driver_at86rf2xx_aes/tests/01-run.py
Labels: Area: security, CI: ready for build, Type: new feature

#14751 tests/periph_gpio: add automatic GPIO test cmd
  cpu/lm4f120/periph/gpio.c
  tests/periph_gpio/main.c
Labels: Area: tests, CI: ready for build, Type: enhancement

#14761 core/byteorder: Add byteorder_bebuftohll() and inverse
  core/include/byteorder.h
  sys/include/unaligned.h
Labels: Area: core, Area: sys, CI: ready for build, Type: enhancement

#14769 tests/driver_at86rf2xx_aes: only run CI test on whitelisted boards
  tests/driver_at86rf2xx_aes/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests, Type: bug

#14774 cpu: Use thread_getpid() and thread_get_active() instead of sched_active_*
  cpu/arm7_common/arm_cpu.c
  cpu/atmega_common/thread_arch.c
  cpu/cortexm_common/thread_arch.c
  cpu/fe310/thread_arch.c
  cpu/mips32r2_common/newlib_syscalls_mips_uhi/syscalls.c
  cpu/mips32r2_common/thread_arch.c
  cpu/msp430_common/cpu.c
  cpu/msp430_common/include/cpu.h
  cpu/native/irq_cpu.c
  cpu/native/native_cpu.c
  cpu/native/syscalls.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14733 cpu/lpc23xx: RTC: cleanup
  cpu/lpc23xx/periph/rtc.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14594 cpu/stm32: Clean up / fix periph_eth
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f767zi/include/periph_conf.h
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/eth.c
  drivers/stm32_eth/Makefile
  drivers/stm32_eth/Makefile.dep
  drivers/stm32_eth/doc.txt
  drivers/stm32_eth/stm32_eth.c
  makefiles/pseudomodules.inc.mk
Labels: Area: drivers, Area: network, CI: ready for build, Type: bug, Type: cleanup

#13746 netdev: add netdev_register() to keep track of netdev IDs
  Makefile.dep
  drivers/at86rf215/at86rf215.c
  drivers/at86rf2xx/at86rf2xx.c
  drivers/dose/dose.c
  drivers/include/at86rf215.h
  drivers/include/at86rf2xx.h
  drivers/include/dose.h
  drivers/include/net/netdev.h
  makefiles/pseudomodules.inc.mk
  pkg/lwip/contrib/lwip.c
  pkg/openthread/contrib/openthread.c
  pkg/openwsn/contrib/openwsn.c
  sys/net/gnrc/netif/init_devs/auto_init_at86rf215.c
  sys/net/gnrc/netif/init_devs/auto_init_at86rf2xx.c
  sys/net/gnrc/netif/init_devs/auto_init_dose.c
  tests/driver_at86rf2xx/main.c
  tests/driver_at86rf2xx_aes/main.c
Labels: Area: network, CI: ready for build, Type: new feature

#14464 Convert remaining Python2 users to Python3
  dist/tools/buildsystem_sanity_check/save_all_dependencies_resolution_variables.sh
  dist/tools/compile_test/compile_test.py
  dist/tools/esptool/gen_esp32part.py
  dist/tools/pyterm/setup.py
Labels: Area: tools, CI: ready for build, CI: run tests, Type: cleanup

#14776 makefiles/openocd-adapters/iotlab: default to JTAG transport
  makefiles/tools/openocd-adapters/iotlab.inc.mk
Labels: Area: boards, Area: build system, CI: ready for build, Type: bug

#14753 makefiles/info-global.inc.mk: include FEATURES_CONFLICTS
  Makefile.include
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14775 pkg/tinycbor: bump to v0.5.3
  pkg/tinycbor/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#14355 cpu/cortexm_common: use mpu stack guard if DEVELHELP is enabled
  cpu/cortexm_common/Makefile.dep
  makefiles/features_modules.inc.mk
Labels: Area: cpu, CI: ready for build, CI: run tests, Platform: ARM, Type: enhancement

#14779 cpu/stm32/f1/rtt: fixes and improvements
  cpu/stm32/periph/rtt_f1.c
Labels: Area: cpu, Area: timers, CI: ready for build, Type: bug

#14763 cpu/stm32/vectors/vectors_f3: a small fix for STM32F334x8
  cpu/stm32/vectors/vectors_f3.c
Labels: Area: cpu, CI: ready for build, Type: bug

#14764 cpu/stm32/periph/dma: add support for STM32F3
  cpu/stm32/periph/dma.c
  cpu/stm32/periph/spi.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#14371 ieee802154/radio_hal: introduce Radio HAL for IEEE802.15.4 compatible radios
  sys/include/net/ieee802154/radio.h
Labels: Area: drivers, Area: network, CI: ready for build, Type: new feature

#14783 sys/{ztimer, xtimer}: Fix issues with xtimer_on_ztimer
  Makefile.dep
  sys/include/xtimer.h
  sys/include/xtimer/tick_conversion.h
  sys/include/ztimer.h
Labels: Area: timers, CI: ready for build, Type: bug

#14785 cpu/cc26x2_cc13x2: remove unnecessary pm.c
  cpu/cc26x2_cc13x2/pm.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#14784 boards/common/[atmega|arduino-atmega]: use weak for common functions
  boards/common/arduino-atmega/led_init.c
  boards/common/atmega/board.c
Labels: Area: boards, CI: ready for build, Impact: minor, Type: bug

#14794 stm32: Add define for when DMA channel selection is not supported
  cpu/stm32/include/periph_cpu.h
Labels: CI: ready for build, Impact: minor, Type: cleanup

#14786 cpu/[esp/atmega]_common: check if other STDIO implementation is selected
  cpu/atmega_common/Makefile.dep
  cpu/esp_common/Makefile.dep
Labels: Area: build system, CI: ready for build, Type: bug

#14789 pkg/cmsis-[dsp/nn]: cleanup makefiles
  pkg/cmsis-dsp/Makefile
  pkg/cmsis-dsp/Makefile.cmsis-dsp
  pkg/cmsis-dsp/Makefile.dep
  pkg/cmsis-dsp/Makefile.include
  pkg/cmsis-nn/Makefile
  pkg/cmsis-nn/Makefile.cmsis-nn
  pkg/cmsis-nn/Makefile.dep
  pkg/cmsis-nn/Makefile.include
Labels: Area: build system, Area: pkg, CI: ready for build, Type: cleanup

#14772 cpu/esp: Use API to access sched internals
  cpu/esp8266/vendor/esp-gdbstub/gdbstub.c
  cpu/esp8266/vendor/esp-idf/esp8266/source/esp_wifi_os_adapter.c
  cpu/esp_common/freertos/queue.c
  cpu/esp_common/syscalls.c
  cpu/esp_common/thread_arch.c
Labels: CI: ready for build, Platform: ESP, Type: cleanup

#14798 sched: Remove extra mpu_enable during context switch
  core/sched.c
Labels: Area: core, CI: ready for build, Impact: minor, Type: cleanup

#14765 boards/nucleo-f303k8: DMA feature added
  boards/nucleo-f303k8/Kconfig
  boards/nucleo-f303k8/Makefile.features
  boards/nucleo-f303k8/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#14767 boards/common/blxxxpill: DMA feature added
  boards/common/blxxxpill/Kconfig
  boards/common/blxxxpill/Makefile.features
  boards/common/blxxxpill/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: new feature

#14428 boards/hifive1b: add support for openocd programmer
  boards/hifive1b/Makefile.include
  boards/hifive1b/dist/openocd.cfg
Labels: Area: boards, Area: tools, CI: ready for build

#14547 drivers/sx127x: pkg/semtech-loramac: replace xtimer by ztimer
  boards/lobaro-lorabox/include/board.h
  boards/lobaro-lorabox/include/periph_conf.h
  drivers/include/sx127x.h
  drivers/sx127x/Makefile.dep
  drivers/sx127x/sx127x.c
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_internal.c
  drivers/sx127x/sx127x_netdev.c
  pkg/semtech-loramac/Makefile.dep
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  pkg/semtech-loramac/contrib/semtech_loramac_timer.c
  pkg/semtech-loramac/doc.txt
  pkg/semtech-loramac/include/semtech-loramac/timer.h
  sys/ztimer/auto_init.c
Labels: Area: LoRa, Area: drivers, Area: pkg, CI: ready for build, Type: enhancement

#14806 saml1x: Remove MPU feature
  cpu/saml1x/Kconfig
  cpu/saml1x/Makefile.features
Labels: CI: ready for build, Impact: minor, Type: bug

#14813 gh-actions: rename release test artifacts (part 2)
  .github/workflows/release-test.yml
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: enhancement

#14793 pkg/tinydtls: enforce the selection of a crypto secure PRNG
  examples/dtls-echo/Makefile
  examples/dtls-sock/Makefile
  pkg/tinydtls/Makefile.dep
  pkg/tinydtls/Makefile.include
  pkg/tinydtls/doc.txt
  sys/Makefile.include
  sys/random/Makefile.include
  tests/pkg_tinydtls_sock_async/Makefile
Labels: Area: build system, CI: ready for build, Type: enhancement

#14574 uncrustify-riot.cfg: Don't indent switch cases
  core/thread_flags.c
  uncrustify-riot.cfg
Labels: Area: tools, CI: ready for build, Impact: minor, Process: needs >1 ACK, Type: bug

#12600 drivers/at86rf2xx: Fix L2 addr genration/handling
  drivers/at86rf2xx/at86rf2xx.c
Labels: Area: drivers, CI: ready for build, Type: bug

#14760 cpu/sam0_common: ADC: add support for samd5x/same5x
  boards/same54-xpro/Kconfig
  boards/same54-xpro/Makefile.features
  boards/same54-xpro/include/periph_conf.h
  cpu/sam0_common/periph/adc.c
  cpu/samd5x/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Type: new feature

#14819 boards/nucleo-l452re: use common L4 clock configuration
  boards/nucleo-l452re/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#14781 boards/yarm: Support for YARM board
  boards/yarm/Kconfig
  boards/yarm/Makefile
  boards/yarm/Makefile.dep
  boards/yarm/Makefile.features
  boards/yarm/Makefile.include
  boards/yarm/board.c
  boards/yarm/doc.txt
  boards/yarm/include/board.h
  boards/yarm/include/periph_conf.h
  cpu/saml21/Kconfig
  examples/lua_REPL/Makefile.ci
  tests/bench_xtimer/Makefile
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#14827 Pr/libc/picolibc
  Makefile.dep
  core/include/thread.h
  core/sched.c
  core/thread.c
  cpu/arm7_common/arm7_init.c
  cpu/cortexm_common/Makefile.dep
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/cortexm_common/vectors_cortexm.c
  cpu/fe310/Makefile
  cpu/fe310/Makefile.dep
  cpu/fe310/cpu.c
  cpu/fe310/ldscripts/fe310_base.ld
  cpu/fe310/nano/nanostubs.c
  cpu/fe310/start.S
  examples/filesystem/main.c
  makefiles/docker.inc.mk
  makefiles/libc/picolibc.mk
  makefiles/pseudomodules.inc.mk
  makefiles/stdio.inc.mk
  sys/Makefile.include
  sys/log/log_color/log_module.h
  sys/picolibc_syscalls_default/Makefile
  sys/picolibc_syscalls_default/Makefile.include
  sys/picolibc_syscalls_default/syscalls.c
  sys/posix/include/fcntl.h
  sys/posix/include/sys/select.h
  sys/progress_bar/progress_bar.c
  sys/shell/commands/sc_sntp.c
  sys/shell/shell.c
  tests/bloom_bytes/main.c
  tests/pkg_fatfs_vfs/main.c
  tests/rng/test.c
  tests/unittests/tests-vfs/tests-vfs-mount-constfs.c
Labels: Area: sys, CI: ready for build, Type: new feature

#14782 cpu/sam0_common: add all parts to Kconfig
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/dist/kconfig_gen.sh
  cpu/sam0_common/include/cpu_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/adc.c
  cpu/sam0_common/periph/cpuid.c
  cpu/sam0_common/periph/dma.c
  cpu/sam0_common/periph/flashpage.c
  cpu/sam0_common/periph/gpio.c
  cpu/sam0_common/periph/i2c.c
  cpu/sam0_common/periph/rtc_rtt.c
  cpu/sam0_common/periph/spi.c
  cpu/sam0_common/periph/uart.c
  cpu/sam0_common/periph/usbdev.c
  cpu/sam0_common/periph/wdt.c
  cpu/samd21/Kconfig
  cpu/samd21/Kconfig.samd21
  cpu/samd21/Kconfig.samr21
  cpu/samd21/Makefile.features
  cpu/samd21/Makefile.include
  cpu/samd5x/Kconfig
  cpu/samd5x/Kconfig.samd51
  cpu/samd5x/Kconfig.same54
  cpu/samd5x/Makefile.features
  cpu/samd5x/Makefile.include
  cpu/saml1x/Kconfig
  cpu/saml1x/Kconfig.saml10
  cpu/saml1x/Kconfig.saml11
  cpu/saml1x/Makefile.features
  cpu/saml1x/Makefile.include
  cpu/saml21/Kconfig
  cpu/saml21/Kconfig.saml21
  cpu/saml21/Kconfig.samr30
  cpu/saml21/Kconfig.samr34
  cpu/saml21/Makefile.features
  cpu/saml21/Makefile.include
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#14838 net/gnrc/rpl: fix default route lifetime
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
Labels: Area: network, CI: ready for build, Type: bug

#14833 tests: Cleanup access to internal variables
  tests/bench_runtime_coreapis/main.c
  tests/bench_thread_flags_pingpong/main.c
  tests/cond_order/main.c
  tests/driver_ccs811_full/main.c
  tests/driver_hmc5883l/main.c
  tests/driver_itg320x/main.c
  tests/driver_qmc5883l/main.c
  tests/event_wait_timeout/main.c
  tests/gnrc_ipv6_nib/mockup_netif.c
  tests/gnrc_ipv6_nib_6ln/mockup_netif.c
  tests/gnrc_ndp/main.c
  tests/gnrc_sixlowpan_frag/main.c
  tests/gnrc_sock_ip/stack.c
  tests/gnrc_sock_udp/stack.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_tcp/main.c
  tests/lwip_sock_udp/stack.c
  tests/mutex_order/main.c
  tests/netdev_test/main.c
  tests/nimble_l2cap/main.c
  tests/periph_spi/main.c
  tests/periph_timer_short_relative_set/main.c
  tests/pthread_rwlock/main.c
  tests/rmutex/main.c
  tests/rmutex_cpp/main.cpp
  tests/socket_zep/main.c
  tests/thread_flags_xtimer/main.c
  tests/thread_msg/main.c
  tests/thread_msg_block_race/main.c
  tests/thread_msg_block_w_queue/main.c
  tests/thread_msg_block_wo_queue/main.c
  tests/thread_msg_bus/main.c
  tests/thread_msg_seq/main.c
  tests/thread_race/main.c
  tests/trickle/main.c
  tests/unittests/tests-core/tests-core-ringbuffer.c
  tests/xtimer_msg_receive_timeout/main.c
Labels: Area: tests, CI: ready for build, Type: cleanup

#14839 board/cc2538dk: Restore renode config
  boards/cc2538dk/dist/board.resc
Labels: Area: boards, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#14836 cpu/stm32g4: add transition phase when raising +80MHz clock
  boards/common/stm32/include/g4/cfg_clock_default.h
  cpu/stm32/stmclk/stmclk_gx.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14146 tests/periph_rtt_min: add test to figure out RTT_MIN_OFFSET
  tests/periph_rtt_min/Makefile
  tests/periph_rtt_min/README.md
  tests/periph_rtt_min/main.c
  tests/periph_rtt_min/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests

#14038 mtd: add page addressed operations to allow access > 4GiB on SD cards
  cpu/esp_common/periph/flash.c
  drivers/at24cxxx/at24cxxx.c
  drivers/at24cxxx/mtd/mtd.c
  drivers/at25xxx/at25xxx.c
  drivers/at25xxx/mtd/mtd.c
  drivers/include/at24cxxx.h
  drivers/include/at25xxx.h
  drivers/include/mtd.h
  drivers/mtd/mtd.c
  drivers/mtd_sdcard/mtd_sdcard.c
  drivers/mtd_spi_nor/mtd_spi_nor.c
  pkg/fatfs/fatfs_diskio/mtd/mtd_diskio.c
  pkg/littlefs/fs/littlefs_fs.c
  pkg/littlefs2/fs/littlefs2_fs.c
  tests/pkg_fatfs_vfs/Makefile.ci
Labels: Area: fs, CI: ready for build, CI: run tests, Impact: major, Type: bug, Type: new feature

#14837 cpu: boards: stm32gx: improve and add Kconfig clock configuration
  boards/common/stm32/Kconfig
  boards/common/stm32/Kconfig.g0
  boards/common/stm32/Kconfig.g4
  boards/common/stm32/include/g0/cfg_clock_default.h
  boards/common/stm32/include/g4/cfg_clock_default.h
  boards/nucleo-g070rb/Kconfig
  boards/nucleo-g070rb/include/periph_conf.h
  boards/nucleo-g474re/Kconfig
  boards/nucleo-g474re/include/periph_conf.h
  cpu/stm32/stmclk/stmclk_gx.c
Labels: Area: boards, Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14842 picolibc: enable multiple heaps
  makefiles/libc/picolibc.mk
  sys/picolibc_syscalls_default/syscalls.c
Labels: Area: sys, CI: ready for build, Type: enhancement

#12451 cpu/native: Allow Access to Hardware GPIO Pins on Linux
  cpu/native/Kconfig
  cpu/native/Makefile.dep
  cpu/native/Makefile.features
  cpu/native/include/gpiodev_linux.h
  cpu/native/include/periph_conf.h
  cpu/native/include/periph_cpu.h
  cpu/native/include/spidev_linux.h
  cpu/native/periph/gpio_linux.c
  cpu/native/periph/gpio_mock.c
  cpu/native/periph/pm.c
  cpu/native/periph/spidev_linux.c
  cpu/native/startup.c
  drivers/at86rf2xx/aes_spi.c
  tests/driver_at86rf2xx_aes/main.c
  tests/driver_grove_ledbar/Makefile
  tests/driver_hd44780/Makefile
  tests/driver_my9221/Makefile
  tests/periph_gpio/Makefile
Labels: CI: ready for build, Platform: native, Type: new feature

#14788 fuzzing: select gnrc_pktbuf_malloc implementation
  Makefile.dep
  sys/Makefile.include
  sys/net/gnrc/pktbuf/Makefile.include
Labels: Area: build system, CI: ready for build, Type: bug

#14458 vagrant: add Vagrantfile to test native in FreeBSD
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/vagrant/freebsd/README.md
  dist/tools/vagrant/freebsd/Vagrantfile
Labels: Area: tools, CI: ready for build, CI: skip compile test, OS: FreeBSD, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#14770 net/netif: move gnrc_netif_addr_to/from_str() to netif
  sys/include/net/gnrc/netif.h
  sys/include/net/netif.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/netif/netif_util.c
  tests/netif/Makefile
  tests/netif/Makefile.ci
  tests/netif/common.h
  tests/netif/main.c
  tests/netif/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: cleanup

#14818 drivers/sps30: Add sleep mode
  drivers/include/sps30.h
  drivers/sps30/sps30.c
  tests/driver_sps30/main.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#14718 cortexm_common: Add thread info to hard fault handler
  cpu/cortexm_common/vectors_cortexm.c
  tests/pkg_fatfs_vfs/Makefile.ci
Labels: CI: ready for build, Platform: ARM, Type: enhancement

#14854 fe310: Remove timer initialization from IRQ code
  cpu/fe310/irq_arch.c
Labels: CI: ready for build, Platform: RISC-V, Type: cleanup

#14815 boards/saml1x: add openocd.cfg
  boards/common/saml1x/Makefile.include
  boards/common/saml1x/dist/openocd.cfg
Labels: Area: build system, CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#14849 cpu/stm32/periph/adc: remove MAX_ADC_SPEED from implementations where it is not used
  cpu/stm32/periph/adc_f0.c
  cpu/stm32/periph/adc_l0.c
  cpu/stm32/periph/adc_l1.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#14824 net/skald: Expose configurations to Kconfig
  sys/include/net/skald.h
  sys/net/Kconfig
  sys/net/ble/Kconfig
  sys/net/ble/skald/Kconfig
  sys/net/ble/skald/skald.c
Labels: Area: BLE, Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14832 sys: Cleanup access to internal variables
  sys/can/isotp/isotp.c
  sys/cpp11-compat/condition_variable.cpp
  sys/cpp11-compat/include/riot/condition_variable.hpp
  sys/cpp11-compat/thread.cpp
  sys/include/event.h
  sys/include/net/gnrc.h
  sys/include/net/gnrc/neterr.h
  sys/net/application_layer/cord/ep/cord_ep.c
  sys/net/application_layer/cord/lc/cord_lc.c
  sys/net/application_layer/emcute/emcute.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netreg/gnrc_netreg.c
  sys/net/gnrc/network_layer/ipv6/ext/frag/gnrc_ipv6_ext_frag.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/transport_layer/udp/gnrc_udp.c
  sys/net/network_layer/fib/fib.c
  sys/newlib_syscalls_default/syscalls.c
  sys/pipe/pipe.c
  sys/posix/pthread/pthread.c
  sys/posix/pthread/pthread_barrier.c
  sys/posix/pthread/pthread_cond.c
  sys/posix/pthread/pthread_rwlock.c
  sys/posix/sockets/posix_sockets.c
  sys/ps/ps.c
  sys/schedstatistics/schedstatistics.c
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
  sys/usb/usbus/usbus.c
  sys/xtimer/xtimer.c
  sys/ztimer/util.c
Labels: Area: sys, CI: ready for build, Type: cleanup

#14814 pkg/wolfssl: bump version to 4.5.0
  pkg/wolfssl/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#7664 LWMAC: add re-initialize radio support.
  sys/include/net/gnrc/lwmac/lwmac.h
  sys/include/net/gnrc/mac/types.h
  sys/net/gnrc/link_layer/lwmac/Kconfig
  sys/net/gnrc/link_layer/lwmac/lwmac.c
  sys/net/gnrc/link_layer/lwmac/tx_state_machine.c
Labels: Area: network, CI: ready for build, Type: bug

#14757 socket_zep: fix reboot
  cpu/native/startup.c
Labels: CI: ready for build, Platform: native, Type: bug

#14858 pkg/{lwip,ubasic}: call submake with '+'
  pkg/lwip/Makefile
  pkg/ubasic/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor

#14851 compile_and_test_for_board.py: add optional JUnit XML support
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
Labels: Area: tests, Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14860 STM32F3 familly ADC implementation
  cpu/stm32/include/periph/f3/periph_cpu.h
  cpu/stm32/periph/adc_f3.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#14845 tests/driver_netdev_common: add netdev_default
  cpu/atmega128rfa1/Makefile.dep
  cpu/atmega256rfr2/Makefile.dep
  cpu/esp32/doc.txt
  cpu/esp32/esp-eth/doc.txt
  cpu/esp_common/Makefile.dep
  tests/driver_at86rf215/Makefile
  tests/driver_atwinc15x0/Makefile
  tests/driver_dose/Makefile
  tests/driver_mrf24j40/Makefile
  tests/driver_netdev_common/Makefile
  tests/driver_netdev_common/Makefile.netdev.mk
  tests/driver_w5100/Makefile
  tests/driver_xbee/Makefile
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14834 tests/conn_can: Add to README
  tests/conn_can/README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#14873 boards/yarm: support debugging via openocd
  boards/yarm/dist/openocd.cfg
Labels: Area: boards, CI: ready for build, CI: skip compile test, Impact: minor, Type: new feature

#14846 Declare adc_config[] like others peripherals configuration arrays
  boards/airfy-beacon/include/periph_conf.h
  boards/common/blxxxpill/include/periph_conf.h
  boards/common/iotlab/include/periph_conf_common.h
  boards/im880b/include/periph_conf.h
  boards/msbiot/include/periph_conf.h
  boards/nucleo-f030r8/include/periph_conf.h
  boards/nucleo-f031k6/include/periph_conf.h
  boards/nucleo-f042k6/include/periph_conf.h
  boards/nucleo-f070rb/include/periph_conf.h
  boards/nucleo-f072rb/include/periph_conf.h
  boards/nucleo-f091rc/include/periph_conf.h
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f401re/include/periph_conf.h
  boards/nucleo-f410rb/include/periph_conf.h
  boards/nucleo-f411re/include/periph_conf.h
  boards/nucleo-f412zg/include/periph_conf.h
  boards/nucleo-f413zh/include/periph_conf.h
  boards/nucleo-f429zi/include/periph_conf.h
  boards/nucleo-f446re/include/periph_conf.h
  boards/nucleo-l031k6/include/periph_conf.h
  boards/nucleo-l073rz/include/periph_conf.h
  boards/nucleo-l152re/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nz32-sc151/include/periph_conf.h
  boards/olimexino-stm32/include/periph_conf.h
  boards/stm32f030f4-demo/include/periph_conf.h
  boards/stm32f0discovery/include/periph_conf.h
  boards/stm32f4discovery/include/periph_conf.h
  boards/ublox-c030-u201/include/periph_conf.h
  boards/weact-f411ce/include/periph_conf.h
  boards/yunjia-nrf51822/include/periph_conf.h
  cpu/nrf51/include/periph_cpu.h
  cpu/nrf51/periph/adc.c
  cpu/stm32/periph/adc_f0.c
  cpu/stm32/periph/adc_f1.c
  cpu/stm32/periph/adc_f2.c
  cpu/stm32/periph/adc_f4.c
  cpu/stm32/periph/adc_l0.c
  cpu/stm32/periph/adc_l1.c
  cpu/stm32/periph/adc_l4.c
Labels: Area: boards, CI: ready for build, Type: cleanup

#13003 cpu/lpc2387: timer: implement timer_set()
  cpu/lpc23xx/include/periph_cpu.h
  cpu/lpc23xx/periph/timer.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#14881 dist/tools/tapsetup: fix minor typo
  dist/tools/tapsetup/tapsetup
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#14882 tools/tapsetup: fix typo in function name
  dist/tools/tapsetup/tapsetup
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#14875 release-notes: add 2020.07.1 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: release cycle, Type: enhancement

#14850 gh-actions: initial import of a label-checker workflow
  .github/workflows/check-labels.yml
Labels: Area: CI, Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#14884 release-notes: add 2020.07.1 release notes [backport 2020.07]
  VERSION
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: release backport, Process: release cycle, Type: enhancement

#14868 fe310: Merge and optimize trap_entry with irq_arch
  cpu/fe310/intr.S
  cpu/fe310/irq_arch.c
Labels: CI: ready for build, Platform: RISC-V, Type: enhancement

#14871 gh-actions: test-on-iotlab: additionally report as XML
  .github/workflows/test-on-iotlab.yml
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: enhancement

#14766 cpu/native: RTC: implement rtc_set_alarm()
  cpu/native/Makefile.dep
  cpu/native/periph/rtc.c
  tests/periph_rtc/tests/01-run.py
Labels: Area: cpu, CI: ready for build, Platform: native, Type: new feature

#14885 gnrc_ipv6_nib: don't pull in RDNSS support with sock_dns
  Makefile.dep
  examples/gnrc_border_router/Makefile
Labels: Area: build system, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 5-documentation, Type: cleanup

#14828 tests/candev: Prevent user from attempting to use native can interface on non-native board
  tests/candev/Makefile
  tests/candev/main.c
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#14888 fe310: Use read-modify-store instruction for GPIO bitwise operations
  cpu/fe310/periph/gpio.c
Labels: Area: drivers, CI: ready for build, Platform: RISC-V, Type: cleanup, Type: enhancement

#14901 picolibc: fix build for fe310
  sys/picolibc_syscalls_default/syscalls.c
Labels: CI: ready for build, Impact: minor, Type: bug

#14780 cpu/efm32/timer: cleanups and improvements
  boards/common/slwstk6000b/include/periph_conf.h
  boards/ikea-tradfri/include/board.h
  boards/ikea-tradfri/include/periph_conf.h
  boards/slstk3401a/include/board.h
  boards/slstk3401a/include/periph_conf.h
  boards/slstk3402a/include/board.h
  boards/slstk3402a/include/periph_conf.h
  boards/sltb001a/include/board.h
  boards/sltb001a/include/periph_conf.h
  boards/stk3600/include/board.h
  boards/stk3600/include/periph_conf.h
  boards/stk3700/include/board.h
  boards/stk3700/include/periph_conf.h
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/timer.c
  tests/periph_timer/Makefile
  tests/periph_timer_periodic/main.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#14887 fe310: Add custom PLIC driver as peripheral
  CODEOWNERS
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.dep
  cpu/fe310/Makefile.features
  cpu/fe310/include/cpu.h
  cpu/fe310/include/plic.h
  cpu/fe310/include/vendor/plic.h
  cpu/fe310/irq_arch.c
  cpu/fe310/periph/gpio.c
  cpu/fe310/periph/plic.c
  cpu/fe310/periph/rtt.c
  cpu/fe310/periph/uart.c
  cpu/fe310/vendor/plic_driver.c
  kconfigs/Kconfig.features
Labels: Area: drivers, CI: ready for build, Platform: RISC-V, Type: enhancement

#14688 drivers/stm32_eth: add 'NETDEV_EVENT_LINK_UP' event
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/eth.c
  makefiles/pseudomodules.inc.mk
  pkg/lwip/Makefile.dep
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement
