Repository RIOT-OS/RIOT, pull requests merged in 2020-04, with the labels that each got.

#13773 tests/unittests/uri_parse: use less confusing assert message
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style

#13776 tests: add arduino-nano to Makefile.ci
  tests/driver_dose/Makefile.ci
  tests/driver_mrf24j40/Makefile.ci
  tests/driver_netdev_common/Makefile.ci
  tests/driver_w5100/Makefile.ci
Labels: Area: CI, CI: ready for build, Type: bug

#13760 drivers/include/ads101x.h: Tagged Compile Time Parameters
  drivers/include/ads101x.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#13777 sys/uri_parser: initialize has_authority in _consume_scheme()
  sys/uri_parser/uri_parser.c
Labels: Area: sys, CI: ready for build, CI: run tests, Impact: minor, Type: bug

#13770 drivers/include/dose.h : Compile Configs
  drivers/include/dose.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#13775 drivers/include/ds1307.h : Compile Configs
  drivers/include/ds1307.h
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: enhancement

#13781 .gitignore: add emacs backup files
  .gitignore
Labels: CI: ready for build, CI: skip compile test, Impact: minor, Type: enhancement

#13778 drivers/include/fxos8700.h : Compile Configs
  drivers/include/fxos8700.h
Labels: Area: doc, CI: ready for build, Impact: minor, Type: enhancement

#13764 cpu/saml1x: select buck voltage regulator when possible
  boards/common/saml1x/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/samd21/cpu.c
  cpu/samd5x/cpu.c
  cpu/saml1x/cpu.c
  cpu/saml21/cpu.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#10083 drivers: add driver for Honeywell HMC5883L magnetometer
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/hmc5883l/Makefile
  drivers/hmc5883l/hmc5883l.c
  drivers/hmc5883l/hmc5883l_saul.c
  drivers/hmc5883l/include/hmc5883l_params.h
  drivers/hmc5883l/include/hmc5883l_regs.h
  drivers/include/hmc5883l.h
  drivers/saul/init_devs/auto_init_hmc5883l.c
  drivers/saul/init_devs/init.c
  makefiles/pseudomodules.inc.mk
  tests/driver_hmc5883l/Makefile
  tests/driver_hmc5883l/README.md
  tests/driver_hmc5883l/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#13782 gnrc/ipv6: Group IPv6 related Kconfig files
  sys/net/gnrc/Kconfig
  sys/net/gnrc/network_layer/ipv6/Kconfig
Labels: Area: Kconfig, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#13779 sock: amend API to iterate over stack-internal buffer chunks
  sys/include/net/sock.h
  sys/include/net/sock/dtls.h
  sys/include/net/sock/ip.h
  sys/include/net/sock/udp.h
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_ip/main.c
  tests/gnrc_sock_udp/main.c
Labels: Area: network, CI: ready for build, CI: run tests, Process: API change, Type: enhancement

#13783 cpu/samd5x: work around errata when (re-)initializing DFLL
  cpu/samd5x/cpu.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13664 boards: set samd21-arduino-bootloader as DEFAULT_MODULE
  boards/common/arduino-mkr/Makefile
  boards/common/arduino-mkr/Makefile.dep
  boards/common/samd21-arduino-bootloader/Makefile.dep
  boards/common/samd21-arduino-bootloader/Makefile.include
  boards/common/samd21-arduino-bootloader/reset.c
  boards/common/sodaq/Makefile
  boards/common/sodaq/Makefile.dep
  boards/feather-m0/Makefile
  boards/feather-m0/Makefile.dep
  boards/sodaq-one/Makefile
  boards/sodaq-sara-aff/Makefile
Labels: Area: build system, CI: ready for build, Type: cleanup, Type: enhancement

#13349 build system: Restructure dependency resolution
  Makefile.dep
  Makefile.features
  Makefile.include
  bootloaders/riotboot/Makefile
  doc/doxygen/src/build-system-basics.md
  drivers/Makefile.dep
  makefiles/dependencies_debug.inc.mk
  makefiles/dependency_resolution.inc.mk
  makefiles/features_check.inc.mk
  makefiles/features_modules.inc.mk
  makefiles/info-global.inc.mk
  makefiles/info.inc.mk
  tests/driver_ws281x/Makefile
  tests/minimal/Makefile
  tests/unittests/Makefile
Labels: Area: build system, CI: ready for build, Discussion: RFC, Impact: major, Process: needs >1 ACK, Type: enhancement

#13791 */Makefile.dep: remove usage of DEFAULT_MODULE += stdio%
  boards/common/nrf52/Makefile.include
  boards/feather-nrf52840/Makefile.dep
  boards/hamilton/Makefile.dep
  boards/pinetime/Makefile.dep
  boards/ruuvitag/Makefile.dep
  boards/thingy52/Makefile.dep
  makefiles/stdio.inc.mk
Labels: Area: build system, CI: ready for build, Type: cleanup

#13751 cpu/sam0_common: fix handling of PM_NUM_MODES
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/samd21/include/periph_cpu.h
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  cpu/saml1x/periph/pm.c
  cpu/saml21/include/periph_cpu.h
  cpu/saml21/periph/pm.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13795 boards: pic32*: Add GPIO SAUL configuration
  boards/pic32-clicker/Makefile.dep
  boards/pic32-clicker/include/gpio_params.h
  boards/pic32-wifire/Makefile.dep
  boards/pic32-wifire/include/gpio_params.h
Labels: Area: boards, CI: ready for build, Type: new feature

#13750 drivers/at86rf215: fix reset after deep sleep
  drivers/at86rf215/at86rf215_internal.c
Labels: Area: drivers, CI: ready for build, Type: bug

#13793 riotboot: forward BOARDSDIR
  makefiles/boot/riotboot.mk
Labels: Area: build system, CI: ready for build, Type: bug

#13774 makefiles/dependencies_debug.inc.mk: add CPU_ARCH
  makefiles/dependencies_debug.inc.mk
  makefiles/info-global.inc.mk
Labels: Area: tools, CI: ready for build, Type: bug, Type: cleanup

#13789 sys/uri_parser: check for uri_end instead of 0
  sys/uri_parser/uri_parser.c
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: sys, CI: ready for build, CI: run tests, Impact: minor, Type: bug, Type: enhancement

#13374 sys/usbus: Expose configurations to Kconfig
  sys/include/usb/usbus.h
  sys/usb/Kconfig
  sys/usb/usbus/Kconfig
  sys/usb/usbus/usbus.c
  sys/usb/usbus/usbus_control.c
  sys/usb/usbus/usbus_fmt.c
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13803 uri_parser: terminology strictness
  sys/include/uri_parser.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Reviewed: 5-documentation, Type: bug

#13665 dist/testrunner: Capture number of unittests that passed
  dist/pythonlibs/testrunner/__init__.py
  tests/gnrc_ipv6_ext_frag/tests/01-run.py
  tests/gnrc_rpl_srh/tests/01-run.py
  tests/gnrc_sixlowpan_iphc_w_vrb/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Impact: minor, Type: bug

#13796 cpu/samd5x: don't run DFLL on-demand
  cpu/samd5x/cpu.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#10137 cpu/cortexm_common: Add support for Cortex-M interrupt sub-priorities
  cpu/cortexm_common/cortexm_init.c
  cpu/cortexm_common/include/cpu_conf_common.h
Labels: CI: ready for build, Platform: ARM, Type: enhancement

#13788 drivers/at86rf215: return error when switching state while busy
  drivers/at86rf215/at86rf215.c
  drivers/at86rf215/at86rf215_netdev.c
  drivers/at86rf215/include/at86rf215_internal.h
Labels: Area: drivers, CI: ready for build, Type: bug

#13799 pkg/fatfs: fix day_of_month value of get_fattime()
  pkg/fatfs/fatfs_diskio/mtd/mtd_diskio.c
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: bug

#13786 cpu/saml21: enable buck voltage regulator when possible
  boards/saml21-xpro/include/periph_conf.h
  boards/samr34-xpro/include/periph_conf.h
  cpu/saml21/cpu.c
  cpu/saml21/periph/pm.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13808 boards: pic32*: Update documentation
  boards/pic32-clicker/doc.txt
  boards/pic32-wifire/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#13807 tests: buttons: Fix build failure if BTN0_PIN is not declared
  tests/buttons/main.c
Labels: Area: tests, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13814 tests/libc_newlib: blacklist esp32 boards temporarily
  tests/libc_newlib/Makefile
Labels: Area: cpu, Area: tests, CI: ready for build, Platform: ESP, Type: bug

#13805 nanocoap: add convenience function for adding path elements
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, CI: ready for build, Type: new feature

#13806 sys/net/dhcpv6: fix requesting multiple prefixes
  sys/net/application_layer/dhcpv6/client.c
Labels: Area: network, CI: ready for build, Type: bug

#13810 examples/gnrc_border_router: allow to configure more than one ZEP device
  examples/gnrc_border_router/Makefile
  examples/gnrc_border_router/Makefile.native.conf
Labels: Area: examples, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13734 tests: add test to test RDNSS option handling
  tests/gnrc_ipv6_nib_dns/Makefile
  tests/gnrc_ipv6_nib_dns/Makefile.board.dep
  tests/gnrc_ipv6_nib_dns/Makefile.ci
  tests/gnrc_ipv6_nib_dns/README.md
  tests/gnrc_ipv6_nib_dns/main.c
  tests/gnrc_ipv6_nib_dns/tests/01-run.py
Labels: Area: network, Area: tests, CI: ready for build, Type: enhancement

#13804 uri_parser: Fix and test non-relative recognition
  sys/uri_parser/uri_parser.c
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13817 cpu/lpc2387: fix check for max number of timers
  cpu/lpc2387/periph/timer.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#13794 boards/samd21-bootloader*: small cleanup
  boards/common/arduino-mkr/Makefile.dep
  boards/common/samd21-arduino-bootloader/reset.c
  boards/common/sodaq/Makefile.dep
  boards/feather-m0/Makefile.dep
Labels: Area: boards, Area: build system, CI: ready for build, Type: cleanup

#13821 tinydtls_sock_dtls: remove duplicate dtls_handle_message
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#13719 boards*: remove remaining uses of export with some openocd related variables
  boards/common/frdm/Makefile.include
  boards/common/nrf52/Makefile.include
  boards/hifive1/Makefile.include
  boards/mulle/Makefile.include
  boards/pba-d-01-kw2x/Makefile.include
  boards/phynode-kw41z/Makefile.include
  boards/seeeduino_arch-pro/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/tools/openocd.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Type: cleanup

#13815 net/gcoap: add canonical uri query function names
  sys/include/net/gcoap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/cord/common/cord_common.c
  sys/net/application_layer/cord/ep/cord_ep.c
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 3-testing, Type: cleanup

#13720 native: only export NATIVEINCLUDES in vars.inc.mk
  boards/native/Makefile.include
  cpu/native/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, Platform: native, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11945 drivers: add driver for AT25xxx family of EEPROMs
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/at25xxx/Makefile
  drivers/at25xxx/at25xxx.c
  drivers/at25xxx/include/at25xxx_constants.h
  drivers/at25xxx/include/at25xxx_params.h
  drivers/include/at25xxx.h
  tests/driver_at25xxx/Makefile
  tests/driver_at25xxx/README.md
  tests/driver_at25xxx/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Type: new feature

#13828 examples/gnrc_border_router: use 64-bit prefix with UHCP
  examples/gnrc_border_router/Makefile
Labels: Area: examples, CI: ready for build, CI: skip compile test, Type: bug

#13375 usbus/cdc/acm: Expose configurations to Kconfig
  sys/include/usb/usbus/cdc/acm.h
  sys/usb/usbus/Kconfig
  sys/usb/usbus/cdc/Kconfig
  sys/usb/usbus/cdc/acm/Kconfig
  sys/usb/usbus/cdc/acm/cdc_acm.c
  sys/usb/usbus/cdc/acm/cdc_acm_stdio.c
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#12974 Kconfig: Expose pkg/wakaama configurations
  examples/wakaama/Makefile
  examples/wakaama/README.md
  pkg/Kconfig
  pkg/wakaama/Kconfig
  pkg/wakaama/Makefile.include
  pkg/wakaama/contrib/lwm2m_client.c
  pkg/wakaama/contrib/lwm2m_client_connection.c
  pkg/wakaama/contrib/lwm2m_client_objects.c
  pkg/wakaama/contrib/lwm2m_platform.c
  pkg/wakaama/contrib/objects/device.c
  pkg/wakaama/include/lwm2m_client_config.h
  pkg/wakaama/include/lwm2m_platform.h
Labels: Area: Kconfig, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, TF: Config, Type: new feature

#12663 cpu/fe310: implement driver for watchdog
  cpu/fe310/Makefile.features
  cpu/fe310/include/periph_cpu.h
  cpu/fe310/periph/wdt.c
Labels: Area: cpu, Area: drivers, CI: ready for build, Platform: RISC-V, Type: new feature

#13714 boards/stm32l4: add common clock configuration
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/common/stm32/include/l4/cfg_clock_80_1.h
  boards/nucleo-l412kb/include/periph_conf.h
  boards/nucleo-l432kc/include/periph_conf.h
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nucleo-l496zg/include/periph_conf.h
  boards/p-l496g-cell02/include/periph_conf.h
  boards/stm32l476g-disco/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#13830 sliptty/start_network.sh: don't default to DHCPv6
  dist/tools/sliptty/start_network.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13832 sliptty/start_network.sh: fix with DHCPv6
  dist/tools/sliptty/start_network.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13829 net/nanocoap: remove obsolete functions for addition of Uri-Query option
  sys/include/net/nanocoap.h
Labels: Area: CoAP, CI: ready for build, Type: cleanup

#13276 boards/adafruit-clue: add initial support
  boards/adafruit-clue/Makefile
  boards/adafruit-clue/Makefile.dep
  boards/adafruit-clue/Makefile.features
  boards/adafruit-clue/Makefile.include
  boards/adafruit-clue/board.c
  boards/adafruit-clue/doc.txt
  boards/adafruit-clue/include/board.h
  boards/adafruit-clue/include/gpio_params.h
  boards/adafruit-clue/include/periph_conf.h
  boards/adafruit-clue/reset.c
  examples/default/Makefile
  makefiles/stdio.inc.mk
  makefiles/tools/adafruit-nrfutil.inc.mk
  tests/ssp/Makefile
  tests/unittests/Makefile
Labels: Area: boards, CI: ready for build, Type: new feature

#13833 gnrc_dhcpv6_client: fix for SLIP link-layer
  sys/include/net/arp.h
  sys/net/gnrc/application_layer/dhcpv6/client.c
Labels: Area: network, CI: ready for build, Type: bug

#13194 board/arduino-nano-33-ble: add initial support
  boards/arduino-nano-33-ble/Makefile
  boards/arduino-nano-33-ble/Makefile.dep
  boards/arduino-nano-33-ble/Makefile.features
  boards/arduino-nano-33-ble/Makefile.include
  boards/arduino-nano-33-ble/board.c
  boards/arduino-nano-33-ble/doc.txt
  boards/arduino-nano-33-ble/include/board.h
  boards/arduino-nano-33-ble/include/gpio_params.h
  boards/arduino-nano-33-ble/include/periph_conf.h
  boards/arduino-nano-33-ble/reset.c
  dist/tools/bossa-nrf52/.gitignore
  dist/tools/bossa-nrf52/Makefile
  examples/default/Makefile
  makefiles/tools/bossa.inc.mk
Labels: Area: boards, CI: ready for build, Type: new feature

#13792 pkg/nanopb: fix for proto files with includes
  pkg/nanopb/Makefile.gensrc
  pkg/nanopb/doc.txt
  tests/pkg_nanopb/simple.proto
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13800 pkg/littlefs2: bump version to 2.2
  pkg/littlefs2/Makefile
Labels: Area: pkg, CI: ready for build, CI: run tests, Type: enhancement

#13835 tests: fix for `GNRC_NETIF_SINGLE`
  tests/emcute/Makefile
  tests/gnrc_sock_dns/Makefile
  tests/gnrc_tcp/Makefile
Labels: Area: network, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13801 dist/tools/*/start_network.sh: ensure TUN/TAP interface
  dist/tools/ethos/start_network.sh
  dist/tools/sliptty/start_network.sh
Labels: Area: build system, Area: tools, CI: ready for build, CI: skip compile test, Type: bug

#13797 cpu/samd21: pwm: allow to use channels > 3
  cpu/samd21/periph/pwm.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#13836 gnrc_rpl_srh: use AsyncSniffer for sniffing
  tests/gnrc_rpl_srh/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13716 Makefile.features: provide CPU as a feature
  Makefile.features
Labels: Area: build system, CI: ready for build, Type: new feature

#13715 Kconfig: Add CPU and Board common symbols
  Kconfig
  boards/Kconfig
  cpu/Kconfig
  examples/usbus_minimal/Makefile
  makefiles/kconfig.mk
Labels: Area: Kconfig, CI: ready for build, TF: Config, Type: enhancement

#13314 drivers/mrf24j40: Expose configurations to Kconfig
  drivers/Kconfig.net
  drivers/Makefile.dep
  drivers/include/mrf24j40.h
  drivers/mrf24j40/Kconfig
  drivers/mrf24j40/include/mrf24j40_internal.h
  drivers/mrf24j40/mrf24j40_internal.c
Labels: Area: Kconfig, Area: drivers, CI: ready for build, TF: Config, Type: new feature

#13798 at86rf2xx: implement basic mode (v2)
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/include/at86rf2xx.h
Labels: Area: drivers, CI: ready for build

#13843 Doc: fix typo and extend ws281x documentation
  drivers/include/ws281x.h
Labels: Area: doc, CI: ready for build, Type: enhancement

#13845 drivers/ws281x: Fix dependencies & doc
  drivers/Makefile.dep
  drivers/include/ws281x.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Type: bug

#13847 littlefs2: bump to version 2.2.1
  pkg/littlefs2/Makefile
Labels: Area: fs, CI: ready for build, CI: run tests, CI: skip compile test, Impact: minor

#13850 xtimer: set now pointer correctly in _update_short_timers() loop
  sys/xtimer/xtimer_core.c
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now32_overflow/README.md
  tests/xtimer_now32_overflow/main.c
  tests/xtimer_now32_overflow/tests/01-run.py
Labels: Area: timers, CI: ready for build, Process: needs backport, Type: bug

#13857 cpu/lpc2387: gpio: Fix interrupts on PORT2
  boards/mcb2388/include/board.h
  cpu/lpc2387/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13854 xtimer: set now pointer correctly in _update_short_timers() loop [backport 2020.04]
  sys/xtimer/xtimer_core.c
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now32_overflow/README.md
  tests/xtimer_now32_overflow/main.c
  tests/xtimer_now32_overflow/tests/01-run.py
Labels: Area: timers, CI: ready for build, Process: release backport, Type: bug

#13848 sys/crypto/modes/ccm: handle input_len = 0
  sys/crypto/modes/ccm.c
  sys/include/crypto/modes/ccm.h
  tests/sys_crypto/tests-crypto-modes-ccm.c
Labels: Area: crypto, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13844 boards/msbiot: Use common stm32 serial/programmer settings
  boards/msbiot/Makefile.include
Labels: Area: boards, CI: ready for build, Impact: minor, Type: cleanup

#13784 drivers: Add compile configurations groups and add parameters
  cpu/nrf52/include/nrf802154.h
  drivers/adcxx1c/include/adcxx1c_params.h
  drivers/doc.txt
  drivers/include/ads101x.h
  drivers/include/at.h
  drivers/include/at86rf215.h
  drivers/include/dose.h
  drivers/include/ds1307.h
  drivers/include/ethos.h
  drivers/include/fxos8700.h
  drivers/include/hdc1000.h
  drivers/include/ili9341.h
  drivers/include/kw2xrf.h
  drivers/include/kw41zrf.h
  drivers/include/mag3110.h
  drivers/include/mma8x5x.h
  drivers/include/motor_driver.h
  drivers/include/mpl3115a2.h
  drivers/include/mrf24j40.h
  drivers/include/mtd_sdcard.h
  drivers/include/opt3001.h
  drivers/include/pir.h
  drivers/include/pn532.h
  drivers/include/rn2xx3.h
  drivers/include/slipdev.h
  drivers/include/soft_spi.h
  drivers/include/sps30.h
  drivers/include/sx127x.h
  drivers/include/tcs37727.h
  drivers/include/tmp00x.h
Labels: Area: doc, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#13381 makefiles/sam0.inc.mk: fix detection of JLinkExe
  makefiles/boards/sam0.inc.mk
Labels: Area: toolchain, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13863 tm.h: fix typo
  sys/include/tm.h
Labels: Area: doc, CI: ready for build, Impact: minor, Type: bug

#13864 boards/samr3x-xpro: add riotboot feature
  boards/samr30-xpro/Makefile.features
  boards/samr34-xpro/Makefile.features
Labels: Area: boards, CI: ready for build, Type: new feature

#13851 Allow to define reserved fields in CortexM vector table.
  cpu/cortexm_common/vectors_cortexm.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#10970 make: Allow for true pseudo-submodules
  Makefile.base
Labels: Area: build system, CI: ready for build, Type: bug

#13769 drivers/include/cc110x.h : Tagged compile config
  drivers/include/cc110x.h
Labels: Area: doc, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: cleanup

#13840 cc26xx_cc13xx: fix UART1 initialization
  boards/cc1312-launchpad/include/periph_conf.h
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_prcm.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_uart.h
  cpu/cc26xx_cc13xx/periph/uart.c
Labels: Area: drivers, CI: ready for build, Type: bug

#13867 cc26xx_cc13xx: fix CCFG/FCFG1 register offsets
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_fcfg.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_ccfg.h
Labels: Area: cpu, CI: ready for build, Type: bug

#13880 boards/cc1312-launchpad: fix typo + reword
  boards/cc1312-launchpad/include/periph_conf.h
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test, Impact: minor

#13870 drivers/hdc1000 : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/hdc1000/Kconfig
  drivers/hdc1000/hdc1000.c
  drivers/hdc1000/include/hdc1000_params.h
  drivers/include/hdc1000.h
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13853 tests/xtimer_now32_overflow: simplify
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now32_overflow/main.c
  tests/xtimer_now32_overflow/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Reviewed: 3-testing, Type: bug, Type: cleanup

#13871 Makefile: remove usage of SUBMODULES_NOFORCE
  Makefile.base
  makefiles/periph.mk
  pkg/wolfssl/Makefile.wolfcrypt
  pkg/wolfssl/Makefile.wolfssl
  sys/event/Makefile
  sys/ztimer/Makefile
Labels: Area: build system, CI: ready for build, Type: cleanup

#12415 boards/common/nucleo: Marked board_init as weak
  boards/common/nucleo/board_common_nucleo_init.c
  boards/common/nucleo/include/board_nucleo.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#13882 tests/emcute: add small inter-packet gap between server replies
  tests/emcute/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13883 tests/emcute: add small inter-packet gap between server replies [backport 2020.04]
  tests/emcute/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: release backport, Type: bug

#13876 dist/tools: add sliptty to host-tools
  dist/tools/Makefile
  examples/gnrc_border_router/Makefile.slip.conf
Labels: Area: examples, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13886 drivers/at25xxx: return read/written bytes to match MTD API
  drivers/at25xxx/at25xxx.c
  drivers/include/at25xxx.h
  tests/driver_at25xxx/main.c
Labels: Area: drivers, CI: ready for build, Type: cleanup

#13831 I2C Address Cleanup and Documentation
  drivers/include/bmx055.h
  drivers/include/ds1307.h
  drivers/include/hts221.h
  drivers/include/isl29020.h
  drivers/include/l3g4200d.h
  drivers/include/lpsxxx.h
  drivers/include/mpl3115a2.h
  drivers/include/tcs37727.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 5-documentation, Type: cleanup

#13888 examples/gcoap: fix variable scope
  examples/gcoap/gcoap_cli.c
Labels: Area: CoAP, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#13887 drivers/at25xxx: return read/written bytes to match MTD API [backport 2020.04]
  drivers/at25xxx/at25xxx.c
  drivers/include/at25xxx.h
  tests/driver_at25xxx/main.c
Labels: Area: drivers, CI: ready for build, Process: API change, Process: release backport, Type: cleanup

#13881 drivers/ads101x : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/ads101x/Kconfig
  drivers/ads101x/include/ads101x_params.h
  drivers/include/ads101x.h
Labels: Area: Kconfig, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#13890 examples/gcoap: fix variable scope [backport 2020.04]
  examples/gcoap/gcoap_cli.c
Labels: Area: CoAP, CI: ready for build, Process: release backport, Type: bug

#13157 Add AFL-based fuzzing setup for network modules
  .gitignore
  Makefile.dep
  Makefile.include
  boards/native/Makefile.include
  cpu/native/Makefile.include
  dist/tools/fuzzing/afl.sh
  fuzzing/Makefile.fuzzing_common
  fuzzing/README.md
  fuzzing/gnrc_tcp/Makefile
  fuzzing/gnrc_tcp/input/ack.dat
  fuzzing/gnrc_tcp/input/fin_ack.dat
  fuzzing/gnrc_tcp/input/payload.dat
  fuzzing/gnrc_tcp/input/syn.dat
  fuzzing/gnrc_tcp/main.c
  makefiles/app_dirs.inc.mk
  makefiles/toolchain/afl.inc.mk
  makefiles/vars.inc.mk
  sys/fuzzing/Makefile
  sys/fuzzing/fuzzing.c
  sys/fuzzing/netdev.c
  sys/include/fuzzing.h
  sys/net/gnrc/pktbuf_malloc/gnrc_pktbuf_malloc.c
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
Labels: Area: tests, CI: ready for build, Type: new feature

#13893 nanocoap: export coap_opt_get_uint()
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, CI: ready for build, Impact: minor, Type: enhancement

#13904 sys/crypto/modes/ccm: handle input_len = 0 [backport 2020.04]
  sys/crypto/modes/ccm.c
  sys/include/crypto/modes/ccm.h
  tests/sys_crypto/tests-crypto-modes-ccm.c
Labels: Area: crypto, CI: ready for build, Process: release backport, Type: bug

#13905 tests/xtimer_now32_overflow: simplify [backport 2020.04]
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now32_overflow/main.c
  tests/xtimer_now32_overflow/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Process: release backport, Type: bug, Type: cleanup

#13897 drivers/cc110x : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/cc110x/Kconfig
  drivers/cc110x/cc110x_netdev.c
  drivers/include/cc110x.h
  makefiles/default-radio-settings.inc.mk
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13906 cpu/cc2538: Prevent underflow of the RX FIFO
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf_netdev.c
Labels: Area: cpu, Area: network, CI: ready for build, Reviewed: 3-testing, Type: bug

#13872 doc/creating-modules.md: correct PSEUDOMODULES documentation
  doc/doxygen/src/creating-modules.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: cleanup

#13839 usbus/cdc/ecm: Expose configurations to Kconfig
  sys/include/usb/usbus/cdc/ecm.h
  sys/usb/usbus/cdc/Kconfig
  sys/usb/usbus/cdc/ecm/Kconfig
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
  tests/usbus_cdc_ecm/Kconfig
  tests/usbus_cdc_ecm/Makefile
Labels: Area: Kconfig, CI: ready for build, Type: new feature

#13846 Makefile.include: add $(MAKEFILEDIR) helper and use it
  Makefile.include
  cpu/kinetis/Makefile.include
  tests/cpp_exclude/module_exclude/Makefile.include
  tests/cpp_ext/module/Makefile.include
  tests/external_module_dirs/external_module/Makefile.include
  tests/pkg_utensor/models/Makefile.include
Labels: Area: build system, CI: ready for build, Type: cleanup

#13894 net/gcoap: add CoAP ping request
  examples/gcoap/gcoap_cli.c
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-gcoap/tests-gcoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13558 drivers/mtd_spi_nor: power up MTD on init
  boards/mulle/board.c
  boards/pinetime/board.c
  drivers/include/mtd_spi_nor.h
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, CI: ready for build, Reviewed: 3-testing, Type: bug

#13875 core/includes: add common macros file
  core/doc.txt
  core/include/macros/xtstr.h
  cpu/esp_common/include/esp_common.h
Labels: Area: core, CI: ready for build, Discussion: RFC

#13917 boards/common/msba2: Add MINITERMFLAGS to avoid reset
  boards/common/msba2/Makefile.include
  makefiles/tools/serial.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Type: bug

#13919 cpu/lpc2387: fix RTC leap year calculation
  cpu/lpc2387/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13923 pkg/semtech-loramac: fix rx thread documentation
  pkg/semtech-loramac/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build, CI: skip compile test, Type: cleanup

#13924 cpu/lpc2387: fix RTC leap year calculation [backport 2020.04]
  cpu/lpc2387/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Process: release backport, Type: bug

#13910 drivers/dose.h : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/dose/Kconfig
  drivers/dose/dose.c
  drivers/include/dose.h
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13885 drivers/at86rf215 : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/at86rf215/Kconfig
  drivers/at86rf215/at86rf215.c
  drivers/include/at86rf215.h
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13921 boards/common/msba2: Add MINITERMFLAGS to avoid reset [backport 2020.04]
  boards/common/msba2/Makefile.include
  makefiles/tools/serial.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Process: release backport, Type: bug

#13818 nanocoap: allow coap_opt_add_string() for non-zero-terminated strings
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Type: enhancement

#13899 boards/blxxxpill: improve adc
  boards/common/blxxxpill/include/periph_conf.h
  cpu/stm32f1/periph/adc.c
Labels: Area: boards, Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13926 drivers/mma8x5x : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/include/mma8x5x.h
  drivers/mma8x5x/Kconfig
  drivers/mma8x5x/include/mma8x5x_params.h
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13927 drivers/motor_driver : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/include/motor_driver.h
  drivers/motor_driver/Kconfig
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13915 drivers/mag3110 : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/include/mag3110.h
  drivers/mag3110/Kconfig
  drivers/mag3110/include/mag3110_params.h
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13922 ztimer: periph_rtt: ensure RTT_MAX_VALUE is honored
  sys/ztimer/periph_rtt.c
Labels: Area: timers, CI: ready for build, Process: needs backport, Type: bug

#13933 drivers/periph/rtt.h: ensure RTT_MAX_VALUE is set
  drivers/include/periph/rtt.h
Labels: Area: doc, CI: ready for build

#13938 ztimer: periph_rtt: ensure RTT_MAX_VALUE is honored [backport 2020.04]
  sys/ztimer/periph_rtt.c
Labels: Area: timers, CI: ready for build, Process: release backport, Type: bug

#13907 cpu/stm32f1: add unified rtt configuration
  boards/common/iotlab/include/periph_conf_common.h
  boards/fox/include/periph_conf.h
  boards/nucleo-f103rb/include/periph_conf.h
  boards/olimexino-stm32/include/periph_conf.h
  cpu/stm32f1/include/periph_cpu.h
  cpu/stm32f1/periph/rtt.c
Labels: Area: drivers, CI: ready for build, Type: cleanup

#13227 net/coap: Expose configurations to Kconfig
  sys/include/net/coap.h
  sys/include/net/gcoap.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/Kconfig.coap
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/sock.c
  sys/suit/transport/coap.c
Labels: Area: CoAP, Area: Kconfig, CI: ready for build, TF: Config, Type: new feature

#13224 drivers/xbee: disable CTS/RTS pin unless periph_uart_hw_fc is used
  drivers/xbee/xbee.c
Labels: Area: drivers, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13940 drivers/xbee: disable CTS/RTS pin unless periph_uart_hw_fc is used [backport 2020.04]
  drivers/xbee/xbee.c
Labels: Area: drivers, CI: ready for build, Process: release backport, Type: bug

#13929 boards/common/blxxxpill: provide periph_rtt
  boards/common/blxxxpill/Makefile.features
  boards/common/blxxxpill/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13946 examples/gnrc_border_router: don't ignore ETHOS_BAUDRATE
  examples/gnrc_border_router/Makefile.ethos.conf
Labels: Area: examples, CI: ready for build, Impact: minor, Type: bug

#13948 examples/gnrc_border_router: don't ignore ETHOS_BAUDRATE [backport 2020.04]
  examples/gnrc_border_router/Makefile.ethos.conf
Labels: Area: examples, CI: ready for build, Impact: minor, Process: release backport, Type: bug

#13937 cc26xx_cc13xx: update VIMS/FLASH documentation
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_vims.h
Labels: Area: cpu, CI: ready for build, Type: cleanup

#13868 boards/mcb2388: misc enhancements
  boards/mcb2388/Makefile.dep
  boards/mcb2388/include/adc_params.h
  boards/mcb2388/include/board.h
  boards/mcb2388/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#13936 cc26x2_cc13x2: fix AUX_* register domain documentation
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_aux.h
Labels: Area: cpu, CI: ready for build, Type: cleanup

#13955 cpu/lpc2387: PM_NUM_MODES must only count non-idle modes
  cpu/lpc2387/include/periph_cpu.h
Labels: Area: pm, CI: ready for build, Impact: minor, Type: bug

#13127 cpu: mips_pic32*: Fix unused .gcc_except_table section warning
  cpu/mips_pic32mx/Makefile.include
  cpu/mips_pic32mz/Makefile.include
Labels: Area: build system, CI: ready for build, Platform: MIPS

#13956 tests/periph_uart: fix for !stdio_uart
  tests/periph_uart/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: enhancement

#13951 drivers/pn532 : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/include/pn532.h
  drivers/pn532/Kconfig
  drivers/pn532/pn532.c
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13934 drivers/opt3001 : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/include/opt3001.h
  drivers/opt3001/Kconfig
  drivers/opt3001/include/opt3001_params.h
  drivers/opt3001/opt3001.c
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13945 gnrc_ipv6_nib: fix NS sending for multiple upstream interfaces
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6ln.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
Labels: Area: network, CI: ready for build, Process: needs backport, Type: bug

#13960 gnrc_ipv6_nib: fix NS sending for multiple upstream interfaces [backport 2020.04]
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6ln.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
Labels: Area: network, CI: ready for build, Process: release backport, Type: bug

#13916 tools/kconfiglib: Add riot_kconfig to override default behaviours
  dist/tools/kconfiglib/riot_kconfig.py
  dist/tools/kconfiglib/riot_menuconfig.py
  makefiles/tools/kconfiglib.inc.mk
Labels: Area: Kconfig, Area: tools, CI: ready for build, Type: enhancement

#13961 tests/gnrc_dhcpv6_client: Fix term and increase timeout
  tests/gnrc_dhcpv6_client/Makefile
  tests/gnrc_dhcpv6_client/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: needs backport, Type: bug

#13963 tests/gnrc_dhcpv6_client: Fix term and increase timeout [backport 2020.04]
  tests/gnrc_dhcpv6_client/Makefile
  tests/gnrc_dhcpv6_client/tests/01-run.py
Labels: Area: tests, CI: ready for build, Process: release backport, Type: bug

#13930 cpu/stm32f1: dont provide periph_rtc at cpu level
  boards/common/blxxxpill/Makefile.features
  boards/common/iotlab/Makefile.features
  boards/fox/Makefile.features
  boards/nucleo-f103rb/Makefile.features
  cpu/stm32f1/Makefile.features
Labels: Area: boards, CI: ready for build, Type: cleanup

#13959 nanocoap/kconfig: Explicitly define type of MODULE_NANOCOAP
  sys/net/application_layer/nanocoap/Kconfig
Labels: Area: Kconfig, CI: ready for build, Impact: minor, Type: bug

#13669 gnrc_netif: Add support for internal event loop
  Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, CI: ready for build, Type: new feature

#13968 mailmap: deduplicate @benpicco
  .mailmap
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: cleanup

#13969 drivers/disp_dev: use const qualifier
  drivers/disp_dev/disp_dev.c
  drivers/ili9341/ili9341_disp_dev.c
  drivers/include/disp_dev.h
Labels: Area: drivers, CI: ready for build, Type: cleanup

#13966 drivers/sps30 : Expose Configurations to Kconfig
  drivers/Kconfig.net
  drivers/include/sps30.h
  drivers/sps30/Kconfig
  drivers/sps30/sps30.c
Labels: Area: Kconfig, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature
