Repository RIOT-OS/RIOT, pull requests merged in 2020-02, with the labels that each got.

#13252 net/ipv6/ext/rh.h: remove unneeded header includes
  sys/include/net/ipv6/ext/rh.h
Labels: Area: network, CI: ready for build, Type: cleanup

#13076 boards/esp32: enable GPS module on ESP32 TTGO T-Beam V1.0
  boards/common/esp32/board_common.c
  boards/common/esp32/include/board_common.h
  boards/esp32-mh-et-live-minikit/include/board.h
  boards/esp32-olimex-evb/include/board.h
  boards/esp32-ttgo-t-beam/Makefile.dep
  boards/esp32-ttgo-t-beam/board.c
  boards/esp32-ttgo-t-beam/include/board.h
  boards/esp32-wemos-lolin-d32-pro/include/board.h
  boards/esp32-wroom-32/include/board.h
  boards/esp32-wrover-kit/include/board.h
  cpu/esp32/startup.c
Labels: Area: boards, CI: ready for build, Platform: ESP, Type: enhancement

#13035 tests/periph_rtc: fix system locks in ISR
  tests/periph_rtc/main.c
Labels: Area: tests, CI: ready for build, CI: run tests, Type: bug

#13263 cpu/atmega: fix PWM compilation error with NDEBUG
  cpu/atmega_common/periph/pwm.c
Labels: Area: cpu, CI: ready for build, Platform: AVR, Type: bug

#13264 sys/arduino: fix of compilation error in with NDEBUG
  sys/arduino/SPI.cpp
Labels: Area: arduino API, CI: ready for build, Type: bug

#13244 gnrc_ipv6_ext_frag: add configuration option to keep oldest entry
  sys/include/net/gnrc/ipv6/ext.h
  sys/net/gnrc/network_layer/ipv6/ext/frag/Kconfig
  sys/net/gnrc/network_layer/ipv6/ext/frag/gnrc_ipv6_ext_frag.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13245 gnrc_sixlowpan_frag_rb: fix doc on DO_NOT_OVERRIDE
  sys/include/net/gnrc/sixlowpan/config.h
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/Kconfig
Labels: Area: Kconfig, Area: doc, Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: enhancement

#13217 release-notes.txt: add 2020.01 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: needs >1 ACK, Process: needs backport, Process: release cycle

#13272 release-notes.txt: add 2020.01 release notes [backport 2020.01]
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, Process: release cycle

#13274 VERSION: add 2020.01 version file
  VERSION
Labels: CI: ready for build, Process: release cycle

#13269 drivers: fix alphabetical order in Makefile.include
  drivers/Makefile.include
Labels: Area: build system, Area: drivers, CI: ready for build, Type: cleanup

#13261 drivers/ili9341: use const qualifier where possible
  drivers/ili9341/ili9341.c
  drivers/include/ili9341.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#13166 cpu/cc13x2: rename cpu to cc26x2_cc13x2.
  boards/cc1312-launchpad/Makefile.features
  boards/cc1352-launchpad/Makefile.features
  cpu/cc13x2/doc.txt
  cpu/cc26x2_cc13x2/Makefile
  cpu/cc26x2_cc13x2/Makefile.features
  cpu/cc26x2_cc13x2/Makefile.include
  cpu/cc26x2_cc13x2/cpu.c
  cpu/cc26x2_cc13x2/doc.txt
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_aux.h
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_fcfg.h
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_prcm.h
  cpu/cc26x2_cc13x2/include/cpu_conf.h
  cpu/cc26x2_cc13x2/include/periph_cpu.h
  cpu/cc26x2_cc13x2/periph/Makefile
  cpu/cc26x2_cc13x2/pm.c
  cpu/cc26xx_cc13xx/doc.txt
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx.h
Labels: Area: cpu, CI: ready for build, Type: cleanup

#13282 [CI build failure] cpu/cc13x2: fix leftover from cc26x2_cc13x2 rename
  cpu/cc26x2_cc13x2/Makefile.dep
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_uart.h
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#13279 cpu/cc430: rtc: remove dead code
  cpu/cc430/periph/rtc.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: cleanup

#13278 boards/cc1312-launchpad: correct config. for gdb_agent_server
  boards/cc1312-launchpad/dist/cc1312r1f3_XDS110.dat
  boards/cc1312-launchpad/dist/cc1312r1f3_gdb.conf
Labels: Area: boards, CI: ready for build, Type: bug

#13283 README: add badge for the Matrix chat network
  README.md
Labels: Area: doc, CI: ready for build, Type: enhancement

#12969 cpu/sam0: provide interface to query GCLK frequency
  boards/arduino-mkrwan1300/include/periph_conf.h
  boards/arduino-zero/include/periph_conf.h
  boards/common/arduino-mkr/include/periph_conf.h
  boards/common/arduino-mkr/include/periph_conf_common.h
  boards/common/saml1x/include/periph_conf.h
  boards/common/sodaq/include/cfg_spi_default.h
  boards/common/sodaq/include/cfg_timer_default.h
  boards/common/sodaq/include/cfg_usbdev_default.h
  boards/feather-m0/include/periph_conf.h
  boards/hamilton/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/samr30-xpro/include/periph_conf.h
  boards/samr34-xpro/include/periph_conf.h
  boards/sensebox_samd21/include/periph_conf.h
  boards/sodaq-autonomo/include/periph_conf.h
  boards/sodaq-explorer/include/periph_conf.h
  boards/sodaq-one/include/periph_conf.h
  boards/sodaq-sara-aff/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/i2c.c
  cpu/sam0_common/periph/rtc.c
  cpu/sam0_common/periph/rtt.c
  cpu/sam0_common/periph/spi.c
  cpu/sam0_common/periph/timer.c
  cpu/sam0_common/periph/uart.c
  cpu/sam0_common/periph/usbdev.c
  cpu/sam0_common/periph/wdt.c
  cpu/samd21/cpu.c
  cpu/samd21/include/periph_cpu.h
  cpu/samd5x/cpu.c
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/cpu.c
  cpu/saml1x/include/periph_cpu.h
  cpu/saml21/cpu.c
  cpu/saml21/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Type: bug, Type: enhancement

#13168 boards/iotlab: add DEBUG_ADAPTER_ID openocd
  boards/common/iotlab/Makefile.include
  boards/common/iotlab/dist/openocd.cfg
  boards/iotlab-m3/dist/openocd.cfg
  makefiles/tools/openocd-adapters/iotlab.inc.mk
Labels: Area: tools, CI: ready for build, Type: enhancement

#13271 core/sched: sched.h: remove not needed bitarithm include to avoid conflict
  core/include/sched.h
  cpu/nrf52/periph/usbdev.c
  cpu/sam0_common/periph/rtt.c
  sys/frac/frac.c
Labels: Area: core, CI: ready for build, Impact: minor

#13294 shell_commands: remove old and redundant lines
  sys/shell/commands/shell_commands.c
Labels: Area: sys, CI: ready for build, Type: cleanup

#13296 cpu/atmega32u4: remove obsolete -DCOREIF_NG=1
  cpu/atmega32u4/Makefile.include
Labels: Area: cpu, CI: ready for build, Impact: minor, Platform: AVR, Type: cleanup

#13293 doc: Add section on configuration to 'Getting started'
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/getting-started.md
Labels: Area: doc, CI: ready for build, Type: enhancement

#13299 pkg/cryptoauthlib: make atca device type configurable
  pkg/cryptoauthlib/include/atca_params.h
  tests/pkg_cryptoauthlib_internal-tests/main.c
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#13301 boards/esp32: fix compilation error due to C linkage in examples/posix_sockets
  boards/esp32-mh-et-live-minikit/include/board.h
  boards/esp32-olimex-evb/include/board.h
  boards/esp32-ttgo-t-beam/include/board.h
  boards/esp32-wemos-lolin-d32-pro/include/board.h
  boards/esp32-wroom-32/include/board.h
  boards/esp32-wrover-kit/include/board.h
Labels: Area: boards, CI: ready for build, Platform: ESP, Type: bug

#13092 pkg/lwip: add auto-init support for transciever ENC28J60
  pkg/lwip/contrib/lwip.c
Labels: Area: network, Area: pkg, CI: ready for build, Type: enhancement

#13297 pkg/cryptoauthlib: add includes to cflags for llvm
  pkg/cryptoauthlib/Makefile
  pkg/cryptoauthlib/Makefile.include
Labels: Area: pkg, CI: ready for build, Type: bug

#13298 pkg/cryptoauthlib: add no poll mode to documentation
  pkg/cryptoauthlib/doc.txt
Labels: Area: doc, CI: ready for build, Impact: minor, Type: enhancement

#13290 tinydtls: remove TINYDTLS_LOG and cleanup
  examples/dtls-echo/Makefile
  examples/dtls-sock/Makefile
  pkg/tinydtls/Makefile.include
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#13078 make: remove useless exports of USEMODULE and USEMODULE_INCLUDES vars
  Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
Labels: Area: build system, CI: ready for build, Type: cleanup

#12933 cpu/atmega_common/periph/gpio: Clean up PCINT support
  cpu/atmega_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Platform: AVR, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug, Type: cleanup

#13302 tests/pkg_cryptoauthlib_internal_tests: add unsupported device handling
  tests/pkg_cryptoauthlib_internal-tests/main.c
Labels: Area: pkg, Area: tests, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13254 pkg/relic: use random module for seeding relic PRNG
  pkg/relic/Makefile.dep
  pkg/relic/patches/0001-use-modul-random-for-seeding.patch
  pkg/relic/patches/0002-add-flag-to-help-message.patch
  tests/pkg_relic/Makefile
Labels: Area: crypto, Area: pkg, CI: ready for build, Type: enhancement

#13061 cpu/esp32: allow external 32 kHz crystal for the RTC hardware timer
  boards/esp32-wrover-kit/Makefile.features
  boards/esp32-wrover-kit/doc.txt
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/doc.txt
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/rtc.c
  cpu/esp32/startup.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: enhancement

#13292 makefiles: Use simple expansion for widely used variables
  Makefile.base
  makefiles/toolchain/gnu.inc.mk
  makefiles/toolchain/llvm.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13288 Fix ds18 temperature conversion
  drivers/ds18/ds18.c
  tests/driver_ds18/Makefile
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#12474 sys: add shared event threads
  Makefile.dep
  sys/auto_init/auto_init.c
  sys/event/Makefile
  sys/event/thread.c
  sys/include/event/thread.h
  tests/event_threads/Makefile
  tests/event_threads/Makefile.ci
  tests/event_threads/main.c
  tests/event_threads/tests/01-run.py
Labels: Area: sys, CI: ready for build, Type: enhancement

#12728 at86rf2xx: fix receive before send detection
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, Area: network, CI: ready for build, Type: bug

#13312 cpu/sam0_common: use vendor provided MCU header dispatch
  cpu/sam0_common/Makefile.include
  cpu/sam0_common/include/cpu_conf.h
  cpu/sam0_common/include/vendor/sam0.h
  cpu/sam0_common/include/vendor/sam23.h
  cpu/sam0_common/include/vendor/samd51/include/samd51.h
  cpu/sam0_common/include/vendor/samd5x.h
  cpu/samd21/Makefile.include
  cpu/samd5x/Makefile.include
  cpu/saml1x/Makefile.include
  cpu/saml21/Makefile.include
Labels: Area: cpu, CI: ready for build, Reviewed: 3-testing, Type: cleanup

#13322 boards: Use ARRAY_SIZE for setting UART_NUMOF, SPI_NUMOF, I2C_NUMOF
  boards/arduino-mkrwan1300/include/periph_conf.h
  boards/common/esp8266/include/periph_conf_common.h
  boards/common/nrf52/include/cfg_i2c_default.h
  boards/pinetime/include/periph_conf.h
  boards/stm32f723e-disco/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#13326 drivers/ili9341: cleanup doxygen documentation
  drivers/include/ili9341.h
Labels: Area: doc, Area: drivers, CI: ready for build, Type: cleanup

#13304 gnrc_sixlowpan_frag_stats: add average fragments per datagram statistic
  sys/include/net/gnrc/sixlowpan/frag/stats.h
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/shell/commands/sc_gnrc_6lo_frag_stats.c
Labels: Area: network, CI: ready for build, Type: enhancement

#12911 cpu/lpc2387: implement periph/adc
  boards/mcb2388/Makefile.features
  boards/mcb2388/include/periph_conf.h
  boards/msba2/Makefile.features
  boards/msba2/include/periph_conf.h
  cpu/lpc2387/include/periph_cpu.h
  cpu/lpc2387/periph/adc.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13246 cpu/lpc2387: make SPI configurable
  boards/avsextrem/include/periph_conf.h
  boards/mcb2388/include/periph_conf.h
  boards/msba2/include/periph_conf.h
  cpu/lpc2387/include/periph_cpu.h
  cpu/lpc2387/include/vendor/lpc23xx.h
  cpu/lpc2387/periph/spi.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13308 cpu/atmega_common: Cleanup state flags
  cpu/atmega_common/include/cpu.h
  cpu/atmega_common/irq_arch.c
  cpu/atmega_common/periph/uart.c
  cpu/atmega_common/thread_arch.c
Labels: CI: ready for build, Impact: minor, Platform: AVR, Type: bug, Type: cleanup

#12793 drivers/ws281x: add VT100 backend for native
  drivers/Makefile.dep
  drivers/include/ws281x.h
  drivers/ws281x/atmega.c
  drivers/ws281x/include/ws281x_backend.h
  drivers/ws281x/vt100.c
  drivers/ws281x/ws281x.c
  tests/driver_ws281x/Makefile
  tests/driver_ws281x/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#13328 drivers: Add display device doxygen group
  drivers/doc.txt
  drivers/include/dsp0401.h
  drivers/include/hd44780.h
  drivers/include/ili9341.h
  drivers/include/pcd8544.h
Labels: Area: doc, CI: ready for build, Type: enhancement

#13305 gnrc_ipv6_ext_frag: initial import of statistics module
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/ipv6/ext/frag.h
  sys/net/gnrc/network_layer/ipv6/ext/frag/gnrc_ipv6_ext_frag.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_gnrc_ipv6_frag_stats.c
  sys/shell/commands/shell_commands.c
Labels: Area: network, CI: ready for build, Type: new feature

#13303 pkg/libcose: Add to documentation
  pkg/libcose/doc.txt
Labels: Area: doc, CI: ready for build, Type: enhancement

#13323 boards: mbed_lpc1768: Improve documentation
  boards/mbed_lpc1768/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, Type: enhancement

#13327 boards: Cleaned up bootloader selection for ATmega
  boards/arduino-duemilanove/Makefile.include
  boards/arduino-leonardo/Makefile.include
  boards/arduino-mega2560/Makefile.include
  boards/arduino-nano/Makefile.include
  boards/arduino-nano/doc.txt
  boards/arduino-uno/Makefile.include
  boards/atmega256rfr2-xpro/Makefile.include
  boards/avr-rss2/Makefile.include
  boards/common/arduino-atmega/Makefile.include
  boards/common/atmega/Makefile.include
  boards/derfmega128/Makefile.include
  boards/derfmega256/Makefile.include
  boards/mega-xplained/Makefile.include
  boards/waspmote-pro/Makefile.include
Labels: Area: boards, CI: ready for build, Type: cleanup, Type: enhancement

#12871 cpu/lpc2387: rtc: remove use of localtime()
  cpu/arm7_common/arm7_init.c
  cpu/lpc2387/cpu.c
  cpu/lpc2387/include/cpu.h
  cpu/lpc2387/periph/rtc.c
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#9349 mtd_spi_nor: remove sleep when waiting for write completed
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, Area: fs, CI: ready for build

#13091 cortexm_common/mpu: Only enable during low low level init
  cpu/cortexm_common/mpu.c
  cpu/cortexm_common/vectors_cortexm.c
Labels: Area: cpu, CI: disable test cache, CI: ready for build, CI: run tests, Platform: ARM, Type: enhancement

#13324 drivers/ina2xx: Fixed missing i2c_acquire/release
  drivers/ina2xx/ina2xx.c
Labels: Area: drivers, CI: ready for build, Type: bug

#13337 murdock: add capability to skip compile tests via PR label
  .murdock
Labels: Area: CI, CI: ready for build, CI: skip compile test, Discussion: RFC, Type: new feature

#13333 gnrc_pktbuf: deprecate gnrc_pktbuf_replace_snip()
  sys/include/net/gnrc/pktbuf.h
Labels: Area: network, CI: ready for build, Type: cleanup

#13334 pkg/nordic_softdevice_ble: Imminent deprecation warning
  pkg/nordic_softdevice_ble/README-BLE-6LoWPAN.md
  pkg/nordic_softdevice_ble/README.md
  pkg/nordic_softdevice_ble/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#13306 boards/sam[r/d]21-xpro: prefer XOSC32K for RTC/RTT (GCLK2)
  boards/samd21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  cpu/samd21/cpu.c
  tests/periph_wdt/tests/01-run.py
Labels: Area: boards, CI: ready for build, Type: enhancement

#7572 core: add pointer compression header
  cpu/kinetis/Makefile.include
  makefiles/pseudomodules.inc.mk
  sys/Makefile.include
  sys/include/zptr.h
  sys/zptr/Makefile.include
  tests/unittests/tests-zptr/Makefile
  tests/unittests/tests-zptr/Makefile.include
  tests/unittests/tests-zptr/tests-zptr.c
  tests/unittests/tests-zptr/tests-zptr.h
Labels: Area: core, CI: ready for build, Type: new feature

#12570 dist/tools/codespell: add interactive mode
  dist/tools/codespell/check.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#13331 cc26x2_cc13x2: use correct RAM value
  cpu/cc26x2_cc13x2/Makefile.include
  examples/dtls-echo/Makefile.ci
  examples/dtls-sock/Makefile.ci
  examples/dtls-wolfssl/Makefile.ci
  examples/gnrc_border_router/Makefile.ci
  examples/javascript/Makefile.ci
  examples/lua_REPL/Makefile.ci
  examples/lua_basic/Makefile.ci
  tests/gnrc_netif/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: cpu, CI: ready for build, Type: bug

#13200 makefiles/info-global.inc.mk: reset BOARDSDIR
  makefiles/info-global.inc.mk
Labels: Area: build system, CI: ready for build, Type: enhancement

#13319 cpu/atmega_common: Fix reboot issues
  cpu/atmega_common/cpu.c
Labels: Area: pm, CI: ready for build, Platform: AVR, Type: bug

#12556 stm32_common: Add USB OTG FS/HS usbdev peripheral driver
  boards/common/stm32/include/cfg_usb_otg_fs.h
  boards/common/stm32/include/cfg_usb_otg_hs_fs.h
  boards/nucleo-f207zg/Makefile.features
  boards/nucleo-f207zg/include/periph_conf.h
  boards/nucleo-f412zg/Makefile.features
  boards/nucleo-f412zg/include/periph_conf.h
  boards/nucleo-f413zh/Makefile.features
  boards/nucleo-f413zh/include/periph_conf.h
  boards/nucleo-f429zi/Makefile.features
  boards/nucleo-f429zi/include/periph_conf.h
  boards/nucleo-f446ze/Makefile.features
  boards/nucleo-f446ze/include/periph_conf.h
  boards/nucleo-f722ze/Makefile.features
  boards/nucleo-f722ze/include/periph_conf.h
  boards/nucleo-f746zg/Makefile.features
  boards/nucleo-f746zg/include/periph_conf.h
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-f767zi/include/periph_conf.h
  boards/pyboard/Makefile.features
  boards/pyboard/Makefile.include
  boards/pyboard/include/periph_conf.h
  boards/stm32f429i-disc1/Makefile.features
  boards/stm32f429i-disc1/include/periph_conf.h
  boards/stm32f4discovery/Makefile.features
  boards/stm32f4discovery/include/periph_conf.h
  boards/stm32f723e-disco/Makefile.features
  boards/stm32f723e-disco/include/periph_conf.h
  boards/stm32f769i-disco/Makefile.features
  boards/stm32f769i-disco/include/periph_conf.h
  cpu/stm32_common/Makefile.dep
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/include/usbdev_stm32.h
  cpu/stm32_common/periph/usbdev.c
Labels: Area: USB, Area: drivers, CI: ready for build, Reviewed: 3-testing, Type: new feature

#12766 gnrc_netapi: report errors on dispatch
  sys/net/gnrc/netapi/gnrc_netapi.c
Labels: Area: network, CI: ready for build, Type: enhancement

#13139 makefiles: arch: mips: Allow CFLAGS_DBG and CFLAGS_OPT to be overridden
  makefiles/arch/mips.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Platform: MIPS, Type: enhancement

#13257 doc/doxygen: add creating boards doc
  dist/tools/buildsystem_sanity_check/check.sh
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/mainpage.md
  doc/doxygen/src/porting-boards.md
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test

#13348 drivers/ili9341: add missing xtimer module dependency
  drivers/Makefile.dep
Labels: Area: build system, Area: drivers, CI: ready for build, Type: cleanup

#13347 boards: Fix presence of FPU
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
  boards/nucleo-f072rb/doc.txt
  boards/nucleo-f103rb/doc.txt
  boards/nucleo-f207zg/doc.txt
  boards/spark-core/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#12982 tests/bench_xtimer_load: initial commit
  tests/bench_xtimer_load/Makefile
  tests/bench_xtimer_load/Makefile.ci
  tests/bench_xtimer_load/README.md
  tests/bench_xtimer_load/main.c
  tests/bench_xtimer_load/tests/01-run.py
Labels: Area: tests, Area: timers, CI: ready for build

#12931 make.dep: fix sock_udp deps for stnp
  Makefile.dep
Labels: Area: build system, Area: network, CI: ready for build, Type: cleanup

#13329 Add bh1900nux driver
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/bh1900nux/Makefile
  drivers/bh1900nux/bh1900nux.c
  drivers/bh1900nux/include/bh1900nux_params.h
  drivers/include/bh1900nux.h
  tests/driver_bh1900nux/Makefile
  tests/driver_bh1900nux/README.md
  tests/driver_bh1900nux/main.c
Labels: Area: drivers, CI: ready for build, Type: new feature

#13346 Makefile.dep: Fix dependency resolution
  Makefile.dep
Labels: Area: build system, CI: ready for build, Impact: minor, Type: bug

#13352 sys/suit/coap: fix unused vars
  sys/suit/coap.c
Labels: Area: OTA, CI: ready for build, Type: bug

#13089 Makefile.dep: auto_init_% as DEFAULT_MODULES
  Makefile.dep
  drivers/Makefile.dep
  makefiles/pseudomodules.inc.mk
  pkg/cryptoauthlib/Makefile.dep
  pkg/fatfs/Makefile.dep
  pkg/lwip/Makefile.dep
  sys/auto_init/auto_init.c
  tests/bloom_bytes/Makefile
  tests/bloom_bytes/main.c
  tests/cpp_ctors/Makefile
  tests/cpp_ctors/main.c
  tests/driver_at86rf2xx/Makefile
  tests/driver_at86rf2xx/main.c
  tests/float/Makefile
  tests/float/main.c
  tests/gnrc_sixlowpan_frag/Makefile
  tests/gnrc_sixlowpan_frag/main.c
  tests/lwip_sock_ip/Makefile
  tests/lwip_sock_ip/main.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_tcp/Makefile
  tests/lwip_sock_tcp/main.c
  tests/lwip_sock_udp/Makefile
  tests/lwip_sock_udp/main.c
  tests/lwip_sock_udp/stack.c
  tests/msg_avail/Makefile
  tests/msg_avail/main.c
  tests/mutex_unlock_and_sleep/Makefile
  tests/mutex_unlock_and_sleep/main.c
  tests/netdev_test/Makefile
  tests/netdev_test/main.c
  tests/posix_semaphore/Makefile
  tests/posix_semaphore/main.c
  tests/shell/Makefile
  tests/shell/main.c
  tests/socket_zep/Makefile
  tests/socket_zep/main.c
  tests/struct_tm_utility/Makefile
  tests/thread_basic/Makefile
  tests/thread_basic/main.c
  tests/thread_cooperation/Makefile
  tests/thread_cooperation/main.c
  tests/thread_exit/Makefile
  tests/thread_exit/main.c
  tests/thread_flood/Makefile
  tests/thread_flood/main.c
  tests/thread_msg/Makefile
  tests/thread_msg/main.c
  tests/thread_msg_block_race/Makefile
  tests/thread_msg_block_race/main.c
  tests/thread_msg_block_w_queue/Makefile
  tests/thread_msg_block_w_queue/main.c
  tests/thread_msg_block_wo_queue/Makefile
  tests/thread_msg_block_wo_queue/main.c
  tests/thread_msg_seq/Makefile
  tests/thread_msg_seq/main.c
  tests/thread_race/Makefile
  tests/thread_race/main.c
  tests/thread_zombie/Makefile
  tests/thread_zombie/main.c
Labels: CI: disable test cache, CI: ready for build, Type: enhancement

#13174 cpu/efm32: cleanup
  boards/ikea-tradfri/Makefile.features
  boards/slstk3401a/Makefile.features
  boards/slstk3402a/Makefile.features
  boards/sltb001a/Makefile.features
  boards/slwstk6000b-slwrb4150a/Makefile.features
  boards/slwstk6000b-slwrb4162a/Makefile.features
  boards/stk3600/Makefile.features
  boards/stk3700/Makefile.features
  cpu/efm32/Makefile
  cpu/efm32/Makefile.dep
  cpu/efm32/Makefile.features
  cpu/efm32/Makefile.include
  cpu/efm32/efm32-features.mk
  cpu/efm32/efm32-info.mk
  cpu/efm32/families/efm32gg/Makefile.include
  cpu/efm32/families/efm32gg/cpus.txt
  cpu/efm32/families/efm32gg/efm32-info.mk
  cpu/efm32/families/efm32lg/Makefile.include
  cpu/efm32/families/efm32lg/cpus.txt
  cpu/efm32/families/efm32lg/efm32-info.mk
  cpu/efm32/families/efm32pg12b/Makefile.include
  cpu/efm32/families/efm32pg12b/cpus.txt
  cpu/efm32/families/efm32pg12b/efm32-info.mk
  cpu/efm32/families/efm32pg1b/Makefile.include
  cpu/efm32/families/efm32pg1b/cpus.txt
  cpu/efm32/families/efm32pg1b/efm32-info.mk
  cpu/efm32/families/efr32mg12p/Makefile.include
  cpu/efm32/families/efr32mg12p/cpus.txt
  cpu/efm32/families/efr32mg12p/efm32-info.mk
  cpu/efm32/families/efr32mg1p/Makefile.include
  cpu/efm32/families/efr32mg1p/cpus.txt
  cpu/efm32/families/efr32mg1p/efm32-info.mk
Labels: Area: build system, Area: cpu, CI: ready for build, Type: cleanup

#13325 drivers/stmpe811: add support for touchscreen controller
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/stmpe811.h
  drivers/stmpe811/Makefile
  drivers/stmpe811/include/stmpe811_constants.h
  drivers/stmpe811/include/stmpe811_params.h
  drivers/stmpe811/stmpe811.c
  tests/driver_stmpe811/Makefile
  tests/driver_stmpe811/README.md
  tests/driver_stmpe811/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#13361 tools/toolchain_version: remove extra underlying -
  dist/tools/ci/print_toolchain_versions.sh
Labels: Area: CI, Area: tools, CI: ready for build, CI: skip compile test, Type: cleanup

#13362 drivers/at86rf2xx: use luid_get_eui64() / luid_get_short()
  drivers/at86rf2xx/at86rf2xx.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13370 xtimer: properly expose xtimer_usleep64()
  sys/include/xtimer.h
Labels: Area: doc, Area: timers, CI: ready for build, Type: enhancement

#13371 xtimer: add xtimer_set_timeout_flag64()
  sys/include/xtimer.h
  sys/xtimer/xtimer.c
  tests/thread_flags/main.c
  tests/thread_flags/tests/01-run.py
Labels: Area: timers, CI: ready for build, Type: enhancement

#12746 drivers: add driver for the AT24MAC unique ID chip
  boards/avr-rss2/include/board.h
  boards/same54-xpro/include/board.h
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/at24mac/Makefile
  drivers/at24mac/at24mac.c
  drivers/at24mac/include/at24mac_params.h
  drivers/include/at24mac.h
  tests/driver_at24mac/Makefile
  tests/driver_at24mac/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13363 Makefile.dep: deduplicate DEFAULT_MODULE
  Makefile.dep
Labels: Area: build system, CI: ready for build, Type: cleanup

#13373 sys/event: add event_wait_timeout64()
  sys/event/event.c
  sys/include/event.h
  tests/event_wait_timeout/main.c
Labels: Area: sys, CI: ready for build, Type: enhancement

#13338 nanocoap: State handler idempotentcy requirement
  sys/include/net/nanocoap.h
Labels: Area: CoAP, Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#13372 pkg/minmea: add minmea_getdate()
  pkg/minmea/patches/0001-add-minmea_getdate.patch
Labels: Area: pkg, CI: ready for build, Type: enhancement

#13384 examples/gnrc_lorawan: set RX2 DR to 3 only for ABP
  examples/gnrc_lorawan/Makefile
Labels: Area: LoRa, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13062 pkg/cmsis-nn: add support to RIOT
  pkg/cmsis-nn/Makefile
  pkg/cmsis-nn/Makefile.cmsis-nn
  pkg/cmsis-nn/Makefile.dep
  pkg/cmsis-nn/Makefile.include
  tests/pkg_cmsis-nn/Makefile
  tests/pkg_cmsis-nn/README.md
  tests/pkg_cmsis-nn/generate_image.py
  tests/pkg_cmsis-nn/input
  tests/pkg_cmsis-nn/main.c
  tests/pkg_cmsis-nn/parameter.h
  tests/pkg_cmsis-nn/tests/01-run.py
  tests/pkg_cmsis-nn/weights.h
Labels: Area: pkg, CI: ready for build, Platform: ARM, Reviewed: 3-testing

#13385 suit: Remove non-standard hello handler
  sys/suit/v4/handlers.c
Labels: CI: ready for build, Type: cleanup

#13289 github: add CODEOWNERS file
  CODEOWNERS
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#13028 drivers/dose: Optional sense pin
  drivers/dose/dose.c
  drivers/dose/include/dose_params.h
  drivers/include/dose.h
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 5-documentation, Type: enhancement

#13356 drivers/at86rf2xx: reset hardware before reading any register
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#13388 drivers/sx127x: fix dead links
  drivers/include/sx127x.h
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13389 boards/esp32-ttgo-t-beam: correct SX127x chip frequencies
  boards/esp32-ttgo-t-beam/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13380 sys/pm_layered: change PM_BLOCKER_INITIAL to single value
  cpu/samd21/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  sys/pm_layered/pm.c
Labels: Area: pm, CI: ready for build, Type: cleanup

#9778 style-check/vera++: add style validator and scripts
  dist/tools/ci/build_and_test.sh
  dist/tools/vera++/README.md
  dist/tools/vera++/check.sh
  dist/tools/vera++/exclude
  dist/tools/vera++/profiles/riot
  dist/tools/vera++/profiles/riot_force
  dist/tools/vera++/profiles/riot_force_params.txt
  dist/tools/vera++/profiles/riot_params.txt
  dist/tools/vera++/scripts/CMakeLists.txt
  dist/tools/vera++/scripts/rules/CMakeLists.txt
  dist/tools/vera++/scripts/rules/DUMP.tcl
  dist/tools/vera++/scripts/rules/F001.tcl
  dist/tools/vera++/scripts/rules/F002.tcl
  dist/tools/vera++/scripts/rules/L001.tcl
  dist/tools/vera++/scripts/rules/L002.tcl
  dist/tools/vera++/scripts/rules/L003.tcl
  dist/tools/vera++/scripts/rules/L004.tcl
  dist/tools/vera++/scripts/rules/L005.tcl
  dist/tools/vera++/scripts/rules/L006.tcl
  dist/tools/vera++/scripts/rules/T001.tcl
  dist/tools/vera++/scripts/rules/T002.tcl
  dist/tools/vera++/scripts/rules/T003.tcl
  dist/tools/vera++/scripts/rules/T004.tcl
  dist/tools/vera++/scripts/rules/T005.tcl
  dist/tools/vera++/scripts/rules/T006.tcl
  dist/tools/vera++/scripts/rules/T007.tcl
  dist/tools/vera++/scripts/rules/T008.tcl
  dist/tools/vera++/scripts/rules/T009.tcl
  dist/tools/vera++/scripts/rules/T010.tcl
  dist/tools/vera++/scripts/rules/T011.tcl
  dist/tools/vera++/scripts/rules/T012.tcl
  dist/tools/vera++/scripts/rules/T013.tcl
  dist/tools/vera++/scripts/rules/T014.tcl
  dist/tools/vera++/scripts/rules/T015.tcl
  dist/tools/vera++/scripts/rules/T016.tcl
  dist/tools/vera++/scripts/rules/T017.tcl
  dist/tools/vera++/scripts/rules/T018.tcl
  dist/tools/vera++/scripts/rules/T019.tcl
  dist/tools/vera++/scripts/transformations/CMakeLists.txt
  dist/tools/vera++/scripts/transformations/move_includes.tcl
  dist/tools/vera++/scripts/transformations/move_macros.tcl
  dist/tools/vera++/scripts/transformations/move_namespace.tcl
  dist/tools/vera++/scripts/transformations/to_lower.tcl
  dist/tools/vera++/scripts/transformations/to_xml.tcl
  dist/tools/vera++/scripts/transformations/to_xml2.tcl
  dist/tools/vera++/scripts/transformations/trim_right.tcl
Labels: Area: CI, CI: ready for build, CI: skip compile test, Discussion: RFC, Type: enhancement

#13392 cpu/cortexm: move CPU_ARCH/FAM to Makefile.features
  cpu/cc2538/Makefile.features
  cpu/cc2538/Makefile.include
  cpu/cc26x0/Makefile.features
  cpu/cc26x0/Makefile.include
  cpu/cc26x2_cc13x2/Makefile.features
  cpu/cc26x2_cc13x2/Makefile.include
  cpu/ezr32wg/Makefile.features
  cpu/ezr32wg/Makefile.include
  cpu/lm4f120/Makefile.features
  cpu/lm4f120/Makefile.include
  cpu/lpc1768/Makefile.features
  cpu/lpc1768/Makefile.include
  cpu/nrf51/Makefile.features
  cpu/nrf51/Makefile.include
  cpu/nrf52/Makefile.features
  cpu/nrf52/Makefile.include
  cpu/sam3/Makefile.features
  cpu/sam3/Makefile.include
  cpu/samd21/Makefile.features
  cpu/samd21/Makefile.include
  cpu/samd5x/Makefile.features
  cpu/samd5x/Makefile.include
  cpu/saml1x/Makefile.features
  cpu/saml1x/Makefile.include
  cpu/saml21/Makefile.features
  cpu/saml21/Makefile.include
  cpu/stm32f0/Makefile.features
  cpu/stm32f0/Makefile.include
  cpu/stm32f1/Makefile.features
  cpu/stm32f1/Makefile.include
  cpu/stm32f2/Makefile.features
  cpu/stm32f2/Makefile.include
  cpu/stm32f3/Makefile.features
  cpu/stm32f3/Makefile.include
  cpu/stm32f4/Makefile.features
  cpu/stm32f4/Makefile.include
  cpu/stm32f7/Makefile.features
  cpu/stm32f7/Makefile.include
  cpu/stm32l0/Makefile.features
  cpu/stm32l0/Makefile.include
  cpu/stm32l1/Makefile.features
  cpu/stm32l1/Makefile.include
  cpu/stm32l4/Makefile.features
  cpu/stm32l4/Makefile.include
Labels: Area: build system, Area: cpu, CI: ready for build, Type: cleanup

#13395 boards: update doc of phyNode (pba-d-01-kw2x)
  boards/pba-d-01-kw2x/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test, Type: cleanup, Type: enhancement

#13354 suit: cleanup of TinyCBOR to NanoCBOR refactor
  sys/include/suit/v4/suit.h
  sys/suit/v4/cbor.c
  sys/suit/v4/handlers.c
Labels: Area: OTA, CI: ready for build, Type: cleanup

#13399 make: disable implicit rules
  Makefile.include
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13396 net: Remove NHDP module
  LOSTANDFOUND.md
  Makefile.dep
  core/include/debug.h
  sys/Makefile
  sys/Makefile.include
  sys/net/routing/nhdp/Makefile
  sys/net/routing/nhdp/iib_table.c
  sys/net/routing/nhdp/iib_table.h
  sys/net/routing/nhdp/lib_table.c
  sys/net/routing/nhdp/lib_table.h
  sys/net/routing/nhdp/nhdp.c
  sys/net/routing/nhdp/nhdp.h
  sys/net/routing/nhdp/nhdp_address.c
  sys/net/routing/nhdp/nhdp_address.h
  sys/net/routing/nhdp/nhdp_metric.h
  sys/net/routing/nhdp/nhdp_reader.c
  sys/net/routing/nhdp/nhdp_reader.h
  sys/net/routing/nhdp/nhdp_writer.c
  sys/net/routing/nhdp/nhdp_writer.h
  sys/net/routing/nhdp/nib_table.c
  sys/net/routing/nhdp/nib_table.h
  tests/nhdp/Makefile
  tests/nhdp/Makefile.ci
  tests/nhdp/main.c
  tests/nhdp/tests/01-run.py
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#13397 pkg: Remove oonf_api
  LOSTANDFOUND.md
  Makefile.dep
  pkg/oonf_api/Makefile
  pkg/oonf_api/Makefile.dep
  pkg/oonf_api/Makefile.include
  pkg/oonf_api/doc.txt
  pkg/oonf_api/patches/0001-add-RIOT-support.patch
  pkg/oonf_api/patches/0002-port-tests-to-riot.patch
  pkg/oonf_api/patches/0003-port-example-to-riot.patch
  pkg/oonf_api/patches/0004-fix-conflicting-types.patch
  pkg/oonf_api/patches/0005-only-define-container_of-when-necessary.patch
  pkg/oonf_api/patches/0006-if_index-is-not-used.patch
  pkg/oonf_api/patches/0007-Use-RIOT-s-container_of-implementation.patch
  pkg/oonf_api/patches/0008-Dissolve-enum-into-single-defines.patch
  pkg/oonf_api/patches/0009-Add-missing-include.patch
  pkg/oonf_api/patches/0010-Change-index-of-array-from-0-to-1.patch
  pkg/oonf_api/patches/0011-remove-error-array-subscript-has-type-char-Werror-ch.patch
  pkg/oonf_api/patches/0012-isolate-oonf-list-implementation-of-riot-s-implement.patch
  tests/pkg_oonf_api/Makefile
  tests/pkg_oonf_api/Makefile.ci
  tests/pkg_oonf_api/main.c
Labels: Area: pkg, CI: ready for build, Type: cleanup

#13407 Kconfig: Include application-specific symbols first
  Kconfig
Labels: Area: Kconfig, CI: ready for build, Impact: minor, Type: enhancement

#13403 vera++: remove non-zero exit code
  dist/tools/vera++/check.sh
Labels: Area: CI, CI: ready for build, CI: skip compile test

#13402 cpu/sam0_common: samr30 add PIN_(.*)_EIC_EXTINT_NUM to vendor header
  cpu/sam0_common/include/vendor/samr30/include/pio/samr30e18a.h
  cpu/sam0_common/include/vendor/samr30/include/pio/samr30g18a.h
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: enhancement

#13316 tools/packer: update vagrant image to Ubuntu 18.04 + refactoring
  Vagrantfile
  dist/tools/packer/.gitignore
  dist/tools/packer/README.md
  dist/tools/packer/http/preseed.cfg
  dist/tools/packer/preseed.cfg
  dist/tools/packer/riot.json
  dist/tools/packer/scripts/base.sh
  dist/tools/packer/scripts/cleanup.sh
  dist/tools/packer/scripts/riot.sh
  dist/tools/packer/scripts/toolchains.sh
  dist/tools/packer/scripts/udev_rules.sh
  dist/tools/packer/scripts/vagrant.sh
  dist/tools/packer/scripts/virtualbox.sh
  dist/tools/packer/setup.sh
  dist/tools/packer/vagrantfile.tpl
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#13379 gnrc_rpl_p2p: several compilation fixes
  sys/include/net/gnrc/rpl/dodag.h
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
  sys/net/gnrc/routing/rpl/p2p/gnrc_rpl_p2p.c
  tests/gnrc_rpl_p2p/Makefile
  tests/gnrc_rpl_p2p/Makefile.ci
  tests/gnrc_rpl_p2p/main.c
  tests/gnrc_rpl_p2p/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: bug

#13307 gnrc_dhcpv6_client_6lbr: initial import of a 6LBR DHCPv6 client
  Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/net/gnrc/dhcpv6/client/6lbr.h
  sys/net/gnrc/Kconfig
  sys/net/gnrc/application_layer/dhcpv6/Kconfig
  sys/net/gnrc/application_layer/dhcpv6/client_6lbr.c
  tests/gnrc_dhcpv6_client_6lbr/Kconfig
  tests/gnrc_dhcpv6_client_6lbr/Makefile
  tests/gnrc_dhcpv6_client_6lbr/Makefile.board.dep
  tests/gnrc_dhcpv6_client_6lbr/Makefile.ci
  tests/gnrc_dhcpv6_client_6lbr/README.md
  tests/gnrc_dhcpv6_client_6lbr/main.c
  tests/gnrc_dhcpv6_client_6lbr/tests/01-run.py
Labels: Area: network, CI: ready for build, Reviewed: 3-testing, Type: new feature

#11823 tests: provide tests for emcute
  tests/emcute/Makefile
  tests/emcute/Makefile.board.dep
  tests/emcute/Makefile.ci
  tests/emcute/README.md
  tests/emcute/main.c
  tests/emcute/tests/01-run.py
Labels: Area: network, Area: tests, CI: ready for build, Type: new feature

#13405 sys/riotboot: provide riotboot_slot_offset()
  sys/include/riotboot/slot.h
  sys/riotboot/slot.c
  sys/suit/v4/handlers.c
Labels: Area: sys, CI: ready for build, Impact: minor, Type: cleanup

#13420 sys/ecc: fix assertion in golay2412
  sys/ecc/golay2412.c
Labels: Area: sys, CI: ready for build, Type: bug

#13418 boards/esp32: rename BUTTON0_PIN to BTN0_PIN
  boards/esp32-olimex-evb/include/board.h
  boards/esp32-olimex-evb/include/gpio_params.h
  boards/esp32-ttgo-t-beam/include/board.h
  boards/esp32-ttgo-t-beam/include/gpio_params.h
  boards/esp32-wroom-32/include/board.h
  boards/esp32-wroom-32/include/gpio_params.h
Labels: Area: boards, CI: ready for build, Platform: ESP, Type: enhancement

#12906 gnrc_tftp: remove module
  LOSTANDFOUND.md
  Makefile.dep
  examples/gnrc_tftp/Makefile
  examples/gnrc_tftp/Makefile.ci
  examples/gnrc_tftp/README.md
  examples/gnrc_tftp/main.c
  examples/gnrc_tftp/tftp_client.c
  examples/gnrc_tftp/tftp_server.c
  sys/include/net/gnrc/tftp.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/application_layer/tftp/Makefile
  sys/net/gnrc/application_layer/tftp/gnrc_tftp.c
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 3-testing, Reviewed: 5-documentation, Type: cleanup

#13366 pkg/littlefs2: Add package for LittleFS v2.x.y
  pkg/littlefs2/Makefile
  pkg/littlefs2/Makefile.dep
  pkg/littlefs2/Makefile.include
  pkg/littlefs2/Makefile.littlefs2
  pkg/littlefs2/doc.txt
  pkg/littlefs2/fs/Makefile
  pkg/littlefs2/fs/littlefs2_fs.c
  sys/include/fs/littlefs2_fs.h
  tests/pkg_littlefs2/Makefile
  tests/pkg_littlefs2/Makefile.ci
  tests/pkg_littlefs2/main.c
  tests/pkg_littlefs2/tests/01-run.py
Labels: Area: fs, Area: pkg, CI: ready for build, Reviewed: 3-testing, Type: enhancement

#13423 native: turn on creation of debug symbols (CFLAGS += -g)
  boards/native/Makefile.include
Labels: Area: build system, CI: ready for build, Platform: native, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#13417 boards/esp32: remove MCU feature table in board documentation
  boards/esp32-mh-et-live-minikit/doc.txt
  boards/esp32-olimex-evb/doc.txt
  boards/esp32-ttgo-t-beam/doc.txt
  boards/esp32-wemos-lolin-d32-pro/doc.txt
  boards/esp32-wroom-32/doc.txt
  boards/esp32-wrover-kit/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Platform: ESP, Type: enhancement

#13436 pkg/lwip: use GitHub mirror
  pkg/lwip/Makefile
Labels: Area: CI, Area: pkg, CI: ready for build

#13428 shell/gnrc_icmpv6_echo: print interface id in reply
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Type: new feature

#13432 boards/native: add deprecation warnings for `make all-debug`
  boards/native/Makefile.include
  boards/native/doc.txt
Labels: Area: boards, Area: tools, CI: ready for build, Type: cleanup

#13439 CODEOWNERS: reduce my scope on tests
  CODEOWNERS
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#13409 cpu/nrf5x: provide gpio_t type definition
  boards/feather-nrf52840/include/periph_conf.h
  boards/nrf52840-mdk/include/periph_conf.h
  boards/nrf52840dk/include/periph_conf.h
  boards/particle-argon/include/periph_conf.h
  boards/particle-boron/include/periph_conf.h
  boards/particle-xenon/include/periph_conf.h
  boards/reel/include/periph_conf.h
  cpu/nrf51/include/periph_cpu.h
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/uart.c
Labels: Area: boards, Area: cpu, CI: ready for build, Type: cleanup

#13256 Add driver for SPS30 particulate matter sensor
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/saul.h
  drivers/include/sps30.h
  drivers/saul/saul_str.c
  drivers/sps30/Makefile
  drivers/sps30/include/sps30_params.h
  drivers/sps30/sps30.c
  drivers/sps30/sps30_saul.c
  sys/auto_init/auto_init.c
  sys/auto_init/saul/auto_init_sps30.c
  sys/include/phydat.h
  sys/phydat/phydat_str.c
  tests/driver_sps30/Makefile
  tests/driver_sps30/README.md
  tests/driver_sps30/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13053 cpu/efm32: fix incorrect ADC status register
  cpu/efm32/periph/adc.c
Labels: CI: ready for build, Platform: ARM, Type: bug

#13438 sock_async_event: fix race-condition
  sys/net/sock/async/event/sock_async_event.c
Labels: Area: network, Area: pkg, CI: ready for build, Type: bug

#13433 sys/trickle: remove redundant pid assignment
  sys/trickle/trickle.c
Labels: CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13435 cpu/sam0_common/gpio: use explicit GCLK names
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: cleanup

#13414 boards/same54-xpro: don't source peripheral clocks from main clock
  boards/same54-xpro/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13411 cpu/samd5x: use ONDEMAND bit to run clocks on demand
  cpu/samd5x/cpu.c
Labels: Area: pm, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13443 shell/gnrc_icmpv6_echo: fix build with USEMODULE += sock_dns
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
  tests/gnrc_sock_dns/main.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#13446 esp-wifi: allow connecting to open networks
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_params.h
Labels: Area: network, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13449 cc1312-launchpad: add board documentation
  boards/cc1312-launchpad/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#13386 net/gcoap: use sock_async and events
  Makefile.dep
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup, Type: enhancement

#13378 boards: nucleo*: Cleanup documentation
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
  boards/nucleo-f072rb/doc.txt
  boards/nucleo-f091rc/doc.txt
  boards/nucleo-f103rb/doc.txt
  boards/nucleo-f207zg/doc.txt
  boards/nucleo-f302r8/doc.txt
  boards/nucleo-f303k8/doc.txt
  boards/nucleo-f303re/doc.txt
  boards/nucleo-f303ze/doc.txt
  boards/nucleo-f334r8/doc.txt
  boards/nucleo-f401re/doc.txt
  boards/nucleo-f410rb/doc.txt
  boards/nucleo-f411re/doc.txt
  boards/nucleo-f446re/doc.txt
  boards/nucleo-f446ze/doc.txt
  boards/nucleo-l152re/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#13342 cpu/native/can/candev_linux: add check for real can
  cpu/native/can/candev_linux.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13270 tests/conn_can: fix build error on native
  sys/can/conn/isotp.c
  tests/conn_can/Makefile
  tests/conn_can/Makefile.ci
Labels: Area: tests, CI: ready for build, Type: enhancement

#13453 tests/driver_srf08: reduce scope of range_array
  tests/driver_srf08/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: cleanup

#13268 sys/test_utils: add expect() header
  core/include/panic.h
  sys/include/test_utils/expect.h
  tests/README.md
  tests/bench_xtimer/Makefile
  tests/bench_xtimer/main.c
Labels: Area: tests, CI: ready for build

#13456 cpu/arm: fixes necessary for toolchain upgrade
  drivers/bmx280/include/bmx280_internals.h
  pkg/openthread/Makefile
  tests/unittests/Makefile
Labels: Area: build system, CI: ready for build, Platform: ARM, Type: bug

#13415 cpu/sam0*: enhance power saving by switching EIC clock source during STANDBY mode
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/gpio.c
  cpu/samd21/periph/pm.c
  cpu/samd5x/periph/pm.c
  cpu/saml1x/periph/pm.c
  cpu/saml21/cpu.c
  cpu/saml21/periph/pm.c
Labels: Area: cpu, Area: pm, CI: ready for build, Reviewed: 3-testing, Type: enhancement

#13454 net/gcoap: fix vera++ warnings
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, CI: ready for build, Type: cleanup

#13458 drivers/bmx280: provide correct CALIB_T_P_LEN
  drivers/bmx280/include/bmx280_internals.h
Labels: Area: drivers, CI: ready for build, Type: bug

#13455 sock_async: include `sock_async_ctx.h` before sock-types
  sys/include/net/sock/async/types.h
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#10475 boards/any silabs: Allow selecting OpenOCD
  boards/common/silabs/Makefile.include
  boards/common/slwstk6000b/Makefile.include
  boards/slstk3401a/Makefile.include
  boards/slstk3402a/Makefile.include
  boards/sltb001a/Makefile.include
  boards/stk3600/Makefile.include
  boards/stk3700/Makefile.include
  dist/tools/openocd/openocd.sh
Labels: Area: boards, Area: tools, CI: ready for build, Type: enhancement

#13461 boards/samXXX-xpro: clear LED on init
  boards/common/saml1x/board.c
  boards/samd21-xpro/board.c
  boards/same54-xpro/board.c
  boards/saml21-xpro/board.c
  boards/samr21-xpro/board.c
Labels: Area: boards, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13450 fix DNS resolution in ping6
  sys/include/net/sock/dns.h
  sys/net/application_layer/dns/dns.c
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Process: API change, Type: bug

#13463 CODEOWNERS: fine tune @MrKevinWeiss code ownership
  CODEOWNERS
Labels: CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#12574 tools/codespell: improve ignored words list + enable colored output
  dist/tools/codespell/check.sh
  dist/tools/codespell/ignored_words.txt
Labels: Area: CI, CI: ready for build, CI: skip compile test, Type: enhancement

#13080 make: even more useless exports removed
  boards/native/Makefile.include
  cpu/arm7_common/Makefile.include
  cpu/kinetis/Makefile.include
  cpu/msp430_common/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/arch/mips.inc.mk
  makefiles/arch/msp430.inc.mk
  makefiles/arch/riscv.inc.mk
  sys/Makefile.include
Labels: Area: build system, CI: ready for build, Type: cleanup

#13465 cpu/atmega_common: fix of compilation problem with NDEBUG
  cpu/atmega_common/periph/rtt.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Platform: AVR, Type: bug
