Repository RIOT-OS/RIOT, pull requests merged in 2020-03, with the labels that each got.

#13523 net/eui64: provide 32 bit access
  sys/include/net/eui64.h
Labels: Area: network, CI: ready for build, Impact: minor, Type: enhancement

#13512 tests: handle cml interactive_sync disabling
  sys/include/test_utils/interactive_sync.h
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13525 pkg/nimble/netif: minor API doc improvement
  pkg/nimble/netif/include/nimble_netif.h
Labels: Area: BLE, Area: doc, CI: ready for build, CI: skip compile test

#13502 examples/dtls-wolfssl: cleanup output messages
  examples/dtls-wolfssl/dtls-client.c
  examples/dtls-wolfssl/dtls-server.c
  examples/dtls-wolfssl/main.c
Labels: Area: examples, Area: security, CI: ready for build, Type: cleanup

#13260 pkg/wolfssl: bump version to 4.3.0
  pkg/wolfssl/Makefile
  pkg/wolfssl/Makefile.include
Labels: Area: pkg, CI: ready for build, Type: enhancement

#13437 pkg/local.mk: Add FORCE target to .PHONY
  pkg/local.mk
Labels: Area: build system, Area: pkg, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#13509 sys/phydat: improvement of phydat_dump including test application
  sys/phydat/phydat_str.c
  tests/phydat_dump/Makefile
  tests/phydat_dump/main.c
  tests/phydat_dump/tests/01-run.py
Labels: Area: sys, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13526 boards/samr30-xpro: fix AT86RF212B communication
  boards/samr30-xpro/include/board.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: bug

#13528 pkg/nimble/autoconn: minor debug message cleanup
  pkg/nimble/autoconn/nimble_autoconn.c
Labels: Area: BLE, CI: ready for build, Type: cleanup

#13522 cpu/kinetis: add mkw41z256vht4 to no-hwrng list
  cpu/kinetis/Makefile.features
Labels: Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13521 cpu/esp32: add .noinit section in linker script
  cpu/esp32/ld/esp32.common.ld
Labels: Area: cpu, CI: ready for build, Platform: ESP, Type: enhancement

#13336 mtd_spi_nor: erase timings in struct
  boards/mulle/board.c
  boards/pinetime/board.c
  drivers/include/mtd_spi_nor.h
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, Area: fs, CI: ready for build, Type: enhancement

#13180 boards/slwstk6000b-*: cleanup
  boards/common/slwstk6000b/Makefile.features
  boards/common/slwstk6000b/Makefile.include
  boards/common/slwstk6000b/module-info.mk
  boards/common/slwstk6000b/modules.txt
  boards/common/slwstk6000b/slwstk6000b.info.mk
  boards/slwstk6000b-slwrb4150a/Makefile.features
  boards/slwstk6000b-slwrb4150a/Makefile.include
  boards/slwstk6000b-slwrb4162a/Makefile.features
  boards/slwstk6000b-slwrb4162a/Makefile.include
Labels: Area: boards, CI: ready for build, Type: cleanup

#13262 sys/disp_dev: add generic interface for display drivers
  drivers/disp_dev/Makefile
  drivers/disp_dev/disp_dev.c
  drivers/ili9341/ili9341_disp_dev.c
  drivers/ili9341/include/ili9341_disp_dev.h
  drivers/include/disp_dev.h
  drivers/include/ili9341.h
  tests/disp_dev/Makefile
  tests/disp_dev/Makefile.ci
  tests/disp_dev/main.c
  tests/disp_dev/riot_logo.h
Labels: Area: drivers, CI: ready for build

#13284 periph_common/rtc: add rtc_mktime() & rtc_localtime() helper functions for RTC implementations
  cpu/esp32/periph/rtc.c
  drivers/include/periph/rtc.h
  drivers/periph_common/rtc.c
  tests/periph_rtc/main.c
  tests/unittests/tests-rtc/tests-rtc.c
Labels: Area: cpu, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13540 doxygen: increase DOT_GRAPH_MAX_NODES
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: bug

#13536 cpu/arm: fixes necessary for toolchain upgrade [backport 2020.01]
  drivers/bmx280/include/bmx280_internals.h
  pkg/openthread/Makefile
  tests/unittests/Makefile
Labels: Area: build system, CI: ready for build, Platform: ARM, Process: release backport, Type: bug

#13364 sys/auto_init: cleanup / unify / DEBUG -> LOG_DEBUG
  sys/auto_init/auto_init.c
Labels: Area: sys, CI: ready for build, Type: cleanup

#13464 boards: remove some of the non required variables export
  boards/arduino-mkr1000/Makefile.include
  boards/arduino-mkrfox1200/Makefile.include
  boards/arduino-mkrwan1300/Makefile.include
  boards/arduino-mkrzero/Makefile.include
  boards/cc2650-launchpad/Makefile.include
  boards/cc2650stk/Makefile.include
  boards/common/arduino-due/Makefile.include
  boards/common/iotlab/Makefile.include
  boards/esp32-wroom-32/Makefile.dep
  boards/nz32-sc151/Makefile.include
  boards/opencm904/Makefile.include
  boards/pic32-clicker/Makefile.include
  boards/pic32-wifire/Makefile.include
  boards/spark-core/Makefile.include
  boards/telosb/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/boards/stm32.inc.mk
Labels: Area: boards, Area: build system, CI: ready for build, Type: cleanup

#13539 gnrc_uhcpc: fix NULL pointer dereference
  sys/net/gnrc/application_layer/uhcpc/gnrc_uhcpc.c
Labels: Area: network, CI: ready for build, Impact: minor, Type: bug

#13520 cpu/stm32f1: make RTC Y2038 safe
  cpu/stm32f1/periph/rtc.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#13480 tools/openocd: export configuration variables only to required targets
  boards/b-l072z-lrwan1/Makefile.include
  boards/b-l475e-iot01a/Makefile.include
  boards/common/frdm/Makefile.include
  boards/common/iotlab/Makefile.include
  boards/i-nucleo-lrwan1/Makefile.include
  boards/lsn50/Makefile.include
  boards/pba-d-01-kw2x/Makefile.include
  boards/stm32f3discovery/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/boards/stm32.inc.mk
  makefiles/tools/openocd-adapters/dap.inc.mk
  makefiles/tools/openocd-adapters/iotlab.inc.mk
  makefiles/tools/openocd-adapters/jlink.inc.mk
  makefiles/tools/openocd-adapters/mulle.inc.mk
  makefiles/tools/openocd-adapters/stlink.inc.mk
  makefiles/tools/openocd-adapters/sysfs_gpio.inc.mk
  makefiles/tools/openocd.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build

#13178 dist/testbed-support: several improvements
  dist/testbed-support/Makefile.iotlab
  dist/testbed-support/README.iotlab.md
Labels: Area: tools, CI: ready for build, Type: bug, Type: enhancement

#13430 dist: factor out static tests from build_and_test.sh
  .murdock
  dist/tools/ci/build_and_test.sh
  dist/tools/ci/static_tests.sh
Labels: Area: build system, CI: ready for build, CI: skip compile test, Type: cleanup

#13394 cpu/atmega_common: implement emulated RTC support
  boards/atmega256rfr2-xpro/Makefile.features
  boards/avr-rss2/Makefile.features
  boards/derfmega128/Makefile.features
  boards/derfmega256/Makefile.features
  boards/mega-xplained/Makefile.features
  boards/microduino-corerf/Makefile.features
  cpu/atmega_common/Makefile.features
  cpu/atmega_common/periph/rtc.c
  drivers/include/periph/rtc.h
  drivers/periph_common/rtc.c
Labels: CI: ready for build, Platform: AVR, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13484 examples/gnrc_border_router: move module specific config to extra Makefile
  examples/gnrc_border_router/Makefile
  examples/gnrc_border_router/Makefile.board.dep
  examples/gnrc_border_router/Makefile.ethos.conf
  examples/gnrc_border_router/Makefile.native.conf
  examples/gnrc_border_router/Makefile.slip.conf
Labels: Area: examples, Area: network, CI: ready for build, Type: cleanup

#13542 auto_init: some more cleanup and unification
  sys/auto_init/auto_init.c
Labels: Area: sys, CI: ready for build, Type: cleanup, Type: enhancement

#13535 boards/cc1312-launchpad: add OpenOCD configuration
  boards/cc1312-launchpad/Makefile.include
  boards/cc1312-launchpad/doc.txt
  boards/cc1352-launchpad/Makefile.include
  boards/common/cc26x2_cc13x2/Makefile.include
  boards/common/cc26x2_cc13x2/dist/openocd.cfg
Labels: Area: boards, CI: ready for build, CI: skip compile test, Type: enhancement

#13516 cpu/esp_common: fixes common CPU configurations
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/ld/esp32.common.ld
  cpu/esp8266/include/cpu_conf.h
  cpu/esp_common/include/cpu_conf_common.h
  cpu/esp_common/syscalls.c
Labels: Area: cpu, CI: ready for build, CI: skip compile test, Platform: ESP, Type: bug

#13401 Makefile.dep: Fix duplicate modules from USEMODULE
  Makefile.dep
Labels: Area: build system, CI: ready for build, Type: bug

#13391 cpu/cortex-m: turn MPU support into a feature
  Makefile.dep
  cpu/cc2538/Makefile.features
  cpu/cc26x0/Makefile.features
  cpu/cc26x2_cc13x2/Makefile.features
  cpu/efm32/Makefile.features
  cpu/ezr32wg/Makefile.features
  cpu/lm4f120/Makefile.features
  cpu/lpc1768/Makefile.features
  cpu/nrf52/Makefile.features
  cpu/sam3/Makefile.features
  cpu/samd5x/Makefile.features
  cpu/saml1x/Makefile.features
  cpu/stm32f2/Makefile.features
  cpu/stm32f3/Makefile.features
  cpu/stm32f4/Makefile.features
  cpu/stm32f7/Makefile.features
  cpu/stm32l0/Makefile.features
  cpu/stm32l1/Makefile.features
  cpu/stm32l4/Makefile.features
  tests/mpu_stack_guard/Makefile
  tests/mpu_stack_guard/Makefile.ci
  tests/mpu_stack_guard/main.c
Labels: Area: build system, Area: security, CI: ready for build, Platform: ARM

#13514 cc2538-bsl.py: fix ERROR: string argument without an encoding
  dist/tools/cc2538-bsl/cc2538-bsl.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13489 tinydtls: remove receive buffer indirection via mbox
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Area: network, Area: security, CI: ready for build, Type: enhancement

#13202 MTD: Add module for remapping MTD sectors
  drivers/include/mtd_mapper.h
  drivers/mtd_mapper/Makefile
  drivers/mtd_mapper/mtd_mapper.c
  tests/mtd_mapper/Makefile
  tests/mtd_mapper/Makefile.ci
  tests/mtd_mapper/main.c
  tests/mtd_mapper/tests/01-run.py
Labels: Area: fs, CI: ready for build, CI: run tests, Type: new feature

#13547 Doc fixes
  boards/arduino-mega2560/doc.txt
  boards/frdm-k64f/doc.txt
  boards/nrf52840-mdk/doc.txt
  boards/saml11-xpro/doc.txt
  boards/sodaq-autonomo/doc.txt
  boards/sodaq-sara-aff/doc.txt
  boards/stm32f3discovery/doc.txt
  cpu/esp8266/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: cleanup

#13543 tools/backport_pr: Add Token Scope check
  dist/tools/backport_pr/backport_pr.py
Labels: Area: tools, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13553 tests/nordic_softdevice: disable CI testing
  tests/nordic_softdevice/Makefile
Labels: Area: tests, CI: ready for build, CI: skip compile test, Type: bug, Type: cleanup

#13550 pkg/cryptoauthlib: enable boards to set auto init parameters
  pkg/cryptoauthlib/include/atca_params.h
Labels: Area: drivers, Area: security, CI: ready for build, Impact: minor

#13472 drivers/lis2dh12: add interrupt functionality
  drivers/Makefile.dep
  drivers/include/lis2dh12.h
  drivers/lis2dh12/include/lis2dh12_params.h
  drivers/lis2dh12/lis2dh12.c
  makefiles/pseudomodules.inc.mk
  tests/driver_lis2dh12/Makefile
  tests/driver_lis2dh12/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13529 testbed-support: fix compatibility with cli-tools v3
  dist/testbed-support/Makefile.iotlab
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: bug

#13561 sys/net/gnrc: Flag esp_now as 6LN
  sys/net/gnrc/netif/gnrc_netif_device_type.c
Labels: CI: ready for build, Impact: minor, Type: bug

#13531 boards/nucleo-f767zi: Fix13179 make nucleo-f767zi debuggable again [backport 2020.01]
  boards/common/stm32/dist/stm32f7.cfg
  boards/nucleo-f767zi/Makefile.include
  dist/tools/openocd/openocd.sh
Labels: CI: ready for build, Process: release backport, Type: bug

#13560 gnrc_uhcpc: ensure compression context is managed by the ABR
  sys/net/gnrc/application_layer/uhcpc/gnrc_uhcpc.c
Labels: Area: examples, Area: network, CI: ready for build, Type: bug

#13563 doxygen/I2C: don't include overridden typedefs
  cpu/lpc2387/include/periph_cpu.h
Labels: Area: doc, CI: ready for build, Impact: minor, Type: bug

#10477 sliptty: introduce a new SLIP to TUN tool
  dist/tools/sliptty/.gitignore
  dist/tools/sliptty/Makefile
  dist/tools/sliptty/sliptty.c
  dist/tools/sliptty/start_network.sh
Labels: Area: network, Area: tools, CI: ready for build, Reviewed: 3-testing, Type: new feature

#13564 gnrc_uhcpc: only configure 6Lo-ND features if wireless-interface is 6LN
  sys/net/gnrc/application_layer/uhcpc/gnrc_uhcpc.c
Labels: Area: network, CI: ready for build, Type: bug

#10480 slipdev: provide stdio multiplexing over SLIP
  Makefile.dep
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/slipdev.h
  drivers/slipdev/Makefile
  drivers/slipdev/include/slipdev_internal.h
  drivers/slipdev/include/slipdev_params.h
  drivers/slipdev/slipdev.c
  drivers/slipdev/stdio.c
  examples/gcoap/Makefile.slip
  examples/gcoap/slipdev_params.h
  examples/gnrc_border_router/Makefile
  examples/gnrc_border_router/Makefile.board.dep
  examples/gnrc_border_router/Makefile.slip.conf
  makefiles/pseudomodules.inc.mk
Labels: Area: drivers, Area: network, CI: ready for build, Type: enhancement

#13199 xtimer/xtimer.c: xtimer_mutex_lock_timeout fix with short timeout
  sys/xtimer/xtimer.c
  tests/xtimer_mutex_lock_timeout/main.c
  tests/xtimer_mutex_lock_timeout/tests/01-run.py
Labels: Area: tests, Area: timers, CI: ready for build, CI: run tests, Type: bug

#11874 sys/ztimer: initial import
  CODEOWNERS
  Makefile.dep
  boards/common/arduino-atmega/include/board_common.h
  boards/ek-lm4f120xl/include/board.h
  boards/frdm-kw41z/include/board.h
  boards/native/include/board.h
  boards/phynode-kw41z/include/board.h
  boards/samr21-xpro/include/board.h
  boards/usb-kw41z/include/board.h
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/auto_init/auto_init.c
  sys/include/xtimer.h
  sys/include/xtimer/implementation.h
  sys/include/ztimer.h
  sys/include/ztimer/convert.h
  sys/include/ztimer/convert_frac.h
  sys/include/ztimer/convert_muldiv64.h
  sys/include/ztimer/convert_shift.h
  sys/include/ztimer/mock.h
  sys/include/ztimer/overhead.h
  sys/include/ztimer/periph_rtc.h
  sys/include/ztimer/periph_rtt.h
  sys/include/ztimer/periph_timer.h
  sys/include/ztimer/xtimer_compat.h
  sys/xtimer/xtimer_core.c
  sys/ztimer/Makefile
  sys/ztimer/Makefile.dep
  sys/ztimer/auto_init.c
  sys/ztimer/convert.c
  sys/ztimer/convert_frac.c
  sys/ztimer/convert_muldiv64.c
  sys/ztimer/convert_shift.c
  sys/ztimer/core.c
  sys/ztimer/mock.c
  sys/ztimer/overhead.c
  sys/ztimer/periph_rtc.c
  sys/ztimer/periph_rtt.c
  sys/ztimer/periph_timer.c
  sys/ztimer/util.c
  sys/ztimer/xtimer2ztimer.cocci
  tests/unittests/tests-ztimer/Makefile
  tests/unittests/tests-ztimer/Makefile.include
  tests/unittests/tests-ztimer/tests-ztimer-convert-muldiv64.c
  tests/unittests/tests-ztimer/tests-ztimer-mock.c
  tests/unittests/tests-ztimer/tests-ztimer.c
  tests/unittests/tests-ztimer/tests-ztimer.h
  tests/xtimer_drift/main.c
  tests/ztimer_msg/Makefile
  tests/ztimer_msg/Makefile.ci
  tests/ztimer_msg/README.md
  tests/ztimer_msg/main.c
  tests/ztimer_msg/tests/01-run.py
  tests/ztimer_overhead/Makefile
  tests/ztimer_overhead/README.md
  tests/ztimer_overhead/main.c
  tests/ztimer_overhead/tests/01-run.py
Labels: Area: timers, CI: ready for build, Type: new feature

#13022 nanocoap: add coap_opt_add_uquery2() with parameter key value length
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#13511 drivers/periph_common: add periph_init% modules
  Makefile.dep
  drivers/periph_common/init.c
  makefiles/defaultmodules.inc.mk
  tests/periph_rtt/Makefile
  tests/periph_rtt/main.c
Labels: Area: cpu, Area: drivers, CI: ready for build, CI: run tests, Type: enhancement

#13569 sys/ztimer: make auto_init use LOG_DEBUG
  sys/ztimer/auto_init.c
Labels: Area: sys, Area: timers, CI: ready for build, Impact: minor, Type: cleanup

#13568 dist/tools/cc2538-bsl: use upstream version
  boards/cc2538dk/Makefile.include
  boards/common/remote/Makefile.include
  boards/openmote-b/Makefile.include
  boards/openmote-cc2538/Makefile.include
  dist/tools/cc2538-bsl/.gitignore
  dist/tools/cc2538-bsl/Makefile
  dist/tools/cc2538-bsl/cc2538-bsl.py
  makefiles/tools/targets.inc.mk
Labels: Area: tools, CI: ready for build, Type: enhancement

#13427 lwip: provide sock_async support
  pkg/lwip/Makefile.dep
  pkg/lwip/Makefile.include
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  pkg/lwip/include/lwipopts.h
  pkg/lwip/include/sock_types.h
  pkg/lwip/patches/0001-netconn-add-callback-arg-storage.patch
  sys/net/sock/async/event/sock_async_event.c
  tests/lwip/Makefile
  tests/lwip/ip.c
  tests/lwip/tcp.c
  tests/lwip/tests/01-run.py
  tests/lwip/udp.c
Labels: Area: network, Area: pkg, CI: ready for build, Type: new feature

#12992 Kconfig: Expose pkg/tinydtls configurations
  Kconfig
  examples/dtls-echo/Makefile
  examples/dtls-echo/README.md
  examples/dtls-echo/dtls-client.c
  examples/dtls-echo/dtls-server.c
  examples/dtls-echo/tinydtls_keys.h
  examples/dtls-sock/Makefile
  examples/dtls-sock/README.md
  examples/dtls-sock/dtls-client.c
  examples/dtls-sock/dtls-server.c
  examples/dtls-sock/tinydtls_keys.h
  pkg/Kconfig
  pkg/tinydtls/Kconfig
  pkg/tinydtls/Makefile.include
  pkg/tinydtls/contrib/sock_dtls.c
  pkg/tinydtls/doc.txt
Labels: Area: Kconfig, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, TF: Config, Type: new feature

#13562 netdev: add netdev_trigger_event_isr() function
  cpu/cc2538/radio/cc2538_rf_netdev.c
  cpu/esp32/esp-eth/esp_eth_netdev.c
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/native/netdev_tap/netdev_tap.c
  cpu/native/socket_zep/socket_zep.c
  cpu/nrf52/radio/nrf802154/nrf802154.c
  cpu/nrf5x_common/radio/nrfmin/nrfmin.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/cc110x/cc110x_netdev.c
  drivers/cc2420/cc2420_netdev.c
  drivers/dose/dose.c
  drivers/enc28j60/enc28j60.c
  drivers/encx24j600/encx24j600.c
  drivers/ethos/ethos.c
  drivers/include/net/netdev.h
  drivers/kw2xrf/kw2xrf_netdev.c
  drivers/mrf24j40/mrf24j40_netdev.c
  drivers/rn2xx3/rn2xx3.c
  drivers/slipdev/slipdev.c
  drivers/stm32_eth/stm32_eth.c
  drivers/sx127x/sx127x.c
  drivers/w5100/w5100.c
  drivers/xbee/xbee.c
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
  tests/gnrc_netif/common.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_udp/stack.c
  tests/netdev_test/main.c
Labels: Area: network, CI: ready for build, Type: cleanup

#13575 cpu/cc2538: handle cc2538_rf deps in Makefile.dep
  boards/cc2538dk/Makefile.dep
  boards/common/remote/Makefile.dep
  boards/openmote-b/Makefile.dep
  boards/openmote-cc2538/Makefile.dep
  cpu/cc2538/Makefile.dep
Labels: Area: boards, Area: cpu, CI: ready for build, Type: cleanup

#13574 sys/ztimer: fix RTT backend
  sys/ztimer/auto_init.c
Labels: Area: timers, CI: ready for build, Type: bug

#13579 gnrc_netif_send: add send function
  examples/gnrc_lorawan/main.c
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/network_layer/sixlowpan/gnrc_sixlowpan.c
  sys/shell/commands/sc_gnrc_netif.c
  tests/gnrc_netif/main.c
  tests/netdev_test/main.c
Labels: Area: network, CI: ready for build, Type: cleanup

#13578 tests: clean up use of auto_init
  tests/c11_atomics_cpp_compat/Makefile
  tests/irq/Makefile
Labels: Area: tests, CI: ready for build, CI: skip compile test, Impact: minor, Type: cleanup

#13572 sliptty/start_network.sh: configure global address for SLIP interface
  CODEOWNERS
  dist/tools/sliptty/start_network.sh
  examples/gnrc_border_router/Makefile.slip.conf
Labels: Area: network, Area: tools, CI: ready for build, CI: skip compile test, Type: enhancement

#13591 gnrc/lorawan: fix netopt_state_t value handling
  drivers/sx127x/sx127x_netdev.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Impact: minor, Type: bug

#13596 tests: fix netopt_state_t value handling in driver_sx127x
  tests/driver_sx127x/main.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Impact: minor, Type: bug

#13595 gnrc/lorawan: fixes the handling of downlink frames without payload
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mcps.c
Labels: Area: LoRa, Area: network, CI: ready for build, Type: bug

#13495 examples/dtls-sock: fix timeout msg stays in mbox
  examples/dtls-sock/dtls-client.c
  examples/dtls-sock/dtls-server.c
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock/dtls.h
Labels: Area: pkg, CI: ready for build, Type: bug

#13599 boards/esp32-wroom-32: Remove driver configurations from Makefile.dep
  boards/esp32-wroom-32/Makefile.dep
  boards/esp32-wroom-32/doc.txt
Labels: Area: build system, CI: ready for build, Impact: minor, Type: cleanup

#13589 cpu/stm32f103: Allow boards to expose JTAG pins as GPIOs
  boards/common/blxxxpill/include/board_common.h
  boards/nucleo-f103rb/Makefile.include
  cpu/stm32_common/cpu_init.c
  cpu/stm32f1/periph/gpio.c
Labels: Area: boards, Area: cpu, CI: ready for build, Type: enhancement

#13577 sys/ztimer: fix typo in rtt conversion selection
  sys/ztimer/auto_init.c
Labels: Area: timers, CI: ready for build, Type: bug

#13554 memarray: fix memarray init
  sys/memarray/memarray.c
  tests/memarray/main.c
  tests/memarray/tests/01-run.py
Labels: Area: sys, CI: ready for build, Type: bug

#13594 tools/cc2538-bsl: deduplicate buildsystem integration
  boards/cc2538dk/Makefile.include
  boards/common/remote/Makefile.include
  boards/openmote-b/Makefile.include
  boards/openmote-cc2538/Makefile.include
  makefiles/tools/cc2538-bsl.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, CI: skip compile test, Type: cleanup

#13559 sys/crypto: define cipher using a module instead of CFLAGS
  Makefile.dep
  examples/gnrc_lorawan/Makefile
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/crypto/doc.txt
  sys/include/crypto/ciphers.h
  tests/sys_crypto/Makefile
  tests/unittests/tests-hashes/Makefile.include
Labels: Area: crypto, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13601 cpu/sam0_common: gpio: add gpio_disable_mux() function
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#13592 pkg/qcbor: Add QCBOR package
  pkg/qcbor/Makefile
  pkg/qcbor/Makefile.dep
  pkg/qcbor/Makefile.include
  pkg/qcbor/Makefile.qcbor
  pkg/qcbor/doc.txt
  tests/pkg_qcbor/Makefile
  tests/pkg_qcbor/Makefile.ci
  tests/pkg_qcbor/main.c
  tests/pkg_qcbor/tests/01-run.py
Labels: Area: pkg, CI: ready for build, CI: skip compile test, Type: new feature

#8410 boards: fix CLOCK_PLL_PREDIV on stm32f1-based boards
  boards/fox/include/periph_conf.h
  boards/maple-mini/include/periph_conf.h
  boards/opencm904/include/periph_conf.h
  boards/spark-core/include/periph_conf.h
  cpu/stm32_common/stmclk.c
Labels: Area: boards, CI: ready for build

#13570 sys/ztimer: allow "adjust" config for ztimer_usec, ztimer_msec
  sys/ztimer/auto_init.c
Labels: Area: sys, Area: timers, CI: ready for build

#13603 cpu/sam0_common: add samd21j17d
  cpu/sam0_common/Makefile.include
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: new feature

#13571 sys/ztimer: make ztimer_overhead() return signed result
  sys/include/ztimer/overhead.h
  sys/ztimer/overhead.c
  tests/ztimer_overhead/main.c
  tests/ztimer_overhead/tests/01-run.py
Labels: Area: sys, Area: timers, CI: ready for build, Type: bug

#13593 boards/pyocd: cleanup use of `export` keyword
  boards/calliope-mini/Makefile.include
  boards/common/particle-mesh/Makefile.include
  boards/nrf52832-mdk/Makefile.include
  boards/nrf52840-mdk/Makefile.include
  boards/pinetime/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/tools/pyocd.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, Type: cleanup

#13051 cpu/uart: create common uart hw fc module
  boards/arduino-mkrwan1300/include/periph_conf.h
  boards/arduino-zero/include/periph_conf.h
  boards/cc1312-launchpad/include/periph_conf.h
  boards/cc1352-launchpad/include/periph_conf.h
  boards/cc2538dk/include/periph_conf.h
  boards/cc2650-launchpad/include/periph_conf.h
  boards/cc2650stk/include/periph_conf.h
  boards/common/arduino-mkr/include/periph_conf.h
  boards/common/remote/include/cfg_uart_default.h
  boards/common/saml1x/include/periph_conf.h
  boards/feather-m0/include/periph_conf.h
  boards/feather-nrf52840/include/periph_conf.h
  boards/nrf52840-mdk/include/periph_conf.h
  boards/nrf52840dk/include/periph_conf.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  boards/p-l496g-cell02/include/periph_conf.h
  boards/particle-argon/Makefile.dep
  boards/particle-argon/include/periph_conf.h
  boards/particle-boron/Makefile.dep
  boards/particle-boron/include/periph_conf.h
  boards/particle-xenon/include/periph_conf.h
  boards/reel/include/periph_conf.h
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
  boards/samr30-xpro/include/periph_conf.h
  boards/samr34-xpro/include/periph_conf.h
  boards/sensebox_samd21/include/periph_conf.h
  boards/sodaq-autonomo/include/periph_conf.h
  boards/sodaq-explorer/include/periph_conf.h
  boards/sodaq-one/include/periph_conf.h
  boards/sodaq-sara-aff/include/periph_conf.h
  boards/stm32f723e-disco/Makefile.dep
  boards/stm32f723e-disco/include/periph_conf.h
  boards/ublox-c030-u201/Makefile.dep
  boards/ublox-c030-u201/include/periph_conf.h
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/uart.c
  cpu/cc26xx_cc13xx/include/periph_cpu_common.h
  cpu/cc26xx_cc13xx/periph/uart.c
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf5x_common/periph/uart.c
  cpu/sam0_common/Makefile.include
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/uart.c
  cpu/stm32_common/include/periph_cpu_common.h
  cpu/stm32_common/periph/uart.c
Labels: Area: cpu, CI: ready for build, Type: cleanup

#13567 boards: remove exports of jlink related variables
  boards/common/arduino-mkr/Makefile.include
  boards/common/nrf51/Makefile.include
  boards/common/nrf52/Makefile.include
  boards/common/silabs/Makefile.include
  boards/common/slwstk6000b/Makefile.include
  boards/feather-m0/Makefile.include
  boards/hamilton/Makefile.include
  boards/hifive1b/Makefile.include
  boards/ikea-tradfri/Makefile.include
  boards/openmote-b/Makefile.include
  boards/openmote-cc2538/Makefile.include
  boards/pic32-wifire/Makefile.include
  boards/sensebox_samd21/Makefile.include
  boards/slstk3401a/Makefile.include
  boards/slstk3402a/Makefile.include
  boards/sltb001a/Makefile.include
  boards/slwstk6220a/Makefile.include
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/tools/jlink.inc.mk
Labels: Area: boards, Area: build system, Area: tools, CI: ready for build, Type: cleanup

#13610 tests/lwip: stabalize test script
  tests/lwip/tests/01-run.py
Labels: Area: network, Area: tests, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 3-testing, Type: bug

#13360 Tests/candev: Initial version with native support
  CODEOWNERS
  Makefile.dep
  tests/candev/Makefile
  tests/candev/Makefile.ci
  tests/candev/README.md
  tests/candev/main.c
  tests/conn_can/Makefile
Labels: Area: tests, CI: ready for build, Type: new feature

#9572 On-Chip Debugging for AVR/ATmega based boards
  boards/arduino-mega2560/doc.txt
  boards/arduino-nano/doc.txt
  boards/arduino-uno/doc.txt
  boards/atmega1284p/doc.txt
  boards/atmega256rfr2-xpro/Makefile.include
  boards/atmega256rfr2-xpro/dist/debug.sh
  boards/atmega328p/doc.txt
  boards/common/arduino-atmega/dist/debug.sh
  boards/common/arduino-atmega/dist/debug_srv.sh
  boards/common/arduino-atmega/dist/gdb.conf
  boards/mega-xplained/dist/debug.sh
  boards/mega-xplained/dist/debug_srv.sh
  boards/mega-xplained/dist/gdb.conf
  boards/microduino-corerf/doc.txt
  boards/waspmote-pro/dist/debug.sh
  boards/waspmote-pro/dist/debug_srv.sh
  boards/waspmote-pro/dist/gdb.conf
  dist/tools/avarice/debug.sh
  dist/tools/avarice/debug_srv.sh
  dist/tools/avarice/gdb.conf
  makefiles/tools/avrdude.inc.mk
Labels: CI: ready for build, Platform: AVR, Type: bug, Type: cleanup, Type: enhancement

#13581 boards/olimexino-stm32: add support for olimexino-stm32 board
  boards/olimexino-stm32/Makefile
  boards/olimexino-stm32/Makefile.dep
  boards/olimexino-stm32/Makefile.features
  boards/olimexino-stm32/Makefile.include
  boards/olimexino-stm32/board.c
  boards/olimexino-stm32/doc.txt
  boards/olimexino-stm32/include/board.h
  boards/olimexino-stm32/include/gpio_params.h
  boards/olimexino-stm32/include/periph_conf.h
  examples/dtls-sock/Makefile.ci
  examples/gnrc_border_router/Makefile.ci
  examples/javascript/Makefile.ci
  examples/lua_REPL/Makefile.ci
  examples/lua_basic/Makefile.ci
  makefiles/boards/stm32.inc.mk
  tests/bench_xtimer/Makefile.ci
  tests/gnrc_dhcpv6_client_6lbr/Makefile.ci
  tests/gnrc_netif/Makefile.ci
  tests/pkg_utensor/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#13524 boards: add openlabs-kw41z-mini-256kib
  boards/openlabs-kw41z-mini-256kib/Makefile
  boards/openlabs-kw41z-mini-256kib/Makefile.dep
  boards/openlabs-kw41z-mini-256kib/Makefile.features
  boards/openlabs-kw41z-mini-256kib/Makefile.include
  boards/openlabs-kw41z-mini/Makefile.features
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: new feature

#10420 drivers: add driver for APDS99XX ambient light and proximity sensors
  dist/tools/codespell/ignored_words.txt
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/apds99xx/Makefile
  drivers/apds99xx/apds99xx.c
  drivers/apds99xx/apds99xx_saul.c
  drivers/apds99xx/include/apds99xx_params.h
  drivers/apds99xx/include/apds99xx_regs.h
  drivers/include/apds99xx.h
  drivers/saul/init_devs/auto_init_apds99xx.c
  drivers/saul/init_devs/init.c
  makefiles/pseudomodules.inc.mk
  tests/driver_apds99xx/Makefile
  tests/driver_apds99xx/main.c
  tests/driver_apds99xx/tests/01-run.py
  tests/driver_apds99xx_full/Makefile
  tests/driver_apds99xx_full/main.c
  tests/driver_apds99xx_full/tests/01-run.py
Labels: Area: SAUL, Area: drivers, CI: ready for build, CI: run tests, Type: new feature

#13152 shell_commands: provide command to print version
  sys/shell/commands/sc_sys.c
  sys/shell/commands/shell_commands.c
  tests/periph_wdt/Makefile.ci
Labels: Area: sys, CI: ready for build, Type: enhancement

#13618 sliptty/start_network.sh: fix if no argument is given
  dist/tools/sliptty/start_network.sh
Labels: Area: tools, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13387 Add optional support for executable space protections
  Makefile.dep
  core/sched.c
  cpu/cortexm_common/vectors_cortexm.c
  makefiles/pseudomodules.inc.mk
  tests/mpu_noexec_ram/Makefile
  tests/mpu_noexec_ram/README.md
  tests/mpu_noexec_ram/main.c
  tests/mpu_noexec_ram/tests/01-run.py
Labels: Area: security, CI: ready for build, CI: skip compile test, Type: enhancement

#13615 sock_async: add optional callback argument
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  pkg/lwip/include/sock_types.h
  sys/include/net/sock/async.h
  sys/include/net/sock/async/event.h
  sys/include/net/sock/async/types.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/sock/include/sock_types.h
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  sys/net/sock/async/event/sock_async_ctx.h
  sys/net/sock/async/event/sock_async_event.c
  tests/gnrc_sock_async_event/main.c
  tests/lwip/ip.c
  tests/lwip/tcp.c
  tests/lwip/udp.c
Labels: Area: network, CI: ready for build, Process: API change, Type: enhancement

#13619 boards/feather-nrf52840: fix LED macros
  boards/feather-nrf52840/include/board.h
Labels: Area: boards, CI: ready for build, Type: bug

#11192 boards: include common dfu logic where applicable
  boards/common/blxxxpill/Makefile.include
  boards/nz32-sc151/Makefile.include
  boards/pyboard/Makefile.include
  boards/spark-core/Makefile.include
  makefiles/boards/stm32.inc.mk
  makefiles/tools/dfu.inc.mk
Labels: Area: boards, Area: tools, CI: ready for build, Type: cleanup

#13605 gnrc_ipv6_nib: remove parenthesis from boolean configs
  sys/include/net/gnrc/ipv6/nib/conf.h
Labels: Area: network, CI: ready for build, Impact: minor, Type: cleanup

#13510 cpu/cc2538: implement periph/pm
  cpu/cc2538/Makefile.dep
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/pm.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#13588 drivers/cc110x: Handle lost IRQs more gracefully
  drivers/cc110x/cc110x_netdev.c
Labels: CI: ready for build, Impact: minor, Type: bug

#12717 driver/bme680: add I2C/SPI driver for BME680 device
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/bme680/Makefile
  drivers/bme680/bme680.c
  drivers/bme680/bme680_saul.c
  drivers/bme680/include/bme680_params.h
  drivers/include/bme680.h
  drivers/include/saul.h
  drivers/saul/init_devs/auto_init_bme680.c
  drivers/saul/init_devs/init.c
  drivers/saul/saul_str.c
  makefiles/pseudomodules.inc.mk
  pkg/driver_bme680/Makefile
  pkg/driver_bme680/Makefile.dep
  pkg/driver_bme680/Makefile.driver_bme680
  pkg/driver_bme680/Makefile.include
  pkg/driver_bme680/README.md
  pkg/driver_bme680/contrib/Makefile
  pkg/driver_bme680/contrib/bme680_hal.c
  pkg/driver_bme680/doc.txt
  pkg/driver_bme680/include/bme680_hal.h
  pkg/driver_bme680/patches/0001-reword-files-and-functions.patch
  sys/include/phydat.h
  sys/phydat/phydat_str.c
  tests/driver_bme680/Makefile
  tests/driver_bme680/Makefile.ci
  tests/driver_bme680/README.md
  tests/driver_bme680/main.c
  tests/driver_bme680/tests/01-run.py
Labels: Area: drivers, Area: pkg, CI: ready for build, Type: new feature

#10745 cpu: make default idle/main stacksizes configurable on all archs
  cpu/atmega32u4/include/cpu_conf.h
  cpu/atmega_common/include/cpu_conf.h
  cpu/esp32/include/cpu_conf.h
  cpu/lpc2387/include/cpu_conf.h
  sys/ps/ps.c
  tests/minimal/Makefile
Labels: CI: ready for build, Type: enhancement

#13584 net/nanocoap: add uquery improvements
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Type: cleanup

#13617 boards/openlabs-kw41z-mini: documentation fixes
  boards/openlabs-kw41z-mini-256kib/doc.txt
  boards/openlabs-kw41z-mini/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: cleanup

#13622 sys/net/dhcpv6: fixes option length handling in client implementation
  sys/net/application_layer/dhcpv6/client.c
  tests/gnrc_dhcpv6_client_6lbr/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: bug

#13466 tests: fix compilation problems with NDEBUG
  cpu/nrf51/periph/pwm.c
  cpu/stm32_common/periph/usbdev.c
  drivers/mtd_mapper/mtd_mapper.c
  examples/ndn-ping/ndn_ping.c
  pkg/ubasic/patches/0001-replace-assert-by-expect.patch
  tests/bench_timers/main.c
  tests/bench_xtimer/main.c
  tests/cpp11_condition_variable/main.cpp
  tests/cpp11_mutex/main.cpp
  tests/cpp11_thread/main.cpp
  tests/driver_motor_driver/main.c
  tests/embunit/main.c
  tests/events/main.c
  tests/gnrc_ipv6_ext_frag/main.c
  tests/gnrc_ipv6_fwd_w_sub/main.c
  tests/gnrc_ipv6_fwd_w_sub/mockup_netif.c
  tests/gnrc_ipv6_nib/mockup_netif.c
  tests/gnrc_ipv6_nib_6ln/mockup_netif.c
  tests/gnrc_ndp/main.c
  tests/gnrc_netif/common.c
  tests/gnrc_netif/main.c
  tests/gnrc_sixlowpan/main.c
  tests/gnrc_sixlowpan_iphc_w_vrb/main.c
  tests/gnrc_sock_async_event/main.c
  tests/gnrc_sock_ip/main.c
  tests/gnrc_sock_udp/main.c
  tests/lua_loader/main.c
  tests/lwip/ip.c
  tests/lwip/tcp.c
  tests/lwip/udp.c
  tests/lwip_sock_ip/main.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_tcp/main.c
  tests/lwip_sock_udp/main.c
  tests/lwip_sock_udp/stack.c
  tests/nimble_l2cap/main.c
  tests/nimble_l2cap_server/main.c
  tests/periph_eeprom/main.c
  tests/pkg_cn-cbor/main.c
  tests/pkg_micro-ecc/main.c
  tests/socket_zep/main.c
  tests/thread_msg_block_race/main.c
  tests/unittests/tests-gnrc_ipv6/tests-gnrc_ipv6.c
  tests/usbus/usbdev_mock.c
Labels: Area: examples, Area: tests, CI: ready for build, Type: bug

#7583 cpu/sam3: added RTT driver
  boards/common/arduino-due/Makefile.features
  boards/common/arduino-due/include/periph_conf.h
  cpu/sam3/cpu.c
  cpu/sam3/include/periph_cpu.h
  cpu/sam3/periph/rtt.c
Labels: CI: ready for build, Platform: ARM, State: don't stale, Type: new feature

#13627 boards/samr30: add helper for antenna switch
  boards/samr30-xpro/board.c
  boards/samr30-xpro/include/board.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#13625 boards/nucleo-l152re: fix uart1 pinout config
  boards/nucleo-l152re/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Impact: minor, Type: bug

#13240 net/coap: deprecate gcoap_add_qstring() and update uses
  sys/include/net/gcoap.h
  sys/net/application_layer/cord/common/cord_common.c
  sys/net/application_layer/cord/ep/cord_ep.c
Labels: Area: CoAP, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: cleanup

#11315 boards: add support for im880b lora board
  boards/im880b/Makefile
  boards/im880b/Makefile.dep
  boards/im880b/Makefile.features
  boards/im880b/Makefile.include
  boards/im880b/board.c
  boards/im880b/doc.txt
  boards/im880b/include/board.h
  boards/im880b/include/periph_conf.h
  examples/asymcute_mqttsn/Makefile.ci
  examples/cord_ep/Makefile.ci
  examples/dtls-echo/Makefile.ci
  examples/dtls-sock/Makefile.ci
  examples/dtls-wolfssl/Makefile.ci
  examples/emcute_mqttsn/Makefile.ci
  examples/gnrc_border_router/Makefile.ci
  examples/gnrc_networking/Makefile.ci
  examples/javascript/Makefile.ci
  examples/lua_REPL/Makefile.ci
  examples/lua_basic/Makefile.ci
  examples/posix_sockets/Makefile.ci
  examples/wakaama/Makefile.ci
  tests/bench_xtimer/Makefile.ci
  tests/conn_can/Makefile.ci
  tests/driver_cc110x/Makefile.ci
  tests/emcute/Makefile.ci
  tests/gnrc_dhcpv6_client/Makefile.ci
  tests/gnrc_dhcpv6_client_6lbr/Makefile.ci
  tests/gnrc_ipv6_ext/Makefile.ci
  tests/gnrc_ipv6_ext_frag/Makefile.ci
  tests/gnrc_netif/Makefile.ci
  tests/gnrc_rpl_srh/Makefile.ci
  tests/gnrc_sixlowpan/Makefile.ci
  tests/gnrc_tcp/Makefile.ci
  tests/gnrc_udp/Makefile.ci
  tests/pkg_utensor/Makefile.ci
  tests/pthread_cooperation/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: LoRa, Area: boards, CI: ready for build, Type: new feature

#13628 gnrc_rpl: add default value to GNRC_RPL_DEFAULT_NETIF
  sys/include/net/gnrc/rpl.h
  sys/net/gnrc/routing/rpl/gnrc_rpl_auto_init.c
Labels: Area: network, CI: ready for build, Impact: minor, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#13634 makefiles/tools/cc2538-bsl.inc.mk: allow FLASHER override
  makefiles/tools/cc2538-bsl.inc.mk
Labels: Area: tools, CI: ready for build, Type: bug

#13623 makefiles/boards/stm32.ink.mk: Use ROM_OFFSET with stm32flash
  makefiles/boards/stm32.inc.mk
Labels: Area: tools, CI: ready for build, Type: new feature

#13639 Makefile.dep: periph_init based on USEMODULE
  Makefile.dep
Labels: Area: build system, CI: ready for build, Type: enhancement

#13644 CODEOWNERS: remove from Makefile*
  CODEOWNERS
Labels: CI: ready for build, CI: skip compile test

#13620 pkg/yxml: add Yxml XML parser library package
  pkg/yxml/Makefile
  pkg/yxml/Makefile.dep
  pkg/yxml/Makefile.include
  pkg/yxml/Makefile.yxml
  pkg/yxml/doc.txt
  tests/pkg_yxml/Makefile
  tests/pkg_yxml/Makefile.ci
  tests/pkg_yxml/main.c
  tests/pkg_yxml/tests/01-run.py
Labels: Area: pkg, CI: ready for build, CI: run tests, Type: new feature

#13226 gnrc_netif: add gnrc_netif_highlander function
  sys/include/net/gnrc/netif.h
  sys/include/net/gnrc/netif/internal.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_auto_init.c
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Type: cleanup

#13478 unittests: tests-sixlowpan_ctx: fix prefix check
  tests/unittests/tests-sixlowpan_ctx/tests-sixlowpan_ctx.c
Labels: Area: network, Area: tests, CI: ready for build, CI: skip compile test, Type: bug

#13598 cpu/cc2538: fix spi_transfer_bytes()
  cpu/cc2538/periph/spi.c
Labels: Area: cpu, CI: ready for build, Type: bug

#13613 tests: add interactive_sync adapted to shell
  Makefile.dep
  dist/pythonlibs/testrunner/spawn.py
  dist/pythonlibs/testrunner/utils.py
  makefiles/pseudomodules.inc.mk
  sys/auto_init/auto_init.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_interactive_sync.c
  sys/shell/commands/shell_commands.c
  tests/README.md
  tests/periph_gpio/tests/02-bench.py
  tests/periph_wdt/Makefile
  tests/ps_schedstatistics/Makefile
  tests/struct_tm_utility/Makefile
  tests/test_tools/Makefile
  tests/test_tools/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: enhancement

#13643 tests/ztimer_mock: cleanup leftover debug messages
  tests/unittests/tests-ztimer/tests-ztimer-mock.c
Labels: Area: tests, CI: ready for build, Type: cleanup

#10482 pyterm: try to reconnect on SerialException during connect
  Makefile.include
  dist/tools/pyterm/pyterm
Labels: Area: tools, CI: ready for build, Type: enhancement

#12304 boards/arduino-mkr: feather-m0: sodaq-*: provide stdio over USB and setup automatic flash with bossa
  Makefile.dep
  boards/arduino-mkrfox1200/doc.txt
  boards/arduino-mkrwan1300/doc.txt
  boards/common/arduino-mkr/Makefile.dep
  boards/common/arduino-mkr/Makefile.features
  boards/common/arduino-mkr/Makefile.include
  boards/common/samd21-arduino-bootloader/Makefile
  boards/common/samd21-arduino-bootloader/Makefile.dep
  boards/common/samd21-arduino-bootloader/Makefile.include
  boards/common/samd21-arduino-bootloader/reset.c
  boards/common/sodaq/Makefile.dep
  boards/common/sodaq/Makefile.features
  boards/common/sodaq/Makefile.include
  boards/feather-m0/Makefile.dep
  boards/feather-m0/Makefile.features
  boards/feather-m0/Makefile.include
  boards/feather-m0/doc.txt
  boards/sodaq-autonomo/doc.txt
  boards/sodaq-explorer/doc.txt
  boards/sodaq-one/doc.txt
  boards/sodaq-sara-aff/doc.txt
  dist/pythonlibs/testrunner/spawn.py
  makefiles/tools/bossa.inc.mk
  sys/Makefile.dep
  sys/include/usb_board_reset.h
  sys/usb/usbus/cdc/acm/cdc_acm_stdio.c
  sys/usb_board_reset/Makefile
  sys/usb_board_reset/usb_board_reset.c
  tests/bench_xtimer/Makefile
  tests/ssp/Makefile
  tests/unittests/Makefile
Labels: Area: boards, Area: tools, CI: ready for build, Type: enhancement

#13650 Makefile.dep: disable stdio_% modules before they are included
  Makefile.dep
  makefiles/stdio.inc.mk
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Type: bug, Type: cleanup

#13124 pkg/lvgl: add initial support for LittlevGL to RIOT
  pkg/lvgl/Makefile
  pkg/lvgl/Makefile.dep
  pkg/lvgl/Makefile.include
  pkg/lvgl/Makefile.lvgl
  pkg/lvgl/Makefile.lvgl_module
  pkg/lvgl/contrib/Makefile
  pkg/lvgl/contrib/lvgl.c
  pkg/lvgl/doc.txt
  pkg/lvgl/include/lv_conf.h
  pkg/lvgl/include/lvgl_riot.h
  tests/pkg_lvgl/Makefile
  tests/pkg_lvgl/Makefile.ci
  tests/pkg_lvgl/README.md
  tests/pkg_lvgl/main.c
Labels: Area: pkg, CI: ready for build

#13655 tests: use button interrupt flank definition as optionally defined in board definitions
  tests/buttons/main.c
  tests/periph_pm/main.c
Labels: Area: tests, CI: ready for build, Type: enhancement

#13642 tests: add check_unittests helper function
  dist/pythonlibs/testrunner/__init__.py
  tests/cpp_ctors/tests/01-run.py
  tests/devfs/tests/01-run.py
  tests/embunit/tests/01-run.py
  tests/gnrc_ipv6_ext_frag/tests/01-run.py
  tests/gnrc_ipv6_nib/tests/01-run.py
  tests/gnrc_ipv6_nib_6ln/tests/01-run.py
  tests/gnrc_ndp/tests/01-run.py
  tests/gnrc_netif/tests/01-run.py
  tests/gnrc_rpl_srh/tests/01-run.py
  tests/gnrc_sixlowpan_frag/tests/01-run.py
  tests/gnrc_sixlowpan_iphc_w_vrb/tests/01-run.py
  tests/l2util/tests/01-run.py
  tests/libc_newlib/tests/01-run.py
  tests/mtd_flashpage/tests/01-run.py
  tests/mtd_mapper/tests/01-run.py
  tests/pkg_c25519/tests/01-run.py
  tests/pkg_cifra/tests/01-run.py
  tests/pkg_cn-cbor/tests/01-run.py
  tests/pkg_hacl/tests/01-run.py
  tests/pkg_heatshrink/tests/01-run.py
  tests/pkg_libb2/tests/01-run.py
  tests/pkg_libcose/tests/01-run.py
  tests/pkg_libhydrogen/tests/01-run.py
  tests/pkg_littlefs/tests/01-run.py
  tests/pkg_littlefs2/tests/01-run.py
  tests/pkg_monocypher/tests/01-run.py
  tests/pkg_nanocbor/tests/01-run.py
  tests/pkg_qcbor/tests/01-run.py
  tests/pkg_qdsa/tests/01-run.py
  tests/pkg_relic/tests/01-run.py
  tests/pkg_spiffs/tests/01-run.py
  tests/pkg_tinycbor/tests/01-run.py
  tests/pkg_tweetnacl/tests/01-run.py
  tests/pkg_yxml/tests/01-run.py
  tests/riotboot_hdr/tests/01-run.py
  tests/sys_crypto/tests/01-run.py
  tests/unittests/tests/01-run.py
  tests/usbus/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: run tests, Type: enhancement

#13646 cpu: add BACKUP_RAM attribute
  cpu/cortexm_common/include/cpu_conf_common.h
  cpu/esp32/include/cpu_conf.h
  cpu/lpc2387/include/cpu_conf.h
  tests/periph_backup_ram/main.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#11311 makefiles: add OpenOCD config for Raspberry Pi GPIO
  makefiles/tools/openocd-adapters/raspi.inc.mk
Labels: Area: tools, CI: ready for build, CI: skip compile test, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#13519 drivers/rtt_rtc: add RTT based RTC implementation, enable it for cpu/cc2538, nrf5x_common
  cpu/cc2538/Makefile.dep
  cpu/nrf5x_common/Makefile.dep
  drivers/Makefile.dep
  drivers/include/periph/rtt.h
  drivers/periph_common/init.c
  drivers/rtt_rtc/Makefile
  drivers/rtt_rtc/rtt_rtc.c
  tests/unittests/tests-rtt_rtc/Makefile
  tests/unittests/tests-rtt_rtc/Makefile.include
  tests/unittests/tests-rtt_rtc/mock_rtt.c
  tests/unittests/tests-rtt_rtc/tests-rtt_rtc.c
  tests/unittests/tests-rtt_rtc/tests-rtt_rtc.h
Labels: Area: drivers, CI: ready for build, CI: run tests, Type: new feature

#13640 cpu/esp8266: add RTT implementation
  cpu/esp8266/Makefile.features
  cpu/esp8266/include/periph_cpu.h
  cpu/esp8266/include/sdk_conf.h
  cpu/esp8266/ld/esp8266.peripherals.ld
  cpu/esp8266/ld/esp8266.riot-os.ld
  cpu/esp8266/periph/pm.c
  cpu/esp8266/periph/rtt.c
  cpu/esp8266/startup.c
  cpu/esp8266/vendor/esp-idf/esp8266/source/reset_reason.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#13659 tests/emcute: Use test_utils_interactive_sync_shell to sync
  tests/emcute/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#13638 sys/shell: add rtt command
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/shell/commands/Makefile
  sys/shell/commands/sc_rtt.c
  sys/shell/commands/shell_commands.c
Labels: Area: sys, CI: ready for build, Type: new feature

#13545 examples/gnrc_border_router: add example for WiFi ⇆ esp_now border router
  examples/gnrc_border_router/Makefile
  examples/gnrc_border_router/Makefile.board.dep
  examples/gnrc_border_router/Makefile.wifi.conf
  examples/gnrc_border_router/README.md
Labels: Area: examples, CI: ready for build, Type: enhancement

#12277 drivers: add kw41zrf
  boards/common/kw41z/Makefile.dep
  boards/openlabs-kw41z-mini/Makefile.dep
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/include/kw41zrf.h
  drivers/kw41zrf/Makefile
  drivers/kw41zrf/include/kw41zrf_getset.h
  drivers/kw41zrf/include/kw41zrf_intern.h
  drivers/kw41zrf/include/kw41zrf_netdev.h
  drivers/kw41zrf/kw41zrf.c
  drivers/kw41zrf/kw41zrf_getset.c
  drivers/kw41zrf/kw41zrf_intern.c
  drivers/kw41zrf/kw41zrf_netdev.c
  drivers/kw41zrf/kw41zrf_xcvr.c
  drivers/kw41zrf/vendor/OSAbstraction/Interface/fsl_os_abstraction.h
  drivers/kw41zrf/vendor/OSAbstraction/Interface/fsl_os_abstraction_config.h
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/Makefile
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/fsl_os_abstraction_riot.c
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/fsl_xcvr.h
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/fsl_xcvr_common_config.c
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/fsl_xcvr_mode_datarate_config.c
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/fsl_xcvr_zgbe_config.c
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/ifr_radio.c
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/ifr_radio.h
  examples/default/Makefile
  sys/net/gnrc/netif/init_devs/auto_init_kw41zrf.c
  sys/net/gnrc/netif/init_devs/init.c
Labels: Area: drivers, Area: network, CI: ready for build, Type: new feature

#13583 drivers/at86rf215: add basic support for AT86RF215 dual-band radio
  CODEOWNERS
  boards/openmote-b/Makefile.dep
  boards/openmote-b/board.c
  boards/openmote-b/include/board.h
  drivers/Makefile.dep
  drivers/Makefile.include
  drivers/at86rf215/Makefile
  drivers/at86rf215/at86rf215.c
  drivers/at86rf215/at86rf215_getset.c
  drivers/at86rf215/at86rf215_internal.c
  drivers/at86rf215/at86rf215_netdev.c
  drivers/at86rf215/at86rf215_o-qpsk.c
  drivers/at86rf215/include/at86rf215_internal.h
  drivers/at86rf215/include/at86rf215_netdev.h
  drivers/at86rf215/include/at86rf215_params.h
  drivers/at86rf215/include/at86rf215_registers.h
  drivers/at86rf215/include/vendor/at86rf215.h
  drivers/include/at86rf215.h
  makefiles/pseudomodules.inc.mk
  sys/net/gnrc/netif/init_devs/auto_init_at86rf215.c
  sys/net/gnrc/netif/init_devs/init.c
  tests/driver_at86rf215/Makefile
  tests/driver_at86rf215/Makefile.ci
  tests/driver_at86rf215/main.c
Labels: Area: drivers, CI: ready for build, Reviewed: 3-testing, Type: new feature

#13663 tests/driver_at86rf215: Fix Makefile.ci
  tests/driver_at86rf215/Makefile.ci
Labels: Area: CI, CI: ready for build, Impact: minor, Type: bug

#13658 cpu/cc2538: fix GPT3 IRQ definition
  boards/cc2538dk/include/periph_conf.h
  boards/common/remote/include/cfg_clk_default.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  cpu/cc2538/periph/timer.c
  tests/periph_timer/Makefile
Labels: Area: tests, Area: timers, CI: ready for build, Type: bug

#13662 tapsetup: add --uplink option
  dist/tools/tapsetup/tapsetup
Labels: Area: tools, CI: ready for build, CI: skip compile test, Discussion: RFC, Type: new feature

#13660 boards/nucleo-l412kb: add initial support
  boards/nucleo-l412kb/Makefile
  boards/nucleo-l412kb/Makefile.dep
  boards/nucleo-l412kb/Makefile.features
  boards/nucleo-l412kb/Makefile.include
  boards/nucleo-l412kb/doc.txt
  boards/nucleo-l412kb/include/periph_conf.h
  cpu/stm32_common/stm32_mem_lengths.mk
  cpu/stm32l4/include/cpu_conf.h
  cpu/stm32l4/include/vendor/stm32l412xx.h
  cpu/stm32l4/vectors.c
  examples/javascript/Makefile.ci
  examples/lua_REPL/Makefile.ci
  examples/lua_basic/Makefile.ci
  examples/suit_update/Makefile.ci
  tests/pkg_utensor/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#13670 cpu/esp8266: add RTT based RTC
  cpu/esp8266/Makefile.dep
  cpu/esp8266/Makefile.features
  cpu/esp8266/periph/rtc.c
Labels: CI: ready for build, Platform: ESP, Type: enhancement

#13673 cpu/cc2538: clock cleanups
  boards/cc2538dk/include/periph_conf.h
  boards/common/remote/include/cfg_clk_default.h
  boards/openmote-b/include/periph_conf.h
  boards/openmote-cc2538/include/periph_conf.h
  cpu/cc2538/cpu.c
  cpu/cc2538/include/cc2538.h
  cpu/cc2538/periph/pm.c
  tests/periph_timer/Makefile
Labels: Area: boards, Area: cpu, CI: ready for build, Type: cleanup, Type: enhancement

#13656 drivers/apd99xx: fix wait long initialization
  drivers/apds99xx/apds99xx.c
Labels: Area: drivers, CI: ready for build, Type: bug

#13534 Add CAN support for nucleo-l476rg
  boards/nucleo-l476rg/Makefile.features
  boards/nucleo-l476rg/doc.txt
  cpu/stm32_common/include/can_params.h
  cpu/stm32_common/include/candev_stm32.h
Labels: Area: drivers, CI: ready for build

#13653 cpu/cc2538/periph/timer: handle power modes
  cpu/cc2538/periph/timer.c
Labels: Area: timers, CI: ready for build, Discussion: RFC, Type: bug

#13647 cc26xx_cc13xx: add RF related registers definitions
  cpu/cc26x0/include/cc26x0_prcm.h
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_prcm.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_rfc.h
  cpu/cc26xx_cc13xx/include/cpu_conf_cc26xx_cc13xx.h
Labels: Area: cpu, CI: ready for build, Type: enhancement

#13416 cpu/esp32: support for light/deep sleep and pm_layered
  boards/esp32-olimex-evb/include/board.h
  boards/esp32-ttgo-t-beam/include/board.h
  boards/esp32-wroom-32/include/board.h
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/doc.txt
  cpu/esp32/include/adc_ctrl.h
  cpu/esp32/include/gpio_arch.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/include/rtc_arch.h
  cpu/esp32/include/sdk_conf.h
  cpu/esp32/periph/adc_ctrl.c
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/pm.c
  cpu/esp32/periph/rtc.c
  cpu/esp32/startup.c
  cpu/esp32/vendor/esp-idf/esp32/sleep_modes.c
  cpu/esp32/vendor/esp-idf/include/driver/gpio.h
  cpu/esp32/vendor/esp-idf/include/driver/rtc_io.h
  cpu/esp32/vendor/esp-idf/include/esp32/esp_sleep.h
  cpu/esp32/vendor/esp-idf/soc/rtc_periph.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/freertos/task.c
Labels: Area: pm, CI: ready for build, Platform: ESP, Type: enhancement

#13684 boards/nrf51: fix UART hardware flowcontrol configuration
  boards/calliope-mini/include/periph_conf.h
  boards/microbit/include/periph_conf.h
  boards/nrf51dk/Makefile.dep
  boards/nrf51dk/Makefile.features
  boards/nrf51dk/include/periph_conf.h
  boards/nrf51dongle/Makefile.dep
  boards/nrf51dongle/Makefile.features
  boards/nrf51dongle/include/periph_conf.h
  boards/nrf6310/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: bug

#13682 dist/testbed-support: fix firefly board mapping
  dist/testbed-support/makefile.iotlab.single.inc.mk
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: bug

#13674 riotboot: disable stdio_cdc_acm
  bootloaders/riotboot/Makefile
Labels: Area: OTA, CI: ready for build, Impact: minor, Type: bug

#13689 dist/tools/ethos: fix typo for compiling baud rate 230400
  dist/tools/ethos/ethos.c
Labels: Area: tools, CI: ready for build, Impact: minor, Type: bug

#13629 cc26xx_cc13xx: power common code
  cpu/cc26x0/Makefile.dep
  cpu/cc26x0/include/cc26x0_prcm.h
  cpu/cc26x0/periph/i2c.c
  cpu/cc26x2_cc13x2/Makefile.dep
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_prcm.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_power.h
  cpu/cc26xx_cc13xx/periph/gpio.c
  cpu/cc26xx_cc13xx/periph/timer.c
  cpu/cc26xx_cc13xx/periph/uart.c
  cpu/cc26xx_cc13xx/power_arch.c
Labels: Area: cpu, CI: ready for build, Type: new feature

#13681 Makefile.include: guard suit.base.inc.mk inclusion
  Makefile.include
Labels: Area: OTA, CI: ready for build, Type: cleanup

#13690 examples/gnrc_border_router: remove never defined USE_SLIP variable
  examples/gnrc_border_router/Makefile
Labels: Area: build system, CI: ready for build, Type: bug
