Repository RIOT-OS/RIOT, pull requests merged in 2021-12, with the labels that each got.

#17277 cpu/qn908x: model kconfig
  .murdock
  boards/common/qn908x/Kconfig
  boards/qn9080dk/Kconfig
  cpu/qn908x/Kconfig
  cpu/qn908x/Makefile.dep
  cpu/qn908x/periph/Kconfig
  cpu/qn908x/vendor/Kconfig
  makefiles/features_modules.inc.mk
Labels: Platform: ARM, Area: build system, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig

#17296 sys/include/xtimer.h: deprecate nanosleep
  drivers/include/soft_spi.h
  drivers/soft_spi/soft_spi.c
  pkg/u8g2/contrib/u8x8_riotos.c
  sys/include/xtimer.h
Labels: Area: pkg, Area: drivers, CI: ready for build, Area: timers, Area: sys, Process: deprecation

#17293 cpu/stm32: bump cmsis repositories to latest releases + extend CPU models kconfig
  cpu/stm32/Makefile.cmsis
  cpu/stm32/dist/kconfig/gen_kconfig.py
  cpu/stm32/kconfigs/g0/Kconfig.lines
  cpu/stm32/kconfigs/g0/Kconfig.models
  cpu/stm32/kconfigs/g4/Kconfig.lines
  cpu/stm32/kconfigs/g4/Kconfig.models
  cpu/stm32/kconfigs/l4/Kconfig.models
  cpu/stm32/kconfigs/wb/Kconfig.lines
  cpu/stm32/kconfigs/wb/Kconfig.models
  cpu/stm32/stmclk/stmclk_gx.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#17283 tests/*: Fix nightly failures due to f-string
  tests/pthread_barrier/tests/01-run.py
  tests/thread_float/tests/01-run.py
Labels: Area: tests, CI: ready for build, CI: skip compile test

#17157 sys/net/gnrc: fix compilation with -Wcast-align
  sys/include/net/gnrc/sixlowpan/frag/rb.h
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/gnrc_sixlowpan_frag_sfr.c
Labels: Area: network, CI: ready for build, Area: sys

#16970 nimble: allow to override host and netif thread priorities
  pkg/nimble/Makefile.include
  pkg/nimble/contrib/include/nimble_riot.h
  pkg/nimble/netif/nimble_netif.c
Labels: Type: enhancement, Impact: minor, Area: pkg, CI: ready for build, Area: BLE

#17303 drivers: remove some useless xtimer includes
  drivers/dfplayer/dfplayer.c
  drivers/feetech/feetech.c
  drivers/grove_ledbar/grove_ledbar.c
  drivers/hmc5883l/hmc5883l.c
  drivers/hts221/hts221.c
  drivers/sds011/sds011_saul.c
  drivers/si114x/si114x_saul.c
  drivers/tsl2561/tsl2561_saul.c
  drivers/vcnl40x0/vcnl40x0_saul.c
  drivers/veml6070/veml6070.c
  drivers/veml6070/veml6070_saul.c
  drivers/ws281x/atmega.c
  drivers/ws281x/esp32.c
Labels: Type: cleanup, Area: drivers, CI: ready for build

#17306 cpu/esp32: fix esp_wifi_enterprise compilation problem
  cpu/esp32/vendor/esp-idf/wpa_supplicant/src/wpa2/tls/bignum.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#17194 sys/net/fib: fix compilation with -Wcast-align
  sys/net/network_layer/fib/fib.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17294 doc: replace ping6 with ping
  dist/pythonlibs/riotctrl_shell/gnrc.py
  dist/pythonlibs/riotctrl_shell/tests/test_gnrc.py
  examples/asymcute_mqttsn/Makefile
  examples/asymcute_mqttsn/main.c
  examples/emcute_mqttsn/Makefile
  examples/emcute_mqttsn/main.c
  examples/gcoap/README-slip.md
  examples/gnrc_border_router/README.md
  examples/gnrc_networking/README.md
  examples/suit_update/README.hardware.md
  pkg/nimble/README.ipv6-over-ble.md
  tests/driver_cc110x/main.c
  tests/driver_enc28j60/main.c
  tests/driver_encx24j600/main.c
  tests/nimble_rpble_gnrc/main.c
  tests/pkg_openwsn/README.md
  tests/usbus_cdc_ecm/main.c
Labels: Area: doc, Area: tests, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build, Area: BLE, Area: examples, CI: skip compile test

#17310 boards/stm32f746g-disco: extend documentation
  boards/stm32f746g-disco/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#17302 cpu/stm32: enable USB OTG FS on high end L4
  boards/b-l475e-iot01a/Kconfig
  boards/b-l475e-iot01a/Makefile.features
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/nucleo-l496zg/Kconfig
  boards/nucleo-l496zg/Makefile.features
  boards/nucleo-l496zg/include/periph_conf.h
  boards/nucleo-l4r5zi/Kconfig
  boards/nucleo-l4r5zi/Makefile.features
  boards/nucleo-l4r5zi/include/periph_conf.h
  boards/p-l496g-cell02/Kconfig
  boards/p-l496g-cell02/Makefile.features
  boards/p-l496g-cell02/include/periph_conf.h
  boards/stm32l476g-disco/Kconfig
  boards/stm32l476g-disco/Makefile.features
  boards/stm32l476g-disco/include/periph_conf.h
  cpu/stm32/periph/usbdev.c
  cpu/stm32/stmclk/stmclk_l4wx.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#17317 sys/benchmark/kconfig: cleanup ztimer dependency
  sys/benchmark/Kconfig
  tests/periph_gpio/Makefile
  tests/periph_gpio/app.config.test
Labels: Type: cleanup, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17291 cpu/nrf9160: add Kconfig dependencies
  .murdock
  cpu/nrf9160/Kconfig
  cpu/nrf9160/vectors/Kconfig
Labels: CI: ready for build, Area: CI, Area: cpu, Area: Kconfig

#17284 sys/ztimer: add 'ztimer_no_periph_rtt'
  drivers/include/periph/rtt.h
  sys/include/ztimer.h
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
  sys/ztimer/Makefile.include
  tests/ztimer_msg/Makefile
  tests/ztimer_underflow/Makefile
Labels: Area: tests, Area: drivers, CI: ready for build, Area: timers, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17318 sys/Makefile.dep: fix event periodic dependency
  sys/Makefile.dep
Labels: CI: ready for build, Area: sys

#17307 sys/ztimer/kconfig: enable xtimer compat only with timer backend
  boards/common/microbit/Kconfig
  drivers/at30tse75x/Kconfig
  drivers/dsp0401/Kconfig
  drivers/sgp30/Kconfig
  drivers/sm_pwm_01c/Kconfig
  kconfigs/Kconfig.ztimer_only
  pkg/driver_sx126x/Kconfig
  sys/arduino/Kconfig
  sys/benchmark/Kconfig
  sys/event/Kconfig
  sys/ztimer/Kconfig
Labels: Type: bug, Area: pkg, Area: drivers, CI: ready for build, Area: timers, Area: arduino API, Area: boards, Area: sys, Area: Kconfig

#17286 sys/log: model Kconfig
  sys/Kconfig
  sys/log/Kconfig
  tests/log_color/app.config.test
  tests/log_printfnoformat/app.config.test
Labels: Area: tests, CI: ready for build, Area: sys, Area: Kconfig

#16879 tools/zep_dispatch: add support for foren6 sniffer
  dist/tools/zep_dispatch/main.c
  dist/tools/zep_dispatch/topology.c
  dist/tools/zep_dispatch/topology.h
Labels: Type: enhancement, CI: ready for build, Area: tools

#17320 cpu/stm32: migrate adc and eth periphs to ztimer
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/Kconfig
  cpu/stm32/periph/adc_f3.c
  cpu/stm32/periph/adc_l4.c
  cpu/stm32/periph/eth.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: Kconfig

#17281 cpu/stm32: add new usbdev FS support
  boards/p-nucleo-wb55/Kconfig
  boards/p-nucleo-wb55/Makefile.features
  boards/p-nucleo-wb55/include/periph_conf.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/include/usbdev_stm32.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/usbdev_fs.c
  cpu/stm32/periph/usbdev_otg.c
  cpu/stm32/stmclk/stmclk_l4wx.c
Labels: Platform: ARM, Type: new feature, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#17288 drivers/ili9341/Kconfig: add feature to indicate hardware
  drivers/ili9341/Kconfig
Labels: Impact: minor, Area: drivers, CI: ready for build, Area: Kconfig

#17290 cpu/msp430: add Kconfig
  .murdock
  boards/common/msb-430/Kconfig
  boards/common/msb-430/Makefile
  boards/msb-430/Kconfig
  boards/msb-430/Makefile.dep
  boards/msb-430h/Makefile.dep
  cpu/msp430_common/Kconfig
  cpu/msp430_common/Makefile.dep
  cpu/msp430fxyz/Makefile.dep
Labels: Platform: MSP, CI: ready for build, Area: CI, Area: boards, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: Kconfig

#17287 sys/vfs: model Kconfig
  cpu/native/Kconfig
  cpu/native/vfs/Kconfig
  sys/Kconfig
  sys/vfs/Kconfig
  tests/vfs_plus_stdio/app.config.test
Labels: Platform: native, Area: tests, CI: ready for build, Area: cpu, Area: sys, Area: Kconfig

#17323 tests/malloc: fix counting bugs
  tests/malloc/main.c
Labels: Area: tests, CI: ready for build

#17328 boards/nrf9160dk: fix LED macros
  boards/nrf9160dk/include/board.h
Labels: Type: bug, CI: ready for build, Area: boards

#17239 dist/tools/ci: add can_fast_ci_run.py
  dist/tools/ci/README.md
  dist/tools/ci/can_fast_ci_run.py
Labels: Area: doc, CI: ready for build, Area: tools

#14955 makefiles/cflags.inc.mk: Add -Wcast-align
  boards/common/stm32/include/cfg_usb_otg_fs.h
  boards/common/stm32/include/cfg_usb_otg_hs_fs.h
  boards/p-nucleo-wb55/include/periph_conf.h
  core/sched.c
  cpu/esp32/periph/can.c
  cpu/esp32/vendor/Makefile
  cpu/kinetis/periph/flashpage.c
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/can.c
  cpu/stm32/periph/usbdev_fs.c
  drivers/mcp2515/candev_mcp2515.c
  makefiles/cflags.inc.mk
  pkg/ccn-lite/Makefile
  pkg/cmsis-dsp/Makefile
  pkg/cmsis-dsp/patches/0003-Inclue-arm_math.h-silence-Wcast-align.patch
  pkg/cmsis-nn/Makefile
  pkg/cn-cbor/Makefile
  pkg/cryptoauthlib/Makefile
  pkg/elk/Makefile
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  pkg/flatbuffers/Makefile
  pkg/flatbuffers/patches/0001-Silence-Wcast-align-in-public-headers.patch
  pkg/gecko_sdk/Makefile
  pkg/jerryscript/Makefile
  pkg/libb2/Makefile
  pkg/libhydrogen/Makefile
  pkg/lua/Makefile
  pkg/lua/contrib/binsearch.c
  pkg/lvgl/Makefile
  pkg/mynewt-core/Makefile
  pkg/ndn-riot/Makefile
  pkg/nimble/Makefile
  pkg/nimble/patches/0001-porting-nimble-silence-Wcast-align.patch
  pkg/openwsn/Makefile
  pkg/paho-mqtt/Makefile
  pkg/qdsa/Makefile
  pkg/spiffs/Makefile
  pkg/spiffs/fs/spiffs_fs.c
  pkg/tensorflow-lite/Makefile
  pkg/tlsf/Makefile
  pkg/ucglib/contrib/ucg_riotos.c
  pkg/uwb-dw1000/Makefile
  pkg/wakaama/Makefile
  pkg/wolfssl/Makefile
  sys/include/net/netif.h
  sys/net/gnrc/netif/_netif.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c
  sys/net/netif/netif.c
  sys/shell/commands/sc_gnrc_netif.c
  sys/usb/usbus/dfu/dfu.c
  tests/pkg_cmsis-nn/Makefile
  tests/pkg_emlearn/main.c
  tests/pkg_openwsn_sock_udp/stack.c
  tests/pkg_utensor/main.cpp
Labels: Type: enhancement, Platform: ARM, Area: network, Area: tests, Area: core, Area: build system, Area: pkg, Area: drivers, CI: ready for build, Area: BLE, Area: boards, Platform: ESP, Area: cpu, Area: USB, Area: sys

#17297 sock_dns: include string.h for strlen(3) function prototype
  sys/net/application_layer/sock_dns/dns.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#17088 drivers/stmpe811: add spi mode
  boards/stm32f429i-disc1/Makefile.dep
  drivers/Makefile.dep
  drivers/include/stmpe811.h
  drivers/stmpe811/Kconfig
  drivers/stmpe811/Makefile.dep
  drivers/stmpe811/Makefile.include
  drivers/stmpe811/include/stmpe811_constants.h
  drivers/stmpe811/include/stmpe811_params.h
  drivers/stmpe811/stmpe811.c
  tests/driver_stmpe811/Makefile
  tests/driver_stmpe811/app.config.test
  tests/driver_stmpe811/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: boards, Area: Kconfig

#17329 ieee802154 / tests/unittests: fix all-asan reported errors
  sys/net/link_layer/ieee802154/ieee802154.c
  tests/unittests/tests-ieee802154/tests-ieee802154.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys

#17333 gnrc/rpl: auto-init RPL if there is only a single interface
  sys/net/gnrc/routing/rpl/gnrc_rpl_auto_init.c
Labels: Type: enhancement, Area: network, Impact: minor, CI: ready for build

#17339 boards/iotlab-m3: add MTD definition
  boards/iotlab-m3/Makefile.dep
  boards/iotlab-m3/doc.txt
  boards/iotlab-m3/include/board.h
  boards/iotlab-m3/include/periph_conf.h
  boards/iotlab-m3/mtd.c
Labels: Type: enhancement, Area: doc, CI: ready for build, Area: boards

#10430 drivers: add PCF857X I2C I/O expander driver
  drivers/Kconfig
  drivers/Makefile.dep
  drivers/include/pcf857x.h
  drivers/pcf857x/Kconfig
  drivers/pcf857x/Makefile
  drivers/pcf857x/Makefile.dep
  drivers/pcf857x/Makefile.include
  drivers/pcf857x/include/pcf857x_params.h
  drivers/pcf857x/pcf857x.c
  drivers/pcf857x/pcf857x_saul.c
  drivers/saul/init_devs/auto_init_pcf857x.c
  drivers/saul/init_devs/init.c
  makefiles/pseudomodules.inc.mk
  tests/driver_pcf857x/Makefile
  tests/driver_pcf857x/Makefile.ci
  tests/driver_pcf857x/README.md
  tests/driver_pcf857x/app.config.test
  tests/driver_pcf857x/main.c
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL, State: don't stale, Area: Kconfig

#17340 driver/css811: fix read status
  drivers/ccs811/ccs811.c
  drivers/include/ccs811.h
  tests/driver_ccs811/README.md
  tests/driver_ccs811/main.c
  tests/driver_ccs811_full/README.md
  tests/driver_ccs811_full/main.c
Labels: Type: bug, Area: drivers, CI: ready for build

#17343 makefiles: remove PCF857x pseudomodule definitions
  makefiles/pseudomodules.inc.mk
Labels: Type: cleanup, Area: drivers, CI: ready for build

#17331 boards/adafruit-itsybitsy-m4: Model kconfig
  .murdock
  boards/adafruit-itsybitsy-m4/Kconfig
  boards/adafruit-itsybitsy-m4/Makefile.features
  boards/adafruit-itsybitsy-m4/adafruit-itsybitsy-m4.config
  boards/common/samdx1-arduino-bootloader/Kconfig
  sys/Kconfig
  sys/Kconfig.stdio
  sys/usb_board_reset/Kconfig
Labels: CI: ready for build, Area: CI, Area: boards, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17334 nimble: fix nimble_scanner regression bugs
  pkg/nimble/autoconn/nimble_autoconn.c
  pkg/nimble/rpble/nimble_rpble.c
  pkg/nimble/scanner/include/nimble_scanner.h
  pkg/nimble/scanner/nimble_scanner.c
Labels: Type: bug, Area: pkg, CI: ready for build, Area: BLE

#17344 nimble/statconn: use errno return values
  pkg/nimble/statconn/include/nimble_statconn.h
  pkg/nimble/statconn/nimble_statconn.c
  sys/shell/commands/sc_nimble_statconn.c
Labels: Area: pkg, Type: cleanup, CI: ready for build, Area: BLE, Area: sys

#17345 pkg/uwb-core: fix wrong header include
  pkg/uwb-core/include/uwb_core.h
Labels: Area: pkg, CI: ready for build

#17319 sys/trace: migrate to ztimer and add Kconfig support
  .murdock
  sys/Kconfig
  sys/Makefile.dep
  sys/trace/Kconfig
  sys/trace/trace.c
  tests/trace/app.config.test
Labels: Area: tests, CI: ready for build, Area: CI, Area: sys, Area: Kconfig

#17321 cpu/qn908x: migrate ADC periph to ztimer
  cpu/qn908x/Makefile.dep
  cpu/qn908x/periph/Kconfig
  cpu/qn908x/periph/adc.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Area: Kconfig

#17309 pkg: migrate some packages to ztimer
  drivers/bme680/Kconfig
  drivers/bme680/Makefile.dep
  drivers/bme680/bme680_saul.c
  pkg/cryptoauthlib/Makefile.dep
  pkg/cryptoauthlib/contrib/atca.c
  pkg/driver_bme680/Kconfig
  pkg/driver_bme680/Makefile.dep
  pkg/driver_bme680/contrib/bme680_hal.c
  pkg/u8g2/Kconfig
  pkg/u8g2/Makefile.dep
  pkg/u8g2/contrib/u8x8_riotos.c
  pkg/ucglib/Kconfig
  pkg/ucglib/Makefile.dep
  pkg/ucglib/contrib/ucg_riotos.c
  tests/driver_bme680/Makefile
  tests/driver_bme680/app.config.test
  tests/driver_bme680/main.c
  tests/pkg_u8g2/Makefile
  tests/pkg_u8g2/main.c
  tests/pkg_ucglib/main.c
Labels: Area: tests, Area: pkg, Area: drivers, CI: ready for build, Area: Kconfig

#17337 sys/tsrb: add tsrb_clear
  sys/include/tsrb.h
  tests/unittests/tests-tsrb/tests-tsrb.c
Labels: Area: tests, CI: ready for build, Area: sys

#17184 drivers/dose: fix standby mode
  cpu/sam0_common/periph/uart.c
  drivers/dose/dose.c
Labels: Type: bug, Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#17322 tests/periph_adc: migrate to ztimer
  tests/periph_adc/Makefile
  tests/periph_adc/app.config.test
  tests/periph_adc/main.c
Labels: Area: tests, CI: ready for build

#17018 sys/picolibc_syscalls_default: make stdin and stderr strong refs
  sys/picolibc_syscalls_default/syscalls.c
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: sys

#17326 tools/zep_dispatch: document foren6 usage
  dist/tools/zep_dispatch/README.md
  dist/tools/zep_dispatch/topology.c
Labels: Type: enhancement, Area: doc, CI: ready for build, Area: tools, CI: skip compile test

#17122 stdio_rtt: Convert to ztimer
  makefiles/stdio.inc.mk
  sys/stdio_rtt/README.md
  sys/stdio_rtt/stdio_rtt.c
  tests/events/main.c
  tests/unittests/tests-rtt_rtc/Makefile.include
Labels: Area: doc, Area: tests, Area: build system, Type: cleanup, CI: ready for build, Area: sys

#17336 sys/isrpipe: add isrpipe_write
  sys/include/isrpipe.h
  sys/isrpipe/isrpipe.c
Labels: CI: ready for build, Area: sys

#16932 socket_zep: port to radio HAL
  boards/native/Makefile.dep
  cpu/native/Makefile.dep
  cpu/native/include/socket_zep.h
  cpu/native/socket_zep/Kconfig
  cpu/native/socket_zep/socket_zep.c
  drivers/Kconfig.net
  pkg/lwip/init_devs/auto_init_socket_zep.c
  sys/net/gnrc/netif/init_devs/auto_init_socket_zep.c
  sys/net/link_layer/ieee802154/submac.c
  tests/gnrc_netif_ieee802154/Makefile
  tests/ieee802154_hal/Makefile
  tests/ieee802154_hal/app.config.test.native
  tests/ieee802154_hal/common.h
  tests/ieee802154_hal/init_devs.c
  tests/ieee802154_hal/main.c
  tests/ieee802154_submac/Makefile
  tests/ieee802154_submac/main.c
  tests/socket_zep/Makefile
  tests/socket_zep/main.c
Labels: Platform: native, Area: network, Area: tests, Area: pkg, Area: drivers, CI: ready for build, Area: boards, Area: cpu, Area: sys, Area: Kconfig

#17352 tests/ieee802154_hal: fix default RNG selection
  tests/ieee802154_hal/app.config.test.native
Labels: Area: tests, Impact: minor, CI: ready for build

#17216 schedstatistics: Convert to ztimer
  sys/Makefile.dep
  sys/include/schedstatistics.h
  sys/ps/ps.c
  sys/schedstatistics/Kconfig
  sys/schedstatistics/schedstatistics.c
  tests/periph_spi/Makefile
  tests/periph_spi/Makefile.ci
  tests/periph_spi/app.config.test
  tests/periph_spi/main.c
  tests/periph_spi_dma/app.config.test
  tests/ps_schedstatistics/Makefile
  tests/ps_schedstatistics/main.c
Labels: Area: tests, Type: cleanup, CI: ready for build, Area: sys, Area: Kconfig

#17276 sys/include/event/periodic: add count
  sys/event/periodic.c
  sys/include/event/periodic.h
  sys/ztimer/periodic.c
  tests/event_ztimer/main.c
Labels: Area: tests, CI: ready for build, Area: timers, Area: sys

#17037 tests/turo_txt: Basic test for txt turo variant
  tests/turo_txt/Makefile
  tests/turo_txt/README.md
  tests/turo_txt/app.config.test
  tests/turo_txt/main.c
  tests/turo_txt/tests/01-run.py
Labels: Area: doc, Area: tests, Impact: minor, CI: ready for build

#16126 sys/sched_rr: Add a round robin scheduler module
  .gitignore
  examples/thread_duel/Makefile
  examples/thread_duel/Makefile.ci
  examples/thread_duel/README.md
  examples/thread_duel/main.c
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/sched_round_robin.h
  sys/sched_round_robin/Kconfig
  sys/sched_round_robin/Makefile
  sys/sched_round_robin/sched_round_robin.c
  tests/sys_sched_round_robin/Makefile
  tests/sys_sched_round_robin/Makefile.ci
  tests/sys_sched_round_robin/README.md
  tests/sys_sched_round_robin/main.c
  tests/sys_sched_round_robin/tests/01-run.py
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build, Area: sys, Area: examples, Area: Kconfig

#16681 drivers/dose: make use of UART collision detection feature
  cpu/sam0_common/periph/uart.c
  cpu/samd21/Kconfig
  cpu/samd21/Makefile.features
  cpu/samd5x/Kconfig
  cpu/samd5x/Makefile.features
  cpu/saml1x/Kconfig
  cpu/saml1x/Makefile.features
  cpu/saml21/Kconfig
  cpu/saml21/Makefile.features
  drivers/dose/Makefile.dep
  drivers/dose/dose.c
  drivers/include/periph/uart.h
  drivers/periph_common/Kconfig.uart
  kconfigs/Kconfig.features
  tests/driver_dose/Makefile
  tests/periph_uart/Kconfig
  tests/periph_uart/Makefile
  tests/periph_uart/main.c
Labels: Type: enhancement, Platform: ARM, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: cpu, Area: Kconfig

#17356 boards/slwstk6000b-based: select common module in Kconfig
  boards/slwstk6000b-slwrb4150a/Kconfig
  boards/slwstk6000b-slwrb4162a/Kconfig
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#17315 drivers: migrate some drivers to ztimer
  drivers/ccs811/Kconfig
  drivers/ccs811/Makefile.dep
  drivers/ccs811/ccs811.c
  drivers/lsm6dsl/Kconfig
  drivers/lsm6dsl/Makefile.dep
  drivers/lsm6dsl/include/lsm6dsl_internal.h
  drivers/lsm6dsl/lsm6dsl.c
  drivers/si114x/Kconfig
  drivers/si114x/Makefile.dep
  drivers/si114x/include/si114x_internals.h
  drivers/si114x/si114x.c
  drivers/stmpe811/Kconfig
  drivers/stmpe811/Makefile.dep
  drivers/stmpe811/stmpe811.c
  drivers/tsl2561/Kconfig
  drivers/tsl2561/Makefile.dep
  drivers/tsl2561/tsl2561.c
  tests/driver_ccs811/Makefile
  tests/driver_ccs811/app.config.test
  tests/driver_ccs811/main.c
  tests/driver_ccs811_full/main.c
  tests/driver_lsm6dsl/Makefile
  tests/driver_lsm6dsl/app.config.test
  tests/driver_lsm6dsl/main.c
  tests/driver_si114x/Makefile
  tests/driver_si114x/app.config.test
  tests/driver_si114x/main.c
  tests/driver_stmpe811/Makefile.ci
  tests/driver_tsl2561/Makefile
  tests/driver_tsl2561/app.config.test
  tests/driver_tsl2561/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17346 cpu/esp32: add clear bus during init to the I2C software implementation
  cpu/esp_common/periph/i2c_sw.c
  drivers/aip31068/Makefile.dep
Labels: Type: enhancement, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu

#16928 sys/ztimer64: initial PR
  cpu/atmega_common/include/cpu_conf.h
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/ztimer64.h
  sys/ztimer/periph_timer.c
  sys/ztimer64/Kconfig
  sys/ztimer64/Makefile
  sys/ztimer64/Makefile.dep
  sys/ztimer64/overhead.c
  sys/ztimer64/util.c
  sys/ztimer64/ztimer64.c
  tests/unittests/tests-ztimer64/Makefile
  tests/unittests/tests-ztimer64/Makefile.include
  tests/unittests/tests-ztimer64/tests-ztimer64-core.c
  tests/unittests/tests-ztimer64/tests-ztimer64.c
  tests/unittests/tests-ztimer64/tests-ztimer64.h
  tests/ztimer64_msg/Makefile
  tests/ztimer64_msg/Makefile.ci
  tests/ztimer64_msg/README.md
  tests/ztimer64_msg/app.config.test
  tests/ztimer64_msg/main.c
  tests/ztimer64_msg/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Discussion: RFC, Platform: AVR, CI: ready for build, Area: timers, Area: cpu, Area: sys, Area: Kconfig

#17358 drivers: migrate mpu9x50 and si70xx to ztimer
  drivers/mpu9x50/Kconfig
  drivers/mpu9x50/Makefile.dep
  drivers/mpu9x50/include/mpu9x50_internal.h
  drivers/mpu9x50/mpu9x50.c
  drivers/si70xx/Kconfig
  drivers/si70xx/Makefile.dep
  drivers/si70xx/si70xx.c
  tests/driver_mpu9x50/Makefile
  tests/driver_mpu9x50/app.config.test
  tests/driver_mpu9x50/main.c
  tests/driver_si70xx/Makefile
  tests/driver_si70xx/app.config.test
  tests/driver_si70xx/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17304 cpu/mips: deprecate mips cpu
  Makefile.include
  boards/6lowpan-clicker/doc.txt
  boards/pic32-wifire/doc.txt
  cpu/mips_pic32_common/doc.txt
  makefiles/deprecated_boards.inc.mk
  makefiles/deprecated_cpus.inc.mk
Labels: Area: doc, Area: build system, CI: ready for build, Platform: MIPS, Area: boards, Area: cpu, Process: deprecation

#17360 core/include/debug.h: minor fix in debug.h
  core/include/debug.h
  cpu/gd32v/periph/timer.c
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  drivers/mtd_spi_nor/mtd_spi_nor.c
  drivers/stmpe811/stmpe811_touch_dev.c
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/dsm/dsm.c
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/ut_process/ut_process.c
Labels: Platform: ARM, Area: network, Area: core, Impact: minor, Process: API change, Area: drivers, CI: ready for build, Area: CoAP, Area: cpu, Process: needs >1 ACK, Area: sys

#17364 cpu: remove unused `xtimer.h` headers
  cpu/sam0_common/Makefile.dep
  cpu/stm32/periph/usbdev_fs.c
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#17235 cpu/kinetis: model kconfig
  .murdock
  boards/common/kw41z/Kconfig
  boards/frdm-k22f/Kconfig
  boards/frdm-k64f/Kconfig
  boards/frdm-kl43z/Kconfig
  boards/frdm-kw41z/Kconfig
  boards/mulle/Kconfig
  boards/mulle/Makefile.features
  boards/mulle/mulle.config
  boards/openlabs-kw41z-mini-256kib/Kconfig
  boards/openlabs-kw41z-mini/Kconfig
  boards/pba-d-01-kw2x/Kconfig
  boards/phynode-kw41z/Kconfig
  boards/usb-kw41z/Kconfig
  cpu/kinetis/Kconfig
  cpu/kinetis/Makefile.features
  cpu/kinetis/kinetis.config
  cpu/kinetis/periph/Kconfig
  drivers/fxos8700/Kconfig
  drivers/hdc1000/Kconfig
  drivers/lis3dh/Kconfig
  drivers/mag3110/Kconfig
  drivers/mma8x5x/Kconfig
  drivers/mpl3115a2/Kconfig
  drivers/tcs37727/Kconfig
  drivers/tmp00x/Kconfig
  makefiles/features_modules.inc.mk
  sys/Kconfig
  sys/fs/Kconfig
  sys/fs/constfs/Kconfig
  sys/fs/devfs/Kconfig
  tests/driver_tmp00x/app.config.test
Labels: Platform: ARM, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: sys, Area: Kconfig

#17362 cpu/atxmega/include/cpu_conf: ztimer64 arithmetic idle stack fix
  cpu/atxmega/include/cpu_conf.h
Labels: CI: ready for build, Area: cpu

#17368 sys/ztimer64: make _del_entry_from_list() safe for uninit ztimer64_t
  sys/ztimer64/ztimer64.c
  tests/unittests/tests-ztimer64/tests-ztimer64-core.c
Labels: Area: tests, CI: ready for build, Area: sys

#17371 doc: fix the reference to libcoap removal commit in LOSTANDFOUND.md
  LOSTANDFOUND.md
Labels: Type: bug, Area: doc, CI: ready for build, CI: skip compile test

#17361 drivers/sdcard_spi: convert to ztimer_usec
  drivers/sdcard_spi/Kconfig
  drivers/sdcard_spi/Makefile.dep
  drivers/sdcard_spi/include/sdcard_spi_internal.h
  drivers/sdcard_spi/sdcard_spi.c
  tests/driver_io1_xplained/Makefile
  tests/driver_io1_xplained/app.config.test
  tests/driver_io1_xplained/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17370 sys/ztimer: add some best practices
  sys/include/ztimer.h
Labels: CI: ready for build, Area: timers, Area: sys, CI: skip compile test

#17373 boards/lora-e5-dev: fix default DARWIN port
  boards/lora-e5-dev/Makefile.include
Labels: CI: ready for build, Area: boards, CI: skip compile test

#17312 murdock: add some doc on how to efficiently limit builds
  .murdock
Labels: CI: ready for build, Area: CI, CI: skip compile test

#17372 sys/ztimer: fix backend selection
  sys/ztimer/Makefile.dep
Labels: Type: bug, CI: ready for build, Area: timers, Area: sys

#17314 cpu/esp: compile optional modules in CI
  boards/esp32-wrover-kit/Makefile.dep
  boards/esp32-wrover-kit/include/board.h
  boards/esp8266-olimex-mod/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/periph/timer.c
  cpu/esp8266/periph/timer.c
Labels: CI: ready for build, Area: boards, Platform: ESP, Area: cpu

#17378 doc: fix libcoap removal commit
  LOSTANDFOUND.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#17383 pkg/driver_bme680/kconfig: remove prompt and depend on driver module
  pkg/driver_bme680/Kconfig
Labels: Impact: minor, Area: pkg, Type: cleanup, CI: ready for build, Area: Kconfig

#14364 Fix NDEBUG compilation problems
  cpu/efm32/periph/wdt_series0.c
  cpu/efm32/periph/wdt_series1.c
  pkg/littlefs2/Makefile.include
  pkg/qr-code-generator/Makefile
  pkg/u8g2/Makefile.u8g2_csrc
  pkg/wakaama/contrib/lwm2m_client.c
  sys/fuzzing/netdev.c
  sys/net/gnrc/network_layer/ipv6/ext/opt/gnrc_ipv6_ext_opt.c
  tests/bitarithm_timings/main.c
  tests/candev/main.c
  tests/gnrc_ipv6_ext_frag/main.c
  tests/gnrc_sixlowpan_frag_minfwd/mockup_netif.c
  tests/gnrc_sixlowpan_frag_sfr/mockup_netif.c
  tests/gnrc_sock_ip/main.c
  tests/gnrc_sock_udp/main.c
  tests/gnrc_tx_sync/main.c
  tests/ieee802154_hal/main.c
  tests/ieee802154_submac/main.c
  tests/lwip_sock_ip/main.c
  tests/lwip_sock_udp/main.c
  tests/mtd_raw/main.c
Labels: Type: bug, Platform: ARM, Area: network, Area: tests, Area: pkg, CI: ready for build, Area: cpu, Area: sys

#17375 drivers: several cleanups related to xtimer + some ztimer migration
  drivers/ad7746/Kconfig
  drivers/ad7746/Makefile.dep
  drivers/ad7746/ad7746.c
  drivers/lis2dh12/lis2dh12.c
  drivers/lis3mdl/Kconfig
  drivers/lis3mdl/Makefile.dep
  drivers/pn532/Kconfig
  drivers/pn532/Makefile.dep
  drivers/pn532/pn532.c
  drivers/pulse_counter/Kconfig
  drivers/pulse_counter/Makefile.dep
  drivers/shtc1/Kconfig
  drivers/shtc1/Makefile.dep
  drivers/sps30/sps30.c
  drivers/ws281x/Makefile.dep
  tests/driver_ad7746/Makefile
  tests/driver_ad7746/app.config.test
  tests/driver_ad7746/main.c
  tests/driver_lis2dh12/Makefile
  tests/driver_lis2dh12/app.config.test
  tests/driver_lis2dh12/main.c
  tests/driver_lis3mdl/Makefile
  tests/driver_lis3mdl/app.config.test
  tests/driver_lis3mdl/main.c
  tests/driver_pn532/Makefile
  tests/driver_pn532/Makefile.ci
  tests/driver_pn532/app.config.test
  tests/driver_pn532/main.c
  tests/driver_pulse_counter/Makefile
  tests/driver_pulse_counter/app.config.test
  tests/driver_pulse_counter/main.c
  tests/driver_shtc1/Makefile
  tests/driver_shtc1/app.config.test
  tests/driver_shtc1/main.c
  tests/driver_sps30/Makefile
  tests/driver_sps30/app.config.test
  tests/driver_sps30/main.c
  tests/driver_ws281x/Makefile
  tests/driver_ws281x/app.config.test
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17325 murdock: make use of can_fast_ci_run.py
  .murdock
  dist/tools/ci/can_fast_ci_run.py
Labels: CI: ready for build, Area: CI, Area: tools

#17385 sys/ztimer: ztimer_set() return the now value
  sys/include/ztimer.h
  sys/ztimer/core.c
Labels: Process: API change, CI: ready for build, Area: timers, Area: sys

#17376 makefiles/kconfig: add board & CPU config variables
  boards/adafruit-clue/Makefile.features
  boards/adafruit-itsybitsy-m4/Makefile.features
  boards/adafruit-itsybitsy-nrf52/Makefile.features
  boards/arduino-nano-33-ble/Makefile.features
  boards/bastwan/Makefile.features
  boards/common/iotlab/Makefile.features
  boards/common/particle-mesh/Makefile.features
  boards/common/weact-f4x1cx/Makefile.features
  boards/f4vi1/Makefile.features
  boards/feather-nrf52840/Makefile.features
  boards/msbiot/Makefile.features
  boards/mulle/Makefile.features
  boards/nrf52840-mdk-dongle/Makefile.features
  boards/nrf52840dongle/Makefile.features
  boards/pinetime/Makefile.features
  boards/pyboard/Makefile.features
  boards/ruuvitag/Makefile.features
  boards/stm32f723e-disco/Makefile.features
  boards/stm32f746g-disco/Makefile.features
  boards/stm32f769i-disco/Makefile.features
  boards/thingy52/Makefile.features
  boards/ublox-c030-u201/Makefile.features
  boards/weact-f401cc/Makefile.features
  boards/weact-f401ce/Makefile.features
  boards/weact-f411ce/Makefile.features
  boards/yarm/Makefile.features
  cpu/atxmega/Makefile.features
  cpu/cc2538/Makefile.features
  cpu/cortexm_common/Makefile.features
  cpu/efm32/Makefile.features
  cpu/kinetis/Makefile.features
  cpu/lpc1768/Makefile.features
  cpu/lpc23xx/Makefile.features
  cpu/native/Makefile.features
  cpu/sam0_common/Makefile.features
  cpu/stm32/Makefile.features
  doc/doxygen/src/kconfig/kconfig.md
  makefiles/kconfig.mk
Labels: Type: enhancement, Platform: native, Platform: ARM, Area: doc, Area: build system, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig, CI: full build

#17387 cpu/atmega_common: Remember CTC mode with timer_periodic
  cpu/atmega_common/periph/timer.c
Labels: Platform: AVR, CI: ready for build, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#16598 examples/gnrc_networking: move udp command to shell commands
  examples/gnrc_networking/Makefile
  examples/gnrc_networking/main.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/net/gnrc/Makefile.dep
  sys/shell/commands/Makefile
  sys/shell/commands/sc_gnrc_udp.c
  sys/shell/commands/shell_commands.c
Labels: Type: enhancement, Area: network, Area: build system, Impact: minor, CI: ready for build, Area: sys, Area: examples

#17381 drivers/atwinc15x0: migrate to ztimer
  drivers/atwinc15x0/Makefile.dep
  drivers/atwinc15x0/atwinc15x0_bsp.c
  drivers/atwinc15x0/atwinc15x0_netdev.c
Labels: Type: enhancement, Area: drivers, CI: ready for build

#17377 pkg/ccn-ndn: migrate to ztimer
  pkg/ccn-lite/Makefile.dep
  pkg/ccn-lite/patches/0002-src-ccnl-migrate-from-xtimer-to-ztimer64.patch
  pkg/ccn-lite/patches/0003-src-ccnl-riot-move-late-initialization-of-evtimer.patch
  pkg/ndn-riot/Makefile.dep
  pkg/ndn-riot/patches/0005-use-ztimer_msec-instead-of-xtimer.patch
Labels: Type: bug, Area: pkg, CI: ready for build

#17384 examples/gnrc_networking: cleanup and static function declarations in udp.c
  sys/shell/commands/sc_gnrc_udp.c
Labels: Type: cleanup, CI: ready for build, Area: sys

#17397 pkg/mynewt-core/patches: silence cast-align
  pkg/mynewt-core/patches/0004-kernel-os-silence-Wcast-align.patch
Labels: Area: pkg, CI: ready for build

#17386 cpu/esp: migrate to ztimer
  cpu/esp32/Makefile
  cpu/esp32/Makefile.dep
  cpu/esp32/doc.txt
  cpu/esp32/esp-eth/esp_eth_netdev.c
  cpu/esp32/esp_ztimer.c
  cpu/esp32/periph/Kconfig.i2c
  cpu/esp32/periph/i2c_hw.c
  cpu/esp32/periph/pm.c
  cpu/esp32/periph/timer.c
  cpu/esp32/syscalls.c
  cpu/esp8266/doc.txt
  cpu/esp8266/ld/esp8266.riot-os.ld
  cpu/esp8266/periph/timer.c
  cpu/esp8266/syscalls.c
  cpu/esp_common/Makefile.dep
  cpu/esp_common/esp-now/doc.txt
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/esp_common/esp-now/esp_now_params.h
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/freertos/portable.c
  cpu/esp_common/freertos/task.c
  cpu/esp_common/freertos/timers.c
  cpu/esp_common/include/freertos/timers.h
Labels: Area: doc, CI: ready for build, Platform: ESP, Area: cpu

#17393 cpu/kinetis/include: fix xtimer backend timer selection
  cpu/kinetis/include/periph_cpu.h
  cpu/kinetis/periph/rtt.c
  tests/periph_rtt_min/Makefile
Labels: Platform: ARM, Area: tests, CI: ready for build, Area: cpu

#17398 makefiles/docker.inc.mk: pass TEST_KCONFIG
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, CI: skip compile test

#17308 drivers/mhz19: migrate to ztimer
  drivers/mhz19/Kconfig
  drivers/mhz19/Makefile.dep
  drivers/mhz19/mhz19_pwm.c
  drivers/mhz19/mhz19_uart.c
  tests/driver_mhz19/Makefile
  tests/driver_mhz19/app.config.test
  tests/driver_mhz19/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17399 boards/common/nrf52xxxdk: Expose LEDs via saul_pwm
  boards/common/nrf52xxxdk/Kconfig
  boards/common/nrf52xxxdk/Makefile.dep
  boards/common/nrf52xxxdk/include/gpio_params.h
  boards/common/nrf52xxxdk/include/periph_conf_common.h
  boards/common/nrf52xxxdk/include/pwm_params.h
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: boards, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: Kconfig

#17394 sys/evtimer: use now returned by set
  sys/evtimer/evtimer.c
Labels: CI: ready for build, Area: timers, Area: sys

#17355 boards/samd21-based: model Kconfig
  .murdock
  boards/adafruit-itsybitsy-m4/Makefile.features
  boards/arduino-mkr1000/Kconfig
  boards/arduino-mkrfox1200/Kconfig
  boards/arduino-mkrwan1300/Kconfig
  boards/arduino-mkrzero/Kconfig
  boards/arduino-nano-33-iot/Kconfig
  boards/arduino-nano-33-iot/Makefile.features
  boards/common/arduino-mkr/Kconfig
  boards/common/arduino-mkr/Makefile.features
  boards/common/arduino-zero/Kconfig
  boards/common/samdx1-arduino-bootloader/Kconfig
  boards/common/samdx1-arduino-bootloader/samdx1-arduino-bootloader.config
  boards/common/sodaq/Kconfig
  boards/common/sodaq/Makefile.features
  boards/feather-m0-lora/Kconfig
  boards/feather-m0-wifi/Kconfig
  boards/feather-m0/Kconfig
  boards/feather-m0/Makefile.features
  boards/hamilton/Kconfig
  boards/hamilton/Makefile.features
  boards/hamilton/hamilton.config
  boards/samd20-xpro/Kconfig
  boards/samd21-xpro/Kconfig
  boards/seeeduino_xiao/Kconfig
  boards/seeeduino_xiao/Makefile.features
  boards/sensebox_samd21/Kconfig
  boards/sensebox_samd21/Makefile.features
  boards/serpente/Kconfig
  boards/serpente/Makefile.features
  boards/sodaq-autonomo/Kconfig
  boards/sodaq-explorer/Kconfig
  boards/wemos-zero/Kconfig
  boards/wemos-zero/Makefile.features
  drivers/fxos8700/Kconfig
  drivers/hdc1000/Kconfig
  drivers/pir/Kconfig
  drivers/pulse_counter/Kconfig
  sys/arduino/Kconfig
  tests/periph_pm/Kconfig
  tests/periph_pm/Makefile.board.dep
  tests/periph_rtc/Kconfig
Labels: Area: tests, Area: drivers, CI: ready for build, Area: CI, Area: arduino API, Area: boards, Area: sys, Area: Kconfig

#17388 tests/periph_timer_periodic: spice up test
  tests/periph_timer_periodic/main.c
  tests/periph_timer_periodic/tests/01-run.py
Labels: Area: tests, CI: ready for build

#17357 sys/evtimer,ztimer: do not depend on ztimer_now64
  examples/nanocoap_server/Makefile
  examples/suit_update/main.c
  pkg/tinydtls/Makefile.dep
  pkg/tinydtls/contrib/sock_dtls.c
  sys/Makefile.dep
  sys/include/evtimer.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/sock/gnrc_sock.c
  sys/test_utils/Makefile.dep
  sys/ztimer/Makefile.dep
  tests/driver_encx24j600/Makefile.ci
  tests/evtimer_underflow/Makefile
  tests/evtimer_underflow/main.c
  tests/gnrc_dhcpv6_relay/Makefile.ci
  tests/gnrc_sock_ip/Makefile
  tests/gnrc_sock_neterr/Makefile.ci
  tests/gnrc_sock_udp/Makefile
  tests/pkg_microcoap/Makefile
  tests/riotboot_flashwrite/Makefile.ci
Labels: Area: network, Area: tests, Area: pkg, CI: ready for build, Area: timers, Area: sys, Area: examples

#17395 cpu: do not auto-select ztimer_periph_rtt for sam0, fe310
  cpu/fe310/Kconfig
  cpu/sam0_common/Kconfig
  cpu/sam3/Kconfig
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
  tests/posix_sleep/Makefile
Labels: Platform: ARM, Area: tests, CI: ready for build, Area: timers, Platform: RISC-V, Area: cpu, Area: sys, Area: Kconfig

#17342 sys: introduce sysclk function to retrieve core clock frequency
  boards/qn9080dk/include/board.h
  boards/qn9080dk/include/periph_conf.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp8266/include/periph_cpu.h
  cpu/fe310/clock.c
  cpu/fe310/cpu.c
  cpu/fe310/include/clk_conf.h
  cpu/fe310/include/periph_cpu.h
  cpu/fe310/periph/i2c.c
  cpu/fe310/periph/spi.c
  cpu/fe310/periph/uart.c
  cpu/native/include/periph_conf.h
  drivers/ws281x/atmega.c
  examples/blinky/Makefile
  examples/blinky/main.c
  pkg/openwsn/contrib/leds.c
  sys/include/clk.h
  tests/bench_msg_pingpong/main.c
  tests/bench_mutex_pingpong/main.c
  tests/bench_sched_nop/main.c
  tests/bench_thread_flags_pingpong/main.c
  tests/bench_thread_yield_pingpong/main.c
  tests/leds/main.c
  tests/periph_timer/Makefile
  tests/periph_timer/main.c
  tests/periph_uart_mode/main.c
Labels: Platform: native, Area: network, Area: tests, Area: pkg, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Platform: RISC-V, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: examples

#17404 sys/ztimer: ztimer_now() add warning regarding comparing now() values
  sys/include/ztimer.h
Labels: CI: ready for build, Area: timers, Area: sys, CI: skip compile test

#17400 cpu/nrf5x_common/periph_temperature: Increase resolution
  cpu/nrf5x_common/periph/temperature.c
Labels: Type: enhancement, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#17348 tools/elf2uf2: addition of new PROGRAMMER for RPi-pico
  boards/rpi-pico/doc.txt
  cpu/rpx0xx/Makefile.include
  dist/tools/elf2uf2/.gitignore
  dist/tools/elf2uf2/Makefile
  dist/tools/elf2uf2/elf2uf2.sh
  makefiles/tools/elf2uf2.inc.mk
  makefiles/tools/targets.inc.mk
Labels: Area: doc, Area: build system, CI: ready for build, Area: tools, Area: boards, Area: cpu

#17402 .murdock: Kconfig test apps for all boards
  .murdock
Labels: CI: ready for build, Area: CI, Area: Kconfig, CI: full build

#17265 ethos: move bulk of state machine out of ISR context
  drivers/Makefile.dep
  drivers/ethos/Makefile
  drivers/ethos/Makefile.dep
  drivers/ethos/ethos.c
  drivers/ethos/stdio.c
  drivers/include/ethos.h
  makefiles/pseudomodules.inc.mk
  makefiles/stdio.inc.mk
  sys/stdio_uart/stdio_uart.c
Labels: Type: bug, Area: build system, Area: drivers, CI: ready for build, Area: sys

#17414 sys/ztimer64: default select ztimer64_init
  sys/ztimer64/Makefile.dep
Labels: CI: ready for build, Area: sys

#16274 Add some Rust building infrastructure and example
  .gitattributes
  Makefile.include
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.features
  cpu/native/Kconfig
  cpu/native/Makefile.features
  cpu/native/Makefile.include
  cpu/riscv_common/Kconfig
  cpu/riscv_common/Makefile.features
  dist/tools/codespell/ignored_words.txt
  dist/tools/compile_commands/compile_commands.py
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/Makefile
  examples/rust-gcoap/Makefile.ci
  examples/rust-gcoap/README.md
  examples/rust-gcoap/src/lib.rs
  examples/rust-gcoap/vfs.c
  examples/rust-hello-world/Cargo.lock
  examples/rust-hello-world/Cargo.toml
  examples/rust-hello-world/Makefile
  examples/rust-hello-world/README.md
  examples/rust-hello-world/src/lib.rs
  kconfigs/Kconfig.features
  makefiles/arch/riscv.inc.mk
  makefiles/cargo-settings.inc.mk
  makefiles/cargo-targets.inc.mk
  makefiles/info-global.inc.mk
  makefiles/vars.inc.mk
  tests/rust_minimal/Cargo.lock
  tests/rust_minimal/Cargo.toml
  tests/rust_minimal/Makefile
  tests/rust_minimal/README.md
  tests/rust_minimal/src/lib.rs
  tests/rust_minimal/tests/01-run.py
Labels: Type: enhancement, Platform: native, Platform: ARM, Area: doc, Area: tests, Area: build system, CI: ready for build, Area: tools, CI: run tests, Platform: RISC-V, Area: cpu, Area: examples, Area: Kconfig

#16333 drivers/hm330x: initial commit
  drivers/Kconfig
  drivers/Makefile.dep
  drivers/hm330x/Kconfig
  drivers/hm330x/Makefile
  drivers/hm330x/Makefile.dep
  drivers/hm330x/Makefile.include
  drivers/hm330x/hm330x.c
  drivers/hm330x/hm330x_saul.c
  drivers/hm330x/include/hm330x_constants.h
  drivers/hm330x/include/hm330x_params.h
  drivers/include/hm330x.h
  drivers/saul/init_devs/auto_init_hm3301.c
  drivers/saul/init_devs/init.c
  tests/driver_hm330x/Makefile
  tests/driver_hm330x/README.md
  tests/driver_hm330x/app.config.test
  tests/driver_hm330x/main.c
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL, Area: Kconfig

#17408 sys/ztimer: ztimer_remove report success
  sys/include/ztimer.h
  sys/ztimer/core.c
Labels: CI: ready for build, Area: timers, Area: sys

#17405 tools: can_fast_ci_run.py: ignore comment changes for `\.[ch]$`
  dist/tools/ci/can_fast_ci_run.py
Labels: CI: ready for build, Area: tools

#17223 SECURITY.md: Add key link
  SECURITY.md
Labels: Type: enhancement, Area: doc, CI: ready for build

#17415 cpu/esp: change dynamic SSID option handling
  cpu/esp32/doc.txt
  cpu/esp8266/doc.txt
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_params.h
Labels: Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu

#17409 sys/ztimer: don't access non-existant timer
  sys/ztimer/core.c
Labels: Type: bug, CI: ready for build, Area: timers, Area: sys

#17413 cpu/esp32: support CPU clocks 2 MHz and 40 MHz
  cpu/esp32/doc.txt
  cpu/esp32/periph/i2c_hw.c
  cpu/esp_common/periph/i2c_sw.c
  cpu/esp_common/periph/spi.c
Labels: Type: enhancement, Area: doc, CI: ready for build, Platform: ESP, Area: cpu

#17421 cpu/stm32: remove invalid family symbols used in Kconfig
  cpu/stm32/Kconfig
Labels: Platform: ARM, Impact: minor, Type: cleanup, CI: ready for build, Area: cpu, Area: Kconfig

#17423 doc: Rust overview
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/using-rust.md
  makefiles/info.inc.mk
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#17428 boards: unify user button defines
  boards/b-l072z-lrwan1/include/board.h
  boards/b-l072z-lrwan1/include/gpio_params.h
  boards/b-l475e-iot01a/include/board.h
  boards/b-l475e-iot01a/include/gpio_params.h
  boards/pyboard/include/board.h
  boards/pyboard/include/gpio_params.h
  boards/ublox-c030-u201/include/board.h
  boards/ublox-c030-u201/include/gpio_params.h
Labels: Type: cleanup, CI: ready for build, Area: boards

#17422 cpu/stm32/Makefile.dep: fix typo
  cpu/stm32/Makefile.dep
Labels: Platform: ARM, Impact: minor, Type: cleanup, CI: ready for build, Area: cpu, CI: skip compile test

#17420 cpu/esp: revert the change for default definition of ESP_WIFI_PASS
  cpu/esp_common/esp-wifi/esp_wifi_params.h
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#17412 doc: Improve C++ documentation
  doc.txt
  doc/doxygen/src/using-cpp.md
  sys/cpp11-compat/doc.txt
  sys/cxx_ctor_guards/doc.txt
  sys/include/c11_atomics_compat.hpp
Labels: Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#17427 cpu/esp8266: fix problems with ESP WiFi and migration to ztimer
  cpu/esp8266/Kconfig
  cpu/esp8266/Makefile.dep
  cpu/esp8266/ld/esp8266.riot-os.ld
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#17433 core: Warn about using irq_enable
  core/include/irq.h
  drivers/motor_driver/motor_driver.c
Labels: Area: doc, Area: core, Area: drivers, CI: ready for build, Process: needs >1 ACK

#17430 dist/tools/cosy: Update, refresh patch and drop applied patch
  dist/tools/cosy/Makefile
  dist/tools/cosy/patches/0001-cosy.py-set-working-directory-to-location-of-cosy.py.patch
  dist/tools/cosy/patches/0002-frontend_server.py-make-URL-clickable.patch
Labels: Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#17401 boards/feather-m0: add arduino feature
  boards/feather-m0/Kconfig
  boards/feather-m0/Makefile.features
  boards/feather-m0/include/arduino_board.h
  boards/feather-m0/include/arduino_pinmap.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#17444 boards/feather-m0-*: fix Arduino feature in Kconfig
  boards/feather-m0-lora/Kconfig
  boards/feather-m0-wifi/Kconfig
Labels: Type: bug, CI: ready for build, Area: boards, Area: Kconfig, CI: full build

#17445 boards/feather-m0*: base board definition in Kconfig
  boards/feather-m0-lora/Kconfig
  boards/feather-m0-wifi/Kconfig
  boards/feather-m0/Kconfig
  boards/feather-m0/Kconfig.feather-m0-base
Labels: Type: enhancement, CI: ready for build, Area: boards, Area: Kconfig

#17440 boards/common/microbit: fix doxygen grouping
  boards/common/microbit/include/microbit.h
Labels: Type: cleanup, CI: ready for build, Area: boards, CI: skip compile test

#17443 sys/arduino: add assertion to gpio handling
  sys/arduino/base.cpp
Labels: Type: new feature, CI: ready for build, Area: arduino API, Area: sys
