Repository RIOT-OS/RIOT, pull requests merged in 2021-07, with the labels that each got.

#16605 cpu/sam0/i2c: Handle read with I2C_NOSTOP flag
  cpu/sam0_common/periph/i2c.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: bug

#16601 pkg/nimble/netif: fix randomized conn intervals
  pkg/nimble/netif/include/nimble_netif_conn.h
  pkg/nimble/netif/nimble_netif.c
  pkg/nimble/netif/nimble_netif_conn.c
Labels: Area: BLE, Area: pkg, CI: ready for build, Type: bug

#16483 cpu/stm32f1: Add Kconfig dependency modeling
  .murdock
  Makefile.base
  Makefile.dep
  Makefile.include
  boards/common/nucleo/Kconfig
  boards/common/nucleo144/Kconfig
  boards/common/nucleo32/Kconfig
  boards/common/nucleo64/Kconfig
  cpu/stm32/Kconfig
  cpu/stm32/Makefile.features
  cpu/stm32/periph/Kconfig
  cpu/stm32/stm32.config
  cpu/stm32/stmclk/Kconfig
  cpu/stm32/vectors/Kconfig
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/Makefile.dep
  sys/arduino/Kconfig
  sys/arduino/Makefile.include
  sys/ztimer/Kconfig
  tests/periph_gpio_arduino/app.config.test
Labels: Area: CI, Area: Kconfig, Area: arduino API, Area: boards, Area: build system, Area: cpu, Area: sys, Area: tests, Area: timers, CI: ready for build, Platform: ARM, Type: new feature

#16607 boards/{pic32-wifire,6lowpan-clicker}: Add CLOCK_CORECLOCK
  boards/6lowpan-clicker/include/periph_conf.h
  boards/pic32-wifire/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: cleanup

#16608 cpu/kinetis: fix RAM_LEN calculation
  cpu/kinetis/Makefile.include
Labels: Area: build system, Area: cpu, CI: ready for build

#16611 sys/shell/commands: gnrc_icmpv6_echo: use msg_avail()
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
Labels: Area: sys, CI: ready for build, Type: cleanup

#16610 netstats: add missing cib.h include
  sys/include/net/netstats.h
Labels: Area: network, Area: sys, CI: ready for build, Impact: minor, Type: cleanup

#16614 unittests/tests-ipv?_addr: fix some uninitialized variable bugs
  tests/unittests/tests-ipv4_addr/tests-ipv4_addr.c
  tests/unittests/tests-ipv6_addr/tests-ipv6_addr.c
Labels: Area: tests, CI: ready for build, Impact: minor, Process: needs backport, Type: bug

#16615 unittests/tests-ipv?_addr: fix some uninitialized variable bugs [backport 2021.07]
  tests/unittests/tests-ipv4_addr/tests-ipv4_addr.c
  tests/unittests/tests-ipv6_addr/tests-ipv6_addr.c
Labels: Area: tests, CI: ready for build, Impact: minor, Process: release backport, Type: bug

#16582 examples/blinky: new application
  examples/blinky/Makefile
  examples/blinky/Makefile.board.dep
  examples/blinky/README.md
  examples/blinky/main.c
Labels: Area: doc, Area: examples, CI: ready for build, Impact: minor, Type: new feature

#16422 pkg/tinydtls: handling of close_notify
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock/dtls.h
Labels: Area: network, Area: pkg, Area: sys, CI: ready for build, Type: enhancement

#16616 tests/unittests/tests-ipv6_hdr: fix too short ipv6_hdr_t allocations
  tests/unittests/tests-ipv6_hdr/tests-ipv6_hdr.c
Labels: Area: tests, CI: ready for build, Type: cleanup

#16570 drivers/sx126x: fix netdev send and recv function
  drivers/sx126x/sx126x_netdev.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Process: needs backport, Type: bug

#16604 netdev/lora: fix size of NETOPT_RX_SYMBOL_TIMEOUT
  drivers/include/sx127x.h
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_netdev.c
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  tests/driver_sx127x/main.c
Labels: Area: LoRa, Area: drivers, Area: network, Area: pkg, Area: sys, Area: tests, CI: ready for build, Process: needs backport

#16232 drivers/cc110x: add power off (sleep) functions
  drivers/cc110x/cc110x.c
  drivers/cc110x/cc110x_communication.c
  drivers/cc110x/cc110x_netdev.c
  drivers/cc110x/include/cc110x_communication.h
  drivers/cc110x/include/cc110x_constants.h
  drivers/include/cc110x.h
  tests/driver_cc110x/main.c
  tests/driver_cc110x/sc_cc110x.c
Labels: Area: drivers, Area: tests, CI: ready for build, Type: enhancement

#16597 sx126x: add support for multiple simultaneous variants
  drivers/include/sx126x.h
  drivers/sx126x/Kconfig
  drivers/sx126x/include/sx126x_internal.h
  drivers/sx126x/include/sx126x_params.h
  drivers/sx126x/sx126x.c
  drivers/sx126x/sx126x_netdev.c
  tests/driver_sx126x/app.config.test
Labels: Area: Kconfig, Area: LoRa, Area: drivers, Area: tests, CI: ready for build, Type: enhancement

#16617 gnrc_lorawan: fix gnrc_pktbuf_release_error (introduced by #16080)
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Area: network, Area: sys, CI: ready for build, Process: needs backport, Type: bug

#15773 tools/zep_dispatch: add support for advanced topologies
  cpu/native/include/native_internal.h
  cpu/native/socket_zep/socket_zep.c
  cpu/native/syscalls.c
  dist/tools/zep_dispatch/.gitignore
  dist/tools/zep_dispatch/Makefile
  dist/tools/zep_dispatch/README.md
  dist/tools/zep_dispatch/example.topo
  dist/tools/zep_dispatch/main.c
  dist/tools/zep_dispatch/topology.c
  dist/tools/zep_dispatch/topology.h
  dist/tools/zep_dispatch/zep_parser.c
  dist/tools/zep_dispatch/zep_parser.h
Labels: Area: cpu, Area: doc, Area: tools, CI: ready for build, Platform: native, Type: new feature

#16621 netdev/lora: fix size of NETOPT_RX_SYMBOL_TIMEOUT [backport 2021.07]
  drivers/include/sx127x.h
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_netdev.c
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  tests/driver_sx127x/main.c
Labels: Area: LoRa, Area: drivers, Area: network, Area: pkg, Area: sys, Area: tests, CI: ready for build, Process: release backport

#16619 drivers/at24cxxx: rearrange AT24CXXX_PARAMS
  drivers/at24cxxx/include/at24cxxx_params.h
Labels: Area: drivers, CI: ready for build, Impact: minor

#16618 drivers/dose: return -EBUSY if medium is busy
  drivers/dose/dose.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: enhancement

#15549 net/gcoap: support DTLS
  examples/gcoap/gcoap_cli.c
  examples/gcoap_dtls/Makefile
  examples/gcoap_dtls/Makefile.ci
  examples/gcoap_dtls/Makefile.slip
  examples/gcoap_dtls/README.md
  examples/gcoap_dtls/gcoap_cli.c
  examples/gcoap_dtls/main.c
  examples/gcoap_dtls/tinydtls_keys.h
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/net/dsm.h
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/Kconfig
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/dsm/Makefile
  sys/net/dsm/Makefile.dep
  sys/net/dsm/dsm.c
Labels: Area: CoAP, Area: Kconfig, Area: build system, Area: doc, Area: examples, Area: network, Area: security, Area: sys, CI: ready for build, Type: new feature

#16620 drivers/sx126x: fix netdev send and recv function [backport 2021.07]
  drivers/sx126x/sx126x_netdev.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Process: release backport

#16602 pkg/nimble: configure BLE_LL_INIT_SLOT_SIZE to 1
  pkg/nimble/Makefile.include
Labels: Area: BLE, Area: pkg, CI: ready for build, Type: enhancement

#16626 gnrc_lorawan: fix gnrc_pktbuf_release_error (introduced by #16080) [backport 2021.07]
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Area: network, Area: sys, CI: ready for build, Process: release backport

#15994 examples/suit_update: Add compatibility with native
  examples/suit_update/Makefile
  examples/suit_update/Makefile.board.dep
  examples/suit_update/README.hardware.md
  examples/suit_update/README.md
  examples/suit_update/README.native.md
  examples/suit_update/main.c
  examples/suit_update/native_steps.svg
  sys/Makefile.dep
  sys/include/suit/storage/ram.h
  sys/suit/storage/ram.c
  sys/suit/transport/coap.c
Labels: Area: OTA, Area: doc, Area: examples, Area: sys, CI: ready for build, Type: enhancement

#16459 gnrc_tcp: rewrite passive open
  fuzzing/gnrc_tcp/main.c
  sys/include/net/gnrc/tcp.h
  sys/include/net/gnrc/tcp/tcb.h
  sys/include/net/tcp.h
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_eventloop.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_common.h
  tests/gnrc_tcp/README.md
  tests/gnrc_tcp/main.c
  tests/gnrc_tcp/tests-as-root/01-conn_lifecycle_as_client.py
  tests/gnrc_tcp/tests-as-root/02-conn_lifecycle_as_server.py
  tests/gnrc_tcp/tests-as-root/03-send_data.py
  tests/gnrc_tcp/tests-as-root/04-receive_data.py
  tests/gnrc_tcp/tests-as-root/05-garbage-pkts.py
  tests/gnrc_tcp/tests-as-root/06-receive_data_closed_conn.py
  tests/gnrc_tcp/tests-as-root/07-endpoint_construction.py
  tests/gnrc_tcp/tests-as-root/08-return_codes.py
  tests/gnrc_tcp/tests-as-root/09-listen_accept_cycle.py
  tests/gnrc_tcp/tests-as-root/shared_func.py
Labels: Area: doc, Area: network, Area: sys, Area: tests, CI: ready for build, Process: API change, Type: enhancement

#16625 stm32/spi : Add check for GPIO_UNDEF
  cpu/stm32/periph/spi.c
Labels: Area: cpu, CI: ready for build, Platform: ARM

#16628 drivers/cc2538_rf: remove cc2538_rf_netdev_legacy
  cpu/cc2538/Makefile.dep
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/Makefile
  cpu/cc2538/radio/cc2538_rf.c
  cpu/cc2538/radio/cc2538_rf_netdev.c
  makefiles/pseudomodules.inc.mk
Labels: Area: build system, Area: cpu, CI: ready for build, Platform: ARM, Type: cleanup

#16599 drivers/sx126x : r/NETOPT_RX_TIMEOUT/NETOPT_RX_SYMBOL_TIMEOUT
  drivers/include/sx126x.h
  drivers/sx126x/sx126x.c
  drivers/sx126x/sx126x_netdev.c
Labels: Area: LoRa, Area: drivers, CI: ready for build, Reviewed: 3-testing

#16630 drivers/nrf802154: remove nrf802154_rf_netdev_legacy
  cpu/nrf52/Makefile.dep
  cpu/nrf52/include/nrf802154.h
  cpu/nrf52/radio/nrf802154/Makefile
  cpu/nrf52/radio/nrf802154/nrf802154.c
  makefiles/pseudomodules.inc.mk
Labels: Area: build system, Area: cpu, CI: ready for build, Platform: ARM, Type: cleanup

#16579 drivers/sx126x: Add support for Nucleo -WL55JC
  boards/nucleo-wl55jc/Makefile.dep
  boards/nucleo-wl55jc/board.c
  boards/nucleo-wl55jc/doc.txt
  boards/nucleo-wl55jc/include/board.h
  boards/nucleo-wl55jc/include/periph_conf.h
  cpu/doc.txt
  cpu/stm32/cpu_common.c
  cpu/stm32/cpu_init.c
  cpu/stm32/include/periph/wl/periph_cpu.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/kconfigs/wl/Kconfig
  cpu/stm32/stmclk/stmclk_l4wx.c
  drivers/include/sx126x.h
  drivers/sx126x/Kconfig
  drivers/sx126x/include/sx126x_internal.h
  drivers/sx126x/include/sx126x_params.h
  drivers/sx126x/sx126x.c
  drivers/sx126x/sx126x_netdev.c
  makefiles/pseudomodules.inc.mk
  pkg/driver_sx126x/contrib/driver_sx126x_hal.c
Labels: Area: Kconfig, Area: LoRa, Area: boards, Area: build system, Area: cpu, Area: doc, Area: drivers, Area: pkg, CI: ready for build, Platform: ARM

#16631 shell_commands/gnrc_netif: fix gnrc_netif_cmd_lora dependency
  drivers/sx127x/Makefile.dep
  sys/Makefile.dep
Labels: Area: LoRa, Area: drivers, Area: sys, CI: ready for build, Impact: minor, Type: bug

#16595 sys/auto_init: init ztimer/xtimer before random
  sys/auto_init/auto_init.c
Labels: Area: sys, CI: ready for build, Impact: minor

#16203 pkg/wakaama: add get set functions and cleanup client connection
  examples/wakaama/Makefile
  pkg/wakaama/Makefile.dep
  pkg/wakaama/contrib/lwm2m_client_connection.c
  pkg/wakaama/contrib/lwm2m_client_objects.c
  pkg/wakaama/contrib/objects/Makefile
  pkg/wakaama/contrib/objects/common.c
  pkg/wakaama/include/lwm2m_client.h
  pkg/wakaama/include/lwm2m_client_config.h
  pkg/wakaama/include/objects/common.h
Labels: Area: examples, Area: pkg, CI: ready for build, Type: enhancement

#16636 pkg/lwip: Fix DHCP autostart
  pkg/lwip/contrib/lwip.c
  pkg/lwip/patches/0003-netif_is_flag_set-fix.patch
Labels: Area: network, Area: pkg, CI: ready for build, Type: bug

#16461 gnrc_tcp: refactor tests
  tests/gnrc_tcp/README.md
  tests/gnrc_tcp/tests-as-root/01-conn_lifecycle_as_client.py
  tests/gnrc_tcp/tests-as-root/01-run.py
  tests/gnrc_tcp/tests-as-root/02-conn_lifecycle_as_server.py
  tests/gnrc_tcp/tests-as-root/03-send_data.py
  tests/gnrc_tcp/tests-as-root/04-receive_data.py
  tests/gnrc_tcp/tests-as-root/05-garbage-pkts.py
  tests/gnrc_tcp/tests-as-root/06-receive_data_closed_conn.py
  tests/gnrc_tcp/tests-as-root/07-endpoint_construction.py
  tests/gnrc_tcp/tests-as-root/08-return_codes.py
  tests/gnrc_tcp/tests-as-root/09-listen_accept_cycle.py
  tests/gnrc_tcp/tests-as-root/helpers.py
  tests/gnrc_tcp/tests-as-root/shared_func.py
Labels: Area: doc, Area: tests, CI: ready for build, CI: skip compile test, Type: new feature

#16493 gnrc_tcp: align with sock tcp
  sys/include/net/gnrc/tcp.h
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp.c
  tests/gnrc_tcp/main.c
  tests/gnrc_tcp/tests-as-root/01-run.py
  tests/gnrc_tcp/tests-as-root/helpers.py
Labels: Area: network, Area: sys, Area: tests, CI: ready for build

#16639 cpu/esp_common: fix boot issue on ESP8266
  cpu/esp_common/Makefile.include
  cpu/esp_common/syscalls.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Process: needs backport, Type: bug

#16642 cpu/esp_common: fix boot issue on ESP8266 [backport 2021.07]
  cpu/esp_common/Makefile.include
  cpu/esp_common/syscalls.c
Labels: Area: cpu, CI: ready for build, Platform: ESP, Process: release backport, Type: bug

#16643 gnrc_sock: imply end-point netif only if unset
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
Labels: Area: network, Area: sys, CI: ready for build, CI: run tests, Process: needs backport, Type: bug

#16647 gnrc_sock: imply end-point netif only if unset [backport 2021.07]
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
Labels: Area: network, Area: sys, CI: ready for build, CI: run tests, Process: release backport, Type: bug

#16609 cpu/rpx0xx: port RIOT to the Raspberry Pi RP2040 MCU
  boards/rpi-pico/Kconfig
  boards/rpi-pico/Makefile
  boards/rpi-pico/Makefile.dep
  boards/rpi-pico/Makefile.features
  boards/rpi-pico/Makefile.include
  boards/rpi-pico/board.c
  boards/rpi-pico/dist/openocd.cfg
  boards/rpi-pico/doc.txt
  boards/rpi-pico/include/board.h
  boards/rpi-pico/include/gpio_params.h
  boards/rpi-pico/include/periph_conf.h
  cpu/rpx0xx/Kconfig
  cpu/rpx0xx/Makefile
  cpu/rpx0xx/Makefile.dep
  cpu/rpx0xx/Makefile.features
  cpu/rpx0xx/Makefile.include
  cpu/rpx0xx/boot2_w25q080_padded_checksummed.S
  cpu/rpx0xx/clock.c
  cpu/rpx0xx/cpu.c
  cpu/rpx0xx/doc.txt
  cpu/rpx0xx/include/.gitignore
  cpu/rpx0xx/include/cpu_conf.h
  cpu/rpx0xx/include/io_reg.h
  cpu/rpx0xx/include/periph_cpu.h
  cpu/rpx0xx/include/vendor/RP2040.h
  cpu/rpx0xx/include/vendor/system_RP2040.h
  cpu/rpx0xx/ldscripts/RP2040.ld
  cpu/rpx0xx/periph/Makefile
  cpu/rpx0xx/periph/gpio.c
  cpu/rpx0xx/periph/uart.c
  cpu/rpx0xx/pll.c
  cpu/rpx0xx/rosc.c
  cpu/rpx0xx/vectors.c
  cpu/rpx0xx/vendor/boot_stage2/.gitignore
  cpu/rpx0xx/vendor/boot_stage2/Makefile
  cpu/rpx0xx/vendor/boot_stage2/README.md
  cpu/rpx0xx/vendor/boot_stage2/boot2_at25sf128a.S
  cpu/rpx0xx/vendor/boot_stage2/boot2_generic_03h.S
  cpu/rpx0xx/vendor/boot_stage2/boot2_is25lp080.S
  cpu/rpx0xx/vendor/boot_stage2/boot2_usb_blinky.S
  cpu/rpx0xx/vendor/boot_stage2/boot2_w25q080.S
  cpu/rpx0xx/vendor/boot_stage2/boot2_w25x10cl.S
  cpu/rpx0xx/vendor/boot_stage2/boot_stage2.ld
  cpu/rpx0xx/vendor/boot_stage2/compile_time_choice.S
  cpu/rpx0xx/vendor/boot_stage2/config.h
  cpu/rpx0xx/vendor/boot_stage2/include/boot2_helpers/exit_from_boot2.S
  cpu/rpx0xx/vendor/boot_stage2/include/boot2_helpers/read_flash_sreg.S
  cpu/rpx0xx/vendor/boot_stage2/include/boot2_helpers/wait_ssi_ready.S
  cpu/rpx0xx/vendor/boot_stage2/include/hardware/platform_defs.h
  cpu/rpx0xx/vendor/boot_stage2/include/hardware/regs/addressmap.h
  cpu/rpx0xx/vendor/boot_stage2/include/hardware/regs/m0plus.h
  cpu/rpx0xx/vendor/boot_stage2/include/hardware/regs/pads_qspi.h
  cpu/rpx0xx/vendor/boot_stage2/include/hardware/regs/ssi.h
  cpu/rpx0xx/vendor/boot_stage2/include/pico/asm_helper.S
  cpu/rpx0xx/vendor/boot_stage2/include/pico/config.h
  cpu/rpx0xx/vendor/boot_stage2/include/pico/platform.h
  cpu/rpx0xx/vendor/boot_stage2/pad_checksum
  cpu/rpx0xx/vendor/boot_stage2/read_flash_sreg.S
  cpu/rpx0xx/xosc.c
Labels: Area: Kconfig, Area: boards, Area: cpu, Area: doc, CI: ready for build, Type: new feature

#16640 net/lorawan: Revert #16604 and fix NETOPT_RX_SYMBOL_TIMEOUT documentation
  drivers/include/sx126x.h
  drivers/include/sx127x.h
  drivers/sx126x/sx126x_netdev.c
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_netdev.c
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  sys/include/net/netopt.h
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  tests/driver_sx127x/main.c
Labels: Area: LoRa, Area: drivers, Area: network, Area: pkg, Area: sys, Area: tests, CI: ready for build, Process: needs backport, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#16637 tests/periph_uart_mode: Drop dep to periph_timer
  tests/periph_uart_mode/Makefile
  tests/periph_uart_mode/Makefile.board.dep
  tests/periph_uart_mode/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: enhancement

#16648 net/lorawan: Revert #16604 and fix NETOPT_RX_SYMBOL_TIMEOUT documentation [backport 2021.07]
  drivers/include/sx127x.h
  drivers/sx127x/sx127x_getset.c
  drivers/sx127x/sx127x_netdev.c
  pkg/semtech-loramac/contrib/semtech_loramac_radio.c
  sys/include/net/netopt.h
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  tests/driver_sx127x/main.c
Labels: Area: LoRa, Area: drivers, Area: network, Area: pkg, Area: sys, Area: tests, CI: ready for build, CI: run tests, Process: release backport, Type: bug

#16646 boards/nucleo-wl55jc: add SX126X_PARAM_TYPE to board.h
  boards/nucleo-wl55jc/include/board.h
Labels: Area: LoRa, Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#16641 makefiles/kconfig.mk: force SHOULD_USE_KCONFIG if config file is present
  makefiles/kconfig.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Type: enhancement

#16651 release-notes.txt: add 2021.07 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Community: help wanted, Process: needs >1 ACK, Process: needs backport, Process: release cycle

#16652 release-notes.txt: add 2021.07 release notes [backport 2021.07]
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Process: release backport, Process: release cycle

#16653 VERSION: add 2021.07 version
  VERSION
Labels: CI: ready for build, CI: skip compile test, Process: release cycle

#16656 Update cpu/stm32/periph/rtc_all.c for CPU_FAM_STM32L5 support.
  cpu/stm32/periph/rtc_all.c
Labels: Area: cpu, CI: ready for build, Platform: ARM

#16259 pkg/lwip: Add thread safety check when using DEVELHELP
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/contrib/sys_arch.c
  pkg/lwip/include/arch/sys_arch.h
  pkg/lwip/include/lwipopts.h
Labels: Area: network, Area: pkg, CI: ready for build, CI: run tests, Type: enhancement

#16657 gnrc_dhcpv6_client_simple_pd: fix old doc and names
  sys/include/net/gnrc/dhcpv6/client/simple_pd.h
  sys/net/gnrc/application_layer/dhcpv6/client_simple_pd.c
Labels: Area: network, Area: sys, CI: ready for build, Impact: minor, Type: cleanup

#16659 gnrc_dhcpv6_client_mud_url: rename to dhcpv6_client_mud_url
  makefiles/pseudomodules.inc.mk
  sys/include/net/dhcpv6/client.h
  sys/net/application_layer/dhcpv6/Kconfig
  sys/net/application_layer/dhcpv6/client.c
  tests/gnrc_dhcpv6_client_6lbr/Makefile
Labels: Area: Kconfig, Area: build system, Area: network, Area: sys, Area: tests, CI: ready for build, Impact: minor, Process: API change, Type: cleanup

#16662 boards/rpi-pico: improve doc
  boards/rpi-pico/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#16632 periph/uart: Fix doc, use errno for return values
  drivers/include/periph/uart.h
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#16663 drivers/dfplayer: fix doc & C++ boilerplate
  drivers/dfplayer/include/dfplayer_constants.h
  drivers/dfplayer/include/dfplayer_params.h
Labels: Area: doc, Area: drivers, CI: ready for build, Impact: minor, Type: bug

#15493 riotboot: implement serial flasher
  .github/workflows/tools-buildtest.yml
  boards/common/kw41z/board.c
  boards/common/kw41z/led_init.c
  bootloaders/riotboot/Makefile
  bootloaders/riotboot_common.mk
  bootloaders/riotboot_dfu/Makefile
  bootloaders/riotboot_dfu/doc.txt
  bootloaders/riotboot_serial/Makefile
  bootloaders/riotboot_serial/Makefile.ci
  bootloaders/riotboot_serial/doc.txt
  bootloaders/riotboot_serial/main.c
  cpu/stm32/periph/usbdev.c
  dist/tools/riotboot_serial/Makefile
  dist/tools/riotboot_serial/main.c
  dist/tools/riotboot_serial/serial.c
  makefiles/tools/riotboot_serial.inc.mk
  sys/Makefile.dep
  sys/Makefile.include
  sys/include/riotboot/magic.h
  sys/include/riotboot/serial.h
  sys/include/riotboot/usb_dfu.h
  sys/riotboot/reset.c
  sys/riotboot/serial.c
  sys/riotboot/usb_dfu.c
  sys/usb/usbus/dfu/Kconfig
  sys/usb/usbus/dfu/dfu.c
Labels: Area: CI, Area: Kconfig, Area: USB, Area: boards, Area: build system, Area: cpu, Area: doc, Area: sys, Area: tools, CI: ready for build, Platform: ARM, Type: new feature

#16658 dhcpv6_client: make IA_PD an optional module
  makefiles/pseudomodules.inc.mk
  sys/include/net/dhcpv6/client.h
  sys/net/application_layer/dhcpv6/client.c
  sys/net/gnrc/Makefile.dep
  tests/gnrc_dhcpv6_client/Makefile
Labels: Area: build system, Area: network, Area: sys, Area: tests, CI: ready for build, Type: cleanup

#13506 examples/nimble_*: use nimble_autoadv module
  examples/nimble_gatt/Makefile
  examples/nimble_gatt/main.c
  examples/nimble_heart_rate_sensor/Makefile
  examples/nimble_heart_rate_sensor/main.c
Labels: Area: examples, CI: ready for build, Type: enhancement

#16667 event_timeout: check clock before removing ztimer on clear
  sys/event/timeout.c
  tests/event_ztimer/main.c
Labels: Area: sys, Area: tests, CI: ready for build, CI: run tests, Type: bug

#16668 dhcpv6_client: refactor to use `event_timeout` for non-sock timeouts
  sys/Makefile.dep
  sys/include/net/dhcpv6/client.h
  sys/include/timex.h
  sys/net/application_layer/dhcpv6/client.c
Labels: Area: network, Area: sys, CI: ready for build, Type: enhancement

#16673 netutils: get interface by name rather than ID
  sys/net/netutils/util.c
Labels: Area: network, Area: sys, CI: ready for build, CI: run tests, Type: bug

#16676 nanocoap: provide Accept option convenience function
  sys/include/net/nanocoap.h
Labels: Area: network, Area: sys, CI: ready for build, Impact: minor, Type: enhancement

#16679 dhcpv6_client: mrd calculation fixed
  sys/net/application_layer/dhcpv6/client.c
  sys/net/gnrc/application_layer/dhcpv6/client.c
Labels: Area: network, Area: sys, CI: ready for build

#16683 cpu/sam0: improve ethernet driver resilience
  cpu/sam0_common/periph/eth.c
  cpu/sam0_common/sam0_eth/eth-netdev.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Type: enhancement

#16685 cpu/rpx0xx: fix minor gpio warnings
  cpu/rpx0xx/include/periph_cpu.h
Labels: Area: cpu, CI: ready for build, Type: cleanup

#16687 gcoap: fix socket type naming
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: CoAP, Area: network, Area: sys, CI: ready for build, Impact: minor, Process: API change, Type: cleanup

#16686 doc/doxygen: increase dot graph max nodes
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build, CI: skip compile test

#16682 rtt_rtc: add rtt_rtc_settimeofday() & rtt_rtc_gettimeofday()
  drivers/include/rtt_rtc.h
  drivers/rtt_rtc/rtt_rtc.c
  tests/unittests/Makefile.ci
  tests/unittests/tests-rtt_rtc/tests-rtt_rtc.c
Labels: Area: drivers, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#16506 drivers/dose: make use of start condition received interrupt
  cpu/sam0_common/Kconfig
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/periph/uart.c
  drivers/dose/Makefile.dep
  drivers/dose/dose.c
  drivers/dose/include/dose_params.h
  drivers/include/dose.h
  drivers/include/periph/uart.h
  drivers/periph_common/Kconfig.uart
  kconfigs/Kconfig.features
  tests/periph_uart/Kconfig
  tests/periph_uart/Makefile
  tests/periph_uart/main.c
Labels: Area: Kconfig, Area: cpu, Area: drivers, Area: tests, CI: ready for build, Platform: ARM, Type: new feature

#16650 cpu/nrf9160: add initial support for nRF9160DK board
  boards/nrf9160dk/Kconfig
  boards/nrf9160dk/Makefile
  boards/nrf9160dk/Makefile.features
  boards/nrf9160dk/Makefile.include
  boards/nrf9160dk/board.c
  boards/nrf9160dk/doc.txt
  boards/nrf9160dk/include/board.h
  boards/nrf9160dk/include/periph_conf.h
  cpu/nrf5x_common/Makefile.features
  cpu/nrf5x_common/clock.c
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/gpio.c
  cpu/nrf5x_common/periph/pm.c
  cpu/nrf9160/Kconfig
  cpu/nrf9160/Makefile
  cpu/nrf9160/Makefile.dep
  cpu/nrf9160/Makefile.features
  cpu/nrf9160/Makefile.include
  cpu/nrf9160/cpu.c
  cpu/nrf9160/include/cpu_conf.h
  cpu/nrf9160/include/periph_cpu.h
  cpu/nrf9160/include/vendor/nrf9160.h
  cpu/nrf9160/include/vendor/nrf9160_bitfields.h
  cpu/nrf9160/include/vendor/nrf9160_peripherals.h
  cpu/nrf9160/periph/Makefile
  cpu/nrf9160/vectors/Makefile
  cpu/nrf9160/vectors/vectors_nrf9160.c
Labels: Area: Kconfig, Area: boards, Area: cpu, Area: doc, CI: ready for build, Platform: ARM, Type: new feature

#16644 gnrc_ipv6_nib: don't stop sending router solicitations when receiving last router advertisement from router
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, Area: sys, CI: ready for build, Impact: minor, Type: bug

#16672 gnrc_netif: add gnrc_netif_ipv6_add_prefix() & helper functions
  sys/include/net/gnrc/netif/internal.h
  sys/include/net/gnrc/rpl.h
  sys/include/net/gnrc/rpl/dodag.h
  sys/include/net/gnrc/sixlowpan/ctx.h
  sys/net/gnrc/application_layer/dhcpv6/client.c
  sys/net/gnrc/application_layer/uhcpc/gnrc_uhcpc.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/routing/rpl/gnrc_rpl.c
  sys/net/gnrc/routing/rpl/gnrc_rpl_dodag.c
Labels: Area: network, Area: sys, CI: ready for build, Type: cleanup

#16693 cpu/saml21: uart: use arithmetic baud rate mode
  cpu/sam0_common/periph/uart.c
Labels: Area: cpu, CI: ready for build, Platform: ARM, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: bug

#16694 boards/saml21-xpro: configure UART & SPI on EXT2, 3
  boards/saml21-xpro/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement
