Repository RIOT-OS/RIOT, pull requests merged in 2021-09, with the labels that each got.

#16770 makefiles/suit*: use $(Q) to silence output
  dist/tools/suit/suit-manifest-generator/suit_tool/create.py
  makefiles/suit.base.inc.mk
  makefiles/suit.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build, Area: tools

#16779 dist/tools/doccheck: add exclude file for warnings and use it
  dist/tools/doccheck/check.sh
  dist/tools/doccheck/exclude_patterns
  doc/doxygen/riot.doxyfile
Labels: Type: enhancement, Area: doc, Discussion: RFC, CI: ready for build, Area: tools, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, CI: skip compile test

#16728 sys/net/dhcpv6: Refactor DHCPv6 client
  sys/net/application_layer/dhcpv6/client.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys

#16792 tests/gnrc_dhcpv6_client: Fix for newer Kea versions and remove sudo requirement
  tests/gnrc_dhcpv6_client/dhcpv6_server.sh
  tests/gnrc_dhcpv6_client/kea-dhcp6.conf
  tests/gnrc_dhcpv6_client/tests-with-config/01-run.py
Labels: Type: bug, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#16794 core/msg doc: Clarify; elaborating on interaction with queue
  core/include/msg.h
Labels: Type: enhancement, Area: core, CI: ready for build, CI: skip compile test

#16783 cpu/atmega_common: move clock init to common code
  boards/arduino-leonardo/board.c
  boards/common/atmega/board.c
  cpu/atmega_common/atmega_cpu.c
  cpu/atxmega/include/cpu_conf.h
  cpu/avr8_common/avr8_cpu.c
Labels: Impact: minor, Platform: AVR, Type: cleanup, CI: ready for build, Area: boards, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#15902 drivers/periph_spi: let spi_acquire return void
  cpu/atmega_common/periph/spi.c
  cpu/atxmega/periph/spi.c
  cpu/cc2538/periph/spi.c
  cpu/efm32/periph/spi.c
  cpu/esp_common/periph/spi.c
  cpu/fe310/periph/spi.c
  cpu/kinetis/periph/spi.c
  cpu/lm4f120/periph/spi.c
  cpu/lpc23xx/periph/spi.c
  cpu/msp430fxyz/periph/spi.c
  cpu/native/periph/spidev_linux.c
  cpu/nrf51/periph/spi.c
  cpu/nrf52/periph/spi.c
  cpu/qn908x/periph/spi.c
  cpu/sam0_common/periph/spi.c
  cpu/sam3/periph/spi.c
  cpu/stm32/periph/spi.c
  drivers/at25xxx/at25xxx.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/ata8520e/ata8520e.c
  drivers/bmx280/bmx280.c
  drivers/cc110x/cc110x.c
  drivers/cc110x/cc110x_calibration.c
  drivers/cc110x/cc110x_communication.c
  drivers/cc110x/cc110x_netdev.c
  drivers/cc110x/cc110x_rx_tx.c
  drivers/cc110x/include/cc110x_communication.h
  drivers/include/periph/spi.h
  drivers/include/soft_spi.h
  drivers/kw2xrf/kw2xrf_spi.c
  drivers/lis2dh12/lis2dh12.c
  drivers/nrf24l01p/nrf24l01p.c
  drivers/nrf24l01p_ng/include/nrf24l01p_ng_communication.h
  drivers/nrf24l01p_ng/nrf24l01p_ng_communication.c
  drivers/nrf24l01p_ng/nrf24l01p_ng_netdev.c
  drivers/soft_spi/soft_spi.c
  sys/arduino/SPI.cpp
  tests/driver_cc110x/sc_cc110x.c
  tests/periph_spi/main.c
Labels: Platform: native, Platform: MSP, Platform: ARM, Area: tests, Platform: AVR, Process: API change, Area: drivers, CI: ready for build, Area: arduino API, Platform: ESP, Platform: RISC-V, Area: cpu, Process: needs >1 ACK, Area: sys

#16623 pkg/nimble: have RIOT always initialize nimble timers
  pkg/mynewt-core/contrib/core.c
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/patches/0001-porting-nimble-src-nimble_port-riot-initializes-time.patch
  pkg/nimble/patches/0002-porting-npl-riot-add-namespaced-syscfg-symlink.patch
Labels: Area: pkg, CI: ready for build, Area: BLE

#16798 Remove duplicated includes introduced in #15902
  cpu/native/periph/spidev_linux.c
  cpu/stm32/periph/spi.c
Labels: Platform: native, Platform: ARM, CI: ready for build, Area: cpu

#16793 boards/hifive1b: Fix uart dev1 pins
  boards/hifive1b/include/periph_conf.h
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards

#16784 Makefile.include: only warn if not curl, wget, unzip, 7z
  Makefile.include
Labels: Area: build system, CI: ready for build

#16536 gnrc_ipv6_simple_subnets: auto-configuration for nested subnets on a simple tree topology
  doc/doxygen/src/gnrc_ipv6_auto_subnets_simple.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets_simple.svg
  examples/gnrc_networking_subnets/Makefile
  examples/gnrc_networking_subnets/Makefile.ci
  examples/gnrc_networking_subnets/README.md
  examples/gnrc_networking_subnets/main.c
  examples/gnrc_networking_subnets/setup_taps.sh
  examples/gnrc_networking_subnets/tapology.txt
  examples/gnrc_networking_subnets/udp.c
  makefiles/pseudomodules.inc.mk
  sys/net/gnrc/Makefile
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/routing/ipv6_auto_subnets/Makefile
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Area: network, Area: doc, Area: build system, Type: new feature, Discussion: RFC, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: examples

#16796 tests/gnrc_dhcpv6_client: honor configured $IFACE in Kea config
  tests/gnrc_dhcpv6_client/Makefile
  tests/gnrc_dhcpv6_client/README.md
  tests/gnrc_dhcpv6_client/dhcpv6_server.sh
  tests/gnrc_dhcpv6_client/kea-dhcp6.conf
Labels: Type: bug, Area: doc, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, CI: skip compile test

#16800 Small fatfs usability fixes
  examples/filesystem/README.md
  tests/pkg_fatfs/Makefile
  tests/pkg_fatfs/create_fat_image_file.sh
  tests/pkg_fatfs/riot_fatfs_disk.tar.bz2
Labels: Type: enhancement, Area: doc, Area: tests, CI: ready for build, Area: examples, CI: skip compile test

#16776 Remove `which` from shell invocations
  Makefile.include
  dist/testbed-support/makefile.iotlab.single.inc.mk
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/openvisualizer/makefile.openvisualizer.inc.mk
  makefiles/arch/riscv.inc.mk
  makefiles/boards/sam0.inc.mk
  pkg/flatbuffers/Makefile.include
Labels: Area: build system, Area: pkg, CI: ready for build, Area: tools, Platform: RISC-V, CI: skip compile test

#16710 test_utils: add UDP benchmark
  dist/tools/Makefile
  dist/tools/benchmark_udp/Makefile
  dist/tools/benchmark_udp/README.md
  dist/tools/benchmark_udp/main.c
  examples/benchmark_udp/Makefile
  examples/benchmark_udp/Makefile.ci
  examples/benchmark_udp/README.md
  examples/benchmark_udp/main.c
  sys/Makefile
  sys/auto_init/auto_init.c
  sys/include/test_utils/benchmark_udp.h
  sys/shell/commands/Makefile
  sys/shell/commands/sc_benchmark_udp.c
  sys/shell/commands/shell_commands.c
  sys/test_utils/Makefile.dep
  sys/test_utils/benchmark_udp/Makefile
  sys/test_utils/benchmark_udp/benchmark_udp.c
Labels: Area: doc, CI: ready for build, Area: tools, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: examples

#16803 Revert "Remove `which` from shell invocations"
  Makefile.include
  dist/testbed-support/makefile.iotlab.single.inc.mk
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/openvisualizer/makefile.openvisualizer.inc.mk
  makefiles/arch/riscv.inc.mk
  makefiles/boards/sam0.inc.mk
  pkg/flatbuffers/Makefile.include
Labels: Type: bug, Area: build system, Area: pkg, CI: ready for build, Area: tools, Platform: RISC-V

#16788 boards/nrf52: replace gnrc_netdev_default with netdev_default
  boards/common/nrf52/Makefile.nimble.dep
  boards/common/nrf52/Makefile.nrfmin.dep
Labels: Type: cleanup, CI: ready for build, Area: boards

#16758 drivers/periph: define rtc_mem and implement it for sam0_common
  cpu/sam0_common/periph/rtc_rtt.c
  cpu/samd5x/Kconfig
  cpu/samd5x/Makefile.features
  cpu/saml21/Kconfig
  cpu/saml21/Makefile.features
  drivers/include/periph/rtc_mem.h
  kconfigs/Kconfig.features
  tests/periph_rtc/Makefile
  tests/periph_rtc/main.c
  tests/periph_rtt/Makefile
  tests/periph_rtt/main.c
Labels: Platform: ARM, Area: tests, Type: new feature, Discussion: RFC, Area: drivers, CI: ready for build, Area: cpu, Area: Kconfig

#16805 doc: cleanup some minor spelling error found by codespell
  pkg/nimble/README.ipv6-over-ble.md
  tests/rng/README.md
Labels: Area: doc, Area: tests, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build, Area: BLE, CI: skip compile test

#16746 ieee802154/submac: reimplement using FSM
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
  drivers/include/net/netdev/ieee802154_submac.h
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  sys/include/net/ieee802154/radio.h
  sys/include/net/ieee802154/submac.h
  sys/net/link_layer/ieee802154/submac.c
Labels: Platform: ARM, Area: network, Area: drivers, CI: ready for build, Area: cpu, Area: sys

#16810 doc/doxygen/src/advanced-build-system-tricks: fix no udev link
  doc/doxygen/src/advanced-build-system-tricks.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#16795 make: add capability to check config for `test-with-config`
  makefiles/tests/tests.inc.mk
Labels: Area: tests, Area: build system, Type: new feature, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#16113 sys/net/app/cord: Support the addition of extra registration arguments
  sys/include/net/cord/config.h
  sys/net/application_layer/cord/common/cord_common.c
Labels: Type: enhancement, Area: network, Impact: minor, CI: ready for build, Area: sys

#16815 cpu/cc2538/periph/spi: move assert to spi_acquire
  cpu/cc2538/periph/spi.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: cpu

#16744 gnrc: deprecate gnrc_netdev_default, use netdev_default instead
  cpu/native/README.md
  examples/asymcute_mqttsn/Makefile
  examples/ccn-lite-relay/Makefile
  examples/cord_ep/Makefile
  examples/cord_epsim/Makefile
  examples/cord_lc/Makefile
  examples/default/Makefile
  examples/dtls-echo/Makefile
  examples/dtls-sock/Makefile
  examples/dtls-wolfssl/Makefile
  examples/emcute_mqttsn/Makefile
  examples/gcoap/Makefile
  examples/gcoap/Makefile.slip
  examples/gcoap_dtls/Makefile
  examples/gnrc_border_router/Makefile
  examples/gnrc_lorawan/Makefile
  examples/gnrc_minimal/Makefile
  examples/gnrc_networking/Makefile
  examples/gnrc_networking_mac/Makefile
  examples/nanocoap_server/Makefile
  examples/ndn-ping/Makefile
  examples/posix_select/Makefile
  examples/posix_sockets/Makefile
  examples/suit_update/Makefile
  examples/suit_update/Makefile.board.dep
  examples/suit_update/README.hardware.md
  examples/wakaama/Makefile
  makefiles/deprecated_modules.inc.mk
  sys/include/net/gnrc.h
  sys/net/gnrc/Makefile.dep
  tests/driver_kw2xrf/Makefile
  tests/driver_netdev_common/Makefile
  tests/driver_nrfmin/Makefile
  tests/gnrc_dhcpv6_client_6lbr/Makefile
  tests/gnrc_gomach/Makefile
  tests/gnrc_lwmac/Makefile
  tests/gnrc_udp/Makefile
  tests/nanocoap_cli/Makefile
  tests/netstats_l2/Makefile
  tests/netstats_neighbor/Makefile
  tests/nimble_autoconn_ccnl/Makefile
  tests/nimble_autoconn_gnrc/Makefile
  tests/nimble_statconn_gnrc/Makefile
  tests/pkg_edhoc_c/Makefile
  tests/pkg_microcoap/Makefile
  tests/pkg_tinydtls_sock_async/Makefile
  tests/riotboot_flashwrite/Makefile
  tests/sntp/Makefile
  tests/sock_udp_aux/Makefile
Labels: Platform: native, Area: network, Area: doc, Area: tests, Area: build system, CI: ready for build, Area: cpu, Area: sys, Area: examples, Process: deprecation

#16540 pkg/nimble: use tinycrypt pkg
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
Labels: Area: pkg, CI: ready for build, Area: BLE

#16817 examples, tests: replace gnrc_netdev_default with netdev_default
  examples/benchmark_udp/Makefile
  examples/gnrc_networking_subnets/Makefile
  tests/nimble_rpble_gnrc/Makefile
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build, Area: examples

#16823 ieee802154/submac: fix leftovers of #16746
  sys/net/link_layer/ieee802154/submac.c
  tests/ieee802154_submac/main.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys

#16819 pkg/edhoc-c: remove nimble blacklist
  pkg/edhoc-c/Makefile.dep
  pkg/tinycrypt/Makefile
Labels: Area: pkg, CI: ready for build

#16052 makefiles/kconfig.mk: generate config file from RIOT_CONFIG_% environment variables
  dist/tools/buildsystem_sanity_check/check.sh
  doc/doxygen/src/kconfig/kconfig.md
  makefiles/kconfig.mk
Labels: Area: doc, Area: build system, Type: new feature, Discussion: RFC, CI: ready for build, Area: tools, Area: Kconfig

#16556 tests/ieee802154_hal: check error codes and improve error reporting
  tests/ieee802154_hal/main.c
Labels: Area: tests, CI: ready for build, CI: run tests

#16797 tests/gnrc_dhcpv6_client: add script to check if $IFACE exists
  tests/gnrc_dhcpv6_client/Makefile
  tests/gnrc_dhcpv6_client/tests-with-config/check-config.sh
Labels: Type: enhancement, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#16814 cpu/nrf9160: add twi and spi support
  boards/nrf9160dk/Kconfig
  boards/nrf9160dk/Makefile.features
  boards/nrf9160dk/include/periph_conf.h
  cpu/nrf5x_common/periph/Makefile
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
  cpu/nrf5x_common/periph/spi_nrf52_nrf9160.c
  cpu/nrf9160/include/periph_cpu.h
  cpu/nrf9160/spi_twi_irq.c
  pkg/mynewt-core/contrib/Makefile
  pkg/mynewt-core/mynewt-core_os.mk
  pkg/uwb-core/Makefile.dep
Labels: Platform: ARM, Area: build system, Area: pkg, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#16802 cpu/stm32: add rtc_mem
  cpu/stm32/Makefile.dep
  cpu/stm32/Makefile.features
  cpu/stm32/kconfigs/f0/Kconfig.lines
  cpu/stm32/kconfigs/f2/Kconfig
  cpu/stm32/kconfigs/f3/Kconfig
  cpu/stm32/kconfigs/f4/Kconfig
  cpu/stm32/kconfigs/f7/Kconfig
  cpu/stm32/kconfigs/l0/Kconfig
  cpu/stm32/kconfigs/l1/Kconfig
  cpu/stm32/kconfigs/l4/Kconfig
  cpu/stm32/kconfigs/l5/Kconfig
  cpu/stm32/kconfigs/wb/Kconfig
  cpu/stm32/kconfigs/wl/Kconfig
  cpu/stm32/periph/rtc_all.c
  cpu/stm32/periph/rtc_mem.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Area: Kconfig

#16489 FIDO2 support in RIOT
  makefiles/pseudomodules.inc.mk
  pkg/fido2_tests/Makefile
  pkg/fido2_tests/patches/0001-Adaptions-for-RIOT-FIDO2-CTAP.patch
  sys/Kconfig
  sys/Makefile.dep
  sys/fido2/Kconfig
  sys/fido2/Makefile
  sys/fido2/ctap/Kconfig
  sys/fido2/ctap/Makefile
  sys/fido2/ctap/ctap.c
  sys/fido2/ctap/ctap_cbor.c
  sys/fido2/ctap/ctap_crypto.c
  sys/fido2/ctap/ctap_mem.c
  sys/fido2/ctap/ctap_utils.c
  sys/fido2/ctap/transport/Kconfig
  sys/fido2/ctap/transport/Makefile
  sys/fido2/ctap/transport/ctap_transport.c
  sys/fido2/ctap/transport/hid/Kconfig
  sys/fido2/ctap/transport/hid/Makefile
  sys/fido2/ctap/transport/hid/ctap_hid.c
  sys/fido2/doc.txt
  sys/include/fido2/ctap.h
  sys/include/fido2/ctap/ctap.h
  sys/include/fido2/ctap/ctap_cbor.h
  sys/include/fido2/ctap/ctap_crypto.h
  sys/include/fido2/ctap/ctap_mem.h
  sys/include/fido2/ctap/ctap_utils.h
  sys/include/fido2/ctap/transport/ctap_transport.h
  sys/include/fido2/ctap/transport/hid/ctap_hid.h
  tests/sys_fido2_ctap/Makefile
  tests/sys_fido2_ctap/README.md
  tests/sys_fido2_ctap/main.c
  tests/usbus_hid/main.c
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: security, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#16719 cpu/cc2538: Add Kconfig support
  .murdock
  Kconfig
  boards/common/remote/Kconfig
  boards/firefly/Kconfig
  boards/remote-reva/Kconfig
  boards/remote-revb/Kconfig
  cpu/cc2538/Kconfig
  cpu/cc2538/Makefile.features
  cpu/cc2538/cc2538.config
  cpu/cc2538/radio/Kconfig
  cpu/cortexm_common/Kconfig
  drivers/Kconfig
  drivers/Kconfig.net
  makefiles/kconfig.mk
  sys/net/link_layer/Kconfig
  sys/net/link_layer/eui_provider/Kconfig
  sys/net/link_layer/ieee802154/Kconfig
  tests/ieee802154_hal/app.config.test
  tests/pkg_littlefs2/Makefile.ci
Labels: Platform: ARM, Area: network, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: sys, Area: Kconfig

#16828 ipv6: fix typo in ipv6_addr_to_str documentation
  sys/include/net/ipv6/addr.h
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys, CI: skip compile test

#16829 pkg/nanocbor: bump version
  pkg/nanocbor/Makefile
Labels: Area: pkg, CI: ready for build

#16830 pkg/nimble: bump version, rmv patches
  pkg/nimble/Makefile
  pkg/nimble/patches/0001-porting-nimble-src-nimble_port-riot-initializes-time.patch
  pkg/nimble/patches/0002-porting-npl-riot-add-namespaced-syscfg-symlink.patch
Labels: Area: pkg, CI: ready for build, Area: BLE

#16831 gnrc/sock: recv avoid spinning xtimer
  sys/net/gnrc/sock/gnrc_sock.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#16603 pkg/nimble/netif: add nimble_netif_accept_direct()
  pkg/nimble/netif/include/nimble_netif.h
  pkg/nimble/netif/nimble_netif.c
  sys/shell/commands/sc_nimble_netif.c
Labels: Type: new feature, Area: pkg, CI: ready for build, Area: BLE, Area: sys

#16841 net/ieee802154_security doc: Shape security expectations
  sys/include/net/ieee802154_security.h
Labels: Type: enhancement, Area: network, Area: doc, CI: ready for build, Area: security, Area: sys

#16835 boards/samd21-xpro: Add peripheral usbdev to samd21-xpro
  boards/samd21-xpro/Kconfig
  boards/samd21-xpro/Makefile.features
  boards/samd21-xpro/include/periph_conf.h
Labels: Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#16764 gnrc_tcp: experimental feature "dynamic msl"
  sys/include/net/gnrc/tcp/config.h
  sys/net/gnrc/transport_layer/tcp/Kconfig
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_fsm.c
  tests/gnrc_tcp/Makefile
Labels: Area: network, Area: tests, CI: ready for build, Area: sys, Area: Kconfig

#16813 cpu: fix doxygen grouping warnings
  cpu/arm7_common/include/thread_arch.h
  cpu/avr8_common/include/thread_arch.h
  cpu/cc2538/include/cc2538.h
  cpu/cc2538/include/cc2538_gptimer.h
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/include/cc2538_rfcore.h
  cpu/cc26x0_cc13x0/include/cc26x0_cc13x0_aux.h
  cpu/cc26x0_cc13x0/include/cc26x0_cc13x0_fcfg.h
  cpu/cc26x0_cc13x0/include/cc26x0_cc13x0_prcm.h
  cpu/cc26x2_cc13x2/include/cc26x2_cc13x2_prcm.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_i2c.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_ioc.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_power.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_rfc.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_vims.h
  cpu/cc26xx_cc13xx/include/cc26xx_cc13xx_wdt.h
  cpu/cortexm_common/include/irq_arch.h
  cpu/cortexm_common/include/thread_arch.h
  cpu/esp32/doc.txt
  cpu/esp32/esp-eth/esp_eth_params.h
  cpu/esp32/include/can_params.h
  cpu/esp32/include/sdk_conf.h
  cpu/esp8266/include/sdk_conf.h
  cpu/esp_common/include/esp_common.h
  cpu/esp_common/include/esp_common_log.h
  cpu/esp_common/include/sys/types.h
  cpu/kinetis/include/mcg.h
  cpu/lpc1768/include/cpu_conf.h
  cpu/lpc23xx/include/lpc23xx.h
  cpu/lpc23xx/include/periph_cpu.h
  cpu/mips32r2_common/include/thread_arch.h
  cpu/msp430_common/include/thread_arch.h
  cpu/msp430fxyz/include/periph_cpu.h
  cpu/native/include/thread_arch.h
  cpu/qn908x/include/periph_cpu.h
  cpu/riscv_common/include/plic.h
  cpu/riscv_common/include/thread_arch.h
  cpu/sam3/include/periph_cpu.h
  cpu/samd21/include/periph_cpu.h
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  cpu/saml21/include/periph_cpu.h
  cpu/stm32/dist/clk_conf/clk_conf.h
  cpu/stm32/include/clk/cfg_clock_common_lx_wx.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_100.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_120.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_180.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_216.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_84.h
  cpu/stm32/include/clk/l4l5wx/cfg_clock_default.h
  cpu/stm32/include/clk/mp1/cfg_clock_default.h
  dist/tools/doccheck/exclude_patterns
Labels: Platform: native, Platform: MSP, Platform: ARM, Area: doc, Platform: AVR, Type: cleanup, CI: ready for build, Area: tools, Platform: MIPS, Platform: ESP, Platform: RISC-V, Area: cpu, CI: skip compile test

#16846 dist/tools/doccheck: generate exclude_patterns using C.UTF-8
  dist/tools/doccheck/exclude_patterns
Labels: CI: ready for build, Area: tools, CI: skip compile test

#16854 cpu/cc26x0_cc13x0: fix build
  cpu/cc26x0_cc13x0/include/cc26x0_cc13x0_fcfg.h
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#16745 gnrc_netif_pktq: schedule immediately if timer us is equal to zero
  sys/net/gnrc/netif/pktq/gnrc_netif_pktq.c
Labels: Area: network, CI: ready for build, Area: sys

#16818 core/thread: add getters for thread_t
  core/include/thread.h
  sys/ps/ps.c
Labels: Area: core, Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#16463 core/sched: add runq_callback hook and runq inspection functions
  core/include/sched.h
  core/sched.c
  makefiles/pseudomodules.inc.mk
Labels: Area: core, Area: build system, Type: new feature, CI: ready for build, Process: needs >1 ACK

#16856 README.md: add graphical logo
  README.md
Labels: Area: doc, Type: cleanup, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#16857 makefiles/docker.inc.mk: pass PARTICLE_MONOFIRMWARE to docker env vars
  makefiles/docker.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#16858 CODEOWNERS: remove Robert Hartung
  CODEOWNERS
Labels: CI: ready for build, Area: CI, CI: skip compile test

#16862 pkg/nimble: fix `if(IS_ACTIVE(..) && CONSTANT)` with llvm
  pkg/nimble/autoadv/nimble_autoadv.c
Labels: Impact: minor, Area: pkg, CI: ready for build, Area: BLE

#16863 cpu/cc2538: don't pollute global namespace with cc2538_rfcore.h
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/include/cpu_conf.h
  cpu/cc2538/periph/hwrng.c
Labels: Platform: ARM, Type: cleanup, CI: ready for build, Area: cpu

#16838 pkg/nimble/netif: migrate to use errno return values
  pkg/nimble/autoconn/nimble_autoconn.c
  pkg/nimble/netif/include/nimble_netif.h
  pkg/nimble/netif/include/nimble_netif_conn.h
  pkg/nimble/netif/nimble_netif.c
  pkg/nimble/netif/nimble_netif_conn.c
  pkg/nimble/rpble/nimble_rpble.c
  sys/shell/commands/sc_nimble_netif.c
Labels: Type: enhancement, Impact: minor, Area: pkg, CI: ready for build, Area: BLE, Area: sys

#15981 doc/porting-boards.md: improve with porting graph and reference section
  doc/doxygen/dot/porting-boards.dot
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/porting-boards.md
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#15915 drivers/ina3221: style fixes and improvements
  drivers/ina3221/alerts.c
  drivers/ina3221/ina3221.c
  drivers/ina3221/ina3221_saul.c
  drivers/include/ina3221.h
  drivers/saul/init_devs/auto_init_ina3221.c
  tests/driver_ina3221/main.c
Labels: Type: enhancement, Process: API change, Area: drivers, CI: ready for build, Area: SAUL, Process: needs >1 ACK

#16847 boards/adafruit-clue: fix doxygen warnings
  boards/adafruit-clue/include/board.h
  boards/adafruit-clue/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
Labels: CI: ready for build, Area: tools, Area: boards, CI: skip compile test

#16825 drivers/lm75: fixed a typo in Kconfig
  drivers/lm75/Kconfig
  drivers/lm75/include/lm75_params.h
Labels: Area: drivers, CI: ready for build, Area: Kconfig

#16702 ut_process: initial import of a URI template processor
  sys/Makefile.dep
  sys/include/ut_process.h
  sys/ut_process/Makefile
  sys/ut_process/ut_process.c
  tests/unittests/tests-ut_process/Makefile
  tests/unittests/tests-ut_process/Makefile.include
  tests/unittests/tests-ut_process/tests-ut_process.c
  tests/unittests/tests-ut_process/tests-ut_process.h
Labels: Area: tests, Type: new feature, CI: ready for build, CI: run tests, Area: sys

#16867 dist/tools: use f-strings where possible
  dist/tools/backport_pr/backport_pr.py
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
  dist/tools/compile_and_test_for_board/tests/test_compile_and_test_for_board.py
Labels: Type: cleanup, CI: ready for build, Area: tools, CI: skip compile test

#15946 net/gnrc_lorawan: implement unconfirmed uplink redundancy
  sys/include/net/gnrc/lorawan.h
  sys/include/net/loramac.h
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan.c
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mcps.c
  sys/net/gnrc/link_layer/lorawan/include/gnrc_lorawan_internal.h
  sys/net/link_layer/Kconfig.lorawan
Labels: Area: network, Type: new feature, CI: ready for build, Area: LoRa, Area: sys

#16865 drivers/cc110x: use pseudo-modules for band selection
  boards/avsextrem/Makefile.dep
  boards/msba2/Makefile.dep
  boards/msbiot/Makefile.dep
  drivers/cc110x/Makefile.dep
  drivers/cc110x/include/cc110x_params.h
  makefiles/pseudomodules.inc.mk
Labels: Type: enhancement, Area: build system, Area: drivers, CI: ready for build, Area: boards

#16824 gnrc/netif: add gnrc_netif_ipv6_wait_for_global_address()
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/netif/gnrc_netif.c
  tests/gnrc_netif_ipv6_wait_for_global_address/Makefile
  tests/gnrc_netif_ipv6_wait_for_global_address/Makefile.ci
  tests/gnrc_netif_ipv6_wait_for_global_address/main.c
  tests/gnrc_netif_ipv6_wait_for_global_address/tests/01-run.py
Labels: Area: network, Area: tests, Discussion: RFC, CI: ready for build, Area: sys

#16859 nimble/addr|scanlist: fix nimble_addr_sprint() and use in nimble_scanlist_print()
  pkg/nimble/addr/nimble_addr.c
  pkg/nimble/scanlist/nimble_scanlist_print.c
Labels: Type: bug, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build, Area: BLE

#16839 nimble/scanner: migrate to errno return values
  pkg/nimble/scanner/include/nimble_scanner.h
  pkg/nimble/scanner/nimble_scanner.c
  sys/shell/commands/sc_nimble_netif.c
Labels: Type: enhancement, Impact: minor, Area: pkg, CI: ready for build, Area: BLE, Area: sys

#16869 ieee802154_submac doc: Make readable in doxygen builds
  sys/include/net/ieee802154/submac.h
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build

#16263 sys/credman: add key load functions
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/credman.h
  sys/net/credman/Kconfig
  sys/net/credman/credman.c
  tests/unittests/tests-credman/Makefile.include
  tests/unittests/tests-credman/tests-credman.c
Labels: Area: network, Area: tests, Area: build system, Type: new feature, CI: ready for build, Area: security, CI: run tests, Area: sys, Area: Kconfig

#16871 pkg/edhoc-c: ignore llvm flagged error
  pkg/edhoc-c/Makefile
Labels: Area: pkg, CI: ready for build

#16874 pkg/tinydtls: fix detection of Kconfig usage
  pkg/tinydtls/Makefile.include
Labels: Type: bug, Area: build system, Impact: minor, Area: pkg, CI: ready for build

#16876 riscv: Simplify reset trampoline
  cpu/riscv_common/start.S
Labels: Type: cleanup, CI: ready for build, Platform: RISC-V, Area: cpu

#16765 build system: add machine-readable RIOT_VERSION_CODE macro
  Makefile.include
  core/include/kernel_defines.h
  makefiles/docker.inc.mk
  tests/unittests/tests-kernel_defines/Makefile
  tests/unittests/tests-kernel_defines/tests-kernel_defines.c
  tests/unittests/tests-kernel_defines/tests-kernel_defines.h
Labels: Area: tests, Area: core, Area: build system, Type: new feature, CI: ready for build

#16877 cpu/riscv: add CPU_ARCH information
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.features
  cpu/gd32v/Kconfig
  cpu/gd32v/Makefile.features
  cpu/riscv_common/Kconfig
  cpu/riscv_common/Makefile.features
Labels: CI: ready for build, Platform: RISC-V, Area: cpu, Area: Kconfig

#16878 sys/auto_init: change gnrc ipv6 and tcp types.
  sys/auto_init/auto_init.c
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#16743 sock: tcp: fix sock_tcp_read() example
  sys/include/net/sock/tcp.h
Labels: Type: bug, Area: network, Area: doc, Impact: minor, CI: ready for build

#16882 tests/bench_msg_pingpong: add stdint.h include (for clang & stdatomic.h)
  tests/bench_msg_pingpong/main.c
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#16883 sys/riotboot: add missing "inttypes.h" include
  sys/riotboot/slot.c
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#16880 drivers/lpsxxx: add support for lps22hh
  drivers/Makefile.dep
  drivers/include/lpsxxx.h
  drivers/lpsxxx/Kconfig
  drivers/lpsxxx/include/lpsxxx_internal.h
  drivers/lpsxxx/include/lpsxxx_params.h
  drivers/lpsxxx/lpsxxx.c
  drivers/lpsxxx/lpsxxx_saul.c
  makefiles/pseudomodules.inc.mk
  tests/driver_lpsxxx/README.md
  tests/driver_lpsxxx/main.c
Labels: Area: doc, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: Kconfig

#16881 added APB12 bus multiplier entry for applicable cpus
  cpu/stm32/cpu_common.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#16884 build system: add VERBOSE_ASSERT flag
  Makefile.include
Labels: Type: enhancement, Area: build system, CI: ready for build

#16890 nimble/netif_conn: fix _conn_get_itvl_ms()
  pkg/nimble/netif/nimble_netif_conn.c
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Area: BLE

#16888 sys/event/thread: add STACKSTEST flag
  sys/event/thread.c
Labels: Impact: minor, CI: ready for build, Area: sys

#16885 cpu/stm32: added ADC for g0
  boards/nucleo-g070rb/Kconfig
  boards/nucleo-g070rb/Makefile.features
  boards/nucleo-g070rb/include/periph_conf.h
  boards/nucleo-g071rb/Kconfig
  boards/nucleo-g071rb/Makefile.features
  boards/nucleo-g071rb/include/periph_conf.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/adc_f0_g0.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#16894 makefiles/vars.inc.mk: Document DEVELHELP and VERBOSE_ASSERT
  makefiles/vars.inc.mk
Labels: Area: doc, Area: build system, Impact: minor, CI: ready for build, CI: skip compile test

#15030 drivers/sx127x: remove ZTIMER_USEC dependency
  cpu/fe310/include/periph_cpu.h
  drivers/sx127x/Kconfig
  drivers/sx127x/Makefile.dep
  drivers/sx127x/sx127x.c
  makefiles/features_modules.inc.mk
  sys/ztimer/Makefile.include
Labels: Area: build system, Area: drivers, CI: ready for build, Area: timers, Area: LoRa, Platform: RISC-V, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#16895 build system: add fallback for RIOT_VERSION_CODE
  Makefile.include
Labels: Type: bug, Area: build system, CI: ready for build

#16594 sys/random/fortuna: change interval ressed to ms
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/Makefile.dep
  sys/random/Kconfig
  sys/random/fortuna.c
  sys/random/fortuna/fortuna.c
  sys/random/fortuna/fortuna.h
  tests/bench_sys_atomic_utils/app.config.test
  tests/sys_atomic_utils/app.config.test
  tests/sys_atomic_utils_unittests/app.config.test
Labels: Type: enhancement, Area: tests, Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#16820 tests/gnrc_dhcpv6_client: kill potential previous Kea session
  tests/gnrc_dhcpv6_client/dhcpv6_server.sh
Labels: Type: enhancement, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, CI: skip compile test

#16886 cpu/stm32: added RAM_LEN identifier for stm32g03x
  cpu/stm32/stm32_mem_lengths.mk
Labels: Platform: ARM, Area: build system, CI: ready for build, Area: cpu

#16902 cpu/avr8_common: implement printf_float
  cpu/avr8_common/Makefile.include
Labels: Type: bug, Impact: minor, Platform: AVR, CI: ready for build

#16906 rtt_rtc: clarify documentation about epoch
  drivers/include/rtt_rtc.h
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build

#16750 gnrc/ipv6_auto_subnets: relax topology requirements
  doc/doxygen/src/gnrc_ipv6_auto_subnets-flow.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets-flow.svg
  doc/doxygen/src/gnrc_ipv6_auto_subnets.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets.svg
  doc/doxygen/src/gnrc_ipv6_auto_subnets_simple.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets_simple.svg
  examples/gnrc_networking_subnets/README.md
  makefiles/pseudomodules.inc.mk
  sys/auto_init/auto_init.c
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Area: network, Area: doc, Area: build system, Discussion: RFC, CI: ready for build, Area: sys

#16826 tests/ieee802154_submac: remove netdev dependency
  sys/Makefile.dep
  tests/ieee802154_submac/Makefile
  tests/ieee802154_submac/main.c
Labels: Area: tests, CI: ready for build, Area: sys

#16910 tinydtls: sock_dtls: only use ifindex with link-local addresses
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Type: bug, Area: network, Area: pkg, CI: ready for build, Area: security

#16917 cpu/avr8_common: Clean up cpu_print_last_inscrution()
  cpu/avr8_common/include/cpu.h
Labels: Impact: minor, Platform: AVR, Type: cleanup, CI: ready for build
