Repository RIOT-OS/RIOT, pull requests merged in 2021-02, with the labels that each got.

#15880 tests: increase timeout for nrf51dk
  tests/pkg_libcose/tests/01-run.py
  tests/pkg_wolfcrypt-ed25519-verify/tests/01-run.py
  tests/pkg_wolfssl/tests/01-run.py
  tests/suit_manifest/tests/01-run.py
Labels: Area: tests, CI: ready for build, Type: bug

#15895 stm32: Resolve RAM size to bytes
  cpu/stm32/Makefile.include
Labels: Area: build system, CI: ready for build, Type: enhancement

#15893 cpu/kinetis: enable floating point support
  cpu/kinetis/Kconfig
  cpu/kinetis/kinetis-info.mk
Labels: Area: cpu, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Type: enhancement

#15898 drivers/ina3221: Fix compatibility with C++
  drivers/ina3221/ina3221.c
  drivers/ina3221/ina3221_saul.c
  drivers/include/ina3221.h
  drivers/saul/init_devs/auto_init_ina3221.c
Labels: Area: drivers, CI: ready for build, Type: cleanup

#15897 riotboot/flashwrite: Remove last dependencies on flashpage size
  drivers/include/periph/flashpage.h
  drivers/periph_common/flashpage.c
  sys/riotboot/flashwrite.c
Labels: Area: OTA, CI: ready for build, Type: cleanup

#15899 cpu/stm32/gpio: fix EXTI flag clearing
  cpu/stm32/periph/gpio_all.c
Labels: Area: cpu, CI: ready for build, Process: needs backport, Type: bug

#15420 stm32f{2,4,7}: Initial flashpage support
  cpu/stm32/Makefile.features
  cpu/stm32/include/cpu_conf.h
  cpu/stm32/kconfigs/f2/Kconfig
  cpu/stm32/kconfigs/f4/Kconfig
  cpu/stm32/kconfigs/f7/Kconfig
  cpu/stm32/periph/flash_common.c
  cpu/stm32/periph/flashpage.c
  tests/periph_flashpage/main.c
  tests/unittests/tests-flashpage/tests-flashpage.c
Labels: Area: drivers, CI: ready for build, Type: enhancement

#15905 cpu/stm32/gpio: fix EXTI flag clearing [backport 2021.01]
  cpu/stm32/periph/gpio_all.c
Labels: Area: cpu, CI: ready for build, Process: release backport, Type: bug

#14560 cpu/mips_pic32_common: GPIO: use bitarithm_test_and_clear()
  cpu/mips32r2_common/include/cpu.h
  cpu/mips_pic32_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#15892 pkg/fatfs: bump version to r0.14a
  pkg/fatfs/Makefile
  pkg/fatfs/patches/0001-remove-ffconf.h.patch
  pkg/fatfs/patches/0002-remove-diskio.c.patch
  pkg/fatfs/vendor/include/ffconf.h
Labels: Area: pkg, CI: ready for build, Type: enhancement

#15887 boards/atmega: cleanup BOOTLOADER variables definitions
  boards/arduino-duemilanove/Makefile.include
  boards/arduino-leonardo/Makefile.include
  boards/arduino-mega2560/Makefile.include
  boards/arduino-nano/Makefile.include
  boards/arduino-nano/doc.txt
  boards/arduino-uno/Makefile.include
  boards/avr-rss2/Makefile.include
  boards/common/atmega/Makefile.include
  boards/derfmega128/Makefile.include
  boards/derfmega256/Makefile.include
  boards/mega-xplained/Makefile.include
  boards/waspmote-pro/Makefile.include
Labels: Area: boards, CI: ready for build, Type: cleanup

#15901 ztimer: add ztimer_rmutex_lock_timeout()
  sys/include/ztimer.h
  sys/ztimer/util.c
  tests/ztimer_rmutex_lock_timeout/Makefile
  tests/ztimer_rmutex_lock_timeout/Makefile.ci
  tests/ztimer_rmutex_lock_timeout/app.config.test
  tests/ztimer_rmutex_lock_timeout/main.c
  tests/ztimer_rmutex_lock_timeout/tests/01-run.py
Labels: Area: timers, CI: ready for build

#15910 sys/arduino: Bug and style fixes in SPI
  sys/arduino/SPI.cpp
Labels: Area: arduino API, CI: ready for build, Impact: minor, Type: bug

#15865 cpu: make pm_layered a DEFAULT_MODULE
  Makefile.dep
  boards/common/e104-bt50xxa-tb/Makefile.dep
  bootloaders/riotboot/Makefile
  cpu/cc2538/Makefile.default
  cpu/cc2538/Makefile.dep
  cpu/efm32/Makefile.default
  cpu/efm32/Makefile.dep
  cpu/esp32/Makefile.default
  cpu/esp32/Makefile.dep
  cpu/kinetis/Makefile.default
  cpu/kinetis/Makefile.dep
  cpu/lpc1768/Makefile.default
  cpu/lpc1768/Makefile.dep
  cpu/lpc23xx/Makefile.default
  cpu/lpc23xx/Makefile.dep
  cpu/sam0_common/Makefile.default
  cpu/sam0_common/Makefile.dep
  cpu/samd21/Makefile.default
  cpu/samd5x/Makefile.default
  cpu/saml1x/Makefile.default
  cpu/saml21/Makefile.default
  cpu/stm32/Makefile.default
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/pm.c
  sys/Makefile.dep
  sys/include/pm_layered.h
Labels: Area: pm, CI: ready for build, Type: enhancement

#15914 cpu/stm32/flashpage: reset PER after erase
  cpu/stm32/periph/flashpage.c
Labels: Area: tests, CI: ready for build, Type: bug

#15919 pkg/nimble/netif: improve _send_pkt() error return value
  pkg/nimble/netif/nimble_netif.c
Labels: Area: BLE, CI: ready for build, Type: enhancement

#15918 sys/shell: document configs and add them to Kconfig
  sys/include/shell.h
  sys/shell/Kconfig
  sys/shell/shell.c
  tests/gnrc_tcp/Makefile
  tests/test_tools/Makefile
  tests/test_tools/main.c
Labels: Area: Kconfig, Area: sys, CI: ready for build, CI: run tests, Type: enhancement

#15913 release-notes.txt: add 2021.01 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Community: help wanted, Process: needs backport, Process: release cycle, Type: enhancement

#15923 release-notes.txt: add 2021.01 release notes [backport 2021.01]
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Community: help wanted, Process: release backport, Process: release cycle, Type: enhancement

#15924 sys/shell: rename Kconfig symbol to adhere to convention
  sys/include/shell.h
  sys/shell/Kconfig
  tests/gnrc_tcp/Makefile
  tests/test_tools/Makefile
Labels: Area: Kconfig, CI: ready for build, CI: run tests, Impact: minor, Type: bug

#15925 VERSION: add 2021.01 version file
  VERSION
Labels: CI: ready for build, CI: skip compile test, Process: release cycle

#15921 pkg/nimble/autoconn: add missing 'random' dep
  pkg/nimble/Makefile.dep
Labels: Area: BLE, Area: build system, CI: ready for build

#15930 uri_parser: check if uri is long enough to even contain a ://
  sys/uri_parser/uri_parser.c
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#15929 uri_parser: fix out-of-bounds and additional enhancements
  sys/uri_parser/uri_parser.c
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: sys, CI: ready for build, Type: bug

#15909 net/ieee802154_security: remove radio hal dependency and cleanup
  sys/include/net/ieee802154/radio.h
  sys/include/net/ieee802154_security.h
  sys/net/link_layer/ieee802154/security.c
Labels: Area: network, Area: security, CI: ready for build, Type: cleanup

#15934 pkg/wakaama: add patch to cast macro to time_t
  pkg/wakaama/patches/0021-core-registration-cast-to-time.patch
Labels: Area: pkg, CI: ready for build, Type: bug

#15718 riscv_common: Refactor common fe310 code to riscv_common
  boards/hifive1b/include/periph_conf.h
  cpu/fe310/Kconfig
  cpu/fe310/Makefile
  cpu/fe310/Makefile.dep
  cpu/fe310/Makefile.features
  cpu/fe310/Makefile.include
  cpu/fe310/clock.c
  cpu/fe310/cpu.c
  cpu/fe310/doc.txt
  cpu/fe310/include/clk_conf.h
  cpu/fe310/include/cpu.h
  cpu/fe310/include/cpu_conf.h
  cpu/fe310/include/periph_cpu.h
  cpu/fe310/periph/cpucycle.c
  cpu/fe310/periph/cpuid.c
  cpu/fe310/periph/gpio.c
  cpu/fe310/periph/rtt.c
  cpu/fe310/periph/uart.c
  cpu/fe310/vendor/prci_driver.c
  cpu/riscv_common/Kconfig
  cpu/riscv_common/Makefile
  cpu/riscv_common/Makefile.dep
  cpu/riscv_common/Makefile.features
  cpu/riscv_common/Makefile.include
  cpu/riscv_common/context_frame.c
  cpu/riscv_common/include/architecture_arch.h
  cpu/riscv_common/include/atomic_utils_arch.h
  cpu/riscv_common/include/c11_atomics_compat_cpu.hpp
  cpu/riscv_common/include/context_frame.h
  cpu/riscv_common/include/cpu.h
  cpu/riscv_common/include/cpu_conf_common.h
  cpu/riscv_common/include/cpucycle.h
  cpu/riscv_common/include/irq_arch.h
  cpu/riscv_common/include/periph_cpu_common.h
  cpu/riscv_common/include/plic.h
  cpu/riscv_common/include/thread_arch.h
  cpu/riscv_common/include/vendor/clint.h
  cpu/riscv_common/include/vendor/plic.h
  cpu/riscv_common/include/vendor/riscv_csr.h
  cpu/riscv_common/irq_arch.c
  cpu/riscv_common/ldscripts/riscv.ld
  cpu/riscv_common/ldscripts/riscv_base.ld
  cpu/riscv_common/ldscripts/riscv_vars.ld
  cpu/riscv_common/panic.c
  cpu/riscv_common/periph/Makefile
  cpu/riscv_common/periph/coretimer.c
  cpu/riscv_common/periph/plic.c
  cpu/riscv_common/riscv_init.c
  cpu/riscv_common/start.S
  cpu/riscv_common/thread_arch.c
  dist/tools/uncrustify/whitelist.txt
  kconfigs/Kconfig.features
  makefiles/arch/riscv.inc.mk
Labels: CI: ready for build, Platform: RISC-V, Type: cleanup

#15942 riscv_common: make thread_yield_higher IRQ compatible
  cpu/riscv_common/include/thread_arch.h
Labels: CI: ready for build, Platform: RISC-V, Process: needs backport, Type: bug

#15694 sys/net/gnrc/tx_sync: new module
  sys/Makefile.dep
  sys/include/net/gnrc/nettype.h
  sys/include/net/gnrc/tx_sync.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
  sys/net/gnrc/pktbuf/gnrc_pktbuf.c
  sys/net/gnrc/sock/gnrc_sock.c
  sys/net/gnrc/tx_sync/Makefile
  sys/net/gnrc/tx_sync/gnrc_tx_sync.c
  tests/gnrc_tx_sync/Makefile
  tests/gnrc_tx_sync/Makefile.ci
  tests/gnrc_tx_sync/main.c
  tests/gnrc_tx_sync/tests/01-run.py
Labels: Area: network, CI: ready for build, CI: run tests, Type: new feature

#15912 sys/riotboot/flashwrite: when invalidating erase checksum as well
  cpu/stm32/include/cpu_conf.h
  drivers/include/periph/flashpage.h
  sys/riotboot/flashwrite.c
Labels: Area: OTA, CI: ready for build, Type: bug

#15797 tests/cpp11_condition_variable: reduce thread number
  tests/cpp11_condition_variable/Makefile
  tests/cpp11_condition_variable/main.cpp
Labels: Area: tests, CI: ready for build

#15935 cpu/native: add periph/flashpage implementation
  cpu/native/Kconfig
  cpu/native/Makefile.features
  cpu/native/include/cpu.h
  cpu/native/include/cpu_conf.h
  cpu/native/periph/flashpage.c
Labels: Area: cpu, CI: ready for build, Platform: native, Type: new feature

#14448 net/netstats: L1/L2 per neighbor statistics
  cpu/nrf5x_common/radio/nrfmin/Makefile
  makefiles/pseudomodules.inc.mk
  sys/Makefile
  sys/Makefile.dep
  sys/include/net/l2util.h
  sys/include/net/netif.h
  sys/include/net/netstats.h
  sys/include/net/netstats/neighbor.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/netstats/Makefile
  sys/net/netstats/netstats_neighbor.c
  sys/shell/commands/Makefile
  sys/shell/commands/sc_netstats_nb.c
  sys/shell/commands/shell_commands.c
  tests/netstats_neighbor/Makefile
  tests/netstats_neighbor/Makefile.ci
  tests/netstats_neighbor/main.c
Labels: Area: network, CI: ready for build, Type: new feature

#15957 build system: fix FEATURES_REQUIRED_ANY
  makefiles/features_check.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Process: needs backport, Type: bug

#15884 boards: add zigduino
  boards/zigduino/Kconfig
  boards/zigduino/Makefile
  boards/zigduino/Makefile.dep
  boards/zigduino/Makefile.features
  boards/zigduino/Makefile.include
  boards/zigduino/doc.txt
  boards/zigduino/include/adc_params.h
  boards/zigduino/include/board.h
  boards/zigduino/include/gpio_params.h
  boards/zigduino/include/periph_conf.h
  dist/testbed-support/makefile.iotlab.single.inc.mk
  examples/asymcute_mqttsn/Makefile.ci
  examples/cord_ep/Makefile.ci
  examples/cord_epsim/Makefile.ci
  examples/cord_lc/Makefile.ci
  examples/default/Makefile
  examples/emcute_mqttsn/Makefile.ci
  examples/gcoap/Makefile.ci
  examples/gnrc_border_router/Makefile.ci
  examples/gnrc_networking/Makefile.ci
  examples/nanocoap_server/Makefile.ci
  examples/ndn-ping/Makefile.ci
  examples/posix_sockets/Makefile.ci
  tests/disp_dev/Makefile.ci
  tests/driver_adt7310/Makefile.ci
  tests/driver_at86rf215/Makefile.ci
  tests/driver_cc110x/Makefile.ci
  tests/driver_enc28j60/Makefile.ci
  tests/driver_nrf24l01p_ng/Makefile.ci
  tests/emcute/Makefile.ci
  tests/gnrc_dhcpv6_client/Makefile.ci
  tests/gnrc_dhcpv6_client_6lbr/Makefile.ci
  tests/gnrc_ipv6_ext/Makefile.ci
  tests/gnrc_ipv6_ext_frag/Makefile.ci
  tests/gnrc_ipv6_ext_opt/Makefile.ci
  tests/gnrc_ipv6_nib_dns/Makefile.ci
  tests/gnrc_netif/Makefile.ci
  tests/gnrc_rpl_srh/Makefile.ci
  tests/gnrc_sixlowpan_frag_minfwd/Makefile.ci
  tests/gnrc_sixlowpan_frag_sfr/Makefile.ci
  tests/gnrc_sock_dns/Makefile.ci
  tests/gnrc_tcp/Makefile.ci
  tests/gnrc_udp/Makefile.ci
  tests/nanocoap_cli/Makefile.ci
  tests/pkg_cryptoauthlib_internal-tests/Makefile.ci
  tests/pkg_emlearn/Makefile.ci
  tests/pkg_libb2/Makefile.ci
  tests/pkg_microcoap/Makefile.ci
  tests/pkg_tweetnacl/Makefile.ci
  tests/pthread_cooperation/Makefile.ci
  tests/sntp/Makefile.ci
  tests/sock_udp_aux/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#15962 pyterm: read space after prompt into prompt
  dist/tools/pyterm/pyterm
  tests/shell/main.c
Labels: Area: tools, CI: ready for build, CI: run tests, Type: bug

#15964 tests/driver_hih6130: fix 'absolute-value' error
  tests/driver_hih6130/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: bug

#15956 sys/riotboot: uncrustify
  dist/tools/uncrustify/whitelist.txt
  sys/include/riotboot/flashwrite.h
  sys/include/riotboot/slot.h
  sys/riotboot/flashwrite.c
  sys/riotboot/flashwrite_verify_sha256.c
  sys/riotboot/hdr.c
  sys/riotboot/slot.c
  sys/riotboot/usb_dfu.c
Labels: Area: OTA, CI: ready for build, Type: cleanup

#15948 boards: add cc1350 launchpad
  boards/cc1350-launchpad/Kconfig
  boards/cc1350-launchpad/Makefile
  boards/cc1350-launchpad/Makefile.dep
  boards/cc1350-launchpad/Makefile.features
  boards/cc1350-launchpad/Makefile.include
  boards/cc1350-launchpad/board.c
  boards/cc1350-launchpad/dist/cc13x0f128_XDS110.ccxml
  boards/cc1350-launchpad/dist/cc13x0f128_XDS110.dat
  boards/cc1350-launchpad/dist/cc13x0f128_gdb.conf
  boards/cc1350-launchpad/dist/openocd.cfg
  boards/cc1350-launchpad/doc.txt
  boards/cc1350-launchpad/include/board.h
  boards/cc1350-launchpad/include/gpio_params.h
  boards/cc1350-launchpad/include/periph_conf.h
  cpu/cc26xx_cc13xx/include/periph_cpu_common.h
  examples/dtls-sock/Makefile.ci
  examples/gnrc_border_router/Makefile.ci
  examples/javascript/Makefile.ci
  examples/lua_REPL/Makefile.ci
  examples/lua_basic/Makefile.ci
  tests/bench_xtimer/Makefile
  tests/gnrc_dhcpv6_client_6lbr/Makefile.ci
  tests/gnrc_netif/Makefile.ci
  tests/pkg_tinydtls_sock_async/Makefile.ci
  tests/pkg_utensor/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: boards, CI: ready for build, Type: new feature

#15974 build system: fix feature resolution
  makefiles/features_check.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#15838 pkg/openwsn/sock: fix sock_udp_close handling
  pkg/openwsn/sock/openwsn_sock_udp.c
  tests/pkg_openwsn_sock_udp/main.c
Labels: Area: network, Area: pkg, CI: ready for build, CI: run tests, Type: bug

#15939 sys/net/dhcpv6: Fixes for MUD URL option
  sys/net/application_layer/dhcpv6/Kconfig
  sys/net/application_layer/dhcpv6/_dhcpv6.h
  sys/net/application_layer/dhcpv6/client.c
  tests/gnrc_dhcpv6_client/README.md
  tests/gnrc_dhcpv6_client_6lbr/README.md
  tests/gnrc_dhcpv6_client_6lbr/tests-as-root/01-run.py
Labels: Area: network, CI: ready for build, Type: bug

#15945 clif: After incrementing pos, make sure it is still in bounds
  sys/clif/clif.c
  tests/unittests/tests-clif/tests-clif.c
Labels: Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#15963 tests/driver_bq2429x: fix implicit conversion in helper function
  tests/driver_bq2429x/_util.h
Labels: Area: tests, CI: ready for build, Impact: minor, Type: bug

#15975 sys/ztimer: clearify doc on clock ops
  sys/include/ztimer.h
Labels: Area: doc, Area: timers, CI: ready for build, Impact: minor, Type: enhancement

#15979 sys/fmt: Add print_s64_dec to header
  sys/include/fmt.h
  tests/fmt_print/main.c
  tests/fmt_print/tests/01-run.py
  tests/periph_ptp_clock/main.c
Labels: Area: sys, Area: tests, CI: ready for build, Type: enhancement

#15982 cpu/nrf52: add VDDHDIV5 as ADC input
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf52/periph/adc.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#15977 drivers/periph_ptp: fix clock adjustment API
  cpu/stm32/periph/ptp.c
  drivers/include/periph/ptp.h
  tests/periph_ptp_clock/main.c
Labels: Area: drivers, CI: ready for build, Process: API change, Process: needs >1 ACK, Type: enhancement

#15986 build system: support wrong target triples with LLVM
  makefiles/toolchain/llvm.inc.mk
Labels: Area: build system, CI: ready for build, Type: enhancement

#15988 cpu/fe310: set back newlib as default libc
  cpu/fe310/Makefile.dep
Labels: Area: build system, CI: ready for build, Platform: RISC-V

#15961 fe310: make thread_yield_higher IRQ compatible [backport 2021.01]
  cpu/fe310/thread_arch.c
Labels: CI: ready for build, Platform: RISC-V, Process: release backport, Type: bug

#15973 tests/feature_resolution: add build system unit tests
  dist/tools/ci/static_tests.sh
  dist/tools/feature_resolution/check.sh
  makefiles/features_check.inc.mk
  makefiles/tests/feature_resolution/Makefile
  makefiles/tests/feature_resolution/Makefile.test
  makefiles/tests/feature_resolution/README.md
  makefiles/tests/feature_resolution/test-blacklist-failure.mk
  makefiles/tests/feature_resolution/test-blacklist-optional.mk
  makefiles/tests/feature_resolution/test-blacklist-success.mk
  makefiles/tests/feature_resolution/test-complex-failure.mk
  makefiles/tests/feature_resolution/test-complex-success.mk
  makefiles/tests/feature_resolution/test-conflict-failure.mk
  makefiles/tests/feature_resolution/test-conflict-success.mk
  makefiles/tests/feature_resolution/test-empty.mk
  makefiles/tests/feature_resolution/test-required-any-corner-case.mk
  makefiles/tests/feature_resolution/test-required-any-fail.mk
  makefiles/tests/feature_resolution/test-required-any-order.mk
  makefiles/tests/feature_resolution/test-required-any-reuse-optional.mk
  makefiles/tests/feature_resolution/test-required-any-reuse-required.mk
  makefiles/tests/feature_resolution/test-trivial-failure.mk
  makefiles/tests/feature_resolution/test-trivial-success.mk
Labels: Area: build system, Area: tests, CI: ready for build, Type: bug

#15997 boards/serpente: add SAUL PWM integration
  boards/serpente/Makefile.dep
  boards/serpente/include/gpio_params.h
  boards/serpente/include/pwm_params.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#15976 boards/[cc13x0, cc26x0]: move programmer config to common folder
  boards/cc1312-launchpad/Makefile.include
  boards/cc1350-launchpad/Makefile.include
  boards/cc1352-launchpad/Makefile.include
  boards/cc1352p-launchpad/Makefile.include
  boards/cc2650-launchpad/Makefile.include
  boards/cc2650stk/Makefile.include
  boards/cc2650stk/dist/cc26x0f128_XDS100v3.ccxml
  boards/cc2650stk/dist/cc26x0f128_XDS100v3.dat
  boards/cc2650stk/dist/cc26x0f128_XDS110.ccxml
  boards/cc2650stk/dist/cc26x0f128_XDS110.dat
  boards/cc2650stk/dist/cc26x0f128_gdb.conf
  boards/common/cc26x2_cc13x2/Makefile.include
  boards/common/cc26xx_cc13xx/Makefile.include
  boards/common/cc26xx_cc13xx/dist/cc1312r1f3_XDS110.ccxml
  boards/common/cc26xx_cc13xx/dist/cc1312r1f3_XDS110.dat
  boards/common/cc26xx_cc13xx/dist/cc1312r1f3_gdb.conf
  boards/common/cc26xx_cc13xx/dist/cc1352p1_XDS110.ccxml
  boards/common/cc26xx_cc13xx/dist/cc1352p1_XDS110.dat
  boards/common/cc26xx_cc13xx/dist/cc1352p1_gdb.conf
  boards/common/cc26xx_cc13xx/dist/cc1352r1_XDS110.ccxml
  boards/common/cc26xx_cc13xx/dist/cc1352r1_XDS110.dat
  boards/common/cc26xx_cc13xx/dist/cc1352r1_gdb.conf
  boards/common/cc26xx_cc13xx/dist/cc13x0f128_XDS110.ccxml
  boards/common/cc26xx_cc13xx/dist/cc13x0f128_XDS110.dat
  boards/common/cc26xx_cc13xx/dist/cc13x0f128_gdb.conf
  boards/common/cc26xx_cc13xx/dist/cc26x0f128_XDS100v3.ccxml
  boards/common/cc26xx_cc13xx/dist/cc26x0f128_XDS100v3.dat
  boards/common/cc26xx_cc13xx/dist/cc26x0f128_XDS110.ccxml
  boards/common/cc26xx_cc13xx/dist/cc26x0f128_XDS110.dat
  boards/common/cc26xx_cc13xx/dist/cc26x0f128_gdb.conf
  boards/common/cc26xx_cc13xx/dist/openocd.cfg
Labels: Area: boards, CI: ready for build, Type: cleanup

#16001 lwip/esp: Support adding both netifs (eth+wifi)
  pkg/lwip/contrib/lwip.c
Labels: Area: network, CI: ready for build, Type: enhancement

#15176 fe310: Support compilation with clang
  cpu/riscv_common/Makefile.include
  cpu/riscv_common/irq_arch.c
  makefiles/arch/riscv.inc.mk
Labels: Area: toolchain, CI: ready for build, Platform: RISC-V, Type: enhancement

#15991 cpu/nrf5x: enable DC/DC also for REG0 if VDDH is used
  cpu/nrf5x_common/include/nrfx.h
Labels: Area: cpu, CI: ready for build, Type: enhancement

#15955 boards: add support for microbit v2
  boards/common/nrf52/Makefile.dep
  boards/common/nrf52/include/cfg_clock_32_0.h
  boards/microbit-v2/Kconfig
  boards/microbit-v2/Makefile
  boards/microbit-v2/Makefile.dep
  boards/microbit-v2/Makefile.features
  boards/microbit-v2/Makefile.include
  boards/microbit-v2/board.c
  boards/microbit-v2/doc.txt
  boards/microbit-v2/include/board.h
  boards/microbit-v2/include/gpio_params.h
  boards/microbit-v2/include/microbit.h
  boards/microbit-v2/include/periph_conf.h
  boards/microbit-v2/microbit/Makefile
  boards/microbit-v2/microbit/microbit.c
  cpu/nrf52/Makefile.features
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/gpio.c
  cpu/nrf5x_common/periph/uart.c
  examples/default/Makefile
  tests/board_microbit/Makefile
Labels: Area: boards, CI: ready for build

#15990 boards/nrf52840dongle: enable DCDC converters
  boards/nrf52840dongle/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#16004 cpu/nrf5x: only enable DCDC for REG0 if REG0 exists
  cpu/nrf5x_common/include/nrfx.h
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#15394 b/c/particle-mesh: Switch default stdio to USB
  boards/common/particle-mesh/Kconfig
  boards/common/particle-mesh/Makefile.dep
  boards/common/particle-mesh/Makefile.features
  boards/common/particle-mesh/Makefile.include
  boards/common/particle-mesh/doc.txt
Labels: Area: boards, CI: ready for build, Type: enhancement

#16006 core/mutex: Check against mutex use outside of threads
  core/mutex.c
  doc/doxygen/src/porting-boards.md
Labels: Area: core, CI: ready for build, Process: needs >1 ACK, Type: enhancement

#14738 CODING_CONVENTIONS.md: default to C11
  CODING_CONVENTIONS.md
  boards/native/Makefile.include
  makefiles/cflags.inc.mk
  pkg/relic/Makefile
Labels: Area: toolchain, CI: ready for build, Process: needs >1 ACK, Type: enhancement

#15947 clif: Don't access any data if input is empty
  sys/clif/clif.c
  tests/unittests/tests-clif/tests-clif.c
Labels: Area: sys, CI: ready for build, Type: bug

#15984 sys/posix_sleep: Add Kconfig support
  .murdock
  sys/Kconfig
  sys/posix/Kconfig
  sys/posix/sleep/Kconfig
  tests/posix_sleep/app.config.test
Labels: Area: Kconfig, Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#16016 remove unused parameter spi3w_en to solve issue #15954
  drivers/include/bmx280.h
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#16015 boards/[cc2650, cc1312]-launchpad: add saul_gpio definitions
  boards/cc1312-launchpad/Makefile.dep
  boards/cc1312-launchpad/include/gpio_params.h
  boards/cc2650-launchpad/Makefile.dep
  boards/cc2650-launchpad/include/gpio_params.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#15971 make/emulate: fix bugs when using flash target
  makefiles/tools/cc2538-bsl.inc.mk
  makefiles/tools/jlink.inc.mk
Labels: Area: build system, CI: ready for build, Type: bug

#15966 make: silence a couple of warnings raised with gcc 10 on riscv
  pkg/cn-cbor/Makefile
  tests/ssp/Makefile
Labels: Area: build system, Area: tests, CI: ready for build, Platform: RISC-V

#16019 gnrc_pktbuf: always use _free function with gnrc_pktbuf_malloc
  sys/net/gnrc/pktbuf/include/pktbuf_internal.h
  sys/net/gnrc/pktbuf_malloc/gnrc_pktbuf_malloc.c
Labels: Area: network, CI: ready for build, CI: run tests, Type: bug

#16017 riotboot_dfu: Use allocated USB IDs
  bootloaders/riotboot_dfu/Makefile
Labels: Area: USB, CI: ready for build, Impact: minor, Type: enhancement

#16005 cpu/nrf5x_common: make GPIO_PIN macro model independent
  cpu/nrf51/include/cpu_conf.h
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/gpio.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: cleanup

#16029 drivers/nrf24l01p_ng: auto retransmission delay conversion bugfix
  drivers/nrf24l01p_ng/include/nrf24l01p_ng_types.h
Labels: Area: drivers, CI: ready for build, Type: bug

#16035 boards/yarm: add Highlevel STDIO feature
  boards/yarm/Kconfig
  boards/yarm/Makefile.features
Labels: Area: boards, CI: ready for build, Impact: minor, Type: bug

#15900 cpu/stm32: GPIO/f1: use bitarithm_test_and_clear()
  cpu/stm32/periph/gpio_f1.c
Labels: Area: cpu, CI: ready for build, Type: enhancement

#16000 net/ieee802154/radio: use bitflags for capabilities
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  sys/include/net/ieee802154/radio.h
Labels: Area: network, CI: ready for build, Type: enhancement

#16042 pkg/wakaama: fix compilation with 6lowpan-clicker
  pkg/wakaama/include/lwm2m_client.h
Labels: Area: pkg, CI: ready for build, Type: bug

#16021 boards/microbit*: deduplicate led matrix module
  boards/common/microbit/Makefile
  boards/common/microbit/include/microbit.h
  boards/common/microbit/microbit.c
  boards/microbit-v2/Makefile
  boards/microbit-v2/Makefile.include
  boards/microbit-v2/microbit/microbit.c
  boards/microbit/Makefile
  boards/microbit/Makefile.include
  boards/microbit/include/microbit.h
  boards/microbit/microbit/Makefile
Labels: Area: boards, CI: ready for build, Type: cleanup

#15002 core: introduce crossfile arrays (xfa) v3
  Makefile.include
  boards/native/Makefile.include
  core/include/xfa.h
  cpu/atmega_common/ldscripts/xfa.ld
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/esp32/ld/esp32.common.ld
  cpu/esp8266/Makefile.include
  cpu/esp8266/ld/esp8266.riot-os.ld
  cpu/lpc23xx/ldscripts/lpc23xx.ld
  cpu/mips_pic32_common/Makefile.include
  cpu/mips_pic32_common/ldscripts/xfa.ld
  cpu/msp430_common/ldscripts/xfa.ld
  cpu/native/ldscripts/xfa.ld
  cpu/riscv_common/ldscripts/riscv_base.ld
  makefiles/arch/atmega.inc.mk
  makefiles/arch/mips.inc.mk
  makefiles/arch/msp430.inc.mk
  tests/unittests/tests-core/tests-core-xfa-data1.c
  tests/unittests/tests-core/tests-core-xfa-data2.c
  tests/unittests/tests-core/tests-core-xfa.c
  tests/unittests/tests-core/tests-core-xfa.h
  tests/unittests/tests-core/tests-core.c
  tests/unittests/tests-core/tests-core.h
  tests/xfa/Makefile
  tests/xfa/main.c
  tests/xfa/tests/01-run.py
  tests/xfa/xfatest.h
  tests/xfa/xfatest1.c
  tests/xfa/xfatest2.c
Labels: Area: core, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#16038 drivers/at86rf2xx: add missing handler for TRX24_RX_START interrupt
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, CI: ready for build, Type: bug

#16045 bootloader/dfu: fix USEMODULE=
  bootloaders/riotboot_dfu/Makefile
Labels: Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Type: bug

#16039 drivers/at86rfr2xx: usage of module at86rf2xx_aes_spi fixed
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: bug

#16041 cpu/cc26xx_cc13xx: add CPU documentation
  boards/cc1312-launchpad/doc.txt
  boards/cc1350-launchpad/doc.txt
  boards/cc1352-launchpad/doc.txt
  boards/cc1352p-launchpad/doc.txt
  boards/cc2650-launchpad/doc.txt
  cpu/cc26xx_cc13xx/doc.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#16025 doc: Make bootloaders visible in modules
  bootloaders/doc.txt
  bootloaders/riotboot/doc.txt
  bootloaders/riotboot/main.c
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build, CI: skip compile test, Type: enhancement

#16048 rpl: strengthen length checks for DAO and DAO-ACK
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
Labels: Area: network, CI: ready for build, CI: run tests, Type: bug

#16044 sys/riotboot/flashwrite.c: add message to static assert
  sys/riotboot/flashwrite.c
Labels: Area: OTA, CI: ready for build, Type: bug

#16046 boards/native: set FLASHER as empty
  boards/native/Makefile.include
Labels: Area: build system, CI: ready for build, Platform: native, Type: cleanup

#16047 makefiles/boot: use same PROGRAMMER to flash riotboot
  makefiles/boot/riotboot.mk
Labels: Area: OTA, Area: build system, CI: ready for build, Type: bug

#16051 tests/gnrc_ndp: don't guess size of `gnrc_pktsnip_t` in `pktbuf`
  sys/Makefile.include
  sys/net/gnrc/pktbuf_static/Makefile.include
  sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c
  sys/net/gnrc/pktbuf_static/include/pktbuf_static.h
  tests/gnrc_ndp/Makefile
  tests/gnrc_ndp/main.c
Labels: Area: tests, CI: ready for build, CI: run tests, Type: bug

#16037 shell/Kconfig: make config options usable with dependency resolution
  .murdock
  sys/shell/Kconfig
  sys/shell/Kconfig.config
  tests/test_tools/app.config.test
Labels: Area: Kconfig, Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#15246 examples: add I2C scanner
  sys/shell/commands/Kconfig
  tests/periph_i2c/Makefile
  tests/periph_i2c/Makefile.ci
  tests/periph_i2c/app.config.test
Labels: Area: examples, CI: ready for build, Type: new feature

#15989 cpu/nrf5x: enhance enabling of internal DC/DC converter
  boards/acd52832/include/periph_conf.h
  boards/common/nrf52xxxdk/Kconfig
  boards/common/nrf52xxxdk/Makefile.features
  boards/common/nrf52xxxdk/include/periph_conf_common.h
  boards/common/particle-mesh/Kconfig
  boards/common/particle-mesh/Makefile.features
  boards/dwm1001/Kconfig
  boards/dwm1001/Makefile.features
  boards/dwm1001/include/periph_conf.h
  boards/microbit-v2/Kconfig
  boards/microbit-v2/Makefile.features
  boards/microbit-v2/include/periph_conf.h
  boards/nrf51dk/Kconfig
  boards/nrf51dk/Makefile.features
  boards/nrf51dk/include/periph_conf.h
  boards/nrf52832-mdk/Kconfig
  boards/nrf52832-mdk/Makefile.features
  boards/nrf52832-mdk/include/periph_conf.h
  boards/nrf52840-mdk/Kconfig
  boards/nrf52840-mdk/Makefile.features
  boards/nrf52840-mdk/include/periph_conf.h
  boards/nrf52840dk/Kconfig
  boards/nrf52840dk/Makefile.features
  boards/nrf52840dongle/Kconfig
  boards/nrf52840dongle/Makefile.features
  boards/nrf52840dongle/include/periph_conf.h
  boards/particle-argon/include/periph_conf.h
  boards/particle-boron/include/periph_conf.h
  boards/particle-xenon/include/periph_conf.h
  boards/pinetime/Kconfig
  boards/pinetime/Makefile.features
  boards/pinetime/include/periph_conf.h
  boards/reel/Kconfig
  boards/reel/Makefile.features
  boards/reel/include/periph_conf.h
  boards/ruuvitag/Kconfig
  boards/ruuvitag/Makefile.features
  boards/ruuvitag/include/periph_conf.h
  boards/thingy52/Kconfig
  boards/thingy52/Makefile.features
  boards/thingy52/include/periph_conf.h
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.dep
  cpu/nrf5x_common/include/nrfx.h
  makefiles/features_modules.inc.mk
  makefiles/pseudomodules.inc.mk
Labels: Area: cpu, CI: ready for build, Type: enhancement

#16057 examples/gnrc_networking_mac: whitelist ATmega256RFR2 based boards
  examples/gnrc_networking_mac/Makefile
Labels: Area: examples, CI: ready for build, Type: enhancement

#15562 socket_zep: register with netdev, provide EUI-64 as command line parameter
  boards/native/include/eui_provider_params.h
  cpu/native/Makefile
  cpu/native/Makefile.dep
  cpu/native/cli_eui_provider/Makefile
  cpu/native/cli_eui_provider/eui_provider.c
  cpu/native/include/native_cli_eui_provider.h
  cpu/native/include/native_internal.h
  cpu/native/include/socket_zep.h
  cpu/native/socket_zep/socket_zep.c
  cpu/native/startup.c
  drivers/include/net/netdev.h
  pkg/lwip/contrib/lwip.c
  sys/net/gnrc/netif/init_devs/auto_init_socket_zep.c
  tests/socket_zep/main.c
Labels: Area: network, CI: ready for build, Platform: native, Type: enhancement

#16050 tools/edbg: add and use wrapper shell script
  dist/tools/edbg/edbg.sh
  makefiles/tools/edbg.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Type: cleanup

#15985 pkg/umorse: Add Kconfig support
  .murdock
  pkg/Kconfig
  pkg/umorse/Kconfig
  tests/pkg_umorse/Makefile
  tests/pkg_umorse/app.config.test
  tests/pkg_umorse/main.c
Labels: Area: Kconfig, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#16058 tools/compile_and_test_for_board: fix lint
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
Labels: Area: CI, Area: tools, CI: ready for build, CI: skip compile test, Type: bug

#15987 drivers/mtd_spi_nor: fix poll on init
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: bug

#16034 makefiles/tests: add unit test for info-boards-supported
  dist/tools/boards_supported/check.sh
  dist/tools/ci/static_tests.sh
  makefiles/tests/boards_supported/Makefile
  makefiles/tests/boards_supported/README.md
Labels: Area: build system, CI: ready for build, Type: new feature

#16059 make/esptool: fix FFLAGS inclusion order for qemu
  cpu/esp32/Makefile.include
  makefiles/tools/esptool.inc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Platform: ESP, Type: cleanup

#16063 USB CDC: fix typo in definitions
  sys/include/usb/cdc.h
  sys/usb/usbus/cdc/acm/cdc_acm.c
Labels: Area: USB, CI: ready for build, Type: cleanup

#15972 boards/samd21-arduino-bootloader: rename to samdx1-arduino-bootloader
  boards/adafruit-itsybitsy-m4/Makefile
  boards/adafruit-itsybitsy-m4/Makefile.dep
  boards/adafruit-itsybitsy-m4/Makefile.include
  boards/arduino-nano-33-iot/Makefile
  boards/arduino-nano-33-iot/Makefile.dep
  boards/arduino-nano-33-iot/Makefile.include
  boards/common/arduino-mkr/Makefile
  boards/common/arduino-mkr/Makefile.dep
  boards/common/arduino-mkr/Makefile.include
  boards/common/samd21-arduino-bootloader/Makefile
  boards/common/samdx1-arduino-bootloader/Makefile
  boards/common/samdx1-arduino-bootloader/Makefile.dep
  boards/common/samdx1-arduino-bootloader/Makefile.include
  boards/common/samdx1-arduino-bootloader/reset.c
  boards/common/sodaq/Makefile
  boards/common/sodaq/Makefile.dep
  boards/common/sodaq/Makefile.include
  boards/feather-m0/Makefile
  boards/feather-m0/Makefile.dep
  boards/feather-m0/Makefile.include
  boards/serpente/Makefile
  boards/serpente/Makefile.dep
  boards/serpente/Makefile.include
  boards/sodaq-one/Makefile
  boards/sodaq-sara-aff/Makefile
  boards/sodaq-sara-sff/Makefile
  boards/wemos-zero/Makefile
  boards/wemos-zero/Makefile.dep
  boards/wemos-zero/Makefile.include
Labels: Area: boards, CI: ready for build, Type: cleanup

#16060 sam0/adc: work around ADC errata on SAM D5x/E5x
  cpu/sam0_common/periph/adc.c
Labels: Area: cpu, CI: ready for build, Impact: minor, Type: bug

#16070 boards/microbit: doc: FLASHTOOL -> PROGRAMMER
  boards/microbit/doc.txt
Labels: Area: boards, Area: doc, CI: ready for build, CI: skip compile test, Impact: minor, Type: bug

#16065 boards/nrf52840dongle: Add spi feature and default pins
  boards/nrf52840dongle/Kconfig
  boards/nrf52840dongle/Makefile.features
  boards/nrf52840dongle/include/periph_conf.h
Labels: Area: boards, CI: ready for build, Type: enhancement

#16066 pkg/emlearn: bump version to 0.11.6
  pkg/emlearn/Makefile
Labels: Area: pkg, CI: ready for build, Type: enhancement

#14911 stm32/can: add option to enable deep-sleep per device
  cpu/stm32/include/can_params.h
  cpu/stm32/include/candev_stm32.h
  cpu/stm32/periph/can.c
Labels: Area: cpu, Area: drivers, CI: ready for build, Type: enhancement

#15916 pkg/nanopb: bump version to 0.4.4
  pkg/nanopb/Makefile
Labels: Area: pkg, CI: ready for build, Impact: minor, Type: enhancement

#16032 tests/unittests/tests-flashpage: move out of unittests
  tests/periph_flashpage_unittest/Makefile
  tests/periph_flashpage_unittest/app.config.test
  tests/periph_flashpage_unittest/main.c
  tests/periph_flashpage_unittest/tests/01-run.py
  tests/unittests/tests-flashpage/Makefile
  tests/unittests/tests-flashpage/Makefile.include
  tests/unittests/tests-flashpage/tests-flashpage.h
Labels: Area: tests, CI: ready for build, CI: run tests, Type: cleanup

#16071 cpu/native: timer: implement timer_set_periodic()
  cpu/native/Kconfig
  cpu/native/Makefile.features
  cpu/native/periph/timer.c
Labels: CI: ready for build, Platform: native, Type: new feature

#16068 tests/xfa: use BUILDDEPS instead of overriding the all target
  tests/xfa/Makefile
Labels: Area: build system, Area: tests, CI: ready for build, Type: bug

#16030 drivers/mtd_flashpage: fixes for native (and stm32l0, stm32l4)
  cpu/native/periph/flashpage.c
  cpu/stm32/include/cpu_conf.h
  drivers/mtd_flashpage/mtd_flashpage.c
  tests/mtd_flashpage/Makefile
  tests/mtd_flashpage/main.c
Labels: Area: tests, CI: ready for build, Type: bug

#16073 tools/esptool: cleanup preflash and qemu integration in build system
  makefiles/tools/esptool.inc.mk
Labels: Area: build system, Area: tools, CI: ready for build, Platform: ESP

#15992 Add lwIP ifconfig shell command
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/include/arch/cc.h
  pkg/lwip/include/lwipopts.h
  pkg/lwip/patches/0002-lowpan6-Use-arch-independent-printf-formatters.patch
  sys/shell/commands/Makefile
  sys/shell/commands/sc_lwip_netif.c
  sys/shell/commands/shell_commands.c
  tests/lwip/main.c
  tests/lwip/tests/01-run.py
Labels: Area: network, CI: ready for build, Type: new feature

#16074 boards: remove AVRDUDE_PORT and PORT_BSL
  boards/arduino-leonardo/Makefile.include
  boards/common/cc2538/Makefile.include
  boards/mega-xplained/Makefile.include
Labels: CI: ready for build, CI: skip compile test, Process: removal, Type: cleanup

#16076 core/xfa: typeof() -> __typeof__()
  core/include/xfa.h
Labels: Area: core, CI: ready for build, Impact: minor, Type: bug

#16064 makefiles/kconfig: include out.config only when running Kconfig
  makefiles/kconfig.mk
Labels: Area: Kconfig, Area: build system, CI: ready for build, Type: bug

#16067 gh_action: exclude tests/periph_timer_periodic from test-on-iotlab
  .github/workflows/test-on-iotlab.yml
  tests/periph_timer_periodic/tests/01-run.py
Labels: Area: CI, CI: ready for build, CI: run tests, Type: enhancement

#16008 makefile/..picolibc: make missing picolibc fail louder
  makefiles/libc/picolibc.mk
Labels: Area: build system, CI: ready for build, Impact: minor, Type: enhancement

#15795 static_tests: fix diff output
  dist/tools/coccinelle/check.sh
  dist/tools/headerguards/check.sh
  dist/tools/uncrustify/uncrustify.sh
Labels: Area: CI, Area: toolchain, CI: ready for build, CI: skip compile test, Type: bug

#16053 Kconfig: source EXTERNAL_MODULES configurations
  Kconfig
  makefiles/kconfig.mk
  tests/kconfig/Makefile
  tests/kconfig/app.config
  tests/kconfig/external_module_1/Kconfig
  tests/kconfig/external_module_1/Makefile
  tests/kconfig/external_module_1/Makefile.include
  tests/kconfig/external_module_1/include/external_module_1.h
  tests/kconfig/external_module_2/Kconfig
  tests/kconfig/external_module_2/Makefile
  tests/kconfig/external_module_2/Makefile.include
  tests/kconfig/external_module_2/include/external_module_2.h
  tests/kconfig/main.c
  tests/kconfig/tests/01-run.py
Labels: Area: Kconfig, Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: new feature

#16009 sys/*/Kconfig: Add simple sys modules to Kconfig
  .murdock
  sys/Kconfig
  sys/analog_util/Kconfig
  sys/app_metadata/Kconfig
  sys/base64/Kconfig
  sys/bitfield/Kconfig
  sys/bloom/Kconfig
  sys/cb_mux/Kconfig
  sys/eepreg/Kconfig
  sys/matstat/Kconfig
  sys/memarray/Kconfig
  sys/mineplex/Kconfig
  sys/oneway-malloc/Kconfig
  sys/sema/Kconfig
  sys/seq/Kconfig
  sys/timex/Kconfig
  sys/uri_parser/Kconfig
  tests/cb_mux/app.config.test
  tests/cb_mux_bench/app.config.test
  tests/eepreg/app.config.test
  tests/shell/app.config.test
  tests/struct_tm_utility/app.config.test
Labels: Area: Kconfig, Area: sys, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#16079 drivers/saul: Fix "%u" print formatter
  drivers/saul/init_devs/auto_init_saul_pwm.c
Labels: CI: ready for build, Impact: minor, Type: bug

#15830 nanocoap: add coap_opt_put_uri_pathquery()
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/suit/transport/coap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: CoAP, CI: ready for build, Type: bug

#16081 gnrc_rpl: harden validation routine for options
  sys/net/gnrc/routing/rpl/gnrc_rpl_validation.c
Labels: Area: network, CI: ready for build, Type: bug

#16083 make: add cosy as a build target
  Makefile.include
  dist/tools/cosy/Makefile
  dist/tools/cosy/patches/0001-cosy.py-set-working-directory-to-location-of-cosy.py.patch
  dist/tools/cosy/patches/0002-frontend_server.py-make-URL-clickable.patch
  makefiles/tools/targets.inc.mk
Labels: Area: tools, CI: ready for build, CI: skip compile test, Type: new feature

#16086 CODEOWNERS: add @maribu for some more files
  CODEOWNERS
Labels: CI: ready for build, CI: skip compile test

#16012 build system: don't optionally use conflicting features
  makefiles/features_check.inc.mk
  makefiles/tests/feature_resolution/test-conflict-optional.mk
Labels: Area: build system, CI: ready for build, Type: bug

#16091 sys/net/gnrc: fix logic bug in gnrc_tx_sync implementation
  sys/net/gnrc/network_layer/sixlowpan/frag/gnrc_sixlowpan_frag.c
Labels: Area: network, CI: ready for build, Type: bug

#16088 boards/sensebox_samd21: refactor to use stdio over the USB port
  boards/sensebox_samd21/Kconfig
  boards/sensebox_samd21/Makefile
  boards/sensebox_samd21/Makefile.dep
  boards/sensebox_samd21/Makefile.features
  boards/sensebox_samd21/Makefile.include
  boards/sensebox_samd21/doc.txt
  tests/bench_xtimer/Makefile
Labels: Area: boards, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: enhancement

#16089 tests/pkg_littlefs: tests/pkg_spiffs: fix test timeouts on nrf52840dk
  tests/pkg_littlefs/main.c
  tests/pkg_littlefs/tests/01-run.py
  tests/pkg_littlefs2/main.c
  tests/pkg_littlefs2/tests/01-run.py
  tests/pkg_spiffs/main.c
Labels: Area: tests, CI: ready for build

#16094 tests/periph_spi: compact help messages a bit to shave off some bytes
  tests/periph_spi/main.c
Labels: Area: tests, CI: ready for build, Impact: minor, Type: cleanup

#16093 CODEOWNERS: reduce the noise
  CODEOWNERS
Labels: CI: ready for build, CI: skip compile test, Impact: minor

#15958 arch/riscv: use natural align data type
  makefiles/arch/riscv.inc.mk
Labels: Area: build system, Area: toolchain, CI: ready for build, Platform: RISC-V, Type: bug

#16069 Revert "cpu/sam0_common: SPI: only mux MISO on spi_acquire()"
  cpu/sam0_common/periph/spi.c
Labels: Area: cpu, CI: ready for build, Type: bug

#15970 make: print spinning icon while flashing/resetting
  Makefile.include
  dist/testbed-support/makefile.iotlab.single.inc.mk
  dist/tools/programmer/programmer.py
  makefiles/boot/riotboot.mk
  makefiles/tools/programmer.inc.mk
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, CI: run tests, Process: needs >1 ACK, Type: enhancement

#16099 drivers: remove unused luid dependencies
  drivers/at86rf2xx/at86rf2xx.c
  drivers/atwinc15x0/Makefile.dep
  drivers/mrf24j40/Makefile.dep
Labels: Area: drivers, CI: ready for build, Impact: minor, Type: cleanup

#16096 murdock: break loop when app found and fix error message
  .murdock
Labels: Area: CI, CI: ready for build, Impact: minor, Type: bug

#16092 Kconfig: make app.config and app.config.test mutually exclusive
  makefiles/kconfig.mk
Labels: Area: Kconfig, CI: ready for build, Type: bug

#16084 esp32/eth: Don't overwrite queued event with RX packet
  cpu/esp32/esp-eth/esp_eth_netdev.c
Labels: Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Type: bug

#15951 congure: initial import of a congestion control framework
  .murdock
  dist/tools/uncrustify/whitelist.txt
  sys/Kconfig
  sys/Makefile.dep
  sys/congure/Kconfig
  sys/congure/Makefile
  sys/congure/mock/Kconfig
  sys/congure/mock/Makefile
  sys/congure/mock/congure_mock.c
  sys/congure/test/Kconfig
  sys/congure/test/Kconfig.config
  sys/congure/test/Makefile
  sys/congure/test/congure_test.c
  sys/include/congure.h
  sys/include/congure/config.h
  sys/include/congure/mock.h
  sys/include/congure/test.h
  sys/shell/commands/shell_commands.c
  tests/congure_test/Makefile
  tests/congure_test/Makefile.ci
  tests/congure_test/README.md
  tests/congure_test/app.config
  tests/congure_test/app.config.test
  tests/congure_test/congure_impl.c
  tests/congure_test/congure_impl.h
  tests/congure_test/main.c
  tests/congure_test/tests/01-run.py
Labels: Area: sys, CI: ready for build, CI: run tests, Type: new feature

#15932 net/ieee802154: add PHY modes caps for HAL
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  sys/include/net/ieee802154.h
  sys/include/net/ieee802154/radio.h
  sys/include/net/ieee802154/submac.h
  sys/net/link_layer/ieee802154/Kconfig
  sys/net/link_layer/ieee802154/submac.c
  tests/ieee802154_hal/main.c
Labels: Area: network, CI: ready for build, Type: new feature

#15896 drivers/periph/spi: clean up error codes and doc
  drivers/include/periph/spi.h
Labels: Area: drivers, CI: ready for build, Impact: minor, Process: API change, Process: needs >1 ACK, Type: cleanup

#16101 core/lifo: deprecate lifo
  core/include/lifo.h
  core/lifo.c
Labels: Area: core, CI: ready for build, Process: deprecation, Process: needs >1 ACK, Type: cleanup

#16102 lwip: hook up sam0_eth support
  pkg/lwip/contrib/lwip.c
Labels: Area: network, CI: ready for build, Type: enhancement
