Repository RIOT-OS/RIOT, pull requests merged in 2021-11, with the labels that each got.

#16780 pkg/uwb*: add Kconfig dependency modelling
  examples/twr_aloha/app.config.test
  pkg/Kconfig
  pkg/mynewt-core/Kconfig
  pkg/mynewt-core/Makefile.dep
  pkg/mynewt-core/include/os/os.h
  pkg/uwb-core/Kconfig
  pkg/uwb-dw1000/Kconfig
  sys/sema/Kconfig
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: examples, Area: Kconfig

#17095 dist/tools/uhcpd: remove project.py
  dist/tools/uhcpd/project.py
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: tools, CI: skip compile test

#17071 CODING_CONVENTIONS_C++.md: Change space after negation
  CODING_CONVENTIONS_C++.md
Labels: Area: doc, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#17104 dist/tools/doccheck/exclude_patterns: add new warnings
  dist/tools/doccheck/exclude_patterns
Labels: CI: ready for build, Area: tools, CI: skip compile test

#17085 usbus/cdc_acm: Return stall on line coding not supported
  sys/usb/usbus/cdc/acm/cdc_acm.c
Labels: Type: enhancement, CI: ready for build, Area: USB

#17006 sys/shell/gnrc_netif: Allow 'ifconfig help'
  sys/shell/commands/sc_gnrc_netif.c
Labels: Area: network, CI: ready for build, CI: run tests, Area: sys

#17100 boards/common/silabs: fix dependencies
  boards/common/silabs/Makefile.dep
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards

#17103 pkg/wakaama: use ztimer
  pkg/wakaama/Makefile.dep
  pkg/wakaama/contrib/lwm2m_platform.c
Labels: Type: enhancement, Area: pkg, CI: ready for build

#17113 sys/ztimer: don't default to rtc for ztimer_sec
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
Labels: Type: bug, CI: ready for build, Area: timers, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17107 pycrypto: use pycryptodome instead
  dist/tools/mcuboot/imgtool.md
  dist/tools/packer/scripts/riot.sh
  dist/tools/vagrant/freebsd/Vagrantfile
  tests/mcuboot/README.md
Labels: Type: bug, Area: doc, Area: tests, CI: ready for build, Area: tools

#17114 drivers/xbee: migrate to ztimer_msec
  drivers/include/xbee.h
  drivers/xbee/Makefile.dep
  drivers/xbee/include/xbee_params.h
  drivers/xbee/xbee.c
  tests/driver_netdev_common/main.c
  tests/driver_xbee/Makefile
Labels: Area: tests, Area: drivers, CI: ready for build

#17076 pkg/fff: Add fake functions framework package
  pkg/Kconfig
  pkg/fff/Kconfig
  pkg/fff/Makefile
  pkg/fff/Makefile.include
  pkg/fff/doc.txt
  sys/include/embUnit.h
  tests/pkg_fff/Makefile
  tests/pkg_fff/Makefile.ci
  tests/pkg_fff/app.config.test
  tests/pkg_fff/main.c
  tests/pkg_fff/tests/01-run.py
Labels: Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: sys, Area: Kconfig

#17118 SECURITY.md: fix broken email reference
  SECURITY.md
Labels: Type: bug, Area: doc, CI: ready for build, CI: skip compile test

#8954 gnrc_gomach: adapt duty recording parameters' namings.
  sys/include/net/gnrc/gomach/types.h
  sys/net/gnrc/link_layer/gomach/gomach.c
  sys/net/gnrc/link_layer/gomach/gomach_internal.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: sys

#17123 stdio_semihosting: Convert to ztimer
  makefiles/stdio.inc.mk
  sys/stdio_semihosting/stdio_semihosting.c
Labels: Area: build system, Type: cleanup, CI: ready for build, Area: sys

#17117 pkg/semtech-loramac: fix get/set dr command
  pkg/semtech-loramac/contrib/semtech_loramac_getset.c
Labels: Area: pkg, CI: ready for build, Area: LoRa

#17121 pkg/wolfssl: fix minor issues
  pkg/wolfssl/Makefile.dep
  pkg/wolfssl/Makefile.wolfcrypt
Labels: Impact: minor, Area: pkg, Type: cleanup, CI: ready for build

#17128 usbus/dfu: fix underflow condition while updating firmware
  sys/usb/usbus/dfu/dfu.c
Labels: Type: bug, CI: ready for build, Area: USB, Area: sys

#17130 example/gcoap: add LWIP make option
  examples/gcoap/Makefile
Labels: Type: enhancement, CI: ready for build, Area: examples

#17101 drivers/bmp180: migrate to ztimer
  drivers/bmp180/Kconfig
  drivers/bmp180/Makefile.dep
  drivers/bmp180/bmp180.c
  drivers/bmp180/bmp180_saul.c
  drivers/bmp180/include/bmp180_internals.h
  tests/driver_bmp180/Makefile
  tests/driver_bmp180/app.config.test
  tests/driver_bmp180/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17136 usbus_hid: Fix possible null pointer dereference
  sys/usb/usbus/hid/hid.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: USB, Area: sys

#17112 drivers/rn2xx3: migrate to ztimer
  drivers/include/rn2xx3.h
  drivers/rn2xx3/Kconfig
  drivers/rn2xx3/Makefile.dep
  drivers/rn2xx3/include/rn2xx3_params.h
  drivers/rn2xx3/rn2xx3.c
  drivers/rn2xx3/rn2xx3_internal.c
Labels: Area: drivers, CI: ready for build, Area: Kconfig

#17124 boards/{calliope-mini,microbit*}: factorize common microbit module, use ztimer
  boards/calliope-mini/Makefile
  boards/calliope-mini/Makefile.dep
  boards/calliope-mini/Makefile.include
  boards/calliope-mini/include/board.h
  boards/calliope-mini/include/mini.h
  boards/calliope-mini/mini/Makefile
  boards/calliope-mini/mini/mini.c
  boards/common/microbit/Makefile.dep
  boards/common/microbit/microbit.c
  boards/microbit-v2/Makefile.dep
  boards/microbit/Makefile.dep
  tests/board_calliope-mini/Makefile
  tests/board_calliope-mini/main.c
Labels: Area: tests, Type: cleanup, CI: ready for build, Area: boards

#17135 usb(dev|bus): Fix static-check issues
  cpu/nrf52/periph/usbdev.c
  cpu/sam0_common/periph/usbdev.c
  drivers/usbdev_mock/usbdev_mock.c
  sys/include/usb/usbopt.h
  sys/usb/usbus/cdc/acm/cdc_acm.c
  tests/usbus/main.c
Labels: Platform: ARM, Area: tests, Type: cleanup, Area: drivers, CI: ready for build, Area: cpu, Area: USB, Area: sys

#17131 pkg/openwsn: update doc
  pkg/openwsn/doc.txt
Labels: Area: network, Area: doc, Area: pkg, CI: ready for build, CI: skip compile test

#17132 core: make SCHED_TEST_STACK boolean and default to 1 with DEVELHELP
  core/include/sched.h
  core/include/thread.h
  core/sched.c
  core/thread.c
  cpu/esp_common/thread_arch.c
  tests/bench_sizeof_coretypes/main.c
  tests/driver_dose/Makefile.ci
  tests/gnrc_sixlowpan_frag_minfwd/Makefile.ci
Labels: Type: enhancement, Area: tests, Area: core, CI: ready for build, Platform: ESP, Area: cpu, Process: needs >1 ACK

#17014 drivers/periph/gpio: state that interrupt callback must not be NULL
  drivers/include/periph/gpio.h
Labels: Impact: minor, Process: API change, Area: drivers, CI: ready for build, Process: needs >1 ACK

#17108 boards/stk3200: Fix spi config
  boards/stk3200/include/periph_conf.h
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards

#17105 drivers/ata8520e: migrate to ztimer
  drivers/ata8520e/Kconfig
  drivers/ata8520e/Makefile.dep
  drivers/ata8520e/ata8520e.c
  drivers/include/ata8520e.h
Labels: Area: drivers, CI: ready for build, Area: Kconfig

#17142 core/include/kernel_defines.h: add index_of() macro
  core/include/kernel_defines.h
  tests/unittests/tests-kernel_defines/tests-kernel_defines.c
Labels: Area: tests, Area: core, Type: new feature, CI: ready for build

#17007 cpu/sam0: prevent disabled irq from being called
  cpu/sam0_common/periph/gpio.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#17127 makefiles: RISC-V: prefer target triple from riotdocker
  makefiles/arch/riscv.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build, Platform: RISC-V

#17147 makefiles: RISC-V: prefer target triple from riotdocker [backport 2021.10]
  makefiles/arch/riscv.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build, Platform: RISC-V, Process: release backport

#17148 core/include/kernel_defines.h: Fix index_of()
  core/include/kernel_defines.h
Labels: Type: bug, Impact: minor, CI: ready for build

#17119 pkg/arduino_sdi_12: support the remote-revb board
  pkg/arduino_sdi_12/Makefile.dep
  pkg/arduino_sdi_12/patches/0002-Integration-with-RIOT-to-support-other-boards.patch
  sys/arduino/include/arduino.hpp
  tests/pkg_arduino_sdi_12/Makefile
  tests/pkg_arduino_sdi_12/Makefile.ci
Labels: Area: tests, Area: pkg, CI: ready for build, Area: arduino API, Area: sys

#17145 tests/lwip_sock: Take lock before calling etharp
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_udp/stack.c
Labels: Area: network, Area: tests, CI: ready for build, CI: run tests

#17146 murdock: allow specifying redis host
  .murdock
Labels: Impact: minor, CI: ready for build, Area: CI

#17149 drivers/lis3dh: fix unaligned memory access
  drivers/include/lis3dh.h
Labels: Type: bug, Area: drivers, CI: ready for build

#17153 sys/net/dns: mark dns_hdr_t as packed
  sys/include/net/dns/msg.h
Labels: Type: bug, Area: network, CI: ready for build

#17156 drivers/encx24j600: fix unaligned memory access
  drivers/encx24j600/encx24j600.c
Labels: Type: bug, Area: drivers, CI: ready for build

#17150 cpu/esp_common: fix unaligned access in periph_flashpage
  cpu/esp_common/periph/flash.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#17158 boards/lora-e5-dev: enable 3.3V and 5V output by default
  boards/lora-e5-dev/Kconfig
  boards/lora-e5-dev/Makefile.dep
  boards/lora-e5-dev/board.c
  boards/lora-e5-dev/include/board.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#16986 sys/net/uhcp: use LOG_DEBUG instead of LOG_INFO
  sys/net/application_layer/uhcp/uhcp.c
  sys/net/application_layer/uhcp/uhcpc.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#17151 pkg/littlefs{,2}: fix compilation with -Wcast-align
  pkg/littlefs/fs/littlefs_fs.c
  pkg/littlefs2/fs/littlefs2_fs.c
Labels: Type: bug, Area: pkg, CI: ready for build, CI: skip compile test

#17167 .github/ISSUE_TEMPLATE: remove security_bug.md
  .github/ISSUE_TEMPLATE/security_bug.md
Labels: Type: cleanup, CI: ready for build, CI: skip compile test

#16752 drivers/dose: enable standby pin
  drivers/dose/dose.c
  drivers/dose/include/dose_params.h
  drivers/include/dose.h
Labels: Type: new feature, Area: drivers, CI: ready for build

#16901 tests/thread_float: improve and add script
  tests/thread_float/Makefile
  tests/thread_float/README.md
  tests/thread_float/main.c
  tests/thread_float/tests/01-run.py
Labels: Type: enhancement, Area: doc, Area: tests, Impact: minor, CI: ready for build, CI: skip compile test

#17169 drivers/ccs811: fix of documentation
  drivers/ccs811/doc.txt
Labels: Type: bug, Area: doc, Impact: major, Type: cleanup, Area: drivers, CI: ready for build, CI: skip compile test

#17172 drivers/ds18.h: add missing stdint.h include
  drivers/include/ds18.h
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build

#17171 net/uhcp[cd]: use modules to select client/server code
  dist/tools/uhcpd/Makefile
  sys/net/application_layer/uhcp/Makefile
  sys/net/application_layer/uhcp/uhcp.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: tools, Area: sys

#17161 pkg/relic: bump to current master
  pkg/relic/Makefile
  pkg/relic/patches/0001-use-modul-random-for-seeding.patch
  pkg/relic/patches/0002-add-RIOT-random-support-to-cmake-and-relic_conf.h.patch
  pkg/relic/patches/0002-add-flag-to-help-message.patch
  tests/pkg_relic/Makefile
  tests/pkg_relic/Makefile.ci
  tests/pkg_relic/main.c
Labels: Type: bug, Area: tests, Area: pkg, CI: ready for build

#17174 pkg/lwip: Fix dualstack build when only using 6lowpan
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/include/lwipopts.h
Labels: Area: network, Area: pkg, CI: ready for build

#16768 drivers/dose: calculate timeout based on symbol rate
  drivers/dose/Kconfig
  drivers/dose/dose.c
  drivers/include/dose.h
Labels: Type: enhancement, Area: drivers, CI: ready for build, Area: Kconfig

#17143 pkg/paho-mqtt: migrate to ztimer
  examples/paho-mqtt/Makefile
  examples/paho-mqtt/main.c
  pkg/paho-mqtt/Makefile.dep
  pkg/paho-mqtt/contrib/riot_iface.c
  pkg/paho-mqtt/include/paho_mqtt.h
Labels: Area: network, Area: pkg, CI: ready for build, Area: examples

#17163 pkg/libcoap: remove
  LOSTANDFOUND.md
  pkg/libcoap/Makefile
  pkg/libcoap/Makefile.dep
  pkg/libcoap/Makefile.include
  pkg/libcoap/patches/0001-Add-RIOT-Makefile.patch
  pkg/libcoap/patches/0002-Add-config.h.patch
  pkg/libcoap/patches/0003-Remove-two-example-programs-in-root.patch
  pkg/libcoap/patches/0004-Eliminate-some-compiler-warnings-and-errors.patch
  pkg/libcoap/patches/0005-fix-old-style-function-declarations.patch
  pkg/libcoap/patches/0006-debug-do-not-misuse-NDEBUG.patch
  pkg/libcoap/patches/0007-fix-option-parsing-with-debug-enabled.patch
  pkg/libcoap/patches/0008-fix-debug-out-in-PDU-parsing.patch
  pkg/libcoap/patches/0009-delete-unused-function-check_opt_size.patch
  tests/pkg_libcoap/Makefile
  tests/pkg_libcoap/Makefile.ci
  tests/pkg_libcoap/main.c
  tests/pkg_libcoap/tests/01-run.py
Labels: Area: doc, Area: tests, Area: pkg, Type: cleanup, CI: ready for build, Process: needs >1 ACK, Process: removal

#16955 pkg/nimble: fix scan event type define usage
  pkg/nimble/autoconn/nimble_autoconn.c
  pkg/nimble/rpble/nimble_rpble.c
  pkg/nimble/scanlist/nimble_scanlist_print.c
  pkg/nimble/scanner/include/nimble_scanner.h
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Area: BLE

#17165 sys/ztimer: rework Kconfig
  examples/twr_aloha/app.config.test
  sys/xtimer/Kconfig
  sys/ztimer/Kconfig
  tests/driver_sm_pwm_01c/app.config.test
  tests/pkg_umorse/app.config.test
  tests/posix_sleep/app.config.test
  tests/ztimer_msg/app.config.test
  tests/ztimer_mutex_lock_timeout/app.config.test
  tests/ztimer_overhead/app.config.test
  tests/ztimer_periodic/app.config.test
  tests/ztimer_rmutex_lock_timeout/app.config.test
  tests/ztimer_underflow/app.config.test
  tests/ztimer_xsec/app.config.test
Labels: Area: tests, CI: ready for build, Area: timers, Area: sys, Area: examples, Area: Kconfig

#17176 core: add WITHOUT_PEDANTIC() and DECLARE_CONSTANT()
  core/include/kernel_defines.h
  tests/unittests/tests-kernel_defines/tests-kernel_defines.c
Labels: Area: tests, Area: core, Type: new feature, CI: ready for build, Process: needs >1 ACK

#17138 drivers/sx126x: fix sync word and TX PA configuration
  boards/lora-e5-dev/board.c
  boards/lora-e5-dev/include/board.h
  dist/tools/doccheck/exclude_patterns
  drivers/include/sx126x.h
  drivers/sx126x/include/sx126x_params.h
  drivers/sx126x/sx126x.c
  drivers/sx126x/sx126x_netdev.c
Labels: Type: bug, Area: drivers, CI: ready for build, Area: tools, Area: LoRa, Area: boards

#16186 cpu/native: add `-no-pie` to LINKFLAGS
  boards/native/Makefile.include
  tests/backtrace/tests/01-run.py
Labels: Type: bug, Platform: native, Area: tests, CI: ready for build, Area: boards

#17125 cpu/native: migrate periph_rtc to ztimer
  cpu/native/Makefile.dep
  cpu/native/periph/Kconfig.rtc
  cpu/native/periph/rtc.c
Labels: Platform: native, CI: ready for build, Area: cpu

#17187 cpu/stm32/include/cpu_conf_stm32_common.h: fix typo in macro
  cpu/stm32/include/cpu_conf_stm32_common.h
Labels: Platform: ARM, CI: ready for build, Area: cpu

#17185 boards/lora-e5-dev: add warning in doc
  boards/lora-e5-dev/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#17139 dist/tools/coccinelle/force: remove static.cocci
  dist/tools/coccinelle/force/static.cocci
Labels: CI: ready for build, Area: tools, CI: skip compile test

#17177 sys/architecture: add HAS_ALIGNMENT_OF() helper
  sys/include/architecture.h
  tests/sys_architecture/main.c
Labels: Area: tests, CI: ready for build, Area: sys

#17137 driver/at30tse75x: port to ztimer_usec
  drivers/at30tse75x/Kconfig
  drivers/at30tse75x/Makefile.dep
  drivers/at30tse75x/at30tse75x.c
Labels: Type: enhancement, Area: drivers, CI: ready for build, Area: Kconfig

#17190 drivers/dose: reduce struct padding
  drivers/include/dose.h
Labels: Impact: minor, Area: drivers, CI: ready for build

#17192 sys/fido2: fix CBOR parsing
  sys/fido2/ctap/ctap_cbor.c
Labels: Type: bug, CI: ready for build, Process: needs backport, Area: security, Area: sys

#17102 drivers/ads101x: migrate to ztimer
  drivers/ads101x/Kconfig
  drivers/ads101x/Makefile.dep
  drivers/ads101x/ads101x.c
  tests/driver_ads101x/Makefile
  tests/driver_ads101x/Makefile.ci
  tests/driver_ads101x/app.config.test
  tests/driver_ads101x/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#16979 cpu/stm32: Add hardening changes to stm32
  cpu/stm32/Kconfig
  cpu/stm32/Makefile.include
  cpu/stm32/cpu_init.c
  cpu/stm32/include/periph/f0/periph_cpu.h
  cpu/stm32/include/periph/f1/periph_cpu.h
  cpu/stm32/include/periph/f2/periph_cpu.h
  cpu/stm32/include/periph/f3/periph_cpu.h
  cpu/stm32/include/periph/f4/periph_cpu.h
  cpu/stm32/include/periph/f7/periph_cpu.h
  cpu/stm32/include/periph/l1/periph_cpu.h
Labels: Platform: ARM, CI: ready for build, Area: security, Area: cpu, Area: Kconfig

#17197 boards/dwm1001: fix SPI0 miso/mosi pins
  boards/dwm1001/include/periph_conf.h
Labels: Impact: minor, CI: ready for build, Area: boards

#17182 sys/suit: adjust dependencies for CoAP transport
  examples/suit_update/Makefile
  sys/Makefile.dep
Labels: CI: ready for build, Area: sys, Area: examples

#17082 dist/tools/doccheck: add create_pattern.sh
  dist/tools/doccheck/create_pattern.sh
Labels: CI: ready for build, Area: tools, CI: skip compile test

#17199 boards/stm32f769i-disco: fix and cleanup default configuration
  boards/stm32f769i-disco/clock.config
  boards/stm32f769i-disco/include/periph_conf.h
Labels: Type: bug, CI: ready for build, Area: boards

#17193 sys/fido2: fix CBOR parsing [backport 2021.10]
  sys/fido2/ctap/ctap_cbor.c
Labels: Type: bug, CI: ready for build, Area: security, Process: release backport, Area: sys

#16109 tools/insufficient_memory: add create_makefile.ci.sh and Makefile.ci make target
  Makefile.include
  dist/tools/insufficient_memory/create_makefile.ci.sh
  makefiles/info-global.inc.mk
  makefiles/info.inc.mk
Labels: Type: enhancement, Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#17126 sys/benchmark: Convert to ztimer
  sys/Makefile.dep
  sys/benchmark/Kconfig
  sys/benchmark/benchmark.c
  sys/include/benchmark.h
  tests/bench_sys_atomic_utils/Makefile.ci
  tests/periph_gpio/Makefile
  tests/periph_gpio/Makefile.ci
  tests/periph_gpio/app.config.test
  tests/periph_gpio/main.c
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build, Area: sys, Area: Kconfig

#17183 cpu/stm32/wl: initial periph_adc implementation
  boards/lora-e5-dev/Kconfig
  boards/lora-e5-dev/Makefile.features
  boards/lora-e5-dev/include/periph_conf.h
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph/wl/periph_cpu.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/Kconfig
  cpu/stm32/periph/adc_wl.c
  dist/tools/doccheck/exclude_patterns
Labels: Platform: ARM, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: Kconfig

#17202 periph/flashpage: fix wrong doxygen group
  cpu/cortexm_common/periph/flashpage.c
  cpu/riscv_common/periph/flashpage.c
Labels: Platform: ARM, CI: ready for build, Platform: RISC-V, Area: cpu, CI: skip compile test

#17186 cpu/sam0_common: uart: set oversampling based on baud rate
  cpu/sam0_common/periph/uart.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#17205 Makefile.include: rename Makefile.ci target to create-Makefile.ci
  Makefile.include
  makefiles/info-global.inc.mk
  makefiles/info.inc.mk
Labels: Area: build system, CI: ready for build, CI: skip compile test

#17200 cdc_ecm: Truncate frames at max ethernet size
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
Labels: Type: bug, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: USB, Area: sys

#17181 examples/lorawan: use ztimer_msec if not rtc
  examples/lorawan/Makefile
  examples/lorawan/Makefile.ci
  examples/lorawan/main.c
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: examples

#17196 tests/pthread_barrier: fix test script
  tests/pthread_barrier/tests/01-run.py
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, CI: skip compile test

#16774 lwip: bump to v2.1.3
  pkg/lwip/Makefile
  pkg/lwip/patches/0002-lowpan6-Use-arch-independent-printf-formatters.patch
  pkg/lwip/patches/0003-netif_is_flag_set-fix.patch
Labels: Type: enhancement, Area: network, Area: pkg, CI: ready for build

#17154 cpu/stm32/periph/usbdev: fix alignment issues
  cpu/stm32/include/usbdev_stm32.h
  cpu/stm32/periph/usbdev.c
Labels: Type: bug, Platform: ARM, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#17198 boards: add support for stm32f746g-disco
  boards/stm32f746g-disco/Kconfig
  boards/stm32f746g-disco/Makefile
  boards/stm32f746g-disco/Makefile.dep
  boards/stm32f746g-disco/Makefile.features
  boards/stm32f746g-disco/Makefile.include
  boards/stm32f746g-disco/board.c
  boards/stm32f746g-disco/clock.config
  boards/stm32f746g-disco/doc.txt
  boards/stm32f746g-disco/include/board.h
  boards/stm32f746g-disco/include/gpio_params.h
  boards/stm32f746g-disco/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
  tests/Makefile.boards.netif
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build, Area: tools, Area: boards, Area: Kconfig

#17152 sys/posix/socket: align struct sockaddr{,_storage}
  makefiles/arch/mips.inc.mk
  pkg/ccn-lite/patches/0001-cmake-Use-std-c11-instead-of-std-c99.patch
  sys/posix/include/sys/socket.h
Labels: Type: bug, Area: POSIX, Area: build system, Area: pkg, CI: ready for build, Platform: MIPS, Area: sys

#17039 sys/turo: Allow default selection of json
  sys/Makefile.dep
  sys/test_utils/Makefile.dep
  sys/test_utils/result_output/Kconfig
  sys/test_utils/result_output/Makefile.dep
  tests/turo/Makefile
  tests/turo/app.config.test
  tests/unittests/tests-turo/Makefile.include
Labels: Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17173 boards: native: guard motor driver simulation code
  boards/native/include/board.h
Labels: Platform: native, Impact: minor, Type: cleanup, CI: ready for build, Area: boards

#17189 SECURITY.md: add gpg key information
  SECURITY.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#17155 cpu/native: align stack in thread_stack_init()
  cpu/native/irq_cpu.c
  cpu/native/native_cpu.c
  cpu/native/syscalls.c
Labels: Type: bug, Platform: native, CI: ready for build, Area: cpu

#17203 usbus: check received setup request data amount
  sys/usb/usbus/cdc/acm/cdc_acm.c
  sys/usb/usbus/usbus_control.c
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: USB, Area: sys

#17064 USB: refactor to xmit-based API
  cpu/nrf52/include/nrfusb.h
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf52/periph/usbdev.c
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/include/sam_usb.h
  cpu/sam0_common/periph/usbdev.c
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/include/usbdev_stm32.h
  cpu/stm32/periph/usbdev.c
  drivers/include/periph/usbdev.h
  drivers/include/usbdev_mock.h
  drivers/usbdev_mock/usbdev_mock.c
  sys/include/usb/usbopt.h
  sys/include/usb/usbus/cdc/acm.h
  sys/include/usb/usbus/cdc/ecm.h
  sys/include/usb/usbus/control.h
  sys/include/usb/usbus/hid.h
  sys/usb/usbus/cdc/acm/cdc_acm.c
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
  sys/usb/usbus/cdc/ecm/cdc_ecm_netdev.c
  sys/usb/usbus/hid/hid.c
  sys/usb/usbus/hid/hid_io.c
  sys/usb/usbus/usbus.c
  sys/usb/usbus/usbus_control.c
  sys/usb/usbus/usbus_control_slicer.c
  tests/usbus/main.c
Labels: Type: enhancement, Platform: ARM, Area: tests, Process: API change, Area: drivers, CI: ready for build, Area: cpu, Area: USB, Area: sys

#17222 Makefile.base: add SUBMODULE_NO_SRC to excluded a selected SUBMODULE *.c
  Makefile.base
  doc/doxygen/src/creating-modules.md
Labels: Area: doc, Area: build system, CI: ready for build

#17220 cpu/cortexm_common: make CI happy
  cpu/cortexm_common/vectors_cortexm.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#17218 cpu/arm7_common: suppress false positives of cppcheck
  cpu/arm7_common/arm7_init.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, CI: skip compile test

#17221 cpu/esp32: make CI happy
  cpu/esp32/esp_xtimer.c
  cpu/esp32/periph/can.c
  cpu/esp32/periph/i2c_hw.c
  cpu/esp32/periph/pm.c
  cpu/esp32/startup.c
Labels: CI: ready for build, Platform: ESP, Area: cpu

#17227 cpu/atmega1281: fix pcint
  cpu/atmega1281/Kconfig
  cpu/atmega1281/Makefile.dep
  cpu/atmega1281/Makefile.features
  cpu/atmega1281/include/atmega_pcint.h
Labels: Type: bug, Platform: AVR, CI: ready for build, Area: cpu, Area: Kconfig

#17230 usbus/hid: fix ep_out readyness
  sys/usb/usbus/hid/hid.c
Labels: CI: ready for build, Area: USB, Area: sys

#17087 cpu/esp32: place freertos and periph in IRAM
  cpu/esp32/ld/esp32.common.ld
Labels: Type: enhancement, Area: build system, CI: ready for build, CI: run tests, Platform: ESP, Area: cpu

#17217 core/bitarthm: suppress false positives
  core/include/bitarithm.h
Labels: Area: core, Impact: minor, Type: cleanup, CI: ready for build, CI: skip compile test

#16912 cpu/efm32: model kconfig
  .murdock
  boards/common/silabs/Kconfig
  boards/common/silabs/drivers/Kconfig
  boards/common/silabs/drivers/aem/Kconfig
  boards/common/silabs/drivers/bc/Kconfig
  boards/common/silabs/drivers/pic/Kconfig
  boards/common/slwstk6000b/Kconfig
  boards/e180-zg120b-tb/Kconfig
  boards/ikea-tradfri/Kconfig
  boards/slstk3400a/Kconfig
  boards/slstk3400a/Makefile.dep
  boards/slstk3401a/Kconfig
  boards/slstk3402a/Kconfig
  boards/sltb001a/Kconfig
  boards/slwstk6220a/Kconfig
  boards/stk3200/Kconfig
  boards/stk3600/Kconfig
  boards/stk3700/Kconfig
  cpu/efm32/Kconfig
  cpu/efm32/Makefile.features
  cpu/efm32/drivers/coretemp/Kconfig
  cpu/efm32/efm32.config
  cpu/efm32/families/efm32gg/Kconfig
  cpu/efm32/families/efm32hg/Kconfig
  cpu/efm32/families/efm32lg/Kconfig
  cpu/efm32/families/efm32pg12b/Kconfig
  cpu/efm32/families/efm32pg1b/Kconfig
  cpu/efm32/families/efm32zg/Kconfig
  cpu/efm32/families/efr32mg12p/Kconfig
  cpu/efm32/families/efr32mg1b/Kconfig
  cpu/efm32/families/efr32mg1p/Kconfig
  cpu/efm32/families/ezr32wg/Kconfig
  cpu/efm32/periph/Kconfig
  drivers/bmx280/Kconfig
  drivers/ccs811/Kconfig
  drivers/si70xx/Kconfig
  pkg/Kconfig
  pkg/cmsis-dsp/Kconfig
  pkg/cmsis-dsp/Makefile
  pkg/cmsis-dsp/Makefile.dep
  pkg/gecko_sdk/Kconfig
  tests/driver_bmx280/app.config.test
  tests/driver_si70xx/app.config.test
Labels: Platform: ARM, Area: tests, Type: new feature, Area: pkg, Area: drivers, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig

#17224 makefile.dep: require `arch_%` `cpu_core_%` features first
  Makefile.dep
  Makefile.include
  makefiles/info-global.inc.mk
  tests/pkg_arduino_sdi_12/Makefile.ci
Labels: Type: bug, Area: tests, Area: build system, CI: ready for build

#17179 pkg/uzlib: add support for zlib compression/decompression
  .murdock
  pkg/Kconfig
  pkg/uzlib/Kconfig
  pkg/uzlib/Makefile
  pkg/uzlib/Makefile.dep
  pkg/uzlib/Makefile.include
  pkg/uzlib/doc.txt
  pkg/uzlib/uzlib.mk
  tests/pkg_uzlib/Makefile
  tests/pkg_uzlib/Makefile.ci
  tests/pkg_uzlib/app.config.test
  tests/pkg_uzlib/main.c
  tests/pkg_uzlib/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: CI, Area: Kconfig

#17191 drivers/periph: use uint_fast8_t as default type
  cpu/esp32/periph/can.c
  cpu/esp32/periph/i2c_hw.c
  cpu/gd32v/periph/uart.c
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
  cpu/nrf5x_common/periph/spi_nrf52_nrf9160.c
  drivers/include/periph/adc.h
  drivers/include/periph/dac.h
  drivers/include/periph/i2c.h
  drivers/include/periph/pwm.h
  drivers/include/periph/qdec.h
  drivers/include/periph/spi.h
  drivers/include/periph/timer.h
  drivers/include/periph/uart.h
  drivers/soft_uart/soft_uart.c
  tests/driver_soft_uart/main.c
  tests/periph_qdec/main.c
  tests/periph_uart/main.c
Labels: Platform: ARM, Area: tests, Discussion: RFC, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu

#17231 sys/ztimer: make internal head update static
  sys/include/ztimer.h
  sys/ztimer/core.c
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: timers, Area: sys

#17225 cpu/nrf9160: add periph_flashpage support
  cpu/nrf5x_common/Makefile.features
  cpu/nrf5x_common/periph/flashpage.c
  cpu/nrf9160/Kconfig
  cpu/nrf9160/include/cpu_conf.h
Labels: Platform: ARM, Type: new feature, CI: ready for build, Area: cpu, Area: Kconfig

#17201 nrf5x_common: Add qdec peripheral implementation
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/qdec.c
  tests/periph_qdec/Makefile
  tests/periph_qdec/boards_modded/nrf52840dk/Kconfig
  tests/periph_qdec/boards_modded/nrf52840dk/Makefile
  tests/periph_qdec/boards_modded/nrf52840dk/Makefile.dep
  tests/periph_qdec/boards_modded/nrf52840dk/Makefile.features
  tests/periph_qdec/boards_modded/nrf52840dk/Makefile.include
  tests/periph_qdec/boards_modded/nrf52840dk/include/board.h
  tests/periph_qdec/boards_modded/nrf52840dk/include/periph_conf.h
Labels: Platform: ARM, Area: tests, Type: new feature, CI: ready for build, Area: cpu, Area: Kconfig

#17214 boards/stm32f469i-disco: Add DAC
  boards/stm32f469i-disco/Kconfig
  boards/stm32f469i-disco/Makefile.features
  boards/stm32f469i-disco/include/periph_conf.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#17212 cpu/stm32: clone cmsis header in build/stm32
  cpu/stm32/Makefile.cmsis
  cpu/stm32/Makefile.include
  cpu/stm32/dist/irqs/gen_irqs.py
  cpu/stm32/dist/irqs/gen_vectors.py
  cpu/stm32/dist/kconfig/README.md
  cpu/stm32/dist/kconfig/gen_kconfig.py
  cpu/stm32/include/vendor/.gitignore
Labels: Type: bug, Platform: ARM, Area: doc, CI: ready for build, Area: cpu

#17234 sys/ztimer/xtimer2ztimer.cocci: extend and fix api replacements
  sys/ztimer/xtimer2ztimer.cocci
Labels: CI: ready for build, Area: timers, Area: sys, CI: skip compile test

#17226 boards/nrf9160dk: add riotboot support
  boards/nrf9160dk/Kconfig
  boards/nrf9160dk/Makefile.features
  cpu/nrf9160/Makefile.include
Labels: CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#17178 pkg/lz4: add support for LZ4 compression/decompression
  pkg/Kconfig
  pkg/lz4/Kconfig
  pkg/lz4/Makefile
  pkg/lz4/Makefile.dep
  pkg/lz4/Makefile.include
  pkg/lz4/doc.txt
  pkg/lz4/lz4.mk
  tests/pkg_lz4/Makefile
  tests/pkg_lz4/Makefile.ci
  tests/pkg_lz4/app.config.test
  tests/pkg_lz4/main.c
  tests/pkg_lz4/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: Kconfig

#16926 cpu/sam0_common: SPI: don't perform DMA transfer for small buffers
  cpu/sam0_common/periph/Kconfig.spi
  cpu/sam0_common/periph/spi.c
  cpu/samd21/periph/Kconfig.spi
  cpu/samd5x/periph/Kconfig.spi
  cpu/saml1x/periph/Kconfig.spi
  cpu/saml21/periph/Kconfig.spi
  drivers/periph_common/Kconfig.spi
Labels: Type: enhancement, Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#17245 usbus/hid: fix ep_out readyness
  sys/usb/usbus/hid/hid.c
Labels: CI: ready for build, Area: USB, Area: sys

#16934 drivers/dht: correct interpreting raw values
  CODEOWNERS
  drivers/dht/dht.c
  drivers/dht/include/dht_params.h
  drivers/include/dht.h
  tests/driver_dht/Makefile
  tests/driver_dht/app.config.test
  tests/driver_dht/main.c
Labels: Type: bug, Area: tests, Area: drivers, CI: ready for build

#16737 treewide: Address uncrustify suggestions
  core/mutex.c
  cpu/fe310/include/periph_cpu.h
  cpu/riscv_common/include/atomic_utils_arch.h
  cpu/riscv_common/include/clic.h
  cpu/riscv_common/include/irq_arch.h
  cpu/riscv_common/include/thread_arch.h
  cpu/riscv_common/irq_arch.c
  cpu/riscv_common/periph/plic.c
  sys/riotboot/flashwrite.c
  sys/riotboot/hdr.c
  sys/riotboot/serial.c
Labels: Area: core, CI: ready for build, Platform: RISC-V, Area: cpu, Area: sys

#17244 boards/lora-e5-dev: extended documentation
  boards/lora-e5-dev/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#17236 cpu/{cc26xx, cc13xx}: model kconfig
  .murdock
  boards/cc1312-launchpad/Kconfig
  boards/cc1350-launchpad/Kconfig
  boards/cc1352-launchpad/Kconfig
  boards/cc1352p-launchpad/Kconfig
  boards/cc2650-launchpad/Kconfig
  cpu/cc26x0_cc13x0/Kconfig
  cpu/cc26x0_cc13x0/vendor/driverlib/Kconfig
  cpu/cc26x2_cc13x2/Kconfig
  cpu/cc26xx_cc13xx/Kconfig
  cpu/cc26xx_cc13xx/periph/Kconfig
Labels: Platform: ARM, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig

#17243 sys/shell: hide random commands behind random_cmd pseudo-module
  makefiles/pseudomodules.inc.mk
  sys/shell/commands/Makefile
  sys/shell/commands/shell_commands.c
  tests/rng/Makefile
Labels: Area: tests, Area: build system, Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#17238 cpu/lpc1768: model kconfig
  .murdock
  boards/mbed_lpc1768/Kconfig
  boards/seeeduino_arch-pro/Kconfig
  cpu/lpc1768/Makefile.features
  cpu/lpc1768/lpc1768.config
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig

#17237 boards/ek-lm4f120xl: model kconfig
  boards/ek-lm4f120xl/Kconfig
Labels: Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#17251 tools/openocd: check OPENOCD_VERIFY after IMAGE_OFFSET is computed
  dist/tools/openocd/openocd.sh
Labels: Type: bug, CI: ready for build, Area: tools, CI: skip compile test

#16948 pkg/openthread: bump version to 20200818 + adapt to use CMake to configure the build
  examples/openthread/Makefile
  pkg/doc.txt
  pkg/openthread/Makefile
  pkg/openthread/Makefile.include
  pkg/openthread/contrib/netdev/openthread_netdev.c
  pkg/openthread/patches/0001-RIOT-use-assert.h.patch
Labels: Type: enhancement, Area: network, Area: doc, Area: pkg, CI: ready for build, Area: examples

#17106 sys/fmt: make fmt_s32_dfp() string based
  sys/fmt/fmt.c
  sys/include/fmt.h
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build, Area: sys

#17240 boards/common/arduino due: model kconfig
  .murdock
  boards/common/arduino-due/Kconfig
Labels: Impact: minor, CI: ready for build, Area: CI, Area: boards, Area: Kconfig

#17110 drivers/dsp0401: migrate to ztimer
  drivers/dsp0401/Kconfig
  drivers/dsp0401/Makefile.dep
  drivers/dsp0401/dsp0401.c
  tests/driver_dsp0401/Makefile
  tests/driver_dsp0401/app.config.test
  tests/driver_dsp0401/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17256 sys/atomic_utils: add atomic_{load,store}_ptr()
  sys/include/atomic_utils.h
  tests/sys_atomic_utils_unittests/main.c
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: sys

#17258 tools/radvd: fix help text
  dist/tools/radvd/radvd.sh
Labels: Area: doc, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#17195 tests/unittests: fix unaligned access
  tests/unittests/tests-checksum/tests-checksum-fletcher32.c
Labels: Type: bug, Area: tests, CI: ready for build

#17120 pkg/openthread: migrate to ztimer
  pkg/openthread/Makefile.dep
  pkg/openthread/contrib/openthread.c
  pkg/openthread/contrib/platform_alarm.c
Labels: Area: network, Area: pkg, CI: ready for build

#17175 pkg/lwip: Don't control IPv6 via IPv4 flag
  examples/paho-mqtt/Makefile
  tests/lwip/Makefile
  tests/lwip_sock_ip/Makefile
  tests/lwip_sock_tcp/Makefile
  tests/lwip_sock_udp/Makefile
Labels: Area: network, Area: tests, CI: ready for build, Area: examples

#17264 pkg/uwb-core: multiple cleanups
  examples/twr_aloha/control.c
  pkg/uwb-core/Kconfig
  pkg/uwb-core/Makefile.dep
  pkg/uwb-core/contrib/uwb_core.c
  pkg/uwb-core/contrib/uwb_core_init.c
  pkg/uwb-core/include/uwb_core.h
  pkg/uwb-dw1000/include/uwb_dw1000_config.h
Labels: Area: pkg, CI: ready for build, Area: examples, Area: Kconfig

#17134 cppcheck: output all annotations as error
  dist/tools/cppcheck/check.sh
Labels: Type: enhancement, CI: ready for build, Area: tools, CI: skip compile test

#17263 boards/common/saml1x: model kconfig
  boards/common/saml1x/Kconfig
Labels: Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#17271 Fix some cppcheck errors
  cpu/cortexm_common/thread_arch.c
  cpu/esp8266/startup.c
  cpu/esp_common/syscalls.c
  cpu/esp_common/thread_arch.c
  cpu/riscv_common/thread_arch.c
  tests/fault_handler/main.c
  tests/malloc/main.c
Labels: Platform: ARM, Area: tests, CI: ready for build, Platform: ESP, Platform: RISC-V, Area: cpu

#17269 sys/test_utils/result_output: add sort to multiple output check
  sys/test_utils/result_output/Makefile.dep
Labels: Type: cleanup, CI: ready for build, Area: sys

#17266 sys/tsrb: add peek functions
  sys/include/tsrb.h
  sys/tsrb/tsrb.c
  tests/unittests/tests-tsrb/tests-tsrb.c
Labels: Area: tests, CI: ready for build, Area: sys

#17272 sys/ztimer: remove double ztimer indirection
  bootloaders/riotboot_dfu/Makefile
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
  sys/ztimer/init.c
Labels: CI: ready for build, Area: timers, Area: sys, Area: Kconfig

#17094 .murdock: Add modules/pkgs diff of make/kconfig
  .murdock
  Makefile.include
  makefiles/kconfig.mk
Labels: Area: build system, Type: new feature, CI: ready for build, Area: CI, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Area: Kconfig

#17274 cpu/nrf51: model kconfig
  .murdock
  boards/airfy-beacon/Kconfig
  boards/calliope-mini/Kconfig
  boards/calliope-mini/Makefile.dep
  boards/common/microbit/Kconfig
  boards/common/microbit/Makefile.dep
  boards/common/nrf51/Kconfig
  boards/microbit-v2/Kconfig
  boards/microbit-v2/Makefile.dep
  boards/microbit/Kconfig
  boards/microbit/Makefile.dep
  boards/nrf51dk/Kconfig
  boards/nrf51dongle/Kconfig
  boards/yunjia-nrf51822/Kconfig
  drivers/bmx055/Kconfig
  drivers/mma8x5x/Kconfig
  drivers/periph_common/Kconfig.uart
  examples/asymcute_mqttsn/Makefile.ci
  examples/dtls-wolfssl/Makefile.ci
  examples/gcoap_dtls/Makefile.ci
  tests/Makefile.boards.netif
  tests/board_calliope-mini/Makefile
  tests/board_calliope-mini/README.md
  tests/board_calliope-mini/main.c
  tests/board_microbit/Makefile
  tests/board_microbit/app.config.test
  tests/gnrc_dhcpv6_client_stateless/Makefile.ci
  tests/saul/app.config.test
  tests/thread_float/Makefile.ci
Labels: Area: doc, Area: tests, Area: drivers, CI: ready for build, Area: CI, Area: boards, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: examples, Area: Kconfig

#17259 boards: add board support for Alientek Pandora
  boards/alientek-pandora/Kconfig
  boards/alientek-pandora/Makefile
  boards/alientek-pandora/Makefile.dep
  boards/alientek-pandora/Makefile.features
  boards/alientek-pandora/Makefile.include
  boards/alientek-pandora/board.c
  boards/alientek-pandora/doc.txt
  boards/alientek-pandora/include/board.h
  boards/alientek-pandora/include/gpio_params.h
  boards/alientek-pandora/include/periph_conf.h
Labels: Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#17282 static-tests: disable cppcheck
  dist/tools/ci/static_tests.sh
Labels: CI: ready for build, Area: tools, Process: needs >1 ACK, CI: skip compile test

#17270 boards/saml21-based: model kconfig
  .murdock
  boards/bastwan/Kconfig
  boards/bastwan/Makefile.features
  boards/bastwan/bastwan.config
  boards/saml21-xpro/Kconfig
  boards/samr30-xpro/Kconfig
  boards/samr34-xpro/Kconfig
  boards/yarm/Makefile.features
  boards/yarm/yarm.config
  drivers/sx127x/Kconfig
  sys/usb/Kconfig
  sys/usb/usbus/Kconfig
  sys/usb/usbus/cdc/acm/Kconfig
  sys/usb/usbus/cdc/ecm/Kconfig
  sys/usb/usbus/dfu/Kconfig
  sys/usb/usbus/hid/Kconfig
  tests/driver_sx127x/app.config.test
Labels: Area: tests, Area: drivers, CI: ready for build, Area: CI, Area: LoRa, Area: boards, Area: USB, Area: sys, Area: Kconfig

#17275 drivers/periph_i2c: let i2c_acquire return void
  cpu/atmega_common/periph/i2c.c
  cpu/atxmega/periph/i2c.c
  cpu/cc2538/periph/i2c.c
  cpu/cc26xx_cc13xx/periph/i2c.c
  cpu/efm32/periph/i2c.c
  cpu/esp32/periph/i2c_hw.c
  cpu/esp_common/periph/i2c_sw.c
  cpu/fe310/periph/i2c.c
  cpu/kinetis/periph/i2c.c
  cpu/lpc23xx/periph/i2c.c
  cpu/nrf51/periph/i2c.c
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
  cpu/qn908x/periph/i2c.c
  cpu/sam0_common/periph/i2c.c
  cpu/stm32/periph/i2c_1.c
  cpu/stm32/periph/i2c_2.c
  drivers/aip31068/aip31068.c
  drivers/apds99xx/apds99xx.c
  drivers/at24cxxx/at24cxxx.c
  drivers/at24mac/at24mac.c
  drivers/bh1900nux/bh1900nux.c
  drivers/bmx280/bmx280.c
  drivers/ccs811/ccs811.c
  drivers/ds3231/ds3231.c
  drivers/hmc5883l/hmc5883l.c
  drivers/hsc/hsc.c
  drivers/ina3221/ina3221.c
  drivers/include/periph/i2c.h
  drivers/itg320x/itg320x.c
  drivers/lis2dh12/lis2dh12.c
  drivers/lm75/lm75.c
  drivers/mpu9x50/mpu9x50.c
  drivers/pca9633/pca9633.c
  drivers/pca9685/pca9685.c
  drivers/qmc5883l/qmc5883l.c
  drivers/sgp30/sgp30.c
  drivers/sht3x/sht3x.c
  drivers/sps30/sps30.c
  drivers/tsl4531x/tsl4531x.c
  sys/arduino/wireport.cpp
  sys/shell/commands/sc_i2c_scan.c
  tests/periph_i2c/main.c
  tests/pkg_fff/main.c
Labels: Platform: ARM, Area: tests, Platform: AVR, Process: API change, Area: drivers, CI: ready for build, Area: arduino API, Platform: ESP, Platform: RISC-V, Area: cpu, Process: needs >1 ACK, Area: sys

#17285 boards/stm32f746g-disco: add usbdev feature
  boards/stm32f746g-disco/Kconfig
  boards/stm32f746g-disco/Makefile.features
  boards/stm32f746g-disco/include/periph_conf.h
Labels: Type: new feature, Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#17255 .murdock: Add same54-xpro to kconfig tests
  .murdock
  boards/adafruit-itsybitsy-m4/Kconfig
  boards/avr-rss2/Makefile.dep
  boards/same54-xpro/Kconfig
  cpu/sam0_common/periph/Kconfig
  drivers/at24mac/Kconfig
  drivers/periph_common/Kconfig.gpio
  drivers/periph_common/Kconfig.spi
  makefiles/features_modules.inc.mk
  tests/periph_gpio/Kconfig
  tests/periph_spi/Kconfig
  tests/periph_spi_dma/Kconfig
Labels: Platform: ARM, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig

#17289 drivers/sx126x/Kconfig: rework model selection
  drivers/sx126x/Kconfig
  tests/driver_sx126x/app.config.test
Labels: Area: tests, Area: drivers, CI: ready for build, Area: LoRa, Area: Kconfig

#17292 tests/unittests/tests-base64: enlarge test buffer for worst case
  tests/unittests/tests-base64/tests-base64.c
Labels: Area: tests, CI: ready for build
