Repository RIOT-OS/RIOT, pull requests merged in 2021-10, with the labels that each got.

#16927 make: support package mirrors
  .murdock
  pkg/pkg.mk
  pkg/yxml/Makefile
Labels: Area: build system, Area: pkg, CI: ready for build, Area: CI

#16920 cpu/{atxmega,atmega_common}: fix invalid use of PSTR()
  cpu/atmega_common/atmega_cpu.c
  cpu/atxmega/atxmega_cpu.c
Labels: Type: bug, Impact: minor, Platform: AVR, CI: ready for build, Process: needs backport, Area: cpu

#16923 docker: pass CONTINUE_ON_EXPECTED_ERRORS into container
  makefiles/docker.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#16931 drivers/lm75: minor cleanup
  drivers/lm75/include/lm75_params.h
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build

#16933 cpu/{atxmega,atmega_common}: fix invalid use of PSTR() [backport 2021.10]
  cpu/atmega_common/atmega_cpu.c
  cpu/atxmega/atxmega_cpu.c
Labels: Type: bug, Impact: minor, Platform: AVR, CI: ready for build, Process: release backport, Area: cpu

#16937 pkg/emlearn: bump to 0.12
  pkg/emlearn/Makefile
Labels: Area: pkg, CI: ready for build

#16938 pkg/jerryscript: bump to 2.4.0
  pkg/jerryscript/Makefile
  pkg/jerryscript/Makefile.dep
  pkg/jerryscript/Makefile.include
Labels: Area: pkg, CI: ready for build

#16913 test/ieee802154_hal: general cleanup and cosmetic fixes
  sys/net/link_layer/Kconfig
  sys/net/link_layer/l2util/Kconfig
  tests/ieee802154_hal/Makefile
  tests/ieee802154_hal/app.config.test
  tests/ieee802154_hal/main.c
Labels: Area: network, Area: tests, Type: cleanup, CI: ready for build, Area: sys, Area: Kconfig

#16474 drivers/w5100/w5100.c: fix TX_WR register's value
  drivers/w5100/w5100.c
Labels: Type: bug, Area: network, Impact: minor, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#16941 hacl: Switch git address to RIOT-OS-pkgmirror
  pkg/hacl/Makefile
Labels: Type: question, Area: pkg, CI: ready for build

#16936 Update tiny-asn1 package
  pkg/tiny-asn1/Makefile
  sys/net/credman/credman.c
  tests/pkg_tiny-asn1/main.c
Labels: Area: network, Area: tests, Area: pkg, CI: ready for build, Area: sys

#16821 cc2538_rf: remove RX Busy detection in request_set_trx_state
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf.c
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#16939 pkg/qr-code-generator: bump to 1.7.0
  pkg/qr-code-generator/Makefile
Labels: Area: pkg, CI: ready for build

#16731 sys/net/dhcpv6: Add stateless DHCPv6
  sys/include/net/dhcpv6.h
  sys/include/net/dhcpv6/client.h
  sys/net/application_layer/dhcpv6/_dhcpv6.h
  sys/net/application_layer/dhcpv6/client.c
  sys/net/gnrc/application_layer/dhcpv6/client_simple_pd.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/gnrc_dhcpv6_client/main.c
  tests/gnrc_dhcpv6_client_stateless/Makefile
  tests/gnrc_dhcpv6_client_stateless/Makefile.board.dep
  tests/gnrc_dhcpv6_client_stateless/Makefile.ci
  tests/gnrc_dhcpv6_client_stateless/README.md
  tests/gnrc_dhcpv6_client_stateless/app.config
  tests/gnrc_dhcpv6_client_stateless/main.c
  tests/gnrc_dhcpv6_client_stateless/test-graph.svg
  tests/gnrc_dhcpv6_client_stateless/tests-as-root/01-run.py
Labels: Type: enhancement, Area: network, Area: doc, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Area: sys

#16943 drivers: move pseudomodules definitions to each driver Makefile.include
  drivers/adcxx1c/Makefile.include
  drivers/apds99xx/Makefile.include
  drivers/at/Makefile.include
  drivers/at24cxxx/Makefile.include
  drivers/at86rf215/Makefile.include
  drivers/at86rf2xx/Makefile.include
  drivers/bme680/Makefile.include
  drivers/bmx280/Makefile.include
  drivers/bq2429x/Makefile.include
  drivers/cc110x/Makefile.include
  drivers/ccs811/Makefile.include
  drivers/ds18/Makefile.include
  drivers/ds3231/Makefile.include
  drivers/hmc5883l/Makefile.include
  drivers/ina2xx/Makefile.include
  drivers/ina3221/Makefile.include
  drivers/itg320x/Makefile.include
  drivers/lis2dh12/Makefile.include
  drivers/lm75/Makefile.include
  drivers/lpsxxx/Makefile.include
  drivers/mhz19/Makefile.include
  drivers/mpu9x50/Makefile.include
  drivers/mrf24j40/Makefile.include
  drivers/pn532/Makefile.include
  drivers/qmc5883l/Makefile.include
  drivers/rn2xx3/Makefile.include
  drivers/sdp3x/Makefile.include
  drivers/sht1x/Makefile.include
  drivers/si114x/Makefile.include
  drivers/si70xx/Makefile.include
  drivers/sx126x/Makefile.include
  drivers/sx127x/Makefile.include
  drivers/tmp00x/Makefile.include
  drivers/vcnl40x0/Makefile.include
  drivers/ws281x/Makefile.include
  makefiles/pseudomodules.inc.mk
Labels: Area: build system, Impact: minor, Type: cleanup, Area: drivers, CI: ready for build, Area: LoRa

#16947 gnrc_ipv6_nib: queue packets that trigger probing on border router
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/Kconfig
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: sys, Area: Kconfig

#16909 cpu/riscv: model Kconfig
  .murdock
  cpu/fe310/Kconfig
  cpu/fe310/periph/Kconfig
  cpu/fe310/vendor/Kconfig
  cpu/gd32v/Kconfig
  cpu/gd32v/periph/Kconfig
  cpu/riscv_common/Kconfig
  cpu/riscv_common/periph/Kconfig
  makefiles/features_modules.inc.mk
  sys/Kconfig
  sys/Kconfig.newlib
  sys/Kconfig.picolibc
  sys/Kconfig.stdio
  sys/ztimer/Makefile.dep
Labels: Area: build system, Type: new feature, CI: ready for build, Area: CI, Area: timers, Platform: RISC-V, Area: cpu, Area: sys, Area: Kconfig

#16945 Makefile.base: cleanup non selected source object files
  Makefile.base
Labels: Type: bug, Area: build system, CI: ready for build

#16951 sys/auto_init: fix indention
  sys/auto_init/auto_init.c
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#16922 netdev: add netdev_register_signal
  drivers/include/net/netdev.h
  tests/driver_at86rf215/Makefile
  tests/driver_at86rf215/main.c
Labels: Area: tests, Area: drivers, CI: ready for build

#17084 boards/nucleo-g07xrb: fix or exclude some doxygen warnings [backport 2021.10]
  boards/nucleo-g070rb/include/periph_conf.h
  boards/nucleo-g071rb/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
Labels: Type: bug, CI: ready for build, Area: tools, Area: boards, Process: release backport
