Repository RIOT-OS/RIOT, pull requests merged in 2022-04, with the labels that each got.

#17886 cpu/sam0_eth: implement SLEEP state
  cpu/sam0_common/periph/eth.c
  cpu/sam0_common/sam0_eth/eth-netdev.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#17878 pkg/tinydtls: crypto: remove unnecessary usage of malloc()
  pkg/tinydtls/patches/0005-crypto-remove-unnecessary-usage-of-malloc-dtls_hmac_.patch
  pkg/tinydtls/patches/0006-crypto-only-one-HMAC-context-is-required.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#17858 make: pkg.mk: don't call `git am` if there are no patches
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, Type: cleanup, CI: ready for build

#17824 pkg/semtech-loramac: enable setting channels mask
  pkg/semtech-loramac/contrib/semtech_loramac_getset.c
  pkg/semtech-loramac/include/semtech_loramac.h
  pkg/semtech-loramac/patches/0005-relax-channel-mask-rules-in-regi.patch
  sys/include/net/loramac.h
  sys/shell/commands/sc_loramac.c
Labels: Area: network, Area: pkg, CI: ready for build, Area: LoRa, Area: sys

#17843 examples/gcoap_block_server: add gcoap block server example
  examples/gcoap_block_server/Makefile
  examples/gcoap_block_server/Makefile.ci
  examples/gcoap_block_server/README.md
  examples/gcoap_block_server/gcoap_block.c
  examples/gcoap_block_server/main.c
Labels: Area: doc, CI: ready for build, Area: examples

#17900 pkg/openwsn: add patch to use memmove() instead of memcpy()
  pkg/openwsn/patches/0014-openstack-03a-IPHC-use-memmove-instead-of-memcpy.patch
Labels: Type: bug, Area: network, Area: pkg, CI: ready for build

#17778 gnrc/ndp: bugfix set O-flag if target is not anycast
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17892 sys: some simple xtimer->ztimer conversions
  sys/Makefile.dep
  sys/net/application_layer/uhcp/uhcpc.c
  sys/net/link_layer/csma_sender/csma_sender.c
  sys/suit/transport/coap.c
Labels: Area: network, CI: ready for build, Area: OTA, Area: sys

#17901 cpu/riscv_common: fix undeclared memory region linker error
  cpu/riscv_common/ldscripts/riscv_base.ld
Labels: Type: bug, Impact: minor, CI: ready for build, Platform: RISC-V, Area: cpu

#17898 cpu/arm7, arch/cortexm: Remove -fno-builtin flag
  cpu/arm7_common/Makefile.include
  makefiles/arch/cortexm.inc.mk
Labels: Platform: ARM, Area: build system, CI: ready for build, Area: cpu

#17794 sys/auto_init: custom auto-initialization sequence (simple)
  sys/auto_init/Kconfig
  sys/auto_init/Makefile
  sys/auto_init/auto_init.c
  sys/auto_init/include/auto_init_priorities.h
  sys/include/auto_init_utils.h
  tests/external_module_dirs/README.md
  tests/external_module_dirs/external_modules/external_module/external_module.c
  tests/external_module_dirs/external_modules/external_module/include/external_module.h
  tests/external_module_dirs/main.c
Labels: Area: doc, Area: tests, CI: ready for build, Area: sys, Area: Kconfig

#17880 drivers/atwinc15x0: join multicast groups
  drivers/atwinc15x0/atwinc15x0_netdev.c
Labels: Type: bug, Area: drivers, CI: ready for build

#17805 rust: test on stable
  doc/doxygen/src/using-rust.md
  tests/rust_minimal/Cargo.toml
  tests/rust_minimal/Makefile
Labels: Area: doc, Area: tests, CI: ready for build, CI: run tests, Area: Rust

#17895 sys/pm_layered: use array representation, get rid of implicit IDLE mode
  cpu/atxmega/include/periph_cpu.h
  cpu/cc2538/include/periph_cpu.h
  cpu/efm32/include/periph_cpu.h
  cpu/esp32/include/periph_cpu.h
  cpu/kinetis/include/periph_cpu.h
  cpu/lpc1768/include/periph_cpu.h
  cpu/lpc23xx/include/periph_cpu.h
  cpu/samd21/include/periph_cpu.h
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  cpu/saml21/include/periph_cpu.h
  cpu/stm32/include/periph/cpu_pm.h
  examples/lorawan/Makefile
  examples/lorawan/main.c
  sys/include/pm_layered.h
  sys/pm_layered/pm.c
  sys/shell/commands/sc_pm.c
  tests/periph_pm/main.c
Labels: Platform: ARM, Area: tests, Process: API change, CI: ready for build, Platform: ESP, Area: cpu, Area: sys, Area: examples

#17879 driver/mtd_spi_nor: cleanup sleep timing
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, CI: ready for build

#17877 boards/nucleo-f334r8: improvements to documentation
  boards/nucleo-f334r8/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#17871 sys/net/application_layer/sock_dns_mock: add module for mocking sock_dns
  sys/Makefile
  sys/include/net/dns_mock.h
  sys/net/application_layer/sock_dns_mock/Makefile
  sys/net/application_layer/sock_dns_mock/dns_mock.c
  sys/net/netutils/util.c
  sys/net/sock/sock_util.c
  tests/netutils/Makefile
  tests/netutils/main.c
  tests/netutils/mock_dns.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys

#17908 pkg/tflite-micro: add support and deprecate tensorflow-lite
  pkg/flatbuffers/Makefile
  pkg/flatbuffers/patches/0001-Silence-Wcast-align-in-public-headers.patch
  pkg/gemmlowp/Makefile
  pkg/ruy/Kconfig
  pkg/ruy/Makefile
  pkg/ruy/Makefile.dep
  pkg/ruy/Makefile.include
  pkg/ruy/doc.txt
  pkg/ruy/ruy.mk
  pkg/tensorflow-lite/Makefile
  pkg/tensorflow-lite/Makefile.dep
  pkg/tensorflow-lite/doc.txt
  pkg/tflite-micro/Makefile
  pkg/tflite-micro/Makefile.dep
  pkg/tflite-micro/Makefile.include
  pkg/tflite-micro/doc.txt
  pkg/tflite-micro/patches/0001-fix-build-with-private-descriptor.patch
  pkg/tflite-micro/tflite-c.mk
  pkg/tflite-micro/tflite-core-api.mk
  pkg/tflite-micro/tflite-kernels-internal-reference.mk
  pkg/tflite-micro/tflite-kernels-internal.mk
  pkg/tflite-micro/tflite-kernels.mk
  pkg/tflite-micro/tflite-micro-kernels.mk
  pkg/tflite-micro/tflite-micro-memory-planner.mk
  pkg/tflite-micro/tflite-micro.mk
  pkg/tflite-micro/tflite-schema.mk
  tests/pkg_tensorflow-lite/Makefile
  tests/pkg_tflite-micro/Makefile
  tests/pkg_tflite-micro/Makefile.ci
  tests/pkg_tflite-micro/README.md
  tests/pkg_tflite-micro/external_modules/mnist/.gitignore
  tests/pkg_tflite-micro/external_modules/mnist/Makefile
  tests/pkg_tflite-micro/external_modules/mnist/digit
  tests/pkg_tflite-micro/external_modules/mnist/generate_digit.py
  tests/pkg_tflite-micro/external_modules/mnist/main_functions.cc
  tests/pkg_tflite-micro/external_modules/mnist/mnist_mlp.py
  tests/pkg_tflite-micro/external_modules/mnist/model.tflite
  tests/pkg_tflite-micro/main.cpp
  tests/pkg_tflite-micro/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: Kconfig

#15953 congure_reno: initial import of TCP Reno congestion control
  sys/Makefile.dep
  sys/congure/Kconfig
  sys/congure/Makefile
  sys/congure/reno/Kconfig
  sys/congure/reno/Makefile
  sys/congure/reno/congure_reno.c
  sys/congure/reno/methods/Makefile
  sys/congure/reno/methods/congure_reno_methods.c
  sys/include/congure/reno.h
  tests/congure_reno/Makefile
  tests/congure_reno/Makefile.ci
  tests/congure_reno/README.md
  tests/congure_reno/app.config
  tests/congure_reno/app.config.test
  tests/congure_reno/congure_impl.c
  tests/congure_reno/congure_impl.h
  tests/congure_reno/main.c
  tests/congure_reno/tests/01-run.py
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build, Area: sys, Area: Kconfig

#17909 drivers/periph_common/cpuid: disable false positive warnings
  drivers/periph_common/cpuid.c
Labels: Area: drivers, CI: ready for build, Process: needs backport

#17910 drivers/periph_common/cpuid: disable false positive warnings [backport 2022.04]
  drivers/periph_common/cpuid.c
Labels: Area: drivers, CI: ready for build, Process: release backport

#17911 drivers/periph_cpuid: Minor cleanup
  drivers/periph_common/cpuid.c
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build

#17915 boards/samr34: cleanup, add 2nd uart & timer
  boards/samr34-xpro/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools, Area: boards

#17916 drivers/periph_cpuid: Minor cleanup [backport 2022.04]
  drivers/periph_common/cpuid.c
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build, Process: release backport

#17920 Fix argument type of lora_time_on_air to avoid errors in C++
  sys/include/net/loramac.h
Labels: Area: network, Impact: minor, CI: ready for build, Area: LoRa

#17923 cpu/stm32/include/periph/f7: add missing ADC_DEVS
  cpu/stm32/include/periph/f7/periph_cpu.h
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#17096 Fido2 follow up
  sys/Makefile.dep
  sys/fido2/ctap/Kconfig
  sys/fido2/ctap/ctap.c
  sys/fido2/ctap/ctap_cbor.c
  sys/fido2/ctap/ctap_mem.c
  sys/fido2/ctap/ctap_utils.c
  sys/fido2/doc.txt
  sys/include/fido2/ctap/ctap.h
  sys/include/fido2/ctap/ctap_crypto.h
  sys/include/fido2/ctap/ctap_mem.h
  tests/sys_fido2_ctap/README.md
  tests/sys_fido2_ctap/reset.py
Labels: Area: doc, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Area: sys, Area: Kconfig

#16316 makesystem: speedup pkg cloning if no git-cache is available
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, CI: skip compile test

#17917 tests: move riot_logo.h to tests base directory
  tests/disp_dev/Makefile
  tests/disp_dev/main.c
  tests/driver_ili9341/Makefile
  tests/driver_ili9341/riot_logo.h
  tests/driver_st7735/Makefile
  tests/driver_st7735/riot_logo.h
  tests/periph_ltdc/Makefile
  tests/periph_ltdc/main.c
  tests/periph_ltdc/riot_logo.h
  tests/riot_logo.h
Labels: Area: tests, CI: ready for build

#17903 boards/adafruit-pybadge: enable ST7735 display
  boards/adafruit-pybadge/Kconfig
  boards/adafruit-pybadge/Makefile.dep
  boards/adafruit-pybadge/board.c
  boards/adafruit-pybadge/include/board.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#17928 test/pbkdf2: enlarge stdio rx buffer
  tests/pbkdf2/Makefile
Labels: Area: tests, CI: ready for build

#17600 gnrc/nib: only enable RTR_ADV on RA if MULTIHOP_P6C is enabled
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17933 CI: disable microbit testing
  .murdock
Labels: CI: ready for build, Area: CI

#17934 Fix typos
  sys/include/can/doc.txt
  tests/pipe/main.c
  tests/unittests/tests-kernel_defines/tests-kernel_defines.c
Labels: Area: doc, Area: tests, Impact: minor, CI: ready for build, Area: sys

#17509 sys/net/nanocoap: refactor to remove work-buffer requirement
  sys/include/net/nanocoap.h
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  sys/suit/handlers_command_seq.c
  sys/suit/transport/coap.c
  tests/nanocoap_cli/nanocli_client.c
Labels: Area: network, Area: tests, CI: ready for build, Area: OTA, Area: CoAP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys

#17946 sys/include/net/af: fix doc comment
  sys/include/net/af.h
Labels: Area: network, CI: ready for build, Area: sys, CI: skip compile test

#17947 sys/net/application_layer/gcoap: use COAP_PORT
  sys/net/application_layer/gcoap/forward_proxy.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: CoAP, Area: sys

#17940 drivers/ethos: add missing vfs include
  drivers/ethos/stdio.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#17944 gcoap: small dependencies fixes
  sys/Makefile.dep
  sys/net/gnrc/Makefile.dep
Labels: Area: network, CI: ready for build, Area: sys

#17948 boards/nucleo-f401re: add riotboot
  boards/nucleo-f401re/Kconfig
  boards/nucleo-f401re/Makefile.features
Labels: CI: ready for build, Area: boards, Area: Kconfig

#17942 sys/riotboot/hdr: change header validation log to DEBUG
  sys/riotboot/hdr.c
Labels: Impact: minor, CI: ready for build, Area: sys

#17953 CI: disable microbit testing [backport 2022.04]
  .murdock
Labels: CI: ready for build, Area: CI, Process: release backport, CI: skip compile test

#17939 sys/suit: save seq_number when parsing manifest
  sys/include/suit.h
  sys/suit/handlers_global.c
  sys/suit/storage/ram.c
  tests/suit_manifest/create_test_data.sh
Labels: Area: tests, CI: ready for build, Area: OTA, Area: sys

#17955 examples/wasm: ignore generated hello.wasm
  examples/wasm/.gitignore
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: examples, CI: skip compile test

#16806 makefiles: Reject `2>&1 >/dev/null`, and weed out remaining offenders
  dist/testbed-support/makefile.iotlab.single.inc.mk
  dist/tools/buildsystem_sanity_check/check.sh
Labels: Area: build system, CI: ready for build, Area: tools

#17936 drivers/mtd_spi_nor: fix off by one bug [backport 2022.04]
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build, Process: release backport

#17941 sys/sc_suit: add seq_no command
  dist/pythonlibs/riotctrl_shell/sys.py
  dist/pythonlibs/riotctrl_shell/tests/test_sys.py
  sys/shell/commands/sc_suit.c
Labels: Area: tests, CI: ready for build, Area: sys

#17961 doc: fix broken link/footnote in using-rust.md/maintenance
  doc/doxygen/src/using-rust.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#17814 ipv6/nib: bugfix handle SLLAO on 6LR if ARO is not present
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6lr.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6lr.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17952 sys/event: Add documentation and enforce waiter on wait
  sys/event/event.c
  sys/include/event.h
Labels: Type: enhancement, CI: ready for build, Area: sys

#17459 drivers/cst816s: add touch_dev interface + add Kconfig + migrate to ztimer
  boards/pinetime/Kconfig
  boards/pinetime/Makefile.dep
  drivers/Kconfig
  drivers/cst816s/Kconfig
  drivers/cst816s/Makefile
  drivers/cst816s/Makefile.dep
  drivers/cst816s/cst816s.c
  drivers/cst816s/cst816s_touch_dev.c
  drivers/cst816s/include/cst816s_internal.h
  drivers/cst816s/include/cst816s_params.h
  drivers/cst816s/include/cst816s_touch_dev.h
  drivers/include/cst816s.h
  sys/auto_init/screen/auto_init_cst816s.c
  sys/auto_init/screen/init.c
Labels: Type: enhancement, Area: drivers, CI: ready for build, Area: boards, Area: sys, Area: Kconfig

#17921 drivers/disp_dev: use struct to store display area coordinates
  cpu/stm32/periph/ltdc.c
  drivers/disp_dev/disp_dev.c
  drivers/include/disp_dev.h
  drivers/lcd/lcd_disp_dev.c
  pkg/lvgl/contrib/lvgl.c
  pkg/lvgl7/contrib/lvgl.c
  tests/disp_dev/main.c
  tests/pkg_qr-code-generator/main.c
Labels: Platform: ARM, Area: tests, Area: pkg, Process: API change, Area: drivers, CI: ready for build, Area: cpu

#17925 drivers/lcd: slightly rework params to expose offset values to ili9341 driver
  boards/adafruit-clue/include/board.h
  drivers/ili9341/ili9341.c
  drivers/ili9341/include/ili9341_params.h
  drivers/include/lcd.h
  drivers/include/st7735.h
  drivers/lcd/include/lcd_internal.h
  drivers/st7735/include/st7735_params.h
  drivers/st7735/st7735.c
  sys/auto_init/screen/auto_init_st7735.c
  tests/driver_st7735/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: boards, Area: sys

#17963 examples/suit_udpate: update check suit command
  examples/suit_update/tests-with-config/01-run.py
Labels: CI: ready for build, Area: examples, CI: skip compile test

#17945 drivers/mcp2515: fixes and cleanups
  drivers/include/candev_mcp2515.h
  drivers/mcp2515/Kconfig
  drivers/mcp2515/Makefile.dep
  drivers/mcp2515/candev_mcp2515.c
  drivers/mcp2515/mcp2515.c
  drivers/mcp2515/mcp2515_spi.c
  sys/auto_init/can/auto_init_mcp2515.c
Labels: Area: drivers, CI: ready for build, Area: sys, Area: Kconfig

#17533 periph_can,candev: socketcan pkg for native, candev test cleanup
  boards/native/Makefile.dep
  cpu/native/Makefile.include
  pkg/libsocketcan/Kconfig
  pkg/libsocketcan/Makefile
  pkg/libsocketcan/Makefile.include
  pkg/libsocketcan/Makefile.libsocketcan
  pkg/libsocketcan/doc.txt
  tests/candev/Makefile
  tests/candev/Makefile.board.dep
  tests/candev/main.c
Labels: Platform: native, Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#17968 drivers/scard_spi: _dyn_spi_rxtx_byte return void
  drivers/sdcard_spi/sdcard_spi.c
Labels: Area: drivers, CI: ready for build

#17969 examples/lorawan: disable loramac state persistence on EEPROM
  examples/lorawan/Makefile
Labels: Type: bug, CI: ready for build, Process: needs backport, Area: examples

#17970 examples/lorawan: disable loramac state persistence on EEPROM [backport 2022.04]
  examples/lorawan/Makefile
Labels: Type: bug, CI: ready for build, Process: release backport, Area: examples

#17930 drivers/lcd: rework rotation management and enable it for st7735
  boards/adafruit-clue/include/board.h
  boards/adafruit-pybadge/include/board.h
  boards/esp32-wrover-kit/include/board.h
  boards/pinetime/include/board.h
  drivers/ili9341/include/ili9341_params.h
  drivers/include/ili9341.h
  drivers/include/lcd.h
  drivers/include/st7735.h
  drivers/st7735/include/st7735_params.h
  drivers/st7735/st7735.c
Labels: Area: drivers, CI: ready for build, Area: boards

#17974 pm: don't (un)block IDLE mode
  examples/lorawan/main.c
  pkg/openwsn/contrib/board.c
Labels: Area: network, Area: pkg, CI: ready for build, Process: needs backport, Area: examples

#17975 pm: don't (un)block IDLE mode [backport 2022.04]
  examples/lorawan/main.c
  pkg/openwsn/contrib/board.c
Labels: Area: network, Area: pkg, CI: ready for build, Process: release backport, Area: examples

#17977 nanocoap: follow-up fixes (uncontroversial parts)
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#17960 nanocoap_sock: add nanocoap_sock_url_connect()
  sys/include/net/nanocoap_sock.h
  sys/include/net/sock/util.h
  sys/net/application_layer/nanocoap/sock.c
  sys/net/sock/sock_util.c
  tests/unittests/tests-sock_util/tests-sock_util.c
Labels: Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#17973 examples/suit_update/test: use 'suit seq_no' to get version
  dist/pythonlibs/riotctrl_shell/sys.py
  dist/pythonlibs/riotctrl_shell/tests/test_sys.py
  examples/suit_update/tests-with-config/01-run.py
  sys/shell/commands/sc_suit.c
Labels: Area: tests, CI: ready for build, Area: sys, Area: examples

#17976 nanocoap: add coap_get_token()
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#17950 nanocoap: follow-up fixes
  sys/Makefile.dep
  sys/net/application_layer/nanocoap/sock.c
  tests/nanocoap_cli/Makefile
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#17989 ztimer64_xtimer_compat: fix ztimer_msleep()
  sys/include/ztimer64/xtimer_compat.h
Labels: Type: bug, Impact: minor, CI: ready for build, Process: needs backport, Area: sys

#17991 ztimer64_xtimer_compat: fix ztimer_msleep() [backport 2022.04]
  sys/include/ztimer64/xtimer_compat.h
Labels: Type: bug, Impact: minor, CI: ready for build, Process: release backport, Area: sys

#13698 nanocoap: Add handler for resource-based subtrees
  sys/include/net/nanocoap.h
  sys/include/suit/transport/coap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/suit/transport/coap.c
Labels: Type: enhancement, Area: network, Type: cleanup, CI: ready for build, Area: OTA, Area: CoAP, Area: sys

#17987 pkg/pkg: add GIT_QUIET
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build

#17949 native/periph_can: usability improvements and documentation updates
  boards/native/Makefile.dep
  boards/native/Makefile.include
  cpu/native/include/can_params.h
  cpu/native/include/candev_linux.h
  tests/candev/README.md
  tests/candev/README.native.can.md
  tests/conn_can/README.md
Labels: Platform: native, Area: doc, Area: tests, CI: ready for build, Area: boards, Area: cpu

#17998 pkg/uwb-core: remove uwbcfg
  pkg/mynewt-core/include/syscfg/syscfg.h
  pkg/uwb-core/Kconfig
  pkg/uwb-core/Makefile
  pkg/uwb-core/Makefile.dep
  pkg/uwb-core/include/dpl_syscfg/syscfg_uwbcfg.h
Labels: Area: pkg, CI: ready for build, Area: Kconfig

#18002 pkg/hacl: documentation link update
  pkg/hacl/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build, CI: skip compile test

#18004 ztimer64/xtimer_compat: fix ztimer64_msg_receive_timeout() use ZTIMER_USEC
  sys/include/ztimer64/xtimer_compat.h
Labels: Type: bug, Impact: minor, CI: ready for build, Process: needs backport, Area: sys

#18000 pkg/uwb-dw1000: fix default group delay, use OTP values when possible
  pkg/uwb-core/Makefile.include
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ds.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ds_ext.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ss.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ss_ack.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ss_ext.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_uwb_rng.h
  pkg/uwb-dw1000/0006-hw-drivers-dw1000_otp-fix-function-signature.patch
  pkg/uwb-dw1000/hal/uwb_dw1000.c
  pkg/uwb-dw1000/include/uwb_dw1000.h
  pkg/uwb-dw1000/include/uwb_dw1000_config.h
Labels: Area: pkg, CI: ready for build

#17999 pkg/uwb-core: adjust holdoff time when rxdiag_enabled
  examples/twr_aloha/Makefile
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ds.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ds_ext.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ss.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ss_ack.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_twr_ss_ext.h
  pkg/uwb-core/include/dpl_syscfg/syscfg_uwb_rng.h
Labels: Area: pkg, CI: ready for build, Area: examples

#17997 pkg/cmsis-nn: model in Kconfig
  pkg/Kconfig
  pkg/cmsis-nn/Kconfig
  pkg/cmsis-nn/Makefile
  pkg/cmsis-nn/Makefile.dep
  tests/pkg_cmsis-nn/app.config.test
Labels: Area: tests, Area: pkg, CI: ready for build, Area: Kconfig

#17695 examples/lorawan/main: use auto_init_loramac
  examples/lorawan/Makefile
  examples/lorawan/main.c
Labels: CI: ready for build, Area: examples

#18006 ztimer64/xtimer_compat: fix ztimer64_msg_receive_timeout() use ZTIMER_USEC
  sys/include/ztimer64/xtimer_compat.h
Labels: CI: ready for build, Process: release backport, Area: sys

#17980 cpu/nrf5x_common: implement periph/gpio_ll{,_irq}
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.features
  cpu/nrf5x_common/include/gpio_ll_arch.h
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/gpio_ll.c
  cpu/nrf5x_common/periph/gpio_ll_irq.c
  cpu/nrf9160/Kconfig
Labels: Platform: ARM, Type: new feature, CI: ready for build, Area: cpu, Area: Kconfig

#18008 pkg/corejson: fix missing kconfig import + model test application configuration
  pkg/Kconfig
  tests/pkg_corejson/app.config.test
Labels: Area: tests, Area: pkg, CI: ready for build, Area: Kconfig

#17993 docker: don't export KCONFIG_ADD_CONFIG variable
  makefiles/docker.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build

#16812 net/cord doc: Usability fixes
  dist/tools/doccheck/exclude_patterns
  sys/include/net/cord/config.h
Labels: Type: enhancement, Area: network, Impact: minor, CI: ready for build, Area: tools, Area: sys, CI: skip compile test

#16974 pkg/lwip: Add netif_t struct, register all netifs
  pkg/lwip/contrib/_netif.c
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/include/lwip/netif/compat.h
  pkg/lwip/include/lwip/netif/netdev.h
  pkg/lwip/include/lwip_init_devs.h
  pkg/lwip/init_devs/auto_init_at86rf215.c
  pkg/lwip/init_devs/auto_init_at86rf2xx.c
  pkg/lwip/init_devs/auto_init_atwinc15x0.c
  pkg/lwip/init_devs/auto_init_cc2538_rf.c
  pkg/lwip/init_devs/auto_init_dose.c
  pkg/lwip/init_devs/auto_init_enc28j60.c
  pkg/lwip/init_devs/auto_init_esp_eth.c
  pkg/lwip/init_devs/auto_init_esp_wifi.c
  pkg/lwip/init_devs/auto_init_ethos.c
  pkg/lwip/init_devs/auto_init_mrf24j40.c
  pkg/lwip/init_devs/auto_init_netdev_tap.c
  pkg/lwip/init_devs/auto_init_nrf802154.c
  pkg/lwip/init_devs/auto_init_sam0_eth.c
  pkg/lwip/init_devs/auto_init_socket_zep.c
  pkg/lwip/init_devs/auto_init_stm32_eth.c
  pkg/lwip/init_devs/init.c
  sys/shell/commands/sc_lwip_netif.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_udp/stack.c
Labels: Type: enhancement, Area: network, Area: tests, Area: pkg, CI: ready for build, Area: sys

#17984 sys/suit: avoid installing payload twice
  sys/include/suit.h
  sys/suit/handlers_command_seq.c
Labels: CI: ready for build, Area: OTA, Area: sys

#18018 CODEOWNERS: replace cgundogan->MrKevinWeiss for kconfig
  CODEOWNERS
Labels: CI: ready for build, TF: Config, CI: skip compile test

#17988 example/twr_aloha: fixes
  examples/twr_aloha/control.c
  examples/twr_aloha/control.h
  examples/twr_aloha/tests-with-config/01-run.py
  examples/twr_aloha/twr_shell.c
  examples/twr_aloha/twr_shell.py
Labels: CI: ready for build, Area: examples

#18022 pkg/uwb-core: reduce default stacksize
  pkg/uwb-core/include/uwb_core.h
Labels: Area: pkg, CI: ready for build

#18020 sys/suit/storage: change log to LOG_DEBUG
  sys/suit/storage/flashwrite.c
Labels: CI: ready for build, Area: OTA, Area: sys

#17774 pkg/nimble/autoadv: add support for ext_adv
  Makefile.include
  dist/tools/doccheck/exclude_patterns
  examples/nimble_gatt/Makefile
  examples/nimble_gatt/main.c
  examples/nimble_heart_rate_sensor/Makefile
  examples/nimble_heart_rate_sensor/main.c
  makefiles/pkg/nimble.adv.mk
  makefiles/pseudomodules.inc.mk
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
  pkg/nimble/autoadv/Makefile
  pkg/nimble/autoadv/README.md
  pkg/nimble/autoadv/include/nimble_autoadv.h
  pkg/nimble/autoadv/include/nimble_autoadv_params.h
  pkg/nimble/autoadv/nimble_autoadv.c
  pkg/nimble/autoadv/shell.c
  pkg/nimble/contrib/include/nimble_riot.h
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/netif/nimble_netif.c
  sys/stdio_nimble/README.md
  sys/stdio_nimble/stdio_nimble.c
  tests/shell_ble/Makefile
Labels: Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: BLE, Area: tools, Area: sys, Area: examples

#18012 pkg/jerryscript: model in Kconfig
  examples/javascript/app.config.test
  pkg/Kconfig
  pkg/jerryscript/Kconfig
Labels: Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: examples, Area: Kconfig

#18013 net/nanocoap: deprecate coap_pkt token ptr
  sys/include/net/nanocoap.h
Labels: Area: network, CI: ready for build, Area: sys, CI: skip compile test

#18027 cpu/esp32: always include libc_gettimeofday
  cpu/esp32/Kconfig
  cpu/esp32/Makefile.dep
Labels: CI: ready for build, Process: needs backport, Platform: ESP, Area: cpu, Area: Kconfig

#18001 tests/pkg_cmsis-dsp: add kconfig configuration + cleanup package modules
  pkg/cmsis-dsp/Makefile
  tests/pkg_cmsis-dsp/app.config.test
Labels: Area: tests, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style

#18035 net/sock/udp: designated intializer, C++ compatibility
  sys/include/net/sock/udp.h
Labels: Area: network, CI: ready for build, Area: sys

#18030 cpu/esp32: always include libc_gettimeofday [backport 2022.04]
  cpu/esp32/Kconfig
  cpu/esp32/Makefile.dep
Labels: CI: ready for build, Platform: ESP, Process: release backport, Area: cpu, Area: Kconfig

#18036 net/gnrc: Fixing whitespace in the documentation
  sys/include/net/gnrc.h
Labels: Area: network, CI: ready for build, Area: sys

#18037 nanocoap_sock: only abort nanocoap_sock_get_blockwise() on negative error
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: CoAP, Area: sys
