Repository RIOT-OS/RIOT, pull requests merged in 2022-10, with the labels that each got.

#18669 cpu/native: get mtd size from file size
  cpu/native/include/native_internal.h
  cpu/native/mtd/mtd_native.c
  cpu/native/syscalls.c
Labels: Platform: native, CI: ready for build, Area: cpu

#18673 boards/stm32f746g-disco: add LD1 as LED0 definition
  boards/stm32f746g-disco/include/board.h
  boards/stm32f746g-disco/include/gpio_params.h
Labels: Type: enhancement, CI: ready for build, Area: boards

#18678 rust: Update dependencies, build and test more on stable
  .cargo/config.toml
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-hello-world/Cargo.lock
  examples/rust-hello-world/Cargo.toml
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_libs/Makefile
  tests/rust_minimal/Cargo.lock
  tests/rust_minimal/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests, Area: sys, Area: examples, Area: Rust

#18619 core/mutex: clean up
  core/include/mutex.h
  core/mutex.c
  cpu/atxmega/periph/gpio.c
  cpu/atxmega/periph/pm.c
  cpu/atxmega/periph/timer.c
  cpu/atxmega/periph/uart.c
  drivers/atwinc15x0/atwinc15x0_netdev.c
  drivers/sgp30/sgp30.c
  drivers/sm_pwm_01c/sm_pwm_01c.c
  pkg/driver_bme680/contrib/bme680_hal.c
  sys/riotboot/reset.c
  tests/periph_gpio_ll/main.c
Labels: Area: tests, Area: core, Area: pkg, Type: cleanup, Area: drivers, CI: ready for build, Area: cpu, Area: sys

#18683 rust: Update dependencies
  drivers/lsm303agr/Cargo.toml
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-hello-world/Cargo.lock
  examples/rust-hello-world/Cargo.toml
  sys/rust_riotmodules_standalone/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.toml
  sys/shell/democommands/Cargo.toml
  tests/rust_minimal/Cargo.lock
  tests/rust_minimal/Cargo.toml
Labels: Area: tests, Impact: minor, Area: drivers, CI: ready for build, CI: run tests, Area: sys, Area: examples, Area: Rust

#18676 boards/nucleo-l4r5zi: support for ADC
  boards/nucleo-l4r5zi/Kconfig
  boards/nucleo-l4r5zi/Makefile.features
  boards/nucleo-l4r5zi/include/periph_conf.h
  cpu/stm32/include/periph/l4/periph_cpu.h
  cpu/stm32/periph/adc_l4.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18656 event_periodic_callback: add getter for user context, one-shot event
  sys/include/event/callback.h
  sys/include/event/periodic_callback.h
  tests/event_periodic_callback/main.c
  tests/event_periodic_callback/tests/01-run.py
Labels: Area: tests, Impact: minor, CI: ready for build, Area: sys

#18686 sys/checksum: add CRC-32 checksum
  dist/tools/codespell/ignored_words.txt
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/checksum/crc32.c
  sys/include/checksum/crc32.h
  tests/unittests/tests-checksum/tests-checksum-crc32.c
  tests/unittests/tests-checksum/tests-checksum.c
  tests/unittests/tests-checksum/tests-checksum.h
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: tools, Area: sys

#18688 cpu/sam0_common: ADC keep muxpos as legacy define
  cpu/sam0_common/include/periph_cpu_common.h
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#18680 cpu/stm32/periph/usbdev_fs: add support for STM32F3 family
  boards/nucleo-f303ze/Kconfig
  boards/nucleo-f303ze/Makefile.features
  boards/nucleo-f303ze/include/periph_conf.h
  boards/p-nucleo-wb55/include/periph_conf.h
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph/cpu_usbdev.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/usbdev_fs.c
Labels: Type: enhancement, Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18671 Add podman support
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build

#18694 sys/net/network_layer/ipv4/addr: add ipv4_addr_print function
  sys/include/net/ipv4/addr.h
  sys/net/network_layer/ipv4/addr/ipv4_addr.c
Labels: Area: network, CI: ready for build, Area: sys

#18692 pkg/lwip: refactor code
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
Labels: Area: network, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build

#18689 pkg/tinyusb: add support for SAM0-based boards
  boards/common/arduino-zero/Kconfig
  boards/common/arduino-zero/Makefile.features
  boards/samd21-xpro/Kconfig
  boards/samd21-xpro/Makefile.features
  boards/same54-xpro/Kconfig
  boards/same54-xpro/Makefile.features
  boards/saml21-xpro/Kconfig
  boards/saml21-xpro/Makefile.features
  boards/samr21-xpro/Kconfig
  boards/samr21-xpro/Makefile.features
  boards/samr30-xpro/Kconfig
  boards/samr30-xpro/Makefile.features
  boards/samr34-xpro/Kconfig
  boards/samr34-xpro/Makefile.features
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Makefile
  pkg/tinyusb/Makefile.dep
  pkg/tinyusb/Makefile.include
  pkg/tinyusb/hw/Makefile
  pkg/tinyusb/hw/hw_sam0.c
  pkg/tinyusb/patches/0003-src-portable-microchip-update-header-file-for-RIOT-s.patch
Labels: Area: pkg, CI: ready for build, Area: boards, Area: Kconfig

#18697 cpu/cortexm: clear FPU state in `cpu_switch_context_exit()`
  cpu/cortexm_common/thread_arch.c
Labels: Platform: ARM, CI: ready for build, CI: run tests, Area: cpu

#18053 shell/cord_ep: Add user guidance & prevent accidental crash
  sys/shell/Makefile.dep
  sys/shell/cmds/cord_ep.c
Labels: CI: ready for build, Area: sys

#18679 drivers/usbdev_synopsys_dwc2: add USB OTG HS peripheral support for external ULPI HS PHYs
  boards/common/esp32s2/include/periph_conf_common.h
  boards/common/esp32s3/include/periph_conf_common.h
  boards/common/stm32/include/cfg_usb_otg_hs_phy_fs.h
  boards/stm32f429i-disc1/include/periph_conf.h
  boards/stm32f746g-disco/Kconfig
  boards/stm32f746g-disco/doc.txt
  boards/stm32f746g-disco/features-shared.mk
  boards/stm32f746g-disco/include/periph_conf.h
  boards/stm32f7508-dk/Kconfig
  drivers/Makefile.dep
  drivers/include/usbdev_synopsys_dwc2.h
  drivers/periph_common/Kconfig
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
  kconfigs/Kconfig.features
Labels: Area: doc, Area: build system, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Area: Kconfig

#18698 doc: add deprecation notice on deprecated pseudo-modules
  makefiles/pseudomodules.inc.mk
  sys/include/event/thread.h
Labels: Type: enhancement, Area: build system, CI: ready for build, Area: sys, CI: skip compile test

#18649 sys/shell/cmds: fix shell_cmd_netif LoRaWAN integration
  makefiles/deprecated_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  sys/net/gnrc/Makefile.dep
  sys/shell/Makefile.dep
  sys/shell/cmds/Kconfig
  sys/shell/cmds/gnrc_netif.c
Labels: Type: bug, Area: network, Area: build system, CI: ready for build, Area: sys, Area: Kconfig, CI: skip compile test

#18701 sys/checksum: add CRC-16 implementation without lookup table
  drivers/dose/Kconfig
  drivers/dose/Makefile.dep
  drivers/dose/dose.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/checksum/crc16_ccitt.c
  sys/include/checksum/crc16_ccitt.h
Labels: Area: build system, Area: drivers, CI: ready for build, Area: sys, Area: Kconfig

#18707 sys/checksum: update CRC-16 documentation
  sys/include/checksum/crc16_ccitt.h
Labels: Impact: minor, CI: ready for build, Area: sys, CI: skip compile test

#18706 pseudomodules: document gnrc_netif_cmd_lora as deprecated
  makefiles/pseudomodules.inc.mk
Labels: Area: build system, Type: cleanup, CI: ready for build

#18705 pkg/cryptoauthlib: Pass ATCA_NO_HEAP Flag to library
  pkg/cryptoauthlib/Makefile
Labels: Area: pkg, CI: ready for build

#18712 release-tests: use Ubuntu Jammy runner
  .github/workflows/release-test.yml
Labels: Type: bug, CI: ready for build, Area: CI, CI: skip compile test

#18713 release-tests: add capability to run on PR comment
  .github/workflows/release-test.yml
Labels: Type: new feature, CI: ready for build, Area: CI, CI: skip compile test

#18716 riotctrl_shell.cord_ep: remove regif parameter
  dist/pythonlibs/riotctrl_shell/cord_ep.py
  dist/pythonlibs/riotctrl_shell/tests/test_cord_ep.py
Labels: Area: tests, Type: cleanup, CI: ready for build, CI: skip compile test

#18710 cpu/esp32: implement periph_spi_reconfigure
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Kconfig.esp32c3
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Makefile.features
  cpu/esp32/include/esp_idf_api/gpio.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/spi.c
Labels: CI: ready for build, Platform: ESP, Area: cpu

#18708 gnrc_ipv6_nib: handle iface_up/iface_down in IPv6 thread
  examples/telnet_server/Makefile.ci
  sys/include/net/gnrc/ipv6/nib.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys, Area: examples

#18723 sys/net/sock_util: fix _find_hoststart()
  sys/net/sock/sock_util.c
  tests/unittests/tests-sock_util/tests-sock_util.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys

#18717 cpu/esp32: move ESP32_SDK_DIR definition here
  cpu/esp32/Makefile.include
  pkg/esp32_sdk/Makefile.include
Labels: Impact: minor, Area: pkg, CI: ready for build, Platform: ESP, Area: cpu

#18718 Fix kconfig models breaking nightlies
  boards/pyboard/Kconfig
  cpu/stm32/kconfigs/Kconfig.clk
  cpu/stm32/periph/Kconfig
  pkg/tinyusb/Kconfig
Labels: Platform: ARM, Area: pkg, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18720 cpu/esp_common/periph_uart: fix call to _uart_set_mode
  cpu/esp_common/periph/uart.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#18725 tests/gcoap_fileserver: add test for PUT
  sys/net/application_layer/gcoap/fileserver.c
  tests/gcoap_fileserver/Makefile
  tests/gcoap_fileserver/Makefile.ci
  tests/gcoap_fileserver/main.c
  tests/gcoap_fileserver/tests/01-run.py
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#18699 gnrc_netif_lorawan: add support for LINK_UP/_DOWN events
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-slaac.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/gnrc_ipv6_nib/mockup_netif.c
Labels: Type: enhancement, Area: network, Area: tests, CI: ready for build, CI: run tests, Area: sys

#18726 usbdev_synopsys_dwc2: Mask RX FIFO irq when using DMA
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
Labels: Area: drivers, CI: ready for build

#18729 cpu/stm32/periph/usbdev_fs: support for STM32F1 family
  cpu/stm32/periph/usbdev_fs.c
Labels: Type: enhancement, Platform: ARM, CI: ready for build, Area: cpu

#18730 gh-actions: move actions/checkout to main
  .github/workflows/check-pr.yml
  .github/workflows/release-test.yml
  .github/workflows/static-test.yml
  .github/workflows/test-on-iotlab.yml
  .github/workflows/test-on-ryot.yml
  .github/workflows/tools-buildtest.yml
  .github/workflows/tools-test.yml
Labels: Type: cleanup, CI: ready for build, Area: CI, CI: skip compile test

#18425 sys/log_*: modularize log into log_color and log_printfnoformat
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/Makefile
  sys/Makefile.include
  sys/log/Kconfig
  sys/log/Makefile
  sys/log/Makefile.include
  sys/log_color/Kconfig
  sys/log_color/Makefile
  sys/log_color/Makefile.include
  sys/log_color/include/log_module.h
  sys/log_color/log_color.c
  sys/log_printfnoformat/Kconfig
  sys/log_printfnoformat/Makefile
  sys/log_printfnoformat/Makefile.include
  sys/log_printfnoformat/include/log_module.h
  sys/test_utils/print_stack_usage/print_stack_usage.c
Labels: Type: bug, Area: build system, CI: ready for build, Area: sys, Area: Kconfig

#18567 boards/samr21-xpro: add a note about EDBG UART limitation
  boards/samr21-xpro/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#18732 makefiles/arch/avr8.inc.mk: fix detection of GCC 12
  makefiles/arch/avr8.inc.mk
Labels: Type: bug, Area: build system, Platform: AVR, CI: ready for build, CI: skip compile test

#18385 dist/tools/esptools: add macOS support to install/export scripts
  dist/tools/esptools/export.sh
  dist/tools/esptools/install.sh
Labels: Type: bug, CI: ready for build, Area: tools, Platform: ESP, CI: skip compile test

#18641 cpu/arm7_common: align stacks correctly
  cpu/arm7_common/arm_cpu.c
  tests/thread_stack_alignment/Makefile
  tests/thread_stack_alignment/Makefile.ci
  tests/thread_stack_alignment/README.md
  tests/thread_stack_alignment/main.c
  tests/thread_stack_alignment/tests/01-run.py
Labels: Type: bug, Platform: ARM, Area: doc, Area: tests, CI: ready for build, Area: cpu

#17905 gnrc_netif: don't allocate message queue on the stack
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/init_devs/auto_init_atwinc15x0.c
  sys/net/gnrc/netif/init_devs/auto_init_cc110x.c
  sys/net/gnrc/netif/init_devs/auto_init_dose.c
  sys/net/gnrc/netif/init_devs/auto_init_enc28j60.c
  sys/net/gnrc/netif/init_devs/auto_init_encx24j600.c
  sys/net/gnrc/netif/init_devs/auto_init_esp_eth.c
  sys/net/gnrc/netif/init_devs/auto_init_ethos.c
  sys/net/gnrc/netif/init_devs/auto_init_netdev_tap.c
  sys/net/gnrc/netif/init_devs/auto_init_nrf24l01p_ng.c
  sys/net/gnrc/netif/init_devs/auto_init_sam0_eth.c
  sys/net/gnrc/netif/init_devs/auto_init_slipdev.c
  sys/net/gnrc/netif/init_devs/auto_init_stm32_eth.c
  sys/net/gnrc/netif/init_devs/auto_init_sx126x.c
  sys/net/gnrc/netif/init_devs/auto_init_sx127x.c
  sys/net/gnrc/netif/init_devs/auto_init_usbus_cdc_ecm.c
  sys/net/gnrc/netif/init_devs/auto_init_w5100.c
  sys/net/gnrc/netif/init_devs/auto_init_xbee.c
  sys/net/gnrc/netif/init_devs/include/init_devs.h
  tests/netutils/Makefile
Labels: Type: bug, Area: network, Area: tests, Type: cleanup, CI: ready for build, Area: sys

#17812 boards/blxxxpill: configure usbdev_fs
  boards/common/blxxxpill/Kconfig
  boards/common/blxxxpill/Makefile.features
  boards/common/blxxxpill/include/periph_conf.h
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph/cpu_gpio.h
  cpu/stm32/periph/Makefile
  tests/sys_fido2_ctap/Makefile.ci
Labels: Platform: ARM, Area: tests, CI: ready for build, Area: boards, Community: help wanted, Area: cpu, Area: Kconfig, CI: skip compile test

#18736 Revert "release-tests: add capability to run on PR comment"
  .github/workflows/release-test.yml
Labels: Type: cleanup, CI: ready for build, Area: CI, CI: skip compile test

#18386 gcoap_forward_proxy: send empty ACK when response takes too long
  sys/include/net/gcoap/forward_proxy.h
  sys/net/application_layer/gcoap/Kconfig
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: CoAP, Area: sys, Area: Kconfig

#18741 cpu/stm32: fix KConfig modeling for STM32F1 / usbdev_synopsys_dwc2
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/Kconfig
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu, Area: Kconfig

#18740 gnrc_netreg: Use locks around netreg
  examples/cord_ep/Makefile.ci
  sys/include/net/gnrc/netreg.h
  sys/net/gnrc/netapi/gnrc_netapi.c
  sys/net/gnrc/netreg/gnrc_netreg.c
  tests/gcoap_fileserver/Makefile.ci
  tests/unittests/tests-netreg/tests-netreg.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys, Area: examples

#18745 tests: set netdev `event_callback` before calling init
  tests/driver_cc2538_rf/main.c
  tests/driver_nrf802154/main.c
  tests/driver_sx126x/main.c
  tests/driver_sx127x/main.c
  tests/driver_sx1280/main.c
  tests/socket_zep/main.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport

#16175 gnrc_sixlowpan_frag_sfr: add support for queue-based ECN
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/sixlowpan/config.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/Kconfig
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/gnrc_sixlowpan_frag_sfr.c
Labels: Type: enhancement, Area: network, Area: build system, CI: ready for build, Area: sys, Area: Kconfig

#18749 makefiles/tools/serial.inc.mk: add support for bootterm
  dist/tools/bootterm/.gitignore
  dist/tools/bootterm/Makefile
  makefiles/tools/serial.inc.mk
  makefiles/tools/targets.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#18747 boards/nucleo-l4r5zi: doc improvements
  boards/nucleo-l4r5zi/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#18739 pkg/gecko_sdk: Bump to version 4.1.2
  cpu/efm32/Makefile.features
  cpu/efm32/Makefile.include
  cpu/efm32/families/efr32mg12p/Kconfig
  cpu/efm32/families/efr32mg12p/Makefile.features
  cpu/efm32/families/efr32mg12p/Makefile.include
  cpu/efm32/families/efr32mg1b/Kconfig
  cpu/efm32/families/efr32mg1b/Makefile.features
  cpu/efm32/families/efr32mg1b/Makefile.include
  cpu/efm32/families/efr32mg1p/Kconfig
  cpu/efm32/families/efr32mg1p/Makefile.features
  cpu/efm32/families/efr32mg1p/Makefile.include
  cpu/efm32/periph/gpio.c
  pkg/gecko_sdk/Kconfig
  pkg/gecko_sdk/Makefile
  pkg/gecko_sdk/Makefile.dep
  pkg/gecko_sdk/Makefile.include
Labels: Type: enhancement, Platform: ARM, Area: pkg, CI: ready for build, Area: cpu, Area: Kconfig

#18742 cpu/stm32: fix periph_usb modeling for STM32F1
  cpu/stm32/periph/Kconfig
  cpu/stm32/periph/Makefile
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu, Area: Kconfig

#18154 nanocoap: add support for no-response option
  sys/include/net/coap.h
  sys/include/net/nanocoap.h
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
  tests/nanocoap_cli/main.c
  tests/nanocoap_cli/nanocli_client.c
Labels: Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#18451 boards/im880b: refactor code
  boards/im880b/Makefile.include
Labels: Type: enhancement, Type: cleanup, CI: ready for build, Area: boards

#18751 tests: set netdev `event_callback` before calling init [backport 2022.10]
  tests/driver_cc2538_rf/main.c
  tests/driver_nrf802154/main.c
  tests/driver_sx126x/main.c
  tests/driver_sx127x/main.c
  tests/driver_sx1280/main.c
  tests/socket_zep/main.c
Labels: Type: bug, Area: tests, CI: ready for build, Process: release backport

#18731 sys/stdio_uart: add stdio_uart_onlcr (pseudo-) module
  makefiles/pseudomodules.inc.mk
  sys/Kconfig.stdio
  sys/include/stdio_uart.h
  sys/stdio_uart/stdio_uart.c
Labels: Area: build system, CI: ready for build, Area: sys

#18743 boards/blxxxpill-128kib: default to CDC ACM for stdio
  boards/blackpill-128kib/Kconfig
  boards/blackpill-128kib/Makefile.dep
  boards/blackpill-128kib/Makefile.features
  boards/blackpill-128kib/blackpill-128kib.config
  boards/bluepill-128kib/Kconfig
  boards/bluepill-128kib/Makefile.dep
  boards/bluepill-128kib/Makefile.features
  boards/bluepill-128kib/bluepill-128kib.config
  examples/dtls-echo/Makefile.ci
  examples/micropython/Makefile.ci
  examples/wakaama/Makefile.ci
  tests/gnrc_sixlowpan_frag_sfr/Makefile.ci
  tests/gnrc_tx_sync/Makefile.ci
  tests/pkg_lz4/Makefile.ci
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now64_continuity/Makefile
Labels: Area: tests, CI: ready for build, Area: boards, Area: examples, Area: Kconfig

#17983 net/nanocoap: remove coap_pkt token ptr
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#18714 drivers/usbdev_synopsys_dwc2: add support for internal UTMI HS PHY
  boards/common/stm32/include/cfg_usb_otg_hs_phy_utmi.h
  boards/stm32f723e-disco/Kconfig
  boards/stm32f723e-disco/Makefile.features
  boards/stm32f723e-disco/doc.txt
  boards/stm32f723e-disco/include/periph_conf.h
  drivers/Makefile.dep
  drivers/include/usbdev_synopsys_dwc2.h
  drivers/periph_common/Kconfig
  drivers/periph_common/Kconfig.usbdev
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
  kconfigs/Kconfig.features
Labels: Type: enhancement, Area: doc, Area: drivers, CI: ready for build, Area: boards, Area: Kconfig

#18722 test-on-iotlab: several fixes to make it runnable again
  .github/workflows/test-on-iotlab.yml
  tests/gnrc_rpl/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Area: CI, CI: run tests, CI: disable test cache

#18757 test-on-iotlab: several fixes to make it runnable again [backport 2022.10]
  .github/workflows/test-on-iotlab.yml
  tests/gnrc_rpl/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Area: CI, CI: run tests, Process: release backport

#15952 congure_quic: initial import of QUIC congestion control
  sys/Makefile.dep
  sys/congure/Kconfig
  sys/congure/Makefile
  sys/congure/quic/Kconfig
  sys/congure/quic/Makefile
  sys/congure/quic/congure_quic.c
  sys/include/congure/quic.h
  tests/congure_quic/Makefile
  tests/congure_quic/Makefile.ci
  tests/congure_quic/README.md
  tests/congure_quic/app.config
  tests/congure_quic/app.config.test
  tests/congure_quic/congure_impl.c
  tests/congure_quic/congure_impl.h
  tests/congure_quic/main.c
  tests/congure_quic/tests/01-run.py
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build, CI: run tests, Area: sys, Area: Kconfig

#18753 drivers/at: add a function read a response plus the OK
  drivers/at/at.c
  drivers/include/at.h
Labels: Area: drivers, CI: ready for build

#18299 sys: preprocessor successor module
  dist/tools/generate_pp_successor_header/README.md
  dist/tools/generate_pp_successor_header/generate_pp_successor_header.sh
  makefiles/defaultmodules_deps.inc.mk
  sys/Kconfig
  sys/Makefile
  sys/Makefile.dep
  sys/Makefile.include
  sys/auto_init/Kconfig
  sys/auto_init/Makefile
  sys/include/auto_init_utils.h
  sys/preprocessor/Kconfig
  sys/preprocessor/Makefile
  sys/preprocessor/Makefile.include
  tests/external_module_dirs/external_modules/external_module/external_module.c
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: tools, Area: sys, Area: Kconfig

#18759 drivers/usbdev_synopsys_dwc2: small fixes
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Makefile.dep
  cpu/esp32/include/periph_cpu_esp32s2.h
  cpu/esp32/include/periph_cpu_esp32s3.h
  cpu/stm32/include/usbdev_stm32.h
  drivers/Makefile.dep
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
Labels: Platform: ARM, Type: cleanup, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu

#18764 cpu/efm32: preparing introduction of Gecko Series 2
  cpu/efm32/cpu.c
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/gpio.c
  cpu/efm32/periph/pm.c
Labels: Platform: ARM, CI: ready for build, Area: pm, Area: cpu

#18768 sys/tiny_strerror: add tiny_strerror_minimal
  makefiles/pseudomodules.inc.mk
  sys/include/tiny_strerror.h
  sys/tiny_strerror/tiny_strerror.c
Labels: Area: build system, CI: ready for build, Area: sys

#17763 examples/gcoap: add IPv4 support
  examples/gcoap/Makefile
  examples/gcoap/client.c
  examples/gcoap_dtls/Makefile
  sys/Makefile.include
  sys/include/net/ipv4/addr.h
  sys/net/application_layer/gcoap/Makefile.include
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#18769 tests/congure_abe: reset node before starting terminal
  tests/congure_abe/tests/01-run.py
Labels: Type: bug, Area: tests, CI: ready for build

#18761 sys/shell: fix deprecated shell_command in examples and tests
  examples/sniffer/Makefile
  tests/gcoap_fileserver/Makefile
  tests/nimble_esp_wifi_coexist/Makefile
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build, Area: examples

#18772 sys/net/nanocoap: introduce Accept option helper
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Type: enhancement, Area: network, Area: tests, CI: ready for build, CI: run tests, Area: CoAP, Area: sys

#18770 build-system: add capability to execute scripts with custom executor
  makefiles/tests/tests.inc.mk
Labels: Area: tests, Area: build system, Type: new feature, CI: ready for build

#18775 cpu/efm32/pm: fix blocking EM1
  cpu/efm32/periph/pm.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: pm, Area: cpu

#18778 drivers/sdcard_spi: make use of crc16_ccitt_false_update()
  drivers/sdcard_spi/sdcard_spi.c
Labels: Area: drivers, CI: ready for build

#18754 dist/tools/pyterm: avoid deprecated .setDaemon
  dist/tools/pyterm/pyterm
Labels: CI: ready for build, Area: tools, CI: skip compile test

#18779 socket_zep: make use of crc16_ccitt_false_update()
  cpu/native/socket_zep/socket_zep.c
Labels: Platform: native, CI: ready for build, Area: cpu

#18776 pkg/tinyusb: add ULPI and UTMI+ HS PHY support for STM32 USB OTG HS ports
  boards/stm32f746g-disco/Kconfig
  boards/stm32f746g-disco/features-shared.mk
  boards/stm32f7508-dk/Kconfig
  cpu/stm32/include/tinyusb_hw_defaults.h
  pkg/tinyusb/contrib/include/tinyusb_config.h
  pkg/tinyusb/hw/hw_stm32.c
Labels: Type: enhancement, Platform: ARM, Area: build system, Area: pkg, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig, CI: skip compile test

#18784 makefiles/tools/gdb.inc.mk: prefer $(target)-gdb over gdb-multiarch
  makefiles/tools/gdb.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, Area: tools

#18794 pkg/lvgl: bump to 8.3.3
  pkg/lvgl/Makefile
Labels: Area: pkg, CI: ready for build

#18774 sys/stdio_uart: fix undefined behavior
  sys/stdio_uart/Makefile
  sys/stdio_uart/stdio_uart.c
Labels: Type: bug, CI: ready for build, Area: sys

#18796 pkg/arduino_sdi_12: bump version, fix patches
  pkg/arduino_sdi_12/Makefile
  pkg/arduino_sdi_12/patches/0001-Use-RIOT-s-gpio-to-handle-pin-change-interrupts.patch
  pkg/arduino_sdi_12/patches/0002-Integration-with-RIOT-to-support-other-boards.patch
  pkg/arduino_sdi_12/patches/0003-RIOT-Fix-for-SAMD-boards.patch
Labels: Area: pkg, CI: ready for build, CI: skip compile test

#18799 sys/net: add Size1 and Size2 option numbers
  sys/include/net/coap.h
Labels: Area: network, CI: ready for build, Area: sys

#18786 pkg/tinyusb: add STM32 USB FS device driver
  boards/nucleo-f303ze/Kconfig
  boards/nucleo-f303ze/Makefile.features
  boards/p-nucleo-wb55/Kconfig
  boards/p-nucleo-wb55/Makefile.features
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Makefile.dep
  pkg/tinyusb/Makefile.include
  pkg/tinyusb/hw/Makefile
  pkg/tinyusb/hw/hw_stm32_fsdev.c
  pkg/tinyusb/hw/hw_stm32_otg.c
Labels: Type: new feature, Area: pkg, CI: ready for build, Area: boards, Area: Kconfig

#18792 boards/lora-e5-dev: add arduino feature
  boards/lora-e5-dev/Kconfig
  boards/lora-e5-dev/Makefile.features
  boards/lora-e5-dev/include/arduino_board.h
  boards/lora-e5-dev/include/arduino_pinmap.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#18781 pkg/tinyusb: add nrf52 support
  boards/nrf52840-mdk/Kconfig
  boards/nrf52840-mdk/Makefile.features
  boards/nrf52840dk/Kconfig
  boards/nrf52840dk/Makefile.features
  boards/reel/Kconfig
  boards/reel/Makefile.features
  boards/waveshare-nrf52840-eval-kit/Kconfig
  boards/waveshare-nrf52840-eval-kit/Makefile.features
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Makefile
  pkg/tinyusb/Makefile.dep
  pkg/tinyusb/Makefile.include
  pkg/tinyusb/Makefile.nrf52
  pkg/tinyusb/hw/hw_nrf52.c
  pkg/tinyusb/hw/include/nrf52/nrf_clock.h
Labels: Type: new feature, Area: pkg, CI: ready for build, Area: boards, Reviewed: 3-testing, Area: Kconfig

#18735 boards/native: Remove macOS as native target
  Makefile.include
  README.md
  cpu/native/Kconfig
  cpu/native/Makefile
  cpu/native/Makefile.include
  cpu/native/README.md
  cpu/native/async_read.c
  cpu/native/include/clang_compat.h
  cpu/native/include/cpu_conf.h
  cpu/native/netdev_tap/netdev_tap.c
  cpu/native/osx-libc-extra/malloc.h
  cpu/native/periph/qdec.c
  cpu/native/periph/timer.c
  doc/doxygen/src/getting-started.md
  doc/doxygen/src/mainpage.md
Labels: Platform: native, Area: doc, Area: build system, CI: ready for build, Area: cpu, Area: Kconfig

#17429 gnrc/ipv6_auto_subnets: add CONFIG_GNRC_IPV6_AUTO_SUBNETS_STATIC option
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: sys

#18800 drivers/atwinc15x0: don't disable interrupts
  drivers/atwinc15x0/atwinc15x0_netdev.c
Labels: Type: bug, Area: drivers, CI: ready for build

#18744 sys/clif: Fixing out of bounds read under certain conditions
  sys/clif/clif.c
  sys/include/clif.h
  tests/unittests/tests-clif/tests-clif.c
Labels: Type: bug, Area: tests, CI: ready for build, Area: sys

#18777 README.md: update features
  README.md
Labels: Area: doc, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#18711 cpu/stm32: fix periph_dma
  cpu/stm32/include/periph/cpu_dma.h
  cpu/stm32/periph/dma.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#18805 Fix kconfig mismatch breaking nightlies
  boards/blackpill-128kib/Kconfig
  boards/bluepill-128kib/Kconfig
  sys/ztimer/Kconfig
Labels: Type: bug, CI: ready for build, Area: timers, Area: boards, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#18785 boards/common/blxxxpill: Fix pin conflicts in periph_conf
  boards/common/blxxxpill/doc.txt
  boards/common/blxxxpill/doc/README.md
  boards/common/blxxxpill/doc/bluepill-top-view.svg
  boards/common/blxxxpill/doc/pinout-bluepill.csv
  boards/common/blxxxpill/include/periph_conf.h
  cpu/stm32/include/periph/cpu_pwm.h
  cpu/stm32/include/periph/cpu_qdec.h
  cpu/stm32/periph/pwm.c
  cpu/stm32/periph/qdec.c
  doc/doxygen/src/pinouts/pinout-bluepill.svg
  makefiles/cflags.inc.mk
  pkg/cryptoauthlib/Makefile
  pkg/semtech-loramac/Makefile.loramac_region
  pkg/tensorflow-lite/Makefile.tensorflow-lite-kernels
  pkg/tensorflow-lite/Makefile.tensorflow-lite-kernels-internal
  pkg/tensorflow-lite/Makefile.tensorflow-lite-micro-kernels
  pkg/uwb-core/Makefile
  sys/ztimer/Makefile
  tests/can_trx/Makefile
  tests/conn_can/Makefile
Labels: Type: bug, Platform: ARM, Area: doc, Area: tests, Area: build system, Area: pkg, Process: API change, CI: ready for build, Area: timers, Area: LoRa, Area: boards, Area: cpu, Area: sys

#18806 cpu/efm32: include periph_conf.h for system-related methods
  cpu/efm32/families/efm32gg/system.c
  cpu/efm32/families/efm32hg/system.c
  cpu/efm32/families/efm32lg/system.c
  cpu/efm32/families/efm32pg12b/system.c
  cpu/efm32/families/efm32pg1b/system.c
  cpu/efm32/families/efm32zg/system.c
  cpu/efm32/families/efr32mg12p/system.c
  cpu/efm32/families/efr32mg1b/system.c
  cpu/efm32/families/efr32mg1p/system.c
  cpu/efm32/families/efr32zg23/system.c
  cpu/efm32/families/ezr32wg/system.c
Labels: Type: enhancement, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#18812 pkg/arduino_sdi_12: bump version, fix patches [backport 2022.10]
  pkg/arduino_sdi_12/Makefile
  pkg/arduino_sdi_12/patches/0001-Use-RIOT-s-gpio-to-handle-pin-change-interrupts.patch
  pkg/arduino_sdi_12/patches/0002-Integration-with-RIOT-to-support-other-boards.patch
  pkg/arduino_sdi_12/patches/0003-RIOT-Fix-for-SAMD-boards.patch
Labels: Area: pkg, CI: ready for build, Process: release backport

#18709 gnrc_udp: use small stack-size
  examples/gnrc_networking/Makefile.ci
  sys/include/net/gnrc/udp.h
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys, Area: examples

#18808 boards/cc1350: add info concerning shell access
  boards/cc1350-launchpad/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#18807 test/unittest: cleanup most vera++ complains
  tests/unittests/tests-bloom/tests-bloom-sets.h
  tests/unittests/tests-clif/tests-clif.c
  tests/unittests/tests-core/tests-core-bitarithm.c
  tests/unittests/tests-core/tests-core-ringbuffer.c
  tests/unittests/tests-core/tests-core-xfa-data1.c
  tests/unittests/tests-core/tests-core-xfa-data2.c
  tests/unittests/tests-fib/tests-fib.c
  tests/unittests/tests-frac/tests-frac.c
  tests/unittests/tests-gcoap/tests-gcoap.c
  tests/unittests/tests-gnrc_ipv6_nib/tests-gnrc_ipv6_nib-ft.c
  tests/unittests/tests-gnrc_mac_internal/tests-gnrc_mac_internal.c
  tests/unittests/tests-hashes/tests-hashes-sha1.c
  tests/unittests/tests-hashes/tests-hashes-sha256-hmac.c
  tests/unittests/tests-hashes/tests-hashes-sha256.c
  tests/unittests/tests-hashes/tests-hashes-sha3.c
  tests/unittests/tests-ipv6_addr/tests-ipv6_addr.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
  tests/unittests/tests-pktbuf/tests-pktbuf.c
  tests/unittests/tests-priority_pktqueue/tests-priority_pktqueue.c
  tests/unittests/tests-sock_util/tests-sock_util.c
  tests/unittests/tests-vfs/tests-vfs-mount-constfs.c
Labels: Area: tests, Type: cleanup, CI: ready for build

#18809 boards/cc13xx_cc26xx: remove broken HTML links and headings in doc
  boards/cc1312-launchpad/doc.txt
  boards/cc1350-launchpad/doc.txt
  boards/cc1352-launchpad/doc.txt
  boards/cc1352p-launchpad/doc.txt
  boards/cc2650-launchpad/doc.txt
  cpu/cc26xx_cc13xx/doc.txt
Labels: Platform: ARM, Area: doc, CI: ready for build, Area: boards, Area: cpu, CI: skip compile test

#18815 dist/tools: add "RESET_PIN" value for the dwm1001
  dist/tools/nrf52_resetpin_cfg/Makefile
Labels: CI: ready for build, Area: tools, CI: skip compile test

#18733 matrix_keypad: Add matrix-style keypad module
  drivers/Kconfig
  drivers/include/matrix_keypad.h
  drivers/matrix_keypad/Kconfig
  drivers/matrix_keypad/Makefile
  drivers/matrix_keypad/Makefile.dep
  drivers/matrix_keypad/Makefile.include
  drivers/matrix_keypad/include/matrix_keypad_params.h
  drivers/matrix_keypad/matrix_keypad.c
  tests/driver_matrix_keypad/Makefile
  tests/driver_matrix_keypad/README.md
  tests/driver_matrix_keypad/main.c
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: Kconfig

#18810 sys/clif: Fixing out of bounds read under certain conditions [backport 2022.10]
  sys/clif/clif.c
  sys/include/clif.h
  tests/unittests/tests-clif/tests-clif.c
Labels: Type: bug, Area: tests, CI: ready for build, Process: release backport, Area: sys

#18817 gnrc_sixlowpan: Various hardening fixes
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/gnrc_sixlowpan_frag_vrb.c
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  sys/net/link_layer/ieee802154/ieee802154.c
  tests/unittests/tests-ieee802154/tests-ieee802154.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Process: needs backport, CI: run tests, Area: sys

#18820 gnrc_sixlowpan: Various hardening fixes [backport 2022.10]
  sys/net/gnrc/netif/ieee802154/gnrc_netif_ieee802154.c
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  sys/net/gnrc/network_layer/sixlowpan/frag/vrb/gnrc_sixlowpan_frag_vrb.c
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  sys/net/link_layer/ieee802154/ieee802154.c
  tests/unittests/tests-ieee802154/tests-ieee802154.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, CI: run tests, Process: release backport, Area: sys

#18818 boards/dwm1001: add saul_gpio support
  boards/dwm1001/Kconfig
  boards/dwm1001/Makefile.dep
  boards/dwm1001/include/gpio_params.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#18822 drivers/at86rf2xx: migrate to ztimer
  drivers/at86rf2xx/Kconfig
  drivers/at86rf2xx/Makefile.dep
  drivers/at86rf2xx/aes_spi.c
  drivers/at86rf2xx/at86rf2xx_internal.c
  drivers/at86rf2xx/include/at86rf2xx_internal.h
  sys/net/gnrc/Makefile.dep
  tests/driver_at86rf2xx_aes/main.c
Labels: Type: enhancement, Area: network, Area: tests, Area: drivers, CI: ready for build, Area: sys, Area: Kconfig

#18823 drivers/ethos: Fix off-by-one bug
  drivers/ethos/ethos.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: needs backport

#18825 cpu/saml21/pm: allow blocking IDLE mode
  cpu/saml21/include/periph_cpu.h
  cpu/saml21/periph/pm.c
  sys/pm_layered/pm.c
Labels: Platform: ARM, CI: ready for build, Area: pm, Area: cpu, Area: sys
