Repository RIOT-OS/RIOT, pull requests merged in 2022-07, with the labels that each got.

#18275 sys/net/gnrc/rpl: sync access to netstats
  sys/include/net/gnrc/rpl.h
  sys/include/net/rpl/rpl_netstats.h
  sys/net/gnrc/routing/rpl/gnrc_rpl_internal/netstats.h
  sys/shell/commands/sc_gnrc_rpl.c
Labels: Type: bug, Area: network, Process: API change, CI: ready for build, Area: sys, CI: skip compile test

#18289 asymcute: Fix deadlocks in REGACK, SUBACK and UNSUBACK handler
  sys/net/application_layer/asymcute/asymcute.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#18290 drivers/at86rf2xx: Switch SRT mode to get random values.
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_internal.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/at86rf2xx/include/at86rf2xx_internal.h
  drivers/at86rf2xx/include/at86rf2xx_registers.h
  drivers/include/at86rf2xx.h
  tests/driver_at86rf2xx/cmd.c
  tests/driver_at86rf2xx/common.h
  tests/driver_at86rf2xx/main.c
Labels: Type: bug, Area: tests, Area: drivers, CI: ready for build

#18287 pkg/emlearn: Remove unused emlearn module
  pkg/emlearn/Kconfig
  pkg/emlearn/Makefile.include
Labels: Type: bug, Area: pkg, CI: ready for build, Area: Kconfig

#18194 dist/tools/cosy: allow to specify port
  Makefile.include
  dist/tools/cosy/patches/0001-cosy-allow-to-specify-port.patch
Labels: Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#18277 cpu/esp_common: use ESP-IDF random API for ESP32
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/hwrng.c
  cpu/esp8266/periph/hwrng.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18291 boards/nucleo144: doc update - usage of cpy2remed programmer and short overview of board
  boards/nucleo-f207zg/doc.txt
  boards/nucleo-f303ze/doc.txt
  boards/nucleo-f412zg/doc.txt
  boards/nucleo-f413zh/doc.txt
  boards/nucleo-f429zi/doc.txt
  boards/nucleo-f439zi/doc.txt
  boards/nucleo-f446ze/doc.txt
  boards/nucleo-f722ze/doc.txt
  boards/nucleo-f746zg/doc.txt
  boards/nucleo-f767zi/doc.txt
  boards/nucleo-l496zg/doc.txt
  boards/nucleo-l4r5zi/doc.txt
  boards/nucleo-l552ze-q/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#18296 cpu/stm32: support for B subfamily of g0 to determine the ram length
  cpu/stm32/stm32_mem_lengths.mk
Labels: Platform: ARM, Area: build system, CI: ready for build, Area: cpu, CI: skip compile test

#18137 pkg/cryptoauthlib: Update package to latest version
  boards/common/saml1x/include/board.h
  pkg/cryptoauthlib/Kconfig
  pkg/cryptoauthlib/Makefile
  pkg/cryptoauthlib/Makefile.dep
  pkg/cryptoauthlib/Makefile.include
  pkg/cryptoauthlib/contrib/atca.c
  pkg/cryptoauthlib/include/atca_config.h
  pkg/cryptoauthlib/include/atca_params.h
  pkg/cryptoauthlib/include/cryptoauthlib_test.h
  pkg/cryptoauthlib/patches/0001-Change-include-dirs-to-target-include-dirs.patch
  pkg/cryptoauthlib/patches/0001-change-include_directories-to-target_include_directo.patch
  pkg/cryptoauthlib/patches/0002-Add-parseCmd-function-for-RIOT.patch
  pkg/cryptoauthlib/patches/0002-add-defines-and-functions-for-riot-usage.patch
  pkg/cryptoauthlib/patches/0003-Cast-DEVICE_MASK-to-32-bit.patch
  tests/pkg_cryptoauthlib_internal-tests/Makefile
  tests/pkg_cryptoauthlib_internal-tests/README.md
  tests/pkg_cryptoauthlib_internal-tests/main.c
Labels: Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: boards, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: Kconfig

#18210 cpu/esp32: enforce MAXTHREADS is at least 3
  cpu/esp32/startup.c
  tests/periph_gpio_ll/Makefile
  tests/pkg_fff/Makefile
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, CI: run tests, Platform: ESP, Area: cpu

#18302 pkg/lv_drivers: cleanup Makefile
  pkg/lv_drivers/Makefile
Labels: Area: pkg, CI: ready for build

#18295 boards/im880b: im880b board clock definition
  boards/im880b/include/periph_conf.h
Labels: Type: bug, CI: ready for build, Area: boards

#16833 Add some Rust library building infrastructure
  boards/microbit-v2/Kconfig
  boards/microbit-v2/Makefile.dep
  boards/microbit-v2/include/lsm303agr-config.rs
  doc/doxygen/src/using-rust.md
  drivers/Kconfig
  drivers/lsm303agr/Cargo.toml
  drivers/lsm303agr/Kconfig
  drivers/lsm303agr/Makefile.dep
  drivers/lsm303agr/Makefile.include
  drivers/lsm303agr/doc.txt
  drivers/lsm303agr/src/lib.rs
  drivers/saul/init_devs/init.c
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/src/lib.rs
  examples/rust-hello-world/Cargo.toml
  examples/rust-hello-world/src/lib.rs
  makefiles/arch/riscv.inc.mk
  makefiles/cargo-settings.inc.mk
  makefiles/cargo-targets.inc.mk
  makefiles/vars.inc.mk
  sys/Kconfig
  sys/Makefile.dep
  sys/Makefile.include
  sys/rust_riotmodules/Cargo.toml
  sys/rust_riotmodules/Kconfig
  sys/rust_riotmodules/Makefile.dep
  sys/rust_riotmodules/Makefile.include
  sys/rust_riotmodules/src/lib.rs
  sys/rust_riotmodules_standalone/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.toml
  sys/rust_riotmodules_standalone/Makefile
  sys/rust_riotmodules_standalone/src/lib.rs
  sys/shell/democommands/Cargo.toml
  sys/shell/democommands/src/lib.rs
  tests/rust_libs/Makefile
  tests/rust_libs/Makefile.ci
  tests/rust_libs/main.c
  tests/rust_libs/tests/01-run.py
  tests/rust_minimal/Cargo.toml
  tests/rust_minimal/src/lib.rs
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Area: SAUL, Platform: RISC-V, Area: sys, Area: examples, Area: Kconfig, CI: skip compile test, Area: Rust

#18294 tests/driver_at86rf2xx: fix use of incorrect macro
  tests/driver_at86rf2xx/cmd.c
  tests/driver_at86rf2xx/main.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build

#18267 cpu/esp32: use ESP-IDF timer HAL for system timer and watchdog
  cpu/esp32/Makefile.include
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/rtt_hw_rtc.c
  cpu/esp32/periph/rtt_hw_sys.c
  cpu/esp32/syscalls.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18304 pkg/lvgl7: remove deprecated package
  pkg/lvgl7/Kconfig
  pkg/lvgl7/Makefile
  pkg/lvgl7/Makefile.dep
  pkg/lvgl7/Makefile.include
  pkg/lvgl7/Makefile.lvgl_module
  pkg/lvgl7/contrib/Makefile
  pkg/lvgl7/contrib/lvgl.c
  pkg/lvgl7/doc.txt
  pkg/lvgl7/include/lv_conf.h
  pkg/lvgl7/include/lvgl_riot.h
  pkg/lvgl7/include/lvgl_riot_conf.h
Labels: Area: doc, Area: pkg, CI: ready for build, Area: Kconfig, CI: skip compile test, Process: removal

#18303 gh_action/test-on-iotlab: update available boards
  .github/workflows/test-on-iotlab.yml
Labels: Type: cleanup, CI: ready for build, Area: CI, CI: skip compile test

#18284 gnrc_netif: move `option_tested` to default init function
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#18236 .murdock: print hash input when hashes mismatch
  .murdock
  makefiles/tests/tests.inc.mk
Labels: Area: tests, Area: build system, CI: ready for build, Area: CI

#16993 examples/gnrc_border_router: allow to use gnrc_ipv6_auto_subnets for prefix configuration
  dist/tools/ethos/start_network.sh
  dist/tools/sliptty/start_network.sh
  dist/tools/usb-cdc-ecm/start_network.sh
  dist/tools/zep_dispatch/start_network.sh
  examples/gnrc_border_router/Makefile
  examples/gnrc_border_router/Makefile.cdc-ecm.conf
  examples/gnrc_border_router/Makefile.ethos.conf
  examples/gnrc_border_router/Makefile.native.conf
  examples/gnrc_border_router/Makefile.slip.conf
  examples/gnrc_border_router/README.md
Labels: Area: doc, Type: new feature, CI: ready for build, Area: tools, Area: examples

#18308 gnrc_border_router: Fix syntax error in Kea configuration
  examples/gnrc_border_router/README.md
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Area: examples, CI: skip compile test

#16705 gcoap_dns: initial import of a DNS over CoAP (DoC) client
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/coap.h
  sys/include/net/gcoap/dns.h
  sys/net/application_layer/gcoap/Kconfig
  sys/net/application_layer/gcoap/dns.c
  tests/gcoap_dns/Makefile
  tests/gcoap_dns/Makefile.ci
  tests/gcoap_dns/app.config
  tests/gcoap_dns/coaps.config
  tests/gcoap_dns/main.c
  tests/gcoap_dns/sock_dns_mock.c
  tests/gcoap_dns/tests/01-run.py
Labels: Area: network, Area: tests, Area: build system, Type: new feature, CI: ready for build, CI: run tests, Area: CoAP, Area: sys, Area: Kconfig

#18131 drivers/mcp2515: apply filters to target mailbox
  drivers/mcp2515/candev_mcp2515.c
  drivers/mcp2515/mcp2515_defines.h
  sys/include/can/can.h
  tests/candev/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: sys

#18278 cpu/esp32: use to ESP-IDF twai HAL for periph/can
  cpu/esp32/include/can_esp.h
  cpu/esp32/periph/can.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#18274 cpu/esp32: use ESP-IDF interrupt HAL for periph/uart
  cpu/esp32/esp-idf-api/uart.c
  cpu/esp32/include/esp_idf_api/uart.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp_common/periph/uart.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#18281 cpu/esp32: use ESP-IDF spi HAL for periph/spi
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/spi.c
  cpu/esp8266/periph/spi.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#18301 pkg/lvgl: bump to v8.3.0
  pkg/lvgl/Makefile
  pkg/lvgl/patches/0001-widgets-make-dependencies-internal-handling-consiste.patch
Labels: Area: pkg, CI: ready for build

#18270 cpu/esp32: use ESP-IDF gpio HAL for periph/gpio
  cpu/esp32/Makefile.dep
  cpu/esp32/esp-idf-api/gpio.c
  cpu/esp32/esp-idf/gpio/Kconfig
  cpu/esp32/esp-idf/gpio/Makefile
  cpu/esp32/include/esp_idf_api/gpio.h
  cpu/esp32/include/gpio_arch.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/Makefile
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/gpio_arch.c
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Makefile.dep
Labels: Type: enhancement, Area: tests, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#17680 sock_dns: implement DNS cache
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/dns/msg.h
  sys/net/application_layer/dns/msg.c
  sys/net/application_layer/gcoap/dns.c
  sys/net/application_layer/sock_dns/Makefile
  sys/net/application_layer/sock_dns/dns.c
  sys/net/application_layer/sock_dns/dns_cache.c
  sys/net/application_layer/sock_dns/dns_cache.h
  tests/unittests/tests-sock_dns_cache/Makefile
  tests/unittests/tests-sock_dns_cache/Makefile.include
  tests/unittests/tests-sock_dns_cache/tests-sock_dns_cache.c
  tests/unittests/tests-sock_dns_cache/tests-sock_dns_cache.h
Labels: Area: network, Area: tests, Area: build system, CI: ready for build, Area: CoAP, Area: sys

#18311 gnrc/ipv6_auto_subnets: improve wording in documentation, add to Doxygen
  doc/doxygen/riot.doxyfile
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Type: enhancement, Area: network, Area: doc, Impact: minor, CI: ready for build, Area: sys, CI: skip compile test

#18280 cpu/esp32: use ESP-IDF sleep API for periph/pm
  cpu/esp32/periph/pm.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#17957 nanocoap: define and use coap_request_ctx_t for request handlers
  examples/cord_ep/main.c
  examples/cord_epsim/main.c
  examples/gcoap/server.c
  examples/gcoap_block_server/gcoap_block.c
  examples/gcoap_fileserver/main.c
  examples/nanocoap_server/coap_handler.c
  examples/suit_update/coap_handler.c
  sys/include/net/gcoap/fileserver.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/Makefile
  sys/net/application_layer/gcoap/fileserver.c
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/nanocoap_internal.h
  sys/suit/transport/coap.c
  tests/gcoap_dns/main.c
  tests/nanocoap_cli/request_handlers.c
  tests/pkg_edhoc_c/responder.c
  tests/riotboot_flashwrite/coap_handler.c
Labels: Area: network, Area: tests, Process: API change, CI: ready for build, Area: OTA, Area: CoAP, Process: needs >1 ACK, Area: sys, Area: examples

#18279 cpu/esp32: use ESP-IDF i2c HAL for ESP32 periph/i2c
  boards/common/esp32/include/periph_conf_common.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/i2c_hw.c
  cpu/esp_common/periph/i2c_sw.c
  pkg/esp32_sdk/patches/0015-driver-i2c-remove-the-include-gpio.h-in-i2c.h-header.patch
  pkg/esp32_sdk/patches/0016-driver-i2c.h-expose-i2c_hw_fsm_reset-to-RIOT-code.patch
Labels: Type: enhancement, Area: pkg, CI: ready for build, Area: boards, Platform: ESP, Area: cpu

#18314 cpu/esp_{common,32,8266}: improve Kconfig submenu structure
  cpu/esp32/Kconfig
  cpu/esp32/periph/Kconfig
  cpu/esp8266/Kconfig
  cpu/esp_common/Kconfig
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18316 cpu/esp32: use CPU_FAM and CPU_ARCH for ESP32x SoC variant dependent compilation
  boards/common/esp32/Makefile.features
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/bootloader/Makefile
  cpu/esp32/esp-idf-api/Makefile
  cpu/esp32/esp-idf/adc/Makefile
  cpu/esp32/esp-idf/common/Makefile
  cpu/esp32/esp-idf/efuse/Makefile
  cpu/esp32/esp-idf/esp_idf.mk
  cpu/esp32/esp-idf/gpio/Makefile
  cpu/esp32/esp-idf/heap/Makefile
  cpu/esp32/esp-idf/spi_flash/Makefile
  cpu/esp32/esp-idf/spi_ram/Makefile
  cpu/esp32/esp-idf/wifi/Makefile
  cpu/esp32/include/adc_arch.h
  cpu/esp32/irq_arch.c
  cpu/esp32/periph/adc.c
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/i2c_hw.c
  cpu/esp32/periph/rtt_hw_rtc.c
  cpu/esp32/periph/spi.c
  cpu/esp32/periph/timer.c
  cpu/esp32/startup.c
  cpu/esp32/syscalls.c
  cpu/esp8266/Makefile.features
  cpu/esp_common/Makefile.features
  cpu/esp_common/Makefile.include
  cpu/esp_common/freertos/task.c
  cpu/esp_common/include/esp_common.h
  cpu/esp_common/include/freertos/portmacro.h
  cpu/esp_common/periph/i2c_sw.c
  cpu/esp_common/periph/uart.c
Labels: Area: build system, CI: ready for build, Area: boards, Platform: ESP, Area: cpu

#18260 cpu/esp32: add platform code for RISC-V based ESP32x SoCs
  cpu/esp32/esp_ztimer.c
  cpu/esp32/periph/rtt.c
  cpu/esp_common/Kconfig
  cpu/esp_common/Makefile
  cpu/esp_common/Makefile.dep
  cpu/esp_common/Makefile.features
  cpu/esp_common/esp-riscv/Kconfig
  cpu/esp_common/esp-riscv/Makefile
  cpu/esp_common/esp-riscv/exceptions.c
  cpu/esp_common/esp-riscv/irq_arch.c
  cpu/esp_common/esp-riscv/thread_arch.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18319 cpu/esp_common: MODULE_XTENSA has to depend on HAS_ARCH_ESP_XTENSA
  cpu/esp_common/vendor/xtensa/Kconfig
Labels: Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18318 sock_dns_cache: move to dns_cache
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/dns/cache.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/dns/Kconfig
  sys/net/application_layer/dns/Makefile
  sys/net/application_layer/dns/cache.c
  sys/net/application_layer/sock_dns/Makefile
  sys/net/application_layer/sock_dns/dns.c
  tests/unittests/tests-dns_cache/Makefile
  tests/unittests/tests-dns_cache/Makefile.include
  tests/unittests/tests-dns_cache/tests-dns_cache.c
  tests/unittests/tests-dns_cache/tests-dns_cache.h
  tests/unittests/tests-sock_dns_cache/Makefile.include
  tests/unittests/tests-sock_dns_cache/tests-sock_dns_cache.c
Labels: Area: network, Area: tests, Area: build system, Type: cleanup, CI: ready for build, Process: needs backport, Area: sys, Area: Kconfig

#18321 cpu/esp32: split the doc into ESP32x common and ESP32 specific parts
  cpu/esp32/doc.txt
  cpu/esp32/doc_esp32.txt
Labels: Area: doc, Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18322 cpu/esp32: split sdkconfig.h into ESP32x common and ESP32 specific parts
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/bootloader/sdkconfig_default_esp32.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32.h
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu

#18317 cpu/esp32: make esp_hw_counter feature dependent on ESP32x SoC family
  cpu/esp32/Kconfig
  cpu/esp32/Makefile.features
Labels: Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18323 cpu/esp32: split cpu_conf.h into ESP32x common and ESP32 specific parts
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/include/cpu_conf_esp32.h
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu

#18325 cpu/esp32: move linker scripts to a ESP32x variant specific directory
  cpu/esp32/Makefile.include
  cpu/esp32/ld/esp32/memory.ld
  cpu/esp32/ld/esp32/sections.ld
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#18326 cpu/esp32: extend file names of CPU specific files by CPU family
  cpu/esp32/periph/Makefile
  cpu/esp32/periph/adc_arch_esp32.c
  cpu/esp32/periph/gpio_arch_esp32.c
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu

#18327 sock_dns_cache: move to dns_cache [backport 2022.07]
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/dns/cache.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/dns/Kconfig
  sys/net/application_layer/dns/Makefile
  sys/net/application_layer/dns/cache.c
  sys/net/application_layer/sock_dns/Makefile
  sys/net/application_layer/sock_dns/dns.c
  tests/unittests/tests-dns_cache/Makefile
  tests/unittests/tests-dns_cache/Makefile.include
  tests/unittests/tests-dns_cache/tests-dns_cache.c
  tests/unittests/tests-dns_cache/tests-dns_cache.h
  tests/unittests/tests-sock_dns_cache/Makefile.include
  tests/unittests/tests-sock_dns_cache/tests-sock_dns_cache.c
Labels: Area: network, Area: tests, Area: build system, Type: cleanup, CI: ready for build, Process: release backport, Area: sys, Area: Kconfig

#18320 cpu/esp32: split Kconfig into ESP32x common and ESP32 specific parts
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.common
  cpu/esp32/Kconfig.esp32
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18324 cpu/esp32: split periph_cpu.h into ESP32x common and ESP32 specific parts
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/include/periph_cpu_esp32.h
  dist/tools/doccheck/exclude_patterns
Labels: Type: new feature, CI: ready for build, Area: tools, Platform: ESP, Area: cpu

#18331 tests/periph_gpio_ll: fix the output for GPIO_OUTPUT_OPEN_SOURCE tests
  tests/periph_gpio_ll/main.c
Labels: Type: bug, Area: tests, CI: ready for build, CI: skip compile test

#18330 dns_cache: synchronize access with mutex
  sys/net/application_layer/dns/cache.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#18332 cpu/esp32: add some sanity checks in peripheral drivers
  cpu/esp32/periph/adc_arch_esp32.c
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/i2c_hw.c
  cpu/esp32/periph/pwm.c
  cpu/esp32/periph/spi.c
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#18333 cpu/esp*: cleanups mainly to reduce the vera++ warnings
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/include/periph_cpu_esp32.h
  cpu/esp32/periph/adc_arch_esp32.c
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/spi.c
  cpu/esp32/syscalls.c
  cpu/esp8266/periph/spi.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/freertos/task.c
  cpu/esp_common/include/esp_common.h
  cpu/esp_common/include/esp_common_log.h
  cpu/esp_common/include/gpio_arch_common.h
  cpu/esp_common/periph/i2c_sw.c
Labels: Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu

#18334 cpu/esp32: fix dependency for periph/rtt and module esp_rtc_timer_32k
  cpu/esp32/Makefile.dep
  cpu/esp32/periph/Kconfig
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18342 dns_cache: synchronize access with mutex [backport 2022.07]
  sys/net/application_layer/dns/cache.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#18340 cpu/esp32: add linker scripts for ESP32-C3
  cpu/esp32/ld/esp32c3/memory.ld
  cpu/esp32/ld/esp32c3/sections.ld
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18336 drivers/wx281x: fix DEBUG format string for ESP32x SoCs
  drivers/ws281x/esp32.c
Labels: Type: enhancement, Area: drivers, CI: ready for build, Platform: ESP

#18335 cpu/esp32: cleanup of esp_log_write
  cpu/esp32/esp-idf/esp_idf_support.c
  cpu/esp_common/include/esp_common_log.h
Labels: Type: enhancement, Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu

#18341 cpu/esp32: add ESP32-C3 support in makefiles
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp_common/Makefile.dep
  cpu/esp_common/Makefile.features
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18339 pkg/esp32_sdk: additional patches required for ESP32-C3
  pkg/esp32_sdk/patches/0017-esp_phy-add-missing-header-includes.patch
  pkg/esp32_sdk/patches/0018-bootloader-changes-for-esp32c3.patch
  pkg/esp32_sdk/patches/0019-hal-fix-spi_ll-compilation-errors-for-riscv32.patch
  pkg/esp32_sdk/patches/0020-freertos-portasm-changes-for-RIOT-for-riscv32.patch
Labels: Type: new feature, Area: pkg, CI: ready for build, CI: skip compile test

#18329 gcoap_dns: Add DNS cache support
  sys/net/application_layer/gcoap/dns.c
  tests/gcoap_dns/main.c
  tests/gcoap_dns/tests/01-run.py
Labels: Type: enhancement, Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#18344 makefiles/suit: avoid unwanted key creation trigger
  makefiles/suit.base.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build

#18350 cpu/esp32: update documentation for ESP32-C3
  cpu/esp32/doc.txt
  cpu/esp32/doc_esp32c3.txt
Labels: Area: doc, Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18343 dist/tools/cosy: provide patch for PR #13
  dist/tools/cosy/patches/0002-parse_elffile-fix-riot_base.patch
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#18352 unittest/main: do not intialize xtimer if ztimer_xtimer_compat
  tests/unittests/main.c
Labels: Type: bug, Area: tests, CI: ready for build

#18349 sys/shell/commands/ping: fix dependency & convert to ztimer
  examples/asymcute_mqttsn/Makefile.ci
  examples/cord_lc/Makefile.ci
  examples/gcoap/Makefile.ci
  sys/Makefile.dep
  sys/shell/commands/Makefile
  sys/shell/commands/sc_gnrc_icmpv6_echo.c
  tests/gnrc_rpl/Makefile.ci
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Area: sys, Area: examples

#18357 pkg/lwip: fix code style
  pkg/lwip/contrib/_netif.c
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c
  pkg/lwip/contrib/sys_arch.c
Labels: Area: network, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build

#18358 doc/doxygen: use DuckDuckGo for search
  doc/doxygen/header.html
  doc/doxygen/src/js/menu.js
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#18360 gnrc_ipv6_nib: make configurable via Kconfig again
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/ipv6/nib/Kconfig
Labels: Area: network, CI: ready for build, Area: sys, Area: Kconfig

#18362 gnrc_ipv6_nib: make configurable via Kconfig again [backport 2022.07]
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/ipv6/nib/Kconfig
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys, Area: Kconfig

#18288 pkg/lwip: ease debugging & fix sending from socket bound to anyaddr
  pkg/lwip/Makefile
  pkg/lwip/contrib/sock/lwip_sock.c
Labels: Type: bug, Area: network, Area: pkg, CI: ready for build

#17739 drivers: model kconfig for Ethernet drivers
  boards/esp32-ethernet-kit-v1_0/Kconfig
  boards/esp32-olimex-evb/Kconfig
  boards/nucleo-f207zg/Kconfig
  boards/nucleo-f746zg/Kconfig
  boards/nucleo-f767zi/Kconfig
  boards/same54-xpro/Kconfig
  boards/stm32f746g-disco/Kconfig
  cpu/esp32/Makefile.dep
  cpu/esp32/esp-eth/Kconfig
  cpu/native/Kconfig
  cpu/native/cli_eui_provider/Kconfig
  cpu/sam0_common/sam0_eth/Kconfig
  cpu/stm32/periph/Kconfig.eth
  drivers/Kconfig
  drivers/Kconfig.net
  drivers/dose/Kconfig
  drivers/enc28j60/Kconfig
  drivers/encx24j600/Kconfig
  drivers/ethos/Kconfig
  drivers/netdev/Kconfig
  drivers/w5100/Kconfig
  sys/Kconfig.stdio
  sys/net/Kconfig
  sys/net/crosslayer/Kconfig
  sys/net/crosslayer/netopt/Kconfig
  sys/test_utils/Kconfig
  sys/test_utils/netdev_eth_minimal/Kconfig
  tests/driver_dose/Kconfig
  tests/driver_dose/Makefile
  tests/driver_dose/app.config.test
  tests/driver_enc28j60/app.config.test
  tests/driver_encx24j600/app.config.test
  tests/driver_esp_eth/Kconfig
  tests/driver_esp_eth/Makefile
  tests/driver_esp_eth/app.config.test
  tests/driver_ethos/app.config.test
  tests/driver_sam0_eth/Kconfig
  tests/driver_sam0_eth/Makefile
  tests/driver_sam0_eth/app.config.test
  tests/driver_stm32_eth/Kconfig
  tests/driver_stm32_eth/app.config.test
  tests/driver_w5100/app.config.test
Labels: Platform: native, Platform: ARM, Area: network, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: sys, Area: Kconfig

#18365 test/unittest: initilize ztimer64 is required, use xtimer test-fib
  tests/unittests/main.c
  tests/unittests/tests-fib/Makefile.include
Labels: Type: bug, Area: tests, CI: ready for build, Area: timers

#18366 pkg/lvgl: bump version to 8.3.1
  pkg/lvgl/Makefile
Labels: Area: pkg, CI: ready for build

#18367 gcoap_dns: various fixes
  sys/net/application_layer/gcoap/dns.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: CoAP, Area: sys

#18368 pkg/tinydtls: bump version
  pkg/tinydtls/Makefile
  pkg/tinydtls/patches/0001-dtls_time-migrate-to-ztimer64_msec.patch
  pkg/tinydtls/patches/0002-session.h-Modify-session_t-for-RIOT.patch
  pkg/tinydtls/patches/0003-session-Rename-condition-WITH_RIOT_GNRC-to-WITH_RIOT.patch
  pkg/tinydtls/patches/0004-session-Add-support-for-IPv4-on-RIOT-OS.patch
  pkg/tinydtls/patches/0005-crypto-remove-unnecessary-usage-of-malloc-dtls_hmac_.patch
  pkg/tinydtls/patches/0006-crypto-only-one-HMAC-context-is-required.patch
Labels: Area: pkg, CI: ready for build

#18369 examples/dtls-echo: set address family for sessions
  examples/dtls-echo/dtls-client.c
  examples/dtls-echo/dtls-server.c
Labels: Type: bug, CI: ready for build, Process: needs backport, Area: examples

#18370 gnrc_netif_conf: fix auto-6ctx switch
  sys/include/net/gnrc/netif/conf.h
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: sys

#18371 examples/dtls-echo: set address family for sessions [backport 2022.07]
  examples/dtls-echo/dtls-client.c
  examples/dtls-echo/dtls-server.c
Labels: Type: bug, CI: ready for build, Process: release backport, Area: examples

#18372 random: use void * in random_bytes()
  sys/include/random.h
  sys/random/random.c
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: sys

#18364 .murdock: Fix kconfig hash check
  .murdock
  cpu/esp32/Kconfig.esp32
  cpu/esp32/esp-idf/gpio/Kconfig
  tests/external_board_dirs/esp-ci-boards/esp32-ci/esp32-ci.config
Labels: Type: bug, Area: tests, CI: ready for build, Area: CI, Platform: ESP, Area: cpu, Area: Kconfig

#16861 sock_dodtls: Initial import of a DNS over DTLS client
  sys/Makefile
  sys/Makefile.dep
  sys/include/net/sock/dodtls.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/sock_dodtls/Kconfig
  sys/net/application_layer/sock_dodtls/Makefile
  sys/net/application_layer/sock_dodtls/sock_dodtls.c
  tests/gnrc_sock_dodtls/Makefile
  tests/gnrc_sock_dodtls/Makefile.board.dep
  tests/gnrc_sock_dodtls/Makefile.ci
  tests/gnrc_sock_dodtls/README.md
  tests/gnrc_sock_dodtls/main.c
Labels: Area: network, Area: doc, Area: tests, Type: new feature, CI: ready for build, Area: sys, Area: Kconfig

#18373 gcoap_dns: various fixes [backport 2022.07]
  sys/net/application_layer/gcoap/dns.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: CoAP, Area: sys

#18375 gnrc_netif_conf: fix auto-6ctx switch [backport 2022.07]
  sys/include/net/gnrc/netif/conf.h
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#17789 drivers: model IEEE 802.15.4 devices in Kconfig
  boards/cc2538dk/Kconfig
  boards/common/iotlab/Kconfig
  boards/common/kw41z/Kconfig
  boards/common/remote/Kconfig
  boards/hamilton/Kconfig
  boards/mulle/Kconfig
  boards/omote/Kconfig
  boards/openlabs-kw41z-mini/Kconfig
  boards/openmote-b/Kconfig
  boards/openmote-cc2538/Kconfig
  boards/pba-d-01-kw2x/Kconfig
  boards/samr21-xpro/Kconfig
  boards/samr30-xpro/Kconfig
  boards/telosb/Kconfig
  boards/z1/Kconfig
  cpu/cc2538/radio/Kconfig
  cpu/native/socket_zep/Kconfig
  cpu/nrf5x_common/radio/Kconfig.nrf5x
  drivers/Kconfig.net
  drivers/at86rf215/Kconfig
  drivers/at86rf2xx/Kconfig
  drivers/cc2420/Kconfig
  drivers/kw2xrf/Kconfig
  drivers/kw41zrf/Kconfig
  drivers/kw41zrf/vendor/XCVR/MKW41Z4/Kconfig
  drivers/mrf24j40/Kconfig
  drivers/netdev/Kconfig
  drivers/netdev_ieee802154_submac/Kconfig
Labels: Platform: native, Platform: ARM, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18377 unittest: fix ztimer(64)_initilization #18352 #18365 [backport 2022.07]
  tests/unittests/main.c
  tests/unittests/tests-fib/Makefile.include
Labels: Type: bug, Area: tests, CI: ready for build, Process: release backport

#18382 tests/ieee802154_*: fix tx_done handler on ACK_TIMEOUT and improve tests
  tests/ieee802154_hal/main.c
  tests/ieee802154_submac/main.c
Labels: Area: tests, CI: ready for build

#18384 dist/tools/edbg: bump version (and update SAML11 documentation)
  boards/common/saml1x/include/periph_conf.h
  boards/saml11-xpro/doc.txt
  dist/tools/edbg/Makefile
Labels: Area: doc, CI: ready for build, Area: tools, Area: boards

#18380 sock_dtls: make sock_dtls-header includeable without `sock_dtls` module
  sys/include/net/sock/dtls.h
Labels: Type: enhancement, Area: network, Impact: minor, CI: ready for build, Area: sys

#18141 littlefs: make block size configurable at compile time
  pkg/littlefs/fs/littlefs_fs.c
  pkg/littlefs2/Kconfig
  pkg/littlefs2/fs/littlefs2_fs.c
  sys/include/fs/littlefs2_fs.h
  sys/include/fs/littlefs_fs.h
  tests/pkg_littlefs/main.c
  tests/pkg_littlefs2/main.c
Labels: Area: tests, Area: pkg, CI: ready for build, Area: fs, Area: sys, Area: Kconfig
