Repository RIOT-OS/RIOT, pull requests merged in 2022-02, with the labels that each got.

#17435 sys/fido2: model Kconfig
  pkg/Kconfig
  pkg/fido2_tests/Kconfig
  sys/Makefile.dep
  sys/fido2/Kconfig
  sys/fido2/ctap/Kconfig
  sys/fido2/ctap/transport/Kconfig
  sys/fido2/ctap/transport/hid/Kconfig
  tests/sys_fido2_ctap/app.config.test
Labels: Type: enhancement, Area: tests, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17598 makefiles: avoid extra "/" when including files from external modules
  Makefile.dep
  Makefile.include
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#17596 makefiles.kconfig.mk: use EXTERNAL_MODULE_DIRS in Kconfig resolution
  Makefile.include
  makefiles/kconfig.mk
  tests/kconfig/Makefile
  tests/kconfig/app.config.test
  tests/kconfig/external_modules/external_module_1/Kconfig
  tests/kconfig/external_modules/external_module_2/Kconfig
Labels: Type: bug, Area: tests, Area: build system, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: Kconfig

#17467 board/*/kconfig: Fix boards on kconfig blocklist
  .murdock
  boards/esp32-wrover-kit/Makefile.features
  boards/limifrog-v1/Kconfig
  boards/msb-430h/Kconfig
  boards/msbiot/Kconfig
  boards/omote/Kconfig
  boards/openmote-b/Kconfig
  boards/remote-pa/Kconfig
  boards/samd10-xmini/Kconfig
  boards/stk3200/Makefile.dep
  boards/stk3200/Makefile.include
  cpu/stm32/kconfigs/Kconfig.clk
  drivers/adxl345/Kconfig
  drivers/bmp180/Kconfig
  drivers/mpu9x50/Kconfig
  tests/driver_mpu9x50/app.config.test
Labels: Platform: ARM, Area: tests, Area: drivers, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig, CI: full build

#17603 tests/driver_lc709203f: fix documentation
  tests/driver_lc709203f/README.md
Labels: Area: doc, Area: tests, Impact: minor, CI: ready for build, CI: skip compile test

#17610 murdock: prioritize job collection over build jobs
  .murdock
Labels: CI: ready for build, Area: CI

#17579 boards/feather-m0: sx127x params only valid for lora variant
  boards/feather-m0/include/board.h
Labels: Impact: minor, CI: ready for build, Area: boards

#17604 pkg/tinycbor: bump version
  pkg/tinycbor/Makefile
Labels: Area: pkg, CI: ready for build

#17605 drivers/dose: include board.h
  drivers/dose/dose.c
  drivers/include/dose.h
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#12012 sys/stdio_nimble: add new stdio module using nimble
  dist/pythonlibs/testrunner/spawn.py
  makefiles/pseudomodules.inc.mk
  makefiles/stdio.inc.mk
  pkg/nimble/Makefile.include
  pkg/nimble/contrib/nimble_riot.c
  sys/include/stdio_nimble.h
  sys/stdio_nimble/Makefile
  sys/stdio_nimble/README.md
  sys/stdio_nimble/stdio_nimble.c
  tests/shell/tests/01-run.py
  tests/shell_ble/Makefile
  tests/shell_ble/README.md
  tests/shell_ble/main.c
  tests/shell_ble/tests-with-config/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: BLE, Area: sys, State: don't stale

#16919 core/rmutex: use atomic utils
  core/include/rmutex.h
  core/rmutex.c
  sys/include/atomic_utils.h
  sys/xtimer/xtimer.c
  sys/ztimer/util.c
  sys/ztimer64/util.c
  tests/xtimer_rmutex_lock_timeout/main.c
  tests/ztimer_rmutex_lock_timeout/main.c
Labels: Area: tests, Area: core, CI: ready for build, Area: timers, Area: sys

#17613 boards/same54-xpro: support for board variation with SST26VF064B flash
  boards/adafruit-itsybitsy-m4/board.c
  boards/common/weact-f4x1cx/board.c
  boards/ikea-tradfri/board.c
  boards/iotlab-m3/mtd.c
  boards/mulle/board.c
  boards/nrf52840dk/mtd.c
  boards/pinetime/board.c
  boards/qn9080dk/board.c
  boards/same54-xpro/board.c
  boards/serpente/board.c
  drivers/include/mtd_spi_nor.h
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, CI: ready for build, Area: boards

#17521 cpu/stm32: Add clock config for mp1 to kconfig
  .murdock
  boards/stm32mp157c-dk2/Kconfig
  cpu/stm32/kconfigs/Kconfig.clk
Labels: Platform: ARM, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig, CI: full build

#17211 buildsystem: add EXTERNAL_PKG_DIRS functionality
  Kconfig
  Makefile.include
  makefiles/dependency_resolution.inc.mk
  makefiles/kconfig.mk
  pkg/doc.txt
  tests/external_pkg_dirs/Makefile
  tests/external_pkg_dirs/README.md
  tests/external_pkg_dirs/app.config.test
  tests/external_pkg_dirs/external_pkgs/external_pkg/Kconfig
  tests/external_pkg_dirs/external_pkgs/external_pkg/Makefile
  tests/external_pkg_dirs/external_pkgs/external_pkg/Makefile.include
  tests/external_pkg_dirs/external_pkgs/external_pkg_not_used/Kconfig
  tests/external_pkg_dirs/external_pkgs/external_pkg_not_used/Makefile
  tests/external_pkg_dirs/external_pkgs/external_pkg_not_used/Makefile.include
  tests/external_pkg_dirs/main.c
  tests/kconfig/Makefile
  tests/kconfig/app.config
  tests/kconfig/app.config.test
  tests/kconfig/external_pkgs/external_pkg_1/Kconfig
  tests/kconfig/external_pkgs/external_pkg_1/Makefile
  tests/kconfig/external_pkgs/external_pkg_1/Makefile.include
  tests/kconfig/external_pkgs/external_pkg_1/include/external_pkg_1.h
  tests/kconfig/external_pkgs/external_pkg_2/Kconfig
  tests/kconfig/external_pkgs/external_pkg_2/Makefile
  tests/kconfig/external_pkgs/external_pkg_2/Makefile.include
  tests/kconfig/external_pkgs/external_pkg_2/include/external_pkg_2.h
  tests/kconfig/main.c
  tests/kconfig/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: Kconfig

#17496 cpu/stm32/wl: Model kconfig clocks
  .murdock
  boards/lora-e5-dev/Kconfig
  cpu/stm32/kconfigs/Kconfig.clk
Labels: Platform: ARM, CI: ready for build, Area: CI, Area: boards, Area: cpu, Area: Kconfig, CI: full build

#17621 sys/vfs: provide vfs_fsync()
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  pkg/littlefs/fs/littlefs_fs.c
  pkg/littlefs2/fs/littlefs2_fs.c
  pkg/spiffs/fs/spiffs_fs.c
  sys/include/vfs.h
  sys/vfs/vfs.c
Labels: Area: pkg, CI: ready for build, Area: sys

#17595 kconfig explore all allowed boards on all apps
  .murdock
  boards/ublox-c030-u201/Makefile.dep
Labels: CI: ready for build, Area: CI, Area: boards, CI: full build

#17606 tests/pkg_mbedtls: improve entropy test case and doc
  tests/pkg_mbedtls/Makefile
  tests/pkg_mbedtls/main.c
  tests/pkg_mbedtls/tests/01-run.py
Labels: Area: tests, CI: ready for build, Area: security, CI: run tests

#17623 pkg/littlefs*: align readdir() with documentation
  pkg/littlefs/fs/littlefs_fs.c
  pkg/littlefs2/fs/littlefs2_fs.c
  tests/pkg_littlefs/main.c
  tests/pkg_littlefs2/main.c
Labels: Type: bug, Area: tests, Area: pkg, CI: ready for build

#17628 nimble: Use sysctl in docs
  pkg/nimble/README.ipv6-over-ble.md
Labels: Area: doc, Impact: minor, Area: pkg, CI: ready for build, Area: BLE, CI: skip compile test

#17626 fs/constfs: omit leading '/' in readdir()
  sys/fs/constfs/constfs.c
  sys/shell/commands/sc_vfs.c
Labels: Type: bug, CI: ready for build, Area: sys

#17564 pkg/tinydtls: migrate to ztimer64_msec
  pkg/tinydtls/Makefile.dep
  pkg/tinydtls/patches/0001-dtls_time-migrate-to-ztimer64_msec.patch
Labels: Area: pkg, CI: ready for build

#17630 sys/xtimer: introduce `xtimer_is_set()`
  sys/include/xtimer.h
  sys/include/xtimer/implementation.h
  tests/xtimer_remove/main.c
Labels: Area: tests, CI: ready for build, Area: timers, Area: sys

#17616 cpu/sam0_common: add periph_spi_init_gpio
  cpu/sam0_common/Kconfig
  cpu/sam0_common/Makefile.dep
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/periph/spi.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Area: Kconfig

#17341 sys/vfs: add file-system auto-mount
  boards/native/board_init.c
  cpu/native/include/mtd_native.h
  drivers/include/mtd.h
  examples/filesystem/Makefile
  examples/filesystem/main.c
  makefiles/pseudomodules.inc.mk
  pkg/fatfs/fatfs_diskio/mtd/mtd_diskio.c
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/fs/fatfs.h
  sys/include/vfs.h
  sys/vfs/Kconfig
  sys/vfs/vfs.c
  tests/pkg_fatfs_vfs/main.c
Labels: Platform: native, Area: tests, Area: build system, Area: pkg, Area: drivers, CI: ready for build, Area: boards, Area: cpu, Area: sys, Area: examples, Area: Kconfig

#17629 boards/stm32mp157c-dk2: Overwrite mpu_stack_guard in kconfig
  .murdock
  boards/stm32mp157c-dk2/Makefile.features
  boards/stm32mp157c-dk2/stm32mp157c-dk2.config
Labels: CI: ready for build, Area: CI, Area: boards, CI: full build

#17525 [POC] tests/external-boards: add esp compile test boards
  .murdock
  boards/esp32-wrover-kit/Makefile.dep
  boards/esp32-wrover-kit/Makefile.features
  boards/esp8266-olimex-mod/Makefile.dep
  cpu/esp32/periph/Kconfig
  cpu/esp32/periph/Kconfig.i2c
  cpu/esp8266/Kconfig
  cpu/esp_common/Kconfig
  tests/external_board_dirs/Makefile
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Kconfig
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Makefile
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Makefile.features
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Makefile.include
  tests/external_board_dirs/esp-ci-boards/esp32-ci/esp32-ci.config
  tests/external_board_dirs/esp-ci-boards/esp8266-ci/Kconfig
  tests/external_board_dirs/esp-ci-boards/esp8266-ci/Makefile
  tests/external_board_dirs/esp-ci-boards/esp8266-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp8266-ci/Makefile.features
  tests/external_board_dirs/esp-ci-boards/esp8266-ci/Makefile.include
  tests/external_board_dirs/esp-ci-boards/esp8266-ci/esp8266-ci.config
  tests/periph_i2c/Makefile
Labels: Area: tests, CI: ready for build, Area: CI, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#17597 dist/tools/genconfig: add error on hidden symbols
  dist/tools/kconfiglib/genconfig.py
Labels: Type: enhancement, CI: ready for build, Area: tools, Area: Kconfig

#17608 drivers/ethos: fix build without ethos_stdio
  drivers/ethos/ethos.c
  drivers/include/ethos.h
  tests/driver_ethos/Makefile
  tests/driver_ethos/Makefile.ci
  tests/driver_ethos/main.c
Labels: Type: bug, Area: tests, Area: drivers, CI: ready for build

#17636 net/gnrc/pkt: Fix ISO C++ compatibility
  sys/include/net/gnrc/pkt.h
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#17635 cpu/native/netdev_tap: Add to netdev_register
  cpu/native/include/netdev_tap.h
  cpu/native/netdev_tap/netdev_tap.c
  drivers/include/net/netdev.h
  pkg/lwip/init_devs/auto_init_netdev_tap.c
  sys/net/gnrc/netif/init_devs/auto_init_netdev_tap.c
Labels: Platform: native, Area: network, Area: pkg, Area: drivers, CI: ready for build, Area: cpu, Area: sys

#17637 net: Add typedef for AF enum
  sys/include/net/af.h
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#17639 boards/nucleo-l552ze-q doc: Improvements to documentation
  boards/nucleo-l552ze-q/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#16384 sys/senml: add SenML modules
  dist/tools/codespell/ignored_words.txt
  examples/senml_saul/Makefile
  examples/senml_saul/Makefile.ci
  examples/senml_saul/main.c
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/Makefile.dep
  sys/include/senml.h
  sys/include/senml/cbor.h
  sys/include/senml/phydat.h
  sys/include/senml/saul.h
  sys/senml/Kconfig
  sys/senml/Makefile
  sys/senml/Makefile.dep
  sys/senml/cbor.c
  sys/senml/phydat.c
  sys/senml/saul.c
  sys/senml/senml.c
  tests/senml_cbor/Makefile
  tests/senml_cbor/Makefile.ci
  tests/senml_cbor/app.config.test
  tests/senml_cbor/main.c
  tests/senml_cbor/tests/01-run.py
  tests/senml_phydat/Makefile
  tests/senml_phydat/Makefile.ci
  tests/senml_phydat/app.config.test
  tests/senml_phydat/main.c
  tests/senml_phydat/tests/01-run.py
  tests/senml_saul/Makefile
  tests/senml_saul/Makefile.ci
  tests/senml_saul/main.c
  tests/senml_saul/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, CI: ready for build, Area: tools, Area: sys, Area: examples, Area: Kconfig

#17550 tools/cpy2remed: Addition of new programmer for nucleo boards
  boards/nucleo-l552ze-q/Makefile.include
  boards/nucleo-l552ze-q/doc.txt
  dist/tools/cpy2remed/cpy2remed.sh
  makefiles/tools/cpy2remed.inc.mk
Labels: Area: doc, Area: build system, CI: ready for build, Area: tools, Area: boards

#17645 vfs: Initialize stat buffers so FSs don't have to
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  pkg/spiffs/fs/spiffs_fs.c
  sys/fs/constfs/constfs.c
  sys/posix/sockets/posix_sockets.c
  sys/vfs/vfs.c
Labels: Type: bug, CI: ready for build, Area: fs

#17634 pkg/fatfs: implement statvfs()
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
Labels: Area: pkg, CI: ready for build, Area: fs

#17632 makefiles/dependency_resolution: add outer loop for DEFAULT_MODULE deps
  makefiles/default_modules.deps.mk
  makefiles/defaultmodules.inc.mk
  makefiles/dependency_resolution.inc.mk
  makefiles/features_modules.inc.mk
  sys/Makefile.dep
  sys/ztimer/Makefile.dep
  tests/gnrc_dhcpv6_relay/Makefile
Labels: Area: tests, Area: build system, Type: cleanup, CI: ready for build, Area: timers, Area: sys

#17643 sys/vfs: add vfs_default, configure default fs for same54-xpro
  boards/native/Makefile.dep
  boards/native/board_init.c
  boards/same54-xpro/Makefile.dep
  boards/same54-xpro/board.c
  examples/filesystem/Makefile
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/vfs/Kconfig
Labels: Platform: native, Area: build system, Discussion: RFC, CI: ready for build, Area: boards, Area: sys, Area: examples, Area: Kconfig

#17653 boards/native: select MTD defaults for FAT
  boards/native/include/board.h
  examples/filesystem/README.md
  tests/pkg_fatfs/Makefile
  tests/pkg_fatfs_vfs/Makefile
Labels: Type: enhancement, Platform: native, Area: doc, Area: tests, CI: ready for build, Area: boards, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Area: examples

#17614 sys/ztimer doc: List prerequisites for successful use of ztimer_now
  sys/include/ztimer.h
Labels: CI: ready for build, Area: timers, Area: sys

#17574 core/assert: avoid including panic.h with assert.h
  boards/msba2/include/periph_conf.h
  core/assert.c
  core/include/assert.h
  core/panic.c
  cpu/stm32/periph/i2c_1.c
  cpu/stm32/periph/i2c_2.c
  drivers/disp_dev/disp_dev.c
  drivers/saul/init_devs/auto_init_sgp30.c
  examples/nanocoap_server/coap_handler.c
  examples/suit_update/coap_handler.c
  sys/fmt/fmt.c
  sys/include/net/gnrc/ipv6/nib/pl.h
  sys/include/net/gnrc/sixlowpan/ctx.h
  sys/include/utlist.h
  tests/nanocoap_cli/request_handlers.c
  tests/sys_architecture/main.c
Labels: Type: bug, Platform: ARM, Area: network, Area: tests, Area: core, Area: drivers, CI: ready for build, Area: boards, Area: SAUL, Area: cpu, Process: needs >1 ACK, Area: sys, Area: examples

#17655 sys/evtimer: remove deprecated evtimer_now_min
  sys/include/evtimer.h
Labels: CI: ready for build, Area: timers, Area: sys

#16789 make: add -ffunction-sections -fdata-sections to LINKFLAGS if LTO=1
  makefiles/cflags.inc.mk
  sys/malloc_thread_safe/malloc_wrappers.c
Labels: Type: bug, Area: build system, CI: ready for build, CI: run tests, Area: sys

#17649 tests/slip: homogenize CFLAGS in Makefile with slipdev driver
  tests/slip/Makefile
  tests/slip/slipdev_params.h
Labels: Area: tests, Impact: minor, CI: ready for build

#14430 pkg/fatfs: fatfs_vfs: wire up format()
  examples/filesystem/Makefile
  examples/filesystem/README.md
  makefiles/pseudomodules.inc.mk
  pkg/fatfs/Makefile.dep
  pkg/fatfs/fatfs_diskio/mtd/mtd_diskio.c
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  pkg/fatfs/vendor/include/ffconf.h
  sys/include/fs/fatfs.h
  tests/pkg_fatfs_vfs/Makefile
  tests/pkg_fatfs_vfs/main.c
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: fs, Reviewed: 3-testing, Area: sys, Area: examples

#17666 mtd doc: Add overview defining terms; link modules
  drivers/include/mtd.h
  drivers/include/mtd_flashpage.h
Labels: Type: enhancement, Area: drivers, CI: ready for build

#17667 drivers/at86rf215: fix disabling individual modulations
  drivers/at86rf215/Makefile
  drivers/at86rf215/at86rf215_netdev.c
Labels: Type: bug, Area: drivers, CI: ready for build

#17661 sys/vfs: add vfs_mount_by_path()
  sys/include/vfs.h
  sys/shell/commands/sc_vfs.c
  sys/vfs/vfs.c
Labels: Type: enhancement, CI: ready for build, Area: fs, Area: sys

#17668 sys/net/gnrc_sixlowpan_frag_sfr: use xtimer_set
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/gnrc_sixlowpan_frag_sfr.c
Labels: Area: network, CI: ready for build, Area: sys

#17619 drivers/mtd_sdcard: support unaligned reads & writes
  drivers/include/mtd_sdcard.h
  drivers/mtd_sdcard/mtd_sdcard.c
  tests/mtd_raw/Makefile
Labels: Area: tests, Area: drivers, CI: ready for build, Reviewed: 3-testing

#17660 vfs: Introduce reliable disk enumeration
  sys/include/vfs.h
  sys/shell/commands/sc_vfs.c
  sys/vfs/vfs.c
  tests/vfs_iterate_mount/Makefile
  tests/vfs_iterate_mount/Makefile.ci
  tests/vfs_iterate_mount/main.c
  tests/vfs_iterate_mount/tests/01-run.py
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: fs, CI: run tests, Area: sys

#17672 cpu/efm32: bump Gecko SDK version
  cpu/efm32/Makefile.dep
  cpu/efm32/periph/Makefile
  pkg/gecko_sdk/Makefile
Labels: Platform: ARM, Area: pkg, CI: ready for build, Area: cpu

#17674 tools/dhcpv6-pd_ia: create /run/kea on startup
  dist/tools/dhcpv6-pd_ia/kea.py
Labels: Type: enhancement, CI: ready for build, Area: tools, CI: skip compile test

#17675 sys/net/dhcpv6: enhance doc of CONFIG_DHCPV6_CLIENT_PFX_LEASE_MAX
  sys/include/net/dhcpv6/client.h
Labels: Area: network, Area: doc, Impact: minor, CI: ready for build, Area: sys, CI: skip compile test

#17665 cpu/riscv_common: enable puf_sram feature
  cpu/riscv_common/Kconfig
  cpu/riscv_common/Makefile.features
  cpu/riscv_common/include/cpu_conf_common.h
  cpu/riscv_common/ldscripts/riscv_base.ld
  cpu/riscv_common/riscv_init.c
  cpu/riscv_common/start.S
Labels: CI: ready for build, Area: security, Platform: RISC-V, Area: cpu, Area: Kconfig

#17671 cpu/esp32: enable puf_sram feature
  cpu/esp32/Kconfig
  cpu/esp32/Makefile.features
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/startup.c
Labels: CI: ready for build, Area: security, CI: run tests, Platform: ESP, Area: cpu, Area: Kconfig

#17682 boards/nucleo-f767zi: fix adc_config indentation
  boards/nucleo-f767zi/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#17677 pkg/tinydtls/sock_dtls: use ztimer_usec
  pkg/tinydtls/Makefile.dep
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Area: pkg, CI: ready for build

#17684 boards/Kconfig: remove wrongfully added MODULE_AUTO_INIT_LED* sym
  boards/Kconfig
Labels: CI: ready for build, Area: boards, Area: Kconfig

#17685 sys/net/dsm: add missing dependencies
  sys/Makefile.dep
  sys/net/dsm/Makefile.dep
Labels: Area: network, CI: ready for build, Area: sys

#17686 cpu/saml21: derive low power SRAM length from model number
  cpu/sam0_common/sam0_info.mk
  cpu/saml21/Makefile.include
Labels: Platform: ARM, Area: build system, CI: ready for build, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#17657 shell/sc_gnrc_udp: always use delay in µs
  sys/shell/commands/sc_gnrc_udp.c
Labels: Type: bug, CI: ready for build, Area: sys

#17687 cpu/sam0_common: implement EXTWAKE for SAM L21
  cpu/sam0_common/periph/gpio.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation

#17689 sys/event/timeout: remove alternative xtimer implementation
  sys/Makefile.dep
  sys/event/Kconfig
  sys/event/Makefile
  sys/event/timeout.c
  sys/include/event/timeout.h
Labels: CI: ready for build, Area: sys, Area: Kconfig

#17670 sys/ztimer: add ztimer64_xtimer_compat complete xtimer replace module
  makefiles/boards/ztimer_only.dep.mk
  sys/Kconfig.newlib
  sys/Makefile.dep
  sys/include/xtimer.h
  sys/include/ztimer64.h
  sys/include/ztimer64/xtimer_compat.h
  sys/xtimer/Kconfig
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
  tests/xtimer_drift/Makefile
  tests/xtimer_drift/app.config.test
Labels: Area: tests, Area: build system, CI: ready for build, Area: timers, CI: run tests, Area: sys, Area: Kconfig

#17700 doc/rust: Remove duplicate (and wrong) line
  doc/doxygen/src/using-rust.md
Labels: Area: doc, Impact: minor, CI: ready for build

#17690 sys/ztimer: cleanup xtimer_compat.h for 32Bit only
  sys/include/ztimer/xtimer_compat.h
Labels: CI: ready for build, Area: timers, Area: sys

#17704 {examples,tests}/rust: cargo update and deprecation fixes
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/src/lib.rs
  examples/rust-hello-world/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, Area: examples, Area: Rust

#17631 pkg/fatfs_vfs: support FF_FS_TINY=0
  pkg/fatfs/Makefile.include
  pkg/fatfs/doc.txt
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  sys/include/vfs.h
Labels: Area: doc, Impact: minor, Area: pkg, CI: ready for build, Area: sys

#17705 sys/ztimer/xtimer_compat: fix bug introduced in #17690
  sys/include/ztimer/xtimer_compat.h
Labels: Type: bug, CI: ready for build, Area: timers, Area: sys, CI: skip compile test

#17703 pkg/nanors: add reed solomon codec implementation
  pkg/nanors/Makefile
  pkg/nanors/Makefile.include
  pkg/nanors/doc.txt
  tests/pkg_nanors/Makefile
  tests/pkg_nanors/Makefile.ci
  tests/pkg_nanors/main.c
  tests/pkg_nanors/tests/01-run.py
Labels: Area: doc, Area: tests, Area: pkg, CI: ready for build

#10518 drivers: support for Microchip MCP47xx DAC devices added
  drivers/Kconfig
  drivers/include/mcp47xx.h
  drivers/mcp47xx/Kconfig
  drivers/mcp47xx/Makefile
  drivers/mcp47xx/Makefile.dep
  drivers/mcp47xx/Makefile.include
  drivers/mcp47xx/include/mcp47xx_params.h
  drivers/mcp47xx/mcp47xx.c
  drivers/mcp47xx/mcp47xx_saul.c
  drivers/saul/init_devs/auto_init_mcp47xx.c
  drivers/saul/init_devs/init.c
  tests/driver_mcp47xx/Makefile
  tests/driver_mcp47xx/Makefile.ci
  tests/driver_mcp47xx/app.config.test
  tests/driver_mcp47xx/main.c
Labels: Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL, Area: Kconfig

#17474 sys/net/nanocoap: introduce `nanocoap_sock_*()`, use in suit/transport/coap
  sys/Makefile.dep
  sys/include/net/coap.h
  sys/include/net/gcoap.h
  sys/include/net/nanocoap.h
  sys/include/net/nanocoap_sock.h
  sys/include/suit/transport/coap.h
  sys/net/application_layer/Kconfig.coap
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
  sys/suit/handlers_command_seq.c
  sys/suit/transport/coap.c
  tests/nanocoap_cli/main.c
  tests/nanocoap_cli/nanocli_client.c
Labels: Area: network, Area: tests, Type: cleanup, CI: ready for build, Area: OTA, Area: CoAP, Area: sys

#17472 core (largely doc): Differentiate message types from thread flags
  core/include/msg.h
  core/include/thread_flags.h
Labels: Type: enhancement, Area: doc, Area: core, CI: ready for build, Process: needs >1 ACK

#17713 pkg/lv_drivers: initial commit
  boards/native/Kconfig
  boards/native/Makefile.dep
  pkg/Kconfig
  pkg/lv_drivers/Kconfig
  pkg/lv_drivers/Makefile
  pkg/lv_drivers/Makefile.dep
  pkg/lv_drivers/Makefile.include
  pkg/lv_drivers/Makefile.lv_drivers_module
  pkg/lv_drivers/doc.txt
  pkg/lv_drivers/include/lv_drv_conf.h
  pkg/lvgl/contrib/lvgl.c
  pkg/lvgl/doc.txt
  pkg/lvgl/include/lvgl_riot_conf.h
  sys/auto_init/screen/auto_init_lvgl.c
  tests/pkg_lvgl/Makefile
  tests/pkg_lvgl_touch/Makefile
Labels: Platform: native, Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: boards, Area: sys, Area: Kconfig, CI: skip compile test

#17572 doc: add RIOT root doxygen example path
  doc/doxygen/riot.doxyfile
  pkg/driver_bme680/doc.txt
  pkg/u8g2/doc.txt
  pkg/ucglib/doc.txt
  pkg/uwb-dw1000/README.md
  pkg/uwb-dw1000/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build, CI: skip compile test
