Repository RIOT-OS/RIOT, pull requests merged in 2022-08, with the labels that each got.

#18363 net/sock/dtls: introduce sock_dtls_sendv_aux()
  pkg/tinydtls/Makefile
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock/dtls.h
Labels: Area: network, Area: pkg, CI: ready for build, Area: sys

#18378 dns: provide generic dns_query() function
  sys/Makefile.dep
  sys/include/net/dns.h
  sys/net/netutils/util.c
  sys/net/sock/sock_util.c
Labels: Area: network, Type: new feature, CI: ready for build, Area: sys

#18354 sys/shell/commands/ping: fix dependency [backport 2022.07]
  examples/asymcute_mqttsn/Makefile.ci
  examples/cord_lc/Makefile.ci
  examples/gcoap/Makefile.ci
  sys/Makefile.dep
  tests/gnrc_rpl/Makefile.ci
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Process: release backport, Area: sys, Area: examples

#18108 drivers/dose: make RX buffer size configurable
  drivers/dose/dose.c
  drivers/include/dose.h
Labels: Impact: minor, Area: drivers, CI: ready for build

#18390 sys/shell: improve 'ncget' command
  sys/shell/commands/sc_nanocoap_vfs.c
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: sys

#18391 cpu/esp: fix netdev register
  cpu/esp32/esp-eth/esp_eth_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  drivers/include/net/netdev.h
Labels: Type: bug, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu

#18388 rust: Bring lock files in sync with toml files
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, Area: sys, Area: examples, CI: skip compile test

#18393 boards/nucleo-f767zi: add PWM config
  boards/nucleo-f767zi/Kconfig
  boards/nucleo-f767zi/Makefile.features
  boards/nucleo-f767zi/include/periph_conf.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#18395 drivers/mtd: fix module name for mtd_sdcard in Kconfig
  drivers/mtd/Kconfig
Labels: Type: bug, Area: drivers, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Area: Kconfig, CI: skip compile test

#18190 tests/doc: some additions and reorganization of doc page
  tests/README.md
Labels: Area: doc, Area: tests, CI: ready for build, CI: skip compile test

#18133 gcoap/fileserver: add file and directory creation and deletion
  dist/tools/doccheck/exclude_patterns
  examples/gcoap_fileserver/Makefile
  examples/gcoap_fileserver/main.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/coap.h
  sys/include/net/gcoap/fileserver.h
  sys/include/vfs_util.h
  sys/net/application_layer/gcoap/fileserver.c
  sys/shell/commands/sc_vfs.c
  sys/vfs_util/vfs_util.c
Labels: Area: network, Area: build system, CI: ready for build, Area: tools, Area: CoAP, Area: sys, Area: examples

#13860 boards: add support for the Waveshare nRF52840 Eval Kit
  .murdock
  boards/waveshare-nrf52840-eval-kit/Kconfig
  boards/waveshare-nrf52840-eval-kit/Makefile
  boards/waveshare-nrf52840-eval-kit/Makefile.dep
  boards/waveshare-nrf52840-eval-kit/Makefile.features
  boards/waveshare-nrf52840-eval-kit/Makefile.include
  boards/waveshare-nrf52840-eval-kit/board.c
  boards/waveshare-nrf52840-eval-kit/doc.txt
  boards/waveshare-nrf52840-eval-kit/include/arduino_board.h
  boards/waveshare-nrf52840-eval-kit/include/arduino_pinmap.h
  boards/waveshare-nrf52840-eval-kit/include/board.h
  boards/waveshare-nrf52840-eval-kit/include/gpio_params.h
  boards/waveshare-nrf52840-eval-kit/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
Labels: Area: doc, Type: new feature, CI: ready for build, Area: CI, Area: tools, Area: boards, Area: Kconfig, CI: skip compile test

#18376 pkg/nimble: Replace double quotes with single quotes for two CFLAGS
  pkg/nimble/Makefile.include
Labels: Area: pkg, CI: ready for build, Area: BLE, CI: skip compile test

#18401 sys/net: fix typo in docs
  sys/net/ieee802154.txt
Labels: Area: network, Area: doc, Impact: minor, CI: ready for build, Area: sys

#18387 cpu/{esp8266,esp32}: cleanup of SPI Flash configuration
  boards/esp32-heltec-lora32-v2/include/periph_conf.h
  boards/esp32-mh-et-live-minikit/include/periph_conf.h
  boards/esp32-olimex-evb/include/periph_conf.h
  boards/esp32-wroom-32/include/periph_conf.h
  boards/esp8266-esp-12x/include/arduino_board.h
  boards/esp8266-olimex-mod/include/arduino_board.h
  boards/esp8266-sparkfun-thing/include/arduino_board.h
  cpu/esp32/Makefile.include
  cpu/esp32/bootloader/Makefile
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32.h
  cpu/esp32/periph/gpio_arch_esp32.c
  cpu/esp8266/Makefile.include
  cpu/esp8266/periph/gpio.c
  cpu/esp_common/Makefile.include
  makefiles/tools/esptool.inc.mk
Labels: Type: enhancement, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: boards, Platform: ESP, Area: cpu

#17040 core: implement core_mutex_priority_inheritance
  core/Kconfig
  core/include/mutex.h
  core/mutex.c
  sys/cpp11-compat/include/riot/mutex.hpp
  tests/thread_priority_inversion/Makefile
  tests/thread_priority_inversion/Makefile.ci
  tests/thread_priority_inversion/README.md
  tests/thread_priority_inversion/main.c
  tests/thread_priority_inversion/tests/01-run.py
Labels: Area: doc, Area: tests, Area: core, Type: cleanup, CI: ready for build, Process: needs >1 ACK, Area: sys, Area: Kconfig

#18163 dist/tools: add DOSE Linux tool
  dist/tools/Makefile
  dist/tools/dose/.gitignore
  dist/tools/dose/Makefile
  dist/tools/dose/dose.c
  dist/tools/dose/start_network.sh
Labels: CI: ready for build, Area: tools

#18230 tools/zep_dispatch: add Wireshark capture support (via mac802154_hwsim)
  dist/tools/zep_dispatch/README.md
  dist/tools/zep_dispatch/main.c
  dist/tools/zep_dispatch/zep_parser.c
  dist/tools/zep_dispatch/zep_parser.h
Labels: Area: doc, CI: ready for build, Area: tools, CI: skip compile test

#18394 cpu/esp32: fix provided features and Kconfig for esp_eth
  .murdock
  boards/esp32-ethernet-kit-v1_0/Kconfig
  boards/esp32-ethernet-kit-v1_0/Makefile.features
  boards/esp32-ethernet-kit-v1_1/Kconfig
  boards/esp32-ethernet-kit-v1_2/Kconfig
  boards/esp32-olimex-evb/Kconfig
  boards/esp32-olimex-evb/Makefile.features
  cpu/esp32/Makefile.dep
  cpu/esp32/esp-eth/Kconfig
  tests/driver_esp_eth/Kconfig
  tests/driver_esp_eth/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Area: CI, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#18402 gnrc_ipv6_nib: use correct DHCPv6 client module name
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/Kconfig
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Process: needs backport, Area: sys, Area: Kconfig

#18404 tests/external_boards: add esp32c3-ci board for optional modules
  .murdock
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Kconfig
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Makefile
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Makefile.features
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Makefile.include
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/esp32c3-ci.config
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: CI, Platform: ESP, Area: Kconfig

#18407 dist/tools/esptools: add ESP32-S3 toolchain support to {install,export}.sh
  dist/tools/esptools/export.sh
  dist/tools/esptools/install.sh
Labels: Type: new feature, CI: ready for build, Area: tools, Platform: ESP, CI: skip compile test

#18406 cpu/esp32: move common ESP-IDF configurations to common files
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/bootloader/sdkconfig_default_common.h
  cpu/esp32/bootloader/sdkconfig_default_esp32.h
  cpu/esp32/bootloader/sdkconfig_default_esp32c3.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32.h
  cpu/esp32/include/sdkconfig_esp32c3.h
Labels: Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu

#18413 gnrc_ipv6_nib: use correct DHCPv6 client module name [backport 2022.07]
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/Kconfig
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Process: release backport, Area: sys, Area: Kconfig

#18416 cpu/stm32/periph_eth: fix typo in initialization code
  cpu/stm32/periph/eth.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#18420 cpu/stm32/periph_eth: fix typo in initialization code [backport 2022.07]
  cpu/stm32/periph/eth.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: release backport, Area: cpu

#18417 cpu/stm32/periph_eth: optimize IRQ handler
  cpu/stm32/periph/eth_common.c
Labels: Type: enhancement, Platform: ARM, CI: ready for build, Area: cpu

#18411 cpu/esp32: add ESP32-S3 support in Kconfig
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.esp32s3
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18419 boards/nucleo64: doc update - usage of cpy2remed programmer and short board overview
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
  boards/nucleo-f072rb/doc.txt
  boards/nucleo-f091rc/doc.txt
  boards/nucleo-f103rb/doc.txt
  boards/nucleo-f302r8/doc.txt
  boards/nucleo-f303re/doc.txt
  boards/nucleo-f334r8/doc.txt
  boards/nucleo-f401re/doc.txt
  boards/nucleo-f410rb/doc.txt
  boards/nucleo-f411re/doc.txt
  boards/nucleo-f446re/doc.txt
  boards/nucleo-g070rb/doc.txt
  boards/nucleo-g071rb/doc.txt
  boards/nucleo-g431rb/doc.txt
  boards/nucleo-g474re/doc.txt
  boards/nucleo-l053r8/doc.txt
  boards/nucleo-l073rz/doc.txt
  boards/nucleo-l152re/doc.txt
  boards/nucleo-l433rc/doc.txt
  boards/nucleo-l452re/doc.txt
  boards/nucleo-l476rg/doc.txt
  boards/nucleo-wl55jc/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#17978 gcoap: Forego IP address comparison in memo finding of multicasts
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: CoAP, Area: sys

#18410 cpu/esp32: add ESP32-S3 support to makefiles
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/esp-idf/adc/Makefile
  cpu/esp32/esp-idf/common/Makefile
  cpu/esp32/esp-idf/spi_flash/Makefile
  cpu/esp32/esp-idf/spi_ram/Makefile
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18429 gcoap: fixes around empty ACKs
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: CoAP, Area: sys

#18430 Kconfig/ieee802154: fix typo in HAL selector and add missing radios
  cpu/cc2538/radio/Kconfig
  cpu/native/socket_zep/Kconfig
  cpu/nrf5x_common/radio/Kconfig.nrf5x
  drivers/netdev/Kconfig
  drivers/netdev_ieee802154_submac/Kconfig
Labels: Platform: native, Platform: ARM, Area: drivers, CI: ready for build, Area: cpu, Area: Kconfig

#18434 asymcute: Compare request message type when matching acknowledgement
  sys/net/application_layer/asymcute/asymcute.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#18436 gcoap: fixes around empty ACKs [backport 2022.07]
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: CoAP, Area: sys

#18435 sys/bhp_*: add initial support for generic Bottom Half Processor
  sys/Kconfig
  sys/Makefile
  sys/Makefile.dep
  sys/Makefile.include
  sys/bhp/Kconfig
  sys/bhp/Makefile
  sys/bhp/Makefile.include
  sys/bhp/event.c
  sys/include/bhp.h
  sys/include/bhp/event.h
  tests/unittests/tests-bhp_event/Makefile
  tests/unittests/tests-bhp_event/Makefile.include
  tests/unittests/tests-bhp_event/tests-bhp_event.c
  tests/unittests/tests-bhp_event/tests-bhp_event.h
Labels: Area: tests, Type: new feature, CI: ready for build, Area: sys, Area: Kconfig

#18405 cpu/esp32: extend GPIO wake-up from deep sleep
  cpu/esp32/doc.txt
  cpu/esp32/periph/gpio.c
Labels: Type: enhancement, Area: doc, CI: ready for build, Platform: ESP, Area: cpu

#18446 [Backport] asymcute: Compare request message type when matching acknowledgement
  sys/net/application_layer/asymcute/asymcute.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#18449 pkg/nimble: add feature ble_adv_ext and cleanup ble_* features
  cpu/nrf52/Kconfig
  cpu/nrf52/Makefile.features
  cpu/nrf5x_common/Kconfig
  kconfigs/Kconfig.features
  pkg/nimble/Makefile.dep
Labels: Type: enhancement, Platform: ARM, Area: pkg, CI: ready for build, Area: BLE, Area: cpu, Area: Kconfig, CI: skip compile test

#18433 asymcute: fix one byte out-of-bounds access in _len_get
  sys/net/application_layer/asymcute/asymcute.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: sys

#18453 [Backport] asymcute: fix one byte out-of-bounds access in _len_get
  sys/net/application_layer/asymcute/asymcute.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#18383 drivers/kw2xrf: add support for IEEE 802.15.4 Radio HAL
  boards/pba-d-01-kw2x/include/board.h
  dist/tools/doccheck/exclude_patterns
  drivers/at86rf215/at86rf215_o-qpsk.c
  drivers/at86rf215/include/at86rf215_internal.h
  drivers/include/kw2xrf.h
  drivers/kw2xrf/Kconfig
  drivers/kw2xrf/Makefile
  drivers/kw2xrf/Makefile.dep
  drivers/kw2xrf/Makefile.include
  drivers/kw2xrf/include/kw2xrf_getset.h
  drivers/kw2xrf/include/kw2xrf_params.h
  drivers/kw2xrf/kw2xrf.c
  drivers/kw2xrf/kw2xrf_getset.c
  drivers/kw2xrf/kw2xrf_netdev.c
  drivers/kw2xrf/kw2xrf_radio_hal.c
  drivers/kw2xrf/kw2xrf_spi.c
  drivers/kw2xrf/kw2xrf_tm.c
  sys/include/net/ieee802154.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/netif/init_devs/auto_init_kw2xrf.c
  tests/driver_kw2xrf/Makefile
  tests/driver_kw2xrf/common.h
  tests/driver_kw2xrf/init_dev.c
  tests/driver_kw2xrf/main.c
  tests/ieee802154_hal/Makefile
  tests/ieee802154_hal/common.h
  tests/ieee802154_hal/init_devs.c
  tests/ieee802154_hal/main.c
  tests/ieee802154_submac/Makefile
  tests/ieee802154_submac/main.c
Labels: Area: network, Area: tests, Process: API change, Area: drivers, CI: ready for build, Area: tools, Area: boards, Area: sys, Area: Kconfig, CI: skip compile test

#18283 drivers/nrf802154: do not filter broadcast PAN ID
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#18398 gnrc/ipv6_auto_subnets: improve documentation about subnet generation and RIO
  dist/tools/whitespacecheck/ignore_list.txt
  doc/doxygen/src/gnrc_ipv6_auto_subnets-with_rio.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets-with_rio.svg
  doc/doxygen/src/gnrc_ipv6_auto_subnets-without_rio.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets-without_rio.svg
  doc/doxygen/src/gnrc_ipv6_auto_subnets_simple.puml
  doc/doxygen/src/gnrc_ipv6_auto_subnets_simple.svg
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Type: enhancement, Area: network, Area: doc, CI: ready for build, Area: tools, Area: sys, CI: skip compile test

#18438 tests/unittests: Correct typo in documentation
  tests/unittests/README.md
Labels: Type: bug, Area: doc, Area: tests, CI: ready for build, CI: skip compile test

#18455 doc: Add high-level documentation on flashing boards
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/advanced-build-system-tricks.md
  doc/doxygen/src/flashing.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#18457 pkg/nimble: fix of legacy advertising in statconn
  pkg/nimble/statconn/nimble_statconn.c
Labels: Type: bug, Area: pkg, CI: ready for build, Area: BLE

#18412 cpu/esp32: add ESP32-S3 support to documentation
  cpu/esp32/doc.txt
  cpu/esp32/doc_esp32s3.txt
Labels: Area: doc, Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18447 vfs: introduce vfs_format_by_path()
  sys/include/vfs.h
  sys/shell/commands/sc_vfs.c
  sys/vfs/vfs.c
Labels: CI: ready for build, Area: sys, CI: skip compile test

#18426 sys/net/gnrc/netif: allow checking if a netdev is legacy or new API
  cpu/esp_common/Makefile.dep
  cpu/sam0_common/Makefile.dep
  cpu/stm32/Makefile.dep
  drivers/Makefile.dep
  drivers/at86rf215/Kconfig
  drivers/at86rf215/Makefile.dep
  drivers/at86rf2xx/Kconfig
  drivers/at86rf2xx/Makefile.dep
  drivers/atwinc15x0/Makefile.dep
  drivers/cc110x/Makefile.dep
  drivers/cc2420/Kconfig
  drivers/cc2420/Makefile.dep
  drivers/dose/Kconfig
  drivers/dose/Makefile.dep
  drivers/enc28j60/Kconfig
  drivers/enc28j60/Makefile.dep
  drivers/encx24j600/Kconfig
  drivers/encx24j600/Makefile.dep
  drivers/ethos/Kconfig
  drivers/ethos/Makefile.dep
  drivers/kw2xrf/Kconfig
  drivers/mrf24j40/Kconfig
  drivers/mrf24j40/Makefile.dep
  drivers/netdev/Kconfig
  drivers/netdev_ieee802154_submac/Kconfig
  drivers/nrf24l01p_ng/Makefile.dep
  drivers/rn2xx3/Kconfig
  drivers/rn2xx3/Makefile.dep
  drivers/slipdev/Kconfig
  drivers/slipdev/Makefile.dep
  drivers/sx126x/Kconfig
  drivers/sx126x/Makefile.dep
  drivers/sx127x/Kconfig
  drivers/sx127x/Makefile.dep
  drivers/sx1280/Makefile.dep
  drivers/w5100/Kconfig
  drivers/w5100/Makefile.dep
  drivers/xbee/Makefile.dep
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/gnrc/netif.h
Labels: Platform: ARM, Area: network, Area: build system, Area: drivers, CI: ready for build, Area: LoRa, Platform: ESP, Area: cpu, Area: sys, Area: Kconfig, CI: skip compile test

#18313 gcoap: move tl_type to coap_request_ctx_t
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/nanocoap_internal.h
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#18423 .murdock: disable hash checks of kconfig/make
  .murdock
  Makefile.include
  boards/avr-rss2/Kconfig
  boards/same54-xpro/Kconfig
  cpu/efm32/periph/Kconfig
  cpu/stm32/periph/Kconfig.eth
  drivers/at24cxxx/Kconfig
  drivers/at25xxx/Kconfig
  drivers/mtd/Kconfig
  drivers/periph_common/Makefile.dep
  makefiles/features_modules.inc.mk
  sys/cpp11-compat/Kconfig
  tests/driver_dfplayer/app.config.test
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Makefile.dep
  tests/periph_pm/Kconfig
  tests/periph_qdec/boards_modded/nrf52840dk_mod/Kconfig
  tests/periph_qdec/boards_modded/nrf52840dk_mod/Makefile
  tests/periph_qdec/boards_modded/nrf52840dk_mod/Makefile.dep
  tests/periph_qdec/boards_modded/nrf52840dk_mod/Makefile.features
  tests/periph_qdec/boards_modded/nrf52840dk_mod/Makefile.include
  tests/periph_qdec/boards_modded/nrf52840dk_mod/include/board.h
  tests/periph_qdec/boards_modded/nrf52840dk_mod/include/periph_conf.h
  tests/periph_rtc/Kconfig
Labels: Platform: ARM, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: CI, Area: boards, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig, CI: full build

#18466 cpu/{sam0_common, stm32}: select netdev_legacy_api in KConfig
  cpu/sam0_common/sam0_eth/Kconfig
  cpu/stm32/periph/Kconfig.eth
  drivers/sx1280/Kconfig
  pkg/lorabasics/patches/0003-ral_sx1280-fix-unused-parameter-warning.patch
Labels: Type: bug, Platform: ARM, Impact: minor, Area: pkg, Area: drivers, CI: ready for build, Area: cpu, Area: Kconfig, CI: skip compile test

#18467 pkg/nimble: fix the event queue size for nimble_adv_ext
  pkg/nimble/Makefile.include
Labels: Type: bug, Area: pkg, CI: ready for build, Area: BLE

#18469 kw2xrf/Kconfig: remove netdev_ieee802154 from dependency resolution
  drivers/kw2xrf/Kconfig
Labels: Type: bug, Area: drivers, CI: ready for build, Area: Kconfig

#18473 pkg/{littlefs,littlefs2}: fix unaligned memory accesses
  sys/include/fs/littlefs2_fs.h
  sys/include/fs/littlefs_fs.h
Labels: Type: bug, CI: ready for build, Area: sys, CI: skip compile test

#18464 sys/bhp_msg: add IPC based implementation of Bottom Half Processor
  sys/bhp/Kconfig
  sys/bhp/Makefile.dep
  sys/bhp/Makefile.include
  sys/bhp/msg.c
  sys/include/bhp/msg.h
  tests/unittests/tests-bhp_msg/Makefile
  tests/unittests/tests-bhp_msg/Makefile.include
  tests/unittests/tests-bhp_msg/tests-bhp_msg.c
  tests/unittests/tests-bhp_msg/tests-bhp_msg.h
Labels: Area: tests, CI: ready for build, Area: sys, Area: Kconfig

#18389 rust: Update cstr dependency
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, Process: needs backport, Area: sys, Area: examples, Area: Rust

#18474 pkg/nimble:derive peer address type from peer address
  pkg/nimble/statconn/nimble_statconn.c
  sys/shell/commands/sc_nimble_netif.c
Labels: Type: enhancement, Area: pkg, CI: ready for build, Area: BLE, Area: sys

#18482 nanocoap: fix type of CONFIG_COAP_ACK_TIMEOUT_MS (for AVR)
  sys/include/net/coap.h
Labels: Type: bug, Impact: minor, CI: ready for build

#18483 pkg/ccn-lite: patch to fix use-after-free
  pkg/ccn-lite/patches/0004-ccnl_content_remove-Fix-use-after-free.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Process: needs backport, CI: skip compile test

#18485 rust: Update cstr dependency [backport 2022.07]
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, Process: release backport, Area: sys, Area: examples, Area: Rust

#18489 remove version comment fixing build issue
  pkg/lvgl/Makefile
Labels: Area: build system, Area: pkg, CI: ready for build, CI: skip compile test

#18470 makefiles: quiet messages on CI
  makefiles/tools/kconfiglib.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Area: tools, CI: full build

#18421 cpu/esp32: add support for ESP32-S3
  .murdock
  boards/common/esp32s3/Kconfig
  boards/common/esp32s3/Makefile
  boards/common/esp32s3/Makefile.dep
  boards/common/esp32s3/Makefile.features
  boards/common/esp32s3/Makefile.include
  boards/common/esp32s3/board_common.c
  boards/common/esp32s3/doc.txt
  boards/common/esp32s3/include/arduino_board_common.h
  boards/common/esp32s3/include/board_common.h
  boards/common/esp32s3/include/periph_conf_common.h
  boards/esp32s3-devkit/Kconfig
  boards/esp32s3-devkit/Makefile
  boards/esp32s3-devkit/Makefile.dep
  boards/esp32s3-devkit/Makefile.features
  boards/esp32s3-devkit/Makefile.include
  boards/esp32s3-devkit/doc.txt
  boards/esp32s3-devkit/include/arduino_board.h
  boards/esp32s3-devkit/include/arduino_pinmap.h
  boards/esp32s3-devkit/include/board.h
  boards/esp32s3-devkit/include/gpio_params.h
  boards/esp32s3-devkit/include/periph_conf.h
  cpu/esp32/bootloader/Makefile
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/bootloader/sdkconfig_default_esp32s3.h
  cpu/esp32/esp-idf-api/dac.c
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/include/cpu_conf_esp32s3.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/include/periph_cpu_esp32.h
  cpu/esp32/include/periph_cpu_esp32c3.h
  cpu/esp32/include/periph_cpu_esp32s3.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32.h
  cpu/esp32/include/sdkconfig_esp32c3.h
  cpu/esp32/include/sdkconfig_esp32s3.h
  cpu/esp32/periph/adc.c
  cpu/esp32/periph/adc_arch_esp32s3.c
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/gpio_arch_esp32s3.c
  cpu/esp32/periph/i2c_hw.c
  cpu/esp32/periph/rtt_hw_rtc.c
  cpu/esp32/periph/spi.c
  cpu/esp32/periph/timer.c
  cpu/esp_common/esp-xtensa/thread_arch.c
  cpu/esp_common/include/esp_common.h
  cpu/esp_common/include/freertos/portmacro.h
  cpu/esp_common/periph/i2c_sw.c
  cpu/esp_common/periph/uart.c
  dist/tools/doccheck/exclude_patterns
Labels: Area: doc, Type: new feature, CI: ready for build, Area: CI, Area: tools, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#18491 tests/ztimer_periodic: improve output and relax on native
  tests/ztimer_periodic/main.c
Labels: Area: tests, CI: ready for build

#18496 net/gnrc_netif: add support for priority queues
  sys/include/net/gnrc/netif.h
  sys/net/gnrc/link_layer/gomach/gomach.c
  sys/net/gnrc/link_layer/lwmac/lwmac.c
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netif/init_devs/auto_init_kw2xrf.c
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Area: network, CI: ready for build, Area: sys

#18441 dns_cache: handle TTL=0 properly
  sys/net/application_layer/dns/cache.c
  tests/unittests/tests-dns_cache/tests-dns_cache.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys

#18497 drivers/kw2xrd/Kconfig: fix kconfig model
  .murdock
  drivers/kw2xrf/Kconfig
Labels: Area: drivers, CI: ready for build, Area: CI, Area: Kconfig

#18479 pkg/lwip: fix netdev concurrency issues
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/include/lwip/netif/compat.h
Labels: Area: network, Area: pkg, CI: ready for build, Process: needs backport

#18502 dist/tools/esptools: add ESP32-S2 toolchain support to {install,export}.sh
  dist/tools/esptools/export.sh
  dist/tools/esptools/install.sh
Labels: Type: new feature, CI: ready for build, Area: tools, Platform: ESP, CI: skip compile test

#18499 dist/tools/suit: encrypt an existing key
  dist/tools/suit/password_protect_key.py
Labels: CI: ready for build, Area: tools

#18503 cpu/esp32: add ESP32-S2 support to makefiles
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/esp-idf/adc/Makefile
  cpu/esp32/esp-idf/common/Makefile
  cpu/esp32/esp-idf/spi_flash/Makefile
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu

#18439 cpu/esp32: add Bluetooth LE and NimBLE host support
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.common
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Makefile
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/doc.txt
  cpu/esp32/esp-ble-nimble/Kconfig
  cpu/esp32/esp-ble-nimble/Makefile
  cpu/esp32/esp-ble-nimble/doc.txt
  cpu/esp32/esp-ble-nimble/esp_ble_nimble.c
  cpu/esp32/esp-idf/Kconfig
  cpu/esp32/esp-idf/Makefile
  cpu/esp32/esp-idf/ble/Kconfig
  cpu/esp32/esp-idf/ble/Makefile
  cpu/esp32/esp-idf/nvs_flash/Makefile
  cpu/esp32/include/esp_ble_nimble/syscfg/syscfg.h
  cpu/esp32/include/irq_arch.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32.h
  cpu/esp32/irq_arch.c
  cpu/esp32/ld/esp32/memory_bt.ld
  cpu/esp32/ld/esp32/sections.ld
  cpu/esp_common/Makefile.dep
  cpu/esp_common/freertos/queue.c
  cpu/esp_common/include/freertos/FreeRTOS.h
  cpu/esp_common/include/freertos/portable.h
  cpu/esp_common/include/freertos/queue.h
  cpu/esp_common/include/freertos/task.h
  cpu/nrf5x_common/Makefile.dep
  pkg/ccn-lite/patches/0005-src-ccn-core-declare-gettimeofday-function-as-weak-s.patch
  pkg/esp32_sdk/patches/0024-bt-RIOT-uses-another-version-of-vendor-function.patch
  pkg/esp32_sdk_lib_bt_esp32/Kconfig
  pkg/esp32_sdk_lib_bt_esp32/Makefile
  pkg/esp32_sdk_lib_bt_esp32/Makefile.dep
  pkg/esp32_sdk_lib_bt_esp32/Makefile.include
  pkg/esp32_sdk_lib_bt_esp32/doc.txt
  pkg/nimble/Makefile
  pkg/nimble/Makefile.dep
  pkg/nimble/Makefile.include
  pkg/nimble/contrib/nimble_riot.c
  pkg/nimble/nimble.npl.mk
  pkg/nimble/nimble.porting.mk
  sys/auto_init/auto_init.c
  sys/auto_init/include/auto_init_priorities.h
  tests/nimble_esp_wifi_coexist/Makefile
  tests/nimble_esp_wifi_coexist/README.md
  tests/nimble_esp_wifi_coexist/main.c
Labels: Platform: ARM, Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: BLE, Platform: ESP, Area: cpu, Area: sys, Area: Kconfig

#18498 LICENSE: Fix github badge
  LICENSE
Labels: PR-award-nominee, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#18504 cpu/esp32: add ESP32-S2 support in Kconfig
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Kconfig.esp32c3
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp_common/Kconfig
Labels: Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18505 cpu/esp32: add ESP32-S2 support in documentation
  cpu/esp32/doc.txt
  cpu/esp32/doc_esp32s2.txt
Labels: Area: doc, Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, CI: skip compile test

#18509 cpu/esp32: add linker scripts for ESP32-S2
  cpu/esp32/ld/esp32s2/memory.ld
  cpu/esp32/ld/esp32s2/sections.ld
Labels: CI: ready for build, Platform: ESP, Area: cpu

#18513 tests/periph_timer_short_relative_set: clarify outcome
  tests/periph_timer_short_relative_set/README.md
  tests/periph_timer_short_relative_set/main.c
Labels: Area: doc, Area: tests, CI: ready for build

#18465 pkg/lwip: add support for HAL radios that require IRQ offloading
  drivers/include/kw2xrf.h
  pkg/lwip/Makefile.dep
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/include/lwip/netif/compat.h
  pkg/lwip/init_devs/auto_init_kw2xrf.c
Labels: Area: network, Area: pkg, Area: drivers, CI: ready for build

#18415 boards/common/stm32: clean up LED definitions
  boards/alientek-pandora/include/board.h
  boards/b-l072z-lrwan1/include/board.h
  boards/b-l475e-iot01a/include/board.h
  boards/b-u585i-iot02a/include/board.h
  boards/blackpill-128kib/include/board.h
  boards/blackpill/include/board.h
  boards/bluepill-stm32f030c8/include/board.h
  boards/common/blxxxpill/include/board_common.h
  boards/common/iotlab/include/board_common.h
  boards/common/nucleo144/include/board.h
  boards/common/nucleo32/include/board.h
  boards/common/nucleo64/include/board.h
  boards/common/stm32/include/stm32_leds.h
  boards/common/weact-f4x1cx/include/board.h
  boards/f4vi1/include/board.h
  boards/limifrog-v1/include/board.h
  boards/lobaro-lorabox/include/board.h
  boards/lora-e5-dev/include/board.h
  boards/maple-mini/include/board.h
  boards/msbiot/include/board.h
  boards/nucleo-wl55jc/include/board.h
  boards/nz32-sc151/include/board.h
  boards/olimexino-stm32/include/board.h
  boards/opencm904/include/board.h
  boards/p-l496g-cell02/include/board.h
  boards/p-nucleo-wb55/include/board.h
  boards/pyboard/include/board.h
  boards/spark-core/include/board.h
  boards/stm32f030f4-demo/include/board.h
  boards/stm32f0discovery/include/board.h
  boards/stm32f3discovery/include/board.h
  boards/stm32f429i-disc1/include/board.h
  boards/stm32f469i-disco/include/board.h
  boards/stm32f4discovery/include/board.h
  boards/stm32f723e-disco/include/board.h
  boards/stm32f769i-disco/include/board.h
  boards/stm32g0316-disco/include/board.h
  boards/stm32l0538-disco/include/board.h
  boards/stm32l476g-disco/include/board.h
  boards/ublox-c030-u201/include/board.h
  dist/tools/doccheck/exclude_patterns
Labels: Type: cleanup, CI: ready for build, Area: tools, Area: boards

#18201 drivers/{dose, slipdev, sam0_eth}: generate RX event for queued packets
  cpu/sam0_common/periph/eth.c
  cpu/sam0_common/sam0_eth/eth-netdev.c
  drivers/dose/dose.c
  drivers/include/slipdev.h
  drivers/slipdev/slipdev.c
Labels: Type: bug, Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#18492 boards/samr34-xpro: configure SPI NOR flash
  boards/samr34-xpro/Kconfig
  boards/samr34-xpro/Makefile.dep
  boards/samr34-xpro/board.c
  boards/samr34-xpro/include/board.h
  boards/samr34-xpro/include/periph_conf.h
Labels: CI: ready for build, Area: boards, Area: Kconfig

#18510 cpu/esp32: enable BLE and NimBLE host support for ESP32-C3
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.common
  cpu/esp32/Kconfig.esp32c3
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/doc.txt
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32c3.h
  cpu/esp32/ld/esp32c3/sections.ld
  cpu/esp8266/vendor/esp-idf/esp8266/source/esp_wifi_os_adapter.c
  cpu/esp_common/include/freertos/portmacro.h
  pkg/esp32_sdk_lib_bt_esp32c3/Kconfig
  pkg/esp32_sdk_lib_bt_esp32c3/Makefile
  pkg/esp32_sdk_lib_bt_esp32c3/Makefile.dep
  pkg/esp32_sdk_lib_bt_esp32c3/Makefile.include
  pkg/esp32_sdk_lib_bt_esp32c3/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#17797 Add package tiny-vcdiff
  CODEOWNERS
  pkg/Kconfig
  pkg/tinyvcdiff/Kconfig
  pkg/tinyvcdiff/Makefile
  pkg/tinyvcdiff/Makefile.dep
  pkg/tinyvcdiff/Makefile.include
  pkg/tinyvcdiff/contrib/tinyvcdiff_mtd/Makefile
  pkg/tinyvcdiff/contrib/tinyvcdiff_mtd/mtd.c
  pkg/tinyvcdiff/contrib/tinyvcdiff_vfs/Makefile
  pkg/tinyvcdiff/contrib/tinyvcdiff_vfs/vfs.c
  pkg/tinyvcdiff/doc.txt
  pkg/tinyvcdiff/include/vcdiff_mtd.h
  pkg/tinyvcdiff/include/vcdiff_vfs.h
  pkg/tinyvcdiff/tinyvcdiff.mk
  tests/pkg_tinyvcdiff/Makefile
  tests/pkg_tinyvcdiff/Makefile.ci
  tests/pkg_tinyvcdiff/README.md
  tests/pkg_tinyvcdiff/app.config.test
  tests/pkg_tinyvcdiff/delta.bin
  tests/pkg_tinyvcdiff/fakemtd.c
  tests/pkg_tinyvcdiff/fakemtd.h
  tests/pkg_tinyvcdiff/main.c
  tests/pkg_tinyvcdiff/source.bin
  tests/pkg_tinyvcdiff/target.bin
  tests/pkg_tinyvcdiff/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: Kconfig

#18481 tests/pkg_lvgl_touch: randomize button position on click
  tests/pkg_lvgl_touch/Makefile
  tests/pkg_lvgl_touch/app.config.test
  tests/pkg_lvgl_touch/main.c
Labels: Type: enhancement, Area: tests, CI: ready for build

#18422 tests/external_boards: add esp32s3-ci board for optional modules
  .murdock
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/Kconfig
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/Makefile
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/Makefile.features
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/Makefile.include
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/esp32s3-ci.config
Labels: Area: tests, Type: new feature, CI: ready for build, Area: CI, Area: Kconfig

#18517 cpu/esp32: enable BLE and NimBLE host support for ESP32-S3
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/doc.txt
  cpu/esp32/include/esp_ble_nimble/syscfg/syscfg.h
  cpu/esp32/include/sdkconfig_esp32s3.h
  cpu/esp32/ld/esp32s3/sections.ld
  cpu/esp_common/include/freertos/portmacro.h
Labels: Area: doc, Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#18521 makefiles/tools/dfu-util: add option to pass DFU_SERIAL id
  makefiles/tools/dfu-util.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools

#18512 Release notes 2022.07
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: needs backport, CI: skip compile test

#18524 Release notes 2022.07 [backport 2022.07]
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, Process: release cycle, CI: skip compile test

#18523 VERSION: add 2022.07 version file
  VERSION
Labels: CI: ready for build, Process: release cycle, CI: skip compile test

#18495 examples/filesystem: drop manual mounts
  examples/filesystem/Makefile
  examples/filesystem/README.md
  examples/filesystem/main.c
Labels: Area: doc, Type: cleanup, CI: ready for build, Area: examples

#18525 makefiles/tools/serial.inc.mk: Improve PORT selection when RIOT's USB CDC ACM is used for stdio
  dist/tools/usb-serial/ttys.py
  makefiles/tools/serial.inc.mk
  sys/include/usb.h
  sys/usb/Kconfig
Labels: Area: build system, CI: ready for build, Area: tools, Area: USB, Area: sys, Area: Kconfig

#18526 makefiles: Add openocd-rtt
  Makefile.include
  dist/tools/openocd/openocd.sh
  makefiles/info.inc.mk
  makefiles/tools/serial.inc.mk
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#18478 cpu/nrf5x: allow multiple I2C and SPI buses on a shared periph
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf52/spi_twi_irq.c
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
  cpu/nrf5x_common/periph/spi_nrf52_nrf9160.c
  cpu/nrf9160/include/periph_cpu.h
  cpu/nrf9160/spi_twi_irq.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, CI: skip compile test

#18514 nanocoap_sock: add nanocoap_sock_put()
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  tests/nanocoap_cli/nanocli_client.c
Labels: Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#18529 tests/pkg_tinyvcdiff: Initialize mtd->write_size
  tests/pkg_tinyvcdiff/fakemtd.h
Labels: Area: tests, CI: ready for build, CI: run tests

#18528 makefiles: Select suitable terminal when stdio_rtt is used
  makefiles/tools/serial.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools

#18527 cpu/sam0/timer: supply all clocks before accessing any regs
  cpu/sam0_common/periph/timer.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, CI: skip compile test

#18533 makefiles/arch/avr8.inc.mk: Fix compilation with GCC 12.2.0
  makefiles/arch/avr8.inc.mk
Labels: Area: build system, Platform: AVR, CI: ready for build

#18223 cpu/sam0_common: spi: limit clock to source clock
  cpu/sam0_common/periph/spi.c
Labels: Type: enhancement, Platform: ARM, CI: ready for build, Area: cpu

#18506 cpu/esp32: add support for ESP32-S2
  .murdock
  boards/common/esp32s2/Kconfig
  boards/common/esp32s2/Makefile
  boards/common/esp32s2/Makefile.dep
  boards/common/esp32s2/Makefile.features
  boards/common/esp32s2/Makefile.include
  boards/common/esp32s2/board_common.c
  boards/common/esp32s2/doc.txt
  boards/common/esp32s2/include/arduino_board_common.h
  boards/common/esp32s2/include/board_common.h
  boards/common/esp32s2/include/periph_conf_common.h
  boards/esp32s2-devkit/Kconfig
  boards/esp32s2-devkit/Makefile
  boards/esp32s2-devkit/Makefile.dep
  boards/esp32s2-devkit/Makefile.features
  boards/esp32s2-devkit/Makefile.include
  boards/esp32s2-devkit/doc.txt
  boards/esp32s2-devkit/include/arduino_board.h
  boards/esp32s2-devkit/include/arduino_pinmap.h
  boards/esp32s2-devkit/include/board.h
  boards/esp32s2-devkit/include/gpio_params.h
  boards/esp32s2-devkit/include/periph_conf.h
  boards/esp32s3-devkit/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/bootloader/Makefile
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/bootloader/sdkconfig_default_esp32s2.h
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/include/cpu_conf_esp32s2.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/include/periph_cpu_esp32s2.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/include/sdkconfig_esp32s2.h
  cpu/esp32/periph/adc_arch_esp32s2.c
  cpu/esp32/periph/can.c
  cpu/esp32/periph/gpio.c
  cpu/esp32/periph/gpio_arch_esp32s2.c
  cpu/esp32/periph/rtt_hw_rtc.c
  cpu/esp32/periph/spi.c
  cpu/esp32/periph/timer.c
  cpu/esp_common/periph/i2c_sw.c
  cpu/esp_common/periph/uart.c
  dist/tools/doccheck/exclude_patterns
  makefiles/info-global.inc.mk
Labels: Area: doc, Area: build system, Type: new feature, CI: ready for build, Area: CI, Area: tools, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#18538 bootloader/riotboot_dfu: move ztimer_init() prior to usbus start
  bootloaders/riotboot_dfu/main.c
Labels: CI: ready for build

#18536 gcoap_fileserver: bugfix recursive delete
  sys/net/application_layer/gcoap/fileserver.c
  sys/vfs_util/vfs_util.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#18516 sys/checksum: Adding three new crc16 variations
  sys/checksum/crc16_ccitt.c
  sys/include/checksum/crc16_ccitt.h
  tests/unittests/tests-checksum/tests-checksum-crc16-ccitt-aug.c
  tests/unittests/tests-checksum/tests-checksum-crc16-ccitt-false.c
  tests/unittests/tests-checksum/tests-checksum-crc16-ccitt-kermit.c
  tests/unittests/tests-checksum/tests-checksum-crc16-ccitt-mcrf4xx.c
  tests/unittests/tests-checksum/tests-checksum-crc16-ccitt.c
  tests/unittests/tests-checksum/tests-checksum.c
  tests/unittests/tests-checksum/tests-checksum.h
Labels: Area: tests, Type: new feature, CI: ready for build, CI: run tests, Area: sys

#18507 tests/external_boards: add esp32s2-ci board for optional modules
  .murdock
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/Kconfig
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/Makefile
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/Makefile.features
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/Makefile.include
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/esp32s2-ci.config
Labels: Area: tests, Type: new feature, CI: ready for build, Area: CI, Area: Kconfig

#18424 sys/shell: ncget: convenience improvements
  sys/Makefile.dep
  sys/shell/commands/sc_nanocoap_vfs.c
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: sys
