Repository RIOT-OS/RIOT, pull requests merged in 2022-03, with the labels that each got.

#17714 sys,examples,tests,fuzzing: add missing includes
  examples/cord_epsim/main.c
  examples/cord_lc/cord_lc_cli.c
  examples/dtls-echo/dtls-client.c
  examples/dtls-sock/dtls-client.c
  examples/dtls-wolfssl/dtls-client.c
  examples/emcute_mqttsn/main.c
  fuzzing/gnrc_tcp/main.c
  sys/include/net/gnrc/ipv6.h
  sys/include/net/sock/dtls.h
  sys/include/net/sock/ip.h
  sys/include/net/sock/tcp.h
  sys/include/net/sock/udp.h
  sys/net/application_layer/dhcpv6/client.c
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
  sys/net/gnrc/sock/include/sock_types.h
  sys/shell/commands/sc_cord_ep.c
  sys/shell/commands/sc_sntp.c
  tests/gnrc_sock_neterr/main.c
  tests/gnrc_sock_tcp/main.c
  tests/nanocoap_cli/nanocli_client.c
  tests/pkg_edhoc_c/initiator.c
  tests/pkg_tinydtls_sock_async/dtls-client.c
  tests/sock_udp_aux/main.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys, Area: examples

#17715 tests: add default BOARDS
  examples/arduino_hello-world/Makefile
  tests/candev/Makefile
  tests/conn_can/Makefile
  tests/dbgpin/Makefile
  tests/mpu_noexec_ram/Makefile
  tests/mpu_stack_guard/Makefile
  tests/mtd_at24cxxx/Makefile
  tests/periph_backup_ram/Makefile
  tests/periph_dma/Makefile
  tests/periph_gpio/Makefile
  tests/periph_gpio_arduino/Makefile
  tests/periph_uart_mode/Makefile
  tests/periph_uart_nonblocking/Makefile
  tests/periph_vbat/Makefile
  tests/pkg_arduino_sdi_12/Makefile
  tests/pkg_cryptoauthlib_compare_sha256/Makefile
  tests/pkg_cryptoauthlib_internal-tests/Makefile
  tests/sys_arduino/Makefile
  tests/sys_arduino_lib/Makefile
Labels: Area: tests, CI: ready for build, Area: examples

#17716 drivers/dose: only disable watchdog when transiting from RECV state
  drivers/dose/dose.c
Labels: Type: bug, Area: drivers, CI: ready for build

#17718 tests/sys_crypto: fix potentially unitialized error
  tests/sys_crypto/tests-crypto-modes-ocb.c
Labels: Area: tests, CI: ready for build

#17720 sys/ztimer64: fix `ztimer64_remove()` not properly clearing timer struct
  sys/ztimer64/ztimer64.c
  tests/unittests/tests-ztimer64/tests-ztimer64-core.c
Labels: Type: bug, Area: tests, CI: ready for build, Area: sys, CI: skip compile test

#17485 sys/net/sock: add sock_udp_sendv() API
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  pkg/lwip/include/lwip/sock_internal.h
  pkg/openwsn/sock/openwsn_sock_udp.c
  sys/Makefile.dep
  sys/include/net/sock.h
  sys/include/net/sock/udp.h
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_udp/main.c
  tests/gnrc_sock_udp/stack.c
  tests/lwip_sock_udp/main.c
Labels: Area: network, Area: tests, Area: pkg, CI: ready for build, CI: run tests, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys

#17725 cpu/stm32: Fix CLOCK_CORECLOCK on stm32l0/l1
  cpu/stm32/include/clk/l0l1/cfg_clock_default.h
Labels: Platform: ARM, CI: ready for build, Area: cpu

#16723 sys/net/application_layer: add telnet server module & example
  examples/telnet_server/Makefile
  examples/telnet_server/Makefile.ci
  examples/telnet_server/main.c
  makefiles/dependency_resolution.inc.mk
  makefiles/pseudomodules.inc.mk
  makefiles/stdio.inc.mk
  sys/Makefile
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/net/telnet.h
  sys/net/application_layer/Kconfig
  sys/net/application_layer/telnet/Kconfig
  sys/net/application_layer/telnet/Makefile
  sys/net/application_layer/telnet/stdio_telnet.c
  sys/net/application_layer/telnet/telnet_server.c
  sys/net/gnrc/sock/include/sock_types.h
Labels: Area: network, Area: build system, Type: new feature, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: examples, Area: Kconfig

#17728 tests/*xtimer*: remove uneeded timex calls
  tests/bench_xtimer_load/main.c
  tests/xtimer_drift/main.c
Labels: Area: tests, CI: ready for build, CI: run tests

#17729 sys/net/gnrc: ztimer_no_periph_rtt if gomach
  sys/net/gnrc/Makefile.dep
Labels: Area: network, CI: ready for build, Area: sys

#17730 sys/gnrc/sixlowpan/frag/fb: guard sfr_types.h header include
  sys/include/net/gnrc/sixlowpan/frag/fb.h
Labels: Area: network, CI: ready for build, Area: sys

#15329 pkg/wamr: add WAMR to provide WASM support in RIOT
  examples/wasm/Makefile
  examples/wasm/Makefile.ci
  examples/wasm/README.md
  examples/wasm/config.cmake
  examples/wasm/iwasmt.c
  examples/wasm/test.wasm
  examples/wasm/wasm-main.c
  examples/wasm/wasm_sample/Makefile
  examples/wasm/wasm_sample/hello.c
  examples/wasm/wasm_sample/hello_prebuild.wasm
  pkg/wamr/CMakeLists.txt
  pkg/wamr/Makefile
  pkg/wamr/Makefile.dep
  pkg/wamr/Makefile.include
  pkg/wamr/config.cmake
  pkg/wamr/doc.txt
Labels: Area: doc, Type: new feature, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 5-documentation, State: don't stale, Area: examples

#17396 makefiles/docker.inc.mk: add DOCKER_ENV_VARS_ALWAYS
  dist/tools/buildsystem_sanity_check/check.sh
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools

#15019 doc/memo: Link to RDMs in development
  doc/memos/README.md
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build

#17734 sys/posix/pthread: newlib compatibility
  sys/posix/pthread/include/pthread_once.h
  sys/posix/pthread/pthread_once.c
Labels: Type: enhancement, CI: ready for build, CI: run tests, Area: sys

#16688 gcoap: multi-transport support
  examples/gcoap/server.c
  sys/include/net/gcoap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: enhancement, Area: network, State: WIP, Discussion: RFC, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#17351 ztimer_periodic: make callback function return bool
  sys/event/periodic.c
  sys/include/ztimer/periodic.h
  sys/ztimer/periodic.c
  tests/ztimer_periodic/main.c
Labels: Area: tests, Type: cleanup, Process: API change, CI: ready for build, Area: timers, Area: sys

#17738 workflow/tool-test: update prior install
  .github/workflows/tools-test.yml
Labels: CI: ready for build, Area: CI, CI: skip compile test

#17731 sys/net/link_layer/csma_sender: use public xtimer_now()
  sys/net/link_layer/csma_sender/csma_sender.c
Labels: Area: network, CI: ready for build, Area: sys

#17115 pkg/lwip: use ztimer_msec instead of xtimer
  pkg/lwip/Makefile.dep
  pkg/lwip/contrib/sys_arch.c
  tests/lwip/Makefile
  tests/lwip/ip.c
  tests/lwip/tcp.c
  tests/lwip/udp.c
  tests/lwip_sock_ip/main.c
  tests/lwip_sock_ip/stack.c
  tests/lwip_sock_tcp/main.c
  tests/lwip_sock_tcp/stack.c
  tests/lwip_sock_udp/main.c
  tests/lwip_sock_udp/stack.c
Labels: Area: network, Area: tests, Area: pkg, CI: ready for build, CI: skip compile test

#17732 sys: sort out ztimer_xtimer_compat and ztimer64_xtimer_compat depes
  cpu/native/Kconfig
  cpu/native/Makefile.dep
  sys/Kconfig.newlib
  sys/Makefile.dep
  sys/net/gnrc/Makefile.dep
  sys/ztimer/Kconfig
Labels: Platform: native, Area: network, CI: ready for build, Area: timers, Area: cpu, Area: sys, Area: Kconfig

#17742 dist/tools: rename directory esptool to esptools to use it for multiple tools
  cpu/esp_common/Makefile.include
  dist/tools/esptools/espreset.py
  dist/tools/esptools/esptool.py
  dist/tools/esptools/gen_esp32part.py
  makefiles/tools/esptool.inc.mk
Labels: Area: build system, Impact: minor, Type: cleanup, CI: ready for build, Area: tools, CI: run tests, Platform: ESP, Area: cpu, Reviewed: 1-fundamentals

#17743 sys/net/gnrc/sock_types: guard tcp.h header inclusion
  sys/net/gnrc/sock/include/sock_types.h
Labels: Area: network, CI: ready for build, Area: sys

#17754 tests/*: add BOARDs to Makefile.ci
  tests/driver_scd30/Makefile.ci
  tests/pkg_libfixmath_unittests/Makefile.ci
  tests/pkg_wolfssl/Makefile.ci
Labels: Area: tests, CI: ready for build

#17748 tests/gnrc_dhcpv6_client_stateless: use netdev_default
  tests/gnrc_dhcpv6_client_stateless/Makefile
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#17749 tests/cpu_avr8_xmega_driver: fix BOARD name
  tests/cpu_avr8_xmega_drivers/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 4-code-style

#17750 tests/driver_dfplayer: use event_thread instead of event_thread_lowest
  tests/driver_dfplayer/Makefile
Labels: Area: tests, Type: cleanup, CI: ready for build

#17751 doc/emulator: update qemu doc with unix sockets
  dist/tools/emulator/debug.sh
  dist/tools/emulator/term.sh
  doc/doxygen/src/emulators.md
  makefiles/tools/qemu.inc.mk
  makefiles/tools/renode.inc.mk
Labels: Area: doc, Area: build system, Type: cleanup, CI: ready for build, Area: tools, CI: skip compile test

#17747 drivers/encx24j600: define default parameters
  dist/tools/doccheck/exclude_patterns
  drivers/encx24j600/include/encx24j600_params.h
  sys/net/gnrc/netif/init_devs/auto_init_encx24j600.c
  tests/driver_encx24j600/Makefile
Labels: Type: enhancement, Area: network, Area: tests, Area: drivers, CI: ready for build, Area: tools, Area: sys

#17756 doc: small fix of "Getting Started" document structure in section docker
  doc/doxygen/src/getting-started.md
Labels: Area: doc, Type: cleanup, CI: ready for build, CI: skip compile test

#17757 boards/common/qn908x: perform elf checksum on shadow copy
  boards/common/qn908x/Makefile.include
Labels: CI: ready for build, Area: boards

#17708 boards/nucleo-f334r8 f429zi and f446ze: enable cpy2remed programmer
  boards/nucleo-f334r8/Makefile.include
  boards/nucleo-f334r8/doc.txt
  boards/nucleo-f429zi/Makefile.include
  boards/nucleo-f429zi/doc.txt
  boards/nucleo-f446ze/Makefile.include
  boards/nucleo-f446ze/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#17741 ipv6/nib: fix memcpy() bug in _handle_rtr_timeout()
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Area: sys

#17744 sys/chunked_ringbuffer: model Kconfig
  sys/Kconfig
  sys/chunked_ringbuffer/Kconfig
  sys/chunked_ringbuffer/chunked_ringbuffer.c
  sys/include/chunked_ringbuffer.h
Labels: CI: ready for build, Area: sys, Area: Kconfig

#17746 cpu/sam0_common/eth: expose correct setup function
  cpu/sam0_common/sam0_eth/sam0_eth_netdev.h
  sys/net/gnrc/netif/init_devs/auto_init_sam0_eth.c
Labels: Type: bug, Platform: ARM, Area: network, CI: ready for build, Area: cpu, Area: sys

#17745 cpu/esp32/esp-eth: move GNRC auto_init to init_devs
  cpu/esp32/Makefile.include
  sys/net/gnrc/netif/init_devs/auto_init_esp_eth.c
Labels: Area: network, Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu, Area: sys

#17759 pkg/lvlgl: allow cusomizing LV_MEM_SIZE
  pkg/lvgl/include/lv_conf.h
Labels: Area: pkg, CI: ready for build

#17762 sys/net/ipv4: ipv4_addr_t pointer should be const
  sys/include/net/ipv4/addr.h
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#17768 pkg/lwip: move includes to the top of the file
  pkg/lwip/contrib/sock/lwip_sock.c
Labels: Area: network, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build

#17758 sys/ztimer: Name callback types
  sys/include/ztimer.h
  sys/include/ztimer/periodic.h
Labels: CI: ready for build, Area: timers, Area: sys

#17477 pkg/etl: Add the embedded template library (etl)
  pkg/Kconfig
  pkg/etl/Kconfig
  pkg/etl/Makefile
  pkg/etl/Makefile.dep
  pkg/etl/Makefile.include
  pkg/etl/config/etl_profile.h
  pkg/etl/doc.txt
  tests/pkg_etl/Makefile
  tests/pkg_etl/Makefile.ci
  tests/pkg_etl/app.config.test
  tests/pkg_etl/main.cpp
  tests/pkg_etl/tests/01-run.py
Labels: Area: doc, Area: tests, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: Kconfig

#17773 Make example/emcute_mqtt honor radio settings
  examples/emcute_mqttsn/Makefile
Labels: CI: ready for build, Area: examples

#17761 {examples,tests}/rust: Rust updates (-sys/-wrappers version, stable)
  doc/doxygen/src/using-rust.md
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/Makefile
  examples/rust-gcoap/Makefile.ci
  examples/rust-hello-world/Cargo.lock
  examples/rust-hello-world/Cargo.toml
  tests/rust_minimal/Cargo.lock
  tests/rust_minimal/Cargo.toml
Labels: Type: enhancement, Area: doc, Area: tests, CI: ready for build, CI: run tests, Area: examples, Area: Rust

#17766 sys/net/sock_util: fix compilation for IPv4-only mode
  sys/net/sock/sock_util.c
Labels: Area: network, CI: ready for build, Area: sys

#17740 examples/suit_update: clarify README.hardware.md
  examples/suit_update/README.hardware.md
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Area: examples, CI: skip compile test

#17764 sys/net/netutils: add netutils_get_ipv4()
  sys/include/net/utils.h
  sys/net/netutils/util.c
  tests/netutils/Makefile
  tests/netutils/main.c
  tests/netutils/mock_dns.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys

#17771 pkg/mynewt-core: fix semaphore
  pkg/mynewt-core/contrib/sem.c
  pkg/uwb-core/include/dpl/dpl_sem.h
Labels: Area: pkg, CI: ready for build

#16174 core: add functionality to check queue state of another thread
  core/include/cib.h
  core/include/msg.h
  core/msg.c
  tests/msg_queue_capacity/Makefile
  tests/msg_queue_capacity/main.c
  tests/msg_queue_capacity/tests/01-run.py
Labels: Area: tests, Area: core, Type: new feature, CI: ready for build, CI: run tests, Process: needs >1 ACK

#12808 minor text improvements to MAINTAINING.md
  MAINTAINING.md
Labels: Area: doc, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#17697 driver/lpsxxx: adding lps22ch support
  drivers/Makefile.dep
  drivers/include/lpsxxx.h
  drivers/lpsxxx/Kconfig
  drivers/lpsxxx/Makefile.include
  drivers/lpsxxx/include/lpsxxx_internal.h
  drivers/lpsxxx/include/lpsxxx_params.h
  drivers/lpsxxx/lpsxxx.c
  drivers/lpsxxx/lpsxxx_saul.c
  tests/driver_lpsxxx/README.md
Labels: Area: doc, Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17536 doc: C2Rust does not need patching any more.
  doc/doxygen/src/using-rust.md
Labels: Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#17710 sys/bitfield: add support for bit-wise bitfield operations
  sys/bitfield/bitfield.c
  sys/include/bitfield.h
  tests/unittests/tests-bitfield/tests-bitfield.c
Labels: Area: tests, CI: ready for build, Area: sys

#17777 pkg/edhoc-c: bump version
  pkg/edhoc-c/Makefile
Labels: Area: pkg, CI: ready for build

#17493 sys/net/application_layer/sock_dns: add pseudomodule auto_init_sock_dns
  sys/Makefile.dep
  sys/auto_init/auto_init.c
  sys/include/net/sock/dns.h
  sys/net/application_layer/sock_dns/dns.c
Labels: Area: network, CI: ready for build, Area: sys

#17753 sys/fido2: use ztimer instead of xtimer
  sys/Makefile.dep
  sys/fido2/ctap/Kconfig
  sys/fido2/ctap/transport/ctap_transport.c
  sys/fido2/ctap/transport/hid/Kconfig
  sys/fido2/ctap/transport/hid/ctap_hid.c
  sys/include/fido2/ctap/transport/hid/ctap_hid.h
Labels: CI: ready for build, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17779 lwip: enable LWIP_SO_RCVTIMEO if sock layer is used
  pkg/lwip/Makefile.dep
  tests/lwip_sock_ip/Makefile
  tests/lwip_sock_tcp/Makefile
  tests/lwip_sock_udp/Makefile
Labels: Area: network, Area: tests, Area: pkg, CI: ready for build

#17783 drivers/sht3x: ztimer_msec port
  drivers/sht3x/Kconfig
  drivers/sht3x/Makefile.dep
  drivers/sht3x/sht3x.c
  tests/driver_sht3x/main.c
Labels: Type: enhancement, Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#17780 net/gnrc_sock: depend on iolist
  sys/net/gnrc/Makefile.dep
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: sys

#17737 dist/tools/usb_serial: Add tool for listing and filtering TTY interfaces
  Makefile.include
  dist/tools/usb-serial/ttys.py
  doc/doxygen/src/advanced-build-system-tricks.md
  makefiles/tools/serial.inc.mk
Labels: Area: doc, Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#17719 sys/sema: add sema_ztimer64 to implement old api, deprecate sema
  makefiles/deprecated_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/sema.h
  sys/posix/pthread/pthread_cond.c
  sys/posix/pthread/pthread_rwlock.c
  sys/posix/select/posix_select.c
  sys/posix/semaphore/posix_semaphore.c
  sys/sema/Kconfig
  sys/sema/sema.c
  tests/posix_semaphore/Makefile
  tests/posix_semaphore/main.c
  tests/sema/Makefile
Labels: Area: tests, Area: build system, CI: ready for build, Area: sys, Area: Kconfig, CI: skip compile test, Process: deprecation

#17652 core: split out library code
  Makefile.include
  boards/native/Makefile.include
  core/Kconfig
  core/Makefile
  core/lib/Makefile
  core/lib/assert.c
  core/lib/atomic_c11.c
  core/lib/atomic_sync.c
  core/lib/bitarithm.c
  core/lib/clist.c
  core/lib/include/assert.h
  core/lib/include/bitarithm.h
  core/lib/include/cib.h
  core/lib/include/clist.h
  core/lib/include/debug.h
  core/lib/include/irq.h
  core/lib/include/kernel_defines.h
  core/lib/include/kernel_init.h
  core/lib/include/list.h
  core/lib/include/log.h
  core/lib/include/macros/units.h
  core/lib/include/macros/xtstr.h
  core/lib/include/panic.h
  core/lib/include/priority_queue.h
  core/lib/include/ringbuffer.h
  core/lib/include/rmutex.h
  core/lib/include/thread_config.h
  core/lib/include/xfa.h
  core/lib/init.c
  core/lib/panic.c
  core/lib/priority_queue.c
  core/lib/ringbuffer.c
  core/lib/rmutex.c
  dist/tools/zep_dispatch/Makefile
  makefiles/application.inc.mk
  makefiles/defaultmodules.inc.mk
  makefiles/pseudomodules.inc.mk
Labels: Platform: native, Area: core, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: boards, Process: needs >1 ACK, Area: Kconfig

#17769 cpu/esp32: update to Espressif's precompiled ESP32 vendor toolchain with gcc 8.4.0
  boards/esp32-ethernet-kit-v1_0/doc_common.txt
  boards/esp32-wrover-kit/doc.txt
  cpu/esp32/Kconfig
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/doc.txt
  cpu/esp32/include/newlib.h
  cpu/esp32/include/sys/features.h
  dist/tools/codespell/ignored_words.txt
  dist/tools/esptools/esptool_v3.2.py
  dist/tools/esptools/export.sh
  dist/tools/esptools/install.sh
  makefiles/tools/esptool.inc.mk
Labels: Area: doc, Area: build system, Type: new feature, CI: ready for build, Area: tools, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#17792 drivers/mrf24j40: move CFLAG to Makefile.include
  drivers/mrf24j40/Makefile.dep
  drivers/mrf24j40/Makefile.include
Labels: Area: build system, Impact: minor, Area: drivers, CI: ready for build

#17793 cpu/samx21: allow to override PM_BLOCKER_INITIAL
  cpu/samd21/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
Labels: Platform: ARM, CI: ready for build, Area: cpu

#17795 drivers/sdcard_spi: allow board to overwrite SD_CARD_SPI_SPEED_POSTINIT
  drivers/sdcard_spi/include/sdcard_spi_internal.h
Labels: Impact: minor, Area: drivers, CI: ready for build

#13790 gcoap: add simple forward-proxy
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/gcoap/forward_proxy.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/Makefile
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: enhancement, Area: network, Area: build system, CI: ready for build, Area: CoAP, Area: sys

#17798 pkg/fatfs: enable exFAT support
  pkg/fatfs/vendor/include/ffconf.h
  sys/include/vfs.h
Labels: Area: pkg, CI: ready for build, Area: sys

#17802 tools/benchmark_udp: fix build
  .github/workflows/tools-buildtest.yml
  dist/tools/benchmark_udp/Makefile
Labels: Type: bug, Impact: minor, CI: ready for build, Area: CI, Area: tools, CI: skip compile test

#17791 sys/bus: model Kconfig
  sys/Kconfig
  sys/bus/Kconfig
Labels: Type: new feature, Impact: minor, CI: ready for build, Area: sys, Area: Kconfig

#17676 Revert "gnrc_ipv6_nib: consider all local interfaces when looking for…
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ndp/gnrc_ndp.c
Labels: Area: network, Type: cleanup, CI: ready for build

#17806 {examples,tests}/rust: Rust updates
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, CI: run tests, Area: examples, Area: Rust

#17807 boards/adafruit-pybadge: add support
  boards/adafruit-pybadge/Kconfig
  boards/adafruit-pybadge/Makefile
  boards/adafruit-pybadge/Makefile.dep
  boards/adafruit-pybadge/Makefile.features
  boards/adafruit-pybadge/Makefile.include
  boards/adafruit-pybadge/board.c
  boards/adafruit-pybadge/doc.txt
  boards/adafruit-pybadge/include/board.h
  boards/adafruit-pybadge/include/gpio_params.h
  boards/adafruit-pybadge/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
Labels: Area: doc, Type: new feature, CI: ready for build, Area: tools, Area: boards, Area: Kconfig

#17815 drivers/at86rf215: fix CONFIG_AT86RF215_RPC_EN macro name
  drivers/at86rf215/at86rf215.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#17786 sys/ztimer: auto-select ztimer_no_periph_rtt only for samd21
  cpu/sam0_common/Kconfig
  cpu/sam3/Kconfig
  cpu/samd21/Kconfig
  sys/ztimer/Makefile.dep
Labels: Platform: ARM, CI: ready for build, Area: timers, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17818 makefiles/docker.ink.mk: do not always pass CFLAGS to docker
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build

#17436 cpu: add flash_writable section to linker script
  cpu/cc2538/Kconfig
  cpu/cc2538/Makefile.features
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/efm32/Kconfig
  cpu/efm32/Makefile.features
  cpu/gd32v/Kconfig
  cpu/gd32v/Makefile.features
  cpu/kinetis/Kconfig
  cpu/kinetis/Makefile.features
  cpu/msp430_common/Kconfig
  cpu/msp430_common/Makefile.features
  cpu/msp430_common/ldscripts/msp430_common.ld
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.features
  cpu/nrf9160/Kconfig
  cpu/riscv_common/ldscripts/riscv_base.ld
  cpu/sam0_common/Kconfig
  cpu/sam0_common/Makefile.features
  cpu/stm32/Makefile.features
  cpu/stm32/kconfigs/f0/Kconfig
  cpu/stm32/kconfigs/f1/Kconfig
  cpu/stm32/kconfigs/f3/Kconfig
  cpu/stm32/kconfigs/g0/Kconfig
  cpu/stm32/kconfigs/g4/Kconfig
  cpu/stm32/kconfigs/l0/Kconfig
  cpu/stm32/kconfigs/l1/Kconfig
  cpu/stm32/kconfigs/l4/Kconfig
  cpu/stm32/kconfigs/l5/Kconfig
  cpu/stm32/kconfigs/u5/Kconfig
  cpu/stm32/kconfigs/wb/Kconfig
  cpu/stm32/kconfigs/wl/Kconfig
  drivers/include/periph/flashpage.h
  drivers/periph_common/Kconfig.flashpage
  kconfigs/Kconfig.features
  tests/periph_flashpage/Kconfig
  tests/periph_flashpage/Makefile
  tests/periph_flashpage/main.c
  tests/periph_flashpage/tests/01-run.py
Labels: Platform: MSP, Platform: ARM, Area: tests, Area: drivers, CI: ready for build, Platform: RISC-V, Area: cpu, Area: Kconfig

#17816 sys/fido2/ctap: fix parsing validation
  sys/fido2/ctap/ctap_cbor.c
Labels: Type: bug, CI: ready for build, Area: sys

#17822 tools/pr_check: add "Update" keywork to "needs squashing" check
  dist/tools/pr_check/check.sh
Labels: CI: ready for build, Area: tools, CI: skip compile test

#10082 drivers: add driver for L3GD20H 3-axis gyroscope
  boards/stm32f3discovery/Kconfig
  boards/stm32f3discovery/Makefile.dep
  boards/stm32f3discovery/doc.txt
  boards/stm32f3discovery/include/board.h
  boards/stm32f429i-disc1/Kconfig
  boards/stm32f429i-disc1/Makefile.dep
  boards/stm32f429i-disc1/include/board.h
  cpu/esp32/Kconfig
  drivers/Kconfig
  drivers/Makefile.dep
  drivers/include/l3gxxxx.h
  drivers/l3gxxxx/Kconfig
  drivers/l3gxxxx/Makefile
  drivers/l3gxxxx/Makefile.dep
  drivers/l3gxxxx/Makefile.include
  drivers/l3gxxxx/include/l3gxxxx_params.h
  drivers/l3gxxxx/include/l3gxxxx_regs.h
  drivers/l3gxxxx/l3gxxxx.c
  drivers/l3gxxxx/l3gxxxx_saul.c
  drivers/saul/init_devs/auto_init_l3gxxxx.c
  drivers/saul/init_devs/init.c
  tests/driver_l3gxxxx/Makefile
  tests/driver_l3gxxxx/README.md
  tests/driver_l3gxxxx/app.config.test
  tests/driver_l3gxxxx/main.c
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Area: SAUL, Platform: ESP, Area: cpu, State: don't stale, Area: Kconfig

#17811 sys/*timer: rework dependecies to ease backend switch, prefer ztimer_xtimer_compat over xtimer_on_ztimer
  cpu/efm32/periph/Kconfig
  cpu/qn908x/periph/Kconfig
  drivers/ccs811/Kconfig
  makefiles/boards/ztimer_only.dep.mk
  makefiles/default_modules.deps.mk
  makefiles/pseudomodules.inc.mk
  pkg/u8g2/Kconfig
  pkg/ucglib/Kconfig
  sys/Makefile.dep
  sys/shell/commands/sc_gnrc_udp.c
  sys/trace/Kconfig
  sys/xtimer/Kconfig
  sys/xtimer/Makefile.dep
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now32_overflow/app.config.test
  tests/xtimer_now64_continuity/Makefile
  tests/xtimer_now64_continuity/app.config.test
Labels: Platform: ARM, Area: tests, Area: build system, Area: pkg, Area: drivers, CI: ready for build, Area: timers, Area: cpu, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: Kconfig

#17819 cpu/samd51: allow to support ADC0 and ADC1 in the same configuration
  boards/adafruit-itsybitsy-m4/include/periph_conf.h
  boards/adafruit-pybadge/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/adc.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#17828 boards/nucleo-f429zi: add support for ethernet
  boards/nucleo-f429zi/Kconfig
  boards/nucleo-f429zi/Makefile.dep
  boards/nucleo-f429zi/Makefile.features
  boards/nucleo-f429zi/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
  tests/Makefile.boards.netif
Labels: Area: tests, CI: ready for build, Area: tools, Area: boards, Area: Kconfig

#17825 core/Kconfig: move MODULE_CORE_LIB symbol to fix menuconfig display
  core/Kconfig
Labels: Type: bug, Area: core, Impact: minor, CI: ready for build, Area: Kconfig

#17820 doc/doxygen: add BUILD_IN_DOCKER extended doc
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/build-in-docker.md
  doc/doxygen/src/getting-started.md
  doc/doxygen/src/mainpage.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#17827 boards: add support for nucleo-f439zi
  boards/nucleo-f439zi/Kconfig
  boards/nucleo-f439zi/Makefile
  boards/nucleo-f439zi/Makefile.dep
  boards/nucleo-f439zi/Makefile.features
  boards/nucleo-f439zi/Makefile.include
  boards/nucleo-f439zi/doc.txt
  boards/nucleo-f439zi/include/periph_conf.h
  cpu/stm32/kconfigs/f4/Kconfig.lines
  dist/tools/doccheck/exclude_patterns
  tests/Makefile.boards.netif
Labels: Platform: ARM, Area: doc, Area: tests, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: Kconfig

#17835 tests/thread_float: use ztimer_usec
  tests/thread_float/Makefile
  tests/thread_float/main.c
Labels: Area: tests, CI: ready for build

#17724 pkg/uwb-dw1000: add patch for rf_txctrl value
  pkg/uwb-dw1000/patches/0001-uwb_dw1000-include-dw1000-dw1000_dev-add-linked-list.patch
  pkg/uwb-dw1000/patches/0002-uwb_dw1000-dw1000_hal-send-spi-cmd-and-data-separetl.patch
  pkg/uwb-dw1000/patches/0003-uwb_dw1000-dw1000_hal-define-even-if-DW1000_DEVICE_0.patch
  pkg/uwb-dw1000/patches/0004-uwb_dw1000-dw1000_hal-os_sr_t-by-dpl_sr_t.patch
  pkg/uwb-dw1000/patches/0005-dw1000-dw1000_dev-use-gpio_t-types-for-dev_cfg.patch
  pkg/uwb-dw1000/patches/0006-hw-drivers-uwb_dw100-update-RF_TXCTRL-value-for-chan.patch
Labels: Area: pkg, CI: ready for build

#17839 boards: fix ztimer adjust values for arduino-mega2560 and z1
  boards/arduino-mega2560/include/board.h
  boards/z1/include/board.h
  dist/tools/doccheck/exclude_patterns
Labels: CI: ready for build, Area: tools, Area: boards

#11237 examples/lorawan: add the possibility to use ABP activation procedure
  examples/lorawan/Makefile
  examples/lorawan/README.md
  examples/lorawan/main.c
Labels: Area: doc, CI: ready for build, Area: examples

#17837 pkg/littlefs2: bump version to 2.4.2
  pkg/littlefs2/Makefile
Labels: Area: pkg, CI: ready for build

#17324 cpu/stm32/i2c: fix wrong speed parameters
  boards/b-l475e-iot01a/include/periph_conf.h
  boards/b-u585i-iot02a/include/periph_conf.h
  boards/common/stm32/include/cfg_i2c1_pb6_pb7.h
  boards/common/stm32/include/cfg_i2c1_pb8_pb9.h
  boards/lora-e5-dev/include/periph_conf.h
  boards/nucleo-l433rc/include/periph_conf.h
  boards/nucleo-wl55jc/include/periph_conf.h
  boards/p-l496g-cell02/include/periph_conf.h
  boards/stm32f723e-disco/include/periph_conf.h
  boards/stm32f746g-disco/include/periph_conf.h
  cpu/stm32/include/cpu_conf_stm32_common.h
  cpu/stm32/include/periph/cpu_i2c.h
  cpu/stm32/periph/i2c_1.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#17848 cpu/nrf52/radio: fix confirm_op info cast
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#17846 doc/doxygen: recommend adding ADJUST ztimer values for new boards
  doc/doxygen/src/porting-boards.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#17851 tests/sys_atomic_utils: use ztimer_usec
  tests/sys_atomic_utils/Makefile
  tests/sys_atomic_utils/app.config.test
  tests/sys_atomic_utils/main.c
Labels: Area: tests, CI: ready for build, CI: run tests

#17852 sys/net/gnrc/sock: use ztimer_usec or xtimer for timeout
  sys/net/gnrc/sock/gnrc_sock.c
Labels: Area: network, CI: ready for build, CI: run tests, Area: sys

#17733 sys/syscalls: make gettimeofday() implementation optional
  cpu/native/Kconfig
  cpu/native/Makefile.dep
  cpu/native/syscalls.c
  makefiles/pseudomodules.inc.mk
  pkg/lua/Makefile.dep
  pkg/tinydtls/Makefile.dep
  pkg/wolfssl/Makefile.dep
  sys/Kconfig
  sys/Kconfig.newlib
  sys/Makefile.dep
  sys/newlib_syscalls_default/syscalls.c
  tests/cpp11_mutex/Makefile
Labels: Platform: native, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: cpu, Area: sys, Area: Kconfig, CI: skip compile test

#17857 pba-d-01-kw2x: fix clock init by preceding cpu_init with modem clock init
  boards/pba-d-01-kw2x/board.c
Labels: Type: bug, CI: ready for build, Area: boards

#17850 ipv6/nib: bugfix of 6CO length checking
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6ln.c
Labels: Area: network, CI: ready for build, Area: sys

#17849 pkg/tinydtls/contrib/sock_dtls: fix ep_to_session
  examples/dtls-echo/dtls-client.c
  examples/dtls-echo/dtls-server.c
  pkg/tinydtls/contrib/sock_dtls.c
  pkg/tinydtls/patches/0002-session.h-Modify-session_t-for-RIOT.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Area: examples, CI: skip compile test

#17627 drivers/mtd_flashpage: add mtd_flashpage_t type
  drivers/include/mtd_flashpage.h
  sys/fido2/ctap/ctap_mem.c
  tests/mtd_flashpage/main.c
Labels: Area: tests, Type: cleanup, Area: drivers, CI: ready for build, Area: sys

#17854 drivers/atwinc15x0: enable sleep state
  drivers/atwinc15x0/atwinc15x0_netdev.c
  drivers/include/atwinc15x0.h
Labels: Type: enhancement, Area: network, Area: drivers, CI: ready for build

#17865 pkg/fatfs: fix missing mutex header
  pkg/fatfs/fatfs_vfs/fatfs_vfs.c
  tests/pkg_fatfs_vfs/Makefile
Labels: Type: bug, Area: tests, Area: pkg, CI: ready for build, Area: fs

#17864 drivers/mtd_sdcard: drop printf()
  drivers/mtd_sdcard/mtd_sdcard.c
  drivers/sdcard_spi/sdcard_spi.c
Labels: Impact: minor, Area: drivers, CI: ready for build

#17765 pkg/tinydtls: add IPv4 support
  examples/dtls-echo/dtls-client.c
  examples/dtls-echo/dtls-server.c
  pkg/tinydtls/Makefile.include
  pkg/tinydtls/contrib/sock_dtls.c
  pkg/tinydtls/patches/0003-session-Rename-condition-WITH_RIOT_GNRC-to-WITH_RIOT.patch
  pkg/tinydtls/patches/0004-session-Add-support-for-IPv4-on-RIOT-OS.patch
Labels: Area: pkg, CI: ready for build, Area: examples

#17866 drivers/mtd_mapper: fix read_page and write_page backend
  drivers/mtd_mapper/mtd_mapper.c
  tests/mtd_mapper/Makefile
  tests/mtd_mapper/app.config.test
  tests/mtd_mapper/main.c
Labels: Type: bug, Area: tests, Area: drivers, CI: ready for build, Process: needs backport

#17856 gnrc_netif: fix potential null pointer dereference
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17872 drivers/mtd_spi_nor: fix Atmel size calculation
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#17840 tests: multiple fixes
  tests/pbkdf2/Makefile
  tests/periph_flashpage_unittest/main.c
  tests/periph_timer_periodic/tests/01-run.py
  tests/pkg_micro-ecc/Makefile
  tests/ps_schedstatistics/Makefile
  tests/ps_schedstatistics/main.c
  tests/sys_sched_round_robin/Makefile
  tests/sys_sema_inv/main.c
Labels: Area: tests, CI: ready for build

#17760 pkg/lvgl: add extra widget dependency
  pkg/lvgl/Kconfig
  pkg/lvgl/Makefile.dep
Labels: Area: pkg, CI: ready for build, Area: Kconfig

#17875 boards/nucleo-f429zi: improvements to documentation
  boards/nucleo-f429zi/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#17855 treewide: initialize several stack-allocated, but uninitialized timer structs
  sys/net/gnrc/sock/gnrc_sock.c
  sys/ztimer/util.c
Labels: Type: bug, Area: network, CI: ready for build, Area: timers, Area: sys

#17836 drivers/mtd_spi_nor: add ztimer_usec alternative
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Area: drivers, CI: ready for build, CI: run tests

#17853 makefiles: socat set tty mode 8N1
  dist/tools/goodfet/goodfet.bsl
  makefiles/tools/serial.inc.mk
  tests/shell/Makefile
  tests/shell_ble/Makefile
Labels: Area: tests, Area: build system, CI: ready for build, Area: tools, CI: run tests

#17803 gnrc/nib: don't advertise single address for auto-configuration
  sys/net/gnrc/network_layer/ipv6/nib/nib_pl.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17859 treewide: use sock_tl_name2ep() class of functions where applicable
  examples/asymcute_mqttsn/main.c
  examples/cord_epsim/main.c
  examples/cord_lc/cord_lc_cli.c
  sys/net/application_layer/nanocoap/sock.c
  sys/net/sock/sock_util.c
  sys/shell/commands/sc_cord_ep.c
  tests/emcute/main.c
  tests/lwip/tcp.c
  tests/lwip/udp.c
Labels: Type: enhancement, Area: network, Area: tests, Impact: minor, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#17656 vfs_default: add compile test and add default mount for more boards
  boards/common/weact-f4x1cx/Makefile.dep
  boards/common/weact-f4x1cx/board.c
  boards/iotlab-m3/Makefile.dep
  boards/iotlab-m3/mtd.c
  boards/mcb2388/Makefile.dep
  boards/mcb2388/board_init.c
  boards/msba2/Makefile.dep
  boards/msba2/board_init.c
  boards/native/board_init.c
  boards/nrf52840dk/Makefile.dep
  boards/nrf52840dk/mtd.c
  boards/same54-xpro/board.c
  sys/include/vfs_default.h
  tests/vfs_default/Makefile
  tests/vfs_default/Makefile.ci
  tests/vfs_default/main.c
Labels: Platform: native, Area: tests, CI: ready for build, Area: boards, Area: sys

#17736 sys/net/dhcpv6: miscellaneous tweaks
  sys/net/application_layer/dhcpv6/client.c
  sys/net/gnrc/application_layer/dhcpv6/client_simple_pd.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#17706 tests: add stack usage metrics
  core/include/thread.h
  core/lib/init.c
  core/sched.c
  core/thread.c
  sys/Makefile
  sys/test_utils/Kconfig
  sys/test_utils/print_stack_usage/Kconfig
  sys/test_utils/print_stack_usage/Makefile
  sys/test_utils/print_stack_usage/print_stack_usage.c
  tests/Makefile.tests_common
  tests/gnrc_netif_ieee802154/Makefile
  tests/malloc_thread_safety/Makefile.ci
  tests/minimal/Makefile
  tests/pkg_fff/Makefile
  tests/pkg_spiffs/Makefile.ci
  tests/test_interactive.config
  tests/test_print_stack_usage.config
  tests/test_utils.config
Labels: Area: tests, Area: core, CI: ready for build, Area: sys, Area: Kconfig

#17882 pkg/littlefs2: model Kconfig
  pkg/Kconfig
  pkg/littlefs2/Kconfig
  pkg/littlefs2/Makefile.dep
  pkg/littlefs2/Makefile.include
  tests/pkg_littlefs2/app.config.test
Labels: Area: tests, Area: pkg, CI: ready for build, Area: fs, Area: Kconfig

#17885 boards/b-l475e-iot01a: Add SPI2 and SPI3 buses
  boards/b-l475e-iot01a/include/periph_conf.h
  dist/tools/doccheck/exclude_patterns
Labels: CI: ready for build, Area: tools, Area: boards

#17891 sys/test_utils/print_stack_usage: work with small stacks
  sys/test_utils/print_stack_usage/print_stack_usage.c
  tests/pthread_flood/Makefile
Labels: Area: tests, CI: ready for build, CI: run tests, Area: sys

#17860 periph/flashpage: deprecate *_free functions
  drivers/include/periph/flashpage.h
Labels: Area: drivers, CI: ready for build, Process: deprecation

#17883 cpu/samd5x: allow to block IDLE mode
  cpu/samd5x/include/periph_cpu.h
  cpu/samd5x/periph/pm.c
Labels: Platform: ARM, CI: ready for build, Area: cpu
