Repository RIOT-OS/RIOT, pull requests merged in 2022-11, with the labels that each got.

#18826 drivers/slipdev: fix off-by-one error in _recv()
  drivers/slipdev/slipdev.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: needs backport

#18762 tests/thread_msg_bus: enhance test with non-bus message
  tests/thread_msg_bus/main.c
  tests/thread_msg_bus/tests/01-run.py
Labels: Area: tests, Impact: minor, CI: ready for build

#18830 drivers/slipdev: fix off-by-one error in _recv() [backport 2022.10]
  drivers/slipdev/slipdev.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: release backport

#18831 drivers/ethos: Fix off-by-one bug [backport 2022.10]
  drivers/ethos/ethos.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: release backport

#18783 sys/ztimer: model ztimer_periph_lptimer for Kconfig
  boards/xg23-pk6068a/Kconfig
  boards/xg23-pk6068a/Makefile.dep
  boards/xg23-pk6068a/include/board.h
  sys/include/ztimer/config.h
  sys/ztimer/Kconfig
  sys/ztimer/Makefile.dep
Labels: Type: bug, State: WIP, CI: ready for build, Area: timers, Area: boards, Area: sys, Area: Kconfig

#18834 pkg/tinyusb: Note distinction from USBUS
  pkg/tinyusb/doc.txt
Labels: Area: doc, Impact: minor, Area: pkg, CI: ready for build, CI: skip compile test

#18837 core/lib/xfa: fix parameter documentation
  core/lib/include/xfa.h
Labels: Type: bug, Area: doc, Area: core, Impact: minor, CI: ready for build, CI: skip compile test

#18819 nanocoap_sock: only re-transmit CON messages
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#18842 sys/pm_layered: move (un)block assert for minor speedup
  sys/pm_layered/pm.c
Labels: Impact: minor, CI: ready for build, Area: sys

#18787 cpu/stm32: improvement of USB device driver selection
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/Kconfig
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Makefile.dep
Labels: Type: enhancement, Platform: ARM, Area: pkg, CI: ready for build, Area: cpu, Area: Kconfig

#18847 boards/nucleo-f207zg: support for ADC
  boards/nucleo-f207zg/Kconfig
  boards/nucleo-f207zg/Makefile.features
  boards/nucleo-f207zg/include/periph_conf.h
  cpu/stm32/include/periph/f2/periph_cpu.h
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18850 examples: Remove macOS references in README
  examples/emcute_mqttsn/README.md
  examples/gnrc_border_router/README.md
Labels: Area: doc, Type: cleanup, CI: ready for build, Area: examples, CI: skip compile test

#18852 gnrc: Fix unused function error when using LLVM
  sys/net/gnrc/network_layer/ipv6/nib/_nib-router.c
Labels: Type: bug, Area: network, Type: cleanup, CI: ready for build, Area: sys

#18848 examples: check return value of coap_build_reply()
  examples/nanocoap_server/coap_handler.c
  tests/riotboot_flashwrite/coap_handler.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Area: examples

#18845 build system: fix compilation with LLVM
  makefiles/cflags.inc.mk
  makefiles/libc/newlib.mk
  makefiles/libc/picolibc.mk
Labels: Area: build system, CI: ready for build

#18821 cpu/saml21: add interaction with pm_layered for peripheral drivers
  cpu/sam0_common/periph/gpio.c
  cpu/sam0_common/periph/rtc_rtt.c
  cpu/sam0_common/periph/spi.c
  cpu/sam0_common/periph/timer.c
  cpu/sam0_common/periph/uart.c
  cpu/sam0_common/periph/usbdev.c
  cpu/samd21/include/periph_cpu.h
  cpu/saml21/include/periph_cpu.h
Labels: Type: enhancement, Platform: ARM, CI: ready for build, Area: pm, Area: cpu

#18833 sys/bitfield: add bf_find_first_{set, unset}()
  sys/bitfield/bitfield.c
  sys/include/bitfield.h
  tests/unittests/tests-bitfield/tests-bitfield.c
Labels: Area: tests, CI: ready for build, Area: sys

#18827 nanocoap_sock: don't store entire sock in coap_block_request_t
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  sys/net/application_layer/nanocoap/vfs.c
  tests/nanocoap_cli/nanocli_client.c
Labels: Type: bug, Area: network, Area: tests, Type: cleanup, Process: API change, CI: ready for build, Area: CoAP, Area: sys

#18846 sys/pm_layered: align pm_blocker_t for speed
  sys/include/pm_layered.h
  sys/pm_layered/pm.c
Labels: CI: ready for build, Area: sys

#18835 pkg/tinyusb: add common USB descriptors implementation
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Kconfig.cdc
  pkg/tinyusb/Kconfig.hid
  pkg/tinyusb/Kconfig.msc
  pkg/tinyusb/Makefile.dep
  pkg/tinyusb/contrib/include/tinyusb_config.h
  pkg/tinyusb/contrib/include/tinyusb_descriptors.h
  pkg/tinyusb/contrib/tinyusb_descriptors.c
  pkg/tinyusb/doc.txt
  sys/usb/Kconfig
  tests/pkg_tinyusb_cdc_msc/usb_descriptors.c
Labels: Type: enhancement, Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: USB, Area: sys, Area: Kconfig

#18857 boards/dwm1001: use lis2dh12_i2c instead of lis2dh12_spi
  boards/dwm1001/Kconfig
  boards/dwm1001/Makefile.dep
Labels: Type: bug, CI: ready for build, Area: boards, Area: Kconfig

#18862 pkg/utensor: fix uninitialized variable
  pkg/utensor/patches/0004-core-tensor.cpp-fix-uninitialized-variable.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Process: needs backport

#18861 dist/tools/flatc: Fix compilation on musl
  dist/tools/flatc/patches/0001-CMakeLists.txt-fix-compilation-on-musl.patch
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools

#18866 tools/backport_pr.py: improve usability
  dist/tools/backport_pr/backport_pr.py
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools

#18864 dist/tools/flatc: Fix compilation on musl [backport 2022.10]
  dist/tools/flatc/patches/0001-CMakeLists.txt-fix-compilation-on-musl.patch
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, Process: release backport

#18859 examples/wasm/wasm_sample: fix linking with new wasm-ld
  examples/wasm/wasm_sample/Makefile
Labels: Type: bug, Impact: minor, CI: ready for build, Process: needs backport, Area: examples

#18865 pkg/utensor: fix uninitialized variable [backport 2022.10]
  pkg/utensor/patches/0004-core-tensor.cpp-fix-uninitialized-variable.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Process: release backport

#18868 tests/mpu_stack_guard: Fix compilation on modern GCC (>= 12.x)
  tests/mpu_stack_guard/main.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Process: needs backport

#18858 core/marco: fix DIV_ROUND
  core/include/macros/math.h
  tests/unittests/tests-core/tests-core-macros.c
Labels: Area: tests, Area: core, CI: ready for build

#18872 tests/mpu_stack_guard: Fix compilation on modern GCC (>= 12.x) [backport 2022.10]
  tests/mpu_stack_guard/main.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Process: release backport

#18860 usbus/hid: fix buffer overflow in hid_io
  sys/usb/usbus/hid/hid_io.c
Labels: CI: ready for build, Process: needs backport, Area: USB, Area: sys

#18877 utils/uncrustify: display warning instead of error
  dist/tools/uncrustify/uncrustify.sh
Labels: CI: ready for build, Area: tools, CI: skip compile test

#18874 sys/net/gnrc/pkt: fix gnrc_pkt_delete()
  sys/include/net/gnrc/pkt.h
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, CI: run tests, Area: sys

#18879 sys/bitfield: add bf_popcnt()
  sys/bitfield/bitfield.c
  sys/include/bitfield.h
  tests/unittests/tests-bitfield/tests-bitfield.c
Labels: Area: tests, CI: ready for build, Area: sys

#18876 pkg/littlefs2: bump version to 2.5.1
  pkg/littlefs2/Makefile
Labels: Type: enhancement, Impact: minor, Area: pkg, CI: ready for build, Area: fs

#18878 tests/pkg_tinyvcdiff: fix stack overflow
  tests/pkg_tinyvcdiff/main.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Process: needs backport

#18873 pkg/wolfssl: fix compilation with GCC >= 12.x
  pkg/wolfssl/patches/0001-wolfssl-wolfcrypt-fix-signature-mismatch-to-compile-.patch
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: needs backport

#18880 sys/net/gnrc/pkt: fix gnrc_pkt_delete() [backport 2022.10]
  sys/include/net/gnrc/pkt.h
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#18885 tapsetup: add --loss & --delay option
  dist/tools/tapsetup/tapsetup
Labels: Type: new feature, CI: ready for build, Area: tools, CI: skip compile test

#18832 .drone: Remove unmaintained .drone file
  .drone.yml
Labels: CI: ready for build, CI: skip compile test

#18881 tools/backport_pr: finally fix running outside of repo's root
  dist/tools/backport_pr/backport_pr.py
Labels: Type: bug, CI: ready for build, Area: tools

#18888 tests/pkg_tinyusb*: add a BOARD to make make build
  tests/pkg_tinyusb_cdc_acm_stdio/Makefile
  tests/pkg_tinyusb_cdc_msc/Makefile
Labels: Area: tests, CI: ready for build

#18871 pkg/tflite-micro: fix compilation with GCC >= 12.x
  pkg/tflite-micro/patches/0002-Compare-names-without-over-reading-in-micro_allocati.patch
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build

#18890 pkg/ccn-lite: Fix use after free bug
  pkg/ccn-lite/patches/0006-src-ccnl-core-src-ccnl-relay.c-fix-use-after-free.patch
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: needs backport

#18892 makefiles/arch/cortexm.inc.mk: fix ASMFLAGS
  makefiles/arch/cortexm.inc.mk
Labels: Type: bug, Platform: ARM, Area: build system, Impact: minor, CI: ready for build, Process: needs backport

#18894 tests/bitarithm_timings: shorten timeout from 5s to 200ms
  tests/bitarithm_timings/main.c
Labels: Area: tests, CI: ready for build, CI: run tests

#18895 pkg/tflite-micro: fix compilation with GCC >= 12.x [backport 2022.10]
  pkg/tflite-micro/patches/0002-Compare-names-without-over-reading-in-micro_allocati.patch
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: release backport

#18896 tests/pkg_tinyvcdiff: fix stack overflow [backport 2022.10]
  tests/pkg_tinyvcdiff/main.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Process: release backport

#18897 pkg/ccn-lite: Fix use after free bug [backport 2022.10]
  pkg/ccn-lite/patches/0006-src-ccnl-core-src-ccnl-relay.c-fix-use-after-free.patch
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: release backport

#18898 pkg/wolfssl: fix compilation with GCC >= 12.x [backport 2022.10]
  pkg/wolfssl/patches/0001-wolfssl-wolfcrypt-fix-signature-mismatch-to-compile-.patch
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: release backport

#18900 tests/pkg_emlearn: fix compilation
  tests/pkg_emlearn/Makefile
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Process: needs backport

#18899 makefiles/arch/cortexm.inc.mk: fix ASMFLAGS [backport 2022.10]
  makefiles/arch/cortexm.inc.mk
Labels: Type: bug, Platform: ARM, Area: build system, Impact: minor, CI: ready for build, Process: release backport

#18901 pkg/tinyusb: update doc for tusb_app_config.h and common descriptor handling
  pkg/tinyusb/doc.txt
Labels: Type: enhancement, Area: doc, Area: pkg, CI: ready for build, CI: skip compile test

#18889 usbus/hid: fix buffer overflow in hid_io [backport 2022.10]
  sys/usb/usbus/hid/hid_io.c
Labels: CI: ready for build, Process: release backport, Area: USB, Area: sys

#18904 makefiles: Use `grep -q` rather than `--quiet`
  makefiles/cargo-targets.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build

#18905 CI: drop obsolete murdock note
  .murdock.yml
Labels: CI: ready for build, Area: CI, CI: skip compile test

#18685 README.md: update CI badge
  README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test, State: waiting for CI update

#18891 tests/shell: fix failure on samr21-xpro
  tests/shell/Makefile
  tests/shell/main.c
  tests/shell/tests/01-run.py
Labels: Type: bug, Area: tests, CI: ready for build, Process: needs backport

#18906 pkg/tinyusb: fix CFG_TUD_MAX_SPEED
  pkg/tinyusb/contrib/include/tusb_config.h
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build

#18893 makefiles/libc/picolibc.mk: fix compilation with modern binutils
  makefiles/libc/picolibc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Process: needs backport

#18908 tests/shell: fix failure on samr21-xpro [backport 2022.10]
  tests/shell/Makefile
  tests/shell/main.c
  tests/shell/tests/01-run.py
Labels: Type: bug, Area: tests, CI: ready for build, Process: release backport

#18909 makefiles/libc/picolibc.mk: fix compilation with modern binutils [backport 2022.10]
  makefiles/libc/picolibc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Process: release backport

#18854 gnrc_sock_udp: accept response from any address if remote is multicast
  sys/include/net/sock.h
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/gnrc_sock_udp/main.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys

#18882 core/lib: split kernel defines by its concerns
  core/lib/include/compiler_hints.h
  core/lib/include/container.h
  core/lib/include/kernel_defines.h
  core/lib/include/modules.h
  core/lib/include/riot_version.h
Labels: Area: core, Impact: minor, CI: ready for build

#18914 gnrc_sock_udp: style fix in sock_udp_recv_buf_aux()
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#18922 docs/kconfig: "not longer" -> "no longer" typo
  doc/doxygen/src/kconfig/kconfig.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#18912 sys/malloc_tracing: add module to trace dyn memory management
  makefiles/pseudomodules.inc.mk
  sys/malloc_thread_safe/Kconfig
  sys/malloc_thread_safe/malloc_wrappers.c
Labels: Area: build system, CI: ready for build, Area: sys, Area: Kconfig

#18924 sys/print_stack_usage: update MIN_SIZE [backport 2022.10]
  sys/test_utils/print_stack_usage/print_stack_usage.c
Labels: CI: ready for build, Process: release backport, Area: sys

#18928 build system: fix compilation with LLVM [backport 2022.10]
  makefiles/cflags.inc.mk
  makefiles/libc/newlib.mk
  makefiles/libc/picolibc.mk
Labels: Area: build system, CI: ready for build, Process: release backport

#18926 pkg/tinyusb: fix USB speed selection for STM32 boards with HS PHY
  cpu/stm32/include/tinyusb_hw_defaults.h
  pkg/tinyusb/contrib/include/tusb_config.h
  pkg/tinyusb/hw/hw_stm32_otg.c
  tests/pkg_tflite-micro/Makefile.ci
Labels: Type: bug, Platform: ARM, Area: tests, Impact: minor, Area: pkg, CI: ready for build, Area: cpu

#18929 boards/nucleo-l476zg: doc improvements
  boards/nucleo-l476rg/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#18921 cpu/stm32: add unused backup RAM as extra heap
  cpu/stm32/include/cpu_conf.h
Labels: Platform: ARM, CI: ready for build, Area: cpu

#18913 makefiles/cflags.inc.mk: don't include absolute path in __FILE__ macro
  cpu/esp8266/Makefile.include
  makefiles/arch/avr8.inc.mk
  makefiles/cflags.inc.mk
Labels: Type: enhancement, Area: build system, Platform: AVR, CI: ready for build, Platform: ESP, Area: cpu

#18932 tests/pbkdf2: de-flanky-fy test
  sys/hashes/pbkdf2.c
  sys/include/hashes/pbkdf2.h
  tests/pbkdf2/Makefile
  tests/pbkdf2/main.c
  tests/pbkdf2/tests/01-rfc.py
  tests/pbkdf2/tests/01-run.py
  tests/pbkdf2/tests/02-random.py
  tests/pbkdf2/tests/test_base.py
Labels: Area: tests, CI: ready for build, CI: run tests, Area: sys

#18918 sys/fmt: add print_bytes_hex()
  sys/fmt/fmt.c
  sys/include/fmt.h
  tests/fmt_print/main.c
  tests/fmt_print/tests/01-run.py
Labels: Area: tests, Impact: minor, CI: ready for build, Area: sys

#18931 sys/shell: drop ping6 alias
  sys/shell/cmds/gnrc_icmpv6_echo.c
Labels: Type: cleanup, CI: ready for build, Area: sys

#18936 treewide: replace RIOT_FILE_RELATIVE with __FILE__
  core/lib/include/assert.h
  core/msg.c
  cpu/lpc23xx/mci/lpc23xx-mci.c
  cpu/native/netdev_tap/netdev_tap.c
  sys/include/embUnit/AssertImpl.h
  sys/include/test_utils/expect.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_common.h
Labels: Platform: native, Platform: ARM, Area: network, Area: core, Type: cleanup, CI: ready for build, Area: cpu, Area: sys

#18935 makefiles/gnu.inc.mk: set flags based on compiler version
  cpu/esp8266/Makefile.include
  makefiles/arch/avr8.inc.mk
  makefiles/toolchain/gnu.inc.mk
Labels: Area: build system, Platform: AVR, CI: ready for build, Platform: ESP, Area: cpu, Area: toolchain

#18938 makefiles/gnu.inc.mk: fix "extraneous text after 'ifneq' directive"
  makefiles/toolchain/gnu.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, Area: toolchain

#18811 boards/common/nrf52: improve default clock config
  boards/common/nrf52/include/cfg_timer_default.h
Labels: CI: ready for build, Area: boards

#18945 .vscode: import initial RIOT-OS style
  .gitignore
  .vscode/settings.json
Labels: Type: new feature, CI: ready for build, Area: tools, CI: skip compile test

#18943 tests/pbkdf2: remove unused #include
  tests/pbkdf2/main.c
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#18884 core/lib: define MAYBE_UNUSED
  core/lib/include/compiler_hints.h
Labels: Area: core, CI: ready for build

#18946 cpu/efm32: add periph_uart_modecfg support for Gecko Series 2
  boards/common/slwstk6000b/Kconfig
  boards/common/slwstk6000b/Makefile.features
  boards/e180-zg120b-tb/Kconfig
  boards/e180-zg120b-tb/Makefile.features
  boards/ikea-tradfri/Kconfig
  boards/ikea-tradfri/Makefile.features
  boards/slstk3400a/Kconfig
  boards/slstk3400a/Makefile.features
  boards/slstk3401a/Kconfig
  boards/slstk3401a/Makefile.features
  boards/slstk3402a/Kconfig
  boards/slstk3402a/Makefile.features
  boards/sltb001a/Kconfig
  boards/sltb001a/Makefile.features
  boards/sltb009a/Kconfig
  boards/sltb009a/Makefile.features
  boards/slwstk6220a/Kconfig
  boards/slwstk6220a/Makefile.features
  boards/stk3200/Kconfig
  boards/stk3200/Makefile.features
  boards/stk3600/Kconfig
  boards/stk3600/Makefile.features
  boards/stk3700/Kconfig
  boards/stk3700/Makefile.features
  cpu/efm32/Kconfig
  cpu/efm32/Makefile.features
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/uart_series2.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18941 tests/pbkdf2: de-flaky-fy test [backport 2022.10]
  sys/hashes/pbkdf2.c
  sys/include/hashes/pbkdf2.h
  tests/pbkdf2/Makefile
  tests/pbkdf2/main.c
  tests/pbkdf2/tests/01-rfc.py
  tests/pbkdf2/tests/01-run.py
  tests/pbkdf2/tests/02-random.py
  tests/pbkdf2/tests/test_base.py
Labels: Area: tests, CI: ready for build, Process: release backport, Area: sys

#18948 boards/common/nrf52: fix timer config
  boards/common/nrf52/include/cfg_timer_default.h
  cpu/nrf5x_common/include/periph_cpu_common.h
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#18955 core/mbox: fix race condition
  core/mbox.c
Labels: Type: bug, Area: core, CI: ready for build, Process: needs backport

#18952 tests/pkg_utensor: increase main threads stack size
  tests/pkg_utensor/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Process: needs backport

#18953 cpu/nrf5x/timer: fix high current consumption in powered off state
  cpu/nrf5x_common/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#18959 tests/pkg_utensor: increase main threads stack size [backport 2022.10]
  tests/pkg_utensor/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Process: release backport

#18951 sys/net/grnc/netreg: avoid freeing wild pointers
  sys/net/gnrc/netreg/gnrc_netreg.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: sys

#18940 boards/nucleo-l496zg: add ADC support
  boards/nucleo-l496zg/Kconfig
  boards/nucleo-l496zg/Makefile.features
  boards/nucleo-l496zg/include/periph_conf.h
  cpu/stm32/include/periph/l4/periph_cpu.h
  cpu/stm32/periph/adc_l4.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#18816 nanocoap: add request context to coap_handle_req()
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/nanocoap_internal.h
  sys/net/application_layer/nanocoap/sock.c
  tests/nanocoap_cli/nanocli_server.c
Labels: Area: network, Area: tests, Process: API change, CI: ready for build, Area: CoAP, Area: sys

#17870 examples/gcoap: replace _parse_endpoint by sock_udp_name2ep
  examples/gcoap/README.md
  examples/gcoap/client.c
Labels: Area: doc, CI: ready for build, Area: examples

#18960 core/mbox: fix race condition [backport 2022.10]
  core/mbox.c
Labels: Type: bug, Area: core, CI: ready for build, Process: release backport

#18961 sys/net/grnc/netreg: avoid freeing wild pointers [backport 2022.10]
  sys/net/gnrc/netreg/gnrc_netreg.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#18958 boards/sam*-xpro: fix style of PWM config
  boards/samd21-xpro/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
  boards/saml21-xpro/include/periph_conf.h
  boards/samr21-xpro/include/periph_conf.h
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: boards

#18933 cpu/efm32: add periph_adc support for Gecko Series 2
  boards/xg23-pk6068a/Kconfig
  boards/xg23-pk6068a/Makefile.features
  boards/xg23-pk6068a/doc.txt
  boards/xg23-pk6068a/include/periph_conf.h
  cpu/efm32/include/periph_cpu.h
  cpu/efm32/periph/Makefile
  cpu/efm32/periph/adc_series01.c
  cpu/efm32/periph/adc_series2.c
  dist/tools/doccheck/exclude_patterns
Labels: Platform: ARM, Area: doc, Type: new feature, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: Kconfig

#18954 cpu/nrf5x/uart: run STOPTX task after finished tx
  cpu/nrf5x_common/periph/uart.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#18966 treewide: fix typos found by recent codespell
  boards/common/particle-mesh/bootloader.c
  boards/esp32-mh-et-live-minikit/include/board_modules.h
  sys/include/net/ipv4/hdr.h
  sys/posix/pthread/include/pthread_cleanup.h
  tests/driver_mcp47xx/main.c
  tests/driver_pca9685/README.md
  tests/driver_pca9685/main.c
  tests/driver_pcf857x/README.md
  tests/driver_pcf857x/main.c
Labels: Area: network, Area: doc, Area: tests, Impact: minor, CI: ready for build, Area: boards, Area: sys, CI: skip compile test

#18839 rust: Use stable Rust
  doc/doxygen/src/using-rust.md
  examples/rust-gcoap/Makefile
  examples/rust-hello-world/Makefile
Labels: Area: doc, CI: ready for build, CI: run tests, Area: examples, Area: Rust

#18969 cpu/stm32/periph_timer: fix spurious IRQs and race conditions
  cpu/stm32/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#18971 cpu/esp{32,8266}/periph_timer: allow changing callback or freq
  cpu/esp32/periph/timer.c
  cpu/esp8266/periph/timer.c
Labels: Type: bug, CI: ready for build, Process: needs backport, Platform: ESP, Area: cpu

#18970 cpu/nrf5x_common/periph_timer: fix spurious IRQs
  cpu/nrf5x_common/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu, CI: skip compile test

#18972 cpu/stm32/periph_timer: fix spurious IRQs and race conditions [backport 2022.10]
  cpu/stm32/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: release backport, Area: cpu

#18973 cpu/esp{32,8266}/periph_timer: allow changing callback or freq [backport 2022.10]
  cpu/esp32/periph/timer.c
  cpu/esp8266/periph/timer.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Process: release backport, Area: cpu

#18795 debug_irq_disable: add module to debug time spent in irq_disable
  core/lib/include/irq.h
  cpu/cortexm_common/include/irq_arch.h
  sys/Kconfig
  sys/Makefile.dep
  sys/debug_irq_disable/Kconfig
  sys/debug_irq_disable/Makefile
  sys/debug_irq_disable/debug_irq_disable.c
  sys/include/debug_irq_disable.h
Labels: Platform: ARM, Area: core, CI: ready for build, Area: cpu, Area: sys, Area: Kconfig

#18974 cpu/nrf5x_common/periph_timer: fix spurious IRQs [backport 2022.10]
  cpu/nrf5x_common/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: release backport, Area: cpu

#18967 drivers/at86rf2xx: define caps in macros
  drivers/at86rf2xx/at86rf2xx.c
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/at86rf2xx/at86rf2xx_internal.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
  drivers/at86rf2xx/include/at86rf2xx_internal.h
  drivers/at86rf2xx/include/at86rf2xx_params.h
  drivers/include/at86rf2xx.h
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build

#18979 pkg/nimble: signal LINK_UP on initialisation
  pkg/nimble/netif/nimble_netif.c
Labels: Type: bug, Area: pkg, CI: ready for build, Area: BLE, Process: needs backport

#18980 pkg/nimble: signal LINK_UP on initialisation [backport 2022.10]
  pkg/nimble/netif/nimble_netif.c
Labels: Type: bug, Area: pkg, CI: ready for build, Area: BLE, Process: release backport

#18978 cpu/atmega_common/periph_timer: fix spurious IRQs
  cpu/atmega_common/periph/timer.c
Labels: Type: bug, Platform: AVR, CI: ready for build, Area: cpu

#18981 cpu/atmega_common/periph_timer: fix spurious IRQs [backport 2022.10]
  cpu/atmega_common/periph/timer.c
Labels: Type: bug, Platform: AVR, CI: ready for build, Process: release backport, Area: cpu

#18984 boards/nucleo-l* and g*: update doc concerning Vbat
  boards/nucleo-g070rb/include/periph_conf.h
  boards/nucleo-g071rb/include/periph_conf.h
  boards/nucleo-l476rg/include/periph_conf.h
  boards/nucleo-l496zg/include/periph_conf.h
  boards/nucleo-l4r5zi/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#18986 boards/qn9080dk: add default OPENOCD_DEBUG_ADAPTER
  boards/qn9080dk/Makefile.include
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: boards

#18989 cpu/qn908x: use bitarithm_test_and_clear() & fix cb
  cpu/qn908x/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#18990 cpu/qn908x: use bitarithm_test_and_clear() & fix cb [backport 2022.10]
  cpu/qn908x/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: release backport, Area: cpu

#18887 sys/include: remove kernel_defines.h where not needed
  drivers/sht1x/sht1x.c
  sys/include/auto_init_utils.h
  sys/include/crypto/ciphers.h
  sys/include/dbgpin.h
  sys/include/embUnit.h
  sys/include/evtimer.h
  sys/include/net/credman.h
  sys/include/net/dns.h
  sys/include/net/dns/cache.h
  sys/include/net/gnrc/ipv6/nib/abr.h
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/include/net/gnrc/ipv6/nib/pl.h
  sys/include/net/gnrc/lorawan/region.h
  sys/include/net/gnrc/mac/mac.h
  sys/include/net/gnrc/netif/conf.h
  sys/include/net/gnrc/netif/internal.h
  sys/include/net/gnrc/netif/ipv6.h
  sys/include/net/gnrc/nettype.h
  sys/include/net/gnrc/rpl.h
  sys/include/net/gnrc/sixlowpan/config.h
  sys/include/net/gnrc/sixlowpan/ctx.h
  sys/include/net/gnrc/sixlowpan/frag/sfr/congure.h
  sys/include/net/gnrc/sixlowpan/frag/sfr_types.h
  sys/include/net/gnrc/sixlowpan/frag/vrb.h
  sys/include/net/ieee802154.h
  sys/include/net/ieee802154_security.h
  sys/include/net/lora.h
  sys/include/net/loramac.h
  sys/include/phydat.h
  sys/include/senml.h
  sys/include/shell.h
  sys/include/stdio_base.h
  sys/include/string_utils.h
  sys/include/tm.h
  sys/include/usb/usbus.h
  sys/shell/cmds/gnrc_netif.c
  sys/shell/cmds/openwsn.c
  sys/shell/cmds/sht1x.c
  tests/can_trx/main.c
  tests/driver_dynamixel/main.c
  tests/driver_feetech/main.c
  tests/driver_sdcard_spi/main.c
  tests/driver_sht1x/main.c
  tests/gnrc_dhcpv6_client_6lbr/main.c
  tests/gnrc_dhcpv6_client_stateless/main.c
  tests/gnrc_dhcpv6_relay/main.c
  tests/periph_flashpage_unittest/main.c
  tests/phydat_dump/main.c
  tests/pkg_fatfs/main.c
  tests/pkg_tinycbor/main.c
  tests/unittests/tests-clif/tests-clif.c
  tests/unittests/tests-core/tests-core-macros.c
  tests/unittests/tests-core/tests-core-priority-queue.c
  tests/unittests/tests-sht1x/tests-sht1x.c
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: network, Area: tests, Area: drivers, CI: ready for build, Area: timers, Area: LoRa, Area: USB, Area: sys

#18734 unittests/uri_parser: Rework tests to be more verbose
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: tests, CI: ready for build

#18994 pkg/wamr: Update to WAMR-1.1.1
  pkg/wamr/Makefile
Labels: Area: pkg, CI: ready for build

#18996 CI: can_fast_ci_build.py unittests fix
  dist/tools/ci/can_fast_ci_run.py
Labels: CI: ready for build, Area: tools

#18551 suit: start worker thread on demand, make suit_handle_url() public
  examples/suit_update/main.c
  sys/include/suit/transport/coap.h
  sys/include/suit/transport/worker.h
  sys/suit/transport/worker.c
Labels: Type: cleanup, CI: ready for build, Area: OTA, Area: sys, Area: examples

#18997 pkg: paho-mqtt: added missing requirement
  pkg/paho-mqtt/Makefile.dep
Labels: Type: bug, Area: network, Impact: minor, Area: pkg, CI: ready for build

#18992 pkg/tinyusb: fix the reset of the USB connection for STM32 boards without internal D+ pullup
  pkg/tinyusb/contrib/tinyusb.c
  pkg/tinyusb/hw/hw_stm32_fsdev.c
Labels: Type: bug, Area: pkg, CI: ready for build
