Repository RIOT-OS/RIOT, pull requests merged in 2023-03, with the labels that each got.

#16158 gnrc_sixlowpan_frag_sfr_congure_sfr: initial import
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/sixlowpan/frag/sfr/congure.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/congure_sfr.c
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/Makefile
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/Makefile.ci
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/README.md
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/main.c
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/tests/01-run.py
Labels: Area: network, Area: doc, Area: tests, Area: build system, Type: new feature, CI: ready for build, Area: sys

#16159 gnrc_sixlowpan_frag_sfr_congure: add congure_quic support
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/sixlowpan/frag/sfr/congure.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/congure_quic.c
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/Makefile
Labels: Area: network, Area: tests, Area: build system, Type: new feature, CI: ready for build, Area: sys

#19338 dist/tools/edbg: bump edbg version
  dist/tools/edbg/Makefile
Labels: Impact: minor, CI: ready for build, CI: skip compile test

#16171 gnrc_sixlowpan_frag_sfr_congure: add congure_abe support
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/sixlowpan/frag/sfr/congure.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/network_layer/sixlowpan/frag/sfr/congure_reno.c
  tests/gnrc_sixlowpan_frag_sfr_congure_impl/Makefile
Labels: Area: network, Area: tests, Area: build system, Type: new feature, CI: ready for build, Area: sys

#19339 gnrc_netif: set lower bound for IEEE802154_STACKSIZE_DEFAULT
  sys/net/gnrc/netif/init_devs/include/init_devs.h
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#18515 libschc: initial import as package
  CODEOWNERS
  pkg/Kconfig
  pkg/libschc/Kconfig
  pkg/libschc/Makefile
  pkg/libschc/Makefile.dep
  pkg/libschc/Makefile.include
  pkg/libschc/doc.txt
  pkg/libschc/include/libschc/config.h
  pkg/libschc/include/rules/rule_config.h
  pkg/libschc/include/rules/rules.h
  pkg/libschc/include/schc_config.h
  tests/pkg_libschc/Makefile
  tests/pkg_libschc/Makefile.ci
  tests/pkg_libschc/main.c
  tests/pkg_libschc/tests/01-run.py
  tests/pkg_libschc/unittests.c
Labels: Area: doc, Area: tests, Type: new feature, Area: pkg, CI: ready for build, CI: run tests, Area: Kconfig

#19331 pkg/tinydtls: Adjust defaults
  pkg/tinydtls/Kconfig
  pkg/tinydtls/Makefile
  pkg/tinydtls/Makefile.include
  sys/include/net/dtls.h
Labels: Type: enhancement, Area: network, Area: pkg, CI: ready for build, Area: sys, Area: Kconfig

#19242 usbus/msc: add initial Mass Storage Class support
  dist/tools/doccheck/exclude_simple
  sys/Makefile.dep
  sys/include/usb/msc.h
  sys/include/usb/usbus/msc.h
  sys/include/usb/usbus/msc/scsi.h
  sys/usb/usbus/Kconfig
  sys/usb/usbus/Makefile
  sys/usb/usbus/msc/Kconfig
  sys/usb/usbus/msc/Makefile
  sys/usb/usbus/msc/msc.c
  sys/usb/usbus/msc/scsi.c
  tests/usbus_msc/Makefile
  tests/usbus_msc/README.md
  tests/usbus_msc/app.config.test
  tests/usbus_msc/main.c
Labels: Area: doc, Area: tests, CI: ready for build, Area: tools, Area: USB, Area: sys, Area: Kconfig

#19344 test/periph_rtc: reset struct tm time between tests
  tests/periph_rtc/main.c
  tests/periph_rtc/tests/01-run.py
Labels: Area: tests, CI: ready for build

#19347 pkg/fatfs: bump to r0.15
  pkg/fatfs/Makefile
  pkg/fatfs/patches/0001-remove-ffconf.h.patch
  pkg/fatfs/patches/0002-remove-diskio.c.patch
  pkg/fatfs/vendor/include/ffconf.h
Labels: Area: pkg, CI: ready for build

#19348 boards/remote-*: drop custom led_init()
  boards/firefly/board.c
  boards/remote-pa/board.c
  boards/remote-reva/board.c
  boards/remote-revb/board.c
Labels: Type: bug, CI: ready for build, Area: boards

#19234 Makefile.dep: pull in FEATURES_REQUIRED for periph
  makefiles/features_modules.inc.mk
Labels: Area: build system, CI: ready for build

#19351 tools/compile_like_murdock: Add features
  dist/tools/compile_test/compile_like_murdock.py
Labels: CI: ready for build, Area: tools

#19356 usbus/msc: add CONFIG_USBUS_MSC_AUTO_MTD option to create LUNs on init
  drivers/include/mtd_default.h
  sys/auto_init/usb/auto_init_usb.c
  sys/include/usb/usbus.h
  sys/include/usb/usbus/msc.h
  sys/usb/usbus/msc/Kconfig
  sys/usb/usbus/msc/msc.c
  tests/mtd_raw/main.c
  tests/usbus_msc/Makefile
  tests/usbus_msc/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: USB, Area: sys, Area: Kconfig

#17086 usbdev: Add dedicated stall functions
  cpu/nrf52/periph/usbdev.c
  cpu/sam0_common/periph/usbdev.c
  cpu/stm32/periph/usbdev_fs.c
  drivers/include/periph/usbdev.h
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
  sys/usb/usbus/usbus_control.c
Labels: Platform: ARM, Process: API change, Area: drivers, CI: ready for build, Area: cpu, Area: USB, Area: sys

#19302 pkg/wolfssl: Update wolfSSL to 5.5.4 and add DTLS 1.3 support
  examples/dtls-wolfssl/Makefile.ci
  pkg/wolfssl/Makefile
  pkg/wolfssl/Makefile.wolfcrypt
  pkg/wolfssl/include/user_settings.h
  pkg/wolfssl/patches/0001-Avoid-building-TLSX_SetResponse-unless-it-is-being-u.patch
  pkg/wolfssl/patches/0001-Fix-missing-include-necessary-to-use-gettimeofday-on.patch
  pkg/wolfssl/patches/0001-wolfssl-wolfcrypt-fix-signature-mismatch-to-compile-.patch
  tests/pkg_wolfcrypt-ed25519-verify/Makefile
  tests/pkg_wolfssl/Makefile.ci
  tests/pkg_wolfssl/tests/01-run.py
Labels: Area: tests, Area: pkg, CI: ready for build, Area: examples

#19362 sys/usbus: handle exceeding number of endpoints
  sys/usb/usbus/cdc/acm/cdc_acm.c
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
  sys/usb/usbus/hid/hid.c
  sys/usb/usbus/msc/msc.c
Labels: Type: bug, CI: ready for build, Area: USB, Area: sys

#19374 makefiles/boards/stm32: fix DFU_USB_ID handling
  makefiles/boards/stm32.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build

#19380 driver/usbdev_synopsys_dwc2: use correct number of EPs
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
Labels: Type: bug, Area: drivers, CI: ready for build

#19384 sam0/usbdev: partial revert of #17086
  cpu/sam0_common/periph/usbdev.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#19386 usbus/dfu: do not create alt interface if NUM_SLOTS=1
  sys/usb/usbus/dfu/dfu.c
Labels: CI: ready for build, Area: USB, Area: sys

#19388 drivers/usbdev_synopsys_dwc2: disable DMA mode
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
Labels: Type: bug, Area: drivers, CI: ready for build, CI: run tests

#19394 tests/rmutex: Drop output dump from README.md
  tests/rmutex/README.md
Labels: Type: bug, Area: doc, Area: tests, Impact: minor, CI: ready for build, CI: skip compile test

#19395 ztimer/ztimer64: uncrustify code
  sys/include/ztimer.h
  sys/include/ztimer/periodic.h
  sys/ztimer/convert.c
  sys/ztimer/convert_frac.c
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: timers, Area: sys, CI: skip compile test

#19381 cpu/esp_common: Add missing disconnect reasons
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19357 boards/adafruit-itsybitsy-m4: turn off APA102 LED on startup
  boards/adafruit-itsybitsy-m4/board.c
Labels: Type: enhancement, CI: ready for build, Area: boards

#19406 boards/nucleo64: Add pinout diagrams from UM1724
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
  boards/nucleo-f072rb/doc.txt
  boards/nucleo-f091rc/doc.txt
  boards/nucleo-f103rb/doc.txt
  boards/nucleo-f302r8/doc.txt
  boards/nucleo-f303re/doc.txt
  boards/nucleo-f334r8/doc.txt
  boards/nucleo-f401re/doc.txt
  boards/nucleo-f410rb/doc.txt
  boards/nucleo-f411re/doc.txt
  boards/nucleo-f446re/doc.txt
  boards/nucleo-l053r8/doc.txt
  boards/nucleo-l073rz/doc.txt
  boards/nucleo-l152re/doc.txt
  boards/nucleo-l476rg/doc.txt
  doc/doxygen/src/pinouts/nucleo-f030r8.svg
  doc/doxygen/src/pinouts/nucleo-f070rb.svg
  doc/doxygen/src/pinouts/nucleo-f072rb.svg
  doc/doxygen/src/pinouts/nucleo-f091rc.svg
  doc/doxygen/src/pinouts/nucleo-f103rb.svg
  doc/doxygen/src/pinouts/nucleo-f302r8.svg
  doc/doxygen/src/pinouts/nucleo-f303re.svg
  doc/doxygen/src/pinouts/nucleo-f334r8.svg
  doc/doxygen/src/pinouts/nucleo-f401re.svg
  doc/doxygen/src/pinouts/nucleo-f410rb.svg
  doc/doxygen/src/pinouts/nucleo-f411re.svg
  doc/doxygen/src/pinouts/nucleo-f446re.svg
  doc/doxygen/src/pinouts/nucleo-l053r8.svg
  doc/doxygen/src/pinouts/nucleo-l073rz.svg
  doc/doxygen/src/pinouts/nucleo-l152re.svg
  doc/doxygen/src/pinouts/nucleo-l476rg.svg
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#19409 dist/tools/openocd: fix problems with riotboot caused by _flash_addr function for OpenOCD v0.12
  dist/tools/openocd/openocd.sh
Labels: Type: bug, CI: ready for build, Area: tools, CI: skip compile test

#19408 boards/esp32: enable RGB LED support
  boards/esp32c3-devkit/doc.txt
  boards/esp32c3-devkit/include/board.h
  boards/esp32s2-devkit/doc.txt
  boards/esp32s2-devkit/include/board.h
  boards/esp32s2-devkit/include/periph_conf.h
  boards/esp32s3-devkit/doc.txt
  boards/esp32s3-devkit/include/board.h
Labels: Type: enhancement, Area: doc, CI: ready for build, Area: boards

#19410 boards/common/gd32v: improve openocd config
  boards/common/gd32v/dist/openocd.cfg
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#19400 sys/bitfield: don't touch unrelated bits in bf_{set, clear}_all()
  sys/bitfield/bitfield.c
  sys/include/bitfield.h
  tests/unittests/tests-bitfield/tests-bitfield.c
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: sys

#19407 cpu/stm32/periph: Implement GPIO LL for STM32F1 without IRQ support (yet)
  cpu/stm32/Makefile.features
  cpu/stm32/include/gpio_ll_arch.h
  cpu/stm32/include/periph/cpu_gpio_ll.h
  cpu/stm32/include/periph/f1/periph_cpu.h
  cpu/stm32/kconfigs/f1/Kconfig
  cpu/stm32/periph/gpio_ll.c
  cpu/stm32/periph/gpio_ll_irq.c
  tests/periph_gpio_ll/main.c
Labels: Platform: ARM, Area: tests, Type: new feature, CI: ready for build, Area: cpu, Area: Kconfig

#19414 drivers/at: fixed faulty event prio name
  drivers/at/Kconfig
  drivers/at/Makefile.include
  drivers/at/at.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build, Area: Kconfig

#19415 cpu/esp32: fix stdio_usb_serial_jtag for ESP32-C3
  cpu/esp32/stdio_usb_serial_jtag/usb_serial_jtag.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19412 cpu/stm32/periph: Add GPIO LL IRQ support for STM32F1
  cpu/stm32/Makefile.features
  cpu/stm32/kconfigs/f1/Kconfig
  cpu/stm32/periph/gpio_ll_irq.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, Area: Kconfig

#19420 cpu/esp32: use ets_printf instead of puts in startup
  cpu/esp32/startup.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19422 drivers/ws281x: improve timing for ESP32x
  drivers/ws281x/esp32.c
Labels: Type: enhancement, Area: drivers, CI: ready for build

#19370 Fix `compile_like_murdock.py` when board is empty
  .github/workflows/tools-test.yml
  dist/tools/compile_test/compile_like_murdock.py
  dist/tools/compile_test/tests/test.sh
Labels: CI: ready for build, Area: CI, Area: tools

#19369 sys/cpp11-compat: Remove xtimer deps
  sys/Makefile.dep
  sys/cpp11-compat/Kconfig
  sys/cpp11-compat/condition_variable.cpp
  sys/cpp11-compat/include/riot/chrono.hpp
  sys/cpp11-compat/include/riot/condition_variable.hpp
  sys/cpp11-compat/thread.cpp
  tests/cpp11_condition_variable/Makefile
  tests/cpp11_condition_variable/app.config.test
  tests/cpp11_condition_variable/main.cpp
  tests/cpp11_thread/Makefile
  tests/cpp11_thread/Makefile.ci
  tests/cpp11_thread/app.config.test
  tests/cpp11_thread/main.cpp
Labels: Area: tests, CI: ready for build, Area: sys, Area: Kconfig

#19424 drivers/ws281x: add RMT hardware support for ESP32x SoCs
  boards/common/esp32/include/periph_conf_common.h
  boards/common/esp32c3/include/periph_conf_common.h
  boards/common/esp32s2/include/periph_conf_common.h
  boards/common/esp32s3/include/periph_conf_common.h
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Kconfig.esp32c3
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Makefile.features
  cpu/esp32/esp-idf/Kconfig
  cpu/esp32/esp-idf/Makefile
  cpu/esp32/esp-idf/rmt/Kconfig
  cpu/esp32/esp-idf/rmt/Makefile
  cpu/esp32/include/irq_arch.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/irq_arch.c
  cpu/esp_common/freertos/ringbuf.c
  cpu/esp_common/include/freertos/ringbuf.h
  drivers/ws281x/Kconfig
  drivers/ws281x/Makefile.dep
  drivers/ws281x/esp32.c
  tests/driver_ws281x/Makefile
  tests/external_board_dirs/esp-ci-boards/esp32-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32-ci/esp32-ci.config
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32c3-ci/esp32c3-ci.config
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32s2-ci/esp32s2-ci.config
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/Makefile.dep
  tests/external_board_dirs/esp-ci-boards/esp32s3-ci/esp32s3-ci.config
Labels: Type: enhancement, Area: tests, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#19373 examples/suit_update: improve default module selection
  examples/suit_update/Makefile
  examples/suit_update/main.c
  sys/suit/handlers_global.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: OTA, Area: sys, Area: examples

#19417 boards/esp32c3-wemos-mini: add support for Wemos ESP32-C3 mini
  boards/esp32c3-wemos-mini/Kconfig
  boards/esp32c3-wemos-mini/Makefile
  boards/esp32c3-wemos-mini/Makefile.dep
  boards/esp32c3-wemos-mini/Makefile.features
  boards/esp32c3-wemos-mini/Makefile.include
  boards/esp32c3-wemos-mini/doc.txt
  boards/esp32c3-wemos-mini/esp32c3-wemos-mini.config
  boards/esp32c3-wemos-mini/include/arduino_board.h
  boards/esp32c3-wemos-mini/include/arduino_pinmap.h
  boards/esp32c3-wemos-mini/include/board.h
  boards/esp32c3-wemos-mini/include/gpio_params.h
  boards/esp32c3-wemos-mini/include/periph_conf.h
Labels: Area: doc, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig

#19437 boards: fix USB configuration for stm32f429i-disco
  boards/common/stm32/include/cfg_usb_otg_hs_phy_fs.h
  boards/stm32f429i-disc1/Kconfig
  boards/stm32f429i-disc1/Makefile.dep
  boards/stm32f429i-disc1/Makefile.features
  tests/usbus_cdc_ecm/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Area: boards, Area: Kconfig

#19438 usbus: Add support for full speed with high speed phy
  boards/common/stm32/include/cfg_usb_otg_hs_phy_fs.h
  boards/stm32f429i-disc1/Kconfig
  boards/stm32f429i-disc1/Makefile.dep
  boards/stm32f429i-disc1/Makefile.features
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
  sys/include/usb.h
  sys/include/usb/usbopt.h
  sys/include/usb/usbus.h
  sys/usb/usbus/cdc/ecm/cdc_ecm.c
  sys/usb/usbus/cdc/ecm/cdc_ecm_netdev.c
  sys/usb/usbus/usbus.c
  tests/usbus_cdc_ecm/Makefile
Labels: Type: bug, Type: enhancement, Area: tests, Area: drivers, CI: ready for build, Area: boards, Area: USB, Area: sys, Area: Kconfig
