Repository RIOT-OS/RIOT, pull requests merged in 2023-02, with the labels that each got.

#19228 doccheck: avoid generating dot or html
  dist/tools/doccheck/check.sh
  dist/tools/doccheck/exclude_patterns
  doc/doxygen/Makefile
Labels: Area: doc, CI: ready for build, Area: tools

#19230 tools/backport_pr: remove Unnecessary "else" after "raise"
  dist/tools/backport_pr/backport_pr.py
Labels: Impact: minor, CI: ready for build, Area: tools, CI: skip compile test, CI: high priority

#10462 drivers: add driver for ST VL6180X ranging and ambient light sensor
  drivers/Kconfig
  drivers/Makefile.dep
  drivers/include/vl6180x.h
  drivers/saul/init_devs/auto_init_vl6180x.c
  drivers/saul/init_devs/init.c
  drivers/vl6180x/Kconfig
  drivers/vl6180x/Makefile
  drivers/vl6180x/Makefile.dep
  drivers/vl6180x/Makefile.include
  drivers/vl6180x/include/vl6180x_params.h
  drivers/vl6180x/include/vl6180x_regs.h
  drivers/vl6180x/vl6180x.c
  drivers/vl6180x/vl6180x_saul.c
  tests/driver_vl6180x/Makefile
  tests/driver_vl6180x/README.md
  tests/driver_vl6180x/app.config.test
  tests/driver_vl6180x/main.c
  tests/saul_drivers/Makefile
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL, Area: Kconfig

#18863 boards/esp32s2-mini: add definition for ESP32 S2 Mini
  boards/common/makefiles/stdio_tinyusb_cdc_acm.dep.mk
  boards/esp32s2-wemos-mini/Kconfig
  boards/esp32s2-wemos-mini/Makefile
  boards/esp32s2-wemos-mini/Makefile.dep
  boards/esp32s2-wemos-mini/Makefile.features
  boards/esp32s2-wemos-mini/Makefile.include
  boards/esp32s2-wemos-mini/doc.txt
  boards/esp32s2-wemos-mini/esp32s2-wemos-mini.config
  boards/esp32s2-wemos-mini/include/board.h
  boards/esp32s2-wemos-mini/include/gpio_params.h
  boards/esp32s2-wemos-mini/include/periph_conf.h
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Makefile
  cpu/esp32/Makefile.dep
  cpu/esp32/include/sdkconfig_esp32s2.h
  cpu/esp32/usb_reset.c
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now64_continuity/Makefile
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#19233 tools/backport_pr: remove Unnecessary "else" after "raise" [backport 2023.01]
  dist/tools/backport_pr/backport_pr.py
Labels: Impact: minor, CI: ready for build, Area: tools, Process: release backport, CI: skip compile test

#18903 pkg/tinyusb: add tinyUSB netdev driver
  drivers/Kconfig.net
  drivers/include/net/netdev.h
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Kconfig.net
  pkg/tinyusb/Makefile
  pkg/tinyusb/Makefile.dep
  pkg/tinyusb/Makefile.include
  pkg/tinyusb/Makefile.lib_networking
  pkg/tinyusb/contrib/include/tinyusb.h
  pkg/tinyusb/contrib/include/tinyusb_descriptors.h
  pkg/tinyusb/contrib/include/tusb_config.h
  pkg/tinyusb/contrib/tinyusb_descriptors.c
  pkg/tinyusb/doc.txt
  pkg/tinyusb/netdev/Kconfig
  pkg/tinyusb/netdev/Makefile
  pkg/tinyusb/netdev/include/tinyusb_netdev.h
  pkg/tinyusb/netdev/tinyusb_netdev.c
  pkg/tinyusb/patches/0004-lib-networking-remove-include-of-lwIP-netif-ethernet.patch
  sys/net/gnrc/netif/init_devs/auto_init_tinyusb_netdev.c
  sys/net/gnrc/netif/init_devs/init.c
  tests/pkg_tinyusb_netdev/Makefile
  tests/pkg_tinyusb_netdev/Makefile.ci
  tests/pkg_tinyusb_netdev/README.md
  tests/pkg_tinyusb_netdev/main.c
Labels: Area: network, Area: doc, Area: tests, Type: new feature, Area: pkg, Area: drivers, CI: ready for build, Area: sys, Area: Kconfig

#19239 Doc: document generate-makefile.ci
  doc/doxygen/src/advanced-build-system-tricks.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#12509 black/white e-Paper/e-Ink display driver
  dist/tools/doccheck/generic_exclude_patterns
  drivers/epd_bw_spi/Makefile
  drivers/epd_bw_spi/Makefile.dep
  drivers/epd_bw_spi/Makefile.include
  drivers/epd_bw_spi/epd_bw_spi.c
  drivers/epd_bw_spi/epd_bw_spi_disp_dev.c
  drivers/epd_bw_spi/include/epd_bw_spi_internal.h
  drivers/epd_bw_spi/include/epd_bw_spi_params.h
  drivers/include/epd_bw_spi.h
  drivers/include/epd_bw_spi_disp_dev.h
  tests/driver_epd_bw_spi/Makefile
  tests/driver_epd_bw_spi/Makefile.ci
  tests/driver_epd_bw_spi/main.c
  tests/driver_epd_bw_spi/pictures.h
  tests/driver_epd_bw_spi_disp_dev/Makefile
  tests/driver_epd_bw_spi_disp_dev/Makefile.ci
  tests/driver_epd_bw_spi_disp_dev/main.c
  tests/driver_epd_bw_spi_disp_dev/pictures.h
Labels: Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: tools

#19244 Make: Add generate-Makefile.ci
  Makefile.include
  makefiles/info-global.inc.mk
  makefiles/info.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, CI: skip compile test

#19241 CI: .murdock: fix bors fast build
  .murdock
Labels: CI: ready for build, Area: CI

#19246 sys/stdio_rtt: move documentation to doc.txt
  sys/include/stdio_rtt.h
  sys/stdio_rtt/README.md
  sys/stdio_rtt/doc.txt
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build, Area: sys, CI: skip compile test

#19216 drivers/mtd_sdcard: add mtd_sdcard_default module
  boards/remote-revb/Kconfig
  boards/remote-revb/Makefile.dep
  boards/remote-revb/board.c
  boards/sensebox_samd21/Kconfig
  boards/sensebox_samd21/Makefile.dep
  boards/sensebox_samd21/Makefile.features
  boards/sensebox_samd21/board.c
  boards/sensebox_samd21/include/board.h
  boards/sipeed-longan-nano/Kconfig
  boards/sipeed-longan-nano/Makefile.dep
  boards/sipeed-longan-nano/Makefile.features
  boards/waspmote-pro/Kconfig
  boards/waspmote-pro/Makefile.dep
  boards/waspmote-pro/board.c
  boards/waveshare-nrf52840-eval-kit/Kconfig
  boards/waveshare-nrf52840-eval-kit/Makefile.dep
  boards/waveshare-nrf52840-eval-kit/Makefile.features
  boards/waveshare-nrf52840-eval-kit/board.c
  drivers/mtd/Kconfig
  drivers/mtd/Makefile.dep
  drivers/mtd_sdcard/Kconfig
  drivers/mtd_sdcard/Makefile.include
  drivers/mtd_sdcard/mtd_sdcard.c
  sys/include/vfs_default.h
  tests/nanocoap_cli/Makefile
Labels: Area: tests, Type: cleanup, Area: drivers, CI: ready for build, Area: boards, Area: sys, Area: Kconfig, CI: no fast fail

#19088 boards: add esp32s3-pros3 support
  boards/common/makefiles/stdio_tinyusb_cdc_acm.dep.mk
  boards/esp32s3-pros3/Kconfig
  boards/esp32s3-pros3/Makefile
  boards/esp32s3-pros3/Makefile.dep
  boards/esp32s3-pros3/Makefile.features
  boards/esp32s3-pros3/Makefile.include
  boards/esp32s3-pros3/doc.txt
  boards/esp32s3-pros3/include/arduino_board.h
  boards/esp32s3-pros3/include/arduino_pinmap.h
  boards/esp32s3-pros3/include/board.h
  boards/esp32s3-pros3/include/gpio_params.h
  boards/esp32s3-pros3/include/periph_conf.h
  cpu/esp32/doc_esp32s3.txt
  sys/usb_board_reset/Kconfig
Labels: Area: doc, Area: build system, Type: new feature, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: sys, Area: Kconfig

#19249 boards/gd32v: improve board definitions
  boards/common/gd32v/include/cfg_i2c_default.h
  boards/common/gd32v/include/cfg_spi_default.h
  boards/seeedstudio-gd32/doc.txt
  boards/seeedstudio-gd32/include/periph_conf.h
  boards/sipeed-longan-nano/Kconfig
  boards/sipeed-longan-nano/doc.txt
  boards/sipeed-longan-nano/include/periph_conf.h
  cpu/gd32v/periph/spi.c
Labels: Type: enhancement, Area: doc, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#19257 pkg/lvgl: bump to 8.3.5
  pkg/lvgl/Makefile
Labels: Impact: minor, Area: pkg, CI: ready for build

#19252 mtd: add fast path to mtd_write_page()
  drivers/mtd/mtd.c
Labels: Type: enhancement, Impact: minor, Area: drivers, CI: ready for build

#19262 boards/common/blxxxpill: Fix mixup in pinout
  boards/common/blxxxpill/doc/pinout-bluepill.csv
  doc/doxygen/src/pinouts/pinout-bluepill.svg
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#19261 tests/{sys_fido2_ctap/usbus_board_reset}: fix stdio_usb_serial_jtag dependency
  boards/esp32s2-wemos-mini/Kconfig
  boards/esp32s2-wemos-mini/esp32s2-wemos-mini.config
  boards/esp32s3-pros3/Kconfig
  boards/esp32s3-pros3/Makefile.dep
  tests/sys_fido2_ctap/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Area: boards, Area: Kconfig

#19263 cpu/stm32/periph/timer: don't stop counter
  cpu/stm32/periph/timer.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#19259 boards/stm32f4discovery: default to stdio via CDC ACM
  boards/stm32f4discovery/Kconfig
  boards/stm32f4discovery/Makefile.dep
  boards/stm32f4discovery/Makefile.features
  boards/stm32f4discovery/doc.txt
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now64_continuity/Makefile
Labels: Type: enhancement, Area: doc, Area: tests, CI: ready for build, Area: boards, Area: Kconfig

#18758 sys/event: add event sources
  sys/include/event/source.h
  tests/event_source/Makefile
  tests/event_source/Makefile.ci
  tests/event_source/main.c
  tests/event_source/tests/01-run.py
Labels: Area: tests, CI: ready for build, Area: sys

#18257 drivers/wdt: add periph_wdt_auto_start for early watchdog
  drivers/Makefile.dep
  drivers/include/periph/wdt.h
  drivers/periph_common/init.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/auto_init/Makefile
  sys/auto_init/include/auto_init_priorities.h
  sys/auto_init/wdt_event/Makefile
  sys/auto_init/wdt_event/wdt.c
  sys/auto_init/wdt_thread/Makefile
  sys/auto_init/wdt_thread/wdt.c
Labels: Area: build system, Area: drivers, CI: ready for build, Area: sys

#19272 gcoap: Do not send responses from multicast addresses
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#19274 CI: .murdock: use build checkout for ccache tmp
  .murdock
Labels: CI: ready for build, Area: CI

#19280 sys/shell/cmds: fix typo 'shell_cmd_grnc_udp'
  makefiles/deprecated_modules.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, CI: skip compile test

#19258 drivers/mtd_flashpage: implement pagewise API, don't use raw addresses
  drivers/include/mtd_flashpage.h
  drivers/mtd/mtd.c
  drivers/mtd_flashpage/mtd_flashpage.c
  tests/mtd_flashpage/Makefile
  tests/mtd_flashpage/app.config.test
  tests/mtd_flashpage/main.c
Labels: Area: tests, Process: API change, Area: drivers, CI: ready for build

#19282 pkg/nanors: bump version
  pkg/nanors/Makefile
Labels: Impact: minor, Area: pkg, CI: ready for build

#19281 drivers/at24cxxx: merge mtd driver with at24cxxx.c
  drivers/at24cxxx/Makefile
  drivers/at24cxxx/Makefile.include
  drivers/at24cxxx/at24cxxx.c
  drivers/at24cxxx/mtd/Makefile
  drivers/at24cxxx/mtd/mtd.c
  drivers/include/at24cxxx.h
Labels: Type: cleanup, Area: drivers, CI: ready for build

#19027 sys/fmt: optimize scn_u32_dec scn_u32_hex
  sys/fmt/fmt.c
Labels: CI: ready for build, Area: sys, CI: low priority

#19269 cpu/gd32v/periph_i2c: interrupt based driver
  cpu/gd32v/Kconfig
  cpu/gd32v/Makefile.dep
  cpu/gd32v/include/periph_cpu.h
  cpu/gd32v/periph/i2c.c
Labels: Type: enhancement, CI: ready for build, Area: cpu, Area: Kconfig

#19287 boards/esp32s2-lilygo-ttgo-t8: fix STDIO selection in Kconfig
  boards/esp32s2-lilygo-ttgo-t8/Kconfig
  boards/esp32s2-lilygo-ttgo-t8/doc.txt
Labels: Type: bug, Area: doc, CI: ready for build, Area: boards, Platform: ESP, Area: Kconfig

#19285 pkg/u8g2: bump version
  pkg/u8g2/Makefile
  pkg/u8g2/Makefile.include
Labels: Area: pkg, CI: ready for build

#19142 sock_dtls: move common code into sock_dtls_establish_session()
  sys/include/net/nanocoap_sock.h
  sys/include/net/sock/util.h
  sys/net/application_layer/nanocoap/sock.c
  sys/net/application_layer/sock_dodtls/sock_dodtls.c
  sys/net/sock/sock_util.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#19288 rust: Update riot-sys and riot-wrappers
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Impact: minor, CI: ready for build, CI: run tests, Area: Rust

#19291 dist/tools/insufficient_memory: Improve and clean up script
  dist/tools/insufficient_memory/add_insufficient_memory_board.sh
Labels: CI: ready for build, Area: tools, CI: skip compile test

#19256 pkg/tinyusb: add GD32VF103 support
  boards/common/gd32v/include/cfg_usbdev_default.h
  boards/common/gd32v/include/periph_common_conf.h
  boards/seeedstudio-gd32/Kconfig
  boards/seeedstudio-gd32/Makefile.dep
  boards/seeedstudio-gd32/Makefile.features
  boards/seeedstudio-gd32/Makefile.include
  boards/seeedstudio-gd32/include/periph_conf.h
  boards/sipeed-longan-nano/Kconfig
  boards/sipeed-longan-nano/Makefile.dep
  boards/sipeed-longan-nano/Makefile.features
  boards/sipeed-longan-nano/Makefile.include
  boards/sipeed-longan-nano/include/periph_conf.h
  cpu/gd32v/include/vendor/usbdev_gd32v.h
  drivers/include/usbdev_synopsys_dwc2.h
  drivers/periph_common/Kconfig.usbdev
  examples/gcoap_dtls/Makefile.ci
  examples/rust-gcoap/Makefile.ci
  pkg/tinyusb/Kconfig
  pkg/tinyusb/Makefile.dep
  pkg/tinyusb/Makefile.include
  pkg/tinyusb/hw/hw_gd32v.c
  tests/gcoap_dns/Makefile.ci
  tests/gcoap_fileserver/Makefile.ci
  tests/nanocoap_cli/Makefile.ci
  tests/pkg_cryptoauthlib_internal-tests/Makefile.ci
  tests/pkg_lvgl/Makefile.ci
  tests/pkg_lz4/Makefile.ci
  tests/pkg_wolfssl/Makefile.ci
  tests/xtimer_now32_overflow/Makefile
  tests/xtimer_now64_continuity/Makefile
Labels: Area: tests, Type: new feature, Area: pkg, Area: drivers, CI: ready for build, Area: boards, Area: cpu, Area: examples, Area: Kconfig, CI: no fast fail

#18392 drivers/servo: reimplement with high level interface
  drivers/include/servo.h
  drivers/saul/init_devs/auto_init_servo.c
  drivers/saul/init_devs/init.c
  drivers/servo/Kconfig
  drivers/servo/Makefile
  drivers/servo/Makefile.dep
  drivers/servo/Makefile.include
  drivers/servo/include/servo_params.h
  drivers/servo/pwm.c
  drivers/servo/saul.c
  drivers/servo/servo.c
  drivers/servo/timer.c
  makefiles/pseudomodules.inc.mk
  tests/driver_servo/Makefile
  tests/driver_servo/Makefile.ci
  tests/driver_servo/app.config.test
  tests/driver_servo/main.c
Labels: Area: tests, Area: build system, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL, Area: Kconfig

#19293 boards/seeedstudio-gd32: add mtd_sdcard_default
  boards/seeedstudio-gd32/Kconfig
  boards/seeedstudio-gd32/Makefile.dep
  boards/seeedstudio-gd32/Makefile.features
Labels: Type: cleanup, CI: ready for build, Area: boards, Area: Kconfig

#19297 tests/rmutex: clean up test and reduce stack size
  tests/rmutex/Makefile.ci
  tests/rmutex/README.md
  tests/rmutex/main.c
Labels: Area: doc, Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#13943 RDM: The 802.15.4 Radio HAL
  doc/memos/README.md
  doc/memos/rdm0002.md
Labels: Area: doc, Type: new feature, Discussion: RFC, CI: ready for build, Process: needs >1 ACK, Area: RDM, CI: skip compile test

#19304 matrix_keypad: Move documentation to doxygen group
  drivers/include/matrix_keypad.h
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build, CI: skip compile test

#19312 SUBSYSTEMS.md: add myself to the list
  SUBSYSTEMS.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#19309 ci/print_versions: print all ESP32 toolchains
  dist/tools/ci/print_toolchain_versions.sh
Labels: CI: ready for build, Area: tools, CI: skip compile test

#19318 efm32/dac: Shift instead of masking
  cpu/efm32/periph/dac.c
Labels: Type: bug, Area: drivers, CI: ready for build, Area: cpu

#18682 pkg/lwext4: add lightweight implementation of the ext2/3/4 filesystem
  Makefile.dep
  boards/native/Makefile.dep
  boards/native/board_init.c
  boards/native/include/board.h
  boards/same54-xpro/Makefile.dep
  boards/same54-xpro/board.c
  makefiles/pseudomodules.inc.mk
  pkg/lwext4/Makefile
  pkg/lwext4/Makefile.dep
  pkg/lwext4/Makefile.include
  pkg/lwext4/doc.txt
  pkg/lwext4/fs/Makefile
  pkg/lwext4/fs/lwext4_fs.c
  pkg/lwext4/patches/0001-make-struct-ext4_mountpoint-public.patch
  sys/include/fs/lwext4_fs.h
  sys/include/vfs.h
  sys/include/vfs_default.h
  sys/vfs/vfs.c
Labels: Platform: native, Area: doc, Area: build system, Area: pkg, CI: ready for build, Area: boards, Area: sys

#19323 SUBSYSTEMS.md: Adding myself to the relevant parts
  SUBSYSTEMS.md
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#19326 sys/doc.txt: add sys_compression doxygen group
  pkg/heatshrink/doc.txt
  pkg/lz4/doc.txt
  pkg/uzlib/doc.txt
  sys/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#19247 pkg/tinydtls: drop libc_gettimeofday dependency
  pkg/tinydtls/Makefile
  pkg/tinydtls/Makefile.dep
Labels: Area: pkg, CI: ready for build

#19320 sys/vfs: add force option to vfs_umount()
  sys/include/vfs.h
  sys/shell/cmds/vfs.c
  sys/vfs/vfs.c
  tests/devfs/main.c
  tests/pkg_fatfs_vfs/main.c
  tests/pkg_littlefs/main.c
  tests/pkg_littlefs2/main.c
  tests/pkg_spiffs/main.c
  tests/pkg_tinyvcdiff/main.c
  tests/unittests/tests-vfs/tests-vfs-dir-ops.c
  tests/unittests/tests-vfs/tests-vfs-file-ops.c
  tests/unittests/tests-vfs/tests-vfs-file-system-ops.c
  tests/unittests/tests-vfs/tests-vfs-mount-constfs.c
  tests/vfs_iterate_mount/main.c
Labels: Area: tests, CI: ready for build, Area: sys

#19336 SUBSYSTEMS.md: add myself to relevant parts
  SUBSYSTEMS.md
Labels: Area: doc, CI: ready for build, CI: skip compile test
