Repository RIOT-OS/RIOT, pull requests merged in 2023-09, with the labels that each got.

#19908 drivers/mtd_spi_nor: fix init when only ztimer_msec is used
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Type: bug, Area: drivers, CI: ready for build

#19851 boards/stm32f769i-disco: enable FMC with SDRAM support
  boards/stm32f746g-disco/Makefile.include
  boards/stm32f746g-disco/doc.txt
  boards/stm32f746g-disco/include/periph_conf.h
  boards/stm32f769i-disco/Kconfig
  boards/stm32f769i-disco/Makefile.dep
  boards/stm32f769i-disco/Makefile.features
  boards/stm32f769i-disco/Makefile.include
  boards/stm32f769i-disco/include/periph_conf.h
  tests/periph/fmc/main.c
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig

#19910 boards/stm32f469i-disco: enable FMC with SDRAM support
  boards/stm32f469i-disco/Kconfig
  boards/stm32f469i-disco/Makefile.dep
  boards/stm32f469i-disco/Makefile.features
  boards/stm32f469i-disco/Makefile.include
  boards/stm32f469i-disco/doc.txt
  boards/stm32f469i-disco/include/periph_conf.h
Labels: Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#19825 drivers: rename st7735 to more generic st77xx
  boards/adafruit-pybadge/board.c
  boards/adafruit-pybadge/include/board.h
  boards/esp32s2-lilygo-ttgo-t8/Makefile.dep
  boards/esp32s2-lilygo-ttgo-t8/board.c
  boards/esp32s2-lilygo-ttgo-t8/include/board.h
  boards/esp32s3-usb-otg/Makefile.dep
  boards/esp32s3-usb-otg/board.c
  boards/esp32s3-usb-otg/include/board.h
  boards/sipeed-longan-nano/include/board.h
  drivers/Kconfig
  drivers/Makefile.dep
  drivers/include/lcd.h
  drivers/include/st7735.h
  drivers/include/st77xx.h
  drivers/lcd/Kconfig
  drivers/lcd/Makefile.include
  drivers/lcd/include/lcd_internal.h
  drivers/st7735/Kconfig
  drivers/st7735/Makefile.dep
  drivers/st7735/Makefile.include
  drivers/st7735/include/st7735_internal.h
  drivers/st7735/include/st7735_params.h
  drivers/st77xx/Kconfig
  drivers/st77xx/Kconfig.st7735
  drivers/st77xx/Kconfig.st7789
  drivers/st77xx/Kconfig.st7796
  drivers/st77xx/Makefile
  drivers/st77xx/Makefile.dep
  drivers/st77xx/Makefile.include
  drivers/st77xx/include/st7735.h
  drivers/st77xx/include/st7735_params.h
  drivers/st77xx/include/st77xx_internal.h
  drivers/st77xx/include/st77xx_params.h
  drivers/st77xx/st77xx.c
  sys/auto_init/screen/auto_init_st77xx.c
  sys/auto_init/screen/init.c
  tests/drivers/st77xx/Kconfig
  tests/drivers/st77xx/Makefile
  tests/drivers/st77xx/Makefile.ci
  tests/drivers/st77xx/app.config.test
  tests/drivers/st77xx/main.c
Labels: Type: bug, Area: tests, Type: cleanup, Area: drivers, CI: ready for build, Area: boards, Area: sys, Area: Kconfig

#19827 drivers/st77xx: implement initialization
  drivers/include/st77xx.h
  drivers/lcd/include/lcd_internal.h
  drivers/lcd/lcd.c
  drivers/st77xx/Kconfig.st7735
  drivers/st77xx/Kconfig.st7789
  drivers/st77xx/Kconfig.st7796
  drivers/st77xx/Makefile
  drivers/st77xx/include/st7735_internal.h
  drivers/st77xx/include/st7789_internal.h
  drivers/st77xx/include/st7796_internal.h
  drivers/st77xx/include/st77xx_internal.h
  drivers/st77xx/st7735_init.c
  drivers/st77xx/st7789_init.c
  drivers/st77xx/st7796_init.c
  drivers/st77xx/st77xx.c
Labels: Type: bug, Type: enhancement, Area: drivers, CI: ready for build

#19899 drivers/sdmmc: store SDMMC device descriptor references in XFA
  drivers/include/sdmmc/sdmmc.h
  drivers/sdmmc/sdmmc.c
Labels: Type: enhancement, Area: drivers, CI: ready for build

#19920 gnrc_ipv6_nib: disable router advertisements on interface startup
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/routing/rpl/gnrc_rpl.c
Labels: Type: bug, Area: network, Process: API change, CI: ready for build, Area: sys

#19921 dist/tools/pyterm: set exclusive access on port
  dist/tools/pyterm/pyterm
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#19922 boards/msb-430: Fix periph config & improve doc
  boards/msb-430/Kconfig
  boards/msb-430/Makefile.features
  boards/msb-430/doc.txt
  boards/msb-430/include/periph_conf.h
Labels: Type: bug, Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#19933 examples/gcoap: add saml11-xpro to CI boards with insufficient memory
  examples/gcoap/Makefile.ci
Labels: Type: enhancement, CI: ready for build, Area: examples

#19927 sys/shell/ping: fix ping packet size overflow
  examples/gcoap/Makefile.ci
  sys/net/gnrc/network_layer/icmpv6/echo/gnrc_icmpv6_echo.c
  sys/shell/cmds/gnrc_icmpv6_echo.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys, Area: examples

#19938 boards/stm32l496g-disco: enable ST7789 display and touch panel
  boards/stm32l496g-disco/Kconfig
  boards/stm32l496g-disco/Makefile.dep
  boards/stm32l496g-disco/board.c
  boards/stm32l496g-disco/include/board.h
  tests/drivers/st77xx/Makefile
Labels: Area: tests, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig, CI: ready for merge train 🚃

#19939 boards/stm32f723e-disco: enable ST7789 display
  boards/stm32f723e-disco/Kconfig
  boards/stm32f723e-disco/Makefile.dep
  boards/stm32f723e-disco/board.c
  boards/stm32f723e-disco/include/board.h
  boards/stm32l496g-disco/include/board.h
  tests/drivers/st77xx/Makefile
Labels: Area: tests, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig

#19942 pkg/littlefs2: bump to v2.8
  pkg/littlefs2/Makefile
Labels: Area: pkg, CI: ready for build

#19945 boards/esp32-wt32-sc01-plus: fix I2C driver selection in Kconfig
  boards/esp32s3-wt32-sc01-plus/Kconfig
Labels: Type: bug, CI: ready for build, Area: boards, Area: Kconfig

#19780 lwip: bump to v2.2.0
  pkg/lwip/Makefile
  pkg/lwip/patches/0001-netconn-add-callback-arg-storage.patch
Labels: Type: enhancement, Area: network, Area: pkg, CI: ready for build, CI: run tests

#19950 .github/test-on-iotlab: prefer Toulouse site for dwm1001 board
  .github/workflows/test-on-iotlab.yml
Labels: CI: ready for build, Area: CI, CI: skip compile test

#19949 tests/pkg/lwip: Add README.md
  tests/pkg/lwip/README.md
Labels: Type: enhancement, Area: doc, Area: tests, CI: ready for build, CI: skip compile test

#19948 doc: fix references and inches unit
  boards/adafruit-grand-central-m4-express/doc.txt
  boards/adafruit-itsybitsy-m4/doc.txt
  boards/adafruit-itsybitsy-nrf52/doc.txt
  boards/airfy-beacon/doc.txt
  boards/arduino-mega2560/doc.txt
  boards/cc2538dk/doc.txt
  boards/cc2650stk/doc.txt
  boards/common/slwstk6000b/doc.txt
  boards/derfmega128/doc.txt
  boards/esp32-heltec-lora32-v2/doc.txt
  boards/esp32-mh-et-live-minikit/doc.txt
  boards/esp32-wemos-lolin-d32-pro/doc.txt
  boards/esp32-wroom-32/doc.txt
  boards/esp32-wrover-kit/doc.txt
  boards/esp32-wrover-kit/include/board.h
  boards/esp32-wrover-kit/include/periph_conf.h
  boards/esp32c3-wemos-mini/doc.txt
  boards/esp32s2-lilygo-ttgo-t8/doc.txt
  boards/esp32s3-box/doc.txt
  boards/esp32s3-pros3/doc.txt
  boards/esp32s3-usb-otg/doc.txt
  boards/esp32s3-wt32-sc01-plus/doc.txt
  boards/esp32s3-wt32-sc01-plus/include/board.h
  boards/esp8266-esp-12x/doc.txt
  boards/esp8266-sparkfun-thing/doc.txt
  boards/ikea-tradfri/doc.txt
  boards/iotlab-m3/doc.txt
  boards/mulle/doc.txt
  boards/native/doc.txt
  boards/nrf51dongle/doc.txt
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
  boards/nucleo-f446re/doc.txt
  boards/openmote-cc2538/doc.txt
  boards/sipeed-longan-nano-tft/doc.txt
  boards/sipeed-longan-nano/doc.txt
  boards/slstk3701a/doc.txt
  boards/sltb009a/doc.txt
  boards/spark-core/doc.txt
  boards/stm32f3discovery/doc.txt
  boards/stm32f746g-disco/doc.txt
  boards/stm32f7508-dk/doc.txt
  boards/stm32l0538-disco/doc.txt
  boards/stm32mp157c-dk2/doc.txt
  boards/waveshare-nrf52840-eval-kit/doc.txt
  cpu/esp32/doc.txt
  cpu/stm32/include/periph/cpu_fmc.h
  drivers/sht3x/doc.txt
Labels: Platform: native, Platform: ARM, Area: doc, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, CI: skip compile test

#19953 boards/esp32s3-wt32-sc01-plus: fix Kconfig
  boards/esp32s3-wt32-sc01-plus/Kconfig
Labels: Type: bug, CI: ready for build, Area: boards, Area: Kconfig

#19959 pkg/driver_cryptocell_310: Fix Makefile
  pkg/c25519/Makefile
  pkg/driver_cryptocell_310/Makefile
Labels: Area: build system, Area: pkg, Type: cleanup, CI: ready for build

#19960 dist/tools/jlink: fix DBG_PID assignment
  dist/tools/jlink/jlink.sh
Labels: CI: ready for build, Area: tools, CI: skip compile test

#19961 ztimer_periodic: fix example in documentation
  sys/include/ztimer/periodic.h
Labels: Type: bug, Impact: minor, CI: ready for build, Area: timers, Area: sys, CI: skip compile test
