Repository RIOT-OS/RIOT, pull requests merged in 2023-04, with the labels that each got.

#19441 pkg/semtech-loramac: fix makefile highlighting in documentation
  pkg/semtech-loramac/doc.txt
Labels: Area: doc, Impact: minor, Area: pkg, Type: cleanup, CI: ready for build, Area: LoRa

#19442 pkg/lvgl: bump to v8.3.6
  pkg/lvgl/Makefile
Labels: Impact: minor, Area: pkg, CI: ready for build

#19431 cpu/stm32: Fix periph_spi operation in non-DMA mode
  cpu/stm32/periph/spi.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#19451 makefiles/tools/serial.inc.mk: Handle new miniterm versions [backport 2023.01]
  makefiles/tools/serial.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Area: tools, Process: release backport

#19446 cpu/stm32: Fix periph_gpio_ll_irq
  cpu/stm32/periph/gpio_ll_irq.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#19453 README.md: Remove HiL Badge
  README.md
Labels: Area: doc, CI: ready for build

#19455 usbus/msc: fixes for synopsys dwc2 driver
  sys/usb/usbus/msc/msc.c
Labels: Type: bug, CI: ready for build, Process: needs backport, Area: USB, Area: sys

#19458 sys/usbus/msc: fix EP sizes for USB HS and buffer alignment in DMA-mode
  sys/include/usb/usbus/msc.h
  sys/usb/usbus/msc/msc.c
Labels: Type: bug, CI: ready for build, Process: needs backport, Area: USB, Area: sys

#19454 cpu/stm32/periph_gpio_ll: Fix misleading comments
  cpu/stm32/periph/gpio_ll.c
  cpu/stm32/periph/gpio_ll_irq.c
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu, CI: skip compile test

#19460 cpu/stm32/usbdev_fs: fix ep registration and EP_REG assignments
  cpu/stm32/periph/usbdev_fs.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#17090 usbus: Add support for endpoint halt condition
  sys/include/usb/descriptor.h
  sys/include/usb/usbus.h
  sys/usb/usbus/usbus.c
  sys/usb/usbus/usbus_control.c
Labels: Type: new feature, CI: ready for build, Area: USB, Area: sys

#19459 drivers/usbus_synopsys_dwc2: fix interrupt handling in DMA mode
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: needs backport

#19443 drivers: add support for MTDs emulated in RAM
  drivers/include/mtd.h
  drivers/include/mtd_default.h
  drivers/include/mtd_emulated.h
  drivers/mtd/Kconfig
  drivers/mtd_emulated/Makefile
  drivers/mtd_emulated/mtd_emulated.c
  tests/pkg_littlefs/Makefile
  tests/pkg_littlefs/Makefile.ci
  tests/pkg_littlefs/main.c
  tests/pkg_littlefs2/Makefile
  tests/pkg_littlefs2/app.config.test
  tests/pkg_littlefs2/main.c
  tests/pkg_spiffs/Makefile
  tests/pkg_spiffs/main.c
  tests/unittests/tests-mtd/Makefile.include
  tests/unittests/tests-mtd/tests-mtd.c
  tests/usbus_msc/Makefile
  tests/usbus_msc/README.md
  tests/usbus_msc/main.c
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: Kconfig

#19466 sys/shell: fix missing generic lora settings in ifconfig
  drivers/sx126x/Kconfig
  drivers/sx126x/Makefile.dep
  sys/shell/cmds/gnrc_netif.c
  tests/Makefile.boards.netif
Labels: Type: bug, Area: tests, Area: drivers, CI: ready for build, Area: LoRa, Area: sys, Area: Kconfig

#19467 drivers/at86rf2xx: fix default page being ignored
  drivers/at86rf2xx/at86rf2xx.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: needs backport

#19468 drivers/at86rf2xx: fix default page being ignored [backport 2023.01]
  drivers/at86rf2xx/at86rf2xx.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: release backport

#19462 cpu/stm32/usbdev_fs: fix ep registration and EP_REG assignments [backport 2023.04]
  cpu/stm32/periph/usbdev_fs.c
Labels: Platform: ARM, CI: ready for build, Process: release backport, Area: cpu

#19456 usbus/msc: fixes for synopsys dwc2 [backport 2023.04]
  sys/usb/usbus/msc/msc.c
Labels: Type: bug, CI: ready for build, Process: release backport, Area: USB, Area: sys

#19471 drivers/periph_usbdev: fix set device address
  drivers/include/periph/usbdev.h
  drivers/include/usbdev_synopsys_dwc2.h
  sys/usb/usbus/usbus_control.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: needs backport, Area: USB, Area: sys

#19389 drivers/usbdev_synopsys_dwc2: add GD32V support
  boards/common/gd32v/Makefile.dep
  boards/seeedstudio-gd32/Kconfig
  boards/seeedstudio-gd32/Makefile.dep
  boards/seeedstudio-gd32/Makefile.features
  boards/sipeed-longan-nano/Kconfig
  boards/sipeed-longan-nano/Makefile.dep
  boards/sipeed-longan-nano/Makefile.features
  cpu/efm32/include/vendor/usbdev_efm32.h
  cpu/esp32/include/periph_cpu_esp32s2.h
  cpu/esp32/include/periph_cpu_esp32s3.h
  cpu/gd32v/Kconfig
  cpu/gd32v/Makefile.dep
  cpu/gd32v/include/periph_cpu.h
  cpu/gd32v/include/vendor/usbdev_gd32v.h
  cpu/stm32/include/usbdev_stm32.h
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
  tests/usbus_cdc_ecm/Makefile
Labels: Type: enhancement, Platform: ARM, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#19475 gnrc_netif/lorawan: fix setting nwkskey via NETOPT
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Type: bug, Impact: minor, CI: ready for build, Process: needs backport, Area: LoRa

#19447 boards/nucleo-f429zi: Provide 2nd timer
  boards/common/stm32/include/cfg_timer_tim5_and_tim2.h
  boards/nucleo-f429zi/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#19436 cpp11-compat: thread::sleep_for in microseconds
  sys/cpp11-compat/include/riot/thread.hpp
  sys/cpp11-compat/thread.cpp
Labels: CI: ready for build, Area: sys

#19472 drivers/usbus_synopsys_dwc2: fix interrupt handling in DMA mode [backport 2023.04]
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: release backport

#19473 drivers/at86rf2xx: fix default page being ignored [backport 2023.04]
  drivers/at86rf2xx/at86rf2xx.c
Labels: Type: bug, Area: drivers, CI: ready for build, Process: release backport

#19479 gnrc_netif/lorawan: fix setting nwkskey via NETOPT [backport 2023.04]
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Process: release backport, Area: sys

#19411 cpu/gd32v: add riotboot support
  boards/common/gd32v/Makefile.features
  boards/seeedstudio-gd32/Kconfig
  boards/sipeed-longan-nano/Kconfig
  cpu/cortexm_common/Makefile.include
  cpu/fe310/include/cpu.h
  cpu/gd32v/Makefile.include
  cpu/gd32v/clock.c
  cpu/gd32v/include/cpu.h
  cpu/riscv_common/Makefile.include
  cpu/riscv_common/include/cpu_common.h
  cpu/riscv_common/ldscripts/riscv.ld
  examples/suit_update/Makefile.ci
  sys/Makefile.include
  sys/riotboot/Makefile.include
  sys/riotboot/slot.c
  tests/riotboot_flashwrite/Makefile.ci
Labels: Platform: ARM, Area: tests, Type: new feature, CI: ready for build, Area: boards, Platform: RISC-V, Area: cpu, Area: sys, Area: examples, Area: Kconfig

#19489 makefiles/tools/serial.inc.mk: Handle new miniterm versions [backport 2023.04]
  makefiles/tools/serial.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Area: tools, Process: release backport

#19488 usbus: remove deprecated USBUS_HANDLER_FLAG_TR_FAIL flag
  sys/include/usb/usbus.h
  sys/usb/usbus/usbus.c
Labels: CI: ready for build, Area: USB, Area: sys, Process: removal

#19485 sys/shell: Fix missing dependency
  examples/asymcute_mqttsn/Makefile
  examples/benchmark_udp/Makefile
  examples/ccn-lite-relay/Makefile
  examples/gnrc_networking_mac/Makefile
  examples/gnrc_networking_subnets/Makefile
  examples/ndn-ping/Makefile
  examples/paho-mqtt/Makefile
  examples/posix_sockets/Makefile
  examples/saul/Makefile
  sys/Makefile.dep
  sys/shell/Makefile.dep
  tests/can_trx/Makefile
  tests/congure_reno/Makefile
  tests/congure_test/Makefile
  tests/conn_can/Makefile
  tests/cpu_cortexm_address_check/Makefile
  tests/driver_at30tse75x/Makefile
  tests/driver_ata8520e/Makefile
  tests/driver_bq2429x/Makefile
  tests/driver_cc110x/Makefile
  tests/driver_dfplayer/Makefile
  tests/driver_lis2dh12/Makefile
  tests/driver_motor_driver/Makefile
  tests/driver_netdev_common/Makefile.netdev.mk
  tests/driver_nrf24l01p_lowlevel/Makefile
  tests/driver_nrf24l01p_ng/Makefile
  tests/driver_nrfmin/Makefile
  tests/driver_rn2xx3/Makefile
  tests/driver_servo/Makefile
  tests/driver_sht1x/Makefile
  tests/driver_sx126x/Makefile
  tests/driver_sx127x/Makefile
  tests/driver_sx1280/Makefile
  tests/memarray/Makefile
  tests/nimble_statconn_gnrc/Makefile
  tests/nimble_statconn_gnrc_ext/Makefile
  tests/periph_eeprom/Makefile
  tests/periph_gpio/Makefile
  tests/periph_i2c/Makefile
  tests/periph_pm/Makefile
  tests/periph_spi/Makefile
  tests/pkg_edhoc_c/Makefile
  tests/pkg_openwsn/Makefile
  tests/pkg_semtech-loramac/Makefile
  tests/pkg_tinydtls_sock_async/Makefile
  tests/riotboot/Makefile
  tests/riotboot_flashwrite/Makefile
  tests/rng/Makefile
  tests/sched_change_priority/Makefile
  tests/shell/Makefile
  tests/shell_ble/Makefile
  tests/sntp/Makefile
  tests/sock_udp_aux/Makefile
  tests/stm32_bootloader/Makefile
  tests/sys_stdio_semihosting/Makefile
  tests/usbus_board_reset/Makefile
  tests/usbus_cdc_acm_stdio/Makefile
  tests/usbus_cdc_ecm/Makefile
  tests/vfs_default/Makefile
Labels: Type: bug, Area: tests, Area: build system, Impact: minor, CI: ready for build, Area: sys, Area: examples

#19494 pkg/qcbor: bump to v1.2
  pkg/qcbor/Makefile
  pkg/qcbor/Makefile.include
  pkg/qcbor/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build

#19499 makefiles/features_modules: ignore periph_wdt_auto_start
  makefiles/features_modules.inc.mk
Labels: Type: bug, Impact: minor, CI: ready for build

#19500 makefiles/features_modules: ignore periph_spidev_linux
  makefiles/features_modules.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#19495 Rust: Update dependencies
  drivers/lsm303agr/src/lib.rs
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Area: drivers, CI: ready for build, Process: needs backport, CI: run tests, Area: sys, Area: examples, Area: Rust

#19315 cpu/native: add host fs access via VFS
  boards/native/Makefile.dep
  boards/native/board_init.c
  boards/native/include/board.h
  cpu/native/Makefile
  cpu/native/fs/Makefile
  cpu/native/fs/native_fs.c
  cpu/native/include/native_internal.h
  cpu/native/periph/pm.c
  cpu/native/syscalls.c
  sys/include/fs/native_fs.h
  sys/include/vfs_default.h
  sys/net/application_layer/gcoap/fileserver.c
  sys/vfs/vfs.c
  tests/gcoap_fileserver/Makefile
  tests/gcoap_fileserver/tests/01-run.py
Labels: Platform: native, Area: network, Area: tests, CI: ready for build, Area: boards, Area: CoAP, Area: cpu, Area: sys

#19507 cpu/cc26x0_cc13x0: Drop feature cortexm_mpu
  cpu/cc26x0_cc13x0/Kconfig
  cpu/cc26x0_cc13x0/Makefile.features
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu, Area: Kconfig

#19515 drivers/servo: Fix missing dep
  drivers/Makefile.dep
Labels: Type: bug, Area: drivers, CI: ready for build

#19516 cpu/rpx0xx: add initial ADC support
  boards/rpi-pico/Kconfig
  boards/rpi-pico/Makefile.features
  boards/rpi-pico/include/periph_conf.h
  cpu/rpx0xx/clock.c
  cpu/rpx0xx/cpu.c
  cpu/rpx0xx/include/periph_cpu.h
  cpu/rpx0xx/periph/adc.c
Labels: CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#19503 release-notes.txt: add 2023.04 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: needs >1 ACK, Process: release cycle, CI: skip compile test

#19518 release-notes.txt: add 2023.04 release notes [backport 2023.04]
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, Process: release cycle, CI: skip compile test

#19521 VERSION: add 2023.04 version file
  VERSION
Labels: CI: ready for build, CI: skip compile test
