Repository RIOT-OS/RIOT, pull requests merged in 2023-10, with the labels that each got.

#19962 cpu/esp32: fix RISC-V ISA for ESP32-C3 with GCC 12.2
  cpu/esp32/Makefile.include
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19941 drivers/lcd: add MCU-driven low-level parallel interface
  drivers/include/lcd.h
  drivers/lcd/Kconfig
  drivers/lcd/Makefile.dep
  drivers/lcd/Makefile.include
  drivers/lcd/include/lcd_internal.h
  drivers/lcd/include/lcd_ll_par_gpio.h
  drivers/lcd/lcd.c
  drivers/lcd/lcd_ll_par_gpio.c
  drivers/st77xx/st7735_init.c
  drivers/st77xx/st7789_init.c
  drivers/st77xx/st7796_init.c
  tests/drivers/st77xx/main.c
Labels: Type: enhancement, Area: tests, Area: drivers, CI: ready for build, Area: Kconfig, CI: ready for merge train 🚃

#19954 sys/psa_crypto: Ed25519 (EdDSA) support
  cpu/nrf52/Kconfig
  cpu/nrf52/Makefile.features
  cpu/nrf52/periph/Kconfig
  cpu/nrf52/periph/Makefile.dep
  examples/psa_crypto/Makefile
  examples/psa_crypto/README.md
  examples/psa_crypto/app.config.test.base
  examples/psa_crypto/app.config.test.custom
  examples/psa_crypto/example_ecdsa_p256.c
  examples/psa_crypto/example_eddsa.c
  examples/psa_crypto/main.c
  kconfigs/Kconfig.features
  makefiles/features_modules.inc.mk
  pkg/c25519/Kconfig
  pkg/c25519/Makefile.include
  pkg/c25519/psa_c25519/Kconfig
  pkg/c25519/psa_c25519/Makefile
  pkg/c25519/psa_c25519/Makefile.dep
  pkg/c25519/psa_c25519/edsign.c
  pkg/driver_cryptocell_310/Makefile
  pkg/driver_cryptocell_310/Makefile.include
  pkg/driver_cryptocell_310/include/psa_cryptocell_310_ecc_common.h
  pkg/driver_cryptocell_310/include/psa_error.h
  pkg/driver_cryptocell_310/psa_cryptocell_310/Kconfig
  pkg/driver_cryptocell_310/psa_cryptocell_310/ecc_common.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/ecc_ed25519.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/ecc_p192.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/ecc_p256.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/error_conversion.c
  pkg/micro-ecc/psa_uecc/p192.c
  pkg/micro-ecc/psa_uecc/p256.c
  sys/include/psa_crypto/psa/crypto_sizes.h
  sys/include/psa_crypto/psa/crypto_values.h
  sys/psa_crypto/Kconfig.asymmetric
  sys/psa_crypto/Makefile.dep
  sys/psa_crypto/Makefile.include
  sys/psa_crypto/doc.txt
  sys/psa_crypto/include/psa_crypto_algorithm_dispatch.h
  sys/psa_crypto/include/psa_crypto_location_dispatch.h
  sys/psa_crypto/include/psa_crypto_operation_encoder.h
  sys/psa_crypto/include/psa_crypto_slot_management.h
  sys/psa_crypto/include/psa_ecc.h
  sys/psa_crypto/psa_crypto.c
  sys/psa_crypto/psa_crypto_algorithm_dispatch.c
  sys/psa_crypto/psa_crypto_location_dispatch.c
Labels: Type: enhancement, Platform: ARM, Area: doc, Area: build system, Area: pkg, CI: ready for build, Area: cpu, Area: sys, Area: examples, Area: Kconfig

#19966 sys/event: add event_is_queued()
  sys/event/event.c
  sys/include/event.h
Labels: CI: ready for build, Area: sys

#19970 sys/shell/gnrc_netif: fix ifconfig set language issue
  sys/shell/cmds/gnrc_netif.c
Labels: CI: ready for build, Area: sys

#19973 sys/shell/gnrc_txtsnd: Move to separate module
  makefiles/pseudomodules.inc.mk
  sys/shell/Makefile.dep
  sys/shell/cmds/gnrc_netif.c
  sys/shell/cmds/gnrc_txtsnd.c
Labels: Area: build system, CI: ready for build, Area: sys

#19972 RFC: Support enabling/disabling lwIP netifs from gnrc_netif shell
  pkg/lwip/contrib/_netif.c
  sys/include/net/netopt.h
  sys/net/crosslayer/netopt/netopt.c
  sys/shell/cmds/gnrc_netif.c
Labels: Area: network, Area: pkg, CI: ready for build, Area: sys

#19979 dist/testbed-support: Add openmote board
  dist/testbed-support/makefile.iotlab.archi.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools, Process: needs backport

#19968 gcoap: fix underflow when correcting ETag from cache
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: CoAP, Area: sys

#19983 pkg/nanocbor: Update for fixed nanocbor_skip_simple()
  pkg/nanocbor/Makefile
Labels: Type: bug, Area: pkg, CI: ready for build

#19985 backport_pr.py: increase entries per page for branches GET
  dist/tools/backport_pr/backport_pr.py
Labels: Type: bug, CI: ready for build, Area: tools, CI: skip compile test

#19958 tests/unittests: blacklist LLVM on native
  tests/unittests/Makefile
Labels: Area: tests, CI: ready for build

#20007 release-test.yml: Add stasbourg creds
  .github/workflows/release-test.yml
Labels: Type: bug, CI: ready for build, Area: CI, Process: needs backport, CI: skip compile test

#19988 pkg/nanocbor: Update for fixed nanocbor_skip_simple() [backport 2023.10]
  pkg/nanocbor/Makefile
Labels: Type: bug, Area: pkg, CI: ready for build, Process: release backport

#20011 tests/unittests: add a unit test for ztimer
  tests/unittests/tests-ztimer/tests-ztimer-mock.c
Labels: Area: tests, CI: ready for build

#19990 sys/psa_crypto: allow repeated initialization
  sys/crypto/psa_riot_cipher/aes_128_cbc.c
  sys/psa_crypto/psa_crypto.c
  tests/sys/psa_crypto/Makefile
  tests/sys/psa_crypto/Makefile.ci
  tests/sys/psa_crypto/main.c
  tests/sys/psa_crypto/tests/01-run.py
Labels: Area: tests, CI: ready for build, Area: sys

#19994 nanocoap: prevent integer underflow in coap_opt_put_uri_pathquery()
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: CoAP, Area: sys

#20013 release-test.yml: Add strasbourg creds [backport 2023.10]
  .github/workflows/release-test.yml
Labels: Type: bug, CI: ready for build, Area: CI, Process: release backport, CI: skip compile test

#19999 nib/_nib-6ln: bail out early if address is no longer assigned
  sys/net/gnrc/network_layer/ipv6/nib/_nib-6ln.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: sys

#20015 gcoap_dns: Housekeeping with regards to draft status
  sys/include/net/coap.h
  sys/include/net/gcoap/dns.h
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20021 .vscode/settings.json: change vertical ruler to comply with coding conventions
  .vscode/settings.json
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: tools, CI: skip compile test

#20017 tests/core/thread_cooperation: clean up test
  tests/core/thread_cooperation/main.c
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#20027 boards: add support for Adafruit Feather nRF52840 Sense
  boards/feather-nrf52840-sense/Kconfig
  boards/feather-nrf52840-sense/Makefile
  boards/feather-nrf52840-sense/Makefile.dep
  boards/feather-nrf52840-sense/Makefile.features
  boards/feather-nrf52840-sense/Makefile.include
  boards/feather-nrf52840-sense/doc.txt
  boards/feather-nrf52840-sense/include/board.h
  boards/feather-nrf52840-sense/include/gpio_params.h
  boards/feather-nrf52840-sense/include/periph_conf.h
  boards/feather-nrf52840-sense/reset.c
Labels: Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#20029 cortexm_common: drop TODO about Cortex-M4F FPU
  cpu/cortexm_common/thread_arch.c
Labels: Platform: ARM, Area: doc, Impact: minor, Type: cleanup, CI: ready for build, Area: cpu, CI: skip compile test

#20032 boards/nucleo-l552ze: add PWM configuration
  boards/nucleo-l552ze-q/Kconfig
  boards/nucleo-l552ze-q/Makefile.features
  boards/nucleo-l552ze-q/include/periph_conf.h
Labels: CI: ready for build, Area: boards, Area: Kconfig
