Repository RIOT-OS/RIOT, pull requests merged in 2023-05, with the labels that each got.

#19528 treewide: fix typos and false positives found by codespell
  boards/e180-zg120b-tb/doc.txt
  boards/ikea-tradfri/doc.txt
  boards/slstk3400a/doc.txt
  boards/slstk3401a/doc.txt
  boards/slstk3402a/doc.txt
  boards/sltb001a/doc.txt
  boards/slwstk6220a/doc.txt
  boards/stk3200/doc.txt
  boards/stk3600/doc.txt
  boards/stk3700/doc.txt
  cpu/gd32v/periph/i2c.c
  cpu/native/async_read.c
  cpu/native/include/async_read.h
  cpu/nrf52/include/periph_cpu.h
  cpu/nrf9160/include/periph_cpu.h
  dist/tools/codespell/ignored_words.txt
  drivers/bq2429x/include/bq2429x_internal.h
  drivers/cc110x/cc110x_rx_tx.c
  drivers/cc110x/include/cc110x_params.h
  drivers/include/nrf24l01p_ng.h
  drivers/netdev/ieee802154.c
  drivers/soft_uart/soft_uart.c
  pkg/openwsn/contrib/openwsn.c
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
  sys/ztimer/mock.c
  tests/driver_nrf24l01p_lowlevel/main.c
Labels: Platform: native, Platform: ARM, Area: network, Area: doc, Area: tests, Area: pkg, Area: drivers, CI: ready for build, Area: timers, Area: tools, Area: boards, Area: cpu, Area: sys

#19525 semtech-loramac: extend list of supported radio with sx1261, sx1262 and sx1268
  examples/lorawan/README.md
  pkg/semtech-loramac/doc.txt
  tests/pkg_semtech-loramac/README.md
Labels: Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: LoRa, Area: examples

#19526 boards/arduino-mkrwan1300: update board name to correct one
  boards/arduino-mkrwan1300/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#19440 cpu/rpx0xx: implement periph_spi
  boards/rpi-pico/Kconfig
  boards/rpi-pico/Makefile.features
  boards/rpi-pico/include/periph_conf.h
  cpu/rpx0xx/include/periph_cpu.h
  cpu/rpx0xx/periph/spi.c
Labels: CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#19537 boards/rpi-pico: specify needed args when using jlink flasher
  boards/rpi-pico/Makefile.include
Labels: CI: ready for build, Area: boards

#19541 makefiles/tools/jlink.inc.mk: use ELF file for flashing
  boards/rpi-pico/Makefile.include
  dist/tools/jlink/jlink.sh
  makefiles/tools/jlink.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools, Area: boards

#19542 pkg/lvgl: bump to 8.3.7
  pkg/lvgl/Makefile
Labels: Area: pkg, CI: ready for build

#19477 sys /cpp11-compat: remove pseudo anonymous namespaces
  sys/cpp11-compat/include/riot/chrono.hpp
  sys/cpp11-compat/include/riot/thread.hpp
  sys/cpp11-compat/thread.cpp
Labels: Type: cleanup, CI: ready for build, Area: sys, CI: low priority

#19548 boards/telosb: minor clean ups
  boards/telosb/board.c
  boards/telosb/doc.txt
  boards/telosb/include/board.h
  boards/telosb/include/periph_conf.h
  dist/tools/doccheck/exclude_simple
  dist/tools/doccheck/generic_exclude_patterns
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build, Area: tools, Area: boards

#19522 tests/periph_rtt: Fix for tick conversion test
  tests/periph_rtt/main.c
Labels: Area: tests, CI: ready for build, CI: run tests

#19550 tests/drivers/l3gxxxx: fix used sensor version for iotlab boards
  tests/drivers/l3gxxxx/Makefile
Labels: Type: bug, Area: tests, CI: ready for build

#19554 tests/pkg_fatfs*: fix shellcheck warnings
  tests/pkg_fatfs/create_fat_image_file.sh
  tests/pkg_fatfs_vfs/create_fat_image_file.sh
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#18788 pkg/lvgl: Change all references of LittlevGL to LVGL
  pkg/lv_drivers/doc.txt
  pkg/lv_drivers/include/lv_drv_conf.h
  pkg/lvgl/Makefile
  pkg/lvgl/contrib/lvgl.c
  pkg/lvgl/doc.txt
  pkg/lvgl/include/lv_conf.h
  pkg/lvgl/include/lvgl_riot.h
  pkg/lvgl/include/lvgl_riot_conf.h
  tests/pkg/lvgl/README.md
  tests/pkg/lvgl/main.c
  tests/pkg/lvgl_touch/README.md
  tests/pkg/lvgl_touch/main.c
Labels: Area: doc, Area: tests, Area: pkg, Type: cleanup, CI: ready for build

#19490 sys/shell/gnrc_netif: don't always build lora options with ifconfig
  makefiles/pseudomodules.inc.mk
  sys/shell/Makefile.dep
  sys/shell/cmds/Kconfig
  sys/shell/cmds/gnrc_netif.c
Labels: Area: build system, Impact: minor, Type: cleanup, CI: ready for build, Area: sys, Area: Kconfig

#19575 treewide: fix format specifiers
  cpu/esp32/periph/pwm.c
  sys/shell/cmds/gnrc_icmpv6_echo.c
Labels: Impact: minor, CI: ready for build, Platform: ESP, Area: cpu, Area: sys

#19484 makefiles/arch/msp430.inc.mk: Fix compilation issues with GCC 12
  cpu/msp430_common/ldscripts/riot-msp430f1611.ld
  cpu/msp430_common/ldscripts/riot-msp430f1612.ld
  cpu/msp430_common/ldscripts/riot-msp430f1617.ld
  cpu/msp430_common/ldscripts/riot-msp430f2617.ld
  makefiles/arch/avr8.inc.mk
  makefiles/arch/msp430.inc.mk
  makefiles/toolchain/gnu.inc.mk
Labels: Platform: MSP, Area: build system, Platform: AVR, CI: ready for build, Area: cpu, Area: toolchain

#19587 tests/README.md: Add directory overview
  tests/README.md
Labels: Type: enhancement, Area: doc, Area: tests, CI: ready for build, CI: skip compile test

#19591 tests/sys/usbus_cdc_ecm: fix wrong path in make command
  tests/sys/usbus_cdc_ecm/Makefile
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#19592 treewide: fix remaining broken paths to test applications
  .murdock
  CODEOWNERS
  boards/b-u585i-iot02a/doc.txt
  bootloaders/riotboot/doc.txt
  cpu/esp32/doc.txt
  cpu/esp8266/doc.txt
  cpu/saml21/include/periph_cpu.h
  dist/pythonlibs/testrunner/spawn.py
  dist/tools/compile_test/compile_like_murdock.py
  dist/tools/compile_test/tests/test.sh
  dist/tools/vagrant/freebsd/README.md
  doc/doxygen/src/creating-modules.md
  doc/doxygen/src/kconfig/kconfig.md
  doc/doxygen/src/porting-boards.md
  drivers/include/pcf857x.h
  examples/gnrc_minimal/Makefile
  examples/gnrc_networking/Makefile
  makefiles/pseudomodules.inc.mk
  pkg/doc.txt
  pkg/wolfssl/doc.txt
  sys/fido2/doc.txt
  sys/include/frac.h
  sys/include/puf_sram.h
  sys/include/ztimer/config.h
  sys/shell/cmds/gnrc_ipv6_nib.c
  sys/shell/cmds/gnrc_netif.c
  sys/stdio_nimble/README.md
  sys/test_utils/dummy_thread/dummy_thread.c
  tests/drivers/ws281x/Makefile
  tests/net/gnrc_netif_ieee802154/tests/01-run.py
  tests/net/gnrc_sock_tcp/README.md
  tests/pkg/nimble_esp_wifi_coexist/Makefile
  tests/sys/shell_ble/Makefile
Labels: Platform: ARM, Area: doc, Area: tests, Area: build system, Area: pkg, Type: cleanup, Area: drivers, CI: ready for build, Area: CI, Area: timers, Area: tools, Area: boards, Platform: ESP, Area: cpu, Area: sys, Area: examples

#19588 doc: Remove ANSI
  doc/doxygen/src/mainpage.md
Labels: Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#19594 sys: drop broken and legacy Mac OS handling
  sys/include/byteorder.h
  sys/posix/pthread/include/pthread_cond.h
Labels: Type: bug, Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#19553 nanocoap_sock: remove nanocoap_get()
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys, Process: removal

#19596 dist/tools/insufficient_memory: handle address space wraps
  dist/tools/insufficient_memory/add_insufficient_memory_board.sh
  dist/tools/insufficient_memory/create_makefile.ci.sh
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#19600 build-system: Allow out of tree BUILD_DIR
  Makefile.include
  cpu/stm32/Makefile.cmsis
  cpu/stm32/Makefile.include
  cpu/stm32/dist/kconfig/README.md
  dist/tools/openvisualizer/makefile.openvisualizer.inc.mk
  doc/doxygen/src/advanced-build-system-tricks.md
  pkg/doc.txt
  pkg/lvgl/Kconfig
  tests/sys/fido2_ctap/Makefile
Labels: Type: enhancement, Platform: ARM, Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: tools, Area: cpu, Area: Kconfig

#19599 examples/wasm/wasm_sample: revert prebuild WASM
  examples/wasm/wasm_sample/Makefile
  examples/wasm/wasm_sample/hello_prebuild.wasm
Labels: Impact: minor, Type: cleanup, CI: ready for build, Area: examples

#19603 doc/mainpage: minor improvements
  doc/doxygen/src/mainpage.md
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build

#19615 tests/sys/shell_coreclk: add test application for shell_cmd_coreclk
  tests/sys/shell_coreclk/Makefile
  tests/sys/shell_coreclk/main.c
  tests/sys/shell_coreclk/tests/01-run.py
Labels: Area: tests, Impact: minor, CI: ready for build

#19609 drivers/lpsxxx: avoid float arithmetics
  drivers/lpsxxx/lpsxxx.c
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build

#19633 drivers/slipdev: fix logic bug
  drivers/slipdev/slipdev.c
Labels: Type: bug, Area: drivers, CI: ready for build

#19572 cpu/stm32/periph_pwm: support of complementary timer outputs
  cpu/stm32/include/periph/cpu_pwm.h
  cpu/stm32/periph/pwm.c
Labels: Platform: ARM, Type: new feature, CI: ready for build, Area: cpu

#19619 cpu/arm7: Fix undefined behavior based on invalid assembly
  cpu/arm7_common/common.s
Labels: Platform: ARM, CI: ready for build, Area: cpu

#19433 cpu/esp32: deduplication in Kconfig for ESP32x SoCs
  cpu/esp32/Kconfig
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Kconfig.esp32c3
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Kconfig.esp32x
Labels: Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#19604 gnrc/ipv6/nib: fix 6Lo ND options on non 6Lo interface
  sys/net/gnrc/network_layer/ipv6/nib/_nib-router.c
Labels: Area: network, CI: ready for build, Area: sys

#19646 drivers/sx126x: fix argument validation in spreading factor
  drivers/sx126x/sx126x_netdev.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build, Area: LoRa

#19647 drivers/mtd_spi_nor: fix hang and debug msgs
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#17425 cpu/rpx0xx: initial PIO support
  boards/rpi-pico/Kconfig
  boards/rpi-pico/Makefile.features
  boards/rpi-pico/include/periph_conf.h
  cpu/rpx0xx/Kconfig
  cpu/rpx0xx/Makefile
  cpu/rpx0xx/Makefile.dep
  cpu/rpx0xx/Makefile.features
  cpu/rpx0xx/Makefile.include
  cpu/rpx0xx/include/periph_cpu.h
  cpu/rpx0xx/include/pio/pio.h
  cpu/rpx0xx/periph/i2c.c
  cpu/rpx0xx/periph/pio.c
  cpu/rpx0xx/pio/i2c/Makefile
  cpu/rpx0xx/pio/i2c/i2c.c
  cpu/rpx0xx/pio/i2c/i2c.pio
  cpu/rpx0xx/pio/i2c/i2c_set_scl_sda.pio
  dist/tools/elf2uf2/Makefile
  dist/tools/pioasm/.gitignore
  dist/tools/pioasm/Makefile
  dist/tools/pioasm/patches/riot_pioasm.patch
  drivers/include/periph/pio.h
  drivers/include/periph/pio/i2c.h
  drivers/periph_common/init.c
  examples/pio_blink/Makefile
  examples/pio_blink/main.c
  examples/pio_blink/rpx0xx_pio_blink/Makefile
  examples/pio_blink/rpx0xx_pio_blink/blink.c
  examples/pio_blink/rpx0xx_pio_blink/blink.pio
  kconfigs/Kconfig.features
  makefiles/pio.inc.mk
  makefiles/pseudomodules.inc.mk
  makefiles/tools/pioasm.inc.mk
  makefiles/tools/targets.inc.mk
  tests/periph/pio/Kconfig
  tests/periph/pio/Makefile
  tests/periph/pio/Readme.md
  tests/periph/pio/app.config.test
  tests/periph/pio/main.c
Labels: Area: doc, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: examples, Area: Kconfig

#19602 dist/tools/compile_commands: add another workaround
  dist/tools/compile_commands/compile_commands.py
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, Area: Rust

#19652 gnrc_ipv6_nib: set default RIO preference to zero
  sys/net/gnrc/network_layer/ipv6/nib/_nib-router.c
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#19620 dist/tools/openocd: fix parsing of flash bank base
  dist/tools/openocd/openocd.sh
  dist/tools/openocd/openocd_flashinfo.py
Labels: CI: ready for build, Area: tools

#19658 sys/posix/sockets: fix code style & set sin6_scope_id in _ep_to_sockaddr()
  sys/posix/sockets/posix_sockets.c
Labels: CI: ready for build, Area: sys

#19665 doc: do not rebuild riot.css
  doc/doxygen/Makefile
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#19576 boards: add stm32l496g-disco support
  boards/stm32l496g-disco/Kconfig
  boards/stm32l496g-disco/Makefile
  boards/stm32l496g-disco/Makefile.dep
  boards/stm32l496g-disco/Makefile.features
  boards/stm32l496g-disco/Makefile.include
  boards/stm32l496g-disco/doc.txt
  boards/stm32l496g-disco/include/arduino_board.h
  boards/stm32l496g-disco/include/arduino_pinmap.h
  boards/stm32l496g-disco/include/board.h
  boards/stm32l496g-disco/include/gpio_params.h
  boards/stm32l496g-disco/include/periph_conf.h
Labels: Area: doc, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig, CI: no fast fail

#19601 SUIT: Prepared manifests
  sys/include/suit/transport/worker.h
  sys/suit/transport/worker.c
Labels: CI: ready for build, Area: OTA, Area: sys

#19268 shell_lock: don't set CONFIG_SHELL_SHUTDOWN_ON_EXIT
  sys/include/shell.h
  sys/include/shell_lock.h
  sys/shell/shell.c
  sys/shell_lock/shell_lock.c
  tests/sys/shell_lock/Makefile
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, Area: sys

#19629 cpu/stm32/periph/adc: fix setting ADC clock
  cpu/stm32/periph/adc_f1.c
  cpu/stm32/periph/adc_f2.c
  cpu/stm32/periph/adc_f4_f7.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#19673 tools/build_system_sanity_check: add check to verify test applications are at the right place
  dist/tools/buildsystem_sanity_check/check.sh
Labels: CI: ready for build, Area: tools

#19664 usbus: don't trigger assertion in usbus_urb_submit()
  sys/usb/usbus/usbus.c
Labels: Type: bug, CI: ready for build, Area: USB, Area: sys
