Repository RIOT-OS/RIOT, pull requests merged in 2023-06, with the labels that each got.

#19690 drivers/shtcx: fix assertion and shtcx_saul_info idx
  drivers/saul/init_devs/auto_init_shtcx.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build, Area: SAUL

#19704 makefiles/toolchain/gnu.inc.mk: fix compilation
  makefiles/toolchain/gnu.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, Area: toolchain

#19378 sys: add common imath module mv isin() form test/driver_dac_dds
  sys/include/imath.h
  tests/drivers/dac_dds/main.c
Labels: Area: tests, CI: ready for build, Area: sys

#19693 sys/color: extend unittest and fix module
  sys/color/color.c
  tests/unittests/tests-color/tests-color.c
Labels: Type: bug, Type: enhancement, Area: tests, CI: ready for build, Area: sys

#19705 boards/z1: fix broken clock configuration
  boards/z1/include/periph_conf.h
  cpu/msp430fxyz/clock.c
Labels: Type: bug, Platform: MSP, CI: ready for build, Area: boards, Area: cpu

#19713 nanocoap: clean up coap_iterate_option(), make it public
  examples/gcoap_block_server/Makefile.ci
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#19717 boards/rpi-pico: update openocd.cfg file
  boards/rpi-pico/dist/openocd.cfg
Labels: CI: ready for build, Area: boards

#19721 nanocoap, gcoap: homogenize name of the module
  sys/include/net/gcoap.h
  sys/include/net/gcoap/forward_proxy.h
  sys/include/net/nanocoap.h
  sys/include/net/nanocoap/cache.h
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/gcoap/Kconfig
  sys/net/application_layer/nanocoap/Kconfig
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
  sys/net/application_layer/nanocoap/vfs.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys, Area: Kconfig, CI: skip compile test

#19722 tools/jlink.sh: start gdb server with setsid
  dist/tools/jlink/jlink.sh
Labels: Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#19580 board: add Adafruit Grand Central M4 Express support
  boards/adafruit-grand-central-m4-express/Kconfig
  boards/adafruit-grand-central-m4-express/Makefile
  boards/adafruit-grand-central-m4-express/Makefile.dep
  boards/adafruit-grand-central-m4-express/Makefile.features
  boards/adafruit-grand-central-m4-express/Makefile.include
  boards/adafruit-grand-central-m4-express/board.c
  boards/adafruit-grand-central-m4-express/doc.txt
  boards/adafruit-grand-central-m4-express/include/arduino_board.h
  boards/adafruit-grand-central-m4-express/include/arduino_pinmap.h
  boards/adafruit-grand-central-m4-express/include/board.h
  boards/adafruit-grand-central-m4-express/include/gpio_params.h
  boards/adafruit-grand-central-m4-express/include/periph_conf.h
Labels: State: WIP, Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#19727 SUBSYSTEMD.md: add @kaspar030 to core, Rust, build system, CI & timers
  SUBSYSTEMS.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#18156 pkg/opendsme: add initial support for IEEE 802.15.4 DSME time-slotted MAC
  examples/opendsme/Makefile
  examples/opendsme/Makefile.ci
  examples/opendsme/README.md
  examples/opendsme/main.c
  makefiles/pseudomodules.inc.mk
  pkg/opendsme/Kconfig
  pkg/opendsme/Makefile
  pkg/opendsme/Makefile.dep
  pkg/opendsme/Makefile.include
  pkg/opendsme/Makefile.opendsme_module
  pkg/opendsme/contrib/DSMEMessage.cpp
  pkg/opendsme/contrib/DSMEPlatform.cpp
  pkg/opendsme/contrib/Makefile
  pkg/opendsme/contrib/gnrc_netif_opendsme.cpp
  pkg/opendsme/include/opendsme/DSMEMessage.h
  pkg/opendsme/include/opendsme/DSMEPlatform.h
  pkg/opendsme/include/opendsme/dsme_atomic.h
  pkg/opendsme/include/opendsme/dsme_platform.h
  pkg/opendsme/include/opendsme/dsme_settings.h
  pkg/opendsme/include/opendsme/opendsme.h
  sys/include/net/ieee802154.h
  sys/include/net/netopt.h
  sys/net/crosslayer/netopt/netopt.c
  sys/net/gnrc/netif/init_devs/auto_init_nrf802154.c
  sys/net/gnrc/netif/init_devs/include/init_devs.h
  sys/net/link_layer/ieee802154/Kconfig
  sys/shell/Makefile.dep
  sys/shell/cmds/gnrc_netif.c
  sys/shell/cmds/opendsme.c
Labels: Area: network, Area: doc, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Reviewed: 1-fundamentals, Area: sys, Area: examples, Area: Kconfig

#19732 SUBSYSTEMS.md: add @maribu
  SUBSYSTEMS.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#19729 cpu/qn908x/periph_i2c: allow internal pull-up on SCL
  cpu/qn908x/include/flexcomm.h
  cpu/qn908x/periph/flexcomm.c
  cpu/qn908x/periph/i2c.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#19734 drivers/pcf857x: allow to define PCF857x_BASE_ADDR at compile time
  drivers/include/pcf857x.h
Labels: Area: drivers, CI: ready for build

#19492 sys: partly refactor make dependency resolution
  Makefile.dep
  sys/Makefile.dep
  sys/arduino/Makefile.dep
  sys/benchmark/Makefile.dep
  sys/can/Makefile.dep
  sys/coding/Makefile.dep
  sys/congure/Makefile.dep
  sys/cpp11-compat/Makefile.dep
  sys/eepreg/Makefile.dep
  sys/entropy_source/Makefile.dep
  sys/event/Makefile.dep
  sys/evtimer/Makefile.dep
  sys/fido2/Makefile.dep
  sys/isrpipe/Makefile.dep
  sys/log_color/Makefile.dep
  sys/luid/Makefile.dep
  sys/od/Makefile.dep
  sys/phydat/Makefile.dep
  sys/pm_layered/Makefile.dep
  sys/puf_sram/Makefile.dep
  sys/random/Makefile.dep
  sys/riotboot/Makefile.dep
  sys/saul_reg/Makefile.dep
  sys/sched_round_robin/Makefile.dep
  sys/schedstatistics/Makefile.dep
  sys/sema/Makefile.dep
  sys/sema_inv/Makefile.dep
  sys/senml/Makefile.dep
  sys/ssp/Makefile.dep
  sys/suit/Makefile.dep
  sys/trace/Makefile.dep
  sys/trickle/Makefile.dep
  sys/uri_parser/Makefile.dep
  sys/usb/usbus/Makefile.dep
  sys/ut_process/Makefile.dep
  sys/uuid/Makefile.dep
  sys/vfs/Makefile.dep
  sys/vfs_util/Makefile.dep
Labels: Area: build system, CI: ready for build, Area: timers, Area: arduino API, Area: SAUL, Area: OTA, Area: USB, Area: sys

#19739 gnrc/rpl: fix incorrect addition overflow check
  sys/net/gnrc/routing/rpl/of0.c
Labels: Area: network, CI: ready for build, Area: sys

#19750 dist/tools/usb-serial: Fix handling of None while quoting
  dist/tools/usb-serial/ttys.py
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#19751 cpu/avr8 common: added avr4.ld script
  cpu/avr8_common/ldscripts/avr4.ld
  cpu/avr8_common/startup.c
Labels: Platform: AVR, CI: ready for build, Area: cpu

#19756 all/gnrc: fix null pointer dereference
  examples/gnrc_networking_mac/mac.c
  examples/gnrc_networking_mac/udp.c
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/sixlowpan/iphc/gnrc_sixlowpan_iphc.c
  sys/net/gnrc/transport_layer/tcp/gnrc_tcp_pkt.c
  sys/shell/cmds/gnrc_icmpv6_echo.c
  sys/shell/cmds/gnrc_udp.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys, Area: examples

#19749 sys/net/rpl: fix missing assignment operator
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#19763 cpu/esp32: define RAM_START_ADDR and RAM_LEN
  cpu/esp32/Makefile.include
  cpu/esp32/include/sdkconfig_esp32.h
  cpu/esp32/ld/esp32/sections.ld.in
  cpu/esp32/ld/esp32c3/sections.ld.in
  cpu/esp32/ld/esp32s2/sections.ld.in
  cpu/esp32/ld/esp32s3/sections.ld.in
Labels: Type: bug, Type: enhancement, CI: ready for build, Platform: ESP, Area: cpu, CI: no fast fail

#19761 buildsystem: only expose CPU_RAM_BASE & SIZE when known
  makefiles/cflags.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#19766 core/lib: make the use of DEBUG_BREAKPOINT on assert optional
  core/lib/assert.c
  core/lib/include/assert.h
  tests/sys/sema_inv/Makefile.ci
Labels: Type: enhancement, Area: tests, Area: core, CI: ready for build

#19772 cpu/avr8_common: fix typo in a comment
  cpu/avr8_common/include/flash_utils_arch.h
Labels: Type: bug, Area: doc, Impact: minor, Platform: AVR, CI: ready for build, Area: cpu, CI: skip compile test

#19712 cpu/riscv: Add PMP driver
  Makefile.dep
  core/lib/include/panic.h
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.features
  cpu/fe310/include/cpu_conf.h
  cpu/riscv_common/include/pmp.h
  cpu/riscv_common/include/vendor/riscv_csr.h
  cpu/riscv_common/irq_arch.c
  cpu/riscv_common/periph/Kconfig
  cpu/riscv_common/periph/pmp.c
  cpu/riscv_common/riscv_init.c
  kconfigs/Kconfig.features
  makefiles/pseudomodules.inc.mk
  tests/cpu/pmp_noexec_ram/Makefile
  tests/cpu/pmp_noexec_ram/README.md
  tests/cpu/pmp_noexec_ram/main.c
  tests/cpu/pmp_noexec_ram/tests/01-run.py
Labels: Area: doc, Area: tests, Area: core, Area: build system, CI: ready for build, Platform: RISC-V, Area: cpu, Area: Kconfig

#19745 Makefile.include: Generate lst file using objdump
  Makefile.include
Labels: Area: build system, CI: ready for build

#19779 cpu/atmega_common: make vera++ happy
  cpu/atmega_common/periph/gpio.c
Labels: Impact: minor, Platform: AVR, Type: cleanup, CI: ready for build, Area: cpu, CI: skip compile test
