Repository RIOT-OS/RIOT, pull requests merged in 2023-11, with the labels that each got.

#20034 boards/feather-nrf52840-sense: Add bootloader info
  boards/feather-nrf52840-sense/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20035 Bump version of UF2 package
  dist/tools/uf2/Makefile
Labels: CI: ready for build, Area: tools

#20052 ci: build github merge train branches with murdock
  .murdock.yml
Labels: CI: ready for build, Area: CI

#20054 .murdock: Switch to github merge queue
  .murdock
Labels: CI: ready for build, Area: CI, CI: skip compile test

#20058 .github/workflows/*: Allow merge_groups and prs to be required
  .github/workflows/check-commits.yml
  .github/workflows/check-labels.yml
  .github/workflows/labeler.yml
  .github/workflows/static-test.yml
  .github/workflows/tools-buildtest.yml
  .github/workflows/tools-test.yml
  .murdock
Labels: CI: ready for build, Area: CI, CI: skip compile test

#20064 ci: temporarily force full builds for merge queues
  .murdock
Labels: CI: ready for build, Area: CI, CI: skip compile test

#20063 ci: migrate to github merge queues
  .github/workflows/check-commits.yml
  .github/workflows/check-labels.yml
  .github/workflows/labeler.yml
  .github/workflows/static-test.yml
  .github/workflows/tools-buildtest.yml
  .github/workflows/tools-test.yml
  .murdock
Labels: CI: ready for build, Area: CI

#20072 boards/common/esp32x: fix doxygen group
  boards/common/esp32x/doc.txt
Labels: Type: bug, Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20050 dist/tools/uf2: Ignore the .json file
  dist/tools/uf2/.gitignore
Labels: Type: bug, Impact: minor, CI: ready for build, CI: skip compile test

#20053 pkg/lwext4: small fixes
  drivers/mtd_sdmmc/mtd_sdmmc.c
  pkg/lwext4/Makefile.include
  pkg/lwext4/fs/lwext4_fs.c
  sys/malloc_thread_safe/malloc_wrappers.c
Labels: Area: pkg, Area: drivers, CI: ready for build, Area: sys

#20070 drivers/pcf857x: minor cleanup
  drivers/pcf857x/pcf857x.c
Labels: Impact: minor, Type: cleanup, Area: drivers, CI: ready for build

#20045 periph/adc: introduce periph_adc_continuous
  cpu/sam0_common/Kconfig
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/periph/adc.c
  drivers/include/periph/adc.h
  kconfigs/Kconfig.features
  tests/periph/adc_continuous/Makefile
  tests/periph/adc_continuous/Makefile.ci
  tests/periph/adc_continuous/README.md
  tests/periph/adc_continuous/main.c
Labels: Platform: ARM, Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: cpu, Area: Kconfig

#20046 gnrc/ipv6/nib: don't do multicast address resolution on 6LoWPAN
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#19932 tests/periph: Add test using the Peripheral Selftest Shield
  boards/nucleo-wl55jc/include/arduino_iomap.h
  tests/periph/selftest_shield/Makefile
  tests/periph/selftest_shield/Makefile.board.dep
  tests/periph/selftest_shield/README.md
  tests/periph/selftest_shield/main.c
  tests/periph/selftest_shield/tests-with-config/01-run.py
  tests/periph/selftest_shield/tests/01-run.py
Labels: Area: doc, Area: tests, CI: ready for build, Area: boards, CI: ready for merge train 🚃

#20077 cpu/sam0_common: adc_continuous: fix uninitialized access
  cpu/sam0_common/periph/adc.c
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20078 drivers/mtd: rename mtd_default_get_dev() -> mtd_dev_get()
  drivers/include/mtd.h
  drivers/include/mtd_default.h
  sys/include/usb/usbus/msc.h
  sys/usb/usbus/msc/msc.c
  tests/drivers/mtd_raw/main.c
  tests/sys/usbus_msc/main.c
Labels: Area: tests, Type: cleanup, Area: drivers, CI: ready for build, Area: USB, Area: sys

#20075 boards/nucleo-f070rb: add SPI configuration
  boards/nucleo-f070rb/Kconfig
  boards/nucleo-f070rb/Makefile.features
  boards/nucleo-f070rb/include/periph_conf.h
  tests/drivers/cc110x/Makefile.ci
Labels: Area: tests, CI: ready for build, Area: boards, Area: Kconfig

#20074 sys/flash_utils: Minor bug fixes
  cpu/avr8_common/Makefile.include
  cpu/avr8_common/include/flash_utils_arch.h
  cpu/avr8_common/work_around_for_shitty_ubuntu_toolchain.c
  sys/include/flash_utils.h
Labels: Type: bug, Impact: minor, Platform: AVR, CI: ready for build, Area: cpu, Area: sys

#20080 ci: build github merge train branches with murdock [backport 2023.10]
  .murdock.yml
Labels: CI: ready for build, Area: CI, Process: release backport

#19944 cpu/esp32: add low-level LCD parallel interface using LCD peripheral
  boards/esp32s3-wt32-sc01-plus/Kconfig
  boards/esp32s3-wt32-sc01-plus/Makefile.dep
  cpu/esp32/Kconfig.common
  cpu/esp32/Makefile
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/esp-idf/Makefile
  cpu/esp32/esp-idf/lcd/Kconfig
  cpu/esp32/esp-idf/lcd/Makefile
  cpu/esp32/esp-lcd/Kconfig
  cpu/esp32/esp-lcd/Makefile
  cpu/esp32/esp-lcd/esp_lcd_gpio.c
  cpu/esp32/esp-lcd/esp_lcd_mcu.c
  cpu/esp32/include/irq_arch.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/irq_arch.c
  pkg/esp32_sdk/patches/0032-hal-gdma-include-stddef.h-for-NULL.patch
Labels: Type: enhancement, Area: pkg, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#20079 ci: migrate to github merge queues [backport 2023.10]
  .github/workflows/check-commits.yml
  .github/workflows/check-labels.yml
  .github/workflows/labeler.yml
  .github/workflows/static-test.yml
  .github/workflows/tools-buildtest.yml
  .github/workflows/tools-test.yml
  .murdock
Labels: CI: ready for build, Area: CI, Process: release backport

#20081 tests/periph/selftest_shield: fix integration
  tests/periph/selftest_shield/README.md
  tests/periph/selftest_shield/main.c
  tests/periph/selftest_shield/tests-with-config/01-run.py
  tests/periph/selftest_shield/tests/01-run.py
Labels: Type: bug, Area: doc, Area: tests, Impact: minor, CI: ready for build

#20076 gcoap: Use millisecond timer for observe option values
  sys/Makefile.dep
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20082 boards/nucleo-f030r8: enable SPI and I2C
  boards/nucleo-f030r8/Kconfig
  boards/nucleo-f030r8/Makefile.features
  boards/nucleo-f030r8/include/periph_conf.h
  tests/drivers/atwinc15x0/Makefile.ci
  tests/drivers/cc110x/Makefile.ci
  tests/drivers/nrf24l01p_ng/Makefile.ci
  tests/pkg/cryptoauthlib_internal-tests/Makefile.ci
Labels: Area: tests, Type: new feature, Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#20085 boards/nucleo-wl55jc: Fix Arduino SPI bus
  boards/nucleo-wl55jc/include/periph_conf.h
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards

#20049 cpu/native: fix bug in periph_timer [backport 2023.10]
  cpu/native/periph/timer.c
  cpu/native/syscalls.c
Labels: Platform: native, CI: ready for build, Process: release backport, Area: cpu, CI: ready for merge train 🚃

#20086 boards/p-nucleo-wb55: provide Arduino features
  boards/common/nucleo64/include/arduino_iomap.h
  boards/p-nucleo-wb55/Kconfig
  boards/p-nucleo-wb55/Makefile.features
  boards/p-nucleo-wb55/include/arduino_iomap.h
Labels: Type: new feature, Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#20087 cpu/esp32: Fix kconfig of esp-lcd
  cpu/esp32/esp-idf/Kconfig
  cpu/esp32/esp-idf/heap/Kconfig
  cpu/esp32/esp-idf/lcd/Kconfig
Labels: Type: bug, Impact: minor, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#20090 boards/p-nucleo-wb55: Add pinout and clean up doc
  boards/p-nucleo-wb55/doc.txt
  doc/doxygen/src/pinouts/p-nucleo-wb55.svg
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards

#20083 tests/periph/selftest_shield: re-enable ADC test
  tests/periph/selftest_shield/main.c
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#20062 drivers/at: fix URC collision with command response
  drivers/at/at.c
  drivers/include/at.h
  tests/drivers/at/main.c
  tests/drivers/at/tests-with-config/sneaky_urc.py
Labels: Area: tests, Area: drivers, CI: ready for build

#20089 tests/periph/selftest_shield: improve SPI test
  tests/periph/selftest_shield/main.c
Labels: Type: bug, Area: tests, Type: cleanup, CI: ready for build

#20091 drivers/at24cxxx: add defines for AT24CS04 & AT24CS08
  drivers/at24cxxx/include/at24cxxx_defines.h
Labels: Area: drivers, CI: ready for build

#20092 release-notes.txt: add 2023.10 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20094 release-notes.txt: add 2023.10 release notes [backport 2023.10]
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, CI: skip compile test

#20095 VERSION: Add version file
  VERSION
Labels: CI: ready for build, CI: skip compile test

#19792 cpu/stm32/periph_i2c: prevent corrupting AFIO->MAPR
  boards/common/blxxxpill/include/board_common.h
  boards/nucleo-f103rb/Makefile.include
  cpu/stm32/cpu_init.c
  cpu/stm32/include/periph/f1/periph_cpu.h
  cpu/stm32/periph/i2c_2.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20096 tests/periph/selftest_shield: timer allocation conflict
  tests/periph/selftest_shield/main.c
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build

#20098 boards/nucleo-l433rc: doc update - image and MCU table
  boards/nucleo-l433rc/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20097 boards/nucleo-f303re: add more timers
  boards/common/stm32/include/cfg_timer_tim2_tim15_tim16.h
  boards/nucleo-f303re/include/periph_conf.h
Labels: Impact: minor, CI: ready for build, Area: boards

#20101 tests/periph/selftest_shield: Improve error output
  drivers/include/pcf857x.h
  drivers/pcf857x/pcf857x.c
  tests/periph/selftest_shield/Makefile
  tests/periph/selftest_shield/main.c
Labels: Type: enhancement, Area: tests, Impact: minor, Process: API change, Area: drivers, CI: ready for build

#20103 sys/rng doc: Point to auto initialization
  sys/include/random.h
Labels: Impact: minor, CI: ready for build, Area: sys

#20107 cpu/nrf51: fix periph_i2c driver
  cpu/nrf51/periph/i2c.c
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, CI: run tests, Area: cpu, CI: skip compile test

#20106 boards/nrf51dk: add ADC and Arduino features
  boards/nrf51dk/Kconfig
  boards/nrf51dk/Makefile.features
  boards/nrf51dk/include/arduino_iomap.h
  boards/nrf51dk/include/periph_conf.h
Labels: Type: new feature, Impact: minor, CI: ready for build, Area: boards, Area: Kconfig

#20109 makefile: Don't $(info) when the output can break info-boards-supported
  Makefile.include
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#20102 cpu/nrf5x: clean up periph_uart
  boards/acd52832/include/periph_conf.h
  boards/airfy-beacon/include/periph_conf.h
  boards/calliope-mini/include/periph_conf.h
  boards/dwm1001/include/periph_conf.h
  boards/microbit/include/periph_conf.h
  boards/nrf51dk/include/periph_conf.h
  boards/nrf51dongle/include/periph_conf.h
  boards/nrf52832-mdk/include/periph_conf.h
  boards/nrf52dk/include/periph_conf.h
  boards/nrf6310/include/periph_conf.h
  boards/ruuvitag/include/periph_conf.h
  boards/thingy52/include/periph_conf.h
  boards/yunjia-nrf51822/include/periph_conf.h
  cpu/nrf51/include/periph_cpu.h
  cpu/nrf52/Kconfig
  cpu/nrf52/Makefile.features
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/uart.c
Labels: Platform: ARM, Type: cleanup, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#20020 drivers/include/periph: add FREQM peripheral driver
  boards/same54-xpro/Kconfig
  boards/same54-xpro/Makefile.features
  boards/same54-xpro/Makefile.include
  boards/same54-xpro/include/periph_conf.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/freqm.c
  cpu/samd5x/cpu.c
  cpu/samd5x/include/periph_cpu.h
  dist/tools/doccheck/generic_exclude_patterns
  drivers/include/periph/freqm.h
  drivers/periph_common/Kconfig
  kconfigs/Kconfig.features
  tests/periph/freqm/Makefile
  tests/periph/freqm/README.md
  tests/periph/freqm/main.c
Labels: Platform: ARM, Area: doc, Area: tests, Area: drivers, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: Kconfig

#20112 drivers/lpsxxx: add missing sign extension
  drivers/lpsxxx/lpsxxx.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#20113 drivers/mtd: fix the order of entries in the MTD pointer XFA `mtd_dev_xfa`
  drivers/include/mtd.h
Labels: Type: bug, Area: drivers, CI: ready for build

#20044 cpu/stm32: add ADCAL operation
  cpu/stm32/periph/adc_f0_g0.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#19965 sock/udp: work around gnrc_sock_recv() returning early timeout
  examples/gcoap/Makefile.ci
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys, Area: examples

#20115 boards/p-nucleo-wb55: documentation update
  boards/p-nucleo-wb55/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20114 sys/net/gnrc/netif: print which netif failed to init
  sys/net/gnrc/netif/gnrc_netif.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: sys

#20117 .gitignore: Add venv
  .gitignore
Labels: Type: enhancement, Impact: minor, CI: ready for build

#20120 boards/p-nucleo-wb55: add PWM configuration
  boards/p-nucleo-wb55/Kconfig
  boards/p-nucleo-wb55/Makefile.features
  boards/p-nucleo-wb55/doc.txt
  boards/p-nucleo-wb55/include/periph_conf.h
Labels: Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#20118 tests/periph/spi: allow use on more boards
  tests/periph/spi/Kconfig
  tests/periph/spi/Makefile
  tests/periph/spi/Makefile.ci
  tests/periph/spi/app.config.test
  tests/periph/spi/main.c
Labels: Type: enhancement, Area: tests, Impact: minor, CI: ready for build, Area: Kconfig

#20122 doc: Move roadmap in from the wiki
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/roadmap.md
Labels: Area: doc, CI: ready for build, CI: skip compile test
