Repository RIOT-OS/RIOT, pull requests merged in 2023-07, with the labels that each got.

#19785 cpu/esp8266: fix region overflow with '*periph' directory in app path
  cpu/esp8266/ld/esp8266.riot-os.ld
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19790 boards: fix documentation for GD32V boards
  boards/seeedstudio-gd32/doc.txt
  boards/sipeed-longan-nano/doc.txt
Labels: Type: bug, Type: enhancement, Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#19783 tests/core: remove Makefile.sys_common copy past mistake
  tests/core/Makefile.sys_common
Labels: Area: tests, CI: ready for build, CI: full build

#19793 boards/sipeed-longan-nano: fix TFT display config and documentation
  boards/sipeed-longan-nano/Kconfig
  boards/sipeed-longan-nano/Makefile.dep
  boards/sipeed-longan-nano/doc.txt
  boards/sipeed-longan-nano/include/board.h
  boards/sipeed-longan-nano/include/periph_conf.h
Labels: Type: bug, Type: enhancement, Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#19771 boards/nrf9160dk: use all available CC timer channels
  boards/nrf9160dk/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#19752 cpu/atmega_common: checking features instead of CPU models
  cpu/atmega_common/atmega_cpu.c
  cpu/atmega_common/include/atmega_regs_common.h
  cpu/atmega_common/include/cpu_clock.h
  cpu/atmega_common/include/periph_cpu_common.h
  cpu/atmega_common/periph/adc.c
  cpu/atmega_common/periph/gpio.c
  cpu/atmega_common/periph/i2c.c
  cpu/atmega_common/periph/pwm.c
  cpu/atmega_common/periph/spi.c
  cpu/atmega_common/periph/timer.c
  cpu/atmega_common/periph/uart.c
Labels: Platform: AVR, CI: ready for build, Area: cpu

#19797 Makefile.include: don't use target lstfile implicitly
  Makefile.include
Labels: Type: enhancement, Area: build system, CI: ready for build

#19801 sys/od: increase the size of str_pos variable
  sys/od/od.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: sys

#19791 makefiles/arch/riscv.inc.mk: speed up toolchain detection
  makefiles/arch/riscv.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Platform: RISC-V

#19810 boards/esp32: small documentation fixes
  boards/esp32s3-devkit/doc.txt
  boards/esp32s3-devkit/include/board.h
  cpu/esp32/doc_esp32.txt
  cpu/esp32/doc_esp32c3.txt
  cpu/esp32/doc_esp32s2.txt
  cpu/esp32/doc_esp32s3.txt
Labels: Type: bug, Area: doc, CI: ready for build, Area: boards, Platform: ESP, Area: cpu

#19800 usbus: Implement USB_FEATURE_DEVICE_REMOTE_WAKEUP handling
  sys/include/usb/usbus.h
  sys/usb/usbus/usbus_control.c
Labels: CI: ready for build, Area: USB, Area: sys

#19812 pkg/littlefs2: bump version to 2.7
  pkg/littlefs2/Makefile
Labels: Area: pkg, CI: ready for build

#19811 boards: add ESP32-S3-Box support
  boards/esp32s3-box/Kconfig
  boards/esp32s3-box/Makefile
  boards/esp32s3-box/Makefile.dep
  boards/esp32s3-box/Makefile.features
  boards/esp32s3-box/Makefile.include
  boards/esp32s3-box/board.c
  boards/esp32s3-box/doc.txt
  boards/esp32s3-box/include/board.h
  boards/esp32s3-box/include/gpio_params.h
  boards/esp32s3-box/include/periph_conf.h
  cpu/esp32/Kconfig.esp32s3
Labels: Area: doc, Type: new feature, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#19813 buildsystem: fix kconfig mismatches
  boards/esp32s3-box/Makefile.dep
  boards/sipeed-longan-nano/Kconfig
  drivers/st7735/Kconfig
Labels: Type: bug, Area: drivers, CI: ready for build, Area: boards, Area: Kconfig

#19777 cpu/avr8_common: Prepare for rework ISR
  cpu/atmega_common/atmega_cpu.c
  cpu/atmega_common/periph/gpio.c
  cpu/atmega_common/periph/gpio_ll_irq.c
  cpu/atmega_common/periph/rtc.c
  cpu/atmega_common/periph/rtt.c
  cpu/atmega_common/periph/timer.c
  cpu/atmega_common/periph/uart.c
  cpu/atxmega/atxmega_cpu.c
  cpu/atxmega/periph/gpio.c
  cpu/atxmega/periph/i2c.c
  cpu/atxmega/periph/timer.c
  cpu/atxmega/periph/uart.c
  cpu/avr8_common/avr8_cpu.c
  cpu/avr8_common/include/cpu.h
  cpu/avr8_common/include/irq_arch.h
  cpu/avr8_common/include/states_internal.h
  cpu/avr8_common/thread_arch.c
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Platform: AVR, Area: drivers, CI: ready for build, Area: cpu

#19685 pkg/openthread: remove deprecated functions
  pkg/openthread/contrib/platform_functions_wrapper.c
  pkg/openthread/include/ot.h
Labels: Area: network, Area: pkg, CI: ready for build

#19816 drivers/lcd: code deduplication for st7735 and ili9341
  drivers/ili9341/ili9341.c
  drivers/include/lcd.h
  drivers/include/st7735.h
  drivers/lcd/lcd.c
  drivers/st7735/Kconfig
  drivers/st7735/st7735.c
Labels: Type: cleanup, Area: drivers, CI: ready for build, Area: Kconfig

#19831 dist/tools/usb-serial: call ttys.py with its path [backport 2023.07]
  dist/tools/usb-serial/find-tty.sh
  dist/tools/usb-serial/list-ttys.sh
Labels: CI: ready for build, Area: tools, Process: release backport

#19822 cpu/atmega_common: hook up BAT LOW irq to power bus
  cpu/atmega_common/atmega_cpu.c
Labels: Platform: AVR, CI: ready for build, Area: cpu

#19834 pkg/heatshrink: allow to overwrite config defines
  pkg/heatshrink/patches/0003-allow-to-overwrite-config-defines.patch
Labels: Impact: minor, Area: pkg, CI: ready for build

#19836 sys/net/sock: add sock_aux_ttl
  makefiles/pseudomodules.inc.mk
  sys/include/net/sock.h
  sys/include/net/sock/udp.h
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  tests/net/gnrc_sock_udp/Makefile
  tests/net/gnrc_sock_udp/main.c
Labels: Area: network, Area: tests, Area: build system, CI: ready for build, Area: sys

#19839 pkg/arduino_adafruit_sensor: fix dependencies
  pkg/arduino_adafruit_sensor/Makefile.dep
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: needs backport

#19840 pkg/arduino_adafruit_sensor: fix dependencies [backport 2023.07]
  pkg/arduino_adafruit_sensor/Makefile.dep
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build, Process: release backport

#19844 tests/drivers/disp_dev: fix off by one in display area
  tests/drivers/disp_dev/main.c
Labels: Type: bug, Area: tests, CI: ready for build

#19845 drivers/enc28j60: disable flow control
  drivers/enc28j60/enc28j60.c
Labels: Type: bug, Area: drivers, CI: ready for build
