Repository RIOT-OS/RIOT, pull requests merged in 2023-01, with the labels that each got.

#19077 cpu/esp32: configurable linker scripts
  Makefile.include
  cpu/esp32/Makefile.include
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/ld/esp32/memory.ld.in
  cpu/esp32/ld/esp32/memory_bt.ld
  cpu/esp32/ld/esp32/sections.ld.in
  cpu/esp32/ld/esp32c3/memory.ld
  cpu/esp32/ld/esp32c3/memory.ld.in
  cpu/esp32/ld/esp32c3/sections.ld.in
  cpu/esp32/ld/esp32s2/memory.ld
  cpu/esp32/ld/esp32s2/memory.ld.in
  cpu/esp32/ld/esp32s2/sections.ld.in
  cpu/esp32/ld/esp32s3/memory.ld
  cpu/esp32/ld/esp32s3/memory.ld.in
  cpu/esp32/ld/esp32s3/sections.ld.in
  cpu/esp32/ld/ld.common
Labels: Type: enhancement, Area: build system, CI: ready for build, Platform: ESP, Area: cpu

#19078 cpu/esp32: define FLASHFILE_POS
  cpu/esp32/Makefile.include
  cpu/esp8266/Makefile.include
  cpu/esp_common/Makefile.include
  makefiles/tools/esptool.inc.mk
Labels: Area: build system, Type: new feature, CI: ready for build, Area: tools, Platform: ESP, Area: cpu

#19074 cpu/esp8266: build the SDK bootloader from source
  cpu/esp8266/bin/bootloader.bin
  cpu/esp8266/bin/bootloader_colors.bin
  cpu/esp8266/bin/bootloader_colors_info.bin
  cpu/esp8266/bin/bootloader_info.bin
  cpu/esp_common/Makefile.include
  makefiles/tools/esptool.inc.mk
  pkg/esp8266_sdk/Kconfig
  pkg/esp8266_sdk/Makefile.dep
  pkg/esp8266_sdk/Makefile.include
  pkg/esp8266_sdk/bootloader/Makefile
  pkg/esp8266_sdk/bootloader/bootloader.inc.mk
  pkg/esp8266_sdk/bootloader/sdkconfig.h
  pkg/esp8266_sdk/bootloader/sdkconfig_default.h
  pkg/esp8266_sdk/bootloader/update_mk.sh
Labels: Type: enhancement, Area: build system, Area: pkg, Type: cleanup, CI: ready for build, Area: tools, Platform: ESP, Area: cpu, Area: Kconfig

#19083 build system: Fix parallel build with clean
  Makefile.include
Labels: Type: bug, Area: build system, CI: ready for build

#19084 .github/tools-buildtest: use latest version of riot-action and fix build issue with mosquitto.rsmb
  .github/workflows/tools-buildtest.yml
  dist/tools/mosquitto_rsmb/Makefile
Labels: CI: ready for build, Area: CI, Area: tools, CI: skip compile test

#19037 sys/usb, pkg/tinyusb: move USB board reset from highlevel STDIO to CDC ACM
  boards/common/samdx1-arduino-bootloader/Kconfig
  boards/common/samdx1-arduino-bootloader/Makefile.dep
  pkg/tinyusb/cdc_acm_stdio/cdc_acm_stdio.c
  pkg/tinyusb/contrib/tinyusb_board_reset.c
  sys/usb/usbus/cdc/acm/cdc_acm.c
  sys/usb/usbus/cdc/acm/cdc_acm_stdio.c
  sys/usb_board_reset/Kconfig
  sys/usb_board_reset/usb_board_reset.c
  tests/usbus_board_reset/Makefile
  tests/usbus_board_reset/README.md
  tests/usbus_board_reset/app.config.test
  tests/usbus_board_reset/main.c
Labels: Type: enhancement, Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: boards, Area: USB, Area: sys, Area: Kconfig

#19087 cpu/qn908x/periph_timer: Implement timer_set()
  cpu/qn908x/include/periph_cpu.h
  cpu/qn908x/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#18632 tests/thread_float: do not overload slow MCUs with IRQs
  tests/thread_float/main.c
Labels: Type: bug, Area: tests, CI: ready for build, Process: needs backport

#19031 cpu/stm32/periph_timer: implement timer_set()
  cpu/stm32/include/periph/cpu_timer.h
  cpu/stm32/periph/timer.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#19097 cpu/esp8266/bootloader: remove compile time from banner
  pkg/esp8266_sdk/patches/0001-bootloader-remove-compile-time-from-banner.patch
Labels: Type: bug, Area: pkg, CI: ready for build

#18869 cpu/sam0_common/periph: Fix compilation with LLVM
  cpu/sam0_common/periph/rtc_rtt.c
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#17919 board/microbit: increase testtimeout for emulated testing
  boards/microbit/Makefile.include
Labels: CI: ready for build, Area: boards

#18773 nanocoap_sock: fix handling empty ACKs with separate response
  sys/include/net/coap.h
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#19096 cpu/esp32c3: fix SDK configuration for USB PHY
  cpu/esp32/include/sdkconfig_esp32c3.h
  cpu/esp32/include/sdkconfig_esp32s3.h
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19095 boards/hamilton: Fix TMP00x parameters
  boards/hamilton/include/board.h
Labels: Type: bug, CI: ready for build, Area: boards

#19107 drivers/ws281x: fix out-of-bounds read on native
  drivers/ws281x/vt100.c
Labels: Type: bug, Area: drivers, CI: ready for build

#19105 Documentation: Document PWM and other Peripherals for Weact STM32F4x1Cx boards
  boards/weact-f401cc/doc.txt
  boards/weact-f401ce/doc.txt
  boards/weact-f411ce/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#19099 dist/tools/usb-serial: Clean up legacy scripts
  dist/tools/usb-serial/README.md
  dist/tools/usb-serial/find-tty.sh
  dist/tools/usb-serial/list-ttys.sh
Labels: Type: bug, Area: doc, Type: cleanup, CI: ready for build, Area: tools

#19106 core/lib: Add macros/utils.h header
  core/lib/include/macros/utils.h
  cpu/atmega_common/periph/rtt.c
  cpu/esp_common/include/esp_common.h
  cpu/native/mtd/mtd_native.c
  cpu/sam0_common/periph/flashpage.c
  cpu/stm32/periph/eth.c
  drivers/at24cxxx/at24cxxx.c
  drivers/lsm6dsl/lsm6dsl.c
  drivers/mtd_sdcard/mtd_sdcard.c
  drivers/mtd_spi_nor/mtd_spi_nor.c
  pkg/lua/contrib/lua_run.c
  sys/can/isotp/isotp.c
  sys/hashes/aes128_cmac.c
  sys/hashes/sha3.c
  sys/include/atomic_utils.h
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_region.c
  sys/net/gnrc/netif/gnrc_netif_device_type.c
  sys/net/gnrc/network_layer/icmpv6/error/gnrc_icmpv6_error.c
  sys/stdio_rtt/stdio_rtt.c
  sys/test_utils/benchmark_udp/benchmark_udp.c
  tests/bench_sys_atomic_utils/main.c
  tests/bench_sys_base64/main.c
  tests/driver_pn532/main.c
  tests/mtd_mapper/main.c
Labels: Platform: native, Platform: ARM, Area: network, Area: tests, Area: core, Impact: minor, Area: pkg, Platform: AVR, Type: cleanup, Area: drivers, CI: ready for build, Area: LoRa, Platform: ESP, Area: cpu, Area: sys, CI: full build, CI: no fast fail

#19110 boards/hifive1b: minor improvements
  boards/hifive1b/Makefile.include
Labels: Type: enhancement, Impact: minor, Type: cleanup, CI: ready for build, Area: boards

#19112 cpu/riscv_common/periph_timer: Fix timer_clear()
  cpu/riscv_common/periph/coretimer.c
Labels: Type: bug, CI: ready for build, Platform: RISC-V, Area: cpu, CI: high priority

#19076 boards/hip-badge: add HiP Badge board definition
  boards/hip-badge/Kconfig
  boards/hip-badge/Makefile
  boards/hip-badge/Makefile.dep
  boards/hip-badge/Makefile.features
  boards/hip-badge/Makefile.include
  boards/hip-badge/doc.txt
  boards/hip-badge/hip-badge.config
  boards/hip-badge/include/board.h
  boards/hip-badge/include/gpio_params.h
  boards/hip-badge/include/periph_conf.h
  cpu/esp32/Makefile
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.include
  cpu/esp32/include/irq_arch.h
  cpu/esp32/irq_arch.c
  cpu/esp32/stdio_usb_serial_jtag/Makefile
  cpu/esp32/stdio_usb_serial_jtag/usb_serial_jtag.c
  makefiles/stdio.inc.mk
  sys/Kconfig.stdio
Labels: Area: doc, Area: build system, Type: new feature, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: sys, Area: Kconfig

#19113 boards/native: Drop backward compatibility code for glibc <= 2.17
  boards/native/Makefile.include
Labels: Platform: native, Impact: minor, Type: cleanup, CI: ready for build, Area: boards

#19109 cpu/gd32v: fix and extend Kconfig clock settings
  boards/seeedstudio-gd32/Kconfig
  boards/seeedstudio-gd32/include/periph_conf.h
  cpu/gd32v/clock.c
Labels: Type: bug, Type: enhancement, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#19123 pkg/esp8266_sdk: fix version string generation
  pkg/esp8266_sdk/Makefile
Labels: Type: bug, Area: pkg, CI: ready for build, Process: needs backport, Platform: ESP

#19125 dist/tools/esptools/export.sh: fixes IDF_TOOLS_PATH default setting
  cpu/esp32/doc.txt
  dist/tools/esptools/export.sh
Labels: Type: bug, Area: doc, CI: ready for build, Area: tools, Platform: ESP, Area: cpu, CI: skip compile test

#19124 sys/ztimer: ztimer_mock: guard ztimer_ondemand static functions [backport 2023.01]
  sys/ztimer/mock.c
Labels: Type: bug, CI: ready for build, Area: timers, Process: release backport, Area: sys

#19126 pkg/esp8266_sdk: fix version string generation [backport 2023.01]
  pkg/esp8266_sdk/Makefile
Labels: Type: bug, Area: pkg, CI: ready for build, Process: release backport

#19122 boards/qn9080dk: Improve doc and add J-Link support
  boards/common/qn908x/Makefile.include
  boards/qn9080dk/Makefile.include
  boards/qn9080dk/doc.txt
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build, Area: boards

#19129 boards/seeedstudio-gd32: fix HXTAL clock in Kconfig
  boards/seeedstudio-gd32/Kconfig
Labels: Type: bug, CI: ready for build, Area: boards, Area: Kconfig

#19131 boards/seeedstudio-gd32: fix HXTAL clock in Kconfig [backport 2023.01]
  boards/seeedstudio-gd32/Kconfig
Labels: CI: ready for build, Area: boards, Area: Kconfig

#19058 rust: Use stable Rust [backport 2022.10]
  doc/doxygen/src/using-rust.md
  examples/rust-gcoap/Makefile
  examples/rust-hello-world/Makefile
Labels: Area: doc, CI: ready for build, CI: run tests, Process: release backport, Area: examples, Area: Rust

#19050 boards/common/cc26xx cc13xx: clean up and fix flash configs
  boards/cc2650-launchpad/Makefile.include
  boards/cc2650-launchpad/dist/openocd.cfg
  boards/cc2650stk/Makefile.include
  boards/cc2650stk/dist/openocd.cfg
  boards/common/cc26xx_cc13xx/Makefile.include
  boards/common/cc26xx_cc13xx/dist/openocd.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc13x0.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc13x2.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc26x0.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc26x2.cfg
  cpu/cc26xx_cc13xx/doc.txt
  dist/tools/openocd/openocd.sh
  makefiles/tools/openocd-adapters/xds110.inc.mk
  makefiles/tools/openocd.inc.mk
Labels: Type: bug, Platform: ARM, Area: doc, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: boards, Area: cpu

#19135 makefiles/utils/strings.mk: Fix version_is_greater_or_equal [backport 2023.01]
  makefiles/utils/strings.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, Process: release backport

#19141 shell/rtc: Fix out of bounds access; document error behavior
  sys/shell/cmds/rtc.c
Labels: Type: bug, Impact: minor, CI: ready for build, Process: needs backport, Area: security, Area: sys

#19137 toolchain/gnu.inc.mk: don't check version if CC is not installed
  makefiles/toolchain/gnu.inc.mk
Labels: Area: build system, Type: cleanup, CI: ready for build, Process: needs backport, Area: toolchain

#19144 shell/rtc: Fix out of bounds access; document error behavior [backport 2023.01]
  sys/shell/cmds/rtc.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: security, Process: release backport, Area: sys

#19143 boards: common: stdio_cdc_acm: let tests wait a bit for serial port [backport 2023.01]
  boards/common/makefiles/stdio_cdc_acm.dep.mk
  tests/congure_abe/tests/01-run.py
  tests/congure_quic/tests/01-run.py
  tests/congure_reno/tests/01-run.py
  tests/congure_test/tests/01-run.py
Labels: Type: enhancement, Area: tests, Area: build system, CI: ready for build, Area: boards, Process: release backport

#19145 release-tests: fix PASSED chat message
  .github/workflows/release-test.yml
Labels: Type: bug, CI: ready for build, Area: CI, CI: skip compile test

#19071 boards/rpi-pico-w: initial support for rpi pico W board
  boards/rpi-pico-w/Kconfig
  boards/rpi-pico-w/Makefile
  boards/rpi-pico-w/Makefile.dep
  boards/rpi-pico-w/Makefile.features
  boards/rpi-pico-w/Makefile.include
  boards/rpi-pico-w/doc.txt
  boards/rpi-pico/include/board.h
  boards/rpi-pico/include/gpio_params.h
Labels: Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#19146 cpu/esp32: fix and improve UART initialization
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/startup.c
  cpu/esp_common/periph/uart.c
Labels: Type: bug, CI: ready for build, Process: needs backport, Platform: ESP, Area: cpu

#18763 sys/tiny_strerror: add missing error codes
  cpu/avr8_common/avr_libc_extra/include/errno.h
  examples/filesystem/Makefile.ci
  examples/lua_REPL/Makefile.ci
  sys/tiny_strerror/tiny_strerror.c
  tests/driver_at86rf2xx/Makefile.ci
  tests/driver_hsc/Makefile.ci
  tests/gnrc_sock_tcp/Makefile.ci
  tests/nanocoap_cli/Makefile.ci
  tests/vfs_default/Makefile.ci
Labels: Type: bug, Impact: minor, Platform: AVR, CI: ready for build, Area: cpu, Area: sys

#17460 pkg/arduino_adafruit_sensor: add Adafruit Unified Sensor Driver as package
  pkg/Kconfig
  pkg/arduino_adafruit_sensor/Kconfig
  pkg/arduino_adafruit_sensor/Makefile
  pkg/arduino_adafruit_sensor/Makefile.dep
  pkg/arduino_adafruit_sensor/Makefile.include
  pkg/arduino_adafruit_sensor/doc.txt
  pkg/arduino_adafruit_sensor/patches/0001-remove_include_Print_h.patch
  pkg/arduino_adafruit_sensor/patches/0002-add_F_for_string_literals.patch
  pkg/arduino_adafruit_sensor/patches/0003-add_include_string_h.patch
  tests/pkg_arduino_adafruit_sensor/Makefile
  tests/pkg_arduino_adafruit_sensor/Makefile.ci
  tests/pkg_arduino_adafruit_sensor/app.config.test
  tests/pkg_arduino_adafruit_sensor/main.cpp
  tests/pkg_arduino_adafruit_sensor/tests/01-run.py
Labels: Area: doc, Area: tests, Type: new feature, Area: pkg, CI: ready for build, Area: Kconfig

#19148 cpu/esp32: fix and improve UART initialization [backport 2023.01]
  cpu/esp32/bootloader/sdkconfig.h
  cpu/esp32/startup.c
  cpu/esp_common/periph/uart.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#17066 sys/irq: Add C++ wrapper using RAII
  pkg/fff/Makefile.include
  sys/include/cppunit.hpp
  sys/include/cppunit/cppunit_base.hpp
  sys/include/cppunit/cppunit_expect.hpp
  sys/include/cppunit/cppunit_fff.hpp
  sys/include/irq.hpp
  tests/irq_cpp/Makefile
  tests/irq_cpp/Makefile.ci
  tests/irq_cpp/irq.h
  tests/irq_cpp/main.cpp
  tests/irq_cpp/tests/01-run.py
Labels: Area: tests, Area: pkg, CI: ready for build, Area: sys

#19057 fuzzing: Add uri_parser setup
  Makefile.include
  examples/gcoap/client.c
  fuzzing/Makefile.fuzzing_common
  fuzzing/README.md
  fuzzing/gnrc_tcp/Makefile
  fuzzing/uri_parser/Makefile
  fuzzing/uri_parser/input/input0.txt
  fuzzing/uri_parser/input/input1.txt
  fuzzing/uri_parser/input/input2.txt
  fuzzing/uri_parser/input/input3.txt
  fuzzing/uri_parser/input/input4.txt
  fuzzing/uri_parser/main.c
  makefiles/vars.inc.mk
  sys/fuzzing/fuzzing.c
  sys/include/fuzzing.h
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: sys

#19152 toolchain/gnu.inc.mk: don't check version if CC is not installed [backport 2023.01]
  makefiles/toolchain/gnu.inc.mk
Labels: Area: build system, Type: cleanup, CI: ready for build, Process: release backport, Area: toolchain

#18414 gcoap/fileserver: add event callbacks
  examples/gcoap_fileserver/Makefile
  examples/gcoap_fileserver/main.c
  makefiles/pseudomodules.inc.mk
  sys/include/net/gcoap/fileserver.h
  sys/net/application_layer/gcoap/fileserver.c
Labels: Area: network, Area: build system, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#19160 gh-actions: check-labels: move to upstream fix
  .github/workflows/check-labels.yml
Labels: Type: bug, CI: ready for build, Area: CI, CI: skip compile test, CI: high priority

#19157 sys/shell_lock: do not call strlen, less jumpy
  sys/shell_lock/shell_lock.c
Labels: CI: ready for build, Area: sys

#19162 matrix keypad: Fix memcpy bug in initialization
  drivers/matrix_keypad/matrix_keypad.c
Labels: Type: bug, Type: cleanup, Area: drivers, CI: ready for build

#19159 boards/rpi-pico-w: fix too large board image
  boards/rpi-pico-w/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#19167 boards/common/cc26xx cc13xx: clean up and fix flash configs [backport 2023.01]
  boards/cc2650-launchpad/Makefile.include
  boards/cc2650-launchpad/dist/openocd.cfg
  boards/cc2650stk/Makefile.include
  boards/cc2650stk/dist/openocd.cfg
  boards/common/cc26xx_cc13xx/Makefile.include
  boards/common/cc26xx_cc13xx/dist/openocd.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc13x0.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc13x2.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc26x0.cfg
  boards/common/cc26xx_cc13xx/dist/openocd_cc26x2.cfg
  cpu/cc26xx_cc13xx/doc.txt
  dist/tools/openocd/openocd.sh
  makefiles/tools/openocd-adapters/xds110.inc.mk
  makefiles/tools/openocd.inc.mk
Labels: Type: bug, Platform: ARM, Area: doc, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: boards, Process: release backport, Area: cpu

#19079 cpu/esp32: add periph_flashpage support
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Kconfig.esp32c3
  cpu/esp32/Kconfig.esp32s2
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
  cpu/esp32/esp-idf/Kconfig
  cpu/esp32/include/cpu_conf.h
  cpu/esp32/include/sdkconfig.h
  cpu/esp32/ld/esp32/memory.ld.in
  cpu/esp32/ld/esp32/sections.ld.in
  cpu/esp32/ld/esp32c3/memory.ld.in
  cpu/esp32/ld/esp32c3/sections.ld.in
  cpu/esp32/ld/esp32s2/memory.ld.in
  cpu/esp32/ld/esp32s2/sections.ld.in
  cpu/esp32/ld/esp32s3/memory.ld.in
  cpu/esp32/ld/esp32s3/sections.ld.in
  cpu/esp32/periph/Kconfig
  cpu/esp32/periph/flashpage.c
  cpu/esp32/startup.c
  cpu/esp_common/Makefile.include
  tests/periph_flashpage/Makefile
  tests/periph_flashpage/app.config.test
  tests/periph_flashpage/main.c
Labels: Area: tests, Type: new feature, CI: ready for build, Platform: ESP, Area: cpu, Area: Kconfig

#19173 socket_zep: only report size of single datagram [backport 2023.01]
  cpu/native/include/native_internal.h
  cpu/native/socket_zep/socket_zep.c
  cpu/native/syscalls.c
Labels: Type: bug, Platform: native, CI: ready for build, Process: release backport, Area: cpu

#18934 shell/gnrc_icmpv6_echo: separate ICMPv6 echo sending / parsing from shell command
  examples/paho-mqtt/Makefile.ci
  sys/include/net/gnrc/icmpv6/echo.h
  sys/net/gnrc/network_layer/icmpv6/echo/gnrc_icmpv6_echo.c
  sys/shell/cmds/gnrc_icmpv6_echo.c
Labels: Area: network, CI: ready for build, Area: sys, Area: examples

#19080 sys/phydat: add functions for Unix time conversion to phydat
  sys/include/phydat.h
  sys/phydat/phydat_unix.c
  tests/phydat_unix/Makefile
  tests/phydat_unix/Makefile.ci
  tests/phydat_unix/app.config.test
  tests/phydat_unix/main.c
  tests/phydat_unix/tests/01-run.py
Labels: Area: tests, CI: ready for build, Area: sys

#17735 examples/gcoap_dtls: Increase stack size
  examples/gcoap_dtls/Makefile
  examples/gcoap_dtls/Makefile.ci
  examples/gcoap_dtls/README.md
Labels: Area: doc, Impact: minor, CI: ready for build, Area: examples

#19192 cpu/esp32: fixes for boot issues and crashes on ESP32
  cpu/esp32/startup.c
  cpu/esp_common/freertos/task.c
Labels: CI: ready for build, Platform: ESP, Area: cpu

#19196 cpu/esp32: fixes for boot issues and crashes on ESP32 [backport 2023.1]
  cpu/esp32/startup.c
  cpu/esp_common/freertos/task.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#19200 blobs: include documentation in doxygen
  doc/doxygen/riot.doxyfile
  makefiles/blob.inc.mk
Labels: Area: doc, Area: build system, Type: cleanup, CI: ready for build, CI: skip compile test

#19194 drivers/sx126x: make MODULE_SX126X_RF_SWITCH hidden in kconfig
  boards/nucleo-wl55jc/Kconfig
  drivers/sx126x/Kconfig
Labels: Area: drivers, CI: ready for build, Area: LoRa, Area: boards, Area: Kconfig

#19204 boards/sipeed-longan-nano: default to flashing via DFU
  boards/common/gd32v/Makefile.include
  boards/sipeed-longan-nano/Makefile.include
  boards/sipeed-longan-nano/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#19202 cpu/gd32v: add periph_rtt support
  boards/seeedstudio-gd32/include/periph_conf.h
  boards/sipeed-longan-nano/include/periph_conf.h
  cpu/gd32v/Kconfig
  cpu/gd32v/Makefile.features
  cpu/gd32v/include/periph_cpu.h
  cpu/gd32v/periph/flashpage.c
  cpu/gd32v/periph/rtt.c
Labels: Type: enhancement, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#19209 cpu/gd32v: add periph_pwm support
  boards/common/gd32v/include/cfg_timer_default.h
  boards/seeedstudio-gd32/Kconfig
  boards/seeedstudio-gd32/Makefile.features
  boards/seeedstudio-gd32/doc.txt
  boards/seeedstudio-gd32/include/periph_conf.h
  boards/sipeed-longan-nano/Kconfig
  boards/sipeed-longan-nano/Makefile.features
  boards/sipeed-longan-nano/doc.txt
  boards/sipeed-longan-nano/include/periph_conf.h
  cpu/gd32v/include/periph_cpu.h
  cpu/gd32v/periph/pwm.c
  cpu/gd32v/periph/timer.c
  dist/tools/doccheck/generic_exclude_patterns
Labels: Area: doc, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: Kconfig

#19206 doc/porting-boards.md: fix code snippets in md view
  doc/doxygen/src/porting-boards.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#19211 cpu/gd32v: move board dependent RTT configs to board config
  boards/common/gd32v/include/periph_common_conf.h
  cpu/gd32v/include/periph_cpu.h
  dist/tools/doccheck/generic_exclude_patterns
Labels: Type: bug, CI: ready for build, Area: tools, Area: boards, Area: cpu

#19217 drivers/at86rf2xx: set netdev channel on init
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Impact: minor, Area: drivers, CI: ready for build, Process: needs backport

#19218 drivers/at86rf2xx: set netdev channel on init [backport 2023.01]
  drivers/at86rf2xx/at86rf2xx_netdev.c
Labels: Impact: minor, Area: drivers, CI: ready for build, Process: release backport

#19215 tests/periph_flashpage_unittest: enable periph_flashpage
  tests/periph_flashpage_unittest/Makefile
  tests/periph_flashpage_unittest/app.config.test
Labels: Area: tests, CI: ready for build, CI: run tests
