Repository RIOT-OS/RIOT, pull requests merged in 2023-08, with the labels that each got.

#19852 clang floating point handling fix
  tests/pkg/cayenne-lpp/main.c
  tests/pkg/lora-serialization/main.c
Labels: Area: tests, CI: ready for build, CI: read for merge train 🚃

#19856 tests/net/gcoap_fileserver: Fix failing nightlies
  tests/net/gcoap_fileserver/tests/01-run.py
Labels: Area: tests, CI: ready for build

#19857 release-notes.txt: add 2023.07 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: needs backport, Process: needs >1 ACK, Process: release cycle, CI: skip compile test

#19879 gh-actions: remove reporting release tests to Matrix
  .github/workflows/release-test.yml
Labels: Type: cleanup, CI: ready for build, Area: CI, CI: skip compile test

#19868 release-notes.txt: add 2023.07 release notes [backport 2023.07]
  VERSION
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, Process: release cycle, CI: skip compile test

#19726 mcufont: Initial addition of MCUFont package
  pkg/mcufont/Kconfig
  pkg/mcufont/Makefile
  pkg/mcufont/Makefile.include
  pkg/mcufont/doc.txt
  pkg/mcufont/mcufont.mk
  tests/pkg/mcufont/Makefile
  tests/pkg/mcufont/Makefile.board.dep
  tests/pkg/mcufont/Makefile.ci
  tests/pkg/mcufont/README.md
  tests/pkg/mcufont/fonts/DejaVuSans12.c
  tests/pkg/mcufont/fonts/DejaVuSans12bw.c
  tests/pkg/mcufont/fonts/fonts.h
  tests/pkg/mcufont/main.c
  tests/pkg/mcufont/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: Kconfig

#19893 pkg/tinyusb: add missing include
  pkg/tinyusb/contrib/tinyusb.c
Labels: Type: bug, Area: pkg, CI: ready for build

#19866 drivers/ft5x06: use a pointer to config parameters instead of copying them
  drivers/ft5x06/ft5x06.c
  drivers/ft5x06/ft5x06_internal.c
  drivers/ft5x06/ft5x06_touch_dev.c
  drivers/include/ft5x06.h
Labels: Type: enhancement, Area: drivers, CI: ready for build

#19901 pkg/lvgl: bump to v8.3.9
  pkg/lvgl/Makefile
Labels: Area: pkg, CI: ready for build

#19867 drivers/ft5x06: introduce conversion for X and Y coordinates
  boards/stm32f723e-disco/include/board.h
  boards/stm32f746g-disco/include/board.h
  dist/tools/doccheck/exclude_simple
  drivers/ft5x06/ft5x06.c
  drivers/ft5x06/include/ft5x06_params.h
  drivers/include/ft5x06.h
Labels: Type: new feature, Area: drivers, CI: ready for build, Area: tools, Area: boards

#19906 netdev/ieee802154_submac: support setting promiscuous mode option
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
Labels: Type: bug, Area: drivers, CI: ready for build

#19904 cpu/stm32: bump cmsis packages version
  cpu/stm32/Makefile.cmsis
  cpu/stm32/include/vendor/patches/u5/0001-stm32u5xx-remove-ErrorStatus.patch
  cpu/stm32/periph/ptp.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, CI: no fast fail

#19880 drivers/ft5x06: fix initialization if callback function parameter is NULL
  drivers/ft5x06/ft5x06.c
  tests/drivers/ft5x06/Makefile
  tests/drivers/ft5x06/README.md
  tests/drivers/ft5x06/main.c
Labels: Type: bug, Area: doc, Area: tests, Area: drivers, CI: ready for build

#19882 tests/drivers/touch_dev: allow to test a touch device in polling mode
  tests/drivers/touch_dev/Makefile
  tests/drivers/touch_dev/README.md
  tests/drivers/touch_dev/main.c
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build

#19885 drivers/stmpe811: changes for interrupt-driven touch handling and gesture recognition
  drivers/stmpe811/Makefile.include
  drivers/stmpe811/stmpe811.c
  makefiles/driver_with_touch_dev.mk
Labels: Type: enhancement, Area: build system, Area: drivers, CI: ready for build
