Repository RIOT-OS/RIOT, pull requests merged in 2024-10, with the labels that each got.

#20873 makefiles/arch/native: don't be pedantic
  makefiles/arch/native.inc.mk
Labels: Platform: native, Area: build system, CI: ready for build, Process: needs >1 ACK

#20566 build system: document `riotbuild.h` and deprecated `RIOT_MCU`
  dist/tools/genconfigheader/genconfigheader.sh
  dist/tools/genconfigheader/riotbuild-prefix.h.in
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build, Area: tools

#20871 dist/tools/bootterm: bump to 0.5
  dist/tools/bootterm/Makefile
Labels: CI: ready for build, Area: tools, CI: skip compile test

#20883 examples/lorawan: drop crazy STM32 hack
  examples/lorawan/main.c
Labels: Type: bug, CI: ready for build, Area: examples

#20884 boards/common/arduino-zero: Add Arudino SPI mapping
  boards/common/arduino-zero/include/arduino_iomap.h
  boards/common/arduino-zero/include/periph_conf.h
Labels: Type: bug, Type: new feature, CI: ready for build, Area: boards

#20838 examples/gcoap-rust: Expose more functionality
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/Makefile
  examples/rust-gcoap/Makefile.ci
  examples/rust-gcoap/README.md
  examples/rust-gcoap/src/lib.rs
Labels: Area: doc, CI: ready for build, Area: examples

#20880 gnrc_lorawan: Ensure minimal packet length
  sys/net/gnrc/link_layer/lorawan/gnrc_lorawan_mcps.c
Labels: Type: bug, Area: network, CI: ready for build, Area: LoRa, Area: sys

#20885 drivers: Add shield_llcc68 module
  drivers/Makefile.dep
  drivers/doc.txt
  drivers/sx126x/include/sx126x_params.h
  makefiles/pseudomodules.inc.mk
Labels: Area: doc, Area: build system, Type: new feature, Area: drivers, CI: ready for build, Area: LoRa

#20888 makefiles/docker: Update docker image
  makefiles/docker.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build

#20882 net/dhcpv6: Improve option parsing in dhcpv6 advertise
  sys/net/application_layer/dhcpv6/client.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#20881 bluetil: Ensure advertisement length does not exceed pkt len
  sys/net/ble/bluetil/bluetil_ad/bluetil_ad.c
Labels: Type: bug, Area: network, CI: ready for build, Area: BLE, Area: sys

#20887 static_tests: Add test for Rust code formatting rules
  dist/tools/cargo-checks/check.sh
  dist/tools/ci/static_tests.sh
  drivers/lsm303agr/src/lib.rs
  examples/rust-async/src/lib.rs
  examples/rust-gcoap/src/lib.rs
  examples/rust-hello-world/src/lib.rs
  sys/shell/democommands/src/lib.rs
  tests/rust_minimal/src/lib.rs
Labels: Area: tests, Area: drivers, CI: ready for build, Area: tools, Area: sys, Area: examples

#20892 gh-actions: bump deprecated packages
  .github/workflows/release-test.yml
  .github/workflows/test-on-iotlab.yml
  .github/workflows/tools-test.yml
Labels: Type: cleanup, CI: ready for build, Area: CI, CI: skip compile test

#20890 core/mutex: use thread_yield_higher() in mutex_unlock()
  core/mutex.c
Labels: Type: bug, Area: core, CI: ready for build

#20845 boards/nucleo-l432kc: enable CAN support
  boards/nucleo-l432kc/Makefile.features
  cpu/stm32/include/can_params.h
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20893 treewide: clean up remnants of THREAD_CREATE_STACKTEST
  core/include/thread.h
  sys/net/application_layer/gcoap/forward_proxy_thread.c
  tests/sys/shell/main.c
Labels: Area: network, Area: tests, Area: core, Impact: minor, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20895 Makefile: add .DEFAULT target to further guide new users
  Makefile
Labels: Area: build system, CI: ready for build

#20896 doc/doxygen: print link to generated documentation
  doc/doxygen/Makefile
Labels: Area: doc, CI: ready for build

#20898 cpu/samd5x/periph_cph.h: drop non-UTF-8 chars
  cpu/samd5x/include/periph_cpu.h
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu, CI: skip compile test

#20897 riot.doxyfile: Update and remove deprecated options
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build

#20899 CI: fix true and false positives by newer codespell version
  boards/spark-core/doc.txt
  cpu/esp32/doc.txt
  dist/tools/codespell/ignored_words.txt
  dist/tools/zep_dispatch/main.c
  drivers/at86rf2xx/include/at86rf2xx_internal.h
  drivers/atwinc15x0/doc.txt
  drivers/include/enc28j60.h
  drivers/include/ltc4150.h
  drivers/sdmmc/sdmmc_sdhc.c
  pkg/tlsf/contrib/native.c
  pkg/uwb-core/include/dpl/dpl_eventq.h
  release-notes.txt
  sys/include/shell.h
  sys/net/gnrc/transport_layer/tcp/include/gnrc_tcp_fsm.h
Labels: Area: network, Area: doc, Area: pkg, Area: drivers, CI: ready for build, Area: tools, Area: boards, Platform: ESP, Area: cpu, Area: sys

#20903 cpu/sam0_common/periph_dma: Fix API mismatch
  cpu/sam0_common/periph/dma.c
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20901 pkg/driver_bme680: use mirror of git repo
  pkg/driver_bme680/Makefile
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build

#20902 tree-wide: fix compilation with newlib and GCC 13.2.1
  pkg/tinycbor/patches/0001-fix-pretty-fix-compilation-with-newlib-and-GCC-13.2..patch
  sys/matstat/matstat.c
  tests/unittests/tests-div/tests-div.c
  tests/unittests/tests-frac/tests-frac.c
Labels: Type: bug, Area: tests, Impact: minor, Area: pkg, CI: ready for build, Area: sys

#20904 boards/adafruit-grand-central-m4-express: provide arduino features
  boards/adafruit-grand-central-m4-express/Makefile.features
  boards/adafruit-grand-central-m4-express/include/arduino_iomap.h
  boards/adafruit-grand-central-m4-express/include/periph_conf.h
Labels: Type: new feature, CI: ready for build, Area: boards

#20889 make: export DEVELHELP
  makefiles/vars.inc.mk
Labels: Area: build system, CI: ready for build

#20877 build system: simplify docker image pinning
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/buildsystem_sanity_check/get_dockerhub_digests.py
  makefiles/docker.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Area: tools

#20908 tests/pkg/emlearn: drop model.h from builddep
  tests/pkg/emlearn/Makefile
Labels: Area: tests, Impact: minor, CI: ready for build

#20909 tests/net: add stub test for gcoap_forward_proxy
  sys/net/application_layer/gcoap/forward_proxy.c
  tests/net/gcoap_forward_proxy/Makefile
  tests/net/gcoap_forward_proxy/Makefile.ci
  tests/net/gcoap_forward_proxy/README.md
  tests/net/gcoap_forward_proxy/main.c
Labels: Type: enhancement, Area: network, Area: doc, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#20911 sys/event: add API to start periodic event without initial delay
  sys/event/periodic.c
  sys/include/event/periodic.h
  sys/include/ztimer/periodic.h
  sys/ztimer/periodic.c
  tests/sys/event_ztimer/main.c
Labels: Area: tests, CI: ready for build, Area: timers, Area: sys

#20865 .clang-format: Add default clang-format configuration
  .clang-format
Labels: Type: new feature, CI: ready for build

#20834 gnrc/ipv6/nib: don't queue packets on 6lo neighbors and drop/flush if…
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-arsm.h
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Area: sys

#20914 cpu/esp32: Improve error descriptions
  cpu/cortexm_common/Makefile.features
  cpu/esp32/Makefile.features
  cpu/esp32/Makefile.include
Labels: Type: enhancement, Platform: ARM, CI: ready for build, Platform: ESP, Area: cpu

#20894 pkg/littlefs: make use of RIOT's log module instead of pkg provided macros
  pkg/littlefs/Makefile
  pkg/littlefs/lfs_log.h
  pkg/littlefs/patches/0001-remove-pkg-supplied-logging-macros.patch
  pkg/littlefs2/Makefile
  pkg/littlefs2/lfs_log.h
  tests/pkg/littlefs/Makefile
  tests/pkg/littlefs2/Makefile
Labels: Area: tests, Area: pkg, CI: ready for build

#20917 sys/net/nanocoap: fix UB when building hdr
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#20913 boards/saml10-xpro: enable ATECC508A
  boards/common/saml1x/include/board.h
Labels: Impact: minor, CI: ready for build, Area: boards

#20918 sys/nanocoap: add coap_pkt_set_code()
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/fileserver.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: CoAP, Area: sys

#20920 makefiles: Update docker image
  makefiles/docker.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build, Area: Rust

#20919 treewide: Update Rust dependencies
  examples/rust-async/Cargo.lock
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, CI: run tests, Area: sys, Area: examples, Area: Rust

#20922 boards/nucleo-f722: fix typo in documentation
  boards/nucleo-f722ze/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#20924 sys/ztimer: fix re-scheduling of timers
  sys/ztimer/core.c
Labels: Type: bug, CI: ready for build, Area: timers, Process: needs backport, Area: sys

#20916 sys/event: add event_sync()
  sys/event/event.c
  sys/include/event.h
  tests/sys/events/main.c
Labels: Area: tests, CI: ready for build, Area: sys

#20927 drivers/dht: fix null deref with saul
  drivers/dht/dht.c
  drivers/include/dht.h
  tests/drivers/dht/main.c
Labels: Area: tests, Area: drivers, CI: ready for build

#20931 boards/nucleo64: add pinout source
  boards/nucleo-c031c6/doc.txt
  boards/nucleo-f030r8/doc.txt
  boards/nucleo-f070rb/doc.txt
  boards/nucleo-f072rb/doc.txt
  boards/nucleo-f091rc/doc.txt
  boards/nucleo-f103rb/doc.txt
  boards/nucleo-f302r8/doc.txt
  boards/nucleo-f303re/doc.txt
  boards/nucleo-f334r8/doc.txt
  boards/nucleo-f401re/doc.txt
  boards/nucleo-f410rb/doc.txt
  boards/nucleo-f411re/doc.txt
  boards/nucleo-f446re/doc.txt
  boards/nucleo-g070rb/doc.txt
  boards/nucleo-g071rb/doc.txt
  boards/nucleo-l053r8/doc.txt
  boards/nucleo-l073rz/doc.txt
  boards/nucleo-l152re/doc.txt
  boards/nucleo-l452re/doc.txt
  boards/nucleo-l476rg/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20932 boards/samd5x: GCLK source for ADC must not exceed 100 MHz
  boards/adafruit-grand-central-m4-express/include/periph_conf.h
  boards/adafruit-itsybitsy-m4/include/periph_conf.h
  boards/adafruit-pybadge/include/periph_conf.h
  boards/same54-xpro/include/periph_conf.h
Labels: Type: bug, CI: ready for build, Area: boards

#20935 drivers/periph/gpio: make `gpio_write()` take a bool
  cpu/atmega_common/periph/gpio.c
  cpu/atxmega/periph/gpio.c
  cpu/cc2538/periph/gpio.c
  cpu/cc26xx_cc13xx/periph/gpio.c
  cpu/efm32/periph/gpio.c
  cpu/esp32/periph/gpio.c
  cpu/esp8266/periph/gpio.c
  cpu/fe310/periph/gpio.c
  cpu/gd32v/periph/gpio.c
  cpu/kinetis/periph/gpio.c
  cpu/lm4f120/periph/gpio.c
  cpu/lpc1768/periph/gpio.c
  cpu/lpc23xx/periph/gpio.c
  cpu/msp430/periph/gpio.c
  cpu/native/periph/gpio_linux.c
  cpu/native/periph/gpio_mock.c
  cpu/nrf5x_common/periph/gpio.c
  cpu/qn908x/periph/gpio.c
  cpu/rpx0xx/periph/gpio.c
  cpu/sam0_common/periph/gpio.c
  cpu/sam3/periph/gpio.c
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/gpio_f1.c
  drivers/include/periph/gpio.h
Labels: Platform: native, Platform: MSP, Platform: ARM, Platform: AVR, Type: cleanup, Area: drivers, CI: ready for build, Platform: ESP, Platform: RISC-V, Area: cpu

#20915 gcoap/forward_proxy: handle timeout case
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#20933 gcoap: fix build with IPv4
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: CoAP, Area: sys

#20921 sys/net/app/cord: update doc
  examples/cord_ep/README.md
  examples/cord_epsim/README.md
  examples/cord_lc/README.md
  sys/include/net/cord/ep.h
  sys/include/net/cord/lc.h
  sys/net/application_layer/cord/doc.txt
Labels: Area: network, Area: doc, CI: ready for build, Area: sys, Area: examples

#20936 drivers/periph_gpio: let gpio_read() return bool
  cpu/atmega_common/periph/gpio.c
  cpu/atxmega/periph/gpio.c
  cpu/cc2538/periph/gpio.c
  cpu/cc26xx_cc13xx/periph/gpio.c
  cpu/efm32/periph/gpio.c
  cpu/esp32/periph/gpio.c
  cpu/esp8266/periph/gpio.c
  cpu/fe310/periph/gpio.c
  cpu/gd32v/periph/gpio.c
  cpu/kinetis/periph/gpio.c
  cpu/lm4f120/periph/gpio.c
  cpu/lpc1768/periph/gpio.c
  cpu/lpc23xx/periph/gpio.c
  cpu/msp430/periph/gpio.c
  cpu/native/periph/gpio_linux.c
  cpu/native/periph/gpio_mock.c
  cpu/nrf5x_common/periph/gpio.c
  cpu/qn908x/periph/gpio.c
  cpu/rpx0xx/periph/gpio.c
  cpu/sam0_common/periph/gpio.c
  cpu/sam3/periph/gpio.c
  cpu/stm32/periph/gpio_all.c
  cpu/stm32/periph/gpio_f1.c
  drivers/dht/dht.c
  drivers/epd_bw_spi/epd_bw_spi.c
  drivers/include/periph/gpio.h
  drivers/lm75/lm75.c
  examples/rust-async/Cargo.lock
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Platform: native, Platform: MSP, Platform: ARM, Area: tests, Platform: AVR, Process: API change, Area: drivers, CI: ready for build, Platform: ESP, Platform: RISC-V, Area: cpu, Process: needs >1 ACK, Area: sys, Area: examples

#20847 sys/event: add assertion that event has a handler
  examples/twr_aloha/control.c
  sys/event/event.c
  sys/include/event/callback.h
  sys/include/event/periodic_callback.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#20943 sys/luid: luid_custom() use fixed width int
  sys/include/luid.h
  sys/luid/luid.c
Labels: Process: API change, CI: ready for build, Area: sys

#20944 sys/usb: Use luid_base for stable USB serials
  sys/usb/usbus/usbus.c
Labels: Type: enhancement, CI: ready for build, Area: USB, Area: sys

#20934 sys/posix/pthread: Add pthread_attr_getstack and pthread_attr_setstack
  sys/posix/pthread/include/pthread_threading_attr.h
  sys/posix/pthread/pthread_attr.c
Labels: CI: ready for build, Area: sys
