Repository RIOT-OS/RIOT, pull requests merged in 2024-03, with the labels that each got.

#20439 examples/filesystem: Update README and increase default stack size
  examples/filesystem/Makefile
  examples/filesystem/README.md
Labels: Area: doc, CI: ready for build, Area: examples, CI: skip compile test

#20443 doc: doxygen: add "Topics" to menus
  dist/tools/doccheck/exclude_simple
  doc/doxygen/RIOTDoxygenLayout.xml
Labels: Area: doc, CI: ready for build, Area: tools, CI: skip compile test

#20442 doc: replace obsolete xitter link with mastodon link
  README.md
  doc/doxygen/src/mainpage.md
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build

#20444 boards/nucleo-u575zi-q: Add support
  boards/common/nucleo144/include/board.h
  boards/nucleo-u575zi-q/Makefile
  boards/nucleo-u575zi-q/Makefile.dep
  boards/nucleo-u575zi-q/Makefile.features
  boards/nucleo-u575zi-q/Makefile.include
  boards/nucleo-u575zi-q/doc.txt
  boards/nucleo-u575zi-q/include/periph_conf.h
  cpu/stm32/periph/uart.c
Labels: Platform: ARM, Area: doc, CI: ready for build, Area: boards, Area: cpu

#20441 build system: drop bogus periph_init_gpio_ll* modules
  makefiles/features_modules.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#20445 tests: exit `native` with error value on failure
  core/lib/init.c
  cpu/native/native_cpu.c
  sys/embunit/TestRunner.c
  sys/include/embUnit/TestRunner.h
  tests/Makefile.tests_common
  tests/sys/pthread_condition_variable/Makefile
  tests/unittests/Makefile
  tests/unittests/main.c
Labels: Platform: native, Area: tests, Area: core, CI: ready for build, Area: cpu, Area: sys

#20448 cpu/sam0_common: RTC: avoid negative month after POR
  cpu/sam0_common/periph/rtc_rtt.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#20449 cpu/sam0_common: RTC: avoid negative month after POR
  cpu/sam0_common/periph/rtc_rtt.c
Labels: Platform: ARM, Impact: minor, Type: cleanup, CI: ready for build, Area: cpu

#20446 gnrc/ipv6_auto_subnets: clarify documentation
  sys/net/gnrc/routing/ipv6_auto_subnets/gnrc_ipv6_auto_subnets.c
Labels: Area: network, Area: doc, Impact: minor, CI: ready for build, Area: sys, CI: skip compile test

#20400 Makefile.{include,base},pkg/nanopb: fix target deps & code generation
  Makefile.base
  Makefile.include
  pkg/nanopb/Makefile.gensrc
Labels: Area: build system, Area: pkg, CI: ready for build

#20458 tests: Cover API of scn_u32_hex in the unittest
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build

#20461 examples/psa_crypto: Fix modules to run ECDSA on SEs
  examples/psa_crypto/main.c
Labels: CI: ready for build, Area: examples

#20463 tests: Add cases to the scn_u32_hex unittest
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build

#20465 tests/sys/psa_crypto_se*: add arduino leonardo to board insufficient memory list
  tests/sys/psa_crypto_se_ecdsa/Makefile.ci
  tests/sys/psa_crypto_se_mac/Makefile.ci
Labels: Area: tests, Impact: minor, CI: ready for build, CI: no fast fail

#16204 pkg/wakaama: add Light Control object implementation
  examples/lwm2m/Makefile
  examples/lwm2m/README.md
  examples/lwm2m/lwm2m_cli.c
  pkg/wakaama/Kconfig
  pkg/wakaama/contrib/objects/Kconfig
  pkg/wakaama/contrib/objects/Kconfig.light_control
  pkg/wakaama/contrib/objects/light_control.c
  pkg/wakaama/include/objects/light_control.h
Labels: Area: doc, Type: new feature, Area: pkg, CI: ready for build, Area: examples, Area: Kconfig

#20469 rdm/README: add rdm0003 to the list
  doc/memos/README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20476 nanocoap_sock: add support for IPv4
  sys/include/net/sock/udp.h
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#20381 build sytem: add `--no-warn-rwx-segments` to linker
  Makefile.include
  makefiles/libc/picolibc.mk
Labels: Area: build system, CI: ready for build

#20281 Refactor tests periph uart
  tests/periph/uart/main.c
Labels: Area: tests, CI: ready for build

#20477 examples/default: drop unused #include
  examples/default/main.c
Labels: Impact: minor, CI: ready for build, Area: examples

#20475 sys/usbus: answer get_status if request is standard type
  sys/usb/usbus/usbus_control.c
Labels: Type: bug, CI: ready for build, Area: USB, Area: sys

#20471 treewide: remove deprecated modules
  makefiles/deprecated_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/pktbuf/Makefile.include
  sys/shell/Makefile.dep
  sys/shell/doc.txt
  tests/core/sched_change_priority/Makefile
Labels: Area: network, Area: doc, Area: tests, Area: build system, CI: ready for build, Area: sys, Process: removal

#20473 cpu/rpx0xx: add initial pwm support
  boards/rpi-pico/Kconfig
  boards/rpi-pico/Makefile.features
  boards/rpi-pico/include/periph_conf.h
  cpu/rpx0xx/include/periph_cpu.h
  cpu/rpx0xx/periph/pwm.c
Labels: CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#20464 core/lib/cib: add new functionality
  core/lib/include/cib.h
  tests/unittests/tests-core/tests-core-cib.c
Labels: Area: tests, Area: core, CI: ready for build, Process: needs >1 ACK

#20048 net/sock_dtls: add public key verification
  examples/dtls-sock/Makefile
  examples/dtls-sock/README.md
  examples/dtls-sock/dtls-client.c
  examples/dtls-sock/dtls-server.c
  examples/dtls-sock/dtls_client_credentials.h
  examples/dtls-sock/dtls_server_credentials.h
  examples/dtls-sock/tinydtls_keys.h
  makefiles/pseudomodules.inc.mk
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock/dtls.h
Labels: Area: network, Area: doc, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: sys, Area: examples

#20407 drivers/rgbled: Remove driver
  drivers/Kconfig
  drivers/include/rgbled.h
  drivers/rgbled/Kconfig
  drivers/rgbled/Makefile
  drivers/rgbled/Makefile.dep
  drivers/rgbled/rgbled.c
Labels: Area: drivers, CI: ready for build, Area: Kconfig, Process: removal

#20481 doc/doxygen/src/getting-started.md: fix broken link
  doc/doxygen/src/getting-started.md
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build

#20482 .murdock: document TESTS_BOARDS_LLVM_COMPILE
  .murdock
Labels: Type: bug, Impact: minor, CI: ready for build, Area: CI, CI: skip compile test

#15485 mbox: provide function to unset initialized mbox
  core/include/mbox.h
  pkg/lwip/include/arch/sys_arch.h
Labels: Type: enhancement, Area: network, Area: core, Area: pkg, CI: ready for build

#20486 drivers/mtd_flashpage: fix comperror when compiling without asserts
  drivers/mtd_flashpage/mtd_flashpage.c
Labels: Impact: minor, Area: drivers, CI: ready for build

#20191 nanocoap: introduce coap_get_method()
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/fileserver.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20483 sys/tiny_strerror: fix compilation on LLVM
  sys/tiny_strerror/tiny_strerror.c
Labels: CI: ready for build, Area: sys

#20488 periph_usbdev: remove deprecated event flag
  cpu/sam0_common/periph/usbdev.c
  drivers/include/periph/usbdev.h
Labels: Platform: ARM, Area: drivers, CI: ready for build, Area: cpu, Process: removal

#18870 llvm: Fix unused function warning
  cpu/stm32/cpu_init.c
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20487 dist/tools/dhcpv6-pd_ia: recognize Debian correctly
  dist/tools/dhcpv6-pd_ia/pkg/__init__.py
Labels: CI: ready for build, Area: tools

#20489 Rust updates for 2024.04
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, CI: run tests, Area: sys, Area: examples, Area: Rust

#20490 codeowners: Notify chrysn on Rust PRs
  CODEOWNERS
Labels: Impact: minor, CI: ready for build

#20467 cpu/stm32/periph/usbdev_fs: avoid using ztimer when not needed
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/usbdev_fs.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20491 doxygen: added vision.md imported from Wiki
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/vision.md
Labels: Area: doc, CI: ready for build

#17554 examples/rust-gcoap: Add SAUL
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/Makefile
  examples/rust-gcoap/Makefile.ci
  examples/rust-gcoap/src/lib.rs
Labels: Type: new feature, CI: ready for build, Area: examples, Area: Rust

#20496 doxygen: added community processes (import from Wiki)
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/community-processes.md
Labels: Area: doc, CI: ready for build

#20479 cpu/stm32/periph/gpio: simplify condition code
  cpu/stm32/periph/gpio_all.c
Labels: Platform: ARM, CI: ready for build, Area: cpu, CI: full build

#20495 cpu/stm32: remove redundant conditional compile block
  cpu/stm32/include/clk/c0/cfg_clock_default.h
  cpu/stm32/include/clk/cfg_clock_common_fx_gx_mp1_c0.h
  cpu/stm32/include/clk/cfg_clock_common_lx_u5_wx.h
  cpu/stm32/include/clk/clk_conf.h
  cpu/stm32/include/clk/f0f1f3/cfg_clock_default.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_100.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_120.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_180.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_216.h
  cpu/stm32/include/clk/f2f4f7/cfg_clock_default_84.h
  cpu/stm32/include/clk/g0g4/cfg_clock_default.h
  cpu/stm32/include/clk/l0l1/cfg_clock_default.h
  cpu/stm32/include/clk/l4l5wx/cfg_clock_default.h
  cpu/stm32/include/clk/mp1/cfg_clock_default.h
  cpu/stm32/include/clk/u5/cfg_clock_default.h
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20499 nanocoap: allow token to be const in coap_build_hdr()
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20500 tests/unittests/README: link to Supported Boards updated (wiki -> site)
  tests/unittests/README.md
Labels: Area: doc, Area: tests, CI: ready for build

#20485 treewide: remove deprecated shell_commands module
  examples/default/README.md
  makefiles/deprecated_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  pkg/nimble/Makefile.dep
  pkg/openwsn/Makefile.dep
  sys/Makefile.dep
  sys/shell/cmds/nice.c
  sys/shell/doc.txt
  tests/sys/shell/ReadMe.txt
Labels: Area: network, Area: doc, Area: tests, Area: build system, Area: pkg, CI: ready for build, Area: BLE, Area: sys, Area: examples, Process: removal

#20502 boards/nucleo-c031c6: fix ADC and enhance doc
  boards/nucleo-c031c6/doc.txt
  boards/nucleo-c031c6/include/periph_conf.h
Labels: Area: doc, CI: ready for build, Area: boards

#20363 Monitoring malloc usage
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/include/malloc_monitor.h
  sys/include/malloc_monitor_internal.h
  sys/malloc_monitor/Kconfig
  sys/malloc_monitor/Makefile
  sys/malloc_monitor/Makefile.dep
  sys/malloc_monitor/doc.txt
  sys/malloc_monitor/malloc_monitor.c
  sys/malloc_thread_safe/Kconfig
  sys/malloc_thread_safe/doc.txt
  sys/malloc_thread_safe/malloc_wrappers.c
  tests/sys/malloc_monitor/Makefile
  tests/sys/malloc_monitor/Makefile.ci
  tests/sys/malloc_monitor/main.c
  tests/sys/malloc_monitor/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: sys, Area: Kconfig

#20503 doc/community-process: improve markdown style
  doc/doxygen/src/community-processes.md
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build

#19709 rdm/radio_hal: remove appendix A
  doc/memos/rdm0002.md
  doc/memos/rdm0004.md
Labels: Area: doc, Impact: minor, Type: cleanup, CI: ready for build, Area: RDM, CI: skip compile test

#20506 doc/doxygen: fix name and intro of "Modules" section
  doc/doxygen/RIOTDoxygenLayout.xml
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build

#20498 doc: add graphic to vision page
  doc/doxygen/src/vision.md
  doc/doxygen/src/vision.svg
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#20493 doc: add terminal program configuration
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/terminal-programs.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#16502 sys/net/gnrc: Remove code duplication
  sys/net/gnrc/link_layer/gomach/gomach.c
  sys/net/gnrc/link_layer/lwmac/lwmac.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys

#20478 pkg/tinydtls: enforce the default dtls user params to be configurable
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock/dtls.h
Labels: Area: network, Area: pkg, CI: ready for build, Area: sys

#20507 tools/openocd: define SWD_EN signal for tigard
  makefiles/tools/openocd-adapters/ftdi.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#20460 sys/psa_crypto: use SHA256 CSPRNG as default
  sys/psa_crypto/Makefile.dep
  tests/sys/psa_crypto_hashes/Makefile.ci
Labels: Area: tests, CI: ready for build, Area: sys

#20508 core: Guard pm_set_lowest with module_periph_pm
  core/lib/init.c
Labels: Area: core, Impact: minor, CI: ready for build, Process: needs >1 ACK

#19005 tests/shell: add test for preemption
  tests/sys/shell/Makefile
  tests/sys/shell/Makefile.ci
  tests/sys/shell/main.c
  tests/sys/shell/tests/01-run.py
Labels: Area: tests, CI: ready for build

#20517 tests/rsut_libs: add missing dependency
  tests/rust_libs/Makefile
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build, CI: high priority

#20504 driver/lsm6dsxx: Allow generic LSM6DSXX driver
  dist/tools/doccheck/exclude_simple
  drivers/include/lsm6dsxx.h
  drivers/lsm6dsxx/include/lsm6dsxx_internal.h
  drivers/lsm6dsxx/lsm6dsxx.c
  makefiles/tools/usb_board_reset.mk
  tests/drivers/lsm6dsxx/Makefile
  tests/drivers/lsm6dsxx/tests-with-config/01-run.py
Labels: Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: tools

#20511 doc: Allow resizing of doxygen side-nav
  doc/doxygen/src/js/riot-doxy.js
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#20512 gnrc_mac / gnrc_lwmac / gnrc_gomach: Deprecate modules
  makefiles/deprecated_modules.inc.mk
  pkg/opendsme/include/opendsme/opendsme.h
  sys/include/net/gnrc/gomach/gomach.h
  sys/include/net/gnrc/lwmac/lwmac.h
  sys/include/net/gnrc/mac/mac.h
  sys/include/net/gnrc/nettype.h
Labels: Type: enhancement, Area: network, Area: doc, Area: build system, Area: pkg, Type: cleanup, CI: ready for build, Area: sys, Process: deprecation

#20514 gcoap: make gcoap_req_send_tl() an alias of gcoap_req_send()
  examples/gcoap/client.c
  sys/include/net/gcoap.h
  sys/net/application_layer/cord/ep/cord_ep.c
  sys/net/application_layer/cord/epsim/cord_epsim.c
  sys/net/application_layer/cord/lc/cord_lc.c
  sys/net/application_layer/gcoap/dns.c
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: network, Type: cleanup, Process: API change, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#20516 doc: fix switched rows in board selection guide
  boards/doc.txt
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#20357 cpu/msp430/f2xx: clean up periph_uart,periph_spi
  boards/olimex-msp430-h2618/include/periph_conf.h
  boards/z1/include/periph_conf.h
  cpu/msp430/Makefile.features
  cpu/msp430/include/f2xx_g2xx/msp430_regs.h
  cpu/msp430/include/f2xx_g2xx/periph_cpu.h
  cpu/msp430/periph/Makefile
  cpu/msp430/periph/spi_usci.c
  cpu/msp430/periph/uart_usci.c
  cpu/msp430/periph/usci.c
  examples/gnrc_lorawan/Makefile.ci
  examples/suit_update/Makefile.ci
  tests/drivers/bme680/Makefile.ci
  tests/net/gnrc_ndp/Makefile.ci
  tests/net/gnrc_rpl_p2p/Makefile.ci
  tests/net/gnrc_sock_udp/Makefile.ci
  tests/pkg/fatfs_vfs/Makefile.ci
  tests/pkg/u8g2/Makefile.ci
  tests/riotboot_flashwrite/Makefile.ci
  tests/sys/bloom_bytes/Makefile.ci
  tests/sys/conn_can/Makefile.ci
  tests/sys/ps_schedstatistics/Makefile.ci
  tests/sys/suit_manifest/Makefile.ci
Labels: Platform: MSP, Area: tests, Type: cleanup, CI: ready for build, Area: boards, Area: cpu, Area: examples

#20515 gnrc_netif: remove deprecated CONFIG_GNRC_NETIF_LORAWAN_NETIF_HDR
  examples/gnrc_lorawan/Makefile
  examples/gnrc_lorawan/app.config
  makefiles/deprecated_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  sys/include/net/gnrc/netif/lorawan.h
  sys/include/net/gnrc/nettype.h
  sys/net/gnrc/Makefile.dep
  sys/net/gnrc/netif/Kconfig
  sys/net/gnrc/netif/lorawan/gnrc_netif_lorawan.c
  sys/net/gnrc/pktdump/gnrc_pktdump.c
Labels: Area: network, Area: build system, Type: cleanup, CI: ready for build, Area: sys, Area: examples, Area: Kconfig, Process: deprecation

#20518 gcoap: fix code quality defects
  sys/include/net/gcoap.h
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: sys

#19736 cpu/samd5x write can driver
  boards/same54-xpro/Makefile.features
  boards/same54-xpro/include/board.h
  boards/same54-xpro/include/periph_conf.h
  cpu/samd5x/Makefile.dep
  cpu/samd5x/Makefile.features
  cpu/samd5x/include/can_params.h
  cpu/samd5x/include/candev_samd5x.h
  cpu/samd5x/include/periph_cpu.h
  cpu/samd5x/periph/can.c
  dist/tools/doccheck/exclude_simple
  drivers/mcp2515/Makefile.dep
  features.yaml
  makefiles/features_existing.inc.mk
  makefiles/features_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  sys/auto_init/can/auto_init_periph_can.c
  sys/include/can/can.h
  tests/drivers/candev/Makefile.board.dep
  tests/drivers/candev/main.c
Labels: Platform: ARM, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: sys

#20520 boards/nucleo-c031c6: add PWM configuration
  boards/nucleo-c031c6/Makefile.features
  boards/nucleo-c031c6/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#20431 cpu/native: add gpio-mock
  cpu/native/include/periph_cpu.h
  cpu/native/periph/gpio_mock.c
  cpu/native/periph/qdec.c
Labels: Platform: native, CI: ready for build, Area: cpu, Reviewed: 2-code-design, Reviewed: 4-code-style, Reviewed: 5-documentation

#20522 Avoid using egrep
  dist/tools/eclipsesym/cmdline2xml.sh
Labels: CI: ready for build, Area: tools
