Repository RIOT-OS/RIOT, pull requests merged in 2024-04, with the labels that each got.

#20521 cpu/stm32u5: Enable rtc support
  boards/b-u585i-iot02a/Makefile.features
  boards/nucleo-u575zi-q/Makefile.features
  cpu/stm32/periph/rtc_all.c
  cpu/stm32/periph/rtc_mem.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20526 boards/feather-nrf52840-sense: use generic lsm6dsxx
  boards/feather-nrf52840-sense/Makefile.dep
Labels: CI: ready for build, Area: boards

#20527 sys/checksum: Remove deprecated crc16_ccitt functions
  sys/include/checksum/crc16_ccitt.h
Labels: CI: ready for build, Area: sys

#20528 sys/suit: Remove deprecated suit_coap_run function
  sys/include/suit/transport/coap.h
Labels: CI: ready for build, Area: OTA, Area: sys

#20538 rust: Update riot-wrappers
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Impact: minor, CI: ready for build, Area: sys, Area: examples, Area: Rust

#20530 cpu/stm32: Fix ifdefs in periph_gpio_ll
  cpu/stm32/periph/gpio_ll_irq.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20434 coap: ensure DTLS buffer is at least 200 bytes
  sys/net/application_layer/gcoap/Makefile.include
  sys/net/application_layer/nanocoap/Makefile.include
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#20540 unittests: Move at test to driver tests
  tests/drivers/at_unit/Makefile
  tests/drivers/at_unit/Makefile.ci
  tests/drivers/at_unit/tests-at.c
  tests/unittests/tests-at/Makefile
  tests/unittests/tests-at/tests-at.h
Labels: Area: tests, CI: ready for build, CI: run tests

#20547 cord_lc: Process truncated reads
  sys/net/application_layer/cord/lc/cord_lc.c
Labels: Area: network, CI: ready for build, Area: sys

#20548 tests/sys/shell: increase the stack size of periodic thread
  tests/sys/shell/Makefile.ci
  tests/sys/shell/main.c
Labels: Area: tests, CI: ready for build, CI: run tests

#20546 sys/shell/doc: Shell access is root access
  sys/include/shell.h
Labels: CI: ready for build, Process: needs >1 ACK, Area: sys

#20552 cord_lc: Process truncated reads [backport 2024.01]
  sys/net/application_layer/cord/lc/cord_lc.c
Labels: Area: network, CI: ready for build, Process: release backport, Area: sys

#20551 tests/drivers/at_unit: fix unit tests on native
  tests/drivers/at_unit/test_all_configs.sh
  tests/drivers/at_unit/tests-at.c
Labels: Type: bug, Area: tests, CI: ready for build

#20553 boards/feather-nrf52840-sense: Add WS281X_PARAM_PIN
  boards/feather-nrf52840-sense/include/board.h
Labels: Impact: minor, CI: ready for build, Area: boards

#20555 pkg/nimble: Ignore bogus adv. during scan
  pkg/nimble/scanlist/nimble_scanlist.c
Labels: Impact: minor, Area: pkg, CI: ready for build, Area: BLE

#20560 cpu/nrf9160: fix GPIOTE ISR
  boards/nrf9160dk/include/board.h
  cpu/nrf9160/vectors/vectors_nrf9160.c
Labels: CI: ready for build, Area: boards, Area: cpu

#20558 sys/isrpipe/read_timeout: don't set up timer if data is available
  sys/isrpipe/read_timeout/read_timeout.c
Labels: CI: ready for build, Area: sys

#20541 shell/doc: Point users who run into shell buffer issues to the stdin buffer
  sys/include/shell.h
Labels: Area: doc, Impact: minor, CI: ready for build, Area: sys

#20556 boards/nucleo-f767zi: doc update
  boards/nucleo-f767zi/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#20559 sys/suit: return error when URL buffer is too small
  sys/suit/handlers_command_seq.c
Labels: CI: ready for build, Area: OTA, Area: sys

#19519 boards/cpu: Add GBA boot support to RIOT
  boards/gba_cartridge/Kconfig
  boards/gba_cartridge/Makefile
  boards/gba_cartridge/Makefile.features
  boards/gba_cartridge/Makefile.include
  boards/gba_cartridge/doc.txt
  boards/gba_cartridge/include/board.h
  boards/gba_cartridge/include/periph_conf.h
  cpu/arm7_common/include/arm_cpu.h
  cpu/arm7tdmi_gba/Makefile
  cpu/arm7tdmi_gba/Makefile.default
  cpu/arm7tdmi_gba/Makefile.dep
  cpu/arm7tdmi_gba/Makefile.features
  cpu/arm7tdmi_gba/Makefile.include
  cpu/arm7tdmi_gba/cartridge_header.s
  cpu/arm7tdmi_gba/cpu.c
  cpu/arm7tdmi_gba/doc.txt
  cpu/arm7tdmi_gba/include/cpu.h
  cpu/arm7tdmi_gba/include/cpu_conf.h
  cpu/arm7tdmi_gba/include/periph_cpu.h
  cpu/arm7tdmi_gba/include/periph_gba.h
  cpu/arm7tdmi_gba/ldscripts/arm7tdmi_gba.ld
  cpu/arm7tdmi_gba/startup.s
  cpu/arm7tdmi_gba/stdio_fb/Makefile
  cpu/arm7tdmi_gba/stdio_fb/font_terminal.h
  cpu/arm7tdmi_gba/stdio_fb/stdio_fb.c
  cpu/lpc23xx/include/cpu.h
  examples/javascript/Makefile.ci
  features.yaml
  makefiles/features_existing.inc.mk
  makefiles/stdio.inc.mk
  tests/drivers/mtd_flashpage/Makefile.ci
Labels: Platform: ARM, Area: doc, Area: tests, Area: build system, CI: ready for build, Area: boards, Area: cpu, Area: examples, Area: Kconfig

#19849 sys/shell/lwip: add IPv4 configuration to lwip ifconfig command
  sys/shell/cmds/lwip_netif.c
Labels: CI: ready for build, Area: sys

#20565 gcoap: update the example reference
  sys/include/net/gcoap.h
Labels: Area: network, Area: doc, Impact: minor, CI: ready for build, Area: sys, CI: skip compile test

#20569 tree wide: add `IWYU pragma: export` where needed
  core/include/thread.h
  core/lib/include/irq.h
  drivers/include/periph/gpio_ll.h
  drivers/include/periph/timer.h
  sys/include/architecture.h
  sys/include/atomic_utils.h
  sys/include/flash_utils.h
Labels: Type: enhancement, Area: core, Impact: minor, Area: drivers, CI: ready for build, Area: sys

#20574 cpu/msp430/periph_timer: fix timer_query_freqs()
  cpu/msp430/periph/timer.c
  tests/periph/timer/main.c
Labels: Type: bug, Platform: MSP, Area: tests, Impact: minor, CI: ready for build, Process: needs backport, Area: cpu

#20571 cpu/msp430/periph_timer: add a static_assert() for clear mask
  cpu/msp430/periph/timer.c
Labels: Platform: MSP, Impact: minor, CI: ready for build, Area: cpu

#20575 boards/olimex-msp430-h2618: fix ztimer config
  boards/olimex-msp430-h2618/include/board.h
Labels: Type: bug, Impact: minor, CI: ready for build, Process: needs backport, Area: boards

#20561 net/gcoap: Fix typo, replacing _uri with _proxy
  sys/net/application_layer/gcoap/dns.c
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: CoAP, Area: sys

#20572 cpu/msp430/periph_uart: Fix uart_write() for USCI peripheral
  cpu/msp430/periph/uart_usci.c
Labels: Type: bug, Platform: MSP, CI: ready for build, Process: needs backport, Area: cpu

#20384 treewide: Rust updates [backport 2024.01]
  drivers/lsm303agr/Cargo.toml
  drivers/lsm303agr/Makefile.dep
  drivers/lsm303agr/src/lib.rs
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/src/lib.rs
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Area: drivers, CI: ready for build, Process: release backport, Area: sys, Area: examples, Area: Rust

#20567 cpu/esp8266: fix doxygen unbalanced grouping
  cpu/esp8266/include/periph_cpu.h
  dist/tools/doccheck/exclude_simple
Labels: Impact: minor, CI: ready for build, Area: tools, Platform: ESP, Area: cpu, CI: skip compile test

#20513 sys/vfs: use atomic_utils rather C11 atomics
  sys/include/vfs.h
  sys/vfs/vfs.c
  tests/unittests/tests-vfs/tests-vfs-file-system-ops.c
Labels: Area: tests, CI: ready for build, Area: sys

#20577 ble/skald: Always enforce URL length check
  sys/net/ble/skald/skald_eddystone.c
Labels: Area: network, Impact: minor, CI: ready for build, Area: BLE, Area: sys

#20579 sys/net/gcoap/forward_proxy: clean up code
  sys/net/application_layer/gcoap/forward_proxy.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#18093 periph/flashpage: remove deprecated flashpage_*_free functions
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/cortexm_common/periph/flashpage.c
  cpu/lpc23xx/ldscripts/lpc23xx.ld
  cpu/lpc23xx/periph/flashpage.c
  cpu/msp430/ldscripts/msp430_common.ld
  cpu/msp430/periph/flashpage.c
  cpu/native/periph/flashpage.c
  cpu/riscv_common/ldscripts/riscv_base.ld
  cpu/riscv_common/periph/flashpage.c
  drivers/include/periph/flashpage.h
  tests/periph/flashpage/main.c
Labels: Platform: native, Platform: MSP, Platform: ARM, Area: tests, Area: drivers, CI: ready for build, CI: run tests, Platform: RISC-V, Area: cpu

#20585 boards/stm32f4discovery: update and clean up doc
  boards/stm32f4discovery/doc.txt
Labels: Type: bug, Area: doc, Impact: minor, Type: cleanup, CI: ready for build, Area: boards

#20099 sys/psa_crypto: Implement persistent key storage
  sys/include/psa_crypto/psa/crypto.h
  sys/psa_crypto/Makefile
  sys/psa_crypto/Makefile.dep
  sys/psa_crypto/doc.txt
  sys/psa_crypto/include/psa_crypto_cbor_encoder.h
  sys/psa_crypto/include/psa_crypto_persistent_storage.h
  sys/psa_crypto/include/psa_crypto_slot_management.h
  sys/psa_crypto/psa_crypto.c
  sys/psa_crypto/psa_key_slot_mgmt/psa_crypto_slot_management.c
  sys/psa_crypto/psa_persistent_storage/Makefile
  sys/psa_crypto/psa_persistent_storage/psa_crypto_cbor_encoder.c
  sys/psa_crypto/psa_persistent_storage/psa_crypto_persistent_storage.c
  tests/sys/psa_crypto_cbor_encoder/Makefile
  tests/sys/psa_crypto_cbor_encoder/Makefile.ci
  tests/sys/psa_crypto_cbor_encoder/main.c
  tests/sys/psa_crypto_cbor_encoder/test_psa_crypto_enc_dec_keypair.c
  tests/sys/psa_crypto_cbor_encoder/test_psa_crypto_enc_dec_prot_key.c
  tests/sys/psa_crypto_cbor_encoder/test_psa_crypto_enc_dec_single_key.c
  tests/sys/psa_crypto_cbor_encoder/tests/01-run.py
  tests/sys/psa_crypto_cbor_encoder/tests_psa_cbor_enc_dec.h
  tests/sys/psa_crypto_persistent_storage/Makefile
  tests/sys/psa_crypto_persistent_storage/main.c
  tests/sys/psa_crypto_persistent_storage/test_psa_crypto_fail_overwrite_persistent_key.c
  tests/sys/psa_crypto_persistent_storage/test_psa_crypto_store_persistent_asym_keypair.c
  tests/sys/psa_crypto_persistent_storage/test_psa_crypto_store_persistent_single_key.c
  tests/sys/psa_crypto_persistent_storage/tests/01-run.py
  tests/sys/psa_crypto_persistent_storage/tests_psa_persistent_storage.h
Labels: Area: doc, Area: tests, CI: ready for build, Area: sys

#20562 drivers/ws281x: Add saul support
  boards/feather-nrf52840-sense/Makefile.dep
  boards/feather-nrf52840-sense/include/board.h
  drivers/saul/init_devs/auto_init_ws281x.c
  drivers/saul/init_devs/init.c
  drivers/ws281x/Makefile
  drivers/ws281x/Makefile.dep
  drivers/ws281x/include/ws281x_params.h
  drivers/ws281x/ws281x_saul.c
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, Area: drivers, CI: ready for build, Area: boards, Area: SAUL, Area: sys, Area: examples

#20588 drivers/at24cxxx: Add M24C01 device and enhance documentation
  drivers/Makefile.dep
  drivers/at24cxxx/Makefile.include
  drivers/at24cxxx/include/at24cxxx_defines.h
  drivers/at24cxxx/include/at24cxxx_params.h
  drivers/include/at24cxxx.h
Labels: Type: enhancement, Area: drivers, CI: ready for build

#20334 sys/psa_crypto: ed25519 private key {ex,im}port
  pkg/c25519/psa_c25519/edsign.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/ecc_ed25519.c
  sys/include/psa_crypto/psa/crypto_sizes.h
  sys/psa_crypto/include/psa_crypto_algorithm_dispatch.h
  sys/psa_crypto/include/psa_ecc.h
  sys/psa_crypto/psa_crypto.c
  sys/psa_crypto/psa_crypto_algorithm_dispatch.c
  sys/psa_crypto/psa_crypto_location_dispatch.c
  tests/sys/psa_crypto/Makefile
  tests/sys/psa_crypto/Makefile.ci
  tests/sys/psa_crypto/main.c
Labels: Area: tests, Area: pkg, CI: ready for build, Area: sys

#20591 pkg/littlefs2: bump to v2.9.2
  pkg/littlefs2/Makefile
Labels: Area: pkg, CI: ready for build

#20587 drivers/mtd: Add check for interger overflow
  drivers/mtd_emulated/mtd_emulated.c
  tests/pkg/littlefs/Makefile.ci
Labels: Area: tests, Area: drivers, CI: ready for build

#20590 cpu/nrf5x: implement pm_off() for nRF53/9160
  cpu/nrf5x_common/periph/pm.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20593 cpu/samd5x: reword & correct debug output
  cpu/samd5x/periph/can.c
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20594 boards/nucleo-f429zi & f439zi: documentation improvements
  boards/nucleo-f429zi/doc.txt
  boards/nucleo-f439zi/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20140 tests/drivers/at: add check if device is initialized before sending command
  tests/drivers/at/main.c
Labels: Area: tests, CI: ready for build

#20605 boards/doc: Explicitly warn when nRF chips are advertised as NFC supporting
  boards/nrf5340dk-app/doc.txt
  boards/thingy52/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards

#20600 doc/getting-started: add hint for correct access rights on serial device
  doc/doxygen/src/getting-started.md
Labels: Area: doc, CI: ready for build

#20602 cpu/msp430: implement get_caller_pc
  cpu/msp430/include/cpu.h
Labels: Platform: MSP, Type: new feature, Impact: minor, CI: ready for build, Area: cpu

#20599 boards/nRF52xx: correctly set JLINK_DEVICE
  boards/common/nrf52/Makefile.include
  cpu/nrf52/Makefile.include
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20612 tests/sys/psa_crypto: increase timeout
  tests/sys/psa_crypto/tests/01-run.py
Labels: Area: tests, CI: ready for build

#20583 boards/olimex-msp430-h2618: fix ztimer config [backport 2024.04]
  boards/olimex-msp430-h2618/include/board.h
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards, Process: release backport

#20584 cpu/msp430/periph_uart: Fix uart_write() for USCI peripheral [backport 2024.04]
  cpu/msp430/periph/uart_usci.c
Labels: Type: bug, Platform: MSP, CI: ready for build, Process: release backport, Area: cpu

#20580 cpu/msp430/periph_timer: fix timer_query_freqs() [backport 2024.04]
  cpu/msp430/periph/timer.c
  tests/periph/timer/main.c
Labels: Type: bug, Platform: MSP, Area: tests, Impact: minor, CI: ready for build, Process: release backport, Area: cpu

#20611 doc/terminals: add putty and sort terminals
  doc/doxygen/src/terminal-programs.md
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#20614 boards/nucleo144: add pinout diagrams to boards documentation
  boards/nucleo-f207zg/doc.txt
  boards/nucleo-f412zg/doc.txt
  boards/nucleo-f413zh/doc.txt
  boards/nucleo-f429zi/doc.txt
  boards/nucleo-f439zi/doc.txt
  boards/nucleo-f446ze/doc.txt
  boards/nucleo-f722ze/doc.txt
  boards/nucleo-f767zi/doc.txt
  doc/doxygen/src/pinouts/nucleo-f207zg-and-more.svg
  doc/doxygen/src/pinouts/nucleo-f412zg-and-f413zh.svg
  doc/doxygen/src/pinouts/nucleo-f446ze-and-f722ze.svg
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20617 boards/common/stm32: simplify ifdef logic
  boards/common/stm32/include/cfg_timer_tim2.h
  boards/common/stm32/include/cfg_timer_tim5.h
  boards/common/stm32/include/cfg_timer_tim5_and_tim2.h
Labels: CI: ready for build, Area: boards

#20616 cpu/cortexm: rework bkpt instruction call on panic
  cpu/cortexm_common/panic.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20564 gnrc, nanocoap: add optional work-arounds for buggy CoAP servers
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#20610 doc: fix spelling in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Area: doc, Impact: minor, CI: ready for build

#20595 shell/vfs: Handle print failure in genfile cmd gracefully
  sys/shell/cmds/vfs.c
Labels: CI: ready for build, Area: sys

#20596 cpu/esp: Handle format print errors
  cpu/esp_common/lib_printf.c
Labels: CI: ready for build, Platform: ESP, Area: cpu

#20623 cpu/msp430/perriph_usci: fix prescaler values for ACLK
  cpu/msp430/periph/usci.c
Labels: Type: bug, Impact: minor, CI: ready for build

#20630 core/panic: make reboot on panic configurable
  core/lib/include/panic.h
  core/lib/panic.c
Labels: Area: core, CI: ready for build

#20632 doc/doxygen: fix sidenav handling [backport 2024.04]
  doc/doxygen/src/js/riot-doxy.js
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Process: release backport

#20634 l2filter: mark module and related netopt options as experimental
  sys/include/net/l2filter.h
  sys/include/net/netopt.h
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys, CI: skip compile test

#20638 makefiles/docker: prevent recursive docker invocation
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build

#18359 pkg/lwip: use sys/event for handling ISR and bhp
  pkg/lwip/Makefile.dep
  pkg/lwip/contrib/netdev/lwip_netdev.c
  pkg/lwip/include/lwip.h
  pkg/lwip/include/lwip/netif/compat.h
  pkg/lwip/init_devs/auto_init_kw2xrf.c
  pkg/lwip/init_devs/auto_init_mrf24j40.c
Labels: Type: enhancement, Area: network, Area: pkg, CI: ready for build

#20637 drivers/led: add LEDX_IS_PRESENT defines
  drivers/include/led.h
Labels: Area: drivers, CI: ready for build

#20628 pkg/wamr: Added support for THUMB_VFP in wamr Makefile
  pkg/wamr/Makefile
Labels: Area: pkg, CI: ready for build

#20635 cpu/esp32/gpio_ll: fix & cleanup
  cpu/esp32/include/gpio_ll_arch.h
  cpu/esp32/periph/gpio_ll.c
  cpu/esp32/periph/gpio_ll_irq.c
Labels: Type: bug, Type: cleanup, CI: ready for build, Platform: ESP, Area: cpu

#20629 examples/gcoap: pass through variables to docker
  examples/gcoap/Makefile
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: examples
