Repository RIOT-OS/RIOT, pull requests merged in 2024-09, with the labels that each got.

#20848 boards/nucleo-g431rb: add MCU table to documentation
  boards/nucleo-g431rb/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20371 gnrc_ipv6_nib: Force unspecified next hop addresses
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  tests/unittests/tests-gnrc_ipv6_nib/tests-gnrc_ipv6_nib-internal.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys

#20851 boards/nucleo-g474re: add MCU table
  boards/nucleo-g474re/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20372 tests/gnrc_ipv6_nib: rtr_ltime test
  tests/net/gnrc_ipv6_nib/main.c
Labels: Area: tests, CI: ready for build

#20839 cpu/nrf52: fix RSSI calculation in nrf802154_radio
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20852 sys/net/application_layer/nanocoap: add `nanocoap_sock_get_non()`
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  tests/net/nanocoap_cli/main.c
  tests/net/nanocoap_cli/nanocli_client.c
Labels: Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#20860 Update docker image (and document the process)
  doc/doxygen/src/using-rust.md
  makefiles/docker.inc.mk
Labels: Area: doc, Area: build system, Impact: minor, CI: ready for build

#20859 boards/nucleo144: add pinout source
  boards/nucleo-f207zg/doc.txt
  boards/nucleo-f303ze/doc.txt
  boards/nucleo-f412zg/doc.txt
  boards/nucleo-f413zh/doc.txt
  boards/nucleo-f429zi/doc.txt
  boards/nucleo-f439zi/doc.txt
  boards/nucleo-f446ze/doc.txt
  boards/nucleo-f722ze/doc.txt
  boards/nucleo-f767zi/doc.txt
  boards/nucleo-l496zg/doc.txt
  boards/nucleo-l4r5zi/doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build, Area: boards

#20855 nanocoap: always write at least 1 byte in coap_block2_finish()
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#20858 makefiles/suit: store public keys, make it easier to work with multiple keys
  makefiles/suit.base.inc.mk
  makefiles/suit.inc.mk
Labels: Type: enhancement, Area: build system, CI: ready for build

#20864 cpu/samd5x/cpu.c: reformat code
  cpu/samd5x/cpu.c
Labels: Platform: ARM, Impact: minor, Type: cleanup, CI: ready for build, Area: cpu

#20866 CODING_CONVENTIONS.md: Add preprocessor directive formatting
  CODING_CONVENTIONS.md
Labels: Type: enhancement, Area: doc, CI: ready for build

#20835 gnrc/ipv6: `nib route`: hide off-link PLEs
  sys/include/net/gnrc/ipv6/nib/ft.h
  sys/net/gnrc/network_layer/ipv6/nib/nib_ft.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#20870 event/timeout: event_timeout_set() enqueues immediately if timeout is zero
  sys/event/timeout_ztimer.c
Labels: CI: ready for build, Area: sys

#20874 doc: Clarify that our CPU ID is not ARM's CPUID
  drivers/include/periph/cpuid.h
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build

#20857 dns_msg: skip RDLENGTH_LENGTH field when skipping record
  sys/net/application_layer/dns/msg.c
  sys/net/application_layer/sock_dns/dns.c
  tests/unittests/tests-dns_msg/Makefile
  tests/unittests/tests-dns_msg/Makefile.include
  tests/unittests/tests-dns_msg/tests-dns_msg.c
  tests/unittests/tests-dns_msg/tests-dns_msg.h
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys

#20841 tests/pkg/emlearn: add model.h to repo
  tests/pkg/emlearn/.gitignore
  tests/pkg/emlearn/Makefile
  tests/pkg/emlearn/model.h
Labels: Area: tests, CI: ready for build

#20875 gh-actions: bump upload-artifact to v4
  .github/workflows/release-test.yml
  .github/workflows/test-on-iotlab.yml
Labels: Type: bug, CI: ready for build, Area: CI

#20879 gnrc_sixlowpan_frag: enable `gnrc_netif_pktq` if `netdev_new_api` is used
  sys/net/gnrc/Makefile.dep
Labels: Area: network, CI: ready for build, Area: sys

#20862 makefiles/suit: make use of `SUIT_SEC_PASSWORD` optional
  makefiles/suit.inc.mk
Labels: Area: build system, CI: ready for build
