Repository RIOT-OS/RIOT, pull requests merged in 2024-08, with the labels that each got.

#20806 boards/weact-g030f6: fix use with stdio_rtt
  boards/weact-g030f6/Makefile.include
Labels: Type: bug, Impact: minor, CI: ready for build, Area: boards

#20804 boards/nucleo-l053r8: MCU table addition to doc page
  boards/nucleo-l053r8/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20807 boards/stm32l476g-disco: add PWM support
  boards/stm32l476g-disco/Makefile.features
  boards/stm32l476g-disco/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#20679 cpu/msp430: Implement periph_gpio_ll & periph_gpio_ll_irq
  cpu/atmega_common/Makefile.features
  cpu/esp32/Makefile.features
  cpu/gd32v/Makefile.features
  cpu/msp430/Makefile.dep
  cpu/msp430/Makefile.features
  cpu/msp430/clock.c
  cpu/msp430/cpu.c
  cpu/msp430/include/f2xx_g2xx/msp430_regs.h
  cpu/msp430/include/f2xx_g2xx/periph_cpu.h
  cpu/msp430/include/gpio_ll_arch.h
  cpu/msp430/include/msp430_regs_common.h
  cpu/msp430/include/periph_cpu_common.h
  cpu/msp430/include/x1xx/msp430_regs.h
  cpu/msp430/ldscripts/msp430_f2xx_g2xx.ld
  cpu/msp430/periph/gpio.c
  cpu/msp430/periph/gpio_ll.c
  cpu/msp430/periph/gpio_ll_irq.c
  cpu/nrf5x_common/Makefile.features
  cpu/sam0_common/Makefile.features
  cpu/stm32/Makefile.features
  drivers/include/periph/gpio_ll_irq.h
  drivers/periph_common/Makefile.dep
  features.yaml
  makefiles/features_existing.inc.mk
  tests/periph/gpio_ll/main.c
Labels: Platform: MSP, Area: drivers, CI: ready for build, Area: cpu

#20808 boards/stm32l476g-disco: add pinout to documentation page
  boards/stm32l476g-disco/doc.txt
  doc/doxygen/src/pinouts/stm32l476g-disco.svg
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20805 cpu/stm32: implement `periph_gpio_ll_switch_dir`
  cpu/stm32/Makefile.features
  cpu/stm32/include/gpio_ll_arch.h
  cpu/stm32/include/periph/cpu_gpio_ll.h
  cpu/stm32/periph/gpio_ll.c
  drivers/include/periph/gpio_ll.h
  features.yaml
  tests/periph/gpio_ll/main.c
Labels: Platform: ARM, Area: tests, Process: API change, Area: drivers, CI: ready for build, Area: cpu

#20810 boards/stm32l0538-disco: addition of pinout to documentation page
  boards/stm32l0538-disco/doc.txt
  doc/doxygen/src/pinouts/stm32l0538-disco.svg
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20811 riscv_common: Use unsiged long format specifier for printing CSR values
  cpu/riscv_common/irq_arch.c
Labels: Impact: minor, CI: ready for build, Platform: RISC-V, Area: cpu

#20813 pkg/nanocbor - upgrade to last version
  pkg/nanocbor/Makefile
Labels: Area: pkg, CI: ready for build

#20814 boards/nucleo-f439zi: add ADC support
  boards/nucleo-f439zi/Makefile.features
  boards/nucleo-f439zi/include/periph_conf.h
  cpu/stm32/include/periph/f4/periph_cpu.h
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20816 cpu/native/periph_timer: add missing -lrt to linker flags
  cpu/native/Makefile.include
Labels: Type: bug, Platform: native, CI: ready for build, Area: cpu

#20819 cpu/native/periph_timer: add missing -lrt to linker flags [backport 2024.07]
  cpu/native/Makefile.include
Labels: Type: bug, Platform: native, CI: ready for build, Process: release backport, Area: cpu

#20818 doc: note that timer_settime() comes from librt on some systems
  cpu/native/periph/timer.c
Labels: Platform: native, Impact: minor, CI: ready for build, Area: cpu

#20821 examples/rust: Update CoAP example modules
  examples/rust-gcoap/Cargo.lock
Labels: CI: ready for build, Area: examples, Area: Rust

#20822 boards/nucleo-g070rb & g071rb: add pinouts to documentation
  boards/nucleo-g070rb/doc.txt
  boards/nucleo-g071rb/doc.txt
  doc/doxygen/src/pinouts/nucleo-g070rb-and-g071rb.svg
Labels: Area: doc, CI: ready for build, Area: boards

#20823 drivers/sx127x: fix link formatting in documentation
  drivers/include/sx127x.h
Labels: Impact: minor, Area: drivers, CI: ready for build, Area: LoRa, CI: skip compile test

#20826 sys/ztimer: Remove the deprecated ztimer_now64
  makefiles/deprecated_modules.inc.mk
  sys/include/ztimer.h
  sys/ztimer/core.c
  sys/ztimer/xtimer2ztimer.cocci
  tests/sys/xtimer_now64_continuity/Makefile
  tests/sys/xtimer_now64_continuity/Makefile.ci
  tests/sys/xtimer_now64_continuity/README.md
  tests/sys/xtimer_now64_continuity/main.c
  tests/sys/xtimer_now64_continuity/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: timers, Area: sys, Process: removal

#20825 boards/nucleo-g070rb: add MCU table to doc page
  boards/nucleo-g070rb/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20827 boards/nucleo-g071rb: add MCU table to doc page
  boards/nucleo-g071rb/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20828 Rust: Add `make cargo-command` and refactoring around it
  makefiles/cargo-settings.inc.mk
  makefiles/cargo-targets.inc.mk
  makefiles/info.inc.mk
Labels: Area: build system, CI: ready for build, Area: Rust

#20829 Rust: Update to riot-wrappers 0.9
  drivers/lsm303agr/Cargo.toml
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Cargo.toml
  examples/rust-gcoap/Makefile.ci
  examples/rust-gcoap/src/lib.rs
  examples/rust-hello-world/Cargo.lock
  examples/rust-hello-world/Cargo.toml
  sys/rust_riotmodules_standalone/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.toml
  sys/shell/democommands/Cargo.toml
  tests/rust_minimal/Cargo.lock
  tests/rust_minimal/Cargo.toml
Labels: Type: enhancement, Area: tests, Area: drivers, CI: ready for build, Area: sys, Area: examples, Area: Rust

#20831 boards/ek-lm4f120x: Change internal LED macro for C2Rust compatibility
  boards/ek-lm4f120xl/include/board.h
  examples/rust-gcoap/Makefile
  examples/rust-hello-world/Makefile
  tests/rust_libs/Makefile
  tests/rust_minimal/Makefile
Labels: Area: tests, CI: ready for build, Area: boards, Area: examples

#20833 drivers/led: Allow LEDn_ON to be disabled by other modules
  boards/common/particle-mesh/include/board.h
  drivers/periph_common/init_leds.c
Labels: Area: drivers, CI: ready for build, Area: boards

#20784 nib.c: add interface selection rules for static link local address assignment
  sys/include/net/gnrc/ipv6.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Area: sys

#20684 sys/net/application_layer/gcoap: fix Observe notifications correlation
  examples/cord_lc/Makefile.ci
  examples/gcoap/Makefile
  examples/gcoap/Makefile.ci
  examples/gcoap/client.c
  examples/gcoap/server.c
  sys/include/net/gcoap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#20836 gcoap: the name of the gcoap thread should be gcoap
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20840 makefiles/docker.inc.mk: bump riotbuild docker image to last available
  makefiles/docker.inc.mk
  pkg/emlearn/Makefile
  pkg/emlearn/patches/0001-emlearn-eml_common.h-remove-redundant-check.patch
  tests/pkg/emlearn/model
Labels: Area: tests, Area: build system, Area: pkg, CI: ready for build

#20844 doc: Point out common problem installing c2rust
  doc/doxygen/src/using-rust.md
Labels: Area: doc, CI: ready for build, Reviewed: 5-documentation, Area: Rust

#20842 cpu/sam0_common/periph: fix rtt reset after hibernation
  cpu/sam0_common/periph/rtc_rtt.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20846 pkg/lvgl: Increase default LV_MEM_SIZE for 64 bit and enable tests for native64
  pkg/lvgl/include/lv_conf.h
  tests/pkg/lvgl/Makefile
  tests/pkg/lvgl_touch/Makefile
Labels: Area: tests, Area: pkg, CI: ready for build
