Repository RIOT-OS/RIOT, pull requests merged in 2024-01, with the labels that each got.

#20219 treewise: typo "or RAM"
  boards/nucleo-f439zi/doc.txt
  boards/nucleo-l031k6/doc.txt
  boards/nucleo-l073rz/doc.txt
  boards/nucleo-l432kc/doc.txt
  boards/nucleo-l476rg/doc.txt
  boards/nucleo-l552ze-q/doc.txt
  cpu/stm32/periph/gpio_ll_irq.c
Labels: Platform: ARM, Area: doc, CI: ready for build, Area: boards, Area: cpu

#20215 makefiles/tests/tests.inc.mk: use native term for tests
  boards/native/Makefile.include
  makefiles/tests/tests.inc.mk
  tests/build_system/test_tools/Makefile
  tests/periph/rtt_min/Makefile
  tests/rust_libs/Makefile
  tests/sys/congure_reno/Makefile
  tests/sys/congure_test/Makefile
  tests/sys/shell/Makefile
  tests/sys/shell_ble/Makefile
  tests/sys/shell_lock/Makefile
  tests/turo/Makefile
Labels: Platform: native, Area: tests, Area: build system, CI: ready for build, Area: boards

#20119 CODEOWNERS: clean up
  CODEOWNERS
Labels: Type: cleanup, CI: ready for build, CI: skip compile test

#20173 drivers/mtd_flashpage: improve _write_page
  drivers/mtd_flashpage/mtd_flashpage.c
Labels: Type: enhancement, Area: drivers, CI: ready for build

#20193 sys/psa_crypto: fix compile bug for certain configuration
  sys/psa_crypto/psa_key_slot_mgmt/psa_crypto_slot_management.c
Labels: Type: bug, CI: ready for build, Area: sys

#20198 tests: Slightly increase coverage of fmt unittests
  sys/fmt/fmt.c
  sys/include/fmt.h
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build, Area: sys, CI: low priority

#20210 riotboot: fix build errors
  makefiles/boot/riotboot.mk
  sys/include/riotboot/slot.h
Labels: Area: build system, CI: ready for build, Area: sys

#19891 drivers/ws281x: Add gpio_ll and timer based driver
  boards/common/e104-bt50xxa-tb/include/board.h
  boards/common/nrf51/include/cfg_timer_01.h
  boards/common/nrf51/include/cfg_timer_012.h
  boards/common/nrf52/include/cfg_timer_default.h
  boards/nrf9160dk/include/board.h
  boards/nrf9160dk/include/periph_conf.h
  cpu/nrf53/Kconfig
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.features
  cpu/nrf5x_common/include/timer_arch.h
  cpu/nrf5x_common/periph/timer.c
  cpu/nrf9160/Kconfig
  drivers/include/periph/timer.h
  drivers/periph_common/Kconfig
  drivers/periph_common/Kconfig.gpio_ll
  drivers/ws281x/Kconfig
  drivers/ws281x/Makefile.dep
  drivers/ws281x/include/ws281x_backend.h
  drivers/ws281x/include/ws281x_params.h
  drivers/ws281x/timer_gpio_ll.c
  kconfigs/Kconfig.features
  makefiles/features_modules.inc.mk
  tests/drivers/ws281x/Makefile
Labels: Platform: ARM, Area: tests, Area: build system, Type: new feature, Area: drivers, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig, CI: full build, CI: no fast fail

#20211 .murdock: drop Kconfig compile check
  .murdock
Labels: CI: ready for build, Area: CI, CI: no fast fail

#20225 boards/nucleo-f413zh: Fix DMA mapping
  boards/nucleo-f413zh/include/periph_conf.h
Labels: Type: bug, CI: ready for build, Area: boards

#20186 make help: show generate-Makefile.ci
  Makefile.include
Labels: Area: build system, CI: ready for build

#19996 tools/zep_dispatch: enhancements and fixes
  dist/tools/zep_dispatch/main.c
  dist/tools/zep_dispatch/topogen.c
  dist/tools/zep_dispatch/topology.c
  dist/tools/zep_dispatch/topology.h
Labels: CI: ready for build, Area: tools

#20220 sys/benchmark: fix integer overflow in benchmark_print_time()
  sys/benchmark/benchmark.c
Labels: CI: ready for build, Area: sys

#18066 drivers/slipdev: make use of chunked ringbuffer
  drivers/include/slipdev.h
  drivers/slipdev/Kconfig
  drivers/slipdev/Makefile.dep
  drivers/slipdev/include/slipdev_internal.h
  drivers/slipdev/slipdev.c
  drivers/slipdev/stdio.c
Labels: Type: bug, Area: drivers, CI: ready for build, Area: Kconfig

#20228 cpu/cc2538: fix EUI provider
  cpu/cc2538/include/cc2538_eui_primary.h
  sys/net/link_layer/eui_provider/include/eui64_provider_params.h
Labels: Type: bug, Platform: ARM, Area: network, CI: ready for build, Area: cpu, Area: sys

#20214 cpu/stm32/periph_spi: only perform DMA transfer above threshold
  cpu/sam0_common/periph/spi.c
  cpu/stm32/periph/spi.c
  drivers/include/periph/spi.h
Labels: Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#20130 dist/tools/insufficient_memory: always update Makefile.ci
  dist/tools/insufficient_memory/Makefile.for_sh
  dist/tools/insufficient_memory/create_makefile.ci.sh
  dist/tools/insufficient_memory/update_insufficient_memory_board.sh
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#20224 gnrc/ipv6/nib: allow for predictable static link-local addresses
  examples/gnrc_networking/Makefile
  examples/gnrc_networking_mac/Makefile
  sys/include/net/gnrc/ipv6.h
  sys/net/gnrc/network_layer/ipv6/Kconfig
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, CI: ready for build, Area: sys, Area: examples, Area: Kconfig

#20226 boards/generic-cc2538-cc2592-dk: add board support
  boards/generic-cc2538-cc2592-dk/Kconfig
  boards/generic-cc2538-cc2592-dk/Makefile
  boards/generic-cc2538-cc2592-dk/Makefile.dep
  boards/generic-cc2538-cc2592-dk/Makefile.features
  boards/generic-cc2538-cc2592-dk/Makefile.include
  boards/generic-cc2538-cc2592-dk/dist/openocd.cfg
  boards/generic-cc2538-cc2592-dk/doc.txt
  boards/generic-cc2538-cc2592-dk/include/board.h
  boards/generic-cc2538-cc2592-dk/include/gpio_params.h
  boards/generic-cc2538-cc2592-dk/include/periph_conf.h
  examples/lua_REPL/Makefile.ci
  tests/Makefile.boards.netif
  tests/unittests/Makefile.ci
Labels: Area: doc, Area: tests, Type: new feature, CI: ready for build, Area: boards, Area: examples, Area: Kconfig

#20229 tests/build_system: drop Kconfig tests
  tests/build_system/kconfig_features/Kconfig
  tests/build_system/kconfig_features/Makefile
  tests/build_system/kconfig_features/README.md
  tests/build_system/kconfig_features/main.c
Labels: Area: doc, Area: tests, Type: cleanup, CI: ready for build, Area: Kconfig

#20232 .mailmap: map my old email to my new email address
  .mailmap
Labels: Impact: minor, Type: cleanup, CI: ready for build, CI: skip compile test

#20234 drivers/mtd: fix mtd_write_sector
  drivers/mtd/mtd.c
Labels: Type: bug, Area: drivers, CI: ready for build

#19786 cpu/esp32/periph: add low-level SDMMC peripheral driver for ESP32 and ESP32-S3
  boards/common/esp32x/include/board_common.h
  boards/common/esp32x/include/periph_conf_common.h
  boards/esp32-mh-et-live-minikit/Makefile.dep
  boards/esp32-mh-et-live-minikit/doc.txt
  boards/esp32-olimex-evb/Kconfig
  boards/esp32-olimex-evb/Makefile.dep
  boards/esp32-olimex-evb/Makefile.features
  boards/esp32-olimex-evb/doc.txt
  boards/esp32-olimex-evb/include/periph_conf.h
  boards/esp32-wrover-kit/Kconfig
  boards/esp32-wrover-kit/Makefile.dep
  boards/esp32-wrover-kit/Makefile.features
  boards/esp32-wrover-kit/doc.txt
  boards/esp32-wrover-kit/include/periph_conf.h
  cpu/esp32/Kconfig.esp32
  cpu/esp32/Kconfig.esp32s3
  cpu/esp32/Kconfig.esp32x
  cpu/esp32/Makefile.dep
  cpu/esp32/Makefile.features
  cpu/esp32/doc.txt
  cpu/esp32/doc_esp32.txt
  cpu/esp32/doc_esp32s3.txt
  cpu/esp32/esp-idf/Kconfig
  cpu/esp32/esp-idf/Makefile
  cpu/esp32/esp-idf/sdmmc/Kconfig
  cpu/esp32/esp-idf/sdmmc/Makefile
  cpu/esp32/include/irq_arch.h
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/include/periph_cpu_esp32.h
  cpu/esp32/irq_arch.c
  cpu/esp32/periph/sdmmc.c
  pkg/esp32_sdk/patches/0031-driver-sdmmc-avoid-type-definition-conflicts.patch
  tests/pkg/fatfs/main.c
  tests/pkg/fatfs_vfs/main.c
Labels: Area: doc, Area: tests, Type: new feature, Area: pkg, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: Kconfig

#20237 sys/suit: introduce suit_worker_done_cb()
  sys/include/suit/transport/worker.h
  sys/suit/transport/worker.c
Labels: CI: ready for build, Area: OTA, Area: sys

#20239 dist/tools/riotboot_gen_hdr/genhdr: add update command
  dist/tools/riotboot_gen_hdr/common.c
  dist/tools/riotboot_gen_hdr/common.h
  dist/tools/riotboot_gen_hdr/genhdr.c
  dist/tools/riotboot_gen_hdr/main.c
Labels: Type: new feature, CI: ready for build, Area: tools

#20240 cpu/avr8_common: fix build with !core_thread
  core/lib/init.c
  cpu/avr8_common/thread_arch.c
  cpu/native/native_cpu.c
  makefiles/features_modules.inc.mk
Labels: Platform: native, Area: core, Area: build system, Platform: AVR, CI: ready for build, Area: cpu

#20238 nanocoap_sock: implement FETCH methods
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#20241 sys/busy_wait: add busy wait helper
  cpu/avr8_common/include/cpu.h
  cpu/cortexm_common/include/cpu_conf_common.h
  cpu/esp32/include/periph_cpu_esp32.h
  cpu/esp32/include/periph_cpu_esp32c3.h
  cpu/esp32/include/periph_cpu_esp32s2.h
  cpu/esp32/include/periph_cpu_esp32s3.h
  cpu/esp8266/include/periph_cpu.h
  cpu/msp430/clock.c
  sys/include/busy_wait.h
  tests/sys/busy_wait/Makefile
  tests/sys/busy_wait/Makefile.ci
  tests/sys/busy_wait/main.c
Labels: Platform: MSP, Platform: ARM, Area: tests, Platform: AVR, CI: ready for build, Platform: ESP, Area: cpu, Area: sys, CI: no fast fail

#20244 sys/shell: add firmware version to version cmd
  boards/samd20-xpro/Makefile.features
  boards/samd21-xpro/Makefile.features
  sys/shell/cmds/sys.c
Labels: CI: ready for build, Area: boards, Area: sys

#20247 cpu/avr8_common: allow to build with !periph_pm
  core/lib/panic.c
  cpu/avr8_common/Makefile.dep
Labels: Area: core, Platform: AVR, CI: ready for build, Area: pm, Area: cpu

#20246 doc/mainpage: don't claim to be a microkernel
  core/doc.txt
  doc/doxygen/src/mainpage.md
Labels: Area: doc, Area: core, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#20248 pkg/ccn-lite: Bump version
  pkg/ccn-lite/Makefile
  pkg/ccn-lite/patches/0006-src-ccnl-core-src-ccnl-relay.c-fix-use-after-free.patch
Labels: Area: pkg, CI: ready for build

#20249 print: Missing size_t print format specifiers
  drivers/atwinc15x0/atwinc15x0_netdev.c
  drivers/lcd/lcd.c
  drivers/nrf24l01p_ng/nrf24l01p_ng_netdev.c
  drivers/sx126x/sx126x_netdev.c
  drivers/sx1280/sx1280_netdev.c
  sys/net/gnrc/pktbuf_static/gnrc_pktbuf_static.c
  sys/net/gnrc/pktdump/gnrc_pktdump.c
  tests/unittests/tests-uri_parser/tests-uri_parser.c
Labels: Area: network, Area: tests, Area: drivers, CI: ready for build, Area: LoRa, Area: sys

#20251 boards/e180-zg120b-tb: add support for OpenOCD
  boards/e180-zg120b-tb/Makefile.include
  boards/e180-zg120b-tb/dist/openocd.cfg
  boards/e180-zg120b-tb/doc.txt
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build, Area: boards

#20252 tools/openocd-rtt: also open GDB port
  dist/tools/openocd/openocd.sh
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools

#20250 dist/tools/zsh-completion: add completion for flash
  dist/tools/zsh-completion/zsh-riot.sh
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools

#20258 drivers: make use of busy_wait()
  cpu/sam0_common/sam0_sdhc/sdhc.c
  drivers/mtd_spi_nor/mtd_spi_nor.c
Labels: Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#20256 unittests/tests-fib: Fix array size types
  tests/unittests/tests-fib/tests-fib.c
Labels: Area: tests, Impact: minor, CI: ready for build

#20260 dist/tools/zsh-completion: fix typo
  dist/tools/zsh-completion/zsh-riot.sh
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools

#20116 hashes/sha2{24,56}: Remove static variables from sha256
  sys/hashes/sha224.c
  sys/hashes/sha256.c
  sys/include/hashes/sha224.h
  sys/include/hashes/sha256.h
Labels: Process: API change, CI: ready for build, Area: sys

#20268 ci: fix murdock tests after dwq change
  .murdock
Labels: Type: bug, CI: ready for build, Area: CI, CI: run tests

#20257 core, sys, drivers: 64-bit support preparations
  core/lib/include/priority_queue.h
  core/lib/priority_queue.c
  core/mbox.c
  core/thread_flags.c
  drivers/mtd_flashpage/mtd_flashpage.c
  drivers/soft_uart/soft_uart.c
  sys/cpp11-compat/condition_variable.cpp
  sys/include/architecture.h
  sys/include/bloom.h
  sys/include/vfs.h
  sys/posix/include/sys/bytes.h
  sys/posix/pthread/pthread_cond.c
  sys/ztimer/core.c
  sys/ztimer64/ztimer64.c
Labels: Area: core, Area: drivers, CI: ready for build, Area: timers, Area: sys

#20253 tests/periph/uart_locate_pins: new test/utility app
  core/lib/init.c
  tests/periph/uart_locate_pins/Makefile
  tests/periph/uart_locate_pins/README.md
  tests/periph/uart_locate_pins/include/soft_uart_params.h
  tests/periph/uart_locate_pins/main.c
Labels: Area: doc, Area: tests, Area: core, Type: new feature, CI: ready for build

#20269 ci: make native tests show up in "tests"
  .murdock
Labels: CI: ready for build, Area: CI

#20271 pkg: 64-bit support preparations
  kconfigs/Kconfig.features
  pkg/cifra/Kconfig
  pkg/cifra/Makefile.dep
  pkg/cn-cbor/Kconfig
  pkg/cn-cbor/Makefile.dep
  pkg/flashdb/Makefile.dep
  pkg/hacl/Kconfig
  pkg/hacl/Makefile.dep
  pkg/hacl/patches/0003-64-bit-fix.patch
  pkg/jerryscript/Kconfig
  pkg/jerryscript/Makefile.dep
  pkg/libhydrogen/Kconfig
  pkg/libhydrogen/Makefile.dep
  pkg/lorabasics/Makefile.dep
  pkg/lua/Kconfig
  pkg/lua/Makefile.dep
  pkg/lwip/Makefile.dep
  pkg/lwip/Makefile.include
  pkg/lwip/contrib/sock/lwip_sock.c
  pkg/micro-ecc/patches/0001-int128-fix-for-GCC.patch
  pkg/monocypher/Kconfig
  pkg/monocypher/Makefile.dep
  pkg/qcbor/Kconfig
  pkg/qcbor/Makefile.dep
  pkg/tinycbor/Kconfig
  pkg/tinycbor/Makefile.dep
  pkg/tinycrypt/Kconfig
  pkg/tinycrypt/Makefile.dep
  pkg/tinydtls/patches/0001-fix-printf-warning-for-64-bit-systems.patch
  pkg/tinyusb/Kconfig
  pkg/tlsf/Kconfig
  pkg/tlsf/Makefile.dep
  pkg/uwb-dw1000/Kconfig
  pkg/uwb-dw1000/Makefile.dep
  pkg/wolfssl/Makefile.dep
  pkg/wolfssl/include/user_settings.h
  pkg/wolfssl/sock_tls/sock_tls.c
Labels: Area: network, Area: pkg, CI: ready for build, Area: Kconfig

#20230 cpu/stm32: uart: don't do DMA for small transfers
  cpu/stm32/periph/uart.c
  drivers/include/periph/uart.h
Labels: Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#20263 boards/e180-zg120b-tb: Document correct pin mapping
  boards/e180-zg120b-tb/doc.txt
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Area: boards

#20274 sys/shell: fix reserved addresses in i2c_scan
  sys/shell/cmds/i2c_scan.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: sys

#20264 boards/native: only use pyterm wrapper with term target
  boards/native/Makefile.include
  dist/pythonlibs/riotctrl_ctrl/native.py
  dist/pythonlibs/riotctrl_ctrl/requirements.txt
  makefiles/tests/tests.inc.mk
Labels: Type: bug, Platform: native, Area: doc, Area: tests, Area: build system, CI: ready for build, Area: boards, Community: help wanted

#20277 tests: don't explicitly set RIOT_TERMINAL=native
  tests/net/gcoap_dns/Makefile
  tests/net/gcoap_fileserver/Makefile
  tests/net/gnrc_dhcpv6_client_6lbr/Makefile
  tests/net/gnrc_netif_ieee802154/Makefile
  tests/net/gnrc_rpl/Makefile
  tests/net/gnrc_sixlowpan_frag_sfr_congure_impl/Makefile
  tests/net/ieee802154_hal/Makefile
  tests/net/socket_zep/Makefile
Labels: Area: tests, Impact: minor, Type: cleanup, CI: ready for build

#20273 nanocoap: implement coap_find_uri_query()
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Area: network, Area: tests, Type: new feature, CI: ready for build, Area: CoAP, Area: sys

#20278 examples/rust-gcoap: Fix transitive unbounded dependency
  examples/rust-gcoap/Cargo.lock
Labels: Type: bug, Impact: minor, CI: ready for build, Area: Rust

#20270 boards/gd32vf103c-start: new board
  boards/common/gd32v/Makefile.include
  boards/common/gd32v/include/cfg_usbdev_default.h
  boards/gd32vf103c-start/Makefile
  boards/gd32vf103c-start/Makefile.dep
  boards/gd32vf103c-start/Makefile.features
  boards/gd32vf103c-start/Makefile.include
  boards/gd32vf103c-start/dist/openocd.cfg
  boards/gd32vf103c-start/doc.txt
  boards/gd32vf103c-start/include/arduino_iomap.h
  boards/gd32vf103c-start/include/board.h
  boards/gd32vf103c-start/include/gpio_params.h
  boards/gd32vf103c-start/include/periph_conf.h
  boards/seeedstudio-gd32/Makefile.include
  boards/sipeed-longan-nano/Makefile.include
  cpu/gd32v/cpu.c
  cpu/gd32v/include/cpu_conf.h
  cpu/gd32v/periph/pwm.c
  examples/dtls-wolfssl/Makefile.ci
  examples/suit_update/Makefile.ci
  makefiles/tools/openocd.inc.mk
  makefiles/tools/serial.inc.mk
  tests/pkg/utensor/Makefile.ci
  tests/pkg/wolfssl/Makefile.ci
  tests/riotboot_flashwrite/Makefile.ci
  tests/unittests/Makefile.ci
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, CI: ready for build, Area: tools, Area: boards, Area: cpu, Area: examples

#20236 drivers/periph/gpio_ll: shrink gpio_conf_t
  cpu/atmega_common/include/periph_cpu_common.h
  cpu/atmega_common/periph/gpio_ll.c
  cpu/efm32/periph/gpio_ll.c
  cpu/esp32/include/periph_cpu.h
  cpu/esp32/periph/gpio_ll.c
  cpu/gd32v/include/periph_cpu.h
  cpu/gd32v/periph/gpio_ll.c
  cpu/nrf5x_common/include/periph_cpu_common.h
  cpu/nrf5x_common/periph/gpio_ll.c
  cpu/stm32/include/periph/cpu_gpio_ll.h
  cpu/stm32/periph/eth.c
  cpu/stm32/periph/eth_common.c
  cpu/stm32/periph/gpio_ll.c
  drivers/include/periph/gpio_ll.h
  drivers/periph_common/gpio_ll.c
  drivers/ws281x/timer_gpio_ll.c
  tests/bench/periph_gpio_ll/main.c
  tests/periph/gpio_ll/Makefile
  tests/periph/gpio_ll/main.c
Labels: Platform: ARM, Area: tests, Platform: AVR, Process: API change, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu

#20125 examples/dtls-sock: make use of helper functions
  examples/dtls-sock/Makefile
  examples/dtls-sock/dtls-client.c
Labels: Type: cleanup, CI: ready for build, Area: examples

#20283 drivers/periph_gpio_ll: Improve documentation
  drivers/include/periph/gpio_ll.h
  tests/periph/gpio_ll/README.md
  tests/periph/gpio_ll/main.c
Labels: Type: enhancement, Area: doc, Area: tests, Impact: minor, Area: drivers, CI: ready for build, CI: skip compile test

#20189 cpu/sam0_common: implement periph_gpio_ll and periph_gpio_ll_irq
  cpu/sam0_common/Kconfig
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/include/gpio_ll_arch.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/gpio_ll.c
  cpu/sam0_common/periph/gpio_ll_irq.c
  tests/periph/gpio_ll/main.c
Labels: Platform: ARM, Area: tests, CI: ready for build, Area: cpu, Area: Kconfig

#19835 cpu/msp430: rework MSP430 x1xx periph drivers
  boards/msb-430/include/periph_conf.h
  boards/msb-430h/include/periph_conf.h
  boards/olimex-msp430-h1611/Makefile.include
  boards/olimex-msp430-h1611/include/periph_conf.h
  boards/telosb/include/periph_conf.h
  cpu/msp430/include/x1xx/periph_cpu.h
  cpu/msp430/periph/Makefile
  cpu/msp430/periph/spi_usart.c
  cpu/msp430/periph/uart_usart.c
  cpu/msp430/periph/usart.c
  tests/net/gnrc_netif_ipv6_wait_for_global_address/Makefile.ci
  tests/sys/suit_manifest/Makefile.ci
Labels: Platform: MSP, Area: tests, Type: cleanup, CI: ready for build, Area: boards, Area: cpu

#20286 boards/nrf52dk: Minimal Arduino pinout support
  boards/nrf52dk/Makefile.features
  boards/nrf52dk/include/arduino_iomap.h
Labels: Type: enhancement, CI: ready for build, Area: boards

#20282 cpu/nrf5x i2c: Set up correct interrupts after NOSTOP transmissions
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
Labels: Type: bug, Platform: ARM, CI: ready for build, CI: run tests, Area: cpu

#20272 tests: Slightly increase coverage of fmt unittests
  sys/include/fmt.h
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build, Area: sys

#20291 cpu/sam0_common/periph_gpio_ll: fix doc
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/gpio_ll.c
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20288 ci: ensure "xxx succeeded" properly fail
  .github/workflows/check-commits.yml
  .github/workflows/tools-buildtest.yml
Labels: CI: ready for build, Area: CI, CI: skip compile test

#20285 gnrc/ipv6: only send link-local loopback if it's on the same interface
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: sys

#20294 routing/rpl: Fixing styling & format
  sys/net/gnrc/routing/rpl/gnrc_rpl_control_messages.c
Labels: Area: network, CI: ready for build, Area: sys

#20293 pkg/uzlib: warn about memory leak during compression
  pkg/uzlib/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build, CI: skip compile test

#20284 nanocoap: add coap_build_reply_header()
  sys/include/net/coap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Area: network, CI: ready for build, Area: CoAP, Area: sys

#20298 cpu/nrf52 i2c: Always buffer writes
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#20304 drivers/w5100: make use of netdev_eui48_get()
  drivers/w5100/w5100.c
Labels: Area: drivers, CI: ready for build

#20299 cpu/nrf52 i2c: Wait for complete transmission when writing NOSTOP
  cpu/nrf5x_common/periph/i2c_nrf52_nrf9160.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu, CI: skip compile test

#20297 vfs: fix FATFS_VFS_FILE_BUFFER_SIZE for increased VFS_NAME_MAX
  sys/include/vfs.h
Labels: Type: bug, Impact: minor, CI: ready for build, Area: sys

#20306 cpu/native: Add support for periph_timer_query_freqs
  cpu/native/Makefile.features
  cpu/native/include/periph_conf.h
  cpu/native/periph/timer.c
Labels: Platform: native, CI: ready for build, Area: cpu

#20276 tests: 64-bit support preparations
  examples/lua_basic/main.c
  tests/core/msg_queue_print/main.c
  tests/core/thread_zombie/main.c
  tests/cpu/native_backtrace/Makefile
  tests/drivers/at86rf215/main.c
  tests/drivers/at86rf2xx/main.c
  tests/drivers/cc2420/main.c
  tests/drivers/mrf24j40/main.c
  tests/drivers/mtd_raw/main.c
  tests/drivers/sds011/main.c
  tests/drivers/soft_uart/main.c
  tests/net/gnrc_sixlowpan_frag_minfwd/Makefile
  tests/net/gnrc_sixlowpan_frag_minfwd/main.c
  tests/net/gnrc_sixlowpan_frag_sfr/Makefile
  tests/net/gnrc_sixlowpan_frag_sfr/main.c
  tests/periph/flashpage/main.c
  tests/periph/flashpage_unittest/main.c
  tests/periph/gpio/main.c
  tests/periph/timer/main.c
  tests/periph/uart/main.c
  tests/pkg/cayenne-lpp/main.c
  tests/pkg/lora-serialization/main.c
  tests/pkg/lua_loader/main.c
  tests/sys/architecture/Makefile
  tests/sys/cb_mux/main.c
  tests/sys/conn_can/main.c
  tests/sys/events/main.c
  tests/sys/heap_cmd/main.c
  tests/sys/ps_schedstatistics/main.c
  tests/sys/pthread_cooperation/main.c
  tests/sys/pthread_tls/main.c
  tests/unittests/tests-pktbuf/tests-pktbuf.c
Labels: Area: tests, CI: ready for build, Area: examples

#20309 gnrc_ipv6: fix double-free when pinging TNT loopback address
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Type: bug, Area: network, CI: ready for build, Process: needs backport, Area: sys

#15576 add error check of aes_encrypt()
  sys/random/fortuna/fortuna.c
Labels: Type: enhancement, CI: ready for build, Area: security, Area: sys

#20311 ci: support git-cache-rs
  pkg/cmsis/Makefile
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build

#15965 cpu/sam0_common: flashpage: disable interrupts while writing
  cpu/sam0_common/periph/flashpage.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#20321 ci: support git-cache-rs [backport 2024.01]
  pkg/cmsis/Makefile
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build, Process: release backport
