Repository RIOT-OS/RIOT, pull requests merged in 2024-02, with the labels that each got.

#20314 nanocoap_sock: improve debug output
  sys/net/application_layer/nanocoap/sock.c
Labels: Area: network, Impact: minor, Type: cleanup, CI: ready for build, Area: CoAP, Area: sys

#20317 Fix for `periph_timer` on `native`
  cpu/native/periph/timer.c
Labels: Type: bug, Platform: native, CI: ready for build, Area: cpu

#20030 gcoap_fileserver: rename to nanocoap_fileserver
  examples/gcoap_fileserver/Makefile
  examples/gcoap_fileserver/main.c
  examples/nanocoap_server/Makefile
  examples/nanocoap_server/coap_handler.c
  makefiles/pseudomodules.inc.mk
  sys/Makefile.dep
  sys/include/net/nanocoap/fileserver.h
  sys/net/application_layer/nanocoap/fileserver.c
  tests/net/gcoap_fileserver/Makefile
  tests/net/gcoap_fileserver/main.c
Labels: Area: network, Area: tests, Area: build system, Process: API change, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#20325 tests/pkg/lwip: include default-radio-settings.inc.mk
  tests/pkg/lwip/Makefile
Labels: Type: enhancement, Area: tests, CI: ready for build, Process: needs backport

#19546 Enable compile_and_test_for_board to skip if nothing changed
  dist/tools/compile_and_test_for_board/compile_and_test_for_board.py
  makefiles/tests/tests.inc.mk
  makefiles/vars.inc.mk
Labels: Area: tests, Area: build system, CI: ready for build, Area: tools

#20315 native: Linux/x86_64 support
  boards/native/Makefile.include
  boards/native/doc.txt
  cpu/native/Kconfig
  cpu/native/Makefile.features
  cpu/native/Makefile.include
  cpu/native/include/architecture_arch.h
  cpu/native/include/c11_atomics_compat_cpu.hpp
  cpu/native/include/native_internal.h
  cpu/native/irq_cpu.c
  cpu/native/native_cpu.c
  cpu/native/periph/flashpage.c
  cpu/native/periph/spidev_linux.c
  cpu/native/periph/timer.c
  cpu/native/socket_zep/socket_zep.c
  cpu/native/syscalls.c
  cpu/native/tramp.S
  pkg/wamr/Makefile
Labels: Platform: native, Area: doc, Area: pkg, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#20328 event_periodic_callback: add getter for interval & count
  sys/include/event/periodic_callback.h
Labels: Impact: minor, CI: ready for build, Area: sys

#20313 sys/byteorder: clean up implementation
  cpu/sam0_common/include/cpu_conf.h
  cpu/sam0_common/include/vendor/README.md
  cpu/sam0_common/include/vendor/fix_cxx_compat.sh
  cpu/sam0_common/include/vendor/fix_headers.sh
  cpu/sam0_common/include/vendor/samr21/include/samr21e16a.h
  cpu/sam0_common/include/vendor/samr21/include/samr21e17a.h
  cpu/sam0_common/include/vendor/samr21/include/samr21e18a.h
  cpu/sam0_common/include/vendor/samr21/include/samr21e19a.h
  cpu/sam0_common/include/vendor/samr21/include/samr21g16a.h
  cpu/sam0_common/include/vendor/samr21/include/samr21g17a.h
  cpu/sam0_common/include/vendor/samr21/include/samr21g18a.h
  cpu/sam0_common/include/vendor/samr30/include/samr30e18a.h
  cpu/sam0_common/include/vendor/samr30/include/samr30g18a.h
  pkg/esp8266_sdk/patches/0002-components-lwip-port-esp8266-use-endian.h.patch
  pkg/tinydtls/patches/0002-platform-specific-riot_boards.h-fix-conflict-with-en.patch
  sys/include/byteorder.h
  sys/include/endian.h
  tests/unittests/tests-libc/tests-libc.c
Labels: Platform: ARM, Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: cpu, Area: sys

#20327 examples/wakaama: rename to lwm2m
  examples/lwm2m/Makefile
  examples/lwm2m/Makefile.ci
  examples/lwm2m/README.md
  examples/lwm2m/lwm2m_cli.c
  examples/lwm2m/main.c
Labels: Area: doc, CI: ready for build, Area: examples

#20330 tests/pkg/lwip: include default-radio-settings.inc.mk [backport 2024.01]
  tests/pkg/lwip/Makefile
Labels: Type: enhancement, Area: tests, CI: ready for build, Process: release backport

#20319 makefiles/cargo: Remove CARGO_CHANNEL and other simplifications
  doc/doxygen/src/using-rust.md
  examples/rust-gcoap/Cargo.lock
  examples/rust-gcoap/Makefile
  examples/rust-hello-world/Cargo.lock
  examples/rust-hello-world/Makefile
  makefiles/cargo-settings.inc.mk
  makefiles/cargo-targets.inc.mk
  makefiles/info.inc.mk
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_libs/Makefile
  tests/rust_minimal/Cargo.lock
  tests/rust_minimal/Makefile
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: sys, Area: examples, Area: Rust

#20320 gnrc_ipv6: fix double-free when pinging TNT loopback address [backport 2024.01]
  sys/net/gnrc/network_layer/ipv6/gnrc_ipv6.c
Labels: Type: bug, Area: network, CI: ready for build, Process: release backport, Area: sys

#20331 boards/common/nrf52: add OpenOCD's RIOT awareness
  boards/common/nrf52/dist/openocd.cfg
Labels: Impact: minor, CI: ready for build, Area: boards, CI: skip compile test

#20336 doc/getting-started: point out where to run make
  Makefile
  doc/doxygen/src/getting-started.md
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#20290 drivers/periph_gpio_ll: Fix GPIO_DISCONNECT handling and add compile time feature checks
  cpu/atmega_common/Makefile.features
  cpu/atmega_common/include/periph_cpu_common.h
  cpu/atmega_common/periph/gpio_ll.c
  cpu/efm32/Makefile.features
  cpu/efm32/periph/gpio_ll.c
  cpu/esp32/Makefile.features
  cpu/gd32v/Makefile.features
  cpu/gd32v/include/periph_cpu.h
  cpu/gd32v/periph/gpio_ll.c
  cpu/nrf5x_common/Makefile.features
  cpu/sam0_common/Makefile.features
  cpu/stm32/Makefile.features
  cpu/stm32/include/periph/cpu_gpio_ll.h
  cpu/stm32/periph/gpio_ll.c
  drivers/include/periph/gpio_ll.h
  drivers/periph_common/Makefile.dep
  drivers/periph_common/gpio_ll.c
  tests/periph/gpio_ll/README.md
  tests/periph/gpio_ll/main.c
Labels: Type: bug, Type: enhancement, Platform: ARM, Area: doc, Area: tests, Platform: AVR, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu

#20292 drivers/periph_gpio_ll: Implement API to switch direction
  cpu/atmega_common/Makefile.features
  cpu/atmega_common/include/gpio_ll_arch.h
  cpu/sam0_common/Makefile.features
  cpu/sam0_common/include/gpio_ll_arch.h
  drivers/include/periph/gpio_ll.h
  drivers/periph_common/Makefile.dep
  tests/periph/gpio_ll/main.c
Labels: Platform: ARM, Area: tests, Type: new feature, Platform: AVR, Area: drivers, CI: ready for build, Area: cpu

#20340 sys/shell: add RIOT_VERSION_EXTRA output
  Makefile.include
  sys/shell/cmds/sys.c
Labels: Area: build system, Impact: minor, CI: ready for build, Area: sys

#20345 dist/tools/mspdebug: build from source
  dist/tools/mspdebug/.gitignore
  dist/tools/mspdebug/Makefile
  dist/tools/mspdebug/debug.sh
  dist/tools/mspdebug/debug_srv.sh
  dist/tools/mspdebug/patches/6f507ddcd8a4db4b56bb4750ed837e505cb71abf.patch
  dist/tools/mspdebug/patches/98a9522fd41402309a3c9f1fcff1b655c72dd795.patch
  makefiles/tools/mspdebug.inc.mk
  makefiles/tools/targets.inc.mk
Labels: Area: build system, Type: new feature, CI: ready for build, Area: tools

#20343 ipv6/nib: cancel timers when NIB entry gets deleted
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#20342 ipv6/nib: fix router lifetime handling in RIO and fix gnrc_ipv6_nib_ft_add() api
  sys/include/net/gnrc/ipv6/nib/ft.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  sys/net/gnrc/network_layer/ipv6/nib/nib_ft.c
Labels: Type: bug, Area: network, CI: ready for build, Area: sys

#20346 sys/psa_crypto: return proper error code for psa_verify_msg
  pkg/c25519/psa_c25519/edsign.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/error_conversion.c
Labels: Impact: minor, Area: pkg, CI: ready for build

#20348 sys/cpp_new_delete: always enable the module when C++ is used
  cpu/avr8_common/Makefile.dep
  sys/Makefile.dep
  sys/cpp11-compat/Makefile.dep
Labels: Area: C++, Platform: AVR, CI: ready for build, Process: needs backport, Area: cpu, Area: sys

#20353 sys/shell/ping: print error when DNS resolve fails
  sys/shell/cmds/gnrc_icmpv6_echo.c
  tests/net/gcoap_fileserver/Makefile.ci
Labels: Area: tests, Impact: minor, CI: ready for build, Area: sys

#20354 sys/net/ipv4: add IPV4_ADDR_INIT() macro
  sys/include/net/ipv4/addr.h
Labels: Area: network, CI: ready for build, Area: sys

#20356 boards/olimex-msp430-h2618: change UART config
  boards/olimex-msp430-h1611/doc.txt
  boards/olimex-msp430-h2618/doc.txt
  boards/olimex-msp430-h2618/include/periph_conf.h
  cpu/msp430/include/x1xx/periph_cpu.h
Labels: Type: bug, Platform: MSP, Area: doc, Impact: minor, CI: ready for build, Area: boards, Area: cpu

#20350 release-notes.txt: add 2024.01 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20359 Prepare for 2024.01 release
  VERSION
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20360 cpu/stm32/periph_adc: fix register access
  cpu/stm32/periph/adc_f4_f7.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#20362 treewide: make use of new IPv4 static init macro
  sys/include/net/dns_mock.h
  tests/net/netutils/main.c
Labels: Area: network, Area: tests, Impact: minor, CI: ready for build, Area: sys

#20352 macros/utils: add LIMIT() and ABS() macros
  core/lib/include/macros/utils.h
  tests/unittests/tests-core/tests-core-macros.c
Labels: Area: tests, Area: core, CI: ready for build

#20344 tests: Add NULL pointer argument test for fmt_lpad/to_lower/str
  sys/include/fmt.h
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build, Area: sys

#20358 ci: disable some more flakey native tests
  tests/bench/xtimer_load/Makefile
  tests/core/thread_flags/Makefile
  tests/sys/evtimer_underflow/Makefile
  tests/sys/xtimer_hang/Makefile
  tests/sys/ztimer_underflow/Makefile
Labels: Area: tests, CI: ready for build

#19738 stdio_dispatch: allow to select multiple stdio methods at the same time
  cpu/esp32/stdio_usb_serial_jtag/usb_serial_jtag.c
  drivers/ethos/stdio.c
  drivers/slipdev/slipdev.c
  drivers/slipdev/stdio.c
  makefiles/pseudomodules.inc.mk
  makefiles/stdio.inc.mk
  pkg/tinyusb/cdc_acm_stdio/cdc_acm_stdio.c
  sys/fmt/fmt.c
  sys/include/stdio_base.h
  sys/include/stdio_uart.h
  sys/net/application_layer/telnet/stdio_telnet.c
  sys/net/application_layer/telnet/telnet_server.c
  sys/stdio/Makefile
  sys/stdio/stdio.c
  sys/stdio_nimble/stdio_nimble.c
  sys/stdio_null/stdio_null.c
  sys/stdio_rtt/stdio_rtt.c
  sys/stdio_semihosting/stdio_semihosting.c
  sys/stdio_uart/stdio_uart.c
  sys/stdio_udp/stdio_udp.c
  sys/usb/usbus/cdc/acm/cdc_acm_stdio.c
Labels: Area: network, Area: build system, Type: new feature, Area: pkg, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu, Area: USB, Area: sys

#20365 cpu/native/periph/uart: uart_poweroff() closes the file descriptor + extended baud-rate support on Linux
  cpu/native/async_read.c
  cpu/native/include/async_read.h
  cpu/native/periph/uart.c
Labels: Platform: native, CI: ready for build, Area: cpu

#20368 cpu/native: fix native_async_read_remove_handler() + enable all baudrates
  cpu/native/async_read.c
  cpu/native/periph/uart.c
Labels: Platform: native, Impact: minor, CI: ready for build, Area: cpu

#20221 pkg/flashdb: enhance FAL config
  pkg/flashdb/Kconfig
  pkg/flashdb/include/fal_cfg.h
  pkg/flashdb/mtd/fal_mtd_port.c
  tests/pkg/flashdb_fal_cfg/Makefile
  tests/pkg/flashdb_fal_cfg/Makefile.ci
  tests/pkg/flashdb_fal_cfg/main.c
  tests/pkg/flashdb_mtd/Makefile.ci
  tests/pkg/flashdb_vfs/main.c
Labels: Area: tests, Area: pkg, CI: ready for build, Area: Kconfig

#20375 tests/periph/spi_dma: fix Makefile.ci
  tests/periph/spi_dma/Makefile.ci
Labels: Type: bug, Area: tests, Impact: minor, CI: ready for build

#20376 dist/tools/insufficient_memory: add RISC-V failure mode
  dist/tools/insufficient_memory/create_makefile.ci.sh
  dist/tools/insufficient_memory/update_insufficient_memory_board.sh
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#20312 drivers/periph_spi: Add `spi_transfer_u16_be()`
  drivers/include/periph/spi.h
  drivers/w5100/w5100.c
Labels: Type: bug, Type: new feature, Area: drivers, CI: ready for build

#20379 boards/common/makefiles/stdio_cdc_acm.dep.mk: fix
  boards/common/makefiles/stdio_cdc_acm.dep.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build, Area: boards

#20043 nanocoap/cache: Extend with option-only cache keygen
  sys/include/net/nanocoap/cache.h
  sys/net/application_layer/nanocoap/cache.c
  tests/unittests/tests-nanocoap_cache/tests-nanocoap_cache.c
Labels: Type: enhancement, Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys

#20378 make use of nanocoap_server_auto_init
  examples/suit_update/Makefile
  examples/suit_update/main.c
  tests/pkg/edhoc_c/Makefile
  tests/pkg/edhoc_c/main.c
  tests/riotboot_flashwrite/Makefile
  tests/riotboot_flashwrite/main.c
Labels: Area: tests, CI: ready for build, Area: examples

#20326 pkg/wakaama: Notify resource updates when writing to resources
  pkg/wakaama/contrib/objects/common.c
  pkg/wakaama/patches/0022-core-registration-cast-to-time.patch
  pkg/wakaama/patches/0023-Add-const-modifier-to-URI-on-lwm2m_resource_value_ch.patch
Labels: Area: network, Type: new feature, Area: pkg, CI: ready for build

#20073 gcoap: add some client-side observe handling
  examples/gcoap/client.c
  sys/include/net/gcoap.h
  sys/net/application_layer/gcoap/gcoap.c
Labels: Area: network, Type: new feature, CI: ready for build, Area: CoAP, Reviewed: 1-fundamentals, Reviewed: 2-code-design, Reviewed: 3-testing, Reviewed: 4-code-style, Reviewed: 5-documentation, Area: sys, Area: examples

#20387 tests/pkg/edhoc_c: bump CoAP thread stack size
  tests/pkg/edhoc_c/Makefile
Labels: Type: bug, Impact: minor, CI: ready for build, CI: run tests

#20389 doc: Link OpenThread primer, cleanup
  pkg/openthread/doc.txt
  sys/net/ieee802154.txt
Labels: Type: enhancement, Area: network, Area: doc, Impact: minor, Area: pkg, CI: ready for build, Area: sys

#20217 examples/dtls-sock: fix credman capacity
  examples/dtls-sock/Makefile
Labels: Type: bug, Impact: minor, CI: ready for build, Area: examples

#20391 cpu/stm32: implement periph_spi_reconfigure
  cpu/stm32/Makefile.features
  cpu/stm32/include/periph/cpu_spi.h
  cpu/stm32/periph/spi.c
Labels: Platform: ARM, Type: new feature, Impact: minor, CI: ready for build, Area: cpu

#20394 core/init: clean up !core_thread init path
  core/lib/init.c
Labels: Impact: minor, Type: cleanup, CI: ready for build

#20396 makefile: Don't $(info) when the output can break info-build-json
  Makefile.include
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#20399 exmple > example in Cargo.toml comment
  examples/rust-hello-world/Cargo.toml
Labels: CI: ready for build, Area: examples

#20397 makefiles, treewide: Remove MCU variable
  Makefile.include
  cpu/esp8266/startup.c
  cpu/esp_common/esp-now/esp_now_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/esp_common/esp-xtensa/thread_arch.c
  cpu/esp_common/esp_events.c
  cpu/esp_common/freertos/task.c
  cpu/esp_common/include/esp_common.h
  cpu/esp_common/include/esp_common_log.h
  cpu/esp_common/include/freertos/portmacro.h
  cpu/esp_common/include/gpio_arch_common.h
  cpu/esp_common/periph/flash.c
  cpu/esp_common/periph/i2c_sw.c
  cpu/esp_common/periph/uart.c
  cpu/esp_common/syscalls.c
  cpu/esp_common/thread_arch.c
  cpu/esp_common/vendor/esp/common_macros.h
  drivers/include/usbdev_synopsys_dwc2.h
  drivers/sdmmc/sdmmc_sdhc.c
  drivers/usbdev_synopsys_dwc2/usbdev_synopsys_dwc2.c
  examples/gcoap_block_server/gcoap_block.c
  examples/hello-world/main.c
  examples/javascript/main.c
  examples/nanocoap_server/coap_handler.c
  examples/nimble_gatt/main.c
  makefiles/info.inc.mk
  makefiles/vars.inc.mk
  pkg/micropython/Makefile
  sys/app_metadata/app_metadata.c
  sys/include/string_utils.h
  tests/build_system/external_board_dirs/main.c
  tests/mcuboot/main.c
  tests/periph/gpio_ll/Makefile
  tests/periph/selftest_shield/Makefile
  tests/pkg/fff/Makefile
  tests/pkg/openwsn/main.c
  tests/pkg/wolfcrypt-ed25519-verify/main.c
  tests/riotboot/main.c
Labels: Area: tests, Area: build system, Area: pkg, Process: API change, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu, Area: sys, Area: examples

#20382 tests: disable flaky tests on `native` in the CI
  tests/net/gnrc_rpl/Makefile
  tests/sys/ztimer_msg/Makefile
Labels: Area: tests, CI: ready for build, CI: full build

#20245 nanocoap_sock: always use coap_opt_put_uri_pathquery()
  sys/include/net/nanocoap.h
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: bug, Area: network, Process: API change, CI: ready for build, Area: CoAP, Area: sys

#20392 sys/newlib_syscalls_default: fix race condition in __sinit()
  sys/newlib_syscalls_default/syscalls.c
Labels: CI: ready for build, CI: run tests, Area: sys, CI: full build

#20405 README: Change from all caps to regular
  README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20403 Roadmap: Add Home-Assistant integration on the roadmap
  doc/doxygen/src/roadmap.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20406 periph/eeprom: fix off-by-one error in debug statement
  cpu/stm32/periph/eeprom.c
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20383 tree wide: accomodate RISC-V toolchain update & boards/common/makefiles/stdio_cdc_acm.dep.mk: fix [backport 2024.01]
  boards/common/makefiles/stdio_cdc_acm.dep.mk
  dist/tools/ci/print_toolchain_versions.sh
  examples/asymcute_mqttsn/Makefile.ci
  examples/cord_ep/Makefile.ci
  examples/cord_epsim/Makefile.ci
  examples/cord_lc/Makefile.ci
  examples/emcute_mqttsn/Makefile.ci
  examples/javascript/Makefile.ci
  makefiles/arch/riscv.inc.mk
  makefiles/cargo-targets.inc.mk
  tests/bench/xtimer_load/Makefile
  tests/core/thread_flags/Makefile
  tests/net/gcoap_dns/Makefile.ci
  tests/net/gnrc_dhcpv6_relay/Makefile.ci
  tests/net/gnrc_ipv6_ext/Makefile.ci
  tests/net/gnrc_netif_ipv6_wait_for_global_address/Makefile.ci
  tests/net/gnrc_rpl/Makefile
  tests/net/gnrc_rpl_srh/Makefile.ci
  tests/net/gnrc_sock_dns/Makefile.ci
  tests/pkg/edhoc_c/Makefile.ci
  tests/pkg/lwip/Makefile.ci
  tests/sys/conn_can/Makefile.ci
  tests/sys/evtimer_underflow/Makefile
  tests/sys/pthread_cooperation/Makefile.ci
  tests/sys/xtimer_hang/Makefile
  tests/sys/ztimer_msg/Makefile
  tests/sys/ztimer_overhead/Makefile
  tests/sys/ztimer_underflow/Makefile
Labels: Type: bug, Area: tests, Area: build system, Impact: minor, CI: ready for build, Area: tools, Area: boards, Platform: RISC-V, Process: release backport, Area: examples

#20289 drivers/at: parse +CME/+CMS responses and save error value
  drivers/at/at.c
  drivers/include/at.h
  tests/drivers/at/Makefile
  tests/drivers/at/main.c
  tests/drivers/at/tests-with-config/emulate_dce.py
  tests/drivers/at/tests-with-config/native_stdin
Labels: Area: tests, Area: drivers, CI: ready for build

#20408 build system: Improve failure mode for FEAUTRES_REQUIRED_ANY
  makefiles/features_check.inc.mk
  makefiles/tests/feature_resolution/test-complex-failure.mk
  makefiles/tests/feature_resolution/test-required-any-fail.mk
Labels: Area: tests, Area: build system, Type: cleanup, CI: ready for build

#20416 cpu/esp: Use CPU_ESP8266 define instead of the removed MCU_ESP8266
  cpu/esp8266/vendor/esp-idf/esp8266/source/startup.c
  cpu/esp_common/vendor/xtensa/xtensa_vectors.S
Labels: Type: bug, Impact: minor, CI: ready for build, Platform: ESP, Area: cpu

#20419 cpu/native: return error code on failed assertion
  cpu/native/panic.c
  cpu/native/periph/pm.c
Labels: Platform: native, CI: ready for build, Area: cpu

#20417 vscode: Add hard-coded path to compile_commands.json
  .vscode/c_cpp_properties.json
Labels: CI: ready for build

#20418 gnrc_ipv6_nib: Ignore PIO with on-link flag
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/net/gnrc_ipv6_nib_6ln/main.c
Labels: Area: network, Area: tests, CI: ready for build, Area: sys

#20422 boards/feather-nrf52840*: doc cleanup
  boards/feather-nrf52840-sense/doc.txt
  boards/feather-nrf52840/doc.txt
Labels: Area: doc, Type: cleanup, CI: ready for build, Area: boards, CI: skip compile test

#20339 cpu/native: Enable Rust on 64bit
  boards/native64/doc.txt
  cpu/native/Kconfig
  cpu/native/Makefile.features
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Platform: native, Area: doc, Area: tests, CI: ready for build, Area: boards, Area: cpu, Area: sys, Area: examples, Area: Kconfig, Area: Rust

#20425 tests/pkg/flashdb_fal_cfg: abort test if no MTD device is configured
  pkg/flashdb/mtd/fal_mtd_port.c
  tests/pkg/flashdb_fal_cfg/main.c
Labels: Area: tests, Impact: minor, Area: pkg, CI: ready for build

#18589 RDM: Naming boards
  doc/memos/rdm0003.md
Labels: Area: doc, CI: ready for build, Area: RDM

#20366 build system: add list of features for documentation and sanity checking
  Makefile
  boards/esp32-olimex-evb/Kconfig
  boards/esp32-olimex-evb/Makefile.features
  dist/tools/ci/check_features_existing_inc_mk_is_up_to_date.sh
  dist/tools/ci/static_tests.sh
  dist/tools/features_yaml2mx/README.md
  dist/tools/features_yaml2mx/features_yaml2mx.py
  dist/tools/features_yaml2mx/schema.cddl
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/.gitignore
  features.yaml
  makefiles/dependency_resolution.inc.mk
  makefiles/features_existing.inc.mk
Labels: Area: doc, Area: build system, Discussion: RFC, CI: ready for build, Area: tools, Area: boards, Area: Kconfig

#20432 drivers/pcf857x: fix missing include kernel_defines.h
  drivers/include/pcf857x.h
Labels: Impact: minor, Area: drivers, CI: ready for build

#20435 drivers/pcf857x: stop (ab)using gpio_t
  drivers/include/pcf857x.h
  drivers/pcf857x/pcf857x.c
Labels: Type: bug, Area: drivers, CI: ready for build

#20436 boards/feather-nrf52840-sense: declare lsm6ds33 accelerometer
  boards/feather-nrf52840-sense/Makefile.dep
Labels: CI: ready for build, Area: boards

#18608 drivers/mtd_flashpage: allow to define AUX slot on flash
  bootloaders/riotboot_common.mk
  cpu/cortexm_common/Makefile.features
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/cortexm_common/ldscripts/cortexm_rom_offset.ld
  cpu/gd32v/Makefile.include
  cpu/riscv_common/Makefile.features
  cpu/riscv_common/Makefile.include
  cpu/riscv_common/ldscripts/riscv.ld
  cpu/riscv_common/ldscripts/riscv_vars.ld
  dist/tools/insufficient_memory/create_makefile.ci.sh
  drivers/Makefile.dep
  drivers/include/mtd_flashpage.h
  drivers/mtd_flashpage/mtd_flashpage.c
  features.yaml
  makefiles/features_existing.inc.mk
  sys/Makefile.include
  sys/riotboot/Makefile.include
  sys/slot_aux/Makefile.include
  tests/drivers/mtd_flashpage/Makefile
  tests/drivers/mtd_flashpage/Makefile.ci
  tests/drivers/mtd_flashpage/main.c
Labels: Platform: ARM, Area: tests, Area: build system, Area: drivers, CI: ready for build, Area: tools, Platform: RISC-V, Area: cpu, Area: sys

#20440 pkg/uwb-dw1000: fix README include
  pkg/uwb-dw1000/doc.txt
Labels: Area: doc, Impact: minor, Area: pkg, CI: ready for build, CI: skip compile test
