Repository RIOT-OS/RIOT, pull requests merged in 2024-12, with the labels that each got.

#21060 makefiles: select default prng _after_ recursive dependency resolution
  Makefile.dep
  makefiles/defaultmodules_deps.inc.mk
  tests/build_system/external_module_dirs/README.md
  tests/build_system/external_module_dirs/external_modules/external_module/Makefile.dep
  tests/build_system/external_module_dirs/external_modules/transitive/Makefile
  tests/build_system/external_module_dirs/external_modules/transitive/Makefile.dep
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build

#21052 README.md: add refrences to related projects
  README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#21058 tests/sys/shell: use default terminal instead of socat
  tests/sys/shell/Makefile
Labels: Area: tests, CI: ready for build

#21064 README.md: Fix inconsistent formatting
  README.md
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build

#21065 doc: move "managing a release" from wiki
  doc/doxygen/src/release-cycle.md
  doc/guides/managing-a-release/README.md
Labels: Area: doc, Type: cleanup, CI: ready for build, CI: skip compile test

#21066 MAINTAINING.md/doc: move links from wiki to doc
  MAINTAINING.md
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/advanced-build-system-tricks.md
  doc/doxygen/src/dev-best-practices.md
  doc/doxygen/src/maintainers.md
Labels: Area: doc, Type: cleanup, CI: ready for build, CI: skip compile test

#21069 MAINTAINING.md: point to new auto-generated maintainer list
  MAINTAINING.md
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/maintainers.md
Labels: Area: doc, Type: cleanup, CI: ready for build, CI: skip compile test

#21046 sys/psa_crypto: Update key headers
  sys/include/psa_crypto/psa/crypto_struct.h
  sys/include/psa_crypto/psa/crypto_types.h
  sys/include/psa_crypto/psa/crypto_values.h
  sys/include/psa_crypto/psa/key/attributes.h
  sys/include/psa_crypto/psa/key/bits.h
  sys/include/psa_crypto/psa/key/id.h
  sys/include/psa_crypto/psa/key/lifetime.h
  sys/include/psa_crypto/psa/key/type.h
  sys/include/psa_crypto/psa/key/usage.h
Labels: CI: ready for build, Area: sys

#21072 cpu/stm32/eth: fix and improve ETH defines
  cpu/stm32/include/periph/cpu_eth.h
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#21077 drivers/sx126x: add #ifndef for SX126X_PARAMS
  drivers/sx126x/include/sx126x_params.h
Labels: Impact: minor, Area: drivers, CI: ready for build, Area: LoRa

#21075 sys/net/nanocoap: fix buffer overflow in separate response handling
  cpu/avr8_common/avr_libc_extra/include/unistd.h
  examples/nanocoap_server/coap_handler.c
  sys/fmt/fmt.c
  sys/include/fmt.h
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
  tests/net/nanocoap_cli/Makefile
  tests/net/nanocoap_cli/nanocli_client.c
  tests/unittests/tests-fmt/tests-fmt.c
  tests/unittests/tests-nanocoap/tests-nanocoap.c
Labels: Type: bug, Area: network, Area: tests, Platform: AVR, CI: ready for build, Process: needs backport, Area: CoAP, Area: cpu, Area: sys, Area: examples

#21076 sys/net/nanocoap: Fix sending bogus separate responses
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#21068 drivers/ws281x: esp32 neopixel driver to set the rmt symbol high/low lengths at init instead of every write
  drivers/ws281x/esp32.c
Labels: Type: enhancement, Area: drivers, CI: ready for build

#21078 README.md: add Section Collaboration
  README.md
Labels: Area: doc, CI: ready for build

#21074 drivers/dose: fix poweroff
  drivers/dose/dose.c
Labels: Area: drivers, CI: ready for build

#21073 sys/chunked_ringbuffer: discard stale chunk when starting a new one
  sys/include/chunked_ringbuffer.h
  tests/unittests/tests-chunked_ringbuffer/tests-chunked_ringbuffer.c
Labels: Area: tests, CI: ready for build, Area: sys

#21087 sys/net/nanocoap: fix buffer overflow in separate response handling [backport 2024.10]
  examples/nanocoap_server/coap_handler.c
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  tests/net/nanocoap_cli/Makefile
  tests/net/nanocoap_cli/nanocli_client.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Process: release backport, Area: CoAP, Area: sys, Area: examples

#21043 cpu/sam0_common: flashpage: disable cache while writing
  cpu/sam0_common/periph/flashpage.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#21090 doxygen/Makefile: fix `make latex` and `make clean`
  doc/doxygen/Makefile
Labels: Type: bug, Area: doc, CI: ready for build, CI: skip compile test

#21091 pkg/lwip: fix adaption to API change of netdev_new_api
  pkg/lwip/contrib/netdev/lwip_netdev.c
Labels: Type: bug, Area: network, Area: pkg, CI: ready for build

#21092 sys/event: fix race in event_wait_multi()
  sys/event/event.c
Labels: Type: bug, CI: ready for build, Area: sys

#21095 drivers/at24cxxx: fix uninitialized return value in `_set()`
  drivers/at24cxxx/at24cxxx.c
Labels: Type: bug, Impact: minor, Area: drivers, CI: ready for build

#21096 sys/rtc_utils: make parameter to `rtc_mktime()` const
  sys/include/rtc_utils.h
  sys/rtc_utils/rtc_utils.c
Labels: Impact: minor, CI: ready for build, Area: sys

#20843 sys/string_utils: add string_writer helper
  cpu/atxmega/include/cpu_conf.h
  sys/include/string_utils.h
  sys/libc/string.c
  tests/pkg/relic/Makefile
  tests/unittests/tests-libc/tests-libc.c
Labels: Area: tests, CI: ready for build, Area: cpu, Area: sys

#21102 boards/nucleo-l073rz: add MCU table to doc page
  boards/nucleo-l073rz/doc.txt
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#21101 sys: shell: posix_inet as dependency for LWIP
  sys/shell/Makefile.dep
Labels: Impact: minor, CI: ready for build, Area: sys

#21105 pkg/tinydtls: fix compilation with sock_async
  pkg/tinydtls/contrib/sock_dtls.c
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build

#21114 tests/sys/shell: improve test automation
  tests/sys/shell/tests/01-run.py
Labels: Type: bug, Area: tests, CI: ready for build, CI: run tests
