Repository RIOT-OS/RIOT, pull requests merged in 2024-07, with the labels that each got.

#20770 VERSION: Update VERSION with point release
  VERSION
Labels: CI: ready for build, Process: release cycle, CI: skip compile test

#20771 gnrc/ipv6: Check for overflow
  sys/net/gnrc/network_layer/ipv6/nib/_nib-router.c
  sys/net/gnrc/network_layer/ipv6/nib/nib_pl.c
Labels: Area: network, CI: ready for build, Area: sys

#20756 cpu/stm32-L4: fix ADC initialization
  cpu/stm32/periph/adc_l4.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#20711 gcoap: propagate local tx aux to gcoap_req_send() and in _handler_req()
  examples/gcoap/client.c
  sys/include/net/gcoap.h
  sys/include/net/gcoap/forward_proxy.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/cord/ep/cord_ep.c
  sys/net/application_layer/cord/epsim/cord_epsim.c
  sys/net/application_layer/cord/lc/cord_lc.c
  sys/net/application_layer/gcoap/dns.c
  sys/net/application_layer/gcoap/forward_proxy.c
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/application_layer/gcoap/include/forward_proxy_internal.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, Process: API change, CI: ready for build, Area: CoAP, Area: sys, Area: examples

#20778 boards/nucleo-l452re: add ADC
  boards/nucleo-l452re/Makefile.features
  boards/nucleo-l452re/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#20773 cpu/stm32: add ADC support for WB55
  boards/p-nucleo-wb55/Makefile.features
  boards/p-nucleo-wb55/include/periph_conf.h
  cpu/stm32/Makefile.dep
  cpu/stm32/include/periph/wb/periph_cpu.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/adc_l4_wb.c
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20779 makesfiles/jlink: fix exports for flashing
  makefiles/tools/jlink.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools

#20776 tools/dhcpv6-pd_ia: fix: Add explicit subnet id
  dist/tools/dhcpv6-pd_ia/kea.py
Labels: CI: ready for build, Area: tools, CI: skip compile test

#20673 sys/shell: Update cryptoauthlib shell commands
  pkg/cryptoauthlib/include/atecc608a_config.h
  sys/shell/cmds/cryptoauthlib.c
Labels: Area: pkg, CI: ready for build, Area: sys

#20121 makefiles/tools/serial.inc.mk: make use of pyterm session names
  dist/tools/pyterm/pyterm
  makefiles/tools/serial.inc.mk
Labels: Type: enhancement, Area: build system, CI: ready for build, Area: tools, CI: skip compile test

#20783 drivers/led: add LED_NUMOF and convenience inline functions
  boards/adafruit-grand-central-m4-express/include/board.h
  boards/adafruit-itsybitsy-m4/include/board.h
  boards/arduino-mkr1000/include/board.h
  boards/arduino-mkrfox1200/include/board.h
  boards/arduino-mkrwan1300/include/board.h
  boards/arduino-mkrzero/include/board.h
  boards/arduino-nano-33-iot/include/board.h
  boards/bastwan/include/board.h
  boards/common/arduino-due/include/board.h
  boards/common/arduino-zero/include/board.h
  boards/common/saml1x/include/board.h
  boards/feather-m0/include/board.h
  boards/gd32vf103c-start/include/board.h
  boards/hamilton/include/board.h
  boards/samd10-xmini/include/board.h
  boards/samd20-xpro/include/board.h
  boards/samd21-xpro/include/board.h
  boards/same54-xpro/include/board.h
  boards/saml21-xpro/include/board.h
  boards/samr21-xpro/include/board.h
  boards/samr30-xpro/include/board.h
  boards/samr34-xpro/include/board.h
  boards/seeedstudio-gd32/include/board.h
  boards/seeeduino_xiao/include/board.h
  boards/sensebox_samd21/include/board.h
  boards/serpente/include/board.h
  boards/sipeed-longan-nano/include/board.h
  boards/sodaq-autonomo/include/board.h
  boards/sodaq-explorer/include/board.h
  boards/sodaq-one/include/board.h
  boards/sodaq-sara-aff/include/board.h
  boards/sodaq-sara-sff/include/board.h
  drivers/include/led.h
  tests/leds/main.c
Labels: Area: tests, Area: drivers, CI: ready for build, Area: boards, CI: full build, CI: no fast fail

#20785 doc: fix links to GNRC master thesis
  sys/include/net/gnrc.h
Labels: Area: network, CI: ready for build, Area: sys

#20698 sys/psa_crypto: sha3 support
  features.yaml
  makefiles/features_existing.inc.mk
  makefiles/features_modules.inc.mk
  makefiles/pseudomodules.inc.mk
  sys/hashes/psa_riot_hashes/sha3_256.c
  sys/hashes/psa_riot_hashes/sha3_384.c
  sys/hashes/psa_riot_hashes/sha3_512.c
  sys/include/hashes/psa/riot_hashes.h
  sys/include/psa_crypto/psa/crypto_contexts.h
  sys/include/psa_crypto/psa/crypto_includes.h
  sys/psa_crypto/Makefile.dep
  sys/psa_crypto/Makefile.include
  sys/psa_crypto/doc.txt
  sys/psa_crypto/include/psa_hashes.h
  sys/psa_crypto/psa_crypto_algorithm_dispatch.c
  tests/sys/psa_crypto_hashes/Makefile
  tests/sys/psa_crypto_hashes/example_sha3_glue.c
  tests/sys/psa_crypto_hashes/main.c
Labels: Area: doc, Area: tests, Area: build system, CI: ready for build, Area: sys

#20786 rust: bump rust-riot-{sys,wrappers} version
  examples/rust-gcoap/Cargo.lock
  examples/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, CI: ready for build, Area: sys, Area: examples

#20789 dist/tools/cosy: take BUILD_DIR into account
  dist/tools/cosy/patches/0003-take-BUILD_DIR-environment-variable-into-account.patch
Labels: CI: ready for build, Area: tools

#20790 core/panic: don't use LOG_ functions in panic handler
  core/lib/panic.c
  cpu/cortexm_common/panic.c
Labels: Type: bug, Platform: ARM, Area: core, CI: ready for build, Area: cpu

#20782 examples/leds_shell: add example for interactive LEDs/GPIO control
  examples/leds_shell/Makefile
  examples/leds_shell/Makefile.ci
  examples/leds_shell/README.md
  examples/leds_shell/main.c
Labels: Area: doc, CI: ready for build, Area: examples

#20795 pkg/wamr : updated wamr version to v2.1.1
  pkg/wamr/Makefile
Labels: Area: pkg, CI: ready for build

#20793 boards/stm32l476g-disco: add ADC support
  boards/stm32l476g-disco/Makefile.features
  boards/stm32l476g-disco/include/periph_conf.h
  cpu/stm32/include/periph/l4/periph_cpu.h
Labels: Platform: ARM, CI: ready for build, Area: boards, Area: cpu

#20796 examples/leds_shell: use periph_gpio_mock on native
  examples/leds_shell/Makefile
Labels: CI: ready for build, Area: examples

#20757 gnrc/ipv6: Store all SLAAC prefixes
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/net/gnrc_ipv6_nib/main.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys

#20798 net/gcoap: fix guards around defines
  sys/include/net/gcoap.h
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: sys

#20797 release-notes.txt: add 2024.07 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build

#20800 release-notes.txt: add 2024.07 release notes [backport 2024.07]
  VERSION
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, CI: skip compile test

#20801 net/dhcpv6: Improve option handling in dhcpv6 advertise
  sys/net/application_layer/dhcpv6/client.c
Labels: Area: network, CI: ready for build, Area: sys

#20802 mailmap: add my TU Dresden e-mail address
  .mailmap
Labels: Impact: minor, Type: cleanup, CI: ready for build, CI: skip compile test
