Repository RIOT-OS/RIOT, pull requests merged in 2024-06, with the labels that each got.

#20713 cpu/samd21: avoid the use of bitfield
  cpu/samd21/cpu.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20279 boards/sodaq-sara-sff: add status pin for SARA
  boards/sodaq-sara-sff/board.c
  boards/sodaq-sara-sff/include/board.h
Labels: CI: ready for build, Area: boards

#20719 cpu/esp*: fix compilation with GCC 14.1.0
  cpu/esp_common/syscalls.c
  pkg/esp32_sdk/patches/0034-components-efuse-fix-incorrect-forward-declaration.patch
  pkg/esp32_sdk/patches/0035-components-wpa_supplicant-add-missing-include.patch
  pkg/esp32_sdk/patches/0036-components-fix-calls-to-calloc.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Platform: ESP, Area: cpu

#20718 sys/random: fix SHAxPRNG init_by_array
  sys/include/random.h
  sys/random/shaxprng.c
  tests/sys/prng_sha1prng/main.c
Labels: Type: bug, Area: tests, CI: ready for build, Area: sys

#20717 boards/nucleo-f303ze: add pinout
  boards/nucleo-f303ze/doc.txt
  doc/doxygen/src/pinouts/nucleo-f303ze.svg
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#20700 build system: clean up netif features
  Makefile.features
  boards/esp32-ethernet-kit-v1_0/Makefile.features
  boards/esp32-olimex-evb/Makefile.features
  boards/native/common_features.inc.mk
  boards/nucleo-f207zg/Makefile.features
  boards/nucleo-f429zi/Makefile.features
  boards/nucleo-f439zi/Makefile.features
  boards/nucleo-f767zi/Makefile.features
  boards/same54-xpro/Makefile.features
  boards/stm32f746g-disco/features-shared.mk
  cpu/esp32/Makefile.dep
  dist/tools/buildsystem_sanity_check/check.sh
  features.yaml
  makefiles/features_existing.inc.mk
Labels: Platform: native, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: boards, Platform: ESP, Area: cpu

#20722 cpu/native: fix compilation with GCC 14.1
  cpu/native/startup.c
Labels: Type: bug, Platform: native, Impact: minor, CI: ready for build, Area: cpu, CI: skip compile test

#20723 measure_stack_free_internal(): don't try to align end of stack
  core/thread.c
  tests/core/thread_stack_alignment/tests/01-run.py
Labels: Type: bug, Area: tests, Area: core, CI: ready for build

#20726 core/thread: "fix" valgrind erros in thread_measure_stack_free()
  core/thread.c
Labels: Area: core, CI: ready for build

#20728 drivers/w5500: fix W5500 link up/down events in interrupt mode
  drivers/w5500/Kconfig
  drivers/w5500/w5500.c
  tests/drivers/w5500/app.config.test
Labels: Type: bug, Area: tests, Area: drivers, CI: ready for build, Area: Kconfig

#20731 drivers/ws281x: Fix SAUL writes
  drivers/ws281x/ws281x_saul.c
Labels: Impact: minor, Area: drivers, CI: ready for build

#20733 boards/b-l072z-lrwan1: add missing adc feature
  boards/b-l072z-lrwan1/Makefile.features
  boards/b-l072z-lrwan1/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#20729 sys/hashes: change SHA2 PAD type to const
  sys/hashes/sha2xx_common.c
Labels: CI: ready for build, Area: sys

#20734 boards/stm32l476g-disco: enable cpy2remed
  boards/stm32l476g-disco/Makefile.include
  boards/stm32l476g-disco/doc.txt
  boards/stm32l476g-disco/include/board.h
Labels: Area: doc, CI: ready for build, Area: boards

#20735 sys/xtimer: add IWYU pragmas
  sys/include/xtimer.h
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: timers, Area: sys

#20725 nanocoap/sock: fix state handling for mismatching message ID in `nanocoap_sock_request_cb()`
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#20721 dist/tools/buildsystem_sanity_check: make shellcheck happy
  dist/tools/buildsystem_sanity_check/check.sh
Labels: Type: cleanup, CI: ready for build, Area: tools

#20472 makefiles/docker.inc.mk: Pin riotbuild version with BUILD_IN_DOCKER=1
  dist/tools/buildsystem_sanity_check/check.sh
  dist/tools/buildsystem_sanity_check/get_dockerhub_digests.py
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Area: tools

#20737 Remove extraneous bitwise assignment operation on NRF5X_common gpio.c
  cpu/nrf5x_common/periph/gpio.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20329 nib: some fixes when a router or a prefix is deleted
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
  tests/net/gnrc_ipv6_nib/main.c
Labels: Type: bug, Area: network, Area: tests, CI: ready for build, Area: sys

#20177 tests/periph/flashpage: make mtd_raw command write bytes instead of ASCII
  tests/periph/flashpage/main.c
Labels: Area: tests, Impact: minor, CI: ready for build

#20740 /README.md: match doc
  README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#20742 release-tests.yaml: remove (always failing) matrix notification
  .github/workflows/release-test.yml
Labels: Type: cleanup, CI: ready for build, Area: CI, CI: skip compile test

#20741 Drivers: add MAX31855 thermocouple-to-digital converter
  drivers/include/max31855.h
  drivers/max31855/Makefile
  drivers/max31855/Makefile.dep
  drivers/max31855/Makefile.include
  drivers/max31855/include/max31855_constants.h
  drivers/max31855/include/max31855_params.h
  drivers/max31855/max31855.c
  drivers/max31855/max31855_saul.c
  drivers/saul/init_devs/auto_init_max31855.c
  drivers/saul/init_devs/init.c
  tests/drivers/max31855/Makefile
  tests/drivers/max31855/Makefile.ci
  tests/drivers/max31855/main.c
Labels: Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL

#20746 .editorconfig: add EditorConfig
  .editorconfig
Labels: Type: new feature, CI: ready for build, CI: skip compile test

#20745 sys/crypto: fix OCB mode
  sys/crypto/modes/ocb.c
  tests/sys/crypto/tests-crypto-modes-ocb.c
Labels: Type: bug, Area: tests, CI: ready for build, Area: sys

#20750 tests/drivers/pn532: fix init error handling and increase verbosity
  tests/drivers/pn532/main.c
Labels: Area: tests, CI: ready for build

#20752 makefiles: add OPENOCD_DEBUG_ADAPTER and SLOT_AUX_LEN to riotboot build environment
  makefiles/boot/riotboot.mk
Labels: Type: bug, Area: build system, CI: ready for build

#20730 tree wide: compilation fixes for `native64` on musl systems
  core/include/native_sched.h
  cpu/native/include/c11_atomics_compat_cpu.hpp
  drivers/at25xxx/at25xxx.c
  examples/dtls-wolfssl/Makefile.ci
  sys/posix/include/sys/select.h
Labels: Platform: native, Area: core, Area: drivers, CI: ready for build, Area: cpu, Area: sys, Area: examples

#20751 boards/nucleo-l476rg & stm32l476g-disco: fix MCU table
  boards/nucleo-l476rg/doc.txt
  boards/stm32l476g-disco/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20689 Makefile.include: creation of CACHEDIR.TAG as a dependency of pkg-prepare
  Makefile.include
  pkg/pkg.mk
Labels: Area: build system, Area: pkg, CI: ready for build

#20755 drivers/periph_wdt: fix auto starting of watchdog timer
  drivers/periph_common/init.c
Labels: Area: drivers, CI: ready for build

#20762 boards/nucleo-f103rb: add ADC configuration
  boards/nucleo-f103rb/Makefile.features
  boards/nucleo-f103rb/doc.txt
  boards/nucleo-f103rb/include/periph_conf.h
Labels: Area: doc, Type: new feature, Impact: minor, CI: ready for build, Area: boards

#20760 tests/sys/psa_crypto_ecdsa: fix stacksize determination
  tests/sys/psa_crypto_ecdsa/Makefile
  tests/sys/psa_crypto_ecdsa/Makefile.ci
Labels: Area: tests, CI: ready for build

#20763 test/sys/progress_bar: temporary printout to debug flaky test
  tests/sys/progress_bar/tests/01-run.py
Labels: Area: tests, CI: ready for build

#20747 cpu/sam0_common: avoid bitfield usage
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/adc.c
  cpu/sam0_common/periph/dac.c
  cpu/sam0_common/periph/dma.c
  cpu/sam0_common/periph/eth.c
  cpu/sam0_common/periph/flashpage.c
  cpu/sam0_common/periph/gpio.c
  cpu/sam0_common/periph/gpio_ll.c
  cpu/sam0_common/periph/gpio_ll_irq.c
  cpu/sam0_common/periph/hwrng.c
  cpu/sam0_common/periph/i2c.c
  cpu/sam0_common/periph/pwm.c
  cpu/sam0_common/periph/rtc_rtt.c
  cpu/sam0_common/periph/spi.c
  cpu/sam0_common/periph/timer.c
  cpu/sam0_common/periph/uart.c
  cpu/sam0_common/periph/usbdev.c
  cpu/sam0_common/periph/wdt.c
  cpu/sam0_common/sam0_sdhc/sdhc.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20764 tests/sys/progress_bar: move configuration to app.config
  tests/sys/progress_bar/Makefile
  tests/sys/progress_bar/app.config
  tests/sys/progress_bar/tests/01-run.py
Labels: Area: tests, CI: ready for build

#20766 boards/stm32l0538-disco: enable cpy2remed
  boards/stm32l0538-disco/Makefile.include
  boards/stm32l0538-disco/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#20714 cpu/samd5x: avoid the use of bitfields
  cpu/samd5x/cpu.c
  cpu/samd5x/periph/can.c
  cpu/samd5x/periph/pm.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20768 tests/sys/progress_bar: remove debug print
  tests/sys/progress_bar/tests/01-run.py
Labels: Area: tests, CI: ready for build

#20767 boards/stm32l0538-disco: doc improvements
  boards/stm32l0538-disco/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards
