Repository RIOT-OS/RIOT, pull requests merged in 2025-09, with the labels that each got.

#21652 nanocoap_server: use zero-copy network buffer for parsing request
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/nanocoap.c
  sys/net/application_layer/nanocoap/sock.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: CoAP, Area: sys

#21256 gnrc/ipv6/nib: improve debug output, declutter code
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
  sys/net/gnrc/network_layer/ipv6/nib/_nib-router.c
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys

#21695 sys/suit: print firmware URL if download fails
  sys/suit/handlers_command_seq.c
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: OTA, Area: sys

#21688 drivers/sx126x: fail on init if no device is connected
  drivers/sx126x/sx126x.c
Labels: Type: bug, Area: drivers, CI: ready for build, Area: LoRa

#21059 README.md: improve feature list
  README.md
Labels: Type: enhancement, Area: doc, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#21687 drivers/sx126x: bind PA config to output power
  drivers/include/sx126x.h
  drivers/sx126x/sx126x.c
  drivers/sx126x/sx126x_netdev.c
Labels: Type: new feature, Area: drivers, CI: ready for build, Area: LoRa

#21717 makefiles/tools/openocd: Do not require openocd.cfg for STM32 boards
  makefiles/tools/openocd-adapters/stlink.inc.mk
  makefiles/tools/openocd.inc.mk
Labels: Area: build system, Type: cleanup, CI: ready for build, Area: tools

#21722 doc/starlight: rename guides title from Riot to RIOT
  doc/starlight/astro.config.mjs
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#21723 doc/starlight: Add link to RIOT forum
  doc/starlight/astro.config.mjs
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#21735 doc/guides/rust_tutorials: mention BUILD_IN_DOCKER more verbosely
  doc/guides/rust_tutorials/create_project.mdx
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#21726 pkg/lvgl: support monochrome displays via u8g2
  pkg/lvgl/contrib/lvgl.c
  pkg/lvgl/include/lv_conf.h
  sys/auto_init/screen/auto_init_lvgl.c
Labels: Type: new feature, Area: pkg, CI: ready for build, Area: sys

#21752 build system: Allow running tests in docker
  makefiles/docker.inc.mk
  makefiles/tests/tests.inc.mk
Labels: Type: enhancement, Area: tests, Area: build system, CI: ready for build
