Repository RIOT-OS/RIOT, pull requests merged in 2025-05, with the labels that each got.

#21459 sys/stdio: better document configuration
  makefiles/pseudomodules.inc.mk
  sys/include/stdio_base.h
  sys/stdio/doc.md
Labels: Type: enhancement, Area: doc, Area: build system, CI: ready for build, Area: sys

#20398 drivers/abp2: add abp2 driver
  drivers/abp2/Makefile
  drivers/abp2/Makefile.dep
  drivers/abp2/Makefile.include
  drivers/abp2/abp2.c
  drivers/abp2/abp2_saul.c
  drivers/abp2/include/abp2_params.h
  drivers/include/abp2.h
  drivers/saul/init_devs/auto_init_abp2.c
  drivers/saul/init_devs/init.c
  tests/drivers/abp2/Makefile
  tests/drivers/abp2/Makefile.ci
  tests/drivers/abp2/README.md
  tests/drivers/abp2/main.c
  tests/drivers/saul_drivers/Makefile
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL

#21464 cpu/sam*: update style to coding convention
  cpu/sam0_common/include/cpu_conf.h
  cpu/sam0_common/include/exti_config.h
  cpu/sam0_common/include/gpio_ll_arch.h
  cpu/sam0_common/include/mtd_sam0_sdhc.h
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/include/sam_usb.h
  cpu/sam0_common/include/sdhc.h
  cpu/sam0_common/include/timer_config.h
  cpu/sam3/include/periph_cpu.h
  cpu/sam4s/include/periph_cpu.h
  cpu/samd21/include/periph_cpu.h
  cpu/samd5x/include/can_params.h
  cpu/samd5x/include/candev_samd5x.h
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  cpu/saml21/include/periph_cpu.h
Labels: Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#21458 .github/workflows: Guide Site Build Test
  .github/workflows/test_docs.yml
Labels: CI: ready for build, Area: CI

#21460 boards/nucleo-l432kc: improve board doc page
  boards/nucleo-l432kc/doc.md
  boards/nucleo-l432kc/doc.txt
  doc/doxygen/src/pinouts/nucleo-l432kc-and-more.svg
Labels: Area: doc, CI: ready for build, Area: boards

#21419 sys/net/sock_util: Do not depend on network stack
  sys/include/net/sock/util.h
  sys/net/sock/sock_util.c
Labels: Area: network, CI: ready for build, Area: sys

#21465 build system: improve cargo/docker interaction
  makefiles/cargo-targets.inc.mk
  makefiles/docker.inc.mk
Labels: Area: build system, Type: cleanup, CI: ready for build

#21467 sys/net/sockutil: Do not use undefined structs
  sys/include/net/sock/util.h
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: sys

#21468 sys/embunit: fix return value on failure
  sys/embunit/TextUIRunner.c
Labels: Type: bug, CI: ready for build, Area: sys

#21469 dist/tools: bump uf2conv version
  dist/tools/uf2/Makefile
Labels: Type: enhancement, CI: ready for build, Area: tools

#21395 boards/adafruit-{clue,itsybitsy-nrf52}: Convert to Common `adafruit-nrf52-bootloader` module
  boards/adafruit-clue/Makefile.dep
  boards/adafruit-clue/Makefile.include
  boards/adafruit-clue/doc.md
  boards/adafruit-clue/reset.c
  boards/adafruit-itsybitsy-nrf52/Makefile.dep
  boards/adafruit-itsybitsy-nrf52/Makefile.include
  boards/adafruit-itsybitsy-nrf52/doc.md
  boards/adafruit-itsybitsy-nrf52/doc.txt
  boards/adafruit-itsybitsy-nrf52/reset.c
  boards/common/adafruit-nrf52-bootloader/Makefile.include
  boards/common/adafruit-nrf52-bootloader/doc.md
  doc/doxygen/src/flashing.md
  makefiles/tools/adafruit-nrfutil.inc.mk
Labels: Type: enhancement, Area: doc, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: boards

#21474 sys/shell/cmd: typo in ifconfig helptext, \'transition\' fixed as \'transmission\'
  sys/shell/cmds/gnrc_netif.c
Labels: CI: ready for build, Area: sys

#21472 doc/getting-started: Fix links, minor cleanup
  doc/doxygen/src/getting-started.md
  doc/guides/getting-started/installing.mdx
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build

#21476 examples/basic/subfolders: switch from DIRS to EXTERNAL_MODULE_DIRS
  examples/basic/subfolders/Makefile
  examples/basic/subfolders/README.md
  examples/basic/subfolders/external_modules/module/Makefile
  examples/basic/subfolders/external_modules/module/a.c
  examples/basic/subfolders/external_modules/module/b.c
  examples/basic/subfolders/tests/01-run.py
Labels: Area: doc, CI: ready for build, Area: examples

#21480 examples/basic/subfolders: fix test
  examples/basic/subfolders/Makefile
Labels: Type: bug, CI: ready for build, CI: run tests, Area: examples

#20992 drivers/netdev_ieee802154_submac: port to netdev_new_api
  drivers/include/net/netdev.h
  drivers/include/net/netdev/ieee802154_submac.h
  drivers/netdev_ieee802154_submac/Makefile.dep
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  pkg/openthread/contrib/netdev/openthread_netdev.c
  pkg/openthread/contrib/platform_radio.c
  sys/Makefile.dep
Labels: Type: enhancement, Area: network, Area: pkg, Area: drivers, CI: ready for build, Area: sys

#21342 pkg/lwip: fix dependencies when LWIP IPv4 is used
  pkg/lwip/Makefile.dep
  pkg/lwip/contrib/netdev/lwip_netdev.c
Labels: Type: bug, Area: network, Area: pkg, CI: ready for build, CI: no fast fail

#21485 sys/arduino: define LED_BUILTIN as frequently used by Arduino sketches
  sys/arduino/include/arduino_board.h
  tests/sys/arduino_blinky/BlinkWithoutDelay.sketch
  tests/sys/arduino_blinky/Makefile
  tests/sys/arduino_blinky/Makefile.ci
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: arduino API, Area: sys

#21488 cpu/cc2538: Distinguish between GPIO_OD and GPIO_OD_PU
  cpu/cc2538/include/periph_cpu.h
  cpu/cc2538/periph/gpio.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#21483 dist/tools: Improve Headerguard Check
  dist/tools/headerguards/headerguards.py
Labels: Type: bug, Type: enhancement, Impact: minor, CI: ready for build, Area: tools

#21481 doc/doxygen: Avoid Overlapping of Code Blocks with Table of Contents
  doc/doxygen/src/css/riot.css
  doc/doxygen/src/css/riot.less
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#21491 pkg/littlefs2: bump version to v2.11.0
  pkg/littlefs2/Makefile
Labels: Type: enhancement, Area: pkg, CI: ready for build

#21479 boards: add Wemos D1 R32 (aka ESPDuino-32) board definition
  boards/esp32-wemos-d1-r32/Kconfig
  boards/esp32-wemos-d1-r32/Makefile
  boards/esp32-wemos-d1-r32/Makefile.dep
  boards/esp32-wemos-d1-r32/Makefile.features
  boards/esp32-wemos-d1-r32/Makefile.include
  boards/esp32-wemos-d1-r32/doc.md
  boards/esp32-wemos-d1-r32/include/arduino_iomap.h
  boards/esp32-wemos-d1-r32/include/board.h
  boards/esp32-wemos-d1-r32/include/gpio_params.h
  boards/esp32-wemos-d1-r32/include/periph_conf.h
  boards/esp32-wroom-32/doc.txt
Labels: Area: doc, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig

#21475 doc/creating-an-application: Add Section about Makefile.board.dep
  doc/doxygen/src/creating-an-application.md
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#21493 doc/creating-an-app: clarify wording about Makefile.board.dep
  doc/doxygen/src/creating-an-application.md
Labels: Type: enhancement, Area: doc, CI: ready for build, CI: skip compile test

#21492 cpu/native: use correct isr_stack for valgrind
  cpu/native/irq.c
Labels: Type: bug, Platform: native, CI: ready for build, Area: cpu

#21499 makefiles/defaultmodules*.mk: fix the description in comments
  makefiles/defaultmodules_deps.inc.mk
  makefiles/defaultmodules_no_recursive_deps.inc.mk
  makefiles/defaultmodules_regular.inc.mk
Labels: Type: enhancement, Area: build system, CI: ready for build, CI: skip compile test

#21463 boards/seeedstudio-xiao-esp32c3: fix pin conflict
  boards/seeedstudio-xiao-esp32c3/Makefile.dep
  boards/seeedstudio-xiao-esp32c3/Makefile.features
  boards/seeedstudio-xiao-esp32c3/doc.md
  boards/seeedstudio-xiao-esp32c3/include/arduino_iomap.h
  boards/seeedstudio-xiao-esp32c3/include/board.h
  boards/seeedstudio-xiao-esp32c3/include/gpio_params.h
  boards/seeedstudio-xiao-esp32c3/include/periph_conf.h
  makefiles/defaultmodules_no_recursive_deps.inc.mk
Labels: Type: bug, Area: doc, Area: build system, CI: ready for build, Area: boards

#21494 pkg/driver_atwinc15x0: remove the compilation of the SPI Flash driver part
  drivers/atwinc15x0/Makefile.dep
  drivers/atwinc15x0/atwinc15x0_bus.c
  pkg/driver_atwinc15x0/Makefile
  pkg/driver_atwinc15x0/Makefile.dep
  pkg/driver_atwinc15x0/patches/0012-nmdrv-don-t-call-spi_enable_flash-0.patch
Labels: Area: pkg, Type: cleanup, Area: drivers, CI: ready for build

#10688 drivers: add MCP23x17 I/O expander support
  drivers/Makefile.dep
  drivers/include/mcp23x17.h
  drivers/mcp23x17/Makefile
  drivers/mcp23x17/Makefile.dep
  drivers/mcp23x17/Makefile.include
  drivers/mcp23x17/include/mcp23x17_params.h
  drivers/mcp23x17/include/mcp23x17_regs.h
  drivers/mcp23x17/mcp23x17.c
  drivers/mcp23x17/mcp23x17_saul.c
  drivers/saul/init_devs/auto_init_mcp23x17.c
  drivers/saul/init_devs/init.c
  tests/drivers/mcp23x17/Makefile
  tests/drivers/mcp23x17/Makefile.ci
  tests/drivers/mcp23x17/README.md
  tests/drivers/mcp23x17/main.c
  tests/drivers/saul_drivers/Makefile
Labels: Area: doc, Area: tests, Type: new feature, Area: drivers, CI: ready for build, Area: SAUL, CI: full build, CI: no fast fail

#21484 boards/esp32: Arduino I/O mapping completion
  boards/common/esp32x/include/arduino_board_common.h
  boards/esp32-heltec-lora32-v2/Makefile.features
  boards/esp32-heltec-lora32-v2/doc.txt
  boards/esp32-heltec-lora32-v2/include/arduino_iomap.h
  boards/esp32-heltec-lora32-v2/include/periph_conf.h
  boards/esp32-mh-et-live-minikit/Makefile.features
  boards/esp32-mh-et-live-minikit/include/arduino_iomap.h
  boards/esp32-olimex-evb/Makefile.features
  boards/esp32-olimex-evb/include/arduino_iomap.h
  boards/esp32-ttgo-t-beam/Makefile.features
  boards/esp32-ttgo-t-beam/doc.txt
  boards/esp32-ttgo-t-beam/include/arduino_iomap.h
  boards/esp32-ttgo-t-beam/include/periph_conf.h
  boards/esp32-wemos-lolin-d32-pro/Makefile.features
  boards/esp32-wemos-lolin-d32-pro/include/arduino_iomap.h
  boards/esp32-wroom-32/Makefile.features
  boards/esp32-wroom-32/include/arduino_iomap.h
  boards/esp32-wrover-kit/Makefile.features
  boards/esp32-wrover-kit/include/arduino_iomap.h
  boards/esp32-wrover-kit/include/board.h
  boards/esp32c3-devkit/Makefile.features
  boards/esp32c3-devkit/doc.txt
  boards/esp32c3-devkit/include/arduino_iomap.h
  boards/esp32c3-devkit/include/periph_conf.h
  boards/esp32c3-wemos-mini/Makefile.features
  boards/esp32c3-wemos-mini/doc.txt
  boards/esp32c3-wemos-mini/include/arduino_iomap.h
  boards/esp32c3-wemos-mini/include/periph_conf.h
  boards/esp32s2-devkit/Makefile.features
  boards/esp32s2-devkit/include/arduino_iomap.h
  boards/esp32s2-lilygo-ttgo-t8/Makefile.features
  boards/esp32s2-lilygo-ttgo-t8/include/arduino_iomap.h
  boards/esp32s2-lilygo-ttgo-t8/include/periph_conf.h
  boards/esp32s3-devkit/Makefile.features
  boards/esp32s3-devkit/include/arduino_iomap.h
  boards/esp32s3-pros3/Makefile.features
  boards/esp32s3-pros3/include/arduino_iomap.h
Labels: Type: enhancement, Area: doc, Type: cleanup, CI: ready for build, Area: boards

#21478 tests/pkg/fatfs*: cleanup MTD default dependencies
  boards/esp32-wrover-kit/Makefile.dep
  tests/pkg/fatfs/Makefile
  tests/pkg/fatfs/Makefile.board.dep
  tests/pkg/fatfs/README.md
  tests/pkg/fatfs_vfs/Makefile
  tests/pkg/fatfs_vfs/Makefile.board.dep
  tests/pkg/fatfs_vfs/README.md
Labels: Type: enhancement, Area: doc, Area: tests, Type: cleanup, CI: ready for build, Area: boards

#21471 boards/esp32s3-usb-otg: enable SDMMC peripheral
  boards/esp32s3-usb-otg/Makefile.dep
  boards/esp32s3-usb-otg/Makefile.features
  boards/esp32s3-usb-otg/doc.txt
  boards/esp32s3-usb-otg/include/periph_conf.h
Labels: Type: enhancement, Area: doc, Type: new feature, CI: ready for build, Area: boards

#21486 cpu/samd5x: improve isr buffer handling
  cpu/samd5x/include/candev_samd5x.h
  cpu/samd5x/periph/can.c
Labels: Type: enhancement, Platform: ARM, Type: cleanup, CI: ready for build, Area: cpu

#21505 sys/shell: expose readline()
  sys/include/shell.h
  sys/shell/shell.c
  sys/shell_lock/shell_lock.c
Labels: Type: enhancement, CI: ready for build, Area: sys

#21508 boards/feather-m0: Correct ADC Settings
  boards/feather-m0/include/periph_conf.h
Labels: Type: bug, CI: ready for build, Area: boards

#21506 sys/shell: rename shell_readline()
  sys/include/shell.h
  sys/shell/cmds/udptty.c
  sys/shell/shell.c
  sys/shell_lock/shell_lock.c
Labels: Type: enhancement, CI: ready for build, Area: sys

#21455 sys/psa_crypto: Adding aead aes ccm
  cpu/nrf52/Makefile.features
  cpu/nrf52/periph/Makefile.dep
  features.yaml
  makefiles/features_existing.inc.mk
  makefiles/features_modules.inc.mk
  pkg/cifra/Makefile.include
  pkg/cifra/psa_cifra/Makefile
  pkg/cifra/psa_cifra/aes_ccm.c
  pkg/driver_cryptocell_310/Makefile.include
  pkg/driver_cryptocell_310/psa_cryptocell_310/Makefile.dep
  pkg/driver_cryptocell_310/psa_cryptocell_310/aes_ccm.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/error_conversion.c
  pkg/tinycrypt/Makefile.include
  pkg/tinycrypt/psa_tinycrypt/Makefile
  pkg/tinycrypt/psa_tinycrypt/aes_ccm.c
  sys/include/psa_crypto/psa/crypto_sizes.h
  sys/psa_crypto/Makefile.dep
  sys/psa_crypto/Makefile.include
  sys/psa_crypto/doc.md
  sys/psa_crypto/include/psa_aead.h
  sys/psa_crypto/include/psa_crypto_algorithm_dispatch.h
  sys/psa_crypto/include/psa_crypto_location_dispatch.h
  sys/psa_crypto/include/psa_crypto_operation_encoder.h
  sys/psa_crypto/psa_crypto.c
  sys/psa_crypto/psa_crypto_algorithm_dispatch.c
  sys/psa_crypto/psa_crypto_location_dispatch.c
  tests/sys/psa_crypto_aead/Makefile
  tests/sys/psa_crypto_aead/Makefile.ci
  tests/sys/psa_crypto_aead/example_aead_aes_128.c
  tests/sys/psa_crypto_aead/main.c
  tests/sys/psa_crypto_aead/tests/01-run.py
Labels: Platform: ARM, Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build, Area: cpu, Area: sys

#21513 features.yaml: add feather_shield feature
  boards/adafruit-feather-nrf52840-express/Makefile.features
  boards/adafruit-feather-nrf52840-sense/Makefile.features
  boards/feather-m0/Makefile.features
  doc/doxygen/src/io-mapping-and-shields.md
  features.yaml
  makefiles/features_existing.inc.mk
Labels: Type: enhancement, Area: doc, Area: build system, CI: ready for build, Area: boards
