Repository RIOT-OS/RIOT, pull requests merged in 2025-03, with the labels that each got.

#21259 cpu/esp32: fix bus_width in periph_sdmmc
  cpu/esp32/periph/sdmmc.c
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#21245 cpu/esp32: Fixes of compile problems with GCC 14.2
  cpu/esp32/Makefile
  cpu/esp32/stdatomic.c
  pkg/jerryscript/Makefile
  pkg/utensor/Makefile.include
Labels: Type: bug, Area: pkg, CI: ready for build, Platform: ESP, Area: cpu

#21255 doc: doc.txt -> doc.md
  boards/stm32f469i-disco/doc.md
  boards/stm32l496g-disco/doc.md
  dist/tools/doccheck/check.sh
  doc/doxygen/riot.doxyfile
Labels: Area: doc, CI: ready for build, Area: tools, Area: boards, CI: skip compile test

#21257 doc/porting-boards: Change example doc.txt to doc.md
  doc/doxygen/src/porting-boards.md
Labels: Area: doc, CI: ready for build

#21264 boards/nucleo-f413zh: add MCU table, move to doc.md
  boards/nucleo-f413zh/doc.md
  boards/nucleo-f413zh/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#21277 doc, buildsystem: Add a Version Check for Doxygen, Fix doc* Target Execution
  Makefile
  Makefile.include
  doc/doxygen/Makefile
Labels: Type: enhancement, Area: doc, Area: build system, CI: ready for build

#21280 boards/feather-m0*: Update Default Bootloader to UF2
  boards/feather-m0-lora/doc.md
  boards/feather-m0-wifi/doc.md
  boards/feather-m0/Makefile.include
  boards/feather-m0/doc.md
Labels: Type: bug, Area: doc, CI: ready for build, Area: boards

#21235 boards/nucleo-wl55jc: add ADC configuration
  boards/nucleo-wl55jc/Makefile.features
  boards/nucleo-wl55jc/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#21274 doc: Use the correct Doxygen Logo File Type in the Footer
  doc/doxygen/footer.html
Labels: Area: doc, CI: ready for build

#21271 boards/nrf52840{dk,dongle}: add MCU table, move to doc.md
  boards/nrf52840dk/doc.md
  boards/nrf52840dk/doc.txt
  boards/nrf52840dongle/doc.md
  boards/nrf52840dongle/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#21285 doc: remove and replace deprecated mailing lists
  MAINTAINING.md
  README.md
Labels: Area: doc, CI: ready for build

#21248 tests/sys/suit_manifest: remove unnecessary custom native board
  tests/sys/suit_manifest/Makefile
  tests/sys/suit_manifest/native_flashpage/native/Makefile
  tests/sys/suit_manifest/native_flashpage/native/Makefile.dep
  tests/sys/suit_manifest/native_flashpage/native/Makefile.features
  tests/sys/suit_manifest/native_flashpage/native/Makefile.include
Labels: Area: tests, CI: ready for build

#20980 boards/seeedstudio-xiao-nrf52840: initial board support
  boards/seeedstudio-xiao-nrf52840/Kconfig
  boards/seeedstudio-xiao-nrf52840/Makefile
  boards/seeedstudio-xiao-nrf52840/Makefile.dep
  boards/seeedstudio-xiao-nrf52840/Makefile.features
  boards/seeedstudio-xiao-nrf52840/Makefile.include
  boards/seeedstudio-xiao-nrf52840/doc.md
  boards/seeedstudio-xiao-nrf52840/include/arduino_iomap.h
  boards/seeedstudio-xiao-nrf52840/include/board.h
  boards/seeedstudio-xiao-nrf52840/include/gpio_params.h
  boards/seeedstudio-xiao-nrf52840/include/periph_conf.h
  boards/seeedstudio-xiao-nrf52840/mtd.c
  boards/seeedstudio-xiao-nrf52840/reset.c
  dist/tools/doccheck/exclude_patterns
  doc/doxygen/src/io-mapping-and-shields.md
  features.yaml
  makefiles/features_existing.inc.mk
Labels: Area: doc, Area: build system, CI: ready for build, Area: tools, Area: boards, Area: Kconfig

#21155 sys/net/nanocoap: improve `coap_build_reply()`
  sys/include/net/coap.h
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Type: enhancement, Area: network, Impact: minor, Process: API change, CI: ready for build, Area: CoAP, Area: sys

#21287 cpu/samd5x: add enable pin to CAN configuration
  boards/same54-xpro/include/board.h
  boards/same54-xpro/include/periph_conf.h
  cpu/samd5x/include/candev_samd5x.h
  cpu/samd5x/periph/can.c
  tests/drivers/candev/main.c
Labels: Platform: ARM, Area: tests, Process: API change, CI: ready for build, Area: boards, Area: cpu

#21283 cpu/native: Gardening/QoL
  cpu/native/async_read.c
  cpu/native/backtrace/backtrace.c
  cpu/native/cli_eui_provider/eui_provider.c
  cpu/native/cpu.c
  cpu/native/fs/native_fs.c
  cpu/native/include/architecture_arch.h
  cpu/native/include/async_read.h
  cpu/native/include/atomic_utils_arch.h
  cpu/native/include/backtrace.h
  cpu/native/include/can_params.h
  cpu/native/include/candev_linux.h
  cpu/native/include/cpu.h
  cpu/native/include/cpu_conf.h
  cpu/native/include/eeprom_native.h
  cpu/native/include/gpiodev_linux.h
  cpu/native/include/mtd_native.h
  cpu/native/include/native_cli_eui_provider.h
  cpu/native/include/native_internal.h
  cpu/native/include/netdev_tap.h
  cpu/native/include/netdev_tap_params.h
  cpu/native/include/periph_conf.h
  cpu/native/include/periph_cpu.h
  cpu/native/include/socket_zep.h
  cpu/native/include/socket_zep_params.h
  cpu/native/include/spidev_linux.h
  cpu/native/include/syscalls.h
  cpu/native/include/thread_arch.h
  cpu/native/include/tty_uart.h
  cpu/native/include/util/ucontext.h
  cpu/native/include/util/valgrind.h
  cpu/native/irq.c
  cpu/native/mtd/mtd_native.c
  cpu/native/native.S
  cpu/native/native_cpu.c
  cpu/native/netdev_tap/netdev_tap.c
  cpu/native/panic.c
  cpu/native/periph/can.c
  cpu/native/periph/cpuid.c
  cpu/native/periph/eeprom.c
  cpu/native/periph/flashpage.c
  cpu/native/periph/gpio_linux.c
  cpu/native/periph/gpio_mock.c
  cpu/native/periph/hwrng.c
  cpu/native/periph/pm.c
  cpu/native/periph/pwm.c
  cpu/native/periph/qdec.c
  cpu/native/periph/rtc.c
  cpu/native/periph/spidev_linux.c
  cpu/native/periph/timer.c
  cpu/native/periph/uart.c
  cpu/native/socket_zep/socket_zep.c
  cpu/native/startup.c
  cpu/native/stdio_native/stdio_native.c
  cpu/native/syscalls.c
  cpu/native/tramp.S
  cpu/native/vfs/native_vfs.c
  drivers/pcd8544/pcd8544.c
  makefiles/arch/native.inc.mk
  sys/include/fs/native_fs.h
Labels: Platform: native, Area: build system, Area: drivers, CI: ready for build, Area: cpu, Area: sys, CI: no fast fail

#21290 pkg/uwb-dw1000: Move `doc.txt` to `doc.md`, use the correct include type
  pkg/uwb-dw1000/doc.md
  pkg/uwb-dw1000/doc.txt
Labels: Type: bug, Area: doc, Impact: minor, Area: pkg, CI: ready for build, CI: skip compile test

#19002 cpu/native: use async read for stdio_read()
  cpu/native/async_read.c
  cpu/native/include/async_read.h
  cpu/native/startup.c
  cpu/native/stdio_native/stdio_native.c
  cpu/native/syscalls.c
  examples/networking/gnrc/gnrc_border_router/Makefile.native.conf
  makefiles/stdio.inc.mk
  sys/include/net/telnet.h
  sys/net/application_layer/telnet/telnet_server.c
  tests/pkg/lua_loader/Makefile
  tests/sys/shell/tests/01-run.py
Labels: Type: bug, Platform: native, Area: network, Area: tests, Area: build system, CI: ready for build, Area: cpu, Area: sys, Area: examples, CI: no fast fail

#21293 Fix spelling found by codespell
  cpu/esp32/periph/gpio.c
  cpu/qn908x/periph/i2c.c
  dist/tools/codespell/ignored_words.txt
  drivers/lis2dh12/include/lis2dh12_registers.h
  drivers/pcf857x/pcf857x.c
  examples/advanced/twr_aloha/README.md
  pkg/uwb-core/include/dpl_syscfg/syscfg_uwb_rng.h
  sys/include/net/sock/dtls.h
  sys/include/net/sock/udp.h
  sys/net/gnrc/network_layer/sixlowpan/frag/rb/gnrc_sixlowpan_frag_rb.c
  tests/README.md
Labels: Type: bug, Impact: minor, CI: ready for build, CI: skip compile test

#21267 Add support for Seeed Studio ESP32C3 Xiao
  boards/seeedstudio-xiao-esp32c3/Kconfig
  boards/seeedstudio-xiao-esp32c3/Makefile
  boards/seeedstudio-xiao-esp32c3/Makefile.dep
  boards/seeedstudio-xiao-esp32c3/Makefile.features
  boards/seeedstudio-xiao-esp32c3/Makefile.include
  boards/seeedstudio-xiao-esp32c3/doc.md
  boards/seeedstudio-xiao-esp32c3/include/arduino_iomap.h
  boards/seeedstudio-xiao-esp32c3/include/board.h
  boards/seeedstudio-xiao-esp32c3/include/gpio_params.h
  boards/seeedstudio-xiao-esp32c3/include/periph_conf.h
Labels: Area: doc, CI: ready for build, Area: boards, Area: Kconfig

#21253 core/thread: error in thread.c corrected
  core/include/thread.h
  core/thread.c
Labels: Area: core, CI: ready for build, Process: needs >1 ACK

#21225 sys/malloc_monitor: Fix documentation
  sys/malloc_monitor/doc.txt
Labels: Area: doc, CI: ready for build, Area: sys

#21301 tests/pkg/relic: add Paillier encryption tests
  tests/pkg/relic/main.c
Labels: Area: tests, CI: ready for build

#21305 drivers/{mtd_sdmmc,sdmmc}: reinit card
  drivers/mtd_sdmmc/mtd_sdmmc.c
  drivers/sdmmc/sdmmc.c
Labels: Area: drivers, CI: ready for build

#21180 net_sock_async_event: cancel async event on sock_*_close()
  pkg/lwip/contrib/sock/ip/lwip_sock_ip.c
  pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  pkg/openwsn/sock/openwsn_sock_udp.c
  pkg/tinydtls/contrib/sock_dtls.c
  sys/include/net/sock/async/event.h
  sys/net/gnrc/sock/ip/gnrc_sock_ip.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
  sys/net/sock/async/event/sock_async_event.c
Labels: Area: network, Area: pkg, CI: ready for build, Area: sys

#19213 socket_zep: properly implement the radio HAL
  cpu/native/include/socket_zep.h
  cpu/native/socket_zep/socket_zep.c
  sys/include/net/ieee802154.h
  tests/net/gnrc_sixlowpan_frag_sfr_congure_impl/tests/01-run.py
Labels: Type: bug, Type: enhancement, Platform: native, Area: network, Area: tests, CI: ready for build, Area: cpu, Area: sys

#21309 pyterm: send SIGINT to the subprocess' child
  dist/tools/pyterm/pyterm
Labels: Type: bug, CI: ready for build, Area: tools

#21294 boards: introduce `stdio_default`
  Makefile.dep
  boards/common/esp32s3/stdio_esp32s3_default.dep.mk
  boards/common/makefiles/stdio_cdc_acm.dep.mk
  boards/common/makefiles/stdio_tinyusb_cdc_acm.dep.mk
  boards/esp32c3-wemos-mini/Makefile.dep
  boards/esp32s3-box/Makefile.dep
  boards/esp32s3-pros3/Makefile.dep
  boards/esp32s3-usb-otg/Makefile.dep
  boards/esp32s3-wt32-sc01-plus/Makefile.dep
  boards/hamilton/Makefile.dep
  boards/hip-badge/Makefile.dep
  boards/pinetime/Makefile.dep
  boards/ruuvitag/Makefile.dep
  boards/thingy52/Makefile.dep
  cpu/arm7tdmi_gba/Makefile
  cpu/arm7tdmi_gba/Makefile.dep
  cpu/native/Makefile.dep
  examples/networking/misc/telnet_server/Makefile
  examples/networking/misc/telnet_server/main.c
  makefiles/pseudomodules.inc.mk
  makefiles/stdio.inc.mk
Labels: Platform: native, Area: build system, CI: ready for build, Area: boards, Area: cpu, Area: examples

#21310 boards/nucleo-f746zg: board doc update
  boards/nucleo-f746zg/doc.md
  boards/nucleo-f746zg/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#21313 cpu/native: add missing include
  cpu/native/include/async_read.h
Labels: Type: bug, Platform: native, Impact: minor, CI: ready for build, Area: cpu

#21314 tests/nanocoap_cli: allow to build with lwIP
  tests/net/nanocoap_cli/Makefile
  tests/net/nanocoap_cli/main.c
  tests/net/nanocoap_cli/nanocli_client.c
Labels: Area: tests, CI: ready for build

#21297 sys/psa_crypto: Adding hmac hashing on psa_import_key and fix max hmac key size
  sys/include/psa_crypto/psa/crypto_sizes.h
  sys/psa_crypto/Makefile.dep
  sys/psa_crypto/psa_crypto_algorithm_dispatch.c
  tests/sys/psa_crypto_mac/Makefile.ci
  tests/sys/psa_crypto_mac/example_hmac_sha256.c
Labels: Area: tests, CI: ready for build, Area: sys, CI: full build, CI: no fast fail

#21318 boards/nucleo-144: rename doc.txt to doc.md
  boards/nucleo-f207zg/doc.md
  boards/nucleo-f303ze/doc.md
  boards/nucleo-f412zg/doc.md
  boards/nucleo-f429zi/doc.md
  boards/nucleo-f439zi/doc.md
  boards/nucleo-f446ze/doc.md
  boards/nucleo-f722ze/doc.md
  boards/nucleo-f767zi/doc.md
  boards/nucleo-l496zg/doc.md
  boards/nucleo-l4r5zi/doc.md
  boards/nucleo-l552ze-q/doc.md
  boards/nucleo-u575zi-q/doc.md
Labels: Area: doc, CI: ready for build, Area: boards

#21200 pkg/nimble: Fix compilation with `USEMODULE += nimble_svc_bas`
  pkg/nimble/Makefile
  pkg/nimble/patches/0001-port-npl-riot-add-svc_bas-config.patch
Labels: Type: bug, Area: pkg, CI: ready for build, Area: BLE

#20876 Fido2 update tests
  pkg/fido2_tests/Makefile
  pkg/fido2_tests/patches/0001-Adaptions-for-RIOT-FIDO2-CTAP.patch
  sys/fido2/ctap/ctap.c
  sys/fido2/ctap/ctap_utils.c
  sys/include/fido2/ctap/ctap_utils.h
  tests/sys/fido2_ctap/Makefile
  tests/sys/fido2_ctap_hid/Makefile
  tests/sys/fido2_ctap_hid/README.md
Labels: Area: doc, Area: tests, Area: pkg, CI: ready for build, Area: sys

#21329 makefiles: bump riotdocker [backport 2025.01]
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, Process: release backport, CI: full build

#21327 Buildsystem: Introduce Global Makefiles for `boards` Directory
  Makefile.dep
  Makefile.features
  Makefile.include
  boards/Makefile
  boards/Makefile.dep
  boards/Makefile.features
  boards/Makefile.include
  boards/common/adafruit-nrf52-bootloader/Makefile.dep
  boards/feather-nrf52840-sense/Makefile
  boards/feather-nrf52840-sense/Makefile.dep
  boards/feather-nrf52840-sense/Makefile.include
  boards/feather-nrf52840/Makefile
  boards/feather-nrf52840/Makefile.dep
  boards/feather-nrf52840/Makefile.include
  boards/seeedstudio-xiao-nrf52840/Makefile
  boards/seeedstudio-xiao-nrf52840/Makefile.dep
  boards/seeedstudio-xiao-nrf52840/Makefile.include
  doc/doxygen/src/porting-boards.md
  makefiles/application.inc.mk
Labels: Area: doc, Area: build system, Type: cleanup, CI: ready for build, Area: boards, CI: full build

#21334 buildsystem: Fix `boards/Makefile.features` Inclusion
  Makefile.features
  makefiles/dependency_resolution.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build
