Repository RIOT-OS/RIOT, pull requests merged in 2025-02, with the labels that each got.

#21181 cpu/samd5x/periph_can: fix RX
  cpu/samd5x/periph/can.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: needs backport, Area: cpu

#20411 dist: tools: avoid hanging tapsetup in the absence of a DHCP server
  dist/tools/tapsetup/tapsetup
Labels: CI: ready for build, Area: tools, CI: skip compile test

#21128 dist/tools/bmp: additional improvements to auto-detection
  dist/tools/bmp/README.md
  dist/tools/bmp/bmp.py
Labels: Area: doc, CI: ready for build, Area: tools

#21184 cpu/samd5x/periph_can: fix RX [backport 2025.01]
  cpu/samd5x/periph/can.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Process: release backport, Area: cpu

#21188 drivers/periph_{i2c,spi}: fix doc on initialization
  drivers/include/periph/i2c.h
  drivers/include/periph/spi.h
Labels: Type: bug, Area: drivers, CI: ready for build

#21183 release-notes.txt: add 2025.01 release notes
  VERSION
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release cycle, CI: skip compile test

#21189 release-notes.txt: add 2025.01 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#21185 cpu/esp_common: create partitions.csv more robustly
  cpu/esp_common/Makefile.include
Labels: Type: bug, CI: ready for build, Platform: ESP, Area: cpu

#21118 Request temporary address (IA_NA) for the 6lbr example
  examples/gnrc_border_router/Makefile
Labels: CI: ready for build, Area: examples

#21191 examples/default: fix dependency modeling
  examples/default/main.c
Labels: Type: bug, CI: ready for build, Area: examples

#21193 sys/net/nanocoap: drop typedef hack [v2]
  sys/include/net/nanocoap.h
  sys/include/suit/transport/worker.h
  tests/unittests/Makefile
Labels: Type: bug, Area: tests, CI: ready for build, Process: needs backport

#21179 cpu/sam3: optimize gpio ISR processing
  cpu/sam3/periph/gpio.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#21196 lwip: bump to v2.2.1
  pkg/lwip/Makefile
Labels: Type: enhancement, Area: network, Area: pkg, CI: ready for build

#21195 drivers/at: at_readline_stop_at_str fix remaining buffer length
  drivers/at/at.c
Labels: Area: drivers, CI: ready for build

#20428 can: add CAN FD support to STM32G4 and native architecture
  boards/nucleo-g431rb/Makefile.features
  cpu/esp32/periph/can.c
  cpu/native/Makefile.dep
  cpu/native/periph/can.c
  cpu/stm32/Makefile.dep
  cpu/stm32/include/can_params.h
  cpu/stm32/include/fdcandev_stm32.h
  cpu/stm32/include/periph_cpu.h
  cpu/stm32/periph/Makefile
  cpu/stm32/periph/classiccan.c
  cpu/stm32/periph/fdcan.c
  drivers/include/can/candev.h
  drivers/mcp2515/mcp2515.c
  makefiles/pseudomodules.inc.mk
  sys/Kconfig
  sys/auto_init/can/auto_init_periph_can.c
  sys/can/Kconfig
  sys/can/conn/raw.c
  sys/can/device.c
  sys/can/dll.c
  sys/can/isotp/isotp.c
  sys/can/pkt.c
  sys/can/router.c
  sys/include/can/can.h
  sys/include/can/common.h
  sys/include/can/conn/raw.h
  sys/include/can/device.h
  sys/include/can/dll.h
  sys/include/can/pkt.h
  sys/include/can/raw.h
  sys/include/can/router.h
  sys/shell/cmds/conn_can.c
  tests/drivers/candev/Makefile
  tests/drivers/candev/Makefile.ci
  tests/drivers/candev/main.c
  tests/sys/conn_can/Makefile
  tests/sys/conn_can/Makefile.ci
  tests/sys/conn_can/fdcan-ci.config
  tests/sys/conn_can/main.c
Labels: Platform: native, Platform: ARM, Area: tests, Area: build system, Process: API change, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: sys, Area: Kconfig

#21204 doc: fix image references for ESP32x boards
  boards/esp32-ethernet-kit-v1_0/doc.txt
  boards/esp32-ethernet-kit-v1_1/doc.txt
  boards/esp32-ethernet-kit-v1_2/doc.txt
  boards/esp32-heltec-lora32-v2/doc.txt
  boards/esp32c3-devkit/doc.txt
  boards/esp32s2-devkit/doc.txt
  boards/esp32s3-devkit/doc.txt
  boards/esp32s3-usb-otg/doc.txt
Labels: Type: bug, Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#21207 boards/arduino-due: update doc.txt
  boards/arduino-due/doc.txt
Labels: Area: doc, CI: ready for build, Area: boards

#21208 sys/ztimer: fix small typo in doc
  sys/include/ztimer.h
Labels: CI: ready for build, Area: timers, Area: sys

#21213 makefiles: fix output of info-applications
  examples/language_bindings/officially_supported/rust-async/Cargo.toml
  examples/language_bindings/officially_supported/rust-gcoap/Cargo.toml
  examples/language_bindings/officially_supported/rust-hello-world/Cargo.toml
  examples/networking/bluetooth_low_energy/misc_ble_examples/skald_eddystone/Makefile
  examples/networking/bluetooth_low_energy/misc_ble_examples/skald_ibeacon/Makefile
  examples/networking/bluetooth_low_energy/nimble/nimble_gatt/Makefile
  examples/networking/bluetooth_low_energy/nimble/nimble_heart_rate_sensor/Makefile
  examples/networking/bluetooth_low_energy/nimble/nimble_scanner/Makefile
  examples/networking/gnrc_networking/gnrc_lorawan/Makefile
  makefiles/app_dirs.blacklist
  makefiles/app_dirs.inc.mk
Labels: Area: build system, CI: ready for build, Area: examples, CI: no fast fail

#21217 sys/net/gnrc/netif: pktqueue: don't clash with `GNRC_NETIF_FLAGS_6LO_HC`
  sys/include/net/gnrc/netif/flags.h
Labels: Type: bug, Area: network, Impact: minor, CI: ready for build, Area: sys

#21218 boards/rpi-pico*: Update and fix documentation and image
  boards/rpi-pico-w/doc.txt
  boards/rpi-pico/doc.txt
  boards/rpi-pico/include/board.h
  boards/rpi-pico/include/gpio_params.h
  boards/rpi-pico/include/periph_conf.h
Labels: Area: doc, CI: ready for build, Area: boards, CI: skip compile test

#21224 treewide: fix double the in doc and comments
  boards/common/esp8266/include/board_modules.h
  boards/ikea-tradfri/doc.txt
  boards/spark-core/doc.txt
  boards/stm32l496g-disco/include/periph_conf.h
  cpu/cortexm_common/include/cpu_conf_common.h
  cpu/esp32/doc.txt
  cpu/esp32/esp-eth/esp_eth_netdev.c
  cpu/esp_common/esp-wifi/esp_wifi_netdev.c
  cpu/kinetis/include/bme.h
  cpu/kinetis/include/cpu_conf_kinetis_k.h
  drivers/atwinc15x0/atwinc15x0_netdev.c
  drivers/include/hmc5883l.h
  drivers/include/periph/gpio.h
  examples/advanced_examples/suit_update/README.hardware.md
  pkg/opendsme/include/opendsme/opendsme.h
  sys/include/congure/test.h
  sys/include/crypto/aes.h
  sys/include/net/gnrc/netif/6lo.h
  sys/include/net/gnrc/rpl/dodag.h
  sys/include/net/gnrc/sixlowpan/frag/rb.h
  sys/include/phydat.h
  sys/include/sys/bus.h
  sys/picolibc_syscalls_default/syscalls.c
  sys/psa_crypto/doc.txt
  tests/drivers/hmc5883l/README.md
  tests/drivers/hmc5883l/main.c
Labels: Platform: ARM, Area: network, Area: doc, Area: tests, Area: pkg, Area: drivers, CI: ready for build, Area: boards, Platform: ESP, Area: cpu, Area: sys, Area: examples

#21227 sys/net/nanocoap: fix dereferencing a null pointer
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, CI: ready for build, Area: CoAP, Area: sys

#21169 {cpu/sam0_common/sam0_sdhc,drivers/mtd}: do not allocate `work_area` twice
  cpu/sam0_common/sam0_sdhc/mtd_sdhc.c
  drivers/mtd/mtd.c
Labels: Platform: ARM, Area: drivers, CI: ready for build, Area: cpu

#21223 tests/adc: always test all resolutions
  tests/periph/adc/README.md
  tests/periph/adc/main.c
Labels: Area: doc, Area: tests, CI: ready for build

#19668 ieee802154/submac: calculate symbol time on demand
  drivers/netdev_ieee802154_submac/netdev_ieee802154_submac.c
  sys/include/net/ieee802154.h
  sys/include/net/ieee802154/radio.h
  sys/include/net/ieee802154/submac.h
  sys/net/link_layer/ieee802154/submac.c
  tests/net/ieee802154_submac/main.c
Labels: Area: network, Area: tests, Area: drivers, CI: ready for build, Area: sys

#21233 boards/nucleo-f722ze: add ADC support
  boards/nucleo-f722ze/Makefile.features
  boards/nucleo-f722ze/include/periph_conf.h
Labels: CI: ready for build, Area: boards

#21236 docs/rust: Install c2rust with --locked
  doc/doxygen/src/using-rust.md
Labels: Area: doc, CI: ready for build

#21239 rust: Simplify Makefiles
  examples/lang_support/official/rust-async/Cargo.toml
  examples/lang_support/official/rust-async/Makefile
  examples/lang_support/official/rust-gcoap/Cargo.toml
  examples/lang_support/official/rust-gcoap/Makefile
  examples/lang_support/official/rust-hello-world/Cargo.toml
  examples/lang_support/official/rust-hello-world/Makefile
  makefiles/cargo-settings.inc.mk
  makefiles/docker.inc.mk
  makefiles/vars.inc.mk
  sys/rust_riotmodules_standalone/Cargo.toml
  tests/rust_minimal/Cargo.toml
  tests/rust_minimal/Makefile
Labels: Area: tests, Area: build system, CI: ready for build, Area: sys, Area: examples, Area: Rust

#21214 pkg/driver_cryptocell_310: allow data to be in ROM on hash update
  examples/advanced/psa_crypto/example_hash.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/hashes_common.c
  tests/sys/psa_crypto_hashes/example_hash.c
Labels: Area: tests, Area: pkg, CI: ready for build, Area: examples

#21241 sys/net/nanocoap: fix API inconsistency
  sys/include/net/nanocoap.h
  sys/net/application_layer/nanocoap/nanocoap.c
Labels: Type: bug, Area: network, Process: API change, CI: ready for build, Area: CoAP, Area: sys

#21229 docs: Switch out pkg reference link
  pkg/doc.txt
Labels: Area: doc, Area: pkg, CI: ready for build

#21247 examples: update `dtls-echo` source
  examples/networking/dtls/dtls-sock/README.md
Labels: Area: doc, CI: ready for build, Area: examples

#21246 examples/sniffer: update README
  examples/networking/misc/sniffer/tools/README.md
Labels: Area: doc, Impact: minor, CI: ready for build, Area: examples, CI: skip compile test

#21250 cpu/nrf5*: mark and resolve radio conflict
  cpu/nrf52/Makefile.dep
  cpu/nrf52/Makefile.nrf802154.dep
  cpu/nrf5x_common/Makefile.features
Labels: Platform: ARM, CI: ready for build, Area: cpu

#21219 sys/event: add `event_deferred_callback_post()` helper
  sys/include/event/deferred_callback.h
  tests/sys/event_periodic_callback/main.c
  tests/sys/event_periodic_callback/tests/01-run.py
Labels: Area: tests, CI: ready for build, Area: sys

#21258 makefiles: bump riotdocker
  makefiles/docker.inc.mk
Labels: Area: build system, CI: ready for build, CI: skip compile test
