Repository RIOT-OS/RIOT, pull requests merged in 2025-08, with the labels that each got.

#21629 dist/tools: Move `picosdk` to `pkg` folder, improve `picotool.sh` script
  dist/tools/picosdk/.gitignore
  dist/tools/picotool/Makefile
  dist/tools/picotool/picotool.sh
  pkg/picosdk/Makefile
  pkg/picosdk/Makefile.include
Labels: Type: enhancement, Area: pkg, CI: ready for build, Area: tools

#21637 Allow for building the `suit-tool` as a self-contained binary
  dist/tools/suit/suit-manifest-generator/suit_tool/clidriver.py
Labels: Type: enhancement, Impact: minor, CI: ready for build, Area: tools

#21628 release-notes.txt: add 2025.07 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#21639 release-notes.txt: add 2025.07 release notes [backport 2025.07]
  VERSION
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, CI: skip compile test

#21636 doc: add SPDX information to coding convenstions
  CODING_CONVENTIONS.md
Labels: Type: enhancement, Area: doc, Impact: minor, CI: ready for build

#21545 CPU/Boards: Add Raspberry Pi Pico 2 (RP2350) support
  boards/rpi-pico-2/Kconfig
  boards/rpi-pico-2/Makefile
  boards/rpi-pico-2/Makefile.features
  boards/rpi-pico-2/Makefile.include
  boards/rpi-pico-2/board.c
  boards/rpi-pico-2/dist/openocd.cfg
  boards/rpi-pico-2/doc.md
  boards/rpi-pico-2/include/board.h
  boards/rpi-pico-2/include/gpio_params.h
  boards/rpi-pico-2/include/periph_conf.h
  cpu/cortexm_common/ldscripts/cortexm_base.ld
  cpu/rp2350/Kconfig
  cpu/rp2350/Makefile
  cpu/rp2350/Makefile.dep
  cpu/rp2350/Makefile.features
  cpu/rp2350/Makefile.include
  cpu/rp2350/clock.c
  cpu/rp2350/cpu.c
  cpu/rp2350/doc.md
  cpu/rp2350/include/clock_conf.h
  cpu/rp2350/include/cpu_conf.h
  cpu/rp2350/include/gpio_conf.h
  cpu/rp2350/include/helpers.h
  cpu/rp2350/include/periph_cpu.h
  cpu/rp2350/include/uart_conf.h
  cpu/rp2350/ldscripts/RP2350.ld
  cpu/rp2350/periph/Makefile
  cpu/rp2350/periph/gpio.c
  cpu/rp2350/periph/uart.c
  cpu/rp2350/picobin_block.s
  cpu/rp2350/vectors.c
  cpu/rp2350/xosc.c
  features.yaml
  makefiles/features_existing.inc.mk
Labels: Platform: ARM, Area: doc, Area: build system, Type: new feature, CI: ready for build, Area: boards, Area: cpu, Area: Kconfig

#21631 cpu/samd5: improve clock initialisation XOSC32 and FDPLL
  cpu/samd5x/cpu.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#21651 boards: move licenses to SPDX format in doc.md files
  boards/common/cc2538/doc.md
  boards/common/esp32/doc.md
  boards/common/esp32c3/doc.md
  boards/common/esp32c6/doc.md
  boards/common/esp32h2/doc.md
  boards/common/esp32s2/doc.md
  boards/common/esp32s3/doc.md
  boards/common/esp32x/doc.md
  boards/common/frdm/doc.md
  boards/common/gd32v/doc.md
  boards/common/msp430/doc.md
  boards/common/silabs/doc.md
  boards/common/silabs/drivers/doc.md
  boards/common/stm32/doc.md
  boards/esp32-ethernet-kit-v1_0/doc.md
  boards/esp32-ethernet-kit-v1_1/doc.md
  boards/esp32-ethernet-kit-v1_2/doc.md
  boards/esp32-heltec-lora32-v2/doc.md
  boards/esp32-mh-et-live-minikit/doc.md
  boards/esp32-olimex-evb/doc.md
  boards/esp32-ttgo-t-beam/doc.md
  boards/esp32-wemos-lolin-d32-pro/doc.md
  boards/esp32-wroom-32/doc.md
  boards/esp32-wrover-kit/doc.md
  boards/esp32c3-devkit/doc.md
  boards/esp32c3-wemos-mini/doc.md
  boards/esp32c6-devkit/doc.md
  boards/esp32h2-devkit/doc.md
  boards/esp32s2-devkit/doc.md
  boards/esp32s2-lilygo-ttgo-t8/doc.md
  boards/esp32s2-wemos-mini/doc.md
  boards/esp32s3-box/doc.md
  boards/esp32s3-devkit/doc.md
  boards/esp32s3-pros3/doc.md
  boards/esp32s3-usb-otg/doc.md
  boards/esp32s3-wt32-sc01-plus/doc.md
  boards/seeedstudio-xiao-esp32c3/doc.md
Labels: Area: doc, Type: cleanup, CI: ready for build, Area: boards, CI: skip compile test

#21638 sys/suit: print warning if offset does not match
  sys/include/suit/storage.h
  sys/suit/handlers_command_seq.c
Labels: Impact: minor, CI: ready for build, Area: OTA, Area: sys

#21649 tests: fix compilation problems with NDEBUG
  cpu/esp32/periph/i2c_hw.c
  cpu/rpx0xx/periph/pwm.c
  drivers/cst816s/cst816s_touch_dev.c
  drivers/soft_spi/soft_spi.c
  drivers/ws281x/esp32.c
  pkg/cifra/psa_cifra/aes_ccm.c
  pkg/driver_cryptocell_310/psa_cryptocell_310/aes_ccm.c
  pkg/tinyvcdiff/contrib/tinyvcdiff_mtd/mtd.c
  pkg/uwb-core/Makefile
  pkg/uwb-dw1000/Makefile
  sys/test_utils/netdev_eth_minimal/shell_commands.c
  tests/drivers/dose/main.c
  tests/drivers/enc28j60/main.c
  tests/drivers/encx24j600/main.c
  tests/drivers/esp_eth/main.c
  tests/drivers/ethos/main.c
  tests/drivers/sam0_eth/main.c
  tests/drivers/stm32_eth/main.c
  tests/drivers/w5100/main.c
  tests/drivers/w5500/main.c
  tests/net/gnrc_sixlowpan_frag_sfr_congure/mockup_netif.c
  tests/net/gnrc_tx_sync/main.c
  tests/net/ieee802154_hal/main.c
  tests/periph/flashpage/main.c
  tests/sys/usbus_msc/main.c
  tests/sys/vfs_iterate_mount/main.c
Labels: Type: bug, Area: tests, Area: pkg, Area: drivers, CI: ready for build, Platform: ESP, Area: cpu, Area: sys, CI: no fast fail

#21656 boards: add Arduino Nano ESP32 board
  boards/arduino-nano-esp32/Kconfig
  boards/arduino-nano-esp32/Makefile
  boards/arduino-nano-esp32/Makefile.dep
  boards/arduino-nano-esp32/Makefile.features
  boards/arduino-nano-esp32/Makefile.include
  boards/arduino-nano-esp32/doc.md
  boards/arduino-nano-esp32/include/arduino_iomap.h
  boards/arduino-nano-esp32/include/board.h
  boards/arduino-nano-esp32/include/gpio_params.h
  boards/arduino-nano-esp32/include/periph_conf.h
Labels: Area: doc, Type: new feature, CI: ready for build, Area: boards, Area: Kconfig

#21560 sys/suit: add suit_get_public_key()
  sys/include/suit.h
  sys/suit/handlers_envelope.c
Labels: Type: new feature, CI: ready for build, Area: OTA, Area: sys

#21660 guides/installing: add psutil requirement for pyterm
  doc/guides/getting-started/installing.mdx
Labels: Type: bug, Area: doc, CI: ready for build, CI: skip compile test

#21661 guides/index: fix minor typo
  doc/guides/index.md
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, CI: skip compile test

#21662 picotool/picosdk: Bump version
  dist/tools/picotool/Makefile
  pkg/picosdk/Makefile
Labels: Type: enhancement, Impact: minor, Area: pkg, CI: ready for build, Area: tools

#21669 tests/sys/libc_newlib: drop test
  tests/sys/libc_newlib/Makefile
  tests/sys/libc_newlib/README.md
  tests/sys/libc_newlib/main.c
  tests/sys/libc_newlib/tests/01-run.py
Labels: Area: doc, Area: tests, Type: cleanup, CI: ready for build

#21665 boards/common/nucleo144: fix and complete Arduino configuration
  boards/common/nucleo144/Makefile.features
  boards/common/nucleo144/include/arduino_iomap.h
Labels: Type: bug, CI: ready for build, Area: boards

#21633 sys/net/sntp: migrate from xtimer to ztimer
  sys/Makefile.dep
  sys/include/net/ntp_packet.h
  sys/include/net/sntp.h
  sys/net/application_layer/sntp/sntp.c
Labels: Type: enhancement, Area: network, Impact: minor, CI: ready for build, Area: sys

#21645 makefiles/info.inc.mk: improvements to json build output
  makefiles/info.inc.mk
Labels: Type: bug, Type: enhancement, Area: build system, CI: ready for build

#21678 pkg/mpaland-printf: format points like glibc
  pkg/mpaland-printf/patches/0005-Change-p-formatting-to-match-glibc.patch
Labels: Type: bug, Area: pkg, CI: ready for build

#21683 tests/pkg/emlearn: fix wrong model header file name in README
  tests/pkg/emlearn/README.md
Labels: Area: doc, Area: tests, Impact: minor, Type: cleanup, CI: ready for build, CI: skip compile test

#21684 drivers/sx126x: add support for Dio2 and Dio3
  drivers/include/sx126x.h
  drivers/sx126x/Makefile.include
  drivers/sx126x/include/sx126x_params.h
  drivers/sx126x/sx126x.c
Labels: Type: new feature, Area: drivers, CI: ready for build, Area: LoRa
