Repository RIOT-OS/RIOT, pull requests merged in 2025-04, with the labels that each got.

#21270 nanocoap: avoid non `static` buffers of configurable size
  sys/include/net/nanocoap/link_format.h
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/fs.c
  sys/net/application_layer/nanocoap/link_format.c
  sys/net/application_layer/nanocoap/sock.c
  sys/shell/cmds/nanocoap_vfs.c
  tests/net/gcoap_fileserver/Makefile.ci
  tests/net/nanocoap_cli/Makefile.ci
Labels: Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys, CI: no fast fail

#21341 build system: create cargo folders more robustly
  makefiles/cargo-targets.inc.mk
Labels: Type: bug, Area: build system, Impact: minor, CI: ready for build

#21333 examples/nanocoap_server: enable LWIP IPv4
  examples/networking/coap/nanocoap_server/Makefile
  examples/networking/coap/nanocoap_server/README.md
  examples/networking/coap/nanocoap_server/main.c
Labels: Area: doc, CI: ready for build, Area: examples

#21319 add *.doc.md to doxygen sources
  core/include/mutex.h
  core/mutex.doc.md
  dist/tools/doccheck/check.sh
  doc/doxygen/riot.doxyfile
  doc/doxygen/src/css/riot.css
  doc/doxygen/src/css/riot.less
Labels: Area: doc, Area: core, CI: ready for build, Area: tools, CI: skip compile test

#20872 core: add stdio.h to replace stdout functions with stdio_null
  core/include/stdio.h
  cpu/avr8_common/avr_libc_extra/posix_unistd.c
  cpu/native/syscalls.c
  dist/tools/headerguards/headerguards.py
  pkg/jerryscript/Makefile
Labels: Platform: native, Area: core, Area: pkg, Platform: AVR, CI: ready for build, Area: tools, Area: cpu, Process: needs >1 ACK

#21345 doc: deprecate RIOT_FILE_* macros
  doc.txt
Labels: Area: doc, Impact: minor, CI: ready for build

#21230 cpu/stm32{f0,g0,c0}: fix ADC initialization sequence
  cpu/stm32/periph/adc_f0_g0_c0.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#20581 drivers/periph_timer: add `timer_get_closest_freq()`
  drivers/include/periph/timer.h
  drivers/periph_common/timer.c
  tests/periph/timer/main.c
Labels: Area: tests, Type: new feature, Area: drivers, CI: ready for build

#21238 cpu/stm32{f3,l4,wb,wl}: Replace ztimer with busy_wait, fix VBat sampling time and {wl only} fix initialization sequence
  cpu/stm32/Makefile.dep
  cpu/stm32/periph/adc_f3.c
  cpu/stm32/periph/adc_l4_wb.c
  cpu/stm32/periph/adc_wl.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#21346 cpu/stm32f2: Fix Sampling Time for VBat
  cpu/stm32/periph/adc_f2.c
Labels: Type: bug, Platform: ARM, Impact: minor, CI: ready for build, Area: cpu

#20971 cpu/stm32: Make ADC Resolution Definition uniform
  cpu/stm32/include/periph/c0/periph_cpu.h
  cpu/stm32/include/periph/f0/periph_cpu.h
  cpu/stm32/include/periph/f2/periph_cpu.h
  cpu/stm32/include/periph/f3/periph_cpu.h
  cpu/stm32/include/periph/f4/periph_cpu.h
  cpu/stm32/include/periph/f7/periph_cpu.h
  cpu/stm32/include/periph/g0/periph_cpu.h
  cpu/stm32/include/periph/l0/periph_cpu.h
  cpu/stm32/include/periph/l1/periph_cpu.h
  cpu/stm32/include/periph/l4/periph_cpu.h
  cpu/stm32/include/periph/wb/periph_cpu.h
  cpu/stm32/include/periph/wl/periph_cpu.h
  cpu/stm32/periph/adc_f0_g0_c0.c
  cpu/stm32/periph/adc_f2.c
  cpu/stm32/periph/adc_f3.c
  cpu/stm32/periph/adc_f4_f7.c
  cpu/stm32/periph/adc_l0.c
  cpu/stm32/periph/adc_l1.c
  cpu/stm32/periph/adc_l4_wb.c
  cpu/stm32/periph/adc_wl.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#21347 tests/unittests: if include guards in doc example
  tests/unittests/README.md
Labels: Type: enhancement, Area: doc, Area: tests, Impact: minor, CI: ready for build, CI: skip compile test

#21308 sys/bcd: add bcd_buf_from_u32()
  sys/bcd/Makefile
  sys/bcd/bcd.c
  sys/include/bcd.h
  sys/include/string_utils.h
  sys/libc/string.c
  tests/unittests/tests-bcd/Makefile.include
  tests/unittests/tests-bcd/tests-bcd.c
  tests/unittests/tests-libc/tests-libc.c
Labels: Area: tests, CI: ready for build, Area: sys

#21351 .github/labeler: recognize boards/common/native as native
  .github/labeler.yml
Labels: CI: ready for build, Area: CI, CI: skip compile test

#20849 sys/event: add `event_loop_debug` pseudo-module
  sys/Makefile.dep
  sys/include/event.h
Labels: CI: ready for build, Area: sys

#21353 boards/telosb: fix stdio_uart symbol rate
  boards/telosb/Makefile.include
  boards/telosb/doc.txt
Labels: Type: bug, Area: doc, Impact: minor, CI: ready for build, Area: boards

#21354 buildsystem: Set `term` Goal to NOTPARALLEL
  Makefile.include
Labels: Type: bug, Area: build system, CI: ready for build

#21356 sys/net/ipv6: use markdown links in doc
  sys/include/net/ipv6/addr.h
Labels: Area: network, Type: cleanup, CI: ready for build, Area: sys

#21358 buildsystem: Enable -Wdocumentation for LLVM
  makefiles/cflags.inc.mk
  makefiles/toolchain/gnu.inc.mk
Labels: Area: build system, Type: new feature, CI: ready for build

#21361 buildsystem: Fix Supported Board List in `info-build`
  makefiles/info.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build

#21160 nanocoap_sock: implement observe (Client-Side)
  examples/networking/coap/nanocoap_server/coap_handler.c
  sys/Makefile.dep
  sys/include/net/nanocoap_sock.h
  sys/net/application_layer/nanocoap/sock.c
  tests/net/nanocoap_cli/Makefile
  tests/net/nanocoap_cli/nanocli_client.c
Labels: Area: network, Area: tests, CI: ready for build, Area: CoAP, Area: sys, Area: examples, CI: full build, CI: no fast fail

#21363 gnrc_sock/udp: zero-init sock struct on create
  pkg/lwip/contrib/sock/udp/lwip_sock_udp.c
  sys/net/gnrc/sock/udp/gnrc_sock_udp.c
Labels: Type: bug, Area: network, Area: pkg, CI: ready for build, Area: sys

#21357 tree wide: various doc fixes
  core/lib/atomic_c11.c
  core/lib/include/panic.h
  cpu/esp8266/vendor/esp-idf/bootloader_support/include/esp_image_format.h
  cpu/esp8266/vendor/esp-idf/esp8266/include/esp_phy_init.h
  cpu/esp8266/vendor/esp-idf/esp8266/include/esp_wifi.h
  cpu/sam0_common/include/periph_cpu_common.h
  drivers/include/at24cxxx.h
  drivers/include/ft5x06.h
  drivers/include/hm330x.h
  drivers/include/ir_nec.h
  drivers/include/matrix_keypad.h
  drivers/include/max31855.h
  drivers/include/mfrc522.h
  drivers/include/periph/usbdev.h
  drivers/include/sgp30.h
  drivers/include/stmpe811.h
  drivers/include/sx126x.h
  drivers/include/sx1280.h
  pkg/littlefs/lfs_log.h
  pkg/littlefs2/lfs_log.h
  sys/arduino/include/spiport.hpp
  sys/cpp11-compat/include/riot/mutex.hpp
  sys/cpp11-compat/include/riot/thread.hpp
  sys/include/can/conn/isotp.h
  sys/include/can/conn/raw.h
  sys/include/fmt.h
  sys/include/matstat.h
  sys/include/net/gnrc/netif/internal.h
  sys/include/stdio_base.h
  sys/include/suit/transport/worker.h
  sys/include/vfs.h
  sys/include/ztimer/periodic.h
  sys/net/application_layer/gcoap/gcoap.c
  sys/net/gnrc/sock/include/gnrc_sock_internal.h
  sys/net/gnrc/transport_layer/udp/gnrc_udp.c
  sys/psa_crypto/include/psa_ecc.h
  sys/random/fortuna/fortuna.h
Labels: Type: bug, Platform: ARM, Area: network, Area: core, Area: pkg, Area: drivers, CI: ready for build, Area: timers, Area: arduino API, Area: LoRa, Area: OTA, Platform: ESP, Area: CoAP, Area: cpu, Area: sys

#21173 cpu/samd5x: improve can-initialization
  cpu/samd5x/periph/can.c
Labels: Platform: ARM, CI: ready for build, Area: cpu

#21300 dist/tools: Add Doxygen as a Tool for CI
  Makefile
  dist/tools/doxygen/.gitignore
  dist/tools/doxygen/Makefile
  doc/doxygen/Makefile
Labels: Area: doc, Discussion: RFC, CI: ready for build, Area: tools

#21359 buildsystem: Remove `buildtest` Goal & Fix `info-buildsizes-diff`
  Makefile.include
  dist/tools/ci/build_and_test.sh
  dist/tools/compile_test/compile_test.py
  dist/tools/zsh-completion/zsh-riot.sh
  doc/doxygen/src/advanced-build-system-tricks.md
  doc/doxygen/src/getting-started.md
  examples/basic/hello-world/README.md
  makefiles/buildtests.inc.mk
  makefiles/docker.inc.mk
  makefiles/info-global.inc.mk
  makefiles/info-nproc.inc.mk
  makefiles/info.inc.mk
Labels: Area: doc, Area: build system, Type: cleanup, CI: ready for build, Area: tools, Area: examples

#21365 drivers/lis2dh12: int32_t lis2dh12_wait_event()
  drivers/include/lis2dh12.h
  drivers/lis2dh12/lis2dh12.c
  tests/drivers/lis2dh12/main.c
Labels: Area: tests, Impact: minor, Area: drivers, CI: ready for build

#21175 tests/drivers/candev: minor cleanup
  tests/drivers/candev/Makefile
  tests/drivers/candev/main.c
Labels: Area: tests, Type: cleanup, CI: ready for build

#21367 dist/tools: add `#pragma once` to headerguard check
  dist/tools/headerguards/headerguards.py
Labels: CI: ready for build, Area: tools

#21368 doc/managing-a-release: add looking out for release tests to preps
  doc/guides/managing-a-release/README.md
Labels: Area: doc, CI: ready for build, CI: skip compile test

#21369 CODING_CONVENTION.md: migrate to `#pragma once`
  CODING_CONVENTIONS.md
Labels: Area: doc, CI: ready for build, Process: needs >1 ACK, CI: skip compile test

#21373 cpu/esp32: Fixes of compile problems with GCC 14.2 [backport 2025.01]
  cpu/esp32/Makefile
  cpu/esp32/stdatomic.c
  pkg/jerryscript/Makefile
  pkg/utensor/Makefile.include
Labels: Type: bug, Area: pkg, CI: ready for build, Platform: ESP, Process: release backport, Area: cpu

#21322 sys/psa_crypto: usa auto_init module for initialization
  examples/advanced/psa_crypto/main.c
  sys/auto_init/auto_init.c
  sys/psa_crypto/doc.md
  sys/psa_crypto/doc.txt
  tests/sys/psa_crypto_cipher/main.c
  tests/sys/psa_crypto_ecdsa/main.c
  tests/sys/psa_crypto_eddsa/main.c
  tests/sys/psa_crypto_hashes/main.c
  tests/sys/psa_crypto_mac/main.c
  tests/sys/psa_crypto_persistent_storage/main.c
  tests/sys/psa_crypto_se/main.c
  tests/sys/psa_crypto_se_cipher/main.c
  tests/sys/psa_crypto_se_ecdsa/main.c
  tests/sys/psa_crypto_se_mac/main.c
Labels: Area: doc, Area: tests, CI: ready for build, Area: sys, Area: examples

#21378 makefiles/docker.inc.mk: bump tagged container
  makefiles/docker.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build, Process: needs backport

#21371 tree-wide: mixed back of documentation fixes
  drivers/include/periph/adc.h
  drivers/sdmmc/sdmmc.c
  drivers/sdmmc/sdmmc_sdhc.c
  pkg/fatfs/fatfs_diskio/mtd/mtd_diskio.c
  sys/ecc/hamming256.c
  sys/hashes/md5.c
  sys/include/bloom.h
  sys/include/net/nanocoap_sock.h
  sys/include/senml.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/network_layer/ipv6/nib/_nib-internal.h
  sys/newlib_syscalls_default/syscalls.c
  tests/unittests/tests-ztimer64/tests-ztimer64-core.c
Labels: Type: bug, Area: network, Area: tests, Area: pkg, Area: drivers, CI: ready for build, Area: sys

#21379 makefiles/docker.inc.mk: bump tagged container [backport 2025.01]
  makefiles/docker.inc.mk
Labels: Area: build system, Impact: minor, CI: ready for build, Process: release backport

#19955 drivers/sen5x: Add device driver for SEN5x
  drivers/Kconfig
  drivers/Makefile.dep
  drivers/include/sen5x.h
  drivers/saul/init_devs/auto_init_sen5x.c
  drivers/saul/init_devs/init.c
  drivers/sen5x/Kconfig
  drivers/sen5x/Makefile
  drivers/sen5x/Makefile.dep
  drivers/sen5x/Makefile.include
  drivers/sen5x/include/sen5x_constants.h
  drivers/sen5x/include/sen5x_params.h
  drivers/sen5x/sen5x.c
  drivers/sen5x/sen5x_saul.c
  pkg/Kconfig
  pkg/driver_sen5x/Kconfig
  pkg/driver_sen5x/Makefile
  pkg/driver_sen5x/Makefile.dep
  pkg/driver_sen5x/Makefile.include
  pkg/driver_sen5x/doc.md
  pkg/driver_sen5x/driver_sen5x.mk
  pkg/driver_sen5x/patches/0001-pkg-driver_sen5x-Riot-port.patch
  pkg/driver_sen5x/patches/0002-pkg-driver_sen5x-Riot-port.patch
  tests/drivers/sen5x/Makefile
  tests/drivers/sen5x/Makefile.ci
  tests/drivers/sen5x/README.md
  tests/drivers/sen5x/app.config.test
  tests/drivers/sen5x/main.c
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, Area: drivers, CI: ready for build, Area: SAUL, Area: Kconfig, CI: full build, CI: no fast fail

#21384 sys/malloc_tracing: remove deprecated module
  makefiles/pseudomodules.inc.mk
  sys/malloc_thread_safe/malloc_wrappers.c
Labels: Area: build system, CI: ready for build, Area: sys

#21386 drivers/mtd_default: remove deprecated `mtd_default_get_dev()`
  drivers/include/mtd_default.h
  pkg/flashdb/include/fal_cfg.h
  sys/fido2/ctap/ctap_mem.c
Labels: Area: pkg, Area: drivers, CI: ready for build, Area: sys

#21387 sys/vfs: remove deprecated `vfs_iterate_mounts()`
  sys/include/vfs.h
  sys/vfs/vfs.c
Labels: CI: ready for build, Area: sys

#21385 sys/net/gcoap: remove deprecated gcoap_req_send_tl()
  sys/include/net/gcoap.h
Labels: Area: network, CI: ready for build, Area: sys

#21392 driver/sen5x: Small Fixups
  drivers/include/sen5x.h
  drivers/sen5x/include/sen5x_constants.h
  drivers/sen5x/include/sen5x_params.h
  tests/drivers/sen5x/app.config.test
Labels: Area: tests, Area: drivers, CI: ready for build

#21383 treewide: update riot-wrappers and riot-sys
  examples/lang_support/official/rust-async/Cargo.lock
  examples/lang_support/official/rust-gcoap/Cargo.lock
  examples/lang_support/official/rust-hello-world/Cargo.lock
  sys/rust_riotmodules_standalone/Cargo.lock
  tests/rust_minimal/Cargo.lock
Labels: Area: tests, CI: ready for build, Area: sys, Area: examples

#21388 sys/can: fix compilation issues under native
  cpu/native/Makefile.include
  pkg/libsocketcan/Makefile
  sys/Makefile.dep
  sys/can/Makefile.dep
Labels: Type: bug, Platform: native, Area: pkg, CI: ready for build, Area: cpu, Area: sys, CI: no fast fail

#21376 sys/ztimer: add hint for setting static sleep adjustment
  sys/include/ztimer/config.h
Labels: CI: ready for build, Area: timers, Area: sys, CI: skip compile test

#21344 sys/isrpipe: unit tests, doc, and fix init
  sys/include/isrpipe.h
  sys/include/isrpipe/read_timeout.h
  sys/include/tsrb.h
  sys/isrpipe/isrpipe.c
  tests/unittests/tests-isrpipe/Makefile
  tests/unittests/tests-isrpipe/Makefile.include
  tests/unittests/tests-isrpipe/tests-isrpipe-read_timeout.c
  tests/unittests/tests-isrpipe/tests-isrpipe.c
  tests/unittests/tests-isrpipe/tests-isrpipe.h
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: sys

#21393 sys/psa_crypto: drop no-op Doxygen statements
  sys/psa_crypto/include/psa_ciphers.h
  sys/psa_crypto/include/psa_crypto_algorithm_dispatch.h
  sys/psa_crypto/include/psa_crypto_location_dispatch.h
  sys/psa_crypto/include/psa_ecc.h
  sys/psa_crypto/include/psa_hashes.h
Labels: CI: ready for build, Area: sys

#21391 sys/fmt: add {fmt,scn}_time_tm_iso8601
  sys/fmt/fmt.c
  sys/include/fmt.h
  tests/periph/rtc/Makefile
  tests/periph/rtc/main.c
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Area: tests, CI: ready for build, Area: sys

#21396 examples/nanocoap_server: fix typo in LWIP interface name
  examples/networking/coap/nanocoap_server/Makefile
  examples/networking/coap/nanocoap_server/main.c
Labels: Impact: minor, CI: ready for build, Area: examples

#21399 doc: add psutil requirement to Getting Started
  doc/doxygen/src/getting-started.md
Labels: Type: enhancement, Area: doc, CI: ready for build

#20023 board/native: set TZ to UTC by default
  boards/common/native/board_init.c
  boards/common/native/doc.md
Labels: Platform: native, Area: doc, CI: ready for build, Area: boards

#21403 tests/bench/runtime_coreapis: add clist_sort() benchmark
  tests/bench/runtime_coreapis/Makefile
  tests/bench/runtime_coreapis/Makefile.ci
  tests/bench/runtime_coreapis/main.c
  tests/bench/runtime_coreapis/tests/01-run.py
Labels: Type: enhancement, Area: tests, CI: ready for build

#21408 pkg/esp32_sdk: Fix broken `rtc_io.h` declaration and prevent `sys/uio.h` inclusion outside RIOT
  pkg/esp32_sdk/patches/0037-driver-rtc_io-correct-declaration-of-renamed-functio.patch
  pkg/esp32_sdk/patches/0038-newlib-avoid-sys-uio.h-inclusion-outside-of-RIOT.patch
Labels: Type: enhancement, Area: pkg, CI: ready for build, Platform: ESP

#21401 core/cib: Add a prominent warning about thread safety
  core/lib/include/cib.h
Labels: Area: core, CI: ready for build, CI: skip compile test

#21413 tests/shell: enable the test on native
  tests/sys/shell/Makefile
Labels: Area: tests, CI: ready for build

#21400 core/msg: fix `msg_avail_thread()` and `msg_avail()`
  core/include/msg.h
  core/msg.c
Labels: Type: bug, Area: core, CI: ready for build, Process: needs >1 ACK

#21360 cpu/samd5x/periph_can: Expose more CAN controller configs
  cpu/samd5x/include/candev_samd5x.h
  cpu/samd5x/periph/can.c
Labels: Platform: ARM, Type: new feature, CI: ready for build, Area: cpu

#21415 core/msg: handle error in msg_queue_capacity()
  core/include/msg.h
  core/msg.c
Labels: Area: core, Impact: minor, Process: API change, CI: ready for build, Process: needs >1 ACK

#21410 buildsystem: clean `dist/tools` with `(dist)clean` as well, parallel cleaning!
  Makefile
  dist/tools/benchmark_udp/Makefile
  dist/tools/cc2538-bsl/Makefile
  dist/tools/cosy/Makefile
  dist/tools/dose/Makefile
  dist/tools/ethos/Makefile
  dist/tools/fixdep/Makefile
  dist/tools/kconfiglib/Makefile
  dist/tools/lpc2k_pgm/Makefile
  dist/tools/pioasm/Makefile
  dist/tools/riotboot_gen_hdr/Makefile
  dist/tools/riotboot_serial/Makefile
  dist/tools/sliptty/Makefile
  dist/tools/teensy-loader-cli/Makefile
  dist/tools/tunslip/Makefile
  dist/tools/uf2/Makefile
  dist/tools/uhcpd/Makefile
  dist/tools/zep_dispatch/Makefile
  makefiles/app_dirs.inc.mk
Labels: Type: bug, Area: build system, CI: ready for build, Area: tools, Area: Kconfig

#21414 core/thread: fix thread_has_msg_queue()
  core/include/thread.h
  tests/net/gnrc_netif/main.c
Labels: Type: bug, Area: tests, Area: core, Process: API change, CI: ready for build, Process: needs >1 ACK

#21420 pkg/lwip: Add DEBUG output to lwip_sock_tcp()
  pkg/lwip/contrib/sock/tcp/lwip_sock_tcp.c
Labels: Area: network, Impact: minor, Area: pkg, CI: ready for build

#21425 sys/embUnit: add IWYU pragmas
  sys/include/embUnit.h
  sys/include/embUnit/embUnit.h
Labels: Impact: minor, CI: ready for build, Area: sys

#21422 sys/suit: don't block in suit_worker_trigger()
  sys/include/suit/transport/worker.h
  sys/suit/transport/worker.c
Labels: Process: API change, CI: ready for build, Area: OTA, Area: sys

#21424 examples/suit_update: fix compilation for `native`
  examples/advanced/suit_update/Makefile
Labels: Type: bug, CI: ready for build, Area: examples

#21426 shell/vfs: set proper file permissions
  sys/shell/cmds/vfs.c
Labels: Type: bug, Impact: minor, CI: ready for build, Area: sys

#21417 boards/stm32 Discovery: rename doc.txt -> doc.md for STM32 Discovery boards
  boards/stm32f030f4-demo/doc.md
  boards/stm32f0discovery/doc.md
  boards/stm32f0discovery/doc.txt
  boards/stm32f3discovery/doc.md
  boards/stm32f429i-disc1/doc.md
  boards/stm32f429i-disc1/doc.txt
  boards/stm32f429i-disco/doc.md
  boards/stm32f4discovery/doc.md
  boards/stm32f723e-disco/doc.md
  boards/stm32f746g-disco/doc.md
  boards/stm32f7508-dk/doc.md
  boards/stm32f769i-disco/doc.md
  boards/stm32f769i-disco/doc.txt
  boards/stm32g0316-disco/doc.md
  boards/stm32g0316-disco/doc.txt
  boards/stm32l0538-disco/doc.md
  boards/stm32l476g-disco/doc.md
  boards/stm32mp157c-dk2/doc.md
Labels: Type: enhancement, Area: doc, CI: ready for build, Area: boards

#21402 tests/unittests/tests-core-clist: improve unit test
  tests/unittests/tests-core/tests-core-clist.c
Labels: Type: enhancement, Area: tests, CI: ready for build

#21430 dist/tools: add a leading whitespace check for `#pragma once` in the `headerguards` static test
  dist/tools/headerguards/headerguards.py
Labels: Type: enhancement, CI: ready for build, Area: tools

#21427 examples/suit_update: fix compilation for `native` [backport 2025.04]
  examples/advanced/suit_update/Makefile
Labels: Type: bug, CI: ready for build, Process: release backport, Area: examples

#21431 tools: add default .clang-tidy configuration
  .clang-tidy
  .gitignore
Labels: Type: new feature, CI: ready for build

#21429 sys/atomic_utils: add helpers for unsigned int
  sys/include/atomic_utils.h
Labels: Type: enhancement, CI: ready for build, Area: sys

#20664 pkg/mpaland-printf: Add alternative stdio as package
  pkg/mpaland-printf/Makefile
  pkg/mpaland-printf/Makefile.dep
  pkg/mpaland-printf/Makefile.include
  pkg/mpaland-printf/doc.md
  pkg/mpaland-printf/mpaland-printf.mk
  pkg/mpaland-printf/patches/0001-RIOT-integration.patch
  pkg/mpaland-printf/patches/0002-Wrapper-targets-Add-endpoints-for-Wl-wrap.patch
  pkg/mpaland-printf/patches/0003-RIOT-integration-Enable-floating-support-based-on-mo.patch
  pkg/mpaland-printf/patches/0004-Fix-parsing-of-int8_t.patch
  tests/sys/snprintf/Makefile
  tests/sys/snprintf/Makefile.board.dep
  tests/sys/snprintf/README.md
  tests/sys/snprintf/main.c
  tests/sys/snprintf/tests/01-run.py
Labels: Area: doc, Area: tests, Area: build system, Type: new feature, Area: pkg, CI: ready for build

#21433 sys/string_utils: make `swprintf()` appear in doc
  sys/include/string_utils.h
Labels: Impact: minor, CI: ready for build, Area: sys

#21421 pkg/micropython: bump version
  pkg/micropython/Makefile
Labels: Type: bug, Impact: minor, Area: pkg, CI: ready for build

#21441 drivers/sx126x: add `shield_sx1262`
  drivers/Makefile.dep
  drivers/doc.txt
  drivers/sx126x/include/sx126x_params.h
  makefiles/pseudomodules.inc.mk
Labels: Type: bug, Type: enhancement, Area: doc, Area: build system, Area: drivers, CI: ready for build, Area: LoRa

#21428 sys/bcd: add `bcd_buf_to_u32()` and `bcd_buf_from_str()`
  sys/bcd/bcd.c
  sys/include/bcd.h
  tests/unittests/tests-bcd/tests-bcd.c
Labels: Type: enhancement, Area: tests, CI: ready for build, Area: sys

#21445 sys/stdio: add printf_long_long
  makefiles/pseudomodules.inc.mk
  pkg/mpaland-printf/Makefile.dep
  pkg/mpaland-printf/patches/0003-RIOT-integration-Enable-floating-support-based-on-mo.patch
  pkg/mpaland-printf/patches/0003-RIOT-integration-Select-features-based-on-modules.patch
Labels: Type: enhancement, Area: build system, Area: pkg, CI: ready for build

#21443 tree-wide: fix compilation with GCC 15.1 and picolibc 1.8.10
  core/lib/include/compiler_hints.h
  makefiles/vars.inc.mk
  pkg/pkg.mk
  sys/fmt/fmt.c
  sys/fmt/table.c
  sys/picolibc_syscalls_default/syscalls.c
  tests/bench/sys_base64/main.c
  tests/drivers/hm330x/Makefile
  tests/drivers/hm330x/main.c
  tests/sys/psa_crypto/main.c
  tests/sys/psa_crypto_ecdsa/test_ecdsa_p256_vectors.c
  tests/sys/struct_tm_utility/main.c
  tests/unittests/tests-fmt/tests-fmt.c
Labels: Type: enhancement, Area: tests, Area: core, Area: build system, Area: pkg, CI: ready for build, Area: sys

#19926 cpu/nrf5x_common: fix uart_poweroff()
  cpu/nrf5x_common/periph/uart.c
Labels: Type: bug, Platform: ARM, CI: ready for build, Area: cpu

#21437 gnrc/ipv6/nib: add option to disable router solicitations
  sys/include/net/gnrc/ipv6/nib/conf.h
  sys/net/gnrc/network_layer/ipv6/nib/nib.c
Labels: Type: enhancement, Area: network, CI: ready for build, Area: sys

#21449 buildsystem: add 'docclean', 'doc-starlight' to RIOT Welcome Message
  Makefile
Labels: Type: enhancement, Area: build system, Impact: minor, CI: ready for build

#21447 release-notes.txt: add 2025.04 release notes
  release-notes.txt
Labels: Area: doc, CI: ready for build, CI: skip compile test

#21450 tools/uf2/nrf52_softdevice_check: abort when several bootloaders present
  dist/tools/uf2/nrf52_softdevice_check.sh
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, Process: needs backport, CI: skip compile test

#21452 tools/uf2/nrf52_softdevice_check: abort when several bootloaders present [backport 2025.04]
  dist/tools/uf2/nrf52_softdevice_check.sh
Labels: Type: bug, Impact: minor, CI: ready for build, Area: tools, Process: release backport, CI: skip compile test

#21451 release-notes.txt: add 2025.04 release notes [backport 2025.04]
  release-notes.txt
Labels: Area: doc, CI: ready for build, Process: release backport, CI: skip compile test

#21453 VERSION: add 2025.04
  VERSION
Labels: CI: ready for build, CI: skip compile test

#21448 makefiles/riotgen: fix colors and behavior for undefined `generate-*` targets
  makefiles/tools/riotgen.inc.mk
Labels: Type: bug, Type: enhancement, Area: build system, Impact: minor, CI: ready for build, Area: tools, CI: skip compile test

#21440 sys/atomic_utils: add bit set/clear helpers for unsigned int
  sys/include/atomic_utils.h
Labels: Type: enhancement, CI: ready for build, Area: sys

#21457 doc/guides/general: switch out @ref usage
  doc/guides/general/structure.mdx
Labels: Area: doc, CI: ready for build
