Repository RIOT-OS/RIOT, changes with the owners that CODEOWNERS names for each.
All owners: @jia200x, @kaspar030, @gschorcht, @aabadie, @haukepetersen, @basilfx, @fjmolinas, @yegorich, @Hyungsin, @leandrolanzieri, @dylad, @benpicco, @MrKevinWeiss, @luisan00, @maribu, @kYc0o, @roberthartung, @hexluthor, @smlng, @thomaseichinger, @DipSwitch, @bergzand, @francois-berder, @SemjonKerner, @keestux, @biboc, @vincent-d, @miri64, @daniel-k, @wosym, @daexel, @jue89, @Einhornhool, @PeterKietzmann, @jcarrano, @rfuentess, @kb2ma, @brummer-simon, @cgundogan, @emmanuelsearch, @MichelRottleuthner

cpu/lm4f120: Remove dev_enums dependency
  boards/ek-lm4f120xl/include/periph_conf.h
  cpu/lm4f120/periph/uart.c
Owners: @MrKevinWeiss

boards/msb-430: Remove unused UART_x_EN macro
  boards/msb-430/include/periph_conf.h
  boards/msb-430h/include/periph_conf.h
Owners: none

cpu/lpc1768: Generalize uart to remove dev_enums
  boards/mbed_lpc1768/include/periph_conf.h
  boards/seeeduino_arch-pro/include/periph_conf.h
  cpu/lpc1768/include/periph_cpu.h
  cpu/lpc1768/periph/uart.c
Owners: @MrKevinWeiss

boards/z1: Remove unused UART_x_EN macro
  boards/z1/include/periph_conf.h
Owners: none

boards/telosb: Remove unused UART_x_EN macro
  boards/telosb/include/periph_conf.h
Owners: none

boards/nrf6310: Remove unused UART_x_EN macro
  boards/nrf6310/include/periph_conf.h
Owners: @aabadie, @haukepetersen

drivers/periph: Remove UART from dev_enums.h
  drivers/include/periph/dev_enums.h
Owners: @MrKevinWeiss

ieee802154_hal: add missing const qualifiers
  sys/include/net/ieee802154/radio.h
Owners: none

cc2538_rf: add missing const qualifiers
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
Owners: @hexluthor, @smlng, @fjmolinas

sys/ztimer: allow compensation of ztimer_sleep() overhead
  sys/include/ztimer.h
  sys/ztimer/auto_init.c
  sys/ztimer/core.c
  sys/ztimer/util.c
Owners: @kaspar030, @bergzand

cc2538_rf_hal: fix style issues
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
Owners: @hexluthor, @smlng, @fjmolinas

tests/periph_spi: add support for printing SPI clock rates
  tests/periph_spi/main.c
Owners: @MrKevinWeiss

cpu/fe310: ensure all clock modes are built
  cpu/fe310/clock.c
Owners: @aabadie, @kaspar030, @bergzand

boards/hifive1: use MHZ utility macro for clock frequency
  boards/hifive1/include/periph_conf.h
  boards/hifive1b/include/periph_conf.h
  cpu/fe310/include/cpu.h
Owners: @aabadie, @kaspar030, @bergzand

boards/hifive1*: fix clock configuration
  boards/hifive1/include/periph_conf.h
  boards/hifive1b/include/periph_conf.h
Owners: none

cpu/fe310: boards/hifive1*: use IS_ACTIVE where possible
  boards/hifive1/include/periph_conf.h
  boards/hifive1b/include/periph_conf.h
  cpu/fe310/clock.c
Owners: @aabadie, @kaspar030, @bergzand

cpu/stm32l4wb: fix APBx bitfields for divider factor 2
  cpu/stm32/stmclk/stmclk_l4wb.c
Owners: @aabadie, @fjmolinas, @DipSwitch, @vincent-d

cpu/efm32: define CLOCK_CORECLOCK
  cpu/efm32/include/periph_cpu.h
Owners: @basilfx

boards/ek-lm4f120xl: define CLOCK_CORECLOCK
  boards/ek-lm4f120xl/include/periph_conf.h
Owners: none

cpu/native: pull xtimer when RTC is used
  cpu/native/Makefile.dep
Owners: none

boards/seeeduino_arch-pro: define CLOCK_CORECLOCK
  boards/seeeduino_arch-pro/include/periph_conf.h
  boards/seeeduino_arch-pro/include/vendor_conf.h
  boards/seeeduino_arch-pro/system.c
Owners: none

boards/mbed_lpc1768: define CLOCK_CORECLOCK
  boards/mbed_lpc1768/include/periph_conf.h
  boards/mbed_lpc1768/include/vendor_conf.h
  boards/mbed_lpc1768/system.c
Owners: none

Makefile.dep: add missing netif dependency
  Makefile.dep
Owners: none

pkg/openwsn: set panid in idmanager
  pkg/openwsn/contrib/openwsn.c
Owners: none

sys/net: add mac and sap headers
  sys/include/net/mac.h
  sys/include/net/mac/sap.h
Owners: none

pkg/openwsn: allow using only mac layer
  pkg/openwsn/Makefile
  pkg/openwsn/Makefile.dep
  pkg/openwsn/Makefile.include
  pkg/openwsn/contrib/Makefile
  pkg/openwsn/contrib/icmpv6rpl.c
  pkg/openwsn/include/sap_types.h
  pkg/openwsn/sap/Makefile
  pkg/openwsn/sap/openwsn_mcps.c
  pkg/openwsn/sap/openwsn_mlme.c
  pkg/openwsn/sap/opewns_mac.c
  sys/shell/commands/sc_openwsn.c
  sys/shell/commands/shell_commands.c
  tests/pkg_openwsn/Makefile
  tests/pkg_openwsn/udp.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

tests/pkg_openwsn_mac: intial import
  tests/pkg_openwsn_mac/Makefile
  tests/pkg_openwsn_mac/README.md
  tests/pkg_openwsn_mac/main.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

REMOVEME: temporalily use fork instead of patched upstream
  pkg/openwsn/Makefile
  pkg/openwsn/patches/0001-bsp-kernel-include-RIOT-OpenWSN-board-definitions.patch
  pkg/openwsn/patches/0002-drivers-common-openserial-rename-include-for-RIOT-Op.patch
  pkg/openwsn/patches/0003-openstack-02b-MAChigh-neighbors.c-expose-neighbors_v.patch
  pkg/openwsn/patches/0004-kernel-openos-scheduler-use-thread-flags-restore-irq.patch
  pkg/openwsn/patches/0005-bsp-boards-toolchain_defs.h-comment-out-conflict-ISR.patch
  pkg/openwsn/patches/0006-openstack-openstack-dont-init-idmanager.patch
  pkg/openwsn/patches/0007-openstack-openapps-add-debugging.patch
  pkg/openwsn/patches/0008-drivers-common-openserial-add-flag-to-echo-badcrc-fr.patch
  pkg/openwsn/patches/0009-inc-check_config-skip-checking-board-unused-in-RIOT.patch
Owners: none

REMOVEME: patch to get unique short addresss on iotlab-m3
  sys/include/net/eui_provider.h
Owners: none

cpu/lpc1768: Fix uart initialization
  boards/mbed_lpc1768/include/periph_conf.h
  boards/seeeduino_arch-pro/include/periph_conf.h
  cpu/lpc1768/include/periph_cpu.h
  cpu/lpc1768/periph/uart.c
Owners: @MrKevinWeiss

mtd: fix return in mtd_erase()
  drivers/mtd/mtd.c
Owners: none

cpu/saml1x: fix RTT issue in init process
  cpu/saml1x/cpu.c
Owners: @dylad

nrf802154: register with netdev
  cpu/nrf52/radio/nrf802154/nrf802154.c
  drivers/include/net/netdev.h
Owners: @bergzand, @SemjonKerner, @jia200x

pkg/openwsn: bump version
  pkg/openwsn/Makefile
  pkg/openwsn/patches/0001-bsp-kernel-include-RIOT-OpenWSN-board-definitions.patch
  pkg/openwsn/patches/0002-drivers-common-openserial-rename-include-for-RIOT-Op.patch
  pkg/openwsn/patches/0003-openstack-02b-MAChigh-neighbors.c-expose-neighbors_v.patch
  pkg/openwsn/patches/0004-kernel-openos-scheduler-use-thread-flags-restore-irq.patch
  pkg/openwsn/patches/0005-bsp-boards-toolchain_defs.h-comment-out-conflict-ISR.patch
  pkg/openwsn/patches/0006-openstack-openstack-dont-init-idmanager.patch
  pkg/openwsn/patches/0007-openstack-openapps-add-debugging.patch
  pkg/openwsn/patches/0008-drivers-common-openserial-add-flag-to-echo-badcrc-fr.patch
  pkg/openwsn/patches/0009-inc-check_config-skip-checking-board-unused-in-RIOT.patch
  pkg/openwsn/patches/0010-openwsn-fw-add-ifndef-guards-for-configurable-parame.patch
Owners: none

pkg/openwsn: add riot based openwsn scheduler
  pkg/openwsn/Makefile
  pkg/openwsn/Makefile.dep
  pkg/openwsn/Makefile.include
  pkg/openwsn/scheduler/Makefile
  pkg/openwsn/scheduler/scheduler.c
  pkg/openwsn/scheduler/scheduler_types.h
  sys/shell/commands/sc_openwsn.c
  tests/pkg_openwsn/Makefile
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

thread: Add THREAD_NAMES make flag
  Makefile.include
  core/Kconfig
  core/include/thread.h
  core/thread.c
  doc.txt
  sys/ps/ps.c
Owners: @leandrolanzieri, @jia200x, @cgundogan, @kaspar030

ieee802154_hal: remove misplaced note
  sys/include/net/ieee802154/radio.h
Owners: none

ieee802154_hal: add cap for register retention during off
  sys/include/net/ieee802154/radio.h
Owners: none

net/ieee802154.h: add IFS constants
  sys/include/net/ieee802154.h
Owners: none

nrf52840: add radio hal implementation
  cpu/nrf52/include/nrf802154.h
  cpu/nrf52/radio/nrf802154/Makefile
  cpu/nrf52/radio/nrf802154/nrf802154_radio.c
Owners: @aabadie, @haukepetersen, @bergzand, @SemjonKerner, @jia200x

CODEOWNERS:

## CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax

# Order is important; for each modified file, the last matching
# pattern takes the most precedence.

*.md                                        @jia200x

/.murdock                                   @kaspar030

/boards/common/esp*/                        @gschorcht
/boards/common/nrf*/                        @aabadie @haukepetersen
/boards/common/nucleo*/                     @aabadie
/boards/common/silabs/                      @basilfx
/boards/common/slwstk6000b/                 @basilfx
/boards/common/stm32/                       @aabadie @fjmolinas
/boards/esp*/                               @gschorcht @yegorich
/boards/hamilton/                           @Hyungsin
/boards/ikea-tradfri/                       @basilfx
/boards/lobaro-lorabox/                     @leandrolanzieri
/boards/nrf*/                               @aabadie @haukepetersen
/boards/nucleo*/                            @aabadie @fjmolinas
/boards/phynode-kw41z/                      @jia200x
/boards/sam*-xpro/                          @dylad
/boards/same54-xpro/                        @benpicco
/boards/sensebox_samd21/                    @leandrolanzieri @jia200x
/boards/slstk340*/                          @basilfx
/boards/sltb001a/                           @basilfx
/boards/slwstk6000b/                        @basilfx
/boards/sodaq-sara-aff/                     @leandrolanzieri
/boards/stk3*00/                            @basilfx
/boards/openmote*/                          @MrKevinWeiss
/boards/cc1352p-launchpad                   @luisan00

/core/                                      @kaspar030

/cpu/arm7_common/                           @kaspar030 @maribu
/cpu/atmega*/                               @kYc0o @roberthartung @maribu
/cpu/cc2538/                                @hexluthor @smlng @fjmolinas
/cpu/cc26x0/                                @hexluthor @smlng
/cpu/cc26x2_cc13x2/                         @hexluthor @smlng
/cpu/cc26xx_cc13xx/                         @hexluthor @smlng
/cpu/cortexm_common/                        @haukepetersen @thomaseichinger @DipSwitch
/cpu/efm32/                                 @basilfx
/cpu/esp*/                                  @gschorcht
/cpu/fe310/                                 @aabadie @kaspar030 @bergzand
/cpu/kinetis/                               @fjmolinas
/cpu/lpc2387/                               @benpicco @maribu
/cpu/mips*/                                 @kaspar030 @francois-berder
/cpu/msp430*/                               @kaspar030 @gschorcht
/cpu/nrf*/                                  @aabadie @haukepetersen
/cpu/nrf52/radio/nrf802154/                 @bergzand @SemjonKerner @jia200x
/cpu/sam0_common/                           @benpicco @dylad @keestux
/cpu/samd21/                                @dylad @biboc
/cpu/samd5x/                                @benpicco @dylad
/cpu/saml1x/                                @dylad
/cpu/saml21/                                @dylad
/cpu/stm32*/                                @aabadie @fjmolinas @DipSwitch @vincent-d
/cpu/*/periph/                              @MrKevinWeiss

/doc/                                       @aabadie @jia200x

/dist/tools/sliptty/                        @miri64
/dist/tools/dhcpv6-pd_ia/                   @miri64

/drivers/ad7746/                            @leandrolanzieri
/drivers/at24mac/                           @benpicco
/drivers/at86rf215/                         @benpicco
/drivers/at86rf2xx/                         @daniel-k @Hyungsin @jia200x @smlng @miri64
/drivers/bh1900nux/                         @wosym
/drivers/cc110x/                            @maribu
/drivers/cc1xxx_common/                     @maribu
/drivers/ccs811/                            @gschorcht
/drivers/enc28j60/                          @haukepetersen
/drivers/dcf77/                             @daexel
/drivers/dose/                              @jue89
/drivers/ds18/                              @leandrolanzieri
/drivers/itg320x/                           @gschorcht
/drivers/mrf24j40/                          @bergzand
/drivers/pca9685/                           @gschorcht
/drivers/sht3x/                             @gschorcht
/drivers/si70xx/                            @basilfx
/drivers/slipdev/                           @miri64
/drivers/sx127x/                            @aabadie @jia200x
/drivers/ws281x/                            @maribu
/drivers/xbee/                              @haukepetersen @miri64
/drivers/include/periph/                    @MrKevinWeiss
/drivers/periph_common/                     @MrKevinWeiss

/pkg/cryptoauthlib/                         @Einhornhool @PeterKietzmann
/pkg/lua/                                   @jcarrano
/pkg/lwip/                                  @miri64
/pkg/gecko_sdk/                             @basilfx
/pkg/lora-serialization/                    @leandrolanzieri
/pkg/micropython/                           @bergzand @kaspar030
/pkg/openthread/                            @Hyungsin @jia200x
/pkg/semtech-loramac/                       @aabadie @jia200x
/pkg/tinydtls/                              @rfuentess @leandrolanzieri
/pkg/u8g2/                                  @basilfx
/pkg/ucglib/                                @basilfx
/pkg/wakaama/                               @leandrolanzieri

/sys/clif/                                  @leandrolanzieri
/sys/event/                                 @kaspar030
/sys/evtimer/                               @kaspar030
/sys/fmt/                                   @kaspar030
/sys/net/application_layer/gcoap/           @haukepetersen @kb2ma
/sys/net/application_layer/nanocoap/        @kaspar030 @haukepetersen @kb2ma
/sys/net/netif/                             @miri64 @jia200x
/sys/net/gnrc/network_layer/                @miri64
/sys/net/gnrc/transport_layer/tcp/          @brummer-simon @miri64
/sys/net/gnrc/transport_layer/udp/          @miri64
/sys/net/gnrc/link_layer/lorawan/           @jia200x
/sys/net/gnrc/netif/                        @miri64 @jia200x
/sys/net/gnrc/routing/rpl/                  @cgundogan @emmanuelsearch
/sys/net/                                   @miri64 @haukepetersen @PeterKietzmann @cgundogan
/sys/pm_layered/                            @roberthartung @kaspar030
/sys/random/fortuna/                        @basilfx
/sys/riotboot/                              @kaspar030 @fjmolinas
/sys/suit                                   @kaspar030 @fjmolinas @bergzand
/sys/tsrb/                                  @kaspar030
/sys/usb/                                   @bergzand @dylad @aabadie
/sys/xtimer/                                @kaspar030 @MichelRottleuthner

/sys/include/ztimer.h                       @kaspar030 @bergzand
/sys/include/ztimer/                        @kaspar030 @bergzand
/sys/ztimer/                                @kaspar030 @bergzand

/tests/                                     @smlng @leandrolanzieri @aabadie @MichelRottleuthner @fjmolinas
/tests/candev/                              @wosym
/tests/gnrc*                                @miri64
/tests/lwip*                                @miri64
/tests/slip/                                @miri64
/tests/unittests                            @miri64
/tests/*/tests/*.py                         @miri64
/tests/cpu_efm32_features/                  @basilfx
/tests/periph*/                             @MrKevinWeiss

# KConfig maintainers will be notified about all KConfig changes
Kconfig                                     @leandrolanzieri @jia200x @cgundogan
pm.c                                        @roberthartung @kaspar030
