Repository RIOT-OS/RIOT, changes with the owners that CODEOWNERS names for each.
All owners: @jia200x, @kaspar030, @gschorcht, @aabadie, @haukepetersen, @basilfx, @fjmolinas, @yegorich, @Hyungsin, @leandrolanzieri, @dylad, @benpicco, @MrKevinWeiss, @luisan00, @maribu, @kYc0o, @roberthartung, @hexluthor, @smlng, @thomaseichinger, @DipSwitch, @bergzand, @francois-berder, @SemjonKerner, @keestux, @biboc, @vincent-d, @miri64, @daniel-k, @wosym, @daexel, @jue89, @Einhornhool, @PeterKietzmann, @jcarrano, @rfuentess, @kb2ma, @brummer-simon, @cgundogan, @emmanuelsearch, @MichelRottleuthner

CODEOWNERS:

## CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax

# Order is important; for each modified file, the last matching
# pattern takes the most precedence.

*.md                                        @jia200x

/.murdock                                   @kaspar030

/boards/common/esp*/                        @gschorcht
/boards/common/nrf*/                        @aabadie @haukepetersen
/boards/common/nucleo*/                     @aabadie
/boards/common/silabs/                      @basilfx
/boards/common/slwstk6000b/                 @basilfx
/boards/common/stm32/                       @aabadie @fjmolinas
/boards/esp*/                               @gschorcht @yegorich
/boards/hamilton/                           @Hyungsin
/boards/ikea-tradfri/                       @basilfx
/boards/lobaro-lorabox/                     @leandrolanzieri
/boards/nrf*/                               @aabadie @haukepetersen
/boards/nucleo*/                            @aabadie @fjmolinas
/boards/phynode-kw41z/                      @jia200x
/boards/sam*-xpro/                          @dylad
/boards/same54-xpro/                        @benpicco
/boards/sensebox_samd21/                    @leandrolanzieri @jia200x
/boards/slstk340*/                          @basilfx
/boards/sltb001a/                           @basilfx
/boards/slwstk6000b/                        @basilfx
/boards/sodaq-sara-aff/                     @leandrolanzieri
/boards/stk3*00/                            @basilfx
/boards/openmote*/                          @MrKevinWeiss
/boards/cc1352p-launchpad                   @luisan00

/core/                                      @kaspar030

/cpu/arm7_common/                           @kaspar030 @maribu
/cpu/atmega*/                               @kYc0o @roberthartung @maribu
/cpu/cc2538/                                @hexluthor @smlng @fjmolinas
/cpu/cc26x0/                                @hexluthor @smlng
/cpu/cc26x2_cc13x2/                         @hexluthor @smlng
/cpu/cc26xx_cc13xx/                         @hexluthor @smlng
/cpu/cortexm_common/                        @haukepetersen @thomaseichinger @DipSwitch
/cpu/efm32/                                 @basilfx
/cpu/esp*/                                  @gschorcht
/cpu/fe310/                                 @aabadie @kaspar030 @bergzand
/cpu/kinetis/                               @fjmolinas
/cpu/lpc2387/                               @benpicco @maribu
/cpu/mips*/                                 @kaspar030 @francois-berder
/cpu/msp430*/                               @kaspar030 @gschorcht
/cpu/nrf*/                                  @aabadie @haukepetersen
/cpu/nrf52/radio/nrf802154/                 @bergzand @SemjonKerner @jia200x
/cpu/sam0_common/                           @benpicco @dylad @keestux
/cpu/samd21/                                @dylad @biboc
/cpu/samd5x/                                @benpicco @dylad
/cpu/saml1x/                                @dylad
/cpu/saml21/                                @dylad
/cpu/stm32*/                                @aabadie @fjmolinas @DipSwitch @vincent-d
/cpu/*/periph/                              @MrKevinWeiss

/doc/                                       @aabadie @jia200x

/dist/tools/sliptty/                        @miri64
/dist/tools/dhcpv6-pd_ia/                   @miri64

/drivers/ad7746/                            @leandrolanzieri
/drivers/at24mac/                           @benpicco
/drivers/at86rf215/                         @benpicco
/drivers/at86rf2xx/                         @daniel-k @Hyungsin @jia200x @smlng @miri64
/drivers/bh1900nux/                         @wosym
/drivers/cc110x/                            @maribu
/drivers/cc1xxx_common/                     @maribu
/drivers/ccs811/                            @gschorcht
/drivers/enc28j60/                          @haukepetersen
/drivers/dcf77/                             @daexel
/drivers/dose/                              @jue89
/drivers/ds18/                              @leandrolanzieri
/drivers/itg320x/                           @gschorcht
/drivers/mrf24j40/                          @bergzand
/drivers/pca9685/                           @gschorcht
/drivers/sht3x/                             @gschorcht
/drivers/si70xx/                            @basilfx
/drivers/slipdev/                           @miri64
/drivers/sx127x/                            @aabadie @jia200x
/drivers/ws281x/                            @maribu
/drivers/xbee/                              @haukepetersen @miri64
/drivers/include/periph/                    @MrKevinWeiss
/drivers/periph_common/                     @MrKevinWeiss

/pkg/cryptoauthlib/                         @Einhornhool @PeterKietzmann
/pkg/lua/                                   @jcarrano
/pkg/lwip/                                  @miri64
/pkg/gecko_sdk/                             @basilfx
/pkg/lora-serialization/                    @leandrolanzieri
/pkg/micropython/                           @bergzand @kaspar030
/pkg/openthread/                            @Hyungsin @jia200x
/pkg/semtech-loramac/                       @aabadie @jia200x
/pkg/tinydtls/                              @rfuentess @leandrolanzieri
/pkg/u8g2/                                  @basilfx
/pkg/ucglib/                                @basilfx
/pkg/wakaama/                               @leandrolanzieri

/sys/clif/                                  @leandrolanzieri
/sys/event/                                 @kaspar030
/sys/evtimer/                               @kaspar030
/sys/fmt/                                   @kaspar030
/sys/net/application_layer/gcoap/           @haukepetersen @kb2ma
/sys/net/application_layer/nanocoap/        @kaspar030 @haukepetersen @kb2ma
/sys/net/netif/                             @miri64 @jia200x
/sys/net/gnrc/network_layer/                @miri64
/sys/net/gnrc/transport_layer/tcp/          @brummer-simon @miri64
/sys/net/gnrc/transport_layer/udp/          @miri64
/sys/net/gnrc/link_layer/lorawan/           @jia200x
/sys/net/gnrc/netif/                        @miri64 @jia200x
/sys/net/gnrc/routing/rpl/                  @cgundogan @emmanuelsearch
/sys/net/                                   @miri64 @haukepetersen @PeterKietzmann @cgundogan
/sys/pm_layered/                            @roberthartung @kaspar030
/sys/random/fortuna/                        @basilfx
/sys/riotboot/                              @kaspar030 @fjmolinas
/sys/suit                                   @kaspar030 @fjmolinas @bergzand
/sys/tsrb/                                  @kaspar030
/sys/usb/                                   @bergzand @dylad @aabadie
/sys/xtimer/                                @kaspar030 @MichelRottleuthner

/sys/include/ztimer.h                       @kaspar030 @bergzand
/sys/include/ztimer/                        @kaspar030 @bergzand
/sys/ztimer/                                @kaspar030 @bergzand

/tests/                                     @smlng @leandrolanzieri @aabadie @MichelRottleuthner @fjmolinas
/tests/candev/                              @wosym
/tests/gnrc*                                @miri64
/tests/lwip*                                @miri64
/tests/slip/                                @miri64
/tests/unittests                            @miri64
/tests/*/tests/*.py                         @miri64
/tests/cpu_efm32_features/                  @basilfx
/tests/periph*/                             @MrKevinWeiss

# KConfig maintainers will be notified about all KConfig changes
Kconfig                                     @leandrolanzieri @jia200x @cgundogan
pm.c                                        @roberthartung @kaspar030

makefiles: initial commit for docker/% targets
  makefiles/docker/dockertargets.inc.mk
Owners: none

makefiles: initial commit for docker/% targets
  makefiles/docker.inc.mk
Owners: none

examples/gnrc_minimal: use picolibc
  examples/gnrc_minimal/Makefile
Owners: none

picolibc: model as a feature
  cpu/arm7_common/Kconfig
  cpu/arm7_common/Makefile.dep
  cpu/arm7_common/Makefile.features
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.dep
  cpu/cortexm_common/Makefile.features
  cpu/fe310/Kconfig
  cpu/fe310/Makefile.dep
  cpu/fe310/Makefile.features
  kconfigs/Kconfig.features
Owners: @leandrolanzieri, @jia200x, @cgundogan, @kaspar030, @maribu, @haukepetersen, @thomaseichinger, @DipSwitch, @aabadie, @bergzand

fixup! makefiles: initial commit for docker/% targets
  makefiles/docker/dockertargets.inc.mk
Owners: none

boards/hifive1: change clock Kconfig parameter to always have a value
  boards/hifive1/Kconfig
Owners: @leandrolanzieri, @jia200x, @cgundogan

boards/hifive1b: change clock Kconfig parameter to always have a value
  boards/hifive1b/Kconfig
Owners: @leandrolanzieri, @jia200x, @cgundogan

examples/gnrc_minimal: don't use picolibc with LLVM
  examples/gnrc_minimal/Makefile
Owners: none

drivers/at86rf2xx: fix at86rf2xx_set_rxsensitivity
  drivers/at86rf2xx/at86rf2xx_getset.c
  drivers/include/at86rf2xx.h
Owners: @daniel-k, @Hyungsin, @jia200x, @smlng, @miri64

drivers/apds99xx: Fix includes
  drivers/apds99xx/apds99xx.c
  tests/driver_apds99xx_full/main.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

tests/periph_timer: fix typo for boards using 250kHz timer
  tests/periph_timer/Makefile
Owners: @MrKevinWeiss

sys/net/gnrc: Fix include of xtimer.h
  sys/net/gnrc/netif/gnrc_netif.c
  sys/net/gnrc/netreg/gnrc_netreg.c
Owners: @miri64, @haukepetersen, @PeterKietzmann, @cgundogan

tests/xtimer_mutex_lock_timeout: Fix compilation
  tests/xtimer_mutex_lock_timeout/main.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

tests/xtimer_rmutex_lock_timeout: Fix compilation
  tests/xtimer_rmutex_lock_timeout/main.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

tests/periph_timer_short_relative_set: Don't include xtimer.h
  tests/periph_timer_short_relative_set/main.c
Owners: @MrKevinWeiss

tests/periph_timer_periodic: Don't include xtimer.h
  tests/periph_timer_periodic/main.c
Owners: @MrKevinWeiss

gnrc_schc
  Makefile.dep
  examples/gnrc_schc/Makefile
  examples/gnrc_schc/README.md
  examples/gnrc_schc/main.c
  examples/gnrc_schc/udp.c
  examples/gnrc_schc_lorawan/Makefile
  examples/gnrc_schc_lorawan/Makefile.ci
  examples/gnrc_schc_lorawan/README.md
  examples/gnrc_schc_lorawan/main.c
  examples/gnrc_schc_lorawan/udp.c
  pkg/libschc/Makefile
  pkg/libschc/Makefile.include
  pkg/libschc/include/rules/rule_config.h
  pkg/libschc/include/rules/rules.h
  pkg/libschc/include/schc_config.h
  sys/auto_init/auto_init.c
  sys/include/net/ethertype.h
  sys/include/net/gnrc/lorawan.h
  sys/include/net/gnrc/nettype.h
  sys/include/net/gnrc/schc.h
  sys/include/net/gnrc/schc/config.h
  sys/net/gnrc/Makefile
  sys/net/gnrc/network_layer/schc/Kconfig
  sys/net/gnrc/network_layer/schc/Makefile
  sys/net/gnrc/network_layer/schc/gnrc_schc.c
Owners: @jia200x, @miri64, @haukepetersen, @PeterKietzmann, @cgundogan, @leandrolanzieri

gnrc schc readme
  examples/gnrc_schc/README.md
  examples/gnrc_schc_lorawan/Makefile
  examples/gnrc_schc_lorawan/README.md
Owners: @jia200x

tests/evtimer_msg: require xtimer explicitly
  tests/evtimer_msg/Makefile
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

tests/evtimer_msg: use evtimer_now_msec() to get current time
  tests/evtimer_msg/main.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

cpu/sam0_common: implement RTC tamper detection
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/rtc_rtt.c
Owners: @benpicco, @dylad, @keestux, @MrKevinWeiss

cpu/sam0_common: GPIO: use tamper detection to wake from Deep Sleep
  cpu/sam0_common/periph/gpio.c
  cpu/samd5x/Kconfig
  cpu/samd5x/Makefile.dep
  cpu/samd5x/Makefile.features
  cpu/samd5x/include/periph_cpu.h
  cpu/saml1x/include/periph_cpu.h
  drivers/periph_common/init.c
  kconfigs/Kconfig.features
Owners: @MrKevinWeiss, @leandrolanzieri, @jia200x, @cgundogan, @benpicco, @dylad

tests/periph_gpio: enable tamper wake
  tests/periph_gpio/Makefile
Owners: @MrKevinWeiss

cpu/stm32: use correct cmsis header for stm32f103xe
  cpu/stm32/include/vendor/stm32f103xe.h
Owners: @aabadie, @fjmolinas, @DipSwitch, @vincent-d

doc/memos: Add RDM on a unified low-level timer-API
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/api-architecture-overview.png
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/hw-driver-function-reuse.png
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/hw-driver-reuse.png
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-espressif-esp32.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-espressif-esp8266.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-microchip-megaavr.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-microchip-pic32mx-mz.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-microchip-sam3.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-microchip-samd21.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-nordicsemi-nrf51x-52x.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-nxp-kinetis.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-nxp-lpc176x-5x.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-nxp-lpc2387.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-sifive-fe310-gx.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-silabs-efm32-efr32.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-silabs-ezr32.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-stm32.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-ti-cc13x2-cc26x2.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-ti-cc2538.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-ti-cc430.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-ti-lm4f120.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/tcm-ti-msp430.svg
  doc/memos/files/rdm-draft-ngandrass-low-level-timer-api/virtual-timer-drivers.png
  doc/memos/rdm-draft-ngandrass-low-level-timer-api.md
Owners: @aabadie, @jia200x

sys/usb/usbus/cdc_ecm_netdev: fix _recv() return values
  sys/usb/usbus/cdc/ecm/cdc_ecm_netdev.c
Owners: @bergzand, @dylad, @aabadie

Update doc/memos/rdm-draft-buschsieweke-timer-api.md
  doc/memos/rdm-draft-buschsieweke-timer-api.md
Owners: @aabadie, @jia200x

Apply suggestions from code review
  doc/memos/rdm-draft-buschsieweke-timer-api.md
Owners: @aabadie, @jia200x

fixup! doc/memos: Added draft RDM on high level timer API
  doc/memos/rdm-draft-buschsieweke-timer-api.md
Owners: @aabadie, @jia200x
