Repository RIOT-OS/RIOT, changes with the owners that CODEOWNERS names for each.
All owners: @jia200x, @kaspar030, @gschorcht, @aabadie, @haukepetersen, @basilfx, @fjmolinas, @yegorich, @Hyungsin, @leandrolanzieri, @dylad, @benpicco, @MrKevinWeiss, @luisan00, @maribu, @kYc0o, @roberthartung, @hexluthor, @smlng, @thomaseichinger, @DipSwitch, @bergzand, @francois-berder, @SemjonKerner, @keestux, @biboc, @vincent-d, @miri64, @daniel-k, @wosym, @daexel, @jue89, @Einhornhool, @PeterKietzmann, @jcarrano, @rfuentess, @kb2ma, @brummer-simon, @cgundogan, @emmanuelsearch, @MichelRottleuthner

CODEOWNERS:

## CODEOWNERS for autoreview assigning in github

# https://help.github.com/en/articles/about-code-owners#codeowners-syntax

# Order is important; for each modified file, the last matching
# pattern takes the most precedence.

*.md                                        @jia200x

/.murdock                                   @kaspar030

/boards/common/esp*/                        @gschorcht
/boards/common/nrf*/                        @aabadie @haukepetersen
/boards/common/nucleo*/                     @aabadie
/boards/common/silabs/                      @basilfx
/boards/common/slwstk6000b/                 @basilfx
/boards/common/stm32/                       @aabadie @fjmolinas
/boards/esp*/                               @gschorcht @yegorich
/boards/hamilton/                           @Hyungsin
/boards/ikea-tradfri/                       @basilfx
/boards/lobaro-lorabox/                     @leandrolanzieri
/boards/nrf*/                               @aabadie @haukepetersen
/boards/nucleo*/                            @aabadie @fjmolinas
/boards/phynode-kw41z/                      @jia200x
/boards/sam*-xpro/                          @dylad
/boards/same54-xpro/                        @benpicco
/boards/sensebox_samd21/                    @leandrolanzieri @jia200x
/boards/slstk340*/                          @basilfx
/boards/sltb001a/                           @basilfx
/boards/slwstk6000b/                        @basilfx
/boards/sodaq-sara-aff/                     @leandrolanzieri
/boards/stk3*00/                            @basilfx
/boards/openmote*/                          @MrKevinWeiss
/boards/cc1352p-launchpad                   @luisan00

/core/                                      @kaspar030

/cpu/arm7_common/                           @kaspar030 @maribu
/cpu/atmega*/                               @kYc0o @roberthartung @maribu
/cpu/cc2538/                                @hexluthor @smlng @fjmolinas
/cpu/cc26x0/                                @hexluthor @smlng
/cpu/cc26x2_cc13x2/                         @hexluthor @smlng
/cpu/cc26xx_cc13xx/                         @hexluthor @smlng
/cpu/cortexm_common/                        @haukepetersen @thomaseichinger @DipSwitch
/cpu/efm32/                                 @basilfx
/cpu/esp*/                                  @gschorcht
/cpu/fe310/                                 @aabadie @kaspar030 @bergzand
/cpu/kinetis/                               @fjmolinas
/cpu/lpc2387/                               @benpicco @maribu
/cpu/mips*/                                 @kaspar030 @francois-berder
/cpu/msp430*/                               @kaspar030 @gschorcht
/cpu/nrf*/                                  @aabadie @haukepetersen
/cpu/nrf52/radio/nrf802154/                 @bergzand @SemjonKerner @jia200x
/cpu/sam0_common/                           @benpicco @dylad @keestux
/cpu/samd21/                                @dylad @biboc
/cpu/samd5x/                                @benpicco @dylad
/cpu/saml1x/                                @dylad
/cpu/saml21/                                @dylad
/cpu/stm32*/                                @aabadie @fjmolinas @DipSwitch @vincent-d
/cpu/*/periph/                              @MrKevinWeiss

/doc/                                       @aabadie @jia200x

/dist/tools/sliptty/                        @miri64
/dist/tools/dhcpv6-pd_ia/                   @miri64

/drivers/ad7746/                            @leandrolanzieri
/drivers/at24mac/                           @benpicco
/drivers/at86rf215/                         @benpicco
/drivers/at86rf2xx/                         @daniel-k @Hyungsin @jia200x @smlng @miri64
/drivers/bh1900nux/                         @wosym
/drivers/cc110x/                            @maribu
/drivers/cc1xxx_common/                     @maribu
/drivers/ccs811/                            @gschorcht
/drivers/enc28j60/                          @haukepetersen
/drivers/dcf77/                             @daexel
/drivers/dose/                              @jue89
/drivers/ds18/                              @leandrolanzieri
/drivers/itg320x/                           @gschorcht
/drivers/mrf24j40/                          @bergzand
/drivers/pca9685/                           @gschorcht
/drivers/sht3x/                             @gschorcht
/drivers/si70xx/                            @basilfx
/drivers/slipdev/                           @miri64
/drivers/sx127x/                            @aabadie @jia200x
/drivers/ws281x/                            @maribu
/drivers/xbee/                              @haukepetersen @miri64
/drivers/include/periph/                    @MrKevinWeiss
/drivers/periph_common/                     @MrKevinWeiss

/pkg/cryptoauthlib/                         @Einhornhool @PeterKietzmann
/pkg/lua/                                   @jcarrano
/pkg/lwip/                                  @miri64
/pkg/gecko_sdk/                             @basilfx
/pkg/lora-serialization/                    @leandrolanzieri
/pkg/micropython/                           @bergzand @kaspar030
/pkg/openthread/                            @Hyungsin @jia200x
/pkg/semtech-loramac/                       @aabadie @jia200x
/pkg/tinydtls/                              @rfuentess @leandrolanzieri
/pkg/u8g2/                                  @basilfx
/pkg/ucglib/                                @basilfx
/pkg/wakaama/                               @leandrolanzieri

/sys/clif/                                  @leandrolanzieri
/sys/event/                                 @kaspar030
/sys/evtimer/                               @kaspar030
/sys/fmt/                                   @kaspar030
/sys/net/application_layer/gcoap/           @haukepetersen @kb2ma
/sys/net/application_layer/nanocoap/        @kaspar030 @haukepetersen @kb2ma
/sys/net/netif/                             @miri64 @jia200x
/sys/net/gnrc/network_layer/                @miri64
/sys/net/gnrc/transport_layer/tcp/          @brummer-simon @miri64
/sys/net/gnrc/transport_layer/udp/          @miri64
/sys/net/gnrc/link_layer/lorawan/           @jia200x
/sys/net/gnrc/netif/                        @miri64 @jia200x
/sys/net/gnrc/routing/rpl/                  @cgundogan @emmanuelsearch
/sys/net/                                   @miri64 @haukepetersen @PeterKietzmann @cgundogan
/sys/pm_layered/                            @roberthartung @kaspar030
/sys/random/fortuna/                        @basilfx
/sys/riotboot/                              @kaspar030 @fjmolinas
/sys/suit                                   @kaspar030 @fjmolinas @bergzand
/sys/tsrb/                                  @kaspar030
/sys/usb/                                   @bergzand @dylad @aabadie
/sys/xtimer/                                @kaspar030 @MichelRottleuthner

/sys/include/ztimer.h                       @kaspar030 @bergzand
/sys/include/ztimer/                        @kaspar030 @bergzand
/sys/ztimer/                                @kaspar030 @bergzand

/tests/                                     @smlng @leandrolanzieri @aabadie @MichelRottleuthner @fjmolinas
/tests/candev/                              @wosym
/tests/gnrc*                                @miri64
/tests/lwip*                                @miri64
/tests/slip/                                @miri64
/tests/unittests                            @miri64
/tests/*/tests/*.py                         @miri64
/tests/cpu_efm32_features/                  @basilfx
/tests/periph*/                             @MrKevinWeiss

# KConfig maintainers will be notified about all KConfig changes
Kconfig                                     @leandrolanzieri @jia200x @cgundogan
pm.c                                        @roberthartung @kaspar030

tests/ieee802154_hal: add nrf802154
  tests/ieee802154_hal/Makefile
  tests/ieee802154_hal/init_devs.c
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

tests/ieee802154_hal: use netdev_default
  tests/ieee802154_hal/Makefile
Owners: @smlng, @leandrolanzieri, @aabadie, @MichelRottleuthner, @fjmolinas

cortexm_common: Determine next thread before unscheduling
  cpu/cortexm_common/thread_arch.c
Owners: @haukepetersen, @thomaseichinger, @DipSwitch

cpu/sam0_common: PWM: add support to run PWM off TC timers
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/pwm.c
Owners: @benpicco, @dylad, @keestux, @MrKevinWeiss

boards/common/saml1x: enable PWM
  boards/common/saml1x/Kconfig
  boards/common/saml1x/Makefile.features
  boards/common/saml1x/include/periph_conf.h
Owners: @leandrolanzieri, @jia200x, @cgundogan

sam0_common: Use Single-cycle I/O Port for GPIO when available
  cpu/sam0_common/include/periph_cpu_common.h
  cpu/sam0_common/periph/gpio.c
Owners: @benpicco, @dylad, @keestux, @MrKevinWeiss

sam0: Add periph_gpio_fast_read feature where applicable
  cpu/samd21/Kconfig
  cpu/samd21/Makefile.features
  cpu/saml1x/Kconfig
  cpu/saml1x/Makefile.features
  cpu/saml21/Kconfig
  cpu/saml21/Makefile.features
  kconfigs/Kconfig.features
Owners: @leandrolanzieri, @jia200x, @cgundogan, @dylad, @biboc

tests/periph_gpio: Add fast_read feature as optional dependency
  tests/periph_gpio/Makefile
Owners: @MrKevinWeiss

ztimer: use uint32_t in ztimer_periodic_wakeup
  sys/ztimer/util.c
Owners: @kaspar030, @bergzand

ztimer: add ztimer_spin()
  sys/include/ztimer.h
Owners: @kaspar030, @bergzand

drivers/soft_spi:add read byte function, clean code
  drivers/include/soft_spi.h
  drivers/soft_spi/include/soft_spi_params.h
  drivers/soft_spi/soft_spi.c
Owners: none

driver/soft_spi:clean code
  drivers/soft_spi/soft_spi.c
Owners: none

usbdev_mock: fix possible null pointer dereference
  drivers/usbdev_mock/usbdev_mock.c
Owners: none

sys/pipe/pipe_dynamic: fix possible null pointer dereference
  sys/pipe/pipe_dynamic.c
Owners: none

Apply suggestions from code review
  doc/memos/rdm-draft-buschsieweke-timer-api.md
Owners: @aabadie, @jia200x

Update doc/memos/rdm-draft-buschsieweke-timer-api.md
  doc/memos/rdm-draft-buschsieweke-timer-api.md
Owners: @aabadie, @jia200x

pipe_dynamic: Guard against accidental NULL ptr dereference
  sys/pipe/pipe_dynamic.c
Owners: none

Update doc/memos/rdm-draft-buschsieweke-timer-api.md
  doc/memos/rdm-draft-buschsieweke-timer-api.md
Owners: @aabadie, @jia200x

sys/luid: shuffle bytes
  sys/luid/luid.c
Owners: none

cc2538_rf: register with netdev
  cpu/cc2538/radio/cc2538_rf.c
  drivers/include/net/netdev.h
Owners: @hexluthor, @smlng, @fjmolinas

cc2538_rf: pass address via pointer
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf_getset.c
  cpu/cc2538/radio/cc2538_rf_netdev.c
Owners: @hexluthor, @smlng, @fjmolinas

cc2538_rf: add EUI provoder for primary EUI-64
  cpu/cc2538/include/cc2538_eui_primary.h
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf_getset.c
Owners: @hexluthor, @smlng, @fjmolinas

cc2538_rf: use prefix for global function name
  cpu/cc2538/include/cc2538_rf.h
  cpu/cc2538/radio/cc2538_rf_internal.c
  cpu/cc2538/radio/cc2538_rf_netdev.c
  cpu/cc2538/radio/cc2538_rf_radio_ops.c
Owners: @hexluthor, @smlng, @fjmolinas

boards: include cc2538_eui_primary.h in cc2538 boards
  boards/cc2538dk/include/board.h
  boards/common/remote/include/board_common.h
  boards/omote/include/board.h
  boards/openmote-b/include/board.h
  boards/openmote-cc2538/include/board.h
Owners: @MrKevinWeiss

cpu/cortexm_common: advertise puf_sram feature
  cpu/cc2538/Kconfig
  cpu/cc2538/Makefile.features
  cpu/cortexm_common/Kconfig
  cpu/cortexm_common/Makefile.features
  cpu/nrf5x_common/Kconfig
  cpu/nrf5x_common/Makefile.features
  cpu/samd21/Kconfig
  cpu/samd21/Makefile.features
  cpu/stm32/Kconfig
  cpu/stm32/Makefile.features
Owners: @leandrolanzieri, @jia200x, @cgundogan, @hexluthor, @smlng, @fjmolinas, @haukepetersen, @thomaseichinger, @DipSwitch, @aabadie, @dylad, @biboc, @vincent-d

README: replace StackOverflow badge
  README.md
Owners: @jia200x

drivers/periph/timer: amend documentation for timer_set_periodic()
  drivers/include/periph/timer.h
Owners: @MrKevinWeiss

fixup! driver: misc small fixes
  drivers/onewire/onewire.c
  drivers/onewire/onewire_str.c
Owners: none

doc/memo: Link to RDMs in development
  doc/memos/README.md
Owners: @aabadie, @jia200x

fixup! finish inlining of onewire_print_rom
  drivers/include/onewire.h
  drivers/onewire/onewire_str.c
Owners: none

sys/ztimer: fix auto_init doc
  sys/ztimer/auto_init.c
Owners: @kaspar030, @bergzand

Makefile.include: intial features check before dependency resolution
  Makefile.include
Owners: none

makefiles/info-global.inc.mk: add initial default modules inclusion
  makefiles/info-global.inc.mk
Owners: none

build system: use riscv-none-elf as triplet
  dist/tools/ci/print_toolchain_versions.sh
  makefiles/arch/riscv.inc.mk
Owners: none

ipv6: Declare unsigned long long literal
  sys/include/net/ipv6/addr.h
Owners: none

sys/posix/pthread/pthread.c: Copyright
  sys/posix/pthread/pthread.c
Owners: none

sys/posix/pthread/include/pthread_threading.h: pthread_t
  sys/posix/pthread/include/pthread_threading.h
Owners: none

sys/posix/pthread/pthread.c: Debug msgs, renames, cleanup
  sys/posix/pthread/pthread.c
Owners: none

driver/at86rf2xx: fix asserts in _set func
  drivers/at86rf2xx/at86rf2xx_netdev.c
Owners: @daniel-k, @Hyungsin, @jia200x, @smlng, @miri64

cpu/nrf52: Remove unused static inline USB poweroff
  cpu/nrf52/periph/usbdev.c
Owners: @MrKevinWeiss
